<template>
  <div>
    <div class="title">Cache</div>

    <div class="subtitle">Métricas</div>

    <tabla>
      <thead>
        <th>Concepto</th>
        <th>Cantidad</th>
      </thead>
      <tbody>
        <tr>
          <td>Ratio</td>
          <td align="right">
            {{ ratio | enPorcentaje }}
          </td>
        </tr>
        <tr>
          <td>Hits</td>
          <td align="right">{{ metrics.Hits }}</td>
        </tr>
        <tr>
          <td>Misses</td>
          <td align="right">{{ metrics.Misses }}</td>
        </tr>
        <tr>
          <td>Keys updated</td>
          <td align="right">{{ metrics.KeysUpdated }}</td>
        </tr>
        <tr>
          <td>Keys evicted</td>
          <td align="right">{{ metrics.KeysEvicted }}</td>
        </tr>
        <tr>
          <td>Cost added</td>
          <td align="right">{{ metrics.CostAdded }}</td>
        </tr>
        <tr>
          <td>Cost evicted</td>
          <td align="right">{{ metrics.CostEvicted }}</td>
        </tr>
        <tr>
          <td>Sets dropped</td>
          <td align="right">{{ metrics.SetsDropped }}</td>
        </tr>
        <tr>
          <td>Sets rejected</td>
          <td align="right">{{ metrics.SetsRejected }}</td>
        </tr>
        <tr>
          <td>Gets dropped</td>
          <td align="right">{{ metrics.GetsDropped }}</td>
        </tr>
        <tr>
          <td>Gets kept</td>
          <td align="right">{{ metrics.GetsKept }}</td>
        </tr>
      </tbody>
    </tabla>
    <b-button class="is-primary" @click="actualizar()">Actualizar</b-button>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import axios from "axios";
import eventBus from "@/eventBus";

export default Vue.extend({
  data() {
    return {
      metrics: {
        Hits: 0,
        Misses: 0,
        KeysAdded: 0,
        KeysUpdated: 0,
        KeysEvicted: 0,
        CostAdded: 0,
        CostEvicted: 0,
        SetsDropped: 0,
        SetsRejected: 0,
        GetsDropped: 0,
        GetsKept: 0,
      },
    };
  },
  created() {
    document.title = "Cache";
    this.actualizar();
  },
  methods: {
    actualizar() {
      axios
        .post("/backend/cache/metrics")
        .then((res) => {
          this.metrics = res.data;
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        });
    },
  },
  computed: {
    ratio(): number {
      let hits = this.metrics.Hits;
      let misses = this.metrics.Misses;
      return hits / (hits + misses) / 100;
    },
  },
});
</script>
