<template>
  <div>
    <div class="titulo-de-pantalla">
      <h1>{{ titulo }}</h1>
    </div>

    <div>
      <div class="box columns">
        <!-- Empresa -->

        <b-field label="Empresa" class="column">
          <b-select v-model="minuta.Empresa" expanded>
            <option :value="null">Seleccione</option>
            <option v-for="e in empresas" v-bind:key="e.ID" :value="e.ID">
              {{ e.Nombre }}
            </option>
          </b-select>
        </b-field>

        <!-- Config -->
        <b-field label="Configuración" class="column">
          <b-select v-model="minuta.Config" expanded>
            <option :value="null">Seleccione</option>
            <option v-for="v in configs" :key="v.ID" :value="v.ID">
              {{ v.Nombre }}
            </option>
          </b-select>
        </b-field>

        <!-- Esquema -->
        <b-field label="Esquema" class="column">
          <b-select v-model="minuta.Esquema" expanded>
            <option :value="null">Seleccione</option>
            <option v-for="v in esquemas" :key="v.ID" :value="v.ID">
              {{ v.Nombre }}
            </option>
          </b-select>
        </b-field>
      </div>

      <div class="box">
        <b-field grouped>
          <b-field label="Fecha">
            <b-input v-model="minuta.Fecha" type="date" />
          </b-field>

          <b-field label="Punto de venta">
            <p class="input">{{ minuta.PuntoDeVenta }}</p>
            <!-- <b-input type="number" v-model="minuta.PuntoDeVenta" disabled /> -->
          </b-field>

          <b-field label="Número comprobante">
            <p class="input">{{ minuta.NComp }}</p>
          </b-field>
        </b-field>
        <b-field label="Detalle de la minuta">
          <b-input type="textarea" v-model="minuta.Detalle" rows="2"></b-input>
        </b-field>
      </div>
    </div>

    <div class="box">
      <div class="comp-header">
        <h1 class="grow">Partidas</h1>
        <puntitos>
          <ul>
            <li v-if="!esNuevo" @click="verAuditoria()">
              Auditoria del comprobante
            </li>
            <li v-if="!esNuevo" @click="edicion = true">Modificar</li>
            <li v-if="!esNuevo" @click="eliminar()">Eliminar</li>
          </ul>
        </puntitos>
      </div>
      <p v-if="noHayPartidas">No hay partidas cargadas</p>
      <tabla v-else>
        <col width="50px" />
        <col width="400px" />
        <col width="110px" />
        <col width="110px" />
        <col width="20px" />
        <thead>
          <th>Item</th>
          <th>Especificación</th>
          <th class="colmoney">Debe</th>
          <th class="colmoney">Haber</th>
          <th>Detalle</th>
        </thead>
        <tbody>
          <tr
            v-for="(p, i) in minuta.Partidas"
            :key="p.ID"
            @click="editarPartida(p)"
          >
            <td>{{ i + 1 }}</td>
            <td>
              <div style="font-weight: bolder">
                {{ nombreCuenta(p.Cuenta) }} ({{ codigoCuenta(p.Cuenta) }})
              </div>
              <div v-if="p.Centro">Centro: {{ nombreCentro(p.Centro) }}</div>
              <div v-if="p.Caja">Caja: {{ nombreCaja(p.Caja) }}</div>
              <div v-if="p.Persona">
                Persona: {{ nombrePersona(p.Persona) }}
              </div>
              <div v-if="p.Sucursal">
                Sucursal: {{ nombreSucursal(p.Persona, p.Sucursal) }}
              </div>
              <div v-if="p.Moneda">{{ monedaString(p) }}</div>
            </td>
            <td align="right">{{ p.Debe | enPesos }}</td>
            <td align="right">{{ p.Haber | enPesos }}</td>
            <td>{{ p.Detalle }}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td align="right">Totales</td>
            <td align="right">{{ (totalDebe / 100) | enPesos }}</td>
            <td align="right">{{ (totalHaber / 100) | enPesos }}</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td align="right">
              <p v-if="totalDebe != totalHaber">Diferencia</p>
              <p v-else>Asiento balanceado</p>
            </td>
            <td>
              <p v-if="totalDebe > totalHaber">
                {{ ((totalDebe - totalHaber) / 100) | enPesos }}
              </p>
            </td>
            <td>
              <p v-if="totalDebe < totalHaber">
                {{ ((totalHaber - totalDebe) / 100) | enPesos }}
              </p>
            </td>
            <td></td>
          </tr>
        </tfoot>
      </tabla>
      <div>
        <b-button v-if="edicion" @click="agregarPartida()" ref="agregarpartida"
          >Agregar partida</b-button
        >
      </div>
    </div>

    <div v-if="edicion">
      <b-button class="is-primary" @click="guardarCambios()">Guardar</b-button>
      <b-button class="btn-cancelar" @click="cancelarEdicion()"
        >Cancelar</b-button
      >
    </div>

    <b-loading
      is-full-page
      :active="cargando != 0"
      :can-cancel="true"
    ></b-loading>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import axios from "axios";
import eventBus from "@/eventBus";
import RenglonMinuta from "./RenglonMinuta.vue";
import PorComprobante from "@/modules/oplog/components/PorComprobante.vue";
import Puntitos from "@/components/widgets/Puntitos.vue";
import { Empresa } from "@/interfaces/empresas";
import { Config, Esquema, Minuta, Partida } from "@/interfaces/minuta";
import { Persona } from "@/modules/personas/personas";
import { hoy } from "@/modules/util/fechas";
import { format } from "date-fns";
import { Moneda } from "@/modules/monedas/monedas";
import { enPesos } from "@/modules/util/format";
import { v4 } from "uuid";
import { NavigationGuardNext } from "vue-router";

export default Vue.extend({
  components: {
    Puntitos,
  },
  data() {
    return {
      // minuta es la operación tal cual la pido de la base de datos.
      // las modificaciones las trabajo sobre los otros campos de acá
      minuta: {
        ID: null,
        Empresa: null,
        Config: null,
        Esquema: null,
        Comp: null,
        Fecha: null,
        PuntoDeVenta: null,
        NComp: null,
        Detalle: "",
        Partidas: [],
      } as Minuta,

      comp: null,
      cuentasMap: new Map(),
      suma: 0 as number,

      edicion: false,

      // Lookup de cuentas
      mostarCuentaLookup: false,
      partidaDeCuenta: null,

      // Lookup de personas
      mostarPersonaLookup: false,
      partidaDePersona: null,

      localBus: new Vue(),
      personas: new Map<String, Persona>(),
      cargando: 0 as number,
      personasPendientes: 0 as number,
      formSubmitting: false,
    };
  },
  beforeRouteLeave(to, from, next) {
    this.antesDeSalir(next);
  },
  beforeRouteUpdate(to, from, next) {
    this.antesDeSalir(next);
  },
  created() {
    this.hooks();
    if (this.esNuevo) {
      let emp = this.$store.getters["empresas/seleccionada"];
      if (emp) {
        this.minuta.Empresa = emp.ID;
      }
      this.minuta.Fecha = format(hoy(), "yyyy-MM-dd");
    }
    document.title = this.titulo;
  },
  mounted() {
    this.actualizar();
  },

  computed: {
    esNuevo(): boolean {
      if (this.$route.query.id) {
        return false;
      }
      return true;
    },
    titulo(): string {
      if (this.esNuevo) {
        return "Nueva minuta";
      } else {
        return "Modificar minuta";
      }
    },
    noHayPartidas(): boolean {
      if (!this.minuta) {
        return true;
      }
      if (!this.minuta.Partidas) {
        return true;
      }
      if (!this.minuta.Partidas.length) {
        return true;
      }
      return false;
    },
    bloquear(): boolean {
      if (!this.esNuevo) {
        return false;
      }
      if (this.formSubmitting) {
        return false;
      }
      if (this.minuta.Detalle) {
        return true;
      }
      if (this.minuta.Partidas && this.minuta.Partidas.length) {
        return true;
      }
      return false;
    },
    empresas(): Empresa[] {
      return this.$store.getters["empresas/permitidas"];
    },
    totalDebe(): number {
      let sum = 0;
      for (let v of this.minuta.Partidas) {
        if (v.Debe) {
          sum += Math.round(v.Debe * 100);
        }
      }
      return sum;
    },
    totalHaber(): number {
      let sum = 0;
      for (let v of this.minuta.Partidas) {
        if (v.Haber) {
          sum += Math.round(v.Haber * 100);
        }
      }
      return sum;
    },

    configs(): Config[] {
      if (!this.minuta.Empresa) {
        return [];
      }
      // Quito las minutas del sistema (refundición, cierre y apertura)
      const todas: Config[] = this.$store.getters["minuta/configPorEmpresa"](
        this.minuta.Empresa
      );
      if (!todas) {
        return [];
      }
      return todas;
    },
    // Una vez que elijo la empresa, me debe filtrar las operaciones
    // de la empresa seleccionada.
    // Una vez que se determina la transacción, debe mostrarme los
    // esquemas que utilizan esa transacción.
    esquemas(): Esquema[] {
      if (!this.minuta.Config) {
        return [];
      }
      console.log(
        "Esquemas por config",
        this.$store.getters["minuta/esquemasPorConfig"]
      );
      return this.$store.getters["minuta/esquemasPorConfig"](
        this.minuta.Config
      );
    },
  },
  methods: {
    actualizar() {
      if (this.esNuevo) {
        this.minuta.Fecha = format(hoy(), "yyyy-MM-dd");
        this.edicion = true;
      } else {
        this.cargando++;
        axios
          .post("/backend/minuta/", { ID: this.$route.query.id })
          .then((res) => {
            for (let v of res.data.Partidas) {
              v.ID = v4();
            }
            this.minuta = res.data;

            for (let v of this.minuta.Partidas) {
              if (v.Persona) {
                let anterior = this.personas.get(v.Persona);
                if (!anterior) {
                  this.traerPersonaBackend(v.Persona);
                }
              }
            }
          })
          .catch((err) => {
            eventBus.$emit("error", err);
          })
          .finally(() => {
            this.cargando--;
          });
      }
    },
    guardarCambios() {
      if (!this.minuta.Partidas.length) {
        this.validacionMsg("No se ingresó ninguna partida");
        return;
      }
      if (this.totalDebe != this.totalHaber) {
        this.validacionMsg("No coinciden el debe y el haber");
        return;
      }
      if (!this.minuta.Detalle) {
        this.validacionMsg("Debe ingresar un detalle para la minuta");
        return;
      }

      this.formSubmitting = true;

      if (this.esNuevo) {
        this.cargando++;
        // Create
        axios
          .post("/backend/minuta/create", this.minuta)
          .then((res) => {
            this.$buefy.toast.open({
              duration: 3000,
              message: "Minuta guardada",
              type: "is-success",
            });
            this.$router.push({ query: { id: res.data.ID } });
          })
          .catch((err) => {
            eventBus.$emit("error", err);
          })
          .finally(() => {
            this.formSubmitting = false;
            this.cargando--;
          });
      } else {
        // Update
        this.cargando++;
        axios
          .post("/backend/minuta/update", this.minuta)
          .then(() => {
            this.$buefy.toast.open({
              duration: 3000,
              message: "Minuta guardada",
              type: "is-success",
            });
            this.edicion = false;
          })
          .catch((err) => eventBus.$emit("error", err))
          .finally(() => {
            this.cargando--;
            this.formSubmitting = false;
          });
      }
    },
    eliminar() {
      this.$buefy.dialog.confirm({
        message: "¿Está seguro que desea borrar esta minuta?",
        confirmText: "Sí",
        cancelText: "Cancelar",
        type: "is-danger",
        hasIcon: true,
        onConfirm: () => {
          this.cargando += 1;
          axios
            .post("/backend/minuta/delete", {
              ID: this.minuta.ID,
            })
            .then(() => {
              this.cargando -= 1;
              this.$router.go(-1);
            })
            .catch((err) => {
              this.cargando -= 1;
              eventBus.$emit("error", err);
            });
        },
      });
    },
    verAuditoria() {
      this.$buefy.modal.open({
        parent: this,
        component: PorComprobante,
        hasModalCard: true,
        trapFocus: true,
        fullScreen: true,
        scroll: "clip",
        props: {
          compID: this.minuta.Comp,
          puntoDeVenta: String(this.minuta.PuntoDeVenta),
          nComp: String(this.minuta.NComp),
        },
      });
    },
    antesDeSalir(next: NavigationGuardNext<Vue>) {
      if (this.bloquear) {
        this.$buefy.dialog.confirm({
          message: "Si sale perderá todos los datos, ¿desea continuar?",
          confirmText: "Aceptar",
          cancelText: "Cancelar",
          type: "is-danger",
          hasIcon: true,
          onConfirm: () => {
            next();
          },
          onCancel: () => {
            next(false);
          },
        });
      } else {
        next();
      }
    },
    validacionMsg(msg: string) {
      this.$buefy.dialog.alert({
        title: "Validación",
        message: msg,
        ariaRole: "alertdialog",
        ariaModal: true,
      });
    },
    cancelarEdicion() {
      this.edicion = false;
    },
    hooks() {
      this.localBus.$on("partidaCreada", (partida: Partida) => {
        this.minuta.Partidas.push(partida);
        // let bt: any = this.$refs.agregarpartida
        // console.log(bt)
        // if (bt) {
        //   bt.focus()
        // }
      });
      this.localBus.$on("partidaModificada", (partida: Partida) => {
        const found = this.minuta.Partidas.find((x) => x.ID == partida.ID);
        Object.assign(found, partida);
      });
      this.localBus.$on("partidaEliminada", (id: string) => {
        this.minuta.Partidas = this.minuta.Partidas.filter((x) => x.ID != id);
      });
      this.localBus.$on("personaTraida", (persona: Persona) => {
        if (!persona) {
          return;
        }
        this.personas.set(persona.ID as string, persona);
      });
    },

    nombreCuenta(id: string | null) {
      if (!id) {
        return id;
      }
      let cta = this.$store.getters["cuentas/porID"](id);
      if (!cta) {
        return id;
      }
      return cta.Nombre;
    },
    codigoCuenta(id: string | null) {
      if (!id) {
        return id;
      }
      let cta = this.$store.getters["cuentas/porID"](id);
      if (!cta) {
        return id;
      }
      return cta.Codigo;
    },
    nombreCentro(id: string | null) {
      if (!id) {
        return id;
      }
      let centro = this.$store.getters["centros/porID"](id);
      if (!centro) {
        return id;
      }
      return centro.Nombre;
    },
    nombreCaja(id: string | null) {
      if (!id) {
        return id;
      }
      let caja = this.$store.getters["cajas/porID"](id);
      if (!caja) {
        return id;
      }
      return caja.Nombre;
    },
    nombrePersona(id: string | null): string {
      if (!id) {
        return "";
      }

      let per: Persona | undefined = this.personas.get(id);
      if (per) {
        return per.Nombre;
      }
      return id;
    },
    nombreSucursal(personaID: string | null, sucursalID: string): string {
      if (!sucursalID) {
        return sucursalID;
      }
      if (!personaID) {
        return sucursalID;
      }
      let per: Persona | undefined = this.personas.get(personaID);
      if (per) {
        let suc = per.Sucursales.find((x) => x.ID == sucursalID);
        if (!suc) {
          return sucursalID;
        }
        return suc.Nombre;
      }
      return sucursalID;
    },

    traerPersonaBackend(id: string) {
      this.personasPendientes += 1;
      axios
        .post("/backend/personas/persona", { ID: id })
        .then((res) => {
          this.personas.set(id, res.data);
          this.personasPendientes -= 1;
        })
        .catch((err) => {
          eventBus.$emit("error", err);
          this.personasPendientes -= 1;
        });
    },
    agregarPartida() {
      this.$buefy.modal.open({
        parent: this,
        component: RenglonMinuta,
        hasModalCard: true,
        trapFocus: true,
        // fullScreen: true,
        scroll: "clip",
        props: {
          bus: this.localBus,
          empresa: this.minuta.Empresa,
        },
      });
    },
    editarPartida(p: Partida) {
      if (!this.edicion) {
        return;
      }
      this.$buefy.modal.open({
        parent: this,
        component: RenglonMinuta,
        hasModalCard: true,
        trapFocus: true,
        // fullScreen: true,u
        scroll: "clip",
        props: {
          bus: this.localBus,
          empresa: this.minuta.Empresa,
          partida: p,
          id: p.ID,
        },
      });
    },
    newPartida() {
      return {
        cuenta_contable: "",
        centro_imputacion: 0,
        persona: "",
        sucursal: 0,
        ubicacion: 0,
        producto: 0,
        unicidad: 0,
        unicidad_tipo: "",
        contrato: 0,
        monto: 0.0,
      };
    },
    monedaString(p: Partida): string {
      if (!p.Moneda) {
        return "";
      }
      let m: Moneda | null = this.$store.getters["monedas/porID"](p.Moneda);
      if (!m) {
        return "Moneda N/D";
      }
      return `${m.Simbolo} ${enPesos(p.MontoMonedaOriginal as number)}`;
    },
  },
  watch: {
    "minuta.Empresa"(val) {
      if (!val) {
        this.minuta.Config = null;
        this.minuta.Esquema = null;
      }
      if (!this.esNuevo) {
        return;
      }
      if (this.configs.length == 1) {
        this.minuta.Config = this.configs[0].ID;
      }
    },
    "minuta.Config"(val) {
      if (!val) {
        this.minuta.Esquema = null;
      }
      if (!this.esNuevo) {
        return;
      }
      if (this.esquemas.length == 1) {
        this.minuta.Esquema = this.esquemas[0].ID;
      }
    },
    "minuta.Esquema"() {
      if (!this.minuta.Esquema) {
        return;
      }
      if (!this.esNuevo) {
        return;
      }
      // Pido los datos del comprobante
      let esquema = this.$store.getters["minuta/esquemaPorID"](
        this.minuta.Esquema
      );
      console.log(esquema);
      axios
        .get(`/backend/comprobantes/${esquema.Comp}`)
        .then((res) => {
          this.comp = res.data;
          this.minuta.Comp = esquema.Comp;
          this.minuta.NComp = res.data.UltimoNumeroUsado + 1;
          this.minuta.PuntoDeVenta = res.data.PuntoDeVenta;
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        });
    },
    personasPendientes(nuevo, anterior) {
      // Cuando se trajeron todas los nombres de las personas
      if (nuevo == 0 && anterior != 0) {
        this.$forceUpdate();
      }
    },
  },
});
</script>

<style lang="scss" scoped>
input.monto {
  text-align: right;
}
div.comp-header {
  display: flex;
  justify-content: flex-end;
}

.grow {
  flex-grow: 10;
}
</style>
