<template>
  <div>
    <div class="titulo-de-pantalla">
      <h1>{{ titulo }}</h1>
    </div>

    <div>
      <!-- GENERALES -->
      <div class="box">
        <h1>Datos generales</h1>

        <b-field label="Empresa">
          <b-select v-model="t.Empresa">
            <option :value="null">Seleccione</option>
            <option v-for="v in empresas" :value="v.ID" :key="v.ID">{{
              v.Nombre
            }}</option>
          </b-select>
        </b-field>

        <b-field label="Nombre">
          <b-input v-model="t.Nombre"> </b-input>
        </b-field>

        <b-field label="Descripción">
          <b-input v-model="t.Detalle" type="textarea"> </b-input>
        </b-field>

        <b-field label="Tipo">
          <b-select v-model="t.Tipo">
						<option :value="null">General</option>
						<option value="4">Ajuste por inflación</option>
						<option value="1">Refundición</option>
						<option value="2">Cierre</option>
						<option value="3">Apertura</option>
					</b-select>
        </b-field>

        <b-field label="Tipo" v-if="t.Tipo == '1'">
					<b-select v-model="t.CuentaRefundicion">
						<option value="null">Seleccione</option>
						<option v-for="v in cuentas" :key="v.ID" :value="v.ID"
							>{{ v.Nombre }} ({{ v.Codigo }})</option
						>
					</b-select>
        </b-field>
      </div>
    </div>

    <b-button class="btn is-primary" @click="guardar()">Guardar</b-button>
    <b-button class="btn" @click="$router.go(-1)">Cancelar</b-button>
    <b-button class="btn is-danger" @click="eliminar()">Eliminar</b-button>
  </div>
</template>

<script lang="ts">
import axios from "axios";
import Vue from "vue"
import eventBus from "@/eventBus";
import { Empresa } from "@/interfaces/empresas";
import { Cuenta } from "@/interfaces/cuentas";
import { Config } from "@/interfaces/minuta";
export default Vue.extend({
  data() {
    return {
      t: {
        ID: null,
        Empresa: null,
        Nombre: "",
        Detalle: "",
				Tipo: "" as string,
      } as Config,
			cargando: 0 as number,
    };
  },
  created() {
    if (this.esNuevo) {
      if (this.$store.state.empresas.seleccionada) {
        this.t.Empresa = this.$store.state.empresas.seleccionada;
      }
    } else {
      this.cargando++
      axios
        .post("/backend/minutas_config/one", { ID: this.$route.query.id })
        .then(res => {
          this.t = res.data;
        })
        .catch(err => {
          eventBus.$emit("error", err);
        })
				.finally(() => this.cargando--);
    }
	document.title = "Minuta - Config"
  },
  methods: {
    guardar() {
      this.cargando++
      if (this.esNuevo) {
        axios
          .post("/backend/minutas_config/create", this.t)
          .then(() => {
            this.$router.go(-1);
          })
          .catch(err => {
            eventBus.$emit("error", err);
          })
				  .finally(() => this.cargando--);
      } else {
        axios
          .post("/backend/minutas_config/update", this.t)
          .then(() => {
            this.$router.go(-1);
          })
          .catch(err => {
            eventBus.$emit("error", err);
          })
				  .finally(() => this.cargando--);
				;
      }
    },
    eliminar() {
      this.$buefy.dialog.confirm({
        title: "Borrar operación",
        message: "¿Está seguro que desea <b>borrar</b> la configuración? ",
        confirmText: "Borrar",
        type: "is-danger",
        hasIcon: true,
        onConfirm: () => {
          this.cargando++
          axios
            .post("/backend/minutas_config/delete", { ID: this.t.ID })
            .then(() => {
              this.$router.go(-1);
            })
            .catch(err => {
              eventBus.$emit("error", err);
            })
						.finally(() => this.cargando--);
        }
      });
    }
  },
  computed: {
    titulo(): string {
      if (this.esNuevo) {
        return "Nueva configuración minuta";
      }
      return "Modificar configuración minuta";
    },
    esNuevo(): boolean {
      if (this.$route.query.id) {
        return false;
      }
      return true;
    },
    empresas(): Empresa[] {
      return this.$store.getters["empresas/permitidas"];
    },
    cuentas(): Cuenta[] {
      return this.$store.getters["cuentas/imputables"];
    }
  }
});
</script>
