<template>
  <div>
    <div class="titulo-de-pantalla">
      <h1>Configuración minutas</h1>
    </div>

    <div class="flex">
      <b-field class="item" label="Empresa">
        <b-select @input="actualizar()" v-model="empresa">
          <option :value="null">Todas</option>
          <option v-for="v in empresas" :key="v.ID" :value="v.ID">{{
            v.Nombre
          }}</option>
        </b-select>
      </b-field>
    </div>
    <tabla>
      <thead>
        <tr>
          <th>Empresa</th>
          <th>Nombre</th>
          <th>Detalle</th>
        </tr>
      </thead>

      <tbody>
        <tr
          v-for="v in configs"
          v-bind:key="v.ID"
          class="link"
          @click="profundizar(v)"
        >
          <td>{{ $store.getters["empresas/porID"](v.Empresa).Nombre }}</td>
          <td>{{ v.Nombre }}</td>
          <td>{{ v.Detalle }}</td>
        </tr>
      </tbody>
    </tabla>
    <div class="item">
      <b-button @click="nuevaConfig()" class="btn" v-if="tipo != ''"
        >Nueva</b-button
      >
    </div>
  </div>
</template>

<script>
import axios from "axios";
import eventBus from "@/eventBus.ts";
export default {
  data() {
    return {
      empresa: null,
      tipo: null,
      tipos: [],
      configs: []
    };
  },
  created() {
	document.title = "Minuta - Configs"
    this.actualizar();
  },
  computed: {
    empresas() {
      return this.$store.getters["empresas/permitidas"];
    }
  },
  methods: {
    actualizar() {
      // Pido las configuraciones
      axios
        .post("/backend/minutas_config/many", {
          Empresa: this.empresa
        })
        .then(res => {
          this.configs = res.data;
        })
        .catch(err => {
          eventBus.$emit("error", err);
        });
    },
    nuevaConfig() {
      this.$router.push({ name: "minutaConfig" });
      return;
    },
    profundizar(v) {
      this.$router.push({ name: "minutaConfig", query: { id: v.ID } });
      return;
    }
  }
};
</script>

<style lang="scss" scoped>
div.flex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
div.item {
  margin-right: 10px;
}
</style>
