<template>
  <div id="wrapper">
    <div class="titulo-de-pantalla">
      <h1>Minutas esquemas</h1>
      <puntitos :size="35">
        <ul>
          <li @click="$router.push({ name: 'minutaEsquema' })">
            Nuevo esquema
          </li>
        </ul>
      </puntitos>
    </div>
    <div class="box">
      <h1>Filtros</h1>
      <div class="columns">
        <div class="column">
          <b-field label="Empresa">
            <b-select v-model="empresa" @input="actualizar()" expanded>
              <option :value="null">Todas</option>
              <option v-for="v in empresas" :value="v.ID" v-bind:key="v.ID">
                {{ v.Nombre }}
              </option>
            </b-select>
          </b-field>
        </div>

        <div class="column">
          <b-field label="Transacción">
            <b-select v-model="transaccion" @input="actualizar()" expanded>
              <option :value="null">Todas</option>
              <option
                v-for="v in transacciones"
                :value="v.ID"
                v-bind:key="v.ID"
              >
                {{ v.Nombre }}
              </option>
            </b-select>
          </b-field>
        </div>
      </div>
    </div>
    <tabla v-if="esquemas.length" expanded>
      <thead>
        <tr>
          <th>Empresa</th>
          <th>Nombre de transacción</th>
          <th>Nombre esquema</th>
          <th>Detalle</th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="v in esquemas"
          :key="v.ID"
          class="link"
          @click="profundizar(v.ID)"
        >
          <td>{{ empresaNombre(v.Empresa) }}</td>
          <td>{{ configNombre(v.Config) }}</td>
          <td>{{ v.Nombre }}</td>
          <td>{{ v.Detalle }}</td>
        </tr>
      </tbody>
    </tabla>
    <p v-else>No se encontró ningún resultado</p>
    <b-loading is-full-page :active="cargando != 0"></b-loading>
  </div>
</template>

<script lang="ts">
import axios from "axios";
import Vue from "vue";
import eventBus from "@/eventBus";
import Puntitos from "../widgets/Puntitos.vue";
import { Config, Esquema } from "@/interfaces/minuta";
import { Empresa } from "@/interfaces/empresas";
export default Vue.extend({
  data() {
    return {
      esquemas: [] as Esquema[],
      grupo: null,
      empresa: null as string | null,
      tipo: null as string | null,
      transaccion: null as string | null,

      cargando: 0 as number,
    };
  },
  components: {
    Puntitos,
  },
  created() {
    document.title = "Minuta - Esquemas";
    // Pongo la seleccionada por contexto
    this.empresa = this.$store.state.empresas.seleccionada;
    this.actualizar();
  },
  methods: {
    actualizar() {
      this.cargando++;
      axios
        .post("/backend/minutas_esquema/many", {
          Empresa: this.empresa,
        })
        .then((res) => {
          this.esquemas = res.data;
        })
        .catch((err) => eventBus.$emit("error", err))
        .finally(() => this.cargando--);
    },
    profundizar(id: string) {
      this.$router.push({
        name: "minutaEsquema",
        query: { id: id },
      });
    },
    empresaNombre(id: string) {
      const emp = this.$store.getters["empresas/porID"](id);
      if (!emp) {
        return "N/D";
      }
    },
    configNombre(id: string) {
      const cfg = this.$store.getters["minuta/configPorID"](id);
      if (!cfg) {
        return "N/D";
      }
      return cfg.Nombre;
    },
  },
  computed: {
    empresas(): Empresa[] {
      return this.$store.getters["empresas/permitidas"];
    },
    transacciones(): Config[] {
      if (this.empresa) {
        return this.$store.getters["minuta/configPorEmpresa"](this.empresa);
      }
      return [];
    },
  },
});
</script>
<style lang="scss" scoped>
div#wrapper {
  max-width: 1000px;
  margin: auto;
}
div.flex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  div.field {
    margin-right: 10px;
  }
}
</style>
