<template>
  <div>
    <div class="titulo-de-pantalla">
      <h1>{{ titulo }}</h1>
    </div>

    <div class="box">
      <b-field label="Pertenece a la empresa">
        <b-select v-model="esquema.Empresa">
          <option :value="null">Seleccione</option>
          <option v-for="v in empresas" v-bind:key="v.ID" :value="v.ID">
            {{ v.Nombre }}
          </option>
        </b-select>
      </b-field>

      <b-field label="Transacción">
        <b-select v-model="esquema.Config">
          <option :value="null">Seleccione</option>
          <option v-for="v in transacciones" v-bind:key="v.ID" :value="v.ID">
            {{ v.Nombre }}
          </option>
        </b-select>
      </b-field>

      <b-field label="Nombre del esquema">
        <b-input v-model="esquema.Nombre"> </b-input>
      </b-field>

      <b-field label="Comprobante">
        <b-select v-model="esquema.Comp">
          <option :value="null">Seleccione</option>
          <option v-for="v in comprobantes" :key="v.ID" :value="v.ID">
            {{ v.Nombre }} (PV: {{ v.PuntoDeVenta }})
          </option>
        </b-select>
      </b-field>

      <b-field label="Descripción">
        <b-input type="textarea" v-model="esquema.Detalle"> </b-input>
      </b-field>
    </div>

    <!-- <PermisosFact> </PermisosFact> -->
    <b-button class="is-primary" @click="guardar()">Guardar</b-button>
    <b-button class="btn-cancelar" @click="$router.go(-1)">Cancelar</b-button>
    <b-button class="is-danger" @click="eliminar()" v-if="!esNuevo">Borrar</b-button>
    <b-loading is-full-page :active="cargando" :can-cancel="true"></b-loading>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import axios from "axios";
import eventBus from "@/eventBus";
import { Comp } from "@/interfaces/comps";
import { Empresa } from "@/interfaces/empresas";
import { Config, Esquema } from "@/interfaces/minuta";
export default Vue.extend({
  // components: {
  //   PermisosFact
  // },
  data() {
    return {
      nuevo: true,
      esquema: {
        ID: null,
        Empresa: null,
        Nombre: "",
        Detalle: "",
        Config: null,
        Comp: null,
        CreatedAt: null,
        UpdatedAt: null,
      } as Esquema,
      comprobantes: [] as Comp[],
      cargando: 0 as number,
    };
  },
  created() {
    document.title = "Minuta - Esquema";
    // this.compsOriginales = this.$store.getters.comprobantesAFIP;
    this.esquema.Empresa = this.$store.state.empresas.seleccionada;
    this.actualizar();
    this.filtrarComprobantes();
  },
  methods: {
    actualizar() {
      if (!this.esNuevo) {
        axios
          .post("/backend/minutas_esquema/one", {
            ID: this.$route.query.id,
          })
          .then((res) => {
            this.esquema = res.data;
            this.filtrarLookups();
          })
          .catch((err) => {
            eventBus.$emit("error", err);
          });
      }
    },
    filtrarLookups() {
      this.filtrarComprobantes();
    },
    filtrarComprobantes() {
      if (!this.esquema.Empresa) {
        this.comprobantes = [];
        return;
      }
      // Pido comprobantes
      this.fetchComprobantes();
    },
    fetchComprobantes() {
      this.cargando++;
      axios
        .get("/backend/comprobantes", {
          params: { Empresa: this.esquema.Empresa },
        })
        .then((res) => {
          if (res.data) {
            res.data.sort((a: Comp, b: Comp) => {
              return new Intl.Collator("ar").compare(a.Nombre, b.Nombre);
            });
          }
          this.comprobantes = res.data;
        })
        .catch((err) => eventBus.$emit("error", err))
        .finally(() => this.cargando--);
    },
    volver() {
      this.$router.go(-1);
    },
    guardar() {
      this.cargando++;
      if (this.esNuevo) {
        axios
          .post("/backend/minutas_esquema/create", this.esquema)
          .then(() => {
            this.volver();
          })
          .catch((err) => {
            eventBus.$emit("error", err);
          })
          .finally(() => this.cargando--);
      }
      if (!this.esNuevo) {
        axios
          .post("/backend/minutas_esquema/update", this.esquema)
          .then(() => {
            this.volver();
          })
          .catch((err) => {
            eventBus.$emit("error", err);
          })
          .finally(() => this.cargando--);
      }
    },
    eliminar() {
      this.$buefy.dialog.confirm({
        title: "Eliminar",
        message: "¿Está seguro que desea <b>eliminar</b> este esquema? ",
        confirmText: "Eliminar",
        type: "is-danger",
        hasIcon: true,
        onConfirm: () => {
          this.cargando++;
          axios
            .post("/backend/minutas_esquema/delete", {
              ID: this.$route.query.id,
            })
            .then(() => eventBus.$emit("notification", "Esquema borrado"))
            .catch((err) => eventBus.$emit("error", err))
            .finally(() => {
              this.cargando--;
              this.$router.go(-1);
            });
        },
      });
    },
  },

  computed: {
    titulo(): string {
      if (this.esNuevo) {
        return "Nuevo esquema";
      } else {
        return "Modificar esquema";
      }
    },

    // Pide todas las transacciones de la empresa
    transacciones(): Config[] {
      if (!this.esquema) {
        return [];
      }
      if (!this.esquema.Empresa) {
        return [];
      }
      return this.$store.getters["minuta/configPorEmpresa"](
        this.esquema.Empresa
      );
    },
    empresas(): Empresa[] {
      return this.$store.getters["empresas/permitidas"];
    },
    programas(): string[] {
      return this.$store.state.programas.array;
    },
    esNuevo(): boolean {
      if ("id" in this.$route.query) {
        return false;
      }
      return true;
    },
  },
  watch: {
    "esquema.Empresa"() {
      this.filtrarComprobantes();
    },
  },
});
</script>
<style lang="scss" scoped></style>
