<template>
  <div>
    <h1>Partida</h1>
    <div>
      <label>Cuenta</label>
      <select>
        <option></option>
      </select>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-6">
        <label>Debe</label>
        <input type="number">
      </div>
      <div class="col-sm-12 col-md-6">
        <label>Haber</label>
        <input type="number">
      </div>
    </div>
    <div class="botonera">
      <button class="btn-guardar">Guardar</button>
      <button class="btn-cancelar">Cancelar</button>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
div {
}
</style>
