<template>
	<div class="modal-card">
		<header class="modal-card-head">
			<h1 class="modal-card-title">{{ titulo }}</h1>
		</header>
		<section class="modal-card-body">
			<!-- CUENTA -->
			<b-field label="Cuenta">
				<b-select v-model="p.Cuenta" ref="cuenta">
					<option :value="null" disabled>Seleccione</option>
					<option v-for="v in cuentas" :value="v.ID" :key="v.ID">
						{{ v.Nombre }}
					</option>
				</b-select>
			</b-field>

			<!-- CENTRO -->
			<b-field label="Centro de imputación" v-if="mostrarCentro">
				<b-select v-model="p.Centro">
					<option :value="null" disabled>Seleccione</option>
					<option v-for="v in centros" :value="v.ID" :key="v.ID">
						{{ v.Nombre }}
					</option>
				</b-select>
			</b-field>

			<!-- CAJA -->
			<b-field label="Caja" v-if="mostrarCaja">
				<b-select v-model="p.Caja">
					<option :value="null" disabled>Seleccione</option>
					<option v-for="v in cajas" :value="v.ID" :key="v.ID">
						{{ v.Nombre }}
					</option>
				</b-select>
			</b-field>

			<!-- PERSONA -->
			<b-field label="Persona" v-if="mostrarPersona">
				<b-field>
					<p class="control input">{{ nombrePersona }}</p>
					<p class="control">
						<b-button
							icon-left="magnify"
							class="is-primary"
							@click="buscarPersona()"
						></b-button>
					</p>
				</b-field>
			</b-field>

			<!-- SUCURSAL -->
			<b-field label="Sucursal" v-if="mostrarSucursal">
				<b-select v-model="p.Sucursal">
					<option :value="null">Seleccione</option>
					<option v-for="v in sucursales" :value="v.ID" :key="v.Nombre">
						{{ v.Nombre }}
					</option>
				</b-select>
			</b-field>

			<b-field>
				<b-field label="Debe">
					<b-input
						v-model.number="p.Debe"
						@input="p.Haber = null"
						ref="debe"
					></b-input>
				</b-field>
				<b-field label="Haber">
					<b-input v-model.number="p.Haber" @input="p.Debe = null"></b-input>
				</b-field>
			</b-field>

			<!-- MONEDA -->
			<b-field grouped v-if="mostrarMoneda">
				<b-field label="Moneda">
					<b-select v-model="p.Moneda">
						<option :value="null" disabled>Seleccione</option>
						<option v-for="v in monedas" :value="v.ID" :key="v.ID">
							{{ v.NombrePlural }}
						</option>
					</b-select>
				</b-field>
				<b-field label="Tipo de cambio">
					<b-input v-model.number="p.TC"></b-input>
				</b-field>
				<span>{{ monedaString }}</span>
			</b-field>

			<!-- DETALLE -->
			<b-field label="Detalle ">
				<b-input type="textarea" v-model="p.Detalle" />
			</b-field>
		</section>

		<footer class="modal-card-foot">
			<b-button @click="aceptar()" class="is-primary">Aceptar</b-button>
			<b-button @click="$parent.close()">Cancelar</b-button>
			<b-button class="is-danger" v-if="!esNuevo" @click="eliminar()"
				>Eliminar</b-button
			>
		</footer>
		<b-loading
			is-full-page
			:active="cargando != 0"
			:can-cancel="true"
		></b-loading>
	</div>
</template>

<script lang="ts">
import Vue from "vue";
import axios from "axios";
import eventBus from "@/eventBus";
import { Caja } from "@/modules/cajas/cajas";
import { Cuenta } from "@/interfaces/cuentas";
import { Centro } from "@/modules/centros/centros";
import {
	Persona,
	Sucursal,
	cruzarCuentasYSucursales,
} from "@/modules/personas/personas";
import { Partida } from "@/interfaces/minuta";
import { Moneda } from "@/modules/monedas/monedas";
import { enPesos } from "@/modules/util/format";
import { v1 } from "uuid";
import BuscadorPersonas from "@/modules/personas/components/BuscadorPersonas.vue";
// Este componente trabaja sobre los datos de una partida que se ingresa
// como prop.
// Cada vez que cambie por ejemplo la cuenta contable de la partida,
// lo que cambia es un int. Yo voy a seguir ese cambio, y se va a reflejar en
// cada una de las propiedades. Si usa una opción que no está disponible la
// muestro en rojo.
export default Vue.extend({
	props: {
		// La partida a EDITAR
		partida: {
			type: Object,
		},
		// El ID de la partida a EDITAR
		idProp: {
			type: String,
		},
		// Empresa (la necesito para determinar sucursales disponibles)
		empresa: {
			type: String,
			required: true,
		},
		bus: {
			required: true,
			type: Vue,
		},
	},
	data() {
		return {
			p: {
				ID: v1(),
				Cuenta: null,
				Centro: null,
				Caja: null,
				Deposito: null,
				Persona: null,
				Sucursal: null,
				Vencimiento: null,
				Debe: null,
				Haber: null,
				Detalle: "",
			} as Partida,
			debe: 0,
			haber: 0,

			localBus: new Vue(),
			persona: null as Persona | null,
			cargando: 0 as number,
		};
	},
	created() {
		// Guardo localmente la partida
		if (this.partida) {
			this.p = Object.assign({}, this.partida);
		}
		this.localBus.$on("personaSeleccionada", (id: string) => {
			this.p.Persona = id;
		});
	},
	mounted() {
		let cta: any = this.$refs.cuenta;
		if (cta) {
			cta.focus();
		}
	},
	methods: {
		cambioCuenta(id: string) {
			this.partida.Cuenta = id;
		},
		aceptar() {
			if (!this.p) {
				return;
			}
			if (!this.p.Cuenta) {
				this.validacionErr("Debe seleccionar una cuenta contable");
				return;
			}
			if (!this.p.Debe && !this.p.Haber) {
				this.validacionErr("Debe ingresar un monto en el debe o en el haber");
				return;
			}

			// Es moneda extranjera?
			if (this.mostrarMoneda) {
				if (!this.p.Moneda) {
					this.validacionErr("Debe ingresar moneda");
					return;
				}
				if (!Number.isFinite(this.p.TC)) {
					this.validacionErr("Debe ingresar tipo de cambio válido");
					return;
				} else {
					if (this.p.TC != 0) {
						let monto = 0;
						if (this.p.Debe) {
							monto = this.p.Debe;
						}
						if (this.p.Haber) {
							monto = this.p.Haber;
						}
						let tc = this.p.TC as number;
						monto = monto / tc;
						monto = Math.round(monto * 100) / 100;
						this.p.MontoMonedaOriginal = monto;
					}
				}
				if (this.p.TC && this.p.TC < 0) {
					this.validacionErr("El tipo de cambio no puede ser menor a cero");
					return;
				}
			}

			if (!this.mostrarCentro) {
				this.p.Centro = null;
			}
			if (!this.mostrarCaja) {
				this.p.Caja = null;
			}
			if (!this.mostrarPersona) {
				this.p.Persona = null;
			}
			if (this.esNuevo) {
				this.bus.$emit("partidaCreada", this.p);
				this.cerrar();
			} else {
				this.bus.$emit("partidaModificada", this.p, this.idProp);
				this.cerrar();
			}
		},
		eliminar() {
			this.bus.$emit("partidaEliminada", this.p.ID);
			this.cerrar();
		},
		buscarPersona() {
			let ctas = [this.p.Cuenta];

			this.$buefy.modal.open({
				parent: this,
				component: BuscadorPersonas,
				hasModalCard: true,
				trapFocus: true,
				fullScreen: true,
				scroll: "clip",
				props: {
					bus: this.localBus,
					cuentas: ctas,
				},
			});
		},
		cerrar() {
			(this.$parent as any).close();
		},
		traerPersonaBackend(id: string) {
			// Busco en backend
			this.cargando += 1;
			axios
				.post("/backend/personas/persona", { ID: id })
				.then((res) => {
					this.persona = res.data;
					if (!this.p.Sucursal && this.sucursales.length == 1) {
						this.p.Sucursal = this.sucursales[0].ID;
						(this.$refs.debe as any).focus();
					}
					this.bus.$emit("personaTraida", res.data);
					this.cargando -= 1;
				})
				.catch((err) => {
					eventBus.$emit("error", err);
					this.cargando -= 1;
				});
		},
		validacionErr(msg: string) {
			this.$buefy.dialog.alert({
				title: "Validación",
				message: msg,
				ariaRole: "alertdialog",
				ariaModal: true,
			});
		},
	},
	computed: {
		titulo(): string {
			if (this.esNuevo) {
				return "Nueva partida";
			}
			return "Modificar partida";
		},
		esNuevo(): boolean {
			if (!this.partida) {
				return true;
			}
			return false;
		},
		cuentas(): Cuenta[] {
			return this.$store.getters["cuentas/imputables"];
		},
		mostrarCentro(): boolean {
			if (!this.p.Cuenta) {
				return false;
			}
			let cta = this.$store.getters["cuentas/porID"](this.p.Cuenta);
			if (cta.AperturaCentro) {
				return true;
			}
			return false;
		},
		mostrarCaja(): boolean {
			if (!this.p.Cuenta) {
				return false;
			}
			let cta: Cuenta = this.$store.getters["cuentas/porID"](this.p.Cuenta);
			if (cta) {
				return cta.AperturaCaja;
			}
			return false;
		},
		mostrarPersona(): boolean {
			if (!this.p.Cuenta) {
				return false;
			}
			let cta: Cuenta = this.$store.getters["cuentas/porID"](this.p.Cuenta);
			if (cta) {
				return cta.AperturaPersona;
			}
			return false;
		},
		mostrarSucursal(): boolean {
			if (!this.persona) {
				return false;
			}
			if (this.persona.UsaSucursales) {
				return true;
			}
			return false;
		},
		mostrarMoneda(): boolean {
			if (!this.p.Cuenta) {
				return false;
			}
			let cta: Cuenta = this.$store.getters["cuentas/porID"](this.p.Cuenta);
			if (cta) {
				return cta.MonedaExtranjera;
			}
			return false;
		},
		sucursales(): Sucursal[] {
			if (!this.p.Cuenta) {
				return [];
			}
			if (!this.persona) {
				return [];
			}
			if (!this.mostrarSucursal) {
				return [];
			}
			const cta = this.cuentas.filter((x) => x.ID == this.p.Cuenta);
			const out = cruzarCuentasYSucursales(
				this.empresa,
				this.persona,
				this.persona.Sucursales,
				[...cta]
			);
			return out as Sucursal[];
		},
		cajas(): Caja[] {
			return this.$store.getters["cajas/todas"];
		},
		centros(): Centro[] {
			if (!this.p.Cuenta) {
				return [];
			}
			let cta = this.$store.getters["cuentas/porID"](this.p.Cuenta);
			if (!cta.AperturaCentro) {
				return [];
			}
			return this.$store.getters["centros/many"](
				cta.CentrosPermitidos,
				cta.CentrosGrupos
			);
		},
		monedas(): Moneda[] {
			return this.$store.getters["monedas/disponibles"];
		},
		monedaString(): string {
			let m: Moneda | null = this.$store.getters["monedas/porID"](
				this.p.Moneda
			);
			if (!m) {
				return "";
			}
			if (!this.p.TC) {
				return "";
			}
			let monto = 0;
			if (this.p.Debe) {
				monto += this.p.Debe;
			}
			if (this.p.Haber) {
				monto += this.p.Haber;
			}

			return `${m.Simbolo} ${enPesos(monto / this.p.TC)}`;
		},
		nombrePersona(): string {
			if (!this.p.Persona) {
				return "";
			}
			if (!this.persona) {
				return this.p.Persona;
			}
			return this.persona.Nombre;
		},
	},
	watch: {
		"p.Persona"(valor) {
			console.log("entró a persona");
			if (!valor) {
				return;
			}
			if (this.persona) {
				if (this.persona.ID == this.p.Persona) {
					return;
				}
			}
			this.traerPersonaBackend(valor);
		},
	},
});
</script>
<style lang="scss" scoped>
input .money {
	text-align: right;
}
</style>
