<template>
  <div id="app">
    <router-view :key="$route.fullPath"></router-view>
  </div>
</template>

<script lang="ts">
import eventBus from "./eventBus";
import Vue from "vue";
import "@/assets/main.scss";

export default Vue.extend({
  data() {
    return {
      menuVisible: true as boolean,
      errores: [],
      erroresJSON: [],
      ws: null as WebSocket | null,
      mensajes: [],
    };
  },

  created() {
    // Recepción de errores
    this.hooksErrors();

    // Eventos de logout
    this.hooksUser();

    // Eventos de notificaciones que entran al bus
    this.hooksNotificaciones();

    // console.log(this.$store.getters["usuario/logged"]);
    if (this.$store.getters["usuario/logged"]) {
      this.crearWebSocket();
    } else {
      this.$router.push({ name: "login" });
    }

    // if (this.$store.getters["usuario/logged"])
  },
  mounted() {
    if (this.$store.getters["usuario/logged"]) {
      console.log("Actualizando todo...");
      this.$store.dispatch("actualizarTodo");
    } else {
      // console.log("no estaba loggeado...");
    }
  },
  methods: {
    numerarCuenta() {
      while (1 == 1) {
        setTimeout(() => {
          console.log("Cuenta CLIENTES:", this.$store.state.cuentas.array);
        }, 1000);
      }
    },
    // Creo websocket global y sus hooks.
    crearWebSocket() {
      console.log("abriendo websocket en", process.env.VUE_APP_WS_ADDRESS);
      let ws = new WebSocket(process.env.VUE_APP_WS_ADDRESS);

      ws.onclose = (e) => {
        console.log("Socket cerrado. Reconectando en 5 segundos.", e);
        setTimeout(() => {
          this.crearWebSocket();
        }, 5000);
      };

      // Iniciación
      ws.onopen = () => {
        ws.send("WebSocket conectado");
      };

      // Mensajes entrante, defino los hooks
      ws.onmessage = (event) => {
        let jsonMsg = JSON.parse(event.data);
        console.log("Entró mensaje", jsonMsg);
        // Notificación usuario
        // this.$store.dispatch(jsonMsg.Tipo);

        let formato: string = "";
        if ((jsonMsg.Evento = "created")) {
        }

        eventBus.$emit("notification", {
          message: jsonMsg.Mensaje,
          type: this.determinarFormato(jsonMsg),
        });
        return;
      };

      // Lo pongo en data
      this.ws = ws;
    },
    determinarFormato(msg: any): string {
      if (msg.Evento) {
        if (msg.Evento == "created") {
          return "is-info";
        }
        if (msg.Evento == "updated") {
          return "is-info";
        }
        if (msg.Evento == "deleted") {
          return "is-info";
        }
      }
      return "";
    },
    hooksUser() {
      eventBus.$on("logout", () => {
        console.log("Se recibió evento logout");
        this.$router.push({ name: "login" });
      });

      eventBus.$on("login", (payload: any) => {
        console.log("Se recibió evento login, depués:", payload.despues);
        this.$store.commit("usuario/setUser", payload.response);
        console.log(payload.response);

        // Abro el websocket
        this.crearWebSocket();
        console.log("Actualizando todo...");
        this.$store.dispatch("actualizarTodo");
        // Mando al home (o a después)
        if (payload.despues) {
          this.$router.push({ name: payload.despues });
        } else {
          this.$router.push({ name: "home" });
        }
      });
    },
    hooksNotificaciones() {
      // Los componentes envían notificaciones por eventBus, desde App los muestro.
      eventBus.$on("notification", (n: any) => {
        n.queue = false;
        n.animation = "fade";
        n["auto-close"] = true;
        n["duration"] = 3000;
        console.log(n);
        this.$buefy.notification.open(n);
      });
    },
    hooksErrors() {
      eventBus.$on("error", (error: any) => {
        // console.log(error);
        // console.log("Tipo error", typeof error);
        // console.log("Tipo response data", typeof error.response.data);
        // console.log("Response", error.response);
        if (!error.response) {
          console.log("entró ene error frontend");
          let title = "Error frontend";
          let message = "";
          if (error.message) {
            message = error.message;
          }
          if (error.title) {
            title = error.title;
            message = error.message;
          }
		  if (!message) {
			message = error
		  }
          this.$buefy.dialog.alert({
            title: title,
            message: message,
            ariaRole: "alertdialog",
            ariaModal: true,
          });
          return;
        }

        // No autorizado
        switch (error.response.status) {
          case 400:
			let msg = error.response.data.Msg
			if (!msg) {
				msg = error.response.data
			}
            this.$buefy.dialog.alert({
              title: "Bad request",
              message: msg,
              ariaRole: "alertdialog",
              ariaModal: true,
            });
            return;

          case 401:
            if (error.response.data == "Comitente indefinido") {
              this.$router.push({ name: "seleccionarComitente" });
              return;
            }

            if (this.$route.name != "login") {
              this.$router.push({
                name: "login",
                query: { despues: this.$route.name },
              });
            }
            return;

          case 403:
            this.$buefy.dialog.alert({
              title: "No autorizado",
              message: error.response.data,
              ariaRole: "alertdialog",
              ariaModal: true,
              type: "is-danger",
              hasIcon: true,
            });
            return;

          case 404:
            this.$buefy.dialog.alert({
              title: "No encontrado",
              message: error.response.data,
              ariaRole: "alertdialog",
              ariaModal: true,
              type: "is-danger",
              hasIcon: true,
            });
            return;

          case 501:
            this.$buefy.dialog.alert({
              title: "Método HTTP no implementado",
              message: error.response.data,
              ariaRole: "alertdialog",
              ariaModal: true,
              type: "is-danger",
              hasIcon: true,
            });
            return;

          case 500:
            if (!error.response.data.Tipo) {
              // Error generico, pego el body
              this.$buefy.dialog.alert({
                title: "Error interno",
                message: error.response.data,
                ariaRole: "alertdialog",
                ariaModal: true,
              });
              return;
            }
        }

        if (error.response.data.Tipo) {
          console.log("tipo era", error.response.data.Tipo);
          switch (error.response.data.Tipo) {
            case "No autenticado":
              // Mando a la pantalla de login
              if (this.$route.name != "login") {
                this.$router.push({
                  name: "login",
                  query: { despues: this.$route.name },
                });
              }
              return;

            // case "Contraseña vencida":
            //   // Mando a la pantalla de login
            //   this.$router.push({
            //     name: "cambiarContraseña",
            //     params: {
            //       user: error.response.data.User,
            //       pass: error.response.data.Pass
            //     }
            //   });
            //   return;

            case "Usuario no confirmado":
              // Mando a la pantalla de login
              this.$router.push({
                name: "cambiarContraseña",
              });
              return;

            case "No autorizado":
              // Muestro modal
              this.$buefy.dialog.alert({
                title: "No autorizado",
                message: error.response.data.Msg,
                ariaRole: "alertdialog",
                ariaModal: true,
              });
              return;

            case "Validación":
              this.$buefy.dialog.alert({
                title: "Validación",
                message: error.response.data.Msg,
                ariaRole: "alertdialog",
                ariaModal: true,
              });
              return;

            case "Interno":
              this.$buefy.dialog.alert({
                title: "Error interno",
                message: error.response.data.Msg,
                ariaRole: "alertdialog",
                ariaModal: true,
              });
              return;

            case "Base de datos":
              this.$buefy.dialog.alert({
                title: "Base de datos",
                message: error.response.data.Msg,
                ariaRole: "alertdialog",
                ariaModal: true,
              });
              return;

            case "Bad request":
              this.$buefy.dialog.alert({
                title: "Bad request",
                message: error.response.data.Msg,
                ariaRole: "alertdialog",
                ariaModal: true,
              });
              return;

            case "Web service error":
              this.$buefy.dialog.alert({
                title: "Error de web service",
                message: error.response.data.Msg,
                ariaRole: "alertdialog",
                ariaModal: true,
                type: "is-danger",
                hasIcon: true,
              });
              return;

            case "No encontrado":
              this.$buefy.dialog.alert({
                title: "404 - No encontrado",
                message: error.response.data.Msg,
                ariaRole: "alertdialog",
                ariaModal: true,
              });
              return;
          }
        } else {
          this.$buefy.dialog.alert({
            title: "Error",
            message: String(error),
            ariaRole: "alertdialog",
            ariaModal: true,
          });
        }
      });
    },
    cerrar() {
      this.errores = [];
      this.erroresJSON = [];
    },
  },
  computed: {
    logged() {
      if (this.$store.getters.logged == false) {
        this.$store.dispatch("pedirDatosUsuario");
        // console.log("Usuario no estaba loggeado, pidiendo datos de usuario");
      }
      return null;
    },
  },
});
</script>

<style lang="scss">
// Import Bulma and Buefy styles
// @import "bulma/sass/";
// @import "~buefy/src/scss/buefy";
@import "@/assets/main.scss";

body {
  min-height: 100vh;
}

.link {
  cursor: pointer;
}

div.box-login {
  padding: 25px 25px;
}

div.titulo-de-pantalla {
  h1 {
    font-size: 2em;
    font-weight: 300;
    display: inline;
    margin: 0;
  }
}

input.d2 {
  max-width: 150px;
  text-align: right;
  &.comp {
    padding: 0 10px;
    height: 2em;
  }
}
input.fch {
  max-width: 12em;
  text-align: right;
}
input.pto-vta {
  max-width: 4.2em;
  text-align: right;
}
input.ncomp {
  max-width: 7em;
  text-align: right;
}
div.box {
  border-radius: 5px;
  // padding: 1.2rem;
  background-color: white;
  margin: 2rem 0;
  box-shadow: $shadow;

  h1 {
    font-size: 1.5em;
    color: lightgrey;
    padding-bottom: 5px;
    margin-bottom: 2rem;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 1px solid lightgray;
    font-weight: 300;
  }

  table.kv {
    width: 100%;
    tr {
      border: none;
    }
    td.k {
      padding-left: 20px;
      width: 50%;
      margin-left: 15px;
      font-weight: 400;
    }
    td.v {
      font-weight: lighter;
      color: gray;
      span.select {
        width: 100%;
      }
    }
  }
}
</style>
