<template>
  <div id="wrapper">
    <div class="titulo-de-pantalla">
      <h1 class="grow">{{ titulo }}</h1>
      <puntitos>
        <ul>
          <li @click="eliminar()">Eliminar persona</li>
        </ul>
      </puntitos>
    </div>

    <div class="box">
      <section class="block">
        <!-- Empieza seccion IDENTIFICACION -->
        <h2 class="title is-4">Identificacion</h2>
        <b-field horizontal label="Tipo de persona">
          <b-select v-model="persona.Tipo">
            <option :value="null" disabled>Seleccione</option>
            <option value="H">Persona humana</option>
            <option value="J">Persona jurídica</option>
          </b-select>
        </b-field>

        <b-field label="Documento" v-if="persona.Tipo == 'H'" horizontal>
          <b-select v-model="persona.TipoDNI" expanded>
            <option :value="null">Seleccione</option>
            <option value="96">DNI</option>
            <option value="89">Libreta Enrolamiento</option>
            <option value="90">Libreta Cívica</option>
          </b-select>

          <b-input
            placeholder="Número de documento"
            v-model="persona.DNI"
            expanded
          >
          </b-input>
        </b-field>

        <b-field label="CUIT" horizontal>
          <b-select v-model="persona.TipoCUIT" expanded>
            <option :value="null">Seleccione</option>
            <option value="80">CUIT</option>
            <option value="86" v-if="persona.Tipo == 'H'">CUIL</option>
            <option value="87" v-if="persona.Tipo == 'H'">CDI</option>
          </b-select>
          <b-input v-model="persona.CUIT" expanded> </b-input>
          <b-button @click="consultarAFIP()" title="Consultar datos en AFIP"
            >AFIP</b-button
          >
        </b-field>

        <b-field label="Nombre" horizontal>
          <b-input type="text" v-model.trim="persona.Nombre"> </b-input>
        </b-field>

        <b-field label="Nombre de fantasía" horizontal>
          <b-input type="text" v-model.trim="persona.NombreFantasia"> </b-input>
        </b-field>
      </section>
      <!-- End Section IDENTIFICACION -->

      <!-- DOMICILIOS -->
      <section class="block">
        <h2 class="title is-4">Domicilios</h2>
        <!-- <b-modal :active.sync="mostrarDomicilio" has-modal-card scroll="keep"> -->
        <!-- <domicilio
              v-bind="{ d: domicilioEnUso, bus: localBus, crud: 'Nuevo' }"
            ></domicilio> -->
        <!-- </b-modal> -->

        <tabla v-if="persona.Domicilios && persona.Domicilios.length" light>
          <thead>
            <tr>
              <th>Dirección</th>
              <th>Ciudad</th>
              <th>Provincia</th>
              <th>Tipo</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <tr v-for="(dom, i) in persona.Domicilios" :key="i" light>
              <td>{{ redactarDomicilio(dom) }}</td>
              <td>{{ dom.CiudadNombre }} ({{ dom.CiudadCP }})</td>
              <td>{{ dom.ProvinciaNombre }}</td>
              <td>{{ dom.Tipo }}</td>
              <td>
                <puntitos>
                  <ul>
                    <li @click="modificarDomicilio(dom, i)">
                      Modificar domicilio
                    </li>
                    <li @click="borrarDomicilio(i)">Borrar domicilio</li>
                  </ul>
                </puntitos>
              </td>
            </tr>
          </tbody>
        </tabla>
        <div v-else>No hay domicilios</div>
        <b-button
          class="button agregar"
          @click="nuevoDomicilio()"
          icon-left="plus-circle-outline"
          >Agregar</b-button
        >
      </section>

      <!-- EMAILS -->
      <section class="block">
        <h2 class="title is-4">Emails</h2>
        <tabla v-if="persona.Emails && persona.Emails.length" light>
          <thead>
            <tr>
              <th>Email</th>
              <th>Descripción</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, i) in persona.Emails" :key="i">
              <td>{{ item.Email }}</td>
              <td>{{ item.Descripcion }}</td>
              <td>
                <puntitos>
                  <ul>
                    <li @click="modificarMail(item, i)">Modificar</li>
                    <li @click="borrarMail(i)">Borrar</li>
                  </ul>
                </puntitos>
              </td>
            </tr>
          </tbody>
        </tabla>
        <div v-else>No hay</div>
        <b-button
          class="button"
          @click="nuevoEmail()"
          icon-left="plus-circle-outline"
          >Agregar</b-button
        >
      </section>

      <!-- TELEFONOS -->
      <section class="block">
        <h2 class="title is-4">Teléfonos</h2>
        <tabla v-if="persona.Telefonos && persona.Telefonos.length" light>
          <thead>
            <tr>
              <th>Tipo</th>
              <th>Numero</th>
              <th>Detalle</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <tr v-for="(item, i) in persona.Telefonos" :key="i">
              <td>{{ item.Tipo }}</td>
              <td>{{ item.Area }}-{{ item.Numero }}</td>
              <td>{{ item.Detalle }}</td>
              <td>
                <puntitos>
                  <ul>
                    <li @click="modificarTelefono(item, i)">Modificar</li>
                    <li @click="borrarTelefono(i)">Borrar</li>
                  </ul>
                </puntitos>
              </td>
            </tr>
          </tbody>
        </tabla>
        <div v-else>No hay</div>
        <b-button
          class="button"
          @click="nuevoTelefono()"
          icon-left="plus-circle-outline"
          >Agregar</b-button
        >
      </section>

      <section class="block">
        <h2 class="title is-4">Fiscales</h2>
        <div class="columns">
          <div class="column">
            <b-field label="Condición frente a IVA">
              <b-select v-model="persona.CondicionIVA" expanded>
                <option :value="null">Seleccione</option>
                <option value="5">Consumidor final</option>
                <option value="4">Exento</option>
                <option value="2">Inscripto</option>
                <option value="1">No Inscripto</option>
              </b-select>
            </b-field>
          </div>
          <div class="column">
            <b-field label="Condición frente Ganancias">
              <b-select v-model="persona.CondicionGcias" expanded>
                <option :value="null">Seleccione</option>
                <option value="AC">Inscripto</option>
                <option value="EX">Exento</option>
                <option value="NI">No Inscripto</option>
              </b-select>
            </b-field>
          </div>
          <div class="column">
            <b-field label="Condición Monotributo">
              <b-select v-model="persona.CondicionMT" expanded>
                <option :value="null">Seleccione</option>
                <option value="AC">Inscripto</option>
                <option value="NI">No Inscripto</option>
              </b-select>
            </b-field>
          </div>
        </div>
      </section>
      <!-- end section FISCALES -->

      <section class="block">
        <h2 class="title is-4">Funcionamiento</h2>
        <b-field horizontal>
          <b-checkbox
            :false-value="true"
            :true-value="false"
            v-model="persona.Activo"
          >
            Inactivar cuenta
          </b-checkbox>
        </b-field>
        <b-field
          label="Motivo inactividad"
          v-if="persona.Activo == false"
          horizontal
        >
          <b-input type="text" v-model="persona.MotivoInactividad"> </b-input>
        </b-field>
      </section>
      <!-- end section FUNCIONAMIENTO-->

      <section class="block">
        <h2 class="title is-4">Sucursales</h2>
        <b-field horizontal>
          <b-checkbox type="checkbox" v-model="persona.UsaSucursales">
            ¿Usa Sucursales?
          </b-checkbox>
        </b-field>

        <tabla v-if="persona.Sucursales && persona.Sucursales.length">
          <thead>
            <th>N</th>
            <th>Nombre</th>
          </thead>
          <tbody>
            <tr
              v-for="(v, i) in persona.Sucursales"
              :key="i"
              class="link"
              @click="profundizarSucursal(v.ID)"
            >
              <td>{{ v.NSucursal }}</td>
              <td>{{ v.Nombre }}</td>
            </tr>
          </tbody>
        </tabla>
        <b-button
          class="button"
          @click="nuevaSucursal()"
          icon-left="plus-circle-outline"
          v-if="persona.UsaSucursales"
          >Agregar</b-button
        >
      </section>
      <!-- end section SUCURSALES-->

      <section class="block">
        <h2 class="title is-4">Cuentas contables</h2>
        <b-field label="Cuentas habilitadas" horizontal>
          <b-select v-model="cuentaAsociadaParaAgregar" expanded>
            <option v-for="(v, i) in cuentasConApertura" :key="i" :value="v.ID">
              {{ v.Nombre }}
            </option>
          </b-select>
          <b-button @click="agregarCuentaAsociada()">Agregar</b-button>
        </b-field>
        <tabla
          v-if="persona.CuentasAsociadas && persona.CuentasAsociadas.length"
          light
        >
          <thead>
            <th>Código</th>
            <th>Nombre</th>
            <th></th>
          </thead>
          <tbody>
            <tr v-for="(v, i) in persona.CuentasAsociadas" :key="v.Cuenta">
              <td>{{ $store.getters["cuentas/porID"](v.Cuenta).Codigo }}</td>
              <td>{{ $store.getters["cuentas/porID"](v.Cuenta).Nombre }}</td>
              <td>
                <b-button @click="quitarCuentaAsociada(i)">Quitar</b-button>
              </td>
            </tr>
          </tbody>
        </tabla>
      </section>

      <section class="block">
        <h2 class="title is-4">Límites de crédito</h2>
        <b-field label="Contable" horizontal>
          <b-input v-model.number="persona.SaldoContable" custom-class="d2" />
        </b-field>
        <b-field label="Financiero" horizontal>
          <b-input v-model.number="persona.SaldoFinanciero" custom-class="d2" />
        </b-field>
      </section>
      <!-- end section SUCURSALES-->
    </div>
    <b-field grouped position="is-right">
      <b-button class="is-success" @click="submit()">Guardar</b-button>
    </b-field>
    <b-loading
      is-full-page
      :active="cargando != 0"
      :can-cancel="true"
    ></b-loading>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import axios from "axios";

import eventBus from "@/eventBus";
import Puntitos from "@/components/widgets/Puntitos.vue";

import DomicilioComp from "@/modules/personas/components/Domicilio.vue";
import EmailComp from "@/modules/personas/components/Email.vue";
import TelefonoComp from "@/modules/personas/components/Telefono.vue";

import { Cuenta } from "@/interfaces/cuentas";
import {
  CuentaAsociada,
  Domicilio,
  Email,
  Persona,
  Sucursal,
  Telefono,
} from "../personas";
import { sinGuiones, validarCUIT } from "@/modules/afip/cuit";

export default Vue.extend({
  components: {
    Puntitos,
  },
  data() {
    return {
      persona: {
        ID: null,
        Nombre: "",
        NombreFantasia: "",
        CUIT: null,
        TipoCUIT: null,
        DNI: null,
        TipoDNI: null,
        ProvinciaNombre: "",
        CiudadCP: 0,
        CiudadNombre: "",
        Calle: "",
        Numero: "",
        Piso: "",
        Depto: "",
        Tipo: "",
        CondicionIVA: null,
        CondicionMT: "",
        UsaSucursales: false,
        Sucursales: [] as Sucursal[],
        CuentasAsociadas: [] as CuentaAsociada[],
        Domicilios: [] as Domicilio[],
        Emails: [] as Email[],
        Telefonos: [] as Telefono[],
        Activo: true,
        MotivoInactividad: "",
        SaldoContable: null,
        SaldoFinanciero: null,
      } as Persona,
      mostrarDomicilio: false,

      cuentaAsociadaParaAgregar: null as string | null,
      localBus: new Vue(),
      cargando: 0 as number,
    };
  },
  created() {
    document.title = "Persona datos";
    this.hooksDomicilio();
    this.hooksMail();
    this.hooksTelefono();
    if (!this.esNueva) {
      this.cargando++;
      axios
        .post("/backend/personas/persona", { ID: this.$route.query.id })
        .then((res) => {
          this.cargando--;
          this.persona = res.data;
        })
        .catch((err) => {
          this.cargando--;
          eventBus.$emit("error", err);
        });
    }
    const v = this.$route.query.search;
    if (v && v.length) {
      if (v.length == 11) {
        // Puede ser cuit
        let c = parseInt(v as string);
        if (!isNaN(c)) {
          this.persona.CUIT = v as string;
          this.consultarAFIP();
        }
      } else {
        // Si era un número, debería ser el de DNI
        let c = parseInt(v as string);
        if (!isNaN(c)) {
          this.persona.Tipo = "H";
          this.persona.TipoDNI = "96";
          this.persona.DNI = v as string;
        }
      }
    }
  },
  computed: {
    cuentasConApertura(): Cuenta[] {
      return this.$store.getters["cuentas/conAperturaRestrictivaPorPersona"];
    },
    titulo(): string {
      if (this.esNueva) {
        return "Nueva persona";
      } else {
        return "Modificación persona";
      }
    },
    esNueva(): boolean {
      if (this.$route.query.id == undefined) {
        return true;
      } else {
        return false;
      }
    },
  },
  methods: {
    submit() {
      if (this.persona.SaldoContable === "") {
        this.persona.SaldoContable = null;
      }
      if (this.persona.SaldoFinanciero === "") {
        this.persona.SaldoFinanciero = null;
      }
      if (this.persona.DNI == "") {
        this.persona.DNI = null;
      }
      if (!this.persona.CUIT) {
        this.persona.CUIT = null;
      } else {
        this.persona.CUIT = sinGuiones(this.persona.CUIT as string);
        if (validarCUIT(this.persona.CUIT as string) == false) {
          eventBus.$emit(
            "error",
            Error("El número de CUIT no es válido, por favor verifíquelo")
          );
          return;
        }
      }

      // Si es nueva persona
      if (this.esNueva) {
        this.cargando++;
        axios
          .post("/backend/personas/alta", this.persona)
          .then((res) => {
            this.cargando--;
            this.$buefy.toast.open({
              duration: 3000,
              message: "Persona creada correctamente",
              type: "is-success",
            });
            // this.$router.replace({ query: { id: res.data.ID } });
            this.volver();
          })
          .catch((err) => {
            this.cargando--;
            eventBus.$emit("error", err);
          });
      } else {
        // Si estoy modificando
        this.cargando++;
        axios
          .post("/backend/personas/modificar", this.persona)
          .then(() => {
            this.cargando--;
            this.$buefy.toast.open({
              duration: 3000,
              message: "Cambios guardados",
              type: "is-success",
            });
            this.volver();
          })
          .catch((err) => {
            this.cargando--;
            eventBus.$emit("error", err);
          });
      }
    },
    consultarAFIP() {
      this.cargando++;
      axios
        .post("/backend/afip/constancia_inscripcion", {
          Empresa: this.$store.state.empresas.seleccionada,
          CUIT: this.persona.CUIT,
        })
        .then((res) => {
          // Tipo persona y nombre
          if (res.data.DatosGenerales.TipoPersona == "JURIDICA") {
            this.persona.Tipo = "J";
            this.persona.Nombre = res.data.DatosGenerales.RazonSocial;
          } else if (res.data.DatosGenerales.TipoPersona == "FISICA") {
            this.persona.Tipo = "H";
            this.persona.Nombre = [
              res.data.DatosGenerales.Apellido,
              res.data.DatosGenerales.Nombre,
            ].join(" ");
            this.persona.TipoDNI = "96";
            this.persona.DNI = (this.persona.CUIT as string).substring(2, 10);
          }

          // Tipo CUIT
          if (res.data.DatosGenerales.TipoClave == "CUIT") {
            this.persona.TipoCUIT = "80";
          } else if (res.data.DatosGenerales.TipoClave == "CUIL") {
            this.persona.TipoCUIT = "86";
          }

          // Regimen montributo
          if (
            res.data.DatosMonotributo.Impuestos &&
            res.data.DatosMonotributo.Impuestos.length
          ) {
            this.persona.CondicionMT = "AC";
          } else {
            this.persona.CondicionMT = "NI";
          }

          // Regimen general
          if (
            res.data.DatosRegimenGeneral.Impuestos &&
            res.data.DatosRegimenGeneral.Impuestos.length
          ) {
            for (const v of res.data.DatosRegimenGeneral.Impuestos) {
              if (v.IDImpuesto == 10) {
                this.persona.CondicionGcias = "AC";
              }
              if (v.IDImpuesto == 11) {
                this.persona.CondicionGcias = "AC";
              }
              if (v.IDImpuesto == 30) {
                this.persona.CondicionIVA = "2";
              }
              if (v.IDImpuesto == 34) {
                this.persona.CondicionIVA = "4";
              }
            }
          }
          if (!this.persona.CondicionGcias) {
            this.persona.CondicionGcias = "NI";
          }
          if (!this.persona.CondicionIVA) {
            this.persona.CondicionIVA = "1";
          }

          // Domicilio
          let modificado = false;
          if (this.persona.Domicilios && this.persona.Domicilios.length) {
            // Chequeo si hay algún domicilio tipo AFIP
            for (let v of this.persona.Domicilios) {
              if (v.Tipo == "AFIP") {
                // Lo piso
                v.CiudadNombre =
                  res.data.DatosGenerales.DomicilioFiscal.Localidad;
                v.CiudadCP = res.data.DatosGenerales.DomicilioFiscal.CodPostal;
                v.ProvinciaID =
                  res.data.DatosGenerales.DomicilioFiscal.IDProvincia;
                v.ProvinciaNombre =
                  res.data.DatosGenerales.DomicilioFiscal.DescripcionProvincia;
                v.DomCalle = res.data.DatosGenerales.DomicilioFiscal.Direccion;
                modificado = true;
              }
              this.localBus.$emit("domicilioModificado", v);
            }
          }
          if (!modificado) {
            // Agrego domicilio nuevo
            const v = {
              Tipo: "AFIP",
              CiudadNombre: res.data.DatosGenerales.DomicilioFiscal.Localidad,
              CiudadCP: res.data.DatosGenerales.DomicilioFiscal.CodPostal,
              ProvinciaID: res.data.DatosGenerales.DomicilioFiscal.IDProvincia,
              ProvinciaNombre:
                res.data.DatosGenerales.DomicilioFiscal.DescripcionProvincia,
              DomCalle: res.data.DatosGenerales.DomicilioFiscal.Direccion,
              DomNumero: "",
              DomPiso: "",
              DomDpto: "",
              CiudadID: 0,
              ID: "",
            };
            this.localBus.$emit("domicilioAgregado", v);
          }
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => {
          this.cargando--;
        });
    },
    agregarCuentaAsociada() {
      if (!this.persona.CuentasAsociadas) {
        this.persona.CuentasAsociadas = [];
      }
      if (!this.cuentaAsociadaParaAgregar) {
        this.$buefy.dialog.alert({
          title: "Validación",
          message: "Debe seleccionar una cuenta",
          type: "is-danger",
          hasIcon: true,
          icon: "times-circle",
          iconPack: "fa",
          ariaRole: "alertdialog",
          ariaModal: true,
        });
        return;
      }
      let item = {
        Cuenta: this.cuentaAsociadaParaAgregar,
        Persona: this.persona.ID,
        Sucursal: null,
      } as CuentaAsociada;

      let estaba = this.persona.CuentasAsociadas.find(
        (item) => item.Cuenta == this.cuentaAsociadaParaAgregar
      );
      if (estaba) {
        this.$buefy.dialog.alert({
          title: "Validación",
          message: "La cuenta ya estaba agregada",
          type: "is-danger",
          hasIcon: true,
          icon: "times-circle",
          iconPack: "fa",
          ariaRole: "alertdialog",
          ariaModal: true,
        });
        return;
      }
      this.persona.CuentasAsociadas.push(item);
    },
    eliminar() {
      this.$buefy.dialog.confirm({
        title: "Eliminar",
        message: "¿Está seguro que desea <b>eliminar</b> a la persona? ",
        confirmText: "Eliminar",
        type: "is-danger",
        hasIcon: true,
        onConfirm: () => {
          this.cargando += 1;
          axios
            .post("/backend/personas/eliminar", {
              ID: this.persona.ID,
            })
            .then(() => {
              this.cargando--;
              this.volver();
            })
            .catch((err) => {
              this.cargando--;
              eventBus.$emit("error", err);
            });
        },
      });
    },
    volver() {
      if (history.state) {
        this.$router.go(-1);
      } else {
        window.close();
      }
    },
    nuevaSucursal() {
      this.$router.push({
        name: "sucursal",
        query: { persona: this.persona.ID },
      });
    },
    profundizarSucursal(id: string | null) {
      if (!id) {
        return;
      }
      this.$router.push({
        name: "sucursal",
        query: { id: id },
      });
    },
    quitarCuentaAsociada(idx: number) {
      this.persona.CuentasAsociadas.splice(idx, 1);
    },
    mostrarDomicilioModal(domicilio: Domicilio, i: number, crud: string) {},
    // Crea el objeto vacío y muestra la pantalla para editarlo
    nuevoDomicilio() {
      let tipoDef = "Legal";
      for (let v of this.persona.Domicilios) {
        if (v.Tipo == "Legal") {
          tipoDef = "";
          break;
        }
      }
      this.$buefy.modal.open({
        parent: this,
        component: DomicilioComp,
        hasModalCard: true,
        trapFocus: true,
        scroll: "clip",
        props: { tipoDefault: tipoDef, bus: this.localBus },
      });
    },
    // Abre la pantalla modal para mostrar la edición del domicilio
    modificarDomicilio(d: Domicilio, i: number) {
      this.$buefy.modal.open({
        parent: this,
        component: DomicilioComp,
        hasModalCard: true,
        trapFocus: true,
        scroll: "clip",
        props: { domicilio: d, i: i, bus: this.localBus },
      });
    },
    borrarDomicilio(i: number) {
      this.$buefy.dialog.confirm({
        message: "¿Está seguro que desea borrar este domicilio?",
        onConfirm: () => this.persona.Domicilios.splice(i, 1),
      });
    },

    redactarDomicilio(d: Domicilio) {
      let t = d.DomCalle + " " + d.DomNumero;
      if (d.DomPiso != "" && d.DomPiso != null) {
        t += " - Piso: " + d.DomPiso;
      }
      if (d.DomDpto != "" && d.DomDpto != null) {
        t += " - Dpto: " + d.DomDpto;
      }
      return t;
    },
    // Crea el objeto vacío y muestra la pantalla para editarlo
    nuevoEmail() {
      let mail = {
        Descripcion: "",
        Email: "",
      } as Email;
      this.mostrarMail(mail, 0, "Nuevo");
    },
    // Abre la pantalla para modificar un mail existente
    modificarMail(d: Email, i: number) {
      let mail = Object.assign({}, d);
      this.mostrarMail(mail, i, "Modificar");
    },
    mostrarMail(mail: Email, i: number, crud: string) {
      this.$buefy.modal.open({
        parent: this,
        component: EmailComp,
        hasModalCard: true,
        trapFocus: true,
        scroll: "clip",
        props: { email: mail, i: i, bus: this.localBus, crud: crud },
      });
    },
    borrarMail(i: number) {
      this.$buefy.dialog.confirm({
        message: "¿Está seguro que desea borrar este E-Mail?",
        onConfirm: () => this.persona.Emails.splice(i, 1),
      });
    },
    mostrarTelefono(telefono: Telefono, i: number, crud: string) {
      this.$buefy.modal.open({
        parent: this,
        component: TelefonoComp,
        hasModalCard: true,
        trapFocus: true,
        scroll: "clip",
        props: { tel: telefono, i: i, bus: this.localBus, crud: crud },
      });
    },
    nuevoTelefono() {
      let tel = {
        Tipo: "",
        Area: 0,
        Numero: 0,
        NumeroCompleto: "",
        Detalle: "",
      } as Telefono;
      this.mostrarTelefono(tel, 0, "Nuevo");
    },
    modificarTelefono(telefono: Telefono, i: number) {
      let tel = Object.assign({}, telefono);
      this.mostrarTelefono(tel, i, "Modificar");
    },
    borrarTelefono(i: number) {
      this.$buefy.dialog.confirm({
        message: "¿Está seguro que desea borrar este teléfono?",
        onConfirm: () => this.persona.Telefonos.splice(i, 1),
      });
    },
    hooksDomicilio() {
      this.localBus.$on("domicilioAgregado", (d: Domicilio) => {
        if (!this.persona.Domicilios) {
          this.persona.Domicilios = [];
        }
        this.persona.Domicilios.push(d);
        if (d.Tipo == "Legal" || this.persona.Domicilios.length == 1) {
          this.fijarDomicilioPersona(d);
        }
      });
      this.localBus.$on("domicilioModificado", (d: Domicilio, i: number) => {
        this.persona.Domicilios.splice(i, 1, d);
        if (d.Tipo == "Legal" || this.persona.Domicilios.length == 1) {
          this.fijarDomicilioPersona(d);
        }
      });
    },
    // Cuando se agrega un domicilio de tipo Legal, este es el que le queda
    // Pegado a la persona
    fijarDomicilioPersona(d: Domicilio) {
      this.persona.Calle = d.DomCalle;
      this.persona.Numero = d.DomNumero;
      this.persona.Piso = d.DomPiso;
      this.persona.Depto = d.DomDpto;
      this.persona.CiudadID = d.CiudadID;
      this.persona.CiudadCP = d.CiudadCP;
      this.persona.CiudadNombre = d.CiudadNombre;
      this.persona.ProvinciaID = d.ProvinciaID;
      this.persona.ProvinciaNombre = d.ProvinciaNombre;
    },
    hooksMail() {
      this.localBus.$on("mailAgregado", (d: Email) => {
        if (this.persona.Emails == undefined) {
          this.persona.Emails = [];
        }
        this.persona.Emails.push(d);
      });
      this.localBus.$on("mailModificado", (d: Email, i: number) => {
        this.persona.Emails.splice(i, 1, d);
      });
    },
    hooksTelefono() {
      this.localBus.$on("telefonoAgregado", (d: Telefono) => {
        if (this.persona.Telefonos == undefined) {
          this.persona.Telefonos = [];
        }
        this.persona.Telefonos.push(d);
      });
      this.localBus.$on("telefonoModificado", (d: Telefono, i: number) => {
        this.persona.Telefonos.splice(i, 1, d);
      });
    },
  },
});
</script>
<style lang="scss" scoped>
h3 {
  margin-top: 35px;
}

div#wrapper {
  max-width: 800px;
  margin: auto;
}
section.block {
  margin-bottom: 3em;
}

div.titulo-de-pantalla {
  display: flex;
  justify-content: flex-end;
}
.grow {
  flex-grow: 10;
}
</style>
