Es el menu para buscar personas.

<template>
  <div>
    <div class="titulo-de-pantalla">
      <b-icon icon="human-male" size="is-medium"></b-icon>
      <h1>Personas</h1>
      <puntitos :id="'puntitos-personas'" :size="35">
        <ul>
          <li @click="$router.push({ name: 'persona' })">Nueva persona</li>
        </ul>
      </puntitos>
    </div>

    <b-field grouped>
      <b-input
        type="search"
        icon="magnify"
        v-model="texto"
        placeholder="Nombre, DNI, CUIT, etc..."
        ref="buscarInput"
        @keyup.enter.native="buscar()"
      >
      </b-input>
      <b-button
        icon="search"
        class="button is-info"
        icon-left="magnify"
        @click="buscar()"
        >Buscar</b-button
      >
    </b-field>

    <tabla class="table" v-if="personas && personas.length">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>N ident</th>
          <th>Ciudad</th>
          <th>Provincia</th>
          <th>Dirección</th>
          <th>Telefono</th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="persona in personas"
          v-bind:key="persona.ID"
          class="link"
          @click="
            $router.push({ name: 'vistaPersona', query: { id: persona.ID } })
          "
        >
          <td>
            {{ persona.Nombre }}
          </td>
          <td>{{ persona | ident }}</td>
          <td>{{ persona.CiudadNombre }}</td>
          <td>{{ persona.ProvinciaNombre }}</td>
          <td>
            {{ persona.Calle }} {{ persona.Numero }} {{ persona.Piso }}
            {{ persona.Depto }}
          </td>
          <td>
            <span v-for="t in persona.Telefonos">{{ t.NumeroCompleto }}</span>
          </td>
        </tr>
      </tbody>
    </tabla>
    <b-loading
      is-full-page
      :active="cargando != 0"
      :can-cancel="true"
    ></b-loading>
  </div>
</template>

<script>
import eventBus from "@/eventBus.ts";
import axios from "axios";
import Puntitos from "@/components/widgets/Puntitos";
export default {
  data() {
    return {
      texto: "",
      personas: [],
      dirty: false,
      cargando: 0
    };
  },
  created() {
	document.title = "Personas"
  },
  components: {
    Puntitos
  },
  mounted() {
    this.$refs.buscarInput.focus();
  },
  methods: {
    buscar() {
      this.cargando += 1;
      axios
        .post("/backend/personas/many", { Texto: this.texto })
        .then(response => {
          this.cargando -= 1;
          this.personas = response.data;
        })
        .catch(err => {
          this.cargando -= 1;
          eventBus.$emit("error", err);
        });
    }
  },

  filters: {
    ident(persona) {
      if (persona.CUIT == null) {
        return persona.DNI;
      } else {
        return persona.CUIT;
      }
    },
    telefono(tels) {
      let str = "";
      if (tels == null) {
        return "-";
      }

      if (tels.length == 0) {
        return "-";
      }

      if (tels[0].area != 0 && tels.numero != 0) {
        str = tels[0].area + "-" + tels[0].numero;
      }
      str += tels[0].detalle;
      if (tels.length > 1) {
        str += "...";
      }
      return str;
    },
    direccion(p) {
      let str = p.calle + " " + p.numero + " " + p.piso + " " + p.dpto;
      return str;
    }
  }
};
</script>
<style lang="scss" scoped>
div.buscar {
  margin-top: 20px;
  margin-bottom: 30px;
}
div.buscar input {
  width: 80%;
  float: left;
}

div.buscar button {
  float: left;
  width: 20%;
}
</style>
