<template>
  <div>
    <div class="box">
      <div class="titulo-de-pantalla">
        <h1 class="title grow">Saldos de personas</h1>
        <puntitos :id="'puntitos-personas'" :size="35" align="right">
          <ul>
            <li @click="exportarAfip('clientes')">Exportar SIAP - Clientes</li>
            <li @click="exportarAfip('proveedores')">
              Exportar SIAP - Proveedores
            </li>
          </ul>
        </puntitos>
      </div>
      <div class="is-flex">
        <div class="item">
          <b-field label="Empresa" horizontal>
            <b-select v-model="empresa" expanded>
              <option :value="null">Todas</option>
              <option v-for="v in empresas" :value="v.ID" :key="v.ID">
                {{ v.Nombre }}
              </option>
            </b-select>
          </b-field>
          <b-field label="Grupo" horizontal>
            <b-select v-model="grupo">
              <option :value="null">Todos</option>
              <option v-for="v in grupos" :value="v.ID" :key="v.ID">
                {{ v.Nombre }}
              </option>
            </b-select>
          </b-field>
          <b-field label="Cuentas" horizontal v-if="cuentas">
            <multiselect
              :options="cuentas"
              v-model="cuentasSeleccionadas"
              mode="tags"
              valueProp="ID"
              label="Nombre"
            >
            </multiselect>
          </b-field>
        </div>
        <div class="item">
          <b-field label="Desde" horizontal>
            <b-input v-model="desde" type="date" custom-class="fch" />
          </b-field>
          <b-field label="Hasta" horizontal>
            <b-input v-model="hasta" type="date" custom-class="fch" />
          </b-field>
          <b-field horizontal>
            <b-checkbox v-model="incluirSaldosInicio"
              >¿Incluir saldos de inicio?</b-checkbox
            >
          </b-field>
        </div>
        <div class="item">
          <b-button class="is-primary" @click="actualizar()"
            >Actualizar</b-button
          >
        </div>
      </div>
    </div>
    <div>
      <output-buttons :excel="exportarExcel" size="is-large"></output-buttons>
    </div>
    <tabla v-if="mostrarTabla">
      <thead>
        <th align="middle" class="link">CUIT</th>
        <th align="middle" @click="ordenarPor('Nombre')" class="link">
          Nombre
        </th>
        <th @click="ordenarPor('SaldoContable')" class="link">
          Saldo contable
        </th>
        <th @click="ordenarPor('SaldoFinanciero')" class="link">
          Saldo financiero
        </th>
        <th @click="ordenarPor('Provincia')" class="link">Provincia</th>
        <th @click="ordenarPor('Ciudad')" class="link">Ciudad</th>
        <th @click="ordenarPor('Domicilio')" class="link">Domicilio</th>
      </thead>
      <tbody>
        <tr v-for="v in saldos" :key="v.ID">
          <td>{{ v.CUIT }}</td>
          <td>{{ v.Nombre }}</td>
          <td align="right">
            <router-link
              :to="{
                name: 'vistaPersona',
                query: {
                  id: v.ID,
                  desde: desde,
                  hasta: hasta,
                  tipoFecha: 'fecha_contable',
                  empresa: empresa,
                },
              }"
              target="_blank"
              rel="noreferrer noopener"
            >
              {{ v.SaldoContable | enPesos }}
            </router-link>
          </td>
          <td align="right">
            <router-link
              :to="{
                name: 'vistaPersona',
                query: {
                  id: v.ID,
                  desde: desde,
                  hasta: hasta,
                  tipoFecha: 'fecha_financiera',
                  empresa: empresa,
                },
              }"
              target="_blank"
              rel="noreferrer noopener"
            >
              {{ v.SaldoFinanciero | enPesos }}
            </router-link>
          </td>
          <td>{{ v.Provincia }}</td>
          <td>{{ v.Ciudad }}</td>
          <td>{{ v.Domicilio }}</td>
        </tr>
      </tbody>
      <tfoot>
        <td></td>
        <td>Total</td>
        <td align="right">{{ totalContable | enPesos }}</td>
        <td align="right">{{ totalFinanciero | enPesos }}</td>
        <td></td>
        <td></td>
        <td></td>
      </tfoot>
    </tabla>
    <span v-if="dirty && !saldos.length">No hay datos para mostrar</span>
    <b-loading
      is-full-page
      :active="cargando != 0"
      :can-cancel="true"
    ></b-loading>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import axios from "axios";
import { hoy } from "@/modules/util/fechas";
import { format } from "date-fns";
import { Cuenta, Grupo } from "@/interfaces/cuentas";
import { Saldo } from "@/modules/personas/personas";
import eventBus from "@/eventBus";
import { updateQuery } from "@/modules/routeUtil";
import Puntitos from "@/components/widgets/Puntitos.vue";
import OutputButtons from "@/components/widgets/OutputButtons.vue";
import { Empresa } from "@/interfaces/empresas";
export default Vue.extend({
  components: {
    Puntitos,
    OutputButtons,
  },
  data() {
    return {
      empresa: null as string | null,
      desde: null as string | null,
      hasta: null as string | null,
      grupo: null as string | null,
      cuentasSeleccionadas: null as string[] | null,
      incluirSaldosInicio: true as boolean,
      grupos: [] as Grupo[],
      saldos: [] as Saldo[],
      dirty: false as boolean,
      cargando: 0 as number,
    };
  },
  created() {
    document.title = "Saldos";
    this.cargando++;

    // Grupos
    axios
      .post("/backend/cuentasgrupos/many", {})
      .then((res) => {
        this.grupos = res.data;
        this.tildarCuentasDelGrupo(this.grupo);
      })
      .catch((err) => {
        eventBus.$emit("error", err);
      })
      .finally(() => this.cargando--);

    // Empresa
    if (this.$route.query.empresa) {
      this.empresa = this.$route.query.empresa as string;
    } else {
      this.empresa = this.$store.state.empresas.seleccionada;
    }

    // Desde
    if (this.$route.query.desde) {
      this.desde = this.$route.query.desde as string;
    }

    if (this.$route.query.hasta) {
      this.hasta = this.$route.query.hasta as string;
    } else {
      this.hasta = format(hoy(), "yyyy-MM-dd");
    }

    // Saldos inicio
    if (this.$route.query.saldosInicio) {
      this.incluirSaldosInicio = true;
    }

    // Grupo
    if (this.$route.query.grupo) {
      // this.cuentasSeleccionadas = this.$route.query.cuentas as string;
      this.grupo = this.$route.query.grupo as string;
    }

    // Cuentas
    if (this.$route.query.cuentas) {
      // this.cuentasSeleccionadas = this.$route.query.cuentas as string;
      if (typeof this.$route.query.cuentas == "string") {
        this.cuentasSeleccionadas = [this.$route.query.cuentas] as string[];
      } else {
        this.cuentasSeleccionadas = this.$route.query.cuentas as string[];
      }
    }
  },
  methods: {
    actualizar() {
      this.cargando++;
      this.dirty = false;
      axios
        .post("/backend/contables/saldos_personas", this.query)
        .then((res) => {
          this.saldos = res.data;
          this.dirty = true;
        })
        .catch((err) => {
          eventBus.$emit("error", err);
          this.dirty = true;
        })
        .finally(() => this.cargando--);
    },
    fijarQuery() {
      let q = {
        empresa: this.empresa,
        desde: this.desde,
        hasta: this.hasta,
        cuentas: this.cuentasSeleccionadas,
        grupo: this.grupo,
      } as any;
      if (this.incluirSaldosInicio) {
        q.saldosInicio = "";
      }

      updateQuery(q, this);
    },
    profundizarContable(personaID: string) {
      this.fijarQuery();
      this.$router.push({
        name: "vistaPersona",
        query: {
          id: personaID,
          tipoFecha: "fecha_contable",
          empresa: this.empresa,
          desde: this.desde,
          hasta: this.hasta,
          cuentas: this.cuentasSeleccionadas,
        },
      });
    },
    ordenarPor(campo: string) {
      console.log("campo era", campo);
      if (campo == "SaldoContable" || campo == "SaldoFinanciero") {
        console.log("ordenando numerico");
        this.saldos.sort((a: any, b: any) => {
          if (a[campo] > b[campo]) {
            return 1;
          } else {
            return -1;
          }
        });
      } else {
        console.log("ordenando string");
        this.saldos.sort((a: any, b: any) => {
          return new Intl.Collator("ar").compare(a[campo], b[campo]);
        });
      }
    },
    tildarCuentasDelGrupo(val: string | null) {
      if (!val) {
        return;
      }
      let gr = this.grupos.find((x) => x.ID == val);
      if (!gr) {
        return;
      }
      this.cuentasSeleccionadas = [];
      for (let v of gr.Cuentas) {
        this.cuentasSeleccionadas.push(v);
      }
    },
    exportarAfip(tipo: string) {
      this.cargando++;
      axios
        .post("/backend/contables/saldos_personas_siap", {
          Empresa: this.empresa,
          Desde: this.desde,
          Hasta: this.hasta,
          Cuentas: this.cuentasSeleccionadas,
          IncluirSaldosInicio: this.incluirSaldosInicio,
          Tipo: tipo,
        })
        .then((res) => {
          const blob = new Blob([res.data], { type: "txt" });
          const link = document.createElement("a");
          link.href = URL.createObjectURL(blob);
          if (tipo == "proveedores") {
            link.download = "SIAP - Pasivo Deudas - Comerciales (locales)";
          }
          if (tipo == "clientes") {
            link.download =
              "SIAP - Act Créditos - Deudores por Venta o Servicios (locales)";
          }
          link.dataset.downloadurl = ["txt", link.download, link.href].join(
            ":"
          );
          document.body.appendChild(link);
          link.click();
          document.body.removeChild(link);
          URL.revokeObjectURL(link.href);
        })
        .catch((error) => {
          eventBus.$emit("error", error);
        })
        .finally(() => this.cargando--);
    },
    exportarExcel() {
	  this.cargando++
      axios({
        method: "post",
        url: "/backend/contables/saldos_personas_excel",
        data: this.query,
        responseType: "arraybuffer",
      })
        .then((res) => {
          const url = window.URL.createObjectURL(new Blob([res.data]));
          const link = document.createElement("a");
          link.href = url;
          link.setAttribute("download", `Saldos.xlsx`); //or any other extension
          document.body.appendChild(link);
          link.click();
        })
        .catch((err) => {
            eventBus.$emit("error", err);
        })
		.finally(() => this.cargando--);
    },
  },
  computed: {
    query(): any {
      return {
        Empresa: this.empresa,
        Desde: this.desde,
        Hasta: this.hasta,
        Cuentas: this.cuentasSeleccionadas,
        IncluirSaldosInicio: this.incluirSaldosInicio,
      };
    },
    empresas(): Empresa[] {
      return this.$store.getters["empresas/permitidas"];
    },
    totalContable(): number {
      let sum = 0;
      for (let v of this.saldos) {
        sum += v.SaldoContable;
      }
      return sum;
    },
    totalFinanciero(): number {
      let sum = 0;
      for (let v of this.saldos) {
        sum += v.SaldoFinanciero;
      }
      return sum;
    },
    mostrarTabla(): boolean {
      if (this.dirty == false) {
        return false;
      }
      if (this.saldos.length) {
        return true;
      }
      return false;
    },
    cuentas(): Cuenta[] {
      let ctas: Cuenta[] = this.$store.getters["cuentas/todas"]();
      let out = ctas.filter((x) => x.AperturaPersona);
      out.sort((a, b) => {
        return new Intl.Collator("ar").compare(a.Nombre, b.Nombre);
      });
      return out;
    },
  },
  watch: {
    grupo(val) {
      if (!val) {
        return;
      }
      this.tildarCuentasDelGrupo(val);
    },
  },
});
</script>

<style scoped>
.item {
  margin-right: 1em;
}

div.titulo-de-pantalla {
  display: flex;
  justify-content: flex-end;
}
.grow {
  flex-grow: 10;
}
</style>
