<template>
  <div id="wrapper">
    <div class="titulo-de-pantalla">
      <h1>{{ titulo }}</h1>
    </div>

    <section>
      <div class="box">
        <b-field label="Nombre" horizontal>
          <b-input type="text" v-model.trim="sucursal.Nombre"> </b-input>
        </b-field>
        <b-field label="Exlusiva de una empresa?" horizontal>
          <b-select v-model="sucursal.Empresa">
            <option :value="null">No</option>
            <option :value="v.ID" v-for="v in empresas" :key="v.ID">{{
              v.Nombre
            }}</option>
          </b-select>
        </b-field>
      </div>
    </section>
    <!-- End Section IDENTIFICACION -->

    <!-- DOMICILIOS -->
    <section>
      <div class="box">
        <h1>Domicilios</h1>
        <!-- <b-modal :active.sync="mostrarDomicilio" has-modal-card scroll="keep"> -->
        <!-- <domicilio
              v-bind="{ d: domicilioEnUso, bus: localBus, crud: 'Nuevo' }"
            ></domicilio> -->
        <!-- </b-modal> -->

        <tabla v-if="sucursal.Domicilios && sucursal.Domicilios.length">
          <thead>
            <tr>
              <th>Dirección</th>
              <th>Ciudad</th>
              <th>Provincia</th>
              <th>Tipo</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <tr v-for="(dom, i) in sucursal.Domicilios" v-bind:key="dom.ID">
              <td>{{ redactarDomicilio(dom) }}</td>
              <td>{{ dom.CiudadNombre }} ({{ dom.CiudadCP }})</td>
              <td>{{ dom.ProvinciaNombre }}</td>
              <td>{{ dom.Tipo }}</td>
              <td>
                <puntitos>
                  <ul>
                    <li @click="modificarDomicilio(dom, i)">
                      Modificar domicilio
                    </li>
                    <li @click="borrarDomicilio(dom, i)">
                      Borrar domicilio
                    </li>
                  </ul>
                </puntitos>
              </td>
            </tr>
          </tbody>
        </tabla>
        <div v-else>No hay domicilios</div>
        <b-button
          class="button agregar"
          @click="nuevoDomicilio()"
          icon-left="plus-circle-outline"
          >Agregar</b-button
        >
      </div>
    </section>

    <!-- EMAILS -->
    <section>
      <div class="box">
        <h1>Emails</h1>
        <tabla v-if="sucursal.Emails && sucursal.Emails.length">
          <thead>
            <tr>
              <th>Email</th>
              <th>Descripción</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, i) in sucursal.Emails" :key="item.Email">
              <td>{{ item.Email }}</td>
              <td>{{ item.Descripcion }}</td>
              <td>
                <puntitos>
                  <ul>
                    <li @click="modificarMail(item, i)">
                      Modificar
                    </li>
                    <li @click="borrarMail(item, i)">
                      Borrar
                    </li>
                  </ul>
                </puntitos>
              </td>
            </tr>
          </tbody>
        </tabla>
        <div v-else>No hay</div>
        <b-button
          class="button"
          @click="nuevoEmail()"
          icon-left="plus-circle-outline"
          >Agregar</b-button
        >
      </div>
    </section>

    <!-- TELEFONOS -->
    <section>
      <div class="box">
        <h1>Teléfonos</h1>
        <tabla v-if="sucursal.Telefonos && sucursal.Telefonos.length">
          <thead>
            <tr>
              <th>Tipo</th>
              <th>Numero</th>
              <th>Detalle</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <tr v-for="(item, i) in sucursal.Telefonos" :key="i">
              <td>{{ item.Tipo }}</td>
              <td>{{ item.Area }}-{{ item.Numero }}</td>
              <td>{{ item.Detalle }}</td>
              <td>
                <puntitos>
                  <ul>
                    <li @click="modificarTelefono(item, i)">
                      Modificar
                    </li>
                    <li @click="borrarTelefono(item, i)">
                      Borrar
                    </li>
                  </ul>
                </puntitos>
              </td>
            </tr>
          </tbody>
        </tabla>
        <div v-else>No hay</div>
        <b-button
          class="button"
          @click="nuevoTelefono()"
          icon-left="plus-circle-outline"
          >Agregar</b-button
        >
      </div>
    </section>

    <section>
      <div class="box">
        <h1>Funcionamiento</h1>
        <b-field horizontal>
          <b-checkbox
            :false-value="true"
            :true-value="false"
            v-model="sucursal.Activo"
          >
            Inactivar cuenta
          </b-checkbox>
        </b-field>
        <b-field
          label="Motivo inactividad"
          v-if="sucursal.Activo == false"
          horizontal
        >
          <b-input type="text" v-model="sucursal.MotivoInactividad"> </b-input>
        </b-field>
      </div>
    </section>
    <!-- end section FUNCIONAMIENTO-->

    <section>
      <div class="box">
        <h1>Cuentas contables</h1>
        <b-field label="Cuentas habilitadas" horizontal>
          <b-select v-model="cuentaAsociadaParaAgregar" expanded>
            <option
              v-for="(v, i) in cuentasConApertura"
              :key="i"
              :value="v.ID"
              >{{ v.Nombre }}</option
            >
          </b-select>
          <b-button @click="agregarCuentaAsociada()">Agregar</b-button>
        </b-field>
        <tabla
          v-if="sucursal.CuentasAsociadas && sucursal.CuentasAsociadas.length"
        >
          <thead>
            <th>Código</th>
            <th>Nombre</th>
            <th></th>
          </thead>
          <tbody>
            <tr
              v-for="(v, i) in this.sucursal.CuentasAsociadas"
              :key="v.Cuenta"
            >
              <td>{{ $store.getters["cuentas/porID"](v.Cuenta).Codigo }}</td>
              <td>{{ $store.getters["cuentas/porID"](v.Cuenta).Nombre }}</td>
              <td>
                <b-button @click="quitarCuentaAsociada(i)">Quitar</b-button>
              </td>
            </tr>
          </tbody>
        </tabla>
      </div>
    </section>
    <!-- end section SUCURSALES-->

    <b-field grouped position="is-right">
      <b-button class="is-success" @click="submit()">Guardar</b-button>
      <b-button class="is-danger" @click="eliminar()" v-if="!esNueva"
        >Eliminar</b-button
      >
      <b-button @click.prevent="volver()">Cancelar</b-button>
    </b-field>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import axios from "axios";
import eventBus from "@/eventBus";
import Puntitos from "@/components/widgets/Puntitos.vue";
import DomicilioComp from "@/modules/personas/components/Domicilio.vue";
import EmailComp from "@/modules/personas/components/Email.vue";
import TelefonoComp from "@/modules/personas/components/Telefono.vue";
import { Cuenta } from "@/interfaces/cuentas";
import { Empresa } from "@/interfaces/empresas";
import {
  CuentaAsociada,
  Domicilio,
  Email,
  Sucursal,
  Telefono
} from "@/modules/personas/personas";

export default Vue.extend({
  components: {
    Puntitos
  },
  data() {
    return {
      sucursal: {
        ID: null,
        PersonaID: null,
        Nombre: "",
        NSucursal: null,
        CuentasAsociadas: [],
        Telefonos: [],
        Emails: [],
        Domicilios: [],
        ProvinciaID: 0,
        ProvinciaNombre: "",
        CiudadID: 0,
        CiudadCP: 0,
        CiudadNombre: "",
        Calle: "",
        Numero: "",
        Piso: "",
        Depto: "",
        Tipo: "",
        Activo: true,
        MotivoInactividad: "",
        Empresa: null
      } as Sucursal,

      mostrarDomicilio: false as boolean,

      cuentaAsociadaParaAgregar: null as null | string,
      localBus: new Vue(),
      rtdo: "" as string,
      cargando: false as boolean
    };
  },
  created() {
	document.title = "Sucursal"
    this.hooksDomicilio();
    this.hooksMail();
    this.hooksTelefono();

    if (this.esNueva) {
      this.sucursal.PersonaID = this.$route.query.persona as string;
    } else {
      axios
        .post("/backend/sucursales/read_one", { ID: this.$route.query.id })
        .then(res => {
          this.sucursal = res.data;
        })
        .catch(err => {
          eventBus.$emit("error", err);
        });
    }
  },
  computed: {
    cuentasConApertura(): Cuenta[] {
      return this.$store.getters["cuentas/conAperturaRestrictivaPorPersona"];
    },
    titulo(): string {
      if (this.esNueva) {
        return "Nueva sucursal";
      } else {
        return "Modificacion sucursal";
      }
    },
    esNueva(): boolean {
      if (this.$route.query.id == undefined) {
        return true;
      } else {
        return false;
      }
    },

    empresas(): Empresa[] {
      return this.$store.getters["empresas/permitidas"];
    }
  },
  methods: {
    submit() {
      // Si es nueva sucursal
      if (this.esNueva) {
        // for (let k in this.sucursal.Domicilios) {
        //   delete this.sucursal.Domicilios[k].ID;
        // }
        this.sucursal.PersonaID = this.$route.query.persona as string;
        axios
          .post("/backend/sucursales/create", this.sucursal)
          .then(() => {
            this.$router.go(-1);
          })
          .catch(error => {
            eventBus.$emit("error", error);
          });
      }

      // Si estoy modificando
      if (this.esNueva == false) {
        axios
          .post("/backend/sucursales/update", this.sucursal)
          .then(() => {
            this.$router.go(-1);
          })
          .catch(error => {
            eventBus.$emit("error", error);
          });
      }
    },
    eliminar() {
      this.$buefy.dialog.confirm({
        title: "Borrar operación",
        message: "¿Está seguro que desea <b>borrar</b> esta sucursal? ",
        confirmText: "Borrar",
        type: "is-danger",
        hasIcon: true,
        onConfirm: () => {
          this.cargando = true;
          axios
            .post("/backend/sucursales/sucursal_delete", {
              Persona: this.sucursal.PersonaID,
              Sucursal: this.sucursal.ID
            })
            .then(res => {
              this.cargando = false;
              this.$router.go(-1);
            })
            .catch(err => {
              eventBus.$emit("error", err);
              this.cargando = false;
            });
        }
      });
    },
    volver() {
      this.$router.go(-1);
    },
    agregarCuentaAsociada() {
      if (!this.sucursal.CuentasAsociadas) {
        this.sucursal.CuentasAsociadas = [];
      }
      console.log("Creando cuenta...");
      let item = {
        Cuenta: this.cuentaAsociadaParaAgregar,
        Persona: this.sucursal.PersonaID,
        Sucursal: this.sucursal.ID
      } as CuentaAsociada;

      console.log("Buscando cuenta...");
      let estaba = this.sucursal.CuentasAsociadas.find(
        item => item.Cuenta == this.cuentaAsociadaParaAgregar
      );
      if (estaba) {
        this.$buefy.dialog.alert({
          title: "Validación",
          message: "La cuenta ya estaba agregada",
          type: "is-danger",
          hasIcon: true,
          icon: "times-circle",
          iconPack: "fa",
          ariaRole: "alertdialog",
          ariaModal: true
        });
        return;
      }
      console.log("Pushing cuenta...");
      this.sucursal.CuentasAsociadas.push(item);
      console.log("Cuenta pushed...");
    },
    quitarCuentaAsociada(idx: number) {
      this.sucursal.CuentasAsociadas.splice(idx, 1);
    },
    mostrarDomicilioModal(domicilio: Domicilio, i: number, crud: string) {
      this.$buefy.modal.open({
        parent: this,
        component: DomicilioComp,
        hasModalCard: true,
        trapFocus: true,
        scroll: "clip",
        props: { d: domicilio, i: i, bus: this.localBus, crud: crud }
      });
    },
    // Crea el objeto vacío y muestra la pantalla para editarlo
    nuevoDomicilio() {
      let dom = {
        ID: "",
        Tipo: "",
        DomCalle: "",
        DomNumero: "",
        DomPiso: "",
        DomDpto: "",
        CiudadID: 0,
        CiudadCP: 0,
        CiudadNombre: "",
        ProvinciaID: 0,
        ProvinciaNombre: ""
      } as Domicilio;
      this.mostrarDomicilioModal(dom, 0, "Nuevo");
    },
    // Abre la pantalla modal para mostrar la edición del domicilio
    modificarDomicilio(d: Domicilio, i: number) {
      let dom = Object.assign({}, d);
      this.mostrarDomicilioModal(dom, i, "Modificar");
    },
    borrarDomicilio(dom: Domicilio, i: number) {
      this.$buefy.dialog.confirm({
        message: "¿Está seguro que desea borrar este domicilio?",
        onConfirm: () => this.sucursal.Domicilios.splice(i, 1)
      });
    },

    redactarDomicilio(d: Domicilio) {
      let t = d.DomCalle + " " + d.DomNumero;
      if (d.DomPiso != "" && d.DomPiso != null) {
        t += " - Piso: " + d.DomPiso;
      }
      if (d.DomDpto != "" && d.DomDpto != null) {
        t += " - Dpto: " + d.DomDpto;
      }
      return t;
    },
    // Crea el objeto vacío y muestra la pantalla para editarlo
    nuevoEmail() {
      let mail = {
        Descripcion: "",
        Email: ""
      };
      this.mostrarMail(mail, 0, "Nuevo");
    },
    // Abre la pantalla para modificar un mail existente
    modificarMail(m: Email, i: number) {
      let mail = Object.assign({}, m);
      this.mostrarMail(mail, i, "Modificar");
    },
    mostrarMail(mail: Email, i: number, crud: string) {
      this.$buefy.modal.open({
        parent: this,
        component: EmailComp,
        hasModalCard: true,
        trapFocus: true,
        scroll: "clip",
        props: { email: mail, i: i, bus: this.localBus, crud: crud }
      });
    },
    borrarMail(dom: Domicilio, i: number) {
      this.$buefy.dialog.confirm({
        message: "¿Está seguro que desea borrar este E-Mail?",
        onConfirm: () => this.sucursal.Emails.splice(i, 1)
      });
    },
    mostrarTelefono(telefono: Telefono, i: number, crud: string) {
      this.$buefy.modal.open({
        parent: this,
        component: TelefonoComp,
        hasModalCard: true,
        trapFocus: true,
        scroll: "clip",
        props: { tel: telefono, i: i, bus: this.localBus, crud: crud }
      });
    },
    nuevoTelefono() {
      let tel = {
        Tipo: "",
        Area: 0,
        Numero: 0,
        NumeroCompleto: "",
        Detalle: ""
      } as Telefono;
      this.mostrarTelefono(tel, 0, "Nuevo");
    },
    modificarTelefono(telefono: Telefono, i: number) {
      let tel = Object.assign({}, telefono);
      this.mostrarTelefono(tel, i, "Modificar");
    },
    borrarTelefono(tel: Telefono, i: number) {
      this.$buefy.dialog.confirm({
        message: "¿Está seguro que desea borrar este teléfono?",
        onConfirm: () => this.sucursal.Telefonos.splice(i, 1)
      });
    },
    hooksDomicilio() {
      this.localBus.$on("domicilioAgregado", (d: Domicilio) => {
        if (this.sucursal.Domicilios == undefined) {
          this.sucursal.Domicilios = [];
        }
        this.sucursal.Domicilios.push(d);
        if (d.Tipo == "Legal") {
          this.fijarDomicilioPersona(d);
        }
      });
      this.localBus.$on("domicilioModificado", (d: Domicilio, i: number) => {
        this.sucursal.Domicilios.splice(i, 1, d);
        if (d.Tipo == "Legal") {
          this.fijarDomicilioPersona(d);
        }
      });
    },
    // Cuando se agrega un domicilio de tipo Legal, este es el que le queda
    // Pegado a la sucursal
    fijarDomicilioPersona(d: Domicilio) {
      this.sucursal.Calle = d.DomCalle;
      this.sucursal.Numero = d.DomNumero;
      this.sucursal.Piso = d.DomPiso;
      this.sucursal.Depto = d.DomDpto;
      this.sucursal.CiudadID = d.CiudadID;
      this.sucursal.CiudadCP = d.CiudadCP;
      this.sucursal.CiudadNombre = d.CiudadNombre;
      this.sucursal.ProvinciaID = d.ProvinciaID;
      this.sucursal.ProvinciaNombre = d.ProvinciaNombre;
    },
    hooksMail() {
      this.localBus.$on("mailAgregado", (d: Email) => {
        if (this.sucursal.Emails == undefined) {
          this.sucursal.Emails = [];
        }
        this.sucursal.Emails.push(d);
      });
      this.localBus.$on("mailModificado", (d: Email, i: number) => {
        this.sucursal.Emails.splice(i, 1, d);
      });
    },
    hooksTelefono() {
      this.localBus.$on("telefonoAgregado", (tel: Telefono) => {
        if (!this.sucursal.Telefonos) {
          this.sucursal.Telefonos = [];
        }
        this.sucursal.Telefonos.push(tel);
      });
      this.localBus.$on("telefonoModificado", (tel: Telefono, i: number) => {
        this.sucursal.Telefonos.splice(i, 1, tel);
      });
    }
  }
});
</script>
<style lang="scss" scoped>
h3 {
  margin-top: 35px;
}

div#wrapper {
  max-width: 800px;
  margin: auto;
}
</style>
