<template>
  <div id="wrapper">
    <header class="block">
      <!-- <h1 class="title">Vista por persona</h1> -->

      <div class="columns">
        <div class="column">
          <div class="datos-persona-domicilio box">
            <h1>
              <router-link
                :to="{
                  name: 'persona',
                  query: {
                    id: persona.ID,
                  },
                }"
                target="_blank"
                rel="noreferrer noopener"
              >
                {{ titulo }}
              </router-link>
            </h1>
            <div v-if="nidentificacion">
              <span class="label-key">{{ tipoIdentificacion }}:</span>
              {{ nidentificacion }}
            </div>
            <b-select
              placeholder="Todas las sucursales"
              v-if="persona.UsaSucursales"
              v-model="sucursal"
            >
              <option :value="null">Todas</option>
              <option v-for="v in persona.Sucursales" :value="v.ID" :key="v.ID">
                {{ v.Nombre }}
              </option>
            </b-select>
            <span class="label-key">Calle: </span>
            {{ calleString }} <br />
            <span class="label-key">Ciudad: </span>
            {{ ciudadString }} <br />
            <div v-if="emails" class="att">
              <span class="label-key">E-mail: </span>
              <span> {{ emails }}</span>
              <!-- <b-icon icon="at" type="is-info"/> -->
            </div>
            <div class="att">
              <span class="label-key">Teléfono: </span>
              <!-- <b-icon icon="phone" type="is-info"/> -->
              <span>{{ telefonoString }}</span>
            </div>
            <!-- Fecha alta:   {{ persona.CreatedAt | enFechaHora }} -->
          </div>
        </div>
        <div class="column">
          <div class="box"></div>
        </div>
      </div>
    </header>

    <!-- <div class="column widget is-12-tablet is-6-desktop is-4-widescreen"> -->
    <section class="block" id="cta-cte">
      <div class="box">
        <h2 class="title is-4">Cuenta corriente</h2>

        <b-field>
          <b-field label="Empresa">
            <b-select v-model="empresa">
              <option :value="null">Todas</option>
              <option v-for="v in empresas" :value="v.ID" :key="v.ID">
                {{ v.Nombre }}
              </option>
            </b-select>
          </b-field>
          <b-field label="Por">
            <b-select v-model="tipoFecha">
              <option value="fecha_financiera">Fecha financiera</option>
              <option value="fecha_contable">Fecha contable</option>
            </b-select>
          </b-field>
          <b-field class="button-bottom">
            <b-button class="is-primary button-bottom" @click="actualizar()"
              >Actualizar</b-button
            >
          </b-field>
        </b-field>

        <b-tabs type="is-boxed" class="sep-tabs">
          <b-tab-item label="Movimientos" icon="movie-roll">
            <b-field>
              <b-field label="Desde">
                <b-input v-model="desde" type="date" custom-class="fch" />
              </b-field>
              <b-field label="Hasta">
                <b-input v-model="hasta" type="date" custom-class="fch" />
              </b-field>
              <b-field label="Grupo">
                <b-select v-model="grupo">
                  <option :value="null">Todos</option>
                  <option v-for="v in grupos" :value="v.ID" :key="v.ID">
                    {{ v.Nombre }}
                  </option>
                </b-select>
              </b-field>
              <b-field label="Cuentas" v-if="cuentas" class="multi-select">
                <multiselect
                  :options="cuentas"
                  v-model="cuentasSeleccionadas"
                  mode="tags"
                  valueProp="ID"
                  label="Nombre"
                  placeholder="Todas"
                  :close-on-select="false"
                >
                </multiselect>
              </b-field>
            </b-field>
            <div class="box-header">
              <h2 class="title is-4"></h2>
              <output-buttons :pdf="outputPDF" size="is-large"></output-buttons>
            </div>
            <tabla
              id="movs"
              v-if="
                movimientosResp &&
                (movimientosResp.Movimientos.length ||
                  movimientosResp.SaldoFinal != 0)
              "
            >
              <col style="width: 4em" />
              <col style="width: 12em" />
              <col style="width: 10.5em" />
              <col style="width: 9em" />
              <col style="width: 9em" />
              <col style="width: 9em" />
              <col />
              <col style="width: 12em" align="right" />
              <thead>
                <th align="center">{{ tipoFechaStr }}</th>
                <th>Comprobante</th>
                <th align="center">Número</th>
                <th align="right">Debe</th>
                <th align="right">Haber</th>
                <th align="right">Saldo</th>
                <th>Detalle</th>
                <th>Creación</th>
              </thead>
              <tbody>
                <tr>
                  <td colspan="4"></td>
                  <td align="right">{{ saldoInicioString }}</td>
                  <td
                    align="right"
                    :class="{
                      roja: movimientosResp.SaldoFinal < 0,
                      verde: movimientosResp.SaldoFinal > 0,
                      total: true,
                    }"
                  >
                    {{ movimientosResp.SaldoInicio | enPesos }}
                  </td>
                </tr>

                <tr
                  v-for="v in movimientosResp.Movimientos"
                  :key="v.ID"
                  class="link"
                  @click="profundizar(v.ID)"
                >
                  <td align="center" v-if="tipoFecha == 'fecha_contable'">
                    {{ v.Fecha | enFecha }}
                  </td>
                  <td align="center" v-if="tipoFecha == 'fecha_financiera'">
                    {{ v.FechaVto | enFecha }}
                  </td>
                  <td>{{ v.CompNombre }}</td>
                  <td>{{ v.NComp }}</td>
                  <td align="right">{{ v.Monto | debe }}</td>
                  <td align="right">{{ v.Monto | haber }}</td>
                  <td
                    align="right"
                    :class="{
                      roja: v.Saldo < 0,
                      verde: v.Saldo > 0,
                    }"
                  >
                    {{ v.Saldo | enPesos }}
                  </td>
                  <td>{{ v.Detalle }}</td>
                  <td>{{ creacion(v) }}</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="4"></td>
                  <td align="right">{{ saldoFinalString }}</td>
                  <td
                    align="right"
                    :class="{
                      roja: movimientosResp.SaldoFinal < 0,
                      verde: movimientosResp.SaldoFinal > 0,
                      total: true,
                    }"
                  >
                    {{ movimientosResp.SaldoFinal | enPesos }}
                  </td>
                  <td></td>
                  <td></td>
                </tr>
              </tfoot>
            </tabla>
            <p v-else>
              <span v-if="dirty">No se encontraron movimientos</span>
            </p>
          </b-tab-item>
          <b-tab-item label="Pendientes" icon="checkbox-multiple-outline">
            <tabla v-if="partidas && partidas.length">
              <thead>
                <th align="center">Comprobante</th>
                <th align="center">Número</th>
                <th align="center">{{ tipoFechaStr }}</th>
                <th align="center">Días</th>
                <th align="center">Monto original</th>
                <th align="center">Debe</th>
                <th align="center">Haber</th>
                <th align="center">Saldo</th>
              </thead>
              <tbody>
                <tr v-for="v in partidas" :key="v.ID">
                  <td>{{ v.TipoComp }}</td>
                  <td>{{ v.NComp }}</td>
                  <td align="center" v-if="tipoFecha == 'fecha_contable'">
                    {{ v.FechaContable | enFecha }}
                  </td>
                  <td align="center" v-if="tipoFecha == 'fecha_financiera'">
                    {{ v.FechaFinanciera | enFecha }}
                  </td>
                  <td align="right">{{ v.Dias }}</td>
                  <td>{{ v.MontoOriginal | enPesos }}</td>
                  <td align="right">{{ v.MontoPendiente | debe }}</td>
                  <td align="right">{{ v.MontoPendiente | haber }}</td>
                  <td align="right">{{ v.Saldo | enPesos }}</td>
                </tr>
              </tbody>
            </tabla>
            <p v-else>No existen partidas pendientes</p>
            <div v-if="partidas && partidas.length">
              <h2 class="subtitle">Cálculo de intereses</h2>
              <tabla>
                <tbody>
                  <tr>
                    <td>Tasa efectiva mensual</td>
                    <td><b-input v-model="tasa" custom-class="d2" /></td>
                  </tr>
                  <tr>
                    <td>Fecha cálculo</td>
                    <td><b-input v-model="fechaCalculo" type="date" /></td>
                  </tr>
                  <tr>
                    <td>Intereses calculados</td>
                    <td align="right">
                      <p class="input" custom-class="d2">
                        $ {{ interesesCalculados | enPesos }}
                      </p>
                    </td>
                  </tr>
                </tbody>
              </tabla>
            </div>
          </b-tab-item>
          <b-tab-item label="Saldos" icon="camera">
            <tabla v-if="saldos && saldos.length">
              <thead>
                <th>Cuenta</th>
                <th align="right">Pendiente</th>
                <th align="right">Días máximo</th>
                <th align="right">Días promedio</th>
              </thead>
              <tbody>
                <tr
                  v-for="v in saldos"
                  :key="String(v.Cuenta) + String(v.Centro)"
                >
                  <td>{{ concatCuentaCentro(v.Cuenta, v.Centro) }}</td>
                  <td align="right">{{ v.Monto | enPesos }}</td>
                  <td align="right">{{ v.Anticuacion }}</td>
                  <td align="right">{{ v.AnticuacionPromedio }}</td>
                </tr>
              </tbody>
              <tfoot>
                <td align="right">Total</td>
                <td align="right">{{ totalSaldos | enPesos }}</td>
                <td></td>
                <td></td>
              </tfoot>
            </tabla>
            <p v-else>No existen saldos pendientes</p>
          </b-tab-item>
          <b-tab-item label="Ventas" icon="gift" v-if="ventasGrupos.length">
            <b-field>
              <b-field label="Grupo">
                <b-select v-model="ventasGrupo">
                  <option v-for="v in ventasGrupos" :value="v.ID" :key="v.ID">
                    {{ v.Nombre }}
                  </option>
                </b-select>
              </b-field>
              <b-field label="Desde">
                <b-input type="date" v-model="ventasDesde" custom-class="fch" />
              </b-field>
              <b-field label="Hasta">
                <b-input type="date" v-model="ventasHasta" custom-class="fch" />
              </b-field>
              <b-field class="button-bottom">
                <b-button
                  @click="fetchVentas()"
                  class="button-bottom is-info"
                  icon-left="reload"
                ></b-button>
              </b-field>
            </b-field>
            <div v-if="ventas">
              <tabla v-if="ventas.length">
                <thead>
                  <th>Producto</th>
                  <th>Unidad</th>
                  <th align="right">Cantidad</th>
                  <th align="right">Monto</th>
                </thead>
                <tbody>
                  <tr v-for="v in ventas" :key="v.ID">
                    <td>{{ v.Nombre }}</td>
                    <td align="right">{{ v.UM }}</td>
                    <td align="right">{{ v.Cantidad | enPesos }}</td>
                    <td align="right">{{ v.Monto | enPesos }}</td>
                  </tr>
                </tbody>
                <tfoot>
                  <td align="right">Total</td>
                  <td></td>
                  <td align="right">{{ totalVentasCantidades | enPesos }}</td>
                  <td align="right">{{ totalVentas | enPesos }}</td>
                </tfoot>
              </tabla>
              <p v-else>No existen datos para el período</p>
            </div>
          </b-tab-item>
          <b-tab-item label="Reclamos" icon="calendar">
            <Reclamos :persona="id" :sucursal="sucursal" v-if="id"/>
          </b-tab-item>
        </b-tabs>
      </div>
    </section>

    <b-loading :active="cargando != 0"></b-loading>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import axios from "axios";
import eventBus from "@/eventBus";
import Reclamos from "../components/Reclamos.vue";
import { differenceInDays, format, subMonths, startOfMonth } from "date-fns";
import { CuentaAsociada, Persona, Sucursal, Email } from "../personas";
import { Centro } from "@/modules/centros/centros";
import { Cuenta, Grupo } from "@/interfaces/cuentas";
import { Empresa } from "@/interfaces/empresas";
// import EmailComponent from "@/components//Email.vue"
import {
  Movimiento,
  MovimientosResponse,
  Saldo,
  Ventas,
  Partida,
} from "@/interfaces/vistaPersona";
import { updateQuery } from "@/modules/routeUtil";
import { conGuiones } from "@/modules/afip/cuit";
import OutputButtons from "@/components/widgets/OutputButtons.vue";
import { enHora, enFecha, enFechaHora } from "@/modules/util/format";
import { hoy, newDate } from "@/modules/util/fechas";

export default Vue.extend({
  components: {
    OutputButtons,
    Reclamos,
  },
  data() {
    return {
      empresa: null as string | null,
      persona: {
        ID: "",
        Nombre: "",
        NombreFantasia: "",
        CUIT: "",
        DNI: "",
        ProvinciaNombre: "",
        CiudadCP: 0,
        CiudadNombre: "",
        Calle: "",
        Numero: "",
        Piso: "",
        Depto: "",
        Tipo: "",
        CondicionIVA: "",
        CondicionMT: "",
        UsaSucursales: false,
        Sucursales: [] as Sucursal[],
        CuentasAsociadas: [] as CuentaAsociada[],
        Emails: [] as Email[],
      } as Persona,
      sucursal: null as string | null,

      saldos: [] as Saldo[],
      partidas: [] as Partida[],

      ventasDesde: format(subMonths(hoy(), 12), "yyyy-MM-dd") as string,
      ventasHasta: null,
      ventasGrupo: null as string | null,
      ventasGrupos: [] as Grupo[],
      ventas: null as Ventas[] | null,

      movimientosResp: null as MovimientosResponse | null,

      cargando: 0,
      dirty: false,
      grupos: [] as Grupo[],

      tasa: 5 as number,
      fechaCalculo: format(hoy(), "yyyy-MM-dd") as string,
      interesesCalculados: 0 as number,
      id: null as string | null,
      tipoFecha: "fecha_contable" as string,
      desde: this.$route.query.desde as string,
      hasta: this.$route.query.hasta as string,
      grupo: null as string | null,
      cuentasSeleccionadas: [] as string[],
      prepare: 2 as number,
    };
  },
  created() {
    document.title = "Persona vista";
    this.parseQuery();

    this.$watch("empresa", (nueva, anterior) => {
      if (nueva != anterior) {
        console.log("cambió empresa", anterior, nueva);
        this.actualizar();
      }
    });

    // Grupos
    this.fetchCuentasGrupos();
    this.fetchPersona();
  },
  methods: {
    parseQuery() {
      this.id = this.$route.query.id as string;

      // Empresa
      if (this.$route.query.empresa) {
        this.empresa = this.$route.query.empresa as string;
      } else {
        let emp = this.$store.getters["empresas/seleccionada"];
        console.log("fijando empresa", emp);
        if (emp) {
          this.empresa = emp.ID;
        }
      }

      // Tipo fecha
      if ("tipoFecha" in this.$route.query) {
        this.tipoFecha = this.$route.query.tipoFecha as string;
      }

      // Hasta
      if (this.$route.query.hasta) {
        this.hasta = this.$route.query.hasta as string;
      }

      // Desde
      if ("desde" in this.$route.query) {
        this.desde = this.$route.query.desde as string;
      } else {
        let hasta = this.hasta;
        if (!hasta) {
          hasta = format(hoy(), "yyyy-MM-dd");
        }
        this.desde = format(subMonths(startOfMonth(hoy()), 4), "yyyy-MM-dd");
      }

      // Grupo cuentas
      if (this.$route.query.grupo) {
        this.grupo = this.$route.query.grupo as string;
      }

      // Cuentas
      if (this.$route.query.cuentas) {
        this.cuentasSeleccionadas = String(this.$route.query.cuentas).split(
          ","
        );
      }
    },
    actualizar() {
      // Busco comprobantes pendientes
      this.fetchCuentaCorriente();

      // Busco movimientos
      this.fetchMovimientos();

    },
    fetchCuentaCorriente() {
      this.cargando++;
      axios
        .post("/backend/contables/vista_persona_cuenta_corriente", {
          ID: this.id,
          Empresa: this.empresa,
          Sucursal: this.sucursal,
        })
        .then((res) => {
          this.saldos = res.data.Saldos;
          this.partidas = res.data.Partidas;
          let saldo = 0;
          for (let v of this.partidas) {
            saldo += v.MontoPendiente;
            v.Saldo = saldo;
          }
          this.calcularDias();
          this.calcularIntereses();
          this.dirty = true;
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },
    fetchMovimientos() {
      this.cargando++;
      axios
        .post("/backend/contables/vista_persona_movimientos", {
          PersonaID: this.id,
          Sucursal: this.sucursal,
          Empresa: this.empresa,
          TipoFecha: this.tipoFecha,
          Desde: this.desde,
          Hasta: this.hasta,
          Cuentas: this.cuentasSeleccionadas,
        })
        .then((res) => {
          this.movimientosResp = res.data;
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },
    fetchCuentasGrupos() {
      this.cargando++;
      return axios
        .post("/backend/cuentasgrupos/many", {})
        .then((res) => {
          this.grupos = res.data;
          for (let v of this.grupos) {
            if (v.Tipo == "ventas") {
              this.ventasGrupos.push(v);
            }
          }
          console.log("ventasGrupos tenía", this.ventasGrupos.length);
          if (this.ventasGrupos.length == 1) {
            this.ventasGrupo = this.ventasGrupos[0].ID;
          }
          this.fijarGrupoCuentaCorriente();
          this.tildarCuentasDelGrupo(this.grupo);
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => {
          this.cargando--;
          this.prepare--;
          console.log("Finalizó fetchCuentasGrupos()");
        });
    },
    fetchPersona() {
      this.cargando++;
      return axios
        .post("/backend/personas/persona", { ID: this.id })
        .then((res) => {
          this.persona = res.data;
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => {
          this.cargando--;
          this.prepare--;
          console.log("Finalizó fetchPersona()");
        });
    },
    fetchVentas() {
      if (!this.ventasGrupo) {
        return;
      }
      let gr = this.grupos.find((x) => x.ID == this.ventasGrupo);
      if (!gr) {
        return;
      }
      let cc = [];
      for (let v of gr.Cuentas) {
        cc.push(v);
      }
      this.cargando++;
      axios
        .post("/backend/contables/vista_persona_ventas", {
          Persona: this.persona.ID,
          Empresa: this.empresa,
          Desde: this.ventasDesde,
          Hasta: this.ventasHasta,
          Cuentas: cc,
        })
        .then((res) => {
          this.ventas = res.data;
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },
    fijarGrupoCuentaCorriente() {
      const com = this.$store.getters["comitentes/enUso"];
      if (!com) {
        return;
      }
      if (!com.CuentaCorriente) {
        return;
      }
      this.grupo = com.CuentaCorriente;
      this.tildarCuentasDelGrupo(this.grupo);
    },
    profundizar(id: string) {
      updateQuery(
        {
          id: this.id,
          empresa: this.empresa,
          desde: this.desde,
          hasta: this.hasta,
          tipoFecha: this.tipoFecha,
          cuentas: this.cuentasSeleccionadas,
          grupo: this.grupo,
        },
        this
      );
      this.$router.push({ name: "mostrarComprobante", query: { op: id } });
    },
    tildarCuentasDelGrupo(val: string | null) {
      if (!val) {
        return;
      }
      let gr = this.grupos.find((x) => x.ID == val);
      if (!gr) {
        return;
      }
      const out = [];
      for (let v of gr.Cuentas) {
        out.push(v);
      }
      out.sort((a: string, b: string) => {
        return new Intl.Collator("ar").compare(
          this.cuentaNombre(a),
          this.cuentaNombre(b)
        );
      });

      this.cuentasSeleccionadas = out;
    },
    cuentaNombre(id: string): string {
      let cta = this.$store.getters["cuentas/porID"](id);
      if (!cta) {
        return id;
      }
      return cta.Nombre;
    },
    centroNombre(id: string): string {
      let cto: Centro = this.$store.getters["centros/porID"](id);
      if (!cto) {
        return id;
      }
      return cto.Nombre;
    },
    concatCuentaCentro(idCta: string, idCto: string) {
      let cuenta = this.cuentaNombre(idCta);
      let centro = this.centroNombre(idCto);
      if (centro) {
        return cuenta + " - " + centro;
      }
      return cuenta;
    },
    outputPDF() {
      if (!this.empresa) {
        this.$buefy.dialog.alert({
          title: "Validación",
          message: "Debe seleccionar una sola empresa para imprimir resumen",
          ariaRole: "alertdialog",
          ariaModal: true,
        });
        return;
      }

      axios({
        method: "post",
        url: "/backend/contables/vista_persona_movimientos_pdf",
        data: {
          PersonaID: this.id,
          Empresa: this.empresa,
          Sucursal: this.sucursal,
          TipoFecha: this.tipoFecha,
          Desde: this.desde,
          Hasta: this.hasta,
        },
        responseType: "arraybuffer",
      })
        .then((res) => {
          let blob = new Blob([res.data], { type: "application/pdf" }),
            url = window.URL.createObjectURL(blob);

          window.open(url);
        })
        .catch((err) => {
          if (err.response) {
            eventBus.$emit("error", err);
          } else {
            eventBus.$emit("error", err);
          }
        });
    },
    creacion(v: Movimiento) {
      let fec = v.Fecha;
      if (this.tipoFecha == "fecha_financiera") {
        fec = v.FechaVto;
      }
      if (v.CreatedAt.substring(0, 10) == fec) {
        return enHora(v.CreatedAt);
      }
      return enFechaHora(v.CreatedAt);
    },
    calcularIntereses() {
      let acum = 0;
      for (let v of this.partidas) {
        let interes =
          v.MontoPendiente * (Math.pow(1 + this.tasa / 100, v.Dias / 30) - 1);
        acum += interes;
      }
      this.interesesCalculados = acum;
    },
    calcularDias() {
      let fchAnalisis = newDate(this.fechaCalculo);
      for (let v of this.partidas) {
        let fch = newDate(v.FechaFinanciera);
        v.Dias = differenceInDays(fchAnalisis, fch);
      }
    },
  },
  computed: {
    cuentas(): Cuenta[] {
      let ctas: Cuenta[] = this.$store.getters["cuentas/todas"]();
      let out = ctas.filter((x) => x.AperturaPersona && x.UsaAplicaciones);
      out.sort((a, b) => {
        return new Intl.Collator("ar").compare(a.Nombre, b.Nombre);
      });
      return out;
    },
    titulo(): string {
      if (this.persona) {
        return this.persona.Nombre;
      }
      return "";
    },
    totalVentas() {
      if (!this.ventas) {
        return;
      }
      let sum = 0;
      for (let v of this.ventas) {
        sum += v.Monto;
      }
      return sum;
    },
    totalVentasCantidades() {
      if (!this.ventas) {
        return;
      }
      let sum = 0;
      for (let v of this.ventas) {
        sum += v.Cantidad;
      }
      return sum;
    },
    totalSaldos() {
      if (!this.saldos) {
        return;
      }
      let sum = 0;
      for (let v of this.saldos) {
        sum += v.Monto;
      }
      return sum;
    },
    saldoInicioString(): string {
      if (!this.movimientosResp) {
        return "";
      }
      if (this.movimientosResp.SaldoInicioFecha) {
        return `Saldo al ${enFecha(this.movimientosResp.SaldoInicioFecha)}`;
      }
      return "";
    },

    saldoFinalString(): string {
      if (!this.movimientosResp) {
        return "";
      }
      if (this.movimientosResp.SaldoFinalFecha) {
        return `Saldo al ${enFecha(this.movimientosResp.SaldoFinalFecha)}`;
      }
      return "Saldo final";
    },
    tipoIdentificacion(): string {
      let id = "";
      if (this.persona.TipoCUIT) {
        id = this.persona.TipoCUIT;
      } else if (this.persona.TipoDNI) {
        id = this.persona.TipoDNI;
      }
      let nombre = this.$store.getters["iva/identificacionPorID"](id);
      if (!nombre) {
        return "N/D";
      }
      return nombre.Nombre;
    },
    nidentificacion(): string {
      if (!this.persona) {
        return "";
      }
      if (this.persona.CUIT) {
        return conGuiones(this.persona.CUIT);
      } else if (this.persona.DNI) {
        return this.persona.DNI;
      }
      return "";
    },
    emails(): string {
      let out = [];
      if (this.sucursal) {
        let suc = this.persona.Sucursales.find((x) => x.ID == this.sucursal);
        if (suc) {
          if (suc.Emails) {
            for (let v of suc.Emails) {
              out.push(v.Email.toLowerCase());
            }
          }
        }
      } else {
        if (this.persona.Emails) {
          for (let v of this.persona.Emails) {
            out.push(v.Email.toLowerCase());
          }
        }
      }
      return out.join(", ");
    },
    telefonoString(): string {
      let out = [];
      if (this.sucursal) {
        let suc = this.persona.Sucursales.find((x) => x.ID == this.sucursal);
        if (suc) {
          if (suc.Telefonos) {
            for (let v of suc.Telefonos) {
              out.push(`${v.NumeroCompleto}`);
            }
          }
        }
      } else {
        if (this.persona.Telefonos) {
          for (let v of this.persona.Telefonos) {
            out.push(`${v.NumeroCompleto}`);
          }
        } else {
          return "N/D";
        }
      }
      return out.join(", ");
    },
    empresas(): Empresa[] {
      return this.$store.state.empresas.delComitente;
    },
    calleString(): string {
      if (this.sucursal) {
        let suc = this.persona.Sucursales.find((x) => x.ID == this.sucursal);
        if (suc) {
          return `${suc.Calle} ${suc.Numero} ${suc.Piso} ${suc.Depto}`;
        }
      }

      return `${this.persona.Calle} ${this.persona.Numero} ${this.persona.Piso} ${this.persona.Depto}`;
    },
    ciudadString(): string {
      if (this.sucursal) {
        let suc = this.persona.Sucursales.find((x) => x.ID == this.sucursal);
        if (suc) {
          return `${suc.CiudadNombre} (${suc.CiudadCP}) - ${suc.ProvinciaNombre}`;
        }
      }
      return `${this.persona.CiudadNombre} (${this.persona.CiudadCP}) - ${this.persona.ProvinciaNombre}`;
    },
    tipoFechaStr(): string {
      if (this.tipoFecha == "fecha_contable") {
        return "Fecha contable";
      }
      if (this.tipoFecha == "fecha_financiera") {
        return "Fecha financiera";
      }
      return "";
    },
  },
  watch: {
    grupo(val) {
      if (!val) {
        return;
      }
      this.tildarCuentasDelGrupo(val);
    },
    prepare(val, prev) {
      if (val == 0 && val != prev) {
        this.actualizar();
      }
    },
    tipoFecha() {
      this.actualizar();
    },
    tasa() {
      this.calcularIntereses();
    },
    fechaCalculo() {
      this.calcularDias();
      this.calcularIntereses();
    },
  },
});
</script>

<style lang="scss" scoped>
@import "@/assets/variables";
table#movs {
  width: 100%;
}
header {
  h1 {
    font-weight: bolder;
  }
}

section #cta-cte {
  position: relative;
}
.total {
  font-weight: bold;
}
.roja {
  color: red;
}
.verde {
  color: green;
}
span.label-key {
  font-weight: bolder;
  color: $info;
  margin-right: 0.4em;
}
div.att {
  display: flex;
  align-items: center;
}
.icono {
  margin-right: 10px;
  padding-right: 20px;
  color: red;
}
span.icono {
  margin-left: 10px;
  padding-left: 20px;
}

div.box {
  margin: 0 0 10px 0;
}
div.box-header {
  display: flex;
  justify-content: flex-end;
}
.grow {
  flex-grow: 10;
}

.sep-tabs {
  padding-top: 3em;
}
.multi-select {
  min-width: 25em;
}
div.button-bottom {
  position: relative;
}
button.button-bottom {
  position: absolute;
  bottom: 0;
}
</style>
