<template>
  <div>
    <div class="titulo-de-pantalla">
      <h1>Centros de imputación</h1>
      <puntitos :size="35">
        <ul>
          <li @click="$router.push({ name: 'centro' })">
            Nuevo centro de imputación
          </li>
        </ul>
      </puntitos>
    </div>
    <tabla v-if="centros.length > 0">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="v in centros"
          v-bind:key="v.ID"
          class="link"
          @click="profundizar(v.ID)"
        >
          <td>{{ v.ID }}</td>
          <td>{{ v.Nombre }}</td>
        </tr>
      </tbody>
    </tabla>
    <p v-else>No hay centros de imputación</p>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import axios from "axios";
import Puntitos from "@/components/widgets/Puntitos.vue";
import eventBus from "@/eventBus";
export default Vue.extend({
  data() {
    return {
      centros: []
    };
  },
  components: {
    Puntitos
  },
  created() {
	document.title = "Centros"
    this.actualizar();
  },
  methods: {
    actualizar() {
      axios
        .get("/backend/centros")
        .then(response => {
          this.centros = response.data;
        })
        .catch(err => eventBus.$emit("error", err));
    },
    profundizar(id: string) {
      this.$router.push({
        name: "centro",
        query: { id: id }
      });
    }
  }
});
</script>
