<template>
  <div>
    <div class="titulo-de-pantalla">
      <h1>{{ titulo }}</h1>
    </div>

    <div class="box">
      <b-field label="Nombre" horizontal>
        <b-input v-model="centro.Nombre"></b-input>
      </b-field>

      <b-field label="¿Es una familia de productos?" horizontal>
        <b-checkbox v-model="centro.EsFamiliaDeProductos"> </b-checkbox>
      </b-field>

      <b-field label="Válido desde" horizontal>
        <b-input type="date" v-model="centro.ValidoDesde" custom-class="fch" />
      </b-field>

      <b-field label="Válido hasta" horizontal>
        <b-input type="date" v-model="centro.ValidoHasta" custom-class="fch" />
      </b-field>

      <div class="botonera">
        <b-button class="is-primary" @click="guardar()">Guardar</b-button>
        <b-button class="is-danger" @click="borrar()" v-if="!esNuevo"
          >Borrar</b-button
        >
        <b-button @click="volver()">Cancelar</b-button>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import eventBus from "@/eventBus.ts";
export default {
  data() {
    return {
      centro: {
        ID: null,
        Nombre: null,
        ValidoDesde: null,
        ValidoHasta: null,
      },
    };
  },
  created() {
    document.title = "Centro";
    if (!this.esNuevo) {
      this.actualizar();
    }
  },
  methods: {
    volver() {
      this.$router.go(-1);
    },
    actualizar() {
      this.cargando++;
      axios
        .get(`/backend/centros/${this.$route.query.id}`)
        .then((res) => {
          this.centro = res.data;
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },
    borrar() {
      this.cargando++;
      axios
        .delete(`/backend/centros/${this.$route.query.id}`)
        .then(() => {
          this.volver();
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },
    guardar() {
      if (this.esNuevo) {
        this.guardarNuevo();
      } else {
        this.guardarModificacion();
      }
    },
    guardarNuevo() {
      axios
        .post("/backend/centros", this.centro)
        .then(() => {
          this.volver();
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        });
    },
    guardarModificacion() {
      axios
        .put("/backend/centros", this.centro)
        .then(() => {
          this.volver();
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        });
    },
  },
  computed: {
    esNuevo() {
      if (this.$route.query.id == undefined) {
        return true;
      }
      return false;
    },
    titulo() {
      if (this.esNuevo) {
        return "Nuevo centro de imputación";
      }
      return "Modificar centro de imputación";
    },
  },
};
</script>
