<template>
  <div>
    <div class="box">
      <h1 class="title">{{ titulo }}</h1>
      <b-field label="Nombre" horizontal>
        <b-input v-model="g.Nombre"></b-input>
      </b-field>
      <b-field label="Detalle" horizontal>
        <b-input v-model="g.Detalle"></b-input>
      </b-field>
      <b-field label="Centros" horizontal>
        <b-select v-model="centro">
          <option v-for="v in centrosSinUsar" :value="v.ID" :key="v.ID">{{
            v.Nombre
          }}</option>
        </b-select>
        <b-button class="is-primary" @click="agregar(centro)">Agregar</b-button>
      </b-field>
      <tabla>
        <thead>
          <th>Nombre</th>
          <th></th>
        </thead>
        <tbody>
          <tr v-for="(v, i) in g.Centros" :key="v">
            <td>
              {{ centroNombre(v) }}
            </td>
            <td>
              <b-button icon-left="close-circle" @click="quitar(i)"></b-button>
            </td>
          </tr>
        </tbody>
      </tabla>

      <b-button class="is-primary" @click="guardar()">Guardar</b-button>
      <b-button class="is-danger" @click="eliminar()">Eliminar</b-button>
      <b-button @click="cancelar()">Cancelar</b-button>
      <b-loading
        is-full-page
        :active.sync="cargando"
        :can-cancel="true"
      ></b-loading>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import axios from "axios";
import { Centro, Grupo } from "../centros";
import eventBus from "@/eventBus";
export default Vue.extend({
  data() {
    return {
      empresa: null as string | null,
      centro: null as string | null,
      g: {
        ID: null,
        Nombre: "",
        Detalle: "",
        Centros: []
      } as Grupo,
      cargando: false as boolean
    };
  },
  created() {
	document.title = "Grupo"
    if (!this.esNuevo) {
      this.actualizar();
    }
  },
  methods: {
    actualizar() {
      this.cargando = true;
      axios
        .post("/backend/centrosgrupos/one", { ID: this.$route.query.id })
        .then(res => {
          this.g = res.data;
          this.cargando = false;
        })
        .catch(err => {
          eventBus.$emit("error", err);
          this.cargando = false;
        });
    },
    guardar() {
      this.cargando = true;
      if (this.esNuevo) {
        axios
          .post("/backend/centrosgrupos/create", this.g)
          .then(res => {
            this.cargando = false;
            this.$router.go(-1);
          })
          .catch(err => {
            eventBus.$emit("error", err);
            this.cargando = false;
          });
      } else {
        axios
          .post("/backend/centrosgrupos/update", this.g)
          .then(res => {
            this.cargando = false;
            this.$router.go(-1);
          })
          .catch(err => {
            eventBus.$emit("error", err);
            this.cargando = false;
          });
      }
    },
    eliminar() {
      this.$buefy.dialog.confirm({
        message: "¿Está seguro que desea borrar este grupo?",
        confirmText: "Borrar",
        type: "is-danger",
        hasIcon: true,
        onConfirm: () => {
          this.cargando = true;
          axios
            .post("/backend/centrosgrupos/delete", { ID: this.g.ID })
            .then(() => {
              this.$router.go(-1);
            })
            .catch(err => {
              eventBus.$emit("error", err);
            })
            .finally(() => {
              this.cargando = false;
            });
        }
      });
    },
    cancelar() {
      this.$router.go(-1);
    },
    nuevo() {
      this.$router.push({ name: "cuentasGrupo" });
    },
    agregar(id: string | null) {
      if (!id) {
        return;
      }
      if (this.g.Centros.includes(id)) {
        this.$buefy.dialog.alert({
          title: "Validación",
          message: "Centro ya se encontraba",
          type: "is-danger",
          hasIcon: true,
          icon: "times-circle",
          iconPack: "fa",
          ariaRole: "alertdialog",
          ariaModal: true
        });
        return;
      }
      this.g.Centros.push(id);
    },
    quitar(idx: number) {
      this.g.Centros.splice(idx, 1);
    },
    centroNombre(id: string): string {
      let cto: Centro = this.$store.getters["centros/porID"](id);
      if (!cto) {
        return id;
      }
      return cto.Nombre;
    }
  },
  computed: {
    empresas() {
      return this.$store.getters["empresas/permitidas"];
    },
    centrosSinUsar(): Centro[] {
      let ctas: Centro[] = this.$store.getters["centros/todos"];
      if (!ctas) {
        return [];
      }
      console.log("ctas", ctas);
      let out = ctas.filter(x => {
        if (!x.ID) {
          return false;
        }
        return !this.g.Centros.includes(x.ID);
      });
      out.sort((a, b) => {
        return new Intl.Collator("ar").compare(a.Nombre, b.Nombre);
      });
      return out;
    },
    titulo(): string {
      if (this.esNuevo) {
        return "Nuevo grupo";
      }
      return "Modificar grupo";
    },
    esNuevo(): boolean {
      if (this.$route.query.id) {
        return false;
      }
      return true;
    }
  }
});
</script>
