<template>
  <div>
    <h1 class="title">Grupos de centros</h1>
    <div class="box">
      <div class="is-flex"></div>
      <tabla>
        <thead>
          <th>Nombre grupo</th>
          <th>Centros</th>
        </thead>
        <tbody>
          <tr v-for="v in grupos" :key="v.ID">
            <td>
              <a @click="profundizar(v.ID)">
                {{ v.Nombre }}
              </a>
            </td>
            <td>
              <span>{{ centrosNombres(v.Centros) }}</span>
            </td>
          </tr>
        </tbody>
      </tabla>
      <b-button class="is-primary" @click="nuevo()">Nuevo</b-button>
      <b-loading
        is-full-page
        :active.sync="cargando"
        :can-cancel="true"
      ></b-loading>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import axios from "axios";
import { Centro, Grupo } from "../centros";
import eventBus from "@/eventBus";
export default Vue.extend({
  data() {
    return {
      empresa: null as string | null,
      grupos: [] as Grupo[],
      cargando: false as boolean
    };
  },
  created() {
	document.title = "Grupos"
    this.actualizar();
  },
  methods: {
    actualizar() {
      this.cargando = true;
      axios
        .post("/backend/centrosgrupos/many")
        .then(res => {
          this.grupos = res.data;
          this.cargando = false;
        })
        .catch(err => {
          eventBus.$emit("error", err);
          this.cargando = false;
        });
    },
    nuevo() {
      this.$router.push({ name: "centrosGrupo" });
    },
    profundizar(id: string) {
      this.$router.push({ name: "centrosGrupo", query: { id: id } });
    },
    centrosNombres(ids: string[]): string {
      if (!ids) {
        return "";
      }
      let vv: string[] = [];
      for (let v of ids) {
        let cto: Centro = this.$store.getters["centros/porID"](v);
        if (!cto) {
          vv.push(v);
        } else {
          vv.push(cto.Nombre);
        }
      }
      vv.sort();
      return vv.join(", ");
    }
  },
  computed: {
    empresas() {
      return this.$store.getters["empresas/permitidas"];
    },
    cuentas(): Centro[] {
      let cc: Centro[] = this.$store.getters["centros/todos"]();
      cc.sort((a, b) => {
        return new Intl.Collator("ar").compare(a.Nombre, b.Nombre);
      });
      return cc;
    }
  }
});
</script>

<style scoped>
.item {
  margin-right: 1em;
}
</style>
