<template>
  <div>
    <div class="titulo-de-pantalla">
      <h1>Monedas</h1>
      <puntitos :size="35">
        <ul>
          <li @click="$router.push({ name: 'moneda' })">Nueva moneda</li>
        </ul>
      </puntitos>
    </div>

    <tabla v-if="monedas.length > 0">
      <thead>
        <th>Nombre</th>
        <th>Código</th>
        <th>Símbolo</th>
      </thead>
      <tbody>
        <tr
          v-for="v in monedas"
          v-bind:key="v.ID"
          class="link"
          @click="profundizar(v.ID)"
        >
          <td>{{ v.Nombre }}</td>
          <td>{{ v.Codigo }}</td>
          <td>{{ v.Simbolo }}</td>
        </tr>
      </tbody>
    </tabla>

    <div v-if="!monedas.length && dirty">
      No se ha encontrado ninguna moneda
    </div>
    <b-loading
      is-full-page
      :active.sync="cargando"
      :can-cancel="true"
    ></b-loading>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import axios from "axios";
import eventBus from "@/eventBus";
import Puntitos from "@/components/widgets/Puntitos.vue";
import { Moneda } from "../monedas";
export default Vue.extend({
  components: {
    Puntitos
  },
  data() {
    return {
      monedas: [] as Moneda[],
      dirty: false,
      cargando: false
    };
  },
  created() {
    this.actualizar();
  },
  methods: {
    actualizar() {
      this.cargando = true;
      axios
        .post("/backend/monedas/many")
        .then(res => {
          this.monedas = res.data;
          this.dirty = true;
        })
        .catch(err => {
          eventBus.$emit("error", err);
        })
        .finally(() => (this.cargando = false));
    },
    profundizar(id: string | null) {
      if (!id) {
        return;
      }
      this.$router.push({ name: "moneda", query: { id: id } });
    }
  }
});
</script>
