<template>
  <div>
    <div class="titulo-de-pantalla">
      <h1 class="is-title">{{ titulo }}</h1>
    </div>
    <div class="box">
      <b-field label="Código">
        <b-input v-model="moneda.Codigo" placeholder="USD, EUR, etc." />
      </b-field>
      <b-field label="Nombre">
        <b-input v-model="moneda.Nombre" placeholder="Dólar, Euro, etc" />
      </b-field>
      <b-field label="Nombre plural">
        <b-input
          v-model="moneda.NombrePlural"
          placeholder="Dólares, Euros, etc"
        />
      </b-field>
      <b-field label="Símbolo">
        <b-input v-model="moneda.Simbolo" placeholder="$, €, etc." />
      </b-field>
      <b-button type="is-success" @click="guardar()">Guardar</b-button>
      <b-button type="is-danger" @click="eliminar()" v-if="!esNuevo"
        >Eliminar</b-button
      >
    </div>
    <b-loading
      is-full-page
      :active.sync="cargando"
      :can-cancel="true"
    ></b-loading>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import axios from "axios";
import eventBus from "@/eventBus";
import { Moneda } from "../monedas";
export default Vue.extend({
  data() {
    return {
      moneda: {
        ID: null,
        Nombre: "",
        Simbolo: ""
      } as Moneda,
      cargando: false
    };
  },
  created() {
	document.title = "Moneda"
    if (!this.esNuevo) {
      this.actualizar();
    }
  },
  methods: {
    actualizar() {
      this.cargando = true;
      axios
        .post("/backend/monedas/one", {
          ID: this.$route.query.id
        })
        .then(res => (this.moneda = res.data))
        .catch(err => eventBus.$emit("error", err))
        .finally(() => {
          this.cargando = false;
        });
    },
    guardar() {
      this.cargando = true;
      if (this.esNuevo) {
        axios
          .post("/backend/monedas/create", this.moneda)
          .then(() => this.$router.go(-1))
          .catch(err => eventBus.$emit("error", err))
          .finally(() => {
            this.cargando = false;
          });
      } else {
        axios
          .post("/backend/monedas/update", this.moneda)
          .then(() => this.$router.go(-1))
          .catch(err => eventBus.$emit("error", err))
          .finally(() => {
            this.cargando = false;
          });
      }
    },
    eliminar() {
      this.$buefy.dialog.confirm({
        message: "¿Está seguro que desea borrar esta moneda?",
        confirmText: "Borrar",
        type: "is-danger",
        hasIcon: true,
        onConfirm: () => {
          this.cargando = true;
          axios
            .post("/backend/monedas/delete", { ID: this.moneda.ID })
            .then(() => {
              this.$router.go(-1);
            })
            .catch(err => {
              eventBus.$emit("error", err);
            })
            .finally(() => {
              this.cargando = false;
            });
        }
      });
    }
  },
  computed: {
    titulo(): string {
      if (this.esNuevo) {
        return "Nueva moneda";
      }
      return "Moneda";
    },
    esNuevo(): boolean {
      if (this.$route.query.id) {
        return false;
      }
      return true;
    }
  }
});
</script>
