<template>
  <div>
    <h1 class="title">Balance</h1>

    <div class="is-flex box">
      <div>
        <!-- EMPRESA -->
        <b-field label="Empresa" horizontal class="item">
          <b-select v-model="empresaSeleccionada" placeholder="Todas" expanded>
            <option :value="null">Todas</option>
            <option v-for="e in empresas" :value="e.ID" :key="e.ID">
              {{ e.Nombre }}
            </option>
          </b-select>
        </b-field>

        <!-- GRUPO DE CENTROS-->
        <b-field label="Grupo centros" horizontal>
          <multiselect
            :options="centrosGrupos"
            v-model="centrosGruposSeleccionados"
            mode="tags"
            valueProp="ID"
            label="Nombre"
          >
          </multiselect>
        </b-field>
        <!-- CENTROS-->
        <b-field label="Centros" horizontal>
          <multiselect
            :options="centros"
            v-model="centrosSeleccionados"
            mode="tags"
            valueProp="ID"
            label="Nombre"
          >
          </multiselect>
        </b-field>
      </div>
      <div class="item">
        <b-field label="Desde" horizontal>
          <b-input type="date" v-model="desde" custom-class="fch" />
        </b-field>

        <b-field label="Hasta" horizontal>
          <b-input type="date" v-model="hasta" custom-class="fch" />
        </b-field>
      </div>

      <div class="item">
        <b-field>
          <b-checkbox v-model="incluirSaldosInicio"
            >¿Incluir saldos inicio?</b-checkbox
          >
        </b-field>
        <b-field>
          <b-checkbox v-model="incluirRefundicion" v-if="!incluirSaldosInicio"
            >¿Incluir asientos refundición?</b-checkbox
          >
        </b-field>
        <b-field>
          <b-checkbox v-model="incluirCierre" v-if="!incluirSaldosInicio"
            >¿Incluir asientos cierre?</b-checkbox
          >
        </b-field>
        <b-field>
          <b-checkbox v-model="incluirApertura" v-if="!incluirSaldosInicio"
            >¿Incluir asientos apertura?</b-checkbox
          >
        </b-field>
        <b-field>
          <b-checkbox v-model="incluirInflacion" v-if="!incluirSaldosInicio"
            >¿Incluir ajuste inflación?</b-checkbox
          >
        </b-field>
      </div>
      <div class="item">
        <b-button
          type="is-primary"
          icon-left="file-find"
          @click="submit()"
          class="abajo"
          >Buscar</b-button
        >
      </div>
    </div>

    <div id="saldos" v-if="saldos">
      <output-buttons
        :csv="csv"
        :excel="excel"
        position="is-left"
      ></output-buttons>
      <tabla v-if="saldos">
        <thead>
          <th>N Cuenta</th>
          <th>Cuenta</th>
          <th>Suma</th>
          <th align="right">Saldo</th>
        </thead>
        <tbody>
          <tr
            v-for="c in cuentasPlanas"
            v-bind:key="c.Cuenta"
            @click="profundizar(c)"
            :class="{ imputable: c.CuentaTipo == 'Agrupadora' }"
            class="link"
          >
            <td>{{ c.Codigo }}</td>
            <td
              :style="{ transform: 'translate(' + c.nivel * 30 + 'px)' }"
              :class="{ agrupadora: c.CuentaTipo == 'Agrupadora' }"
            >
              {{ c.CuentaNombre }}
            </td>
            <td align="right">{{ suma(c) | enPesos }}</td>
            <td align="right">{{ saldo(c) | enPesos }}</td>
          </tr>
        </tbody>
      </tabla>
      <p>(Total Debe) + (Total Haber): {{ sumaTotal | enPesos }}</p>
      <output-buttons
        :csv="csv"
        :excel="excel"
        position="is-left"
      ></output-buttons>
    </div>
    <b-loading
      is-full-page
      :active="cargando != 0"
      :can-cancel="true"
    ></b-loading>
  </div>
</template>

<script lang="ts">
import axios from "axios";
import Vue from "vue";
import { Partida } from "@/interfaces/balance";
import { Cuenta } from "@/interfaces/cuentas";
import { Empresa } from "@/interfaces/empresas";
import { Grupo } from "@/modules/centros/centros";
import eventBus from "@/eventBus";
import OutputButtons from "@/components/widgets/OutputButtons.vue";
import { newDate } from "@/modules/util/fechas";
import { format, startOfToday, startOfMonth, subMonths } from "date-fns";
import { updateQuery } from "@/modules/routeUtil";
export default Vue.extend({
  components: {
    OutputButtons,
  },
  data() {
    return {
      empresaSeleccionada: null as string | null,
      centrosGruposSeleccionados: [] as string[],
      centrosSeleccionados: [] as string[],
      desde: null as string | null,
      hasta: null as string | null,
      incluirSaldosInicio: true as boolean,
      incluirInflacion: true as boolean,
      incluirApertura: true as boolean,
      incluirRefundicion: true as boolean,
      incluirCierre: true as boolean,
      saldos: null as null | Partida[],

      cuentasPlanas: [] as Partida[],

      treeObject: {
        Cuenta: "",
        CuentaNombre: "",
        CuentaTipo: "",
        Codigo: "",
        PadreID: "",
        Centro: "",
        Monto: 0,
        Cantidad: 0,
        children: [],
        nivel: 0,
        Orden: 0,
      } as Partida,

      cargando: 0 as number,
    };
  },
  created() {
    document.title = "Balance";
    // Desde
    if (this.$route.query.desde) {
      this.desde = this.$route.query.desde as string;
    }

    // Hasta
    if (this.$route.query.hasta) {
      this.hasta = this.$route.query.hasta as string;
    }

    // Empresa
    if (this.$route.query.empresa) {
      this.empresaSeleccionada = this.$route.query.empresa as string;
    } else {
      this.empresaSeleccionada = this.$store.state.empresas.seleccionada;
    }

    // Centros
    if (this.$route.query.centros) {
      if (typeof this.$route.query.centros == "string") {
        this.centrosSeleccionados = [this.$route.query.centros as string];
      } else {
        this.centrosSeleccionados = this.$route.query.centros as Array<string>;
      }
    }

    // Grupos centros
    if (this.$route.query.centros_grupos) {
      if (typeof this.$route.query.centros_grupos == "string") {
        this.centrosGruposSeleccionados = [
          this.$route.query.centros_grupos as string,
        ];
      } else {
        this.centrosGruposSeleccionados = this.$route.query
          .centros_grupos as Array<string>;
      }
    }

    if (this.$route.query.incluir_saldos_inicio) {
      this.incluirSaldosInicio =
        this.$route.query.incluir_saldos_inicio == "true";
    }
    if (this.$route.query.incluir_apertura) {
      this.incluirApertura = this.$route.query.incluir_apertura == "true";
    }
    if (this.$route.query.incluir_refundicion) {
      this.incluirRefundicion = this.$route.query.incluir_refundicion == "true";
    }
    if (this.$route.query.incluir_cierre) {
      this.incluirCierre = this.$route.query.incluir_cierre == "true";
    }
    if (this.$route.query.incluir_inflacion) {
      this.incluirInflacion = this.$route.query.incluir_inflacion == "true";
    }

    // No hay query, pongo los valores por defecto
    this.llenarTree();
    this.actualizar();
  },
  watch: {
    $route() {
      // console.log("Cambió route");
      // this.desde = this.$route.query.desde;
      // this.hasta = this.$route.query.hasta;

      this.actualizar();
    },
  },

  methods: {
    submit() {
      this.actualizar();
    },
    params() {
      let out = {
        Empresa: this.empresaSeleccionada,
        CentrosGrupos: this.centrosGruposSeleccionados,
        Desde: this.desde,
        Hasta: this.hasta,
        IncluirRefundicion: this.incluirRefundicion,
        IncluirCierre: this.incluirCierre,
        IncluirApertura: this.incluirApertura,
        IncluirSaldosInicio: this.incluirSaldosInicio,
        IncluirInflacion: this.incluirInflacion,
        Centros: this.centrosSeleccionados,
      };
      if (this.incluirSaldosInicio) {
        out.IncluirInflacion = false;
        out.IncluirRefundicion = false;
        out.IncluirCierre = false;
        out.IncluirApertura = false;
      }
      return out;
    },
    actualizar() {
      this.cargando++;
      axios
        .post("/backend/contables/balance/", this.params())
        .then((res) => {
          this.saldos = res.data;
          this.cuentasPlanas = [];
          this.walk(this.cuentasPlanas, this.treeObject, -1);
        })
        .catch((error) => {
          eventBus.$emit("error", error);
        })
        .finally(() => this.cargando--);
    },
    csv() {
      this.cargando++;
      axios
        .post("/backend/contables/balance_csv/", this.params())
        .then((res) => {
          const blob = new Blob([res.data], { type: "text/csv" });
          const link = document.createElement("a");
          link.href = URL.createObjectURL(blob);
          // link.download = label;
          link.click();
          URL.revokeObjectURL(link.href);
        })
        .catch((error) => {
          eventBus.$emit("error", error);
        })
        .finally(() => this.cargando--);
    },
    excel() {
      this.cargando++;
      axios
        .request({
          url: "/backend/contables/balance_xlsx",
          method: "POST",
          responseType: "blob",
          data: this.params(),
        })
        .then((res) => {
          const downloadUrl = window.URL.createObjectURL(new Blob([res.data]));
          const link = document.createElement("a");
          link.href = downloadUrl;
          link.setAttribute("download", "Balance.xlsx"); //any other extension
          document.body.appendChild(link);
          link.click();
          link.remove();
        })
        .catch((error) => {
          eventBus.$emit("error", error);
        })
        .finally(() => this.cargando--);
    },
    profundizar(part: Partida) {
      if (part.CuentaTipo == "Agrupadora") {
        return;
      }
      const q = {
        empresa: this.empresaSeleccionada,
        incluir_saldo_inicio: this.incluirSaldosInicio,
        cuenta: part.Cuenta,
      } as any;

      if (this.centrosGruposSeleccionados.length) {
        q.centros_grupos = this.centrosGruposSeleccionados;
      }

      // Centros
      if (this.centrosSeleccionados.length) {
        q.centros = this.centrosSeleccionados;
      }

      q.hasta = this.hasta;
      if (this.desde) {
        q.desde = this.desde;
      } else {
        if (!q.hasta) {
          q.desde = format(
            subMonths(startOfMonth(newDate(startOfToday())), 1),
            "yyyy-MM-dd"
          );
        }
      }
      q.incluir_saldos_inicio = this.incluirSaldosInicio;
      q.incluir_apertura = this.incluirApertura;
      q.incluir_cierre = this.incluirCierre;
      q.incluir_refundicion = this.incluirRefundicion;
      q.incluir_inflacion = this.incluirInflacion;
      updateQuery(q, this);
      this.$router.push({ name: "mayor", query: q });
    },
    walk(todas: Partida[], cta: Partida, nivel: number) {
      if (!cta.children) {
        return;
      }
      for (let v of cta.children) {
        v.nivel = nivel + 1;
        todas.push(v);
        this.walk(todas, v, nivel + 1);
      }
    },
    llenarTree() {
      // Creo trees con todas las cuentas contables
      let cc: Partida[] = [];
      for (let v of this.$store.state.cuentas.array) {
        cc.push(this.crearItem(v));
      }

      cc.map((item) => {
        if (!item.PadreID) {
          return;
        }
        let padre = cc.find((encontrado) => {
          return encontrado.Cuenta == item.PadreID;
        });
        if (!padre) {
          console.error("no se controntró el nodo ID ", item.PadreID);
          return;
        }
        if (!padre.children) {
          console.error(
            "la cuenta",
            padre.Cuenta,
            padre.CuentaNombre,
            " tiene hijos, pero no está definida como agrupadora."
          );
          return;
        }
        padre.children.push(item);

        // Los ordeno por orden alfabético
        padre.children.sort((a, b) => {
          if (a.Orden > b.Orden) {
            return 1;
          } else if (a.Orden < b.Orden) {
            return -1;
          } else {
            return new Intl.Collator("ar").compare(
              a.CuentaNombre,
              b.CuentaNombre
            );
          }
        });
      });
      // Agrego los nodos root
      let roots = cc.filter((item) => item.PadreID == null);
      roots.sort((a, b) => {
        if (a.Orden > b.Orden) {
          return 1;
        } else {
          return -1;
        }
      });

      this.treeObject.children = roots;
    },
    crearItem(cuenta: Cuenta): Partida {
      let item = {
        Cuenta: cuenta.ID,
        CuentaNombre: cuenta.Nombre,
        CuentaTipo: cuenta.TipoCuenta,
        Codigo: cuenta.Codigo,
        PadreID: cuenta.PadreID,
        Centro: "",
        Monto: 0,
        Cantidad: 0,
        children: null,
        nivel: 0,
        Orden: cuenta.Orden,
      } as Partida;
      if (cuenta.TipoCuenta == "Agrupadora") {
        item.children = [];
      }
      return item;
    },
    suma(part: Partida) {
      // console.log("analizando cuenta", cuenta.Nombre);
      let sum = 0;
      // console.log("Buscando hijos de", cuenta.Nombre);
      if (!part) {
        return 0;
      }
      if (!this.saldos) {
        return 0;
      }
      if (part.children) {
        for (let hijo of part.children) {
          if (hijo.CuentaTipo == "Agrupadora") {
            // console.log(hijo.Nombre, "era agrupadora, buscando sus hijos");
            sum += this.suma(hijo);
            continue;
          }
          let saldo = this.saldos.find((item) => item.Cuenta == hijo.Cuenta);
          // console.log("buscando saldos de", hijo.Nombre);
          if (!saldo) {
            // console.log("No se encontró saldo de ", hijo.Nombre);
            continue;
          }
          // console.log("Sumando saldo", hijo.Nombre, saldo.Monto);
          sum += saldo.Monto;
        }
      }
      return sum;
    },
    // El monto de las cuentas imputables
    saldo(part: Partida): number {
      if (part.CuentaTipo == "Agrupadora") {
        return 0;
      }
      if (!part) {
        return 0;
      }
      if (!this.saldos) {
        return 0;
      }
      let saldo = this.saldos.find((item) => item.Cuenta == part.Cuenta);
      if (!saldo) {
        return 0;
      }
      return saldo.Monto;
    },
  },
  computed: {
    sumaTotal(): number {
      if (!this.saldos) {
        return 0;
      }
      let suma = 0;
      for (let v of this.saldos) {
        suma += v.Monto;
      }
      return suma;
    },
    centrosGrupos(): Grupo[] {
      return this.$store.getters["centros/grupos"];
    },
    centros(): Grupo[] {
      if (this.centrosGruposSeleccionados.length) {
        return this.$store.getters["centros/many"](
          [],
          this.centrosGruposSeleccionados
        );
      }
      return this.$store.getters["centros/many"]();
    },
    empresas(): Empresa[] {
      return this.$store.getters["empresas/permitidas"];
    },
  },
});
</script>

<style lang="scss" scoped>
.imputable {
  font-weight: bold;
}
table.table {
  max-width: 24cm;
}
.item {
  margin-right: 1em;
}
.item {
  align-self: bottom;
}
div.filtros {
  max-width: 1200px;
}
</style>
