<template>
  <div>
    <div class="titulo-de-pantalla">
      <h1>{{ titulo }}</h1>
      <puntitos :size="35">
        <ul>
          <li @click="$router.push({ name: 'grupo' })">Nuevo grupo</li>
        </ul>
      </puntitos>
    </div>

    <div class="tile">
      <b-field label="Nombre del grupo">
        <b-input v-model="item.Nombre"> </b-input>
      </b-field>
    </div>
    <div class="tile">
      <div class="col-sm-6">
        <b-field label="Usuarios que pertenecen al grupo"></b-field>
        <table>
          <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th>¿Incluído?</th>
          </thead>
          <tbody>
            <tr v-for="v in usuarios" v-bind:key="v.ID">
              <td>{{ v.ID }}</td>
              <td>{{ v.Nombre }}</td>
              <td>
                <b-checkbox v-model="v.Incluido"> </b-checkbox>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="botonera">
      <button class="btn-guardar" @click="guardar()">Guardar</button>
      <button class="btn-cancelar" @click="$router.go(-1)">Cancelar</button>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import eventBus from "@/eventBus.ts";
import Puntitos from "../widgets/Puntitos";
export default {
  components: {
    Puntitos
  },
  data() {
    return {
      item: {
        ID: null,
        Nombre: null,
        De: null,
        Ints: [],
        Uuids: [],
        Strings: []
      },
      usuarios: [],
      usuariosColumns: [
        {
          field: "ID",
          label: "ID de usuario"
        },
        {
          field: "Nombre",
          label: "Nombre de usuario"
        },
        {
          field: "Incluido",
          label: "Incluido"
        }
      ]
    };
  },
  created() {
    if (!this.esNuevo) {
      this.actualizar();
    }
	document.title = "Grupo de usuarios"

    // Pido los usuarios
    axios
      .post("/backend/usuarios/many", {})
      .then(res => {
        this.usuarios = res.data;
        if (this.item.Strings == undefined) {
          return;
        }
        this.ponerTildes();
      })
      .catch(err => {
        eventBus.$emit("error", err);
      });
  },
  methods: {
    actualizar() {
      axios
        .post("/backend/grupos/one", { ID: this.$route.query.id })
        .then(res => {
          this.item = res.data;
          if (this.usuarios != undefined) {
            this.ponerTildes();
          }
        })
        .catch(err => {
          eventBus.$emit("error", err);
        });
    },
    guardar() {
      if (this.esNuevo) {
        this.guardarNuevo();
      } else {
        this.guardarCambios();
      }
    },
    guardarNuevo() {
      this.item.De = "Usuarios";
      this.item.Strings = [];
      for (let v of this.usuarios) {
        if (v.Incluido == true) {
          this.item.Strings.push(v.ID);
        }
      }
      axios
        .post("/backend/grupos/nuevo_grupo", this.item)
        .then(()=> this.$router.go(-1))
        .catch(err => eventBus.$emit("error", err));
    },
    guardarCambios() {
      this.item.De = "Usuarios";
      this.item.Strings = [];
      for (let v of this.usuarios) {
        if (v.Incluido == true) {
          this.item.Strings.push(v.ID);
        }
      }
      axios
        .post("/backend/grupos/modificar_grupo", this.item)
        .then(()=> this.$router.go(-1))
        .catch(err => eventBus.$emit("error", err));
    },
    ponerTildes() {
      console.log("poniendo tildes");
      for (let v of this.usuarios) {
        let found = this.item.Strings.find(item => {
          console.log("analizando ", v.ID, "contra ", item);
          return item == v.ID;
        });
        console.log("Found: ", found);
        if (found != undefined) {
          console.log("se econtró ", v);
          v.Incluido = true;
        }
      }
    }
  },
  computed: {
    titulo() {
      if (this.esNuevo) {
        return "Nuevo grupo de usuarios";
      } else {
        return "Modificar grupo de usuarios";
      }
    },
    esNuevo() {
      if (this.$route.query.id == undefined) {
        return true;
      }
      return false;
    }
  }
};
</script>
<style lang="scss" scoped>
h2 {
  margin: 30px 0 10px 0;
}
</style>
