<template>
  <div>
    <div>
      <div class="titulo-de-pantalla">
        <h1>Grupos de usuarios</h1>
        <puntitos :size="35">
          <ul>
            <li
              @click="
                $router.push({
                  name: 'grupoDeUsuarios',
                  query: { de: tipoGrupo }
                })
              "
            >
              Nuevo grupo
            </li>
          </ul>
        </puntitos>
      </div>

      <table v-if="items.length > 0">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="v in items"
            v-bind:key="v.ID"
            class="link"
            @click="
              $router.push({ name: 'grupoDeUsuarios', query: { id: v.ID } })
            "
          >
            <td>{{ v.ID }}</td>
            <td>{{ v.Nombre }}</td>
          </tr>
        </tbody>
      </table>
      <p v-else>No se encontró ningún registro</p>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import eventBus from "@/eventBus.ts";
import Puntitos from "../widgets/Puntitos";
export default {
  components: {
    Puntitos
  },
  data() {
    return {
      tipoGrupo: null,
      items: []
    };
  },
  created() {
	document.title = "Grupos de usuarios"
    this.actualizar();
  },
  methods: {
    actualizar() {
      axios
        .post("/backend/grupos", { GrupoDe: "Usuarios" })
        .then(res => {
          this.items = res.data;
        })
        .catch(err => {
          eventBus.$emit("error", err);
        });
    }
  },
  watch: {
    tipoGrupo() {
      this.actualizar();
    }
  }
};
</script>
