<template>
  <div>
    <div class="titulo-de-pantalla">
      <h1>Historial</h1>
    </div>
    <div class="box">
      <div class="columns">
        <div class="column is-6">
          <b-field label="Empresa" horizontal>
            <b-select v-model="empresa" expanded>
              <option :value="null">Todas</option>
              <option v-for="v in empresas" :value="v.ID" :key="v.ID">
                {{ v.Nombre }}
              </option>
            </b-select>
          </b-field>

          <!-- PERSONA -->
          <b-field label="Persona" horizontal>
            <b-field>
              <p class="control input">{{ nombrePersona }}</p>
              <p class="control">
                <b-button
                  icon-left="magnify"
                  class="is-primary"
                  @click="buscarPersona()"
                ></b-button>
              </p>
            </b-field>
          </b-field>

          <!-- SUCURSAL-->
          <b-field label="Sucursal" v-if="mostrarSucursal" horizontal>
            <b-select v-model="sucursal">
              <option :value="null">Todas las sucursales</option>
              <option v-for="v in sucursales" :value="v.ID" :key="v.ID">
                {{ v.Nombre }}
              </option>
            </b-select>
          </b-field>

          <b-field label="Comprobante" horizontal>
            <b-select v-model="tipoComp">
              <option value="0">Todos</option>
              <option v-for="v in compsFiltrados" :value="v.ID" :key="v.ID">
                {{ v.Nombre }} (punto {{ v.PuntoDeVenta }})
              </option>
            </b-select>
          </b-field>
          <b-field label="Número" horizontal grouped>
            <b-input v-model="puntoDeVenta" custom-class="pto-vta"></b-input>
            <b-input v-model="ncomp" custom-class="ncomp"></b-input>
          </b-field>
        </div>
        <div class="column is-4">
          <b-field label="Desde" horizontal>
            <b-input type="date" v-model="desde" />
          </b-field>
          <b-field label="Hasta" horizontal>
            <b-input type="date" v-model="hasta" />
          </b-field>
        </div>
        <div class="column is-2">
          <b-button @click="actualizar()" class="is-primary"> Buscar </b-button>
        </div>
      </div>
    </div>
    <b-pagination
      v-if="mostrarPaginacion"
      v-model="pagina"
      :total="renglones.length"
      :per-page="perPage"
      size="is-small"
      :range-before="5"
      :range-after="5"
    >
    </b-pagination>
    <div class="box">
      <tabla>
        <thead>
          <th>Fecha</th>
          <th @click="ordenar('CompNombre')" class="link">Comprobante</th>
          <th @click="ordenar('NCompStr')" class="link">Número</th>
          <th>Persona</th>
          <th>Monto</th>
          <th>Detalle</th>
          <th>Hora</th>
        </thead>
        <tbody>
          <tr
            v-for="v in renglonesPaginados"
            :key="v.ID"
            @click="profundizar(v.ID)"
            class="link"
          >
            <td>
              {{ v.Fecha | enFecha }}
            </td>
            <td>{{ v.CompNombre }}</td>
            <td>{{ v.NCompStr }}</td>
            <td>{{ v.PersonaNombre }}</td>
            <td align="right">{{ v.TotalComp | enPesos }}</td>
            <td>{{ v.Detalle }}</td>
            <td>{{ creacion(v) }}</td>
          </tr>
        </tbody>
      </tabla>
    </div>
    <b-pagination
      v-if="mostrarPaginacion"
      v-model="pagina"
      :total="renglones.length"
      :per-page="perPage"
      size="is-small"
      :range-before="5"
      :range-after="5"
    >
    </b-pagination>
    <b-loading
      is-full-page
      :active="cargando != 0"
      :can-cancel="true"
    ></b-loading>
  </div>
</template>

<script lang="ts">
import axios from "axios";
import Vue from "vue";
import eventBus from "@/eventBus";
import { hoy } from "@/modules/util/fechas";
import { format } from "date-fns";
import { Op } from "@/modules/ops/interfaces";
import { CompLookup } from "@/interfaces/comps";
import { Empresa } from "@/interfaces/empresas";
import { Persona, Sucursal } from "@/modules/personas/personas";
import BuscadorPersonas from "@/modules/personas/components/BuscadorPersonas.vue";
import { updateQuery } from "@/modules/routeUtil";
import { enHora, enFechaHora } from "@/modules/util/format";

type routeQuery = {
  desde?: string | null;
  hasta?: string | null;
  empresa?: string | null;
  comprobante?: string | null;
  programa?: string | null;
  persona?: string | null;
  sucursal?: string | null;
  puntodeventa?: string | null;
  ncomp?: string | null;
};

export default Vue.extend({
  data() {
    return {
      empresa: null as string | null,
      programa: null as string | null,
      desde: format(hoy(), "yyyy-MM-dd") as string,
      hasta: format(hoy(), "yyyy-MM-dd") as string,
      persona: null as string | null,
      sucursal: null as string | null,
      puntoDeVenta: null as string | null,
      ncomp: null as string | null,
      tipoComp: null as string | null,

      renglones: [] as Op[],

      comps: [] as CompLookup[],
      personaObj: null as Persona | null,
      localBus: new Vue(),
      cargando: 0 as number,
      pagina: 1 as number,
      perPage: 200 as number,
    };
  },
  created() {
    document.title = "Historial";

    this.fetchComprobantes();
    this.leerQuery();

    this.localBus.$on("personaSeleccionada", (p: string) => {
      this.persona = p;
    });

    if (this.desde || this.hasta || this.empresa) {
      this.actualizar();
    }
  },
  methods: {
    actualizar() {
      if (!this.ncomp) {
        this.ncomp = null;
      }
      if (!this.puntoDeVenta) {
        this.puntoDeVenta = null;
      }

      this.cargando++;
      axios
        .post("/backend/ops/buscar", {
          Empresa: this.empresa,
          Programa: this.programa,
          Desde: this.desde,
          Hasta: this.hasta,
          PuntoDeVenta: this.puntoDeVenta,
          NComp: this.ncomp,
          Comp: this.tipoComp,
          Persona: this.persona,
          Sucursal: this.sucursal,

          Pagina: 0,
        })
        .then((res) => {
          this.renglones = res.data;
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },
    fetchComprobantes() {
      this.cargando++;
      axios
        .get("/backend/comprobantes")
        .then((res) => {
          this.comps = res.data;
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },
    creacion(v: Op): string {
      let fec = v.Fecha;
      if (!v.CreatedAt) {
        return "";
      }
      if (v.CreatedAt.substring(0, 10) == fec) {
        return enHora(v.CreatedAt);
      }
      return enFechaHora(v.CreatedAt);
    },
    profundizar(id: string) {
      const q: routeQuery = {
        desde: this.desde,
        hasta: this.hasta,
        empresa: this.empresa,
        comprobante: this.tipoComp,
        programa: this.programa,
        persona: this.persona,
        sucursal: this.sucursal,
        puntodeventa: this.puntoDeVenta,
        ncomp: this.ncomp,
      };

      updateQuery(q, this);
      this.$router.push({ name: "mostrarComprobante", query: { op: id } });
    },
    buscarPersona() {
      this.$buefy.modal.open({
        parent: this,
        component: BuscadorPersonas,
        hasModalCard: true,
        trapFocus: true,
        fullScreen: true,
        scroll: "clip",
        props: {
          bus: this.localBus,
        },
      });
    },
    ordenar(campo: string) {
      this.renglones.sort((a, b) => {
        return new Intl.Collator("ar").compare(
          a[campo as keyof Op],
          b[campo as keyof Op]
        );
      });
    },
    leerQuery() {
      if ("desde" in this.$route.query) {
        this.desde = this.$route.query.desde as string;
      }
      if ("hasta" in this.$route.query) {
        this.hasta = this.$route.query.hasta as string;
      }
      if ("empresa" in this.$route.query) {
        this.empresa = this.$route.query.empresa as string;
      } else {
        this.empresa = this.$store.state.empresas.seleccionada;
      }
      if ("programa" in this.$route.query) {
        this.programa = this.$route.query.programa as string;
      }
      if ("comprobante" in this.$route.query) {
        this.tipoComp = this.$route.query.comprobante as string;
      }
      if ("puntodeventa" in this.$route.query) {
        this.puntoDeVenta = this.$route.query.puntodeventa as string;
      }
      if ("ncomp" in this.$route.query) {
        this.ncomp = this.$route.query.ncomp as string;
      }
      if ("persona" in this.$route.query) {
        this.persona = this.$route.query.persona as string;
      }
      if ("sucursal" in this.$route.query) {
        this.sucursal = this.$route.query.sucursal as string;
      }
    },
  },
  computed: {
    empresas(): Empresa[] {
      return this.$store.getters["empresas/permitidas"];
    },
    programas(): string[] {
      return this.$store.state.programas.array;
    },
    renglonesPaginados(): Op[] {
      if (!this.renglones) {
        return [];
      }
      if (!this.renglones.length) {
        return [];
      }
      let desde = this.perPage * (this.pagina - 1);
      let hasta = this.perPage * this.pagina - 1;
      if (hasta > this.renglones.length - 1) {
        hasta = this.renglones.length;
      }
      return this.renglones.slice(desde, hasta);
    },
    mostrarPaginacion(): boolean {
      if (!this.renglones) {
        return false;
      }
      if (this.renglones.length < this.perPage) {
        return false;
      }
      return true;
    },
    compsFiltrados(): CompLookup[] {
      if (!this.comps) {
        return [];
      }
      let out = this.comps;
      if (this.empresa) {
        out = out.filter((x) => x.Empresa == this.empresa);
      }

      return out;
    },
    nombrePersona(): string {
      if (this.personaObj) {
        return this.personaObj.Nombre;
      }
      return "";
    },
    mostrarSucursal(): boolean {
      if (!this.personaObj) {
        return false;
      }
      return this.personaObj.UsaSucursales;
    },
    sucursales(): Sucursal[] {
      if (!this.personaObj) {
        return [];
      }
      if (!this.personaObj.Sucursales) {
        return [];
      }
      return this.personaObj.Sucursales;
    },
  },
  watch: {
    persona(valor) {
      if (valor) {
        axios
          .post("/backend/personas/persona", { ID: valor })
          .then((res) => {
            this.personaObj = res.data;
          })
          .catch((err) => {
            eventBus.$emit("error", err);
          });
      }
    },
  },
});
</script>
