<template>
  <div>Cargando...</div>
</template>

<script>
import eventBus from "@/eventBus.ts";
export default {
  created() {
    // Leo el ID
    if (this.$route.query.ID == undefined) {
      eventBus.$emit("error", "No se definió ID de operación");
      return;
    }

    // Leo el nombre del programa
    let programa = "";
    if (this.$route.query.Programa == undefined) {
      eventBus.$emit("error", "No se definió ID de operación");
      return;
    }

    this.$router.push({ name: programa, query: { ID: this.$route.query.ID } });
  }
};
</script>
