
<template>
	<div>
		<h1 class="title">Bienes de uso / Amortizar</h1>
					
		<b-field label="Empresa" horizontal>
			<b-select v-model="empresa">
				<option :value="null" disabled>Seleccione</option>
				<option v-for="v in empresas" :value="v.ID" :key="v.ID">{{
					v.Nombre
				}}</option>
			</b-select>
		</b-field>

		<!-- Config -->
		<b-field label="Configuración" horizontal>
			<b-select v-model="config" expanded>
				<option :value="null">Seleccione</option>
				<option v-for="v in configs" :key="v.ID" :value="v.ID">
					{{ v.Nombre }}
				</option>
			</b-select>
		</b-field>

		<!-- Esquema -->
		<b-field label="Esquema" horizontal>
			<b-select v-model="esquema" expanded>
				<option :value="null">Seleccione</option>
				<option v-for="v in esquemas" :key="v.ID" :value="v.ID">
					{{ v.Nombre }}
				</option>
			</b-select>
		</b-field>

		<b-field label="Fecha" horizontal>
			<b-input v-model="fch" type="date" custom-class="fch" /> 
		</b-field>

	
		<b-field label="Cantidad" horizontal>
			<b-input v-model.number="cantidad" custom-class="d2"/>
		</b-field>

		<b-field label="Unidad de medida" horizontal>
			<b-select v-model="um">
				<option :value="null" disabled>Seleccione</option>
				<option v-for="v in ums" :value="v" :key="v">{{v}}</option>
			</b-select>
		</b-field>

		<b-field label="Cuenta de resultado" horizontal>
			<b-select v-model="ctaRtdo">
				<option :value="null" disabled>Seleccione</option>
				<option v-for="v in cuentas" :value="v.ID" :key="v.ID">{{v.Nombre}}</option>
			</b-select>
		</b-field>

		<b-field horizontal>
			<b-button @click="agregarUM()">Agregar</b-button>
		</b-field>

		<b-field horizontal>
			<tabla>
				<thead>
					<th>Unidad medida</th>
					<th>Cantidad</th>
				</thead>
				<tbody>
					<tr v-for="v in avances" :key="v">
						<td>{{v.UM}}</td>
						<td align="right">{{v.Cantidad}}</td>
					</tr>
				</tbody>
			</tabla>
		</b-field>

		<b-field>
			<b-button @click="calcularAmort()" class="is-info">Previsualizar amortizaciones</b-button>
		</b-field>
			<tabla v-if="minuta">
				<col width="50px" />
				<col width="400px" />
				<col width="110px" />
				<col width="110px" />
				<col width="20px" />
				<thead>
					<th>Item</th>
					<th>Especificación</th>
					<th class="colmoney">Debe</th>
					<th class="colmoney">Haber</th>
					<th>Detalle</th>
				</thead>
				<tbody>
					<tr
						v-for="(p, i) in minuta.Partidas"
						:key="p.ID"
					>
						<td>{{ i + 1 }}</td>
						<td>
							<div style="font-weight: bolder">
								{{ nombreCuenta(p.Cuenta) }} ({{ codigoCuenta(p.Cuenta) }})
							</div>
							<div v-if="p.Centro">Centro: {{ nombreCentro(p.Centro) }}</div>
						</td>
						<td align="right">{{ p.Debe | enPesos }}</td>
						<td align="right">{{ p.Haber | enPesos }}</td>
						<td>{{ p.Detalle }}</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td></td>
						<td align="right">Totales</td>
						<td align="right">{{ (totalDebe / 100) | enPesos }}</td>
						<td align="right">{{ (totalHaber / 100) | enPesos }}</td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td align="right">
							<p v-if="totalDebe != totalHaber">Diferencia</p>
							<p v-else>Asiento balanceado</p>
						</td>
						<td>
							<p v-if="totalDebe > totalHaber">
								{{ ((totalDebe - totalHaber) / 100) | enPesos }}
							</p>
						</td>
						<td>
							<p v-if="totalDebe < totalHaber">
								{{ ((totalHaber - totalDebe) / 100) | enPesos }}
							</p>
						</td>
						<td></td>
					</tr>
				</tfoot>
			</tabla>
		<b-field>
			<b-button @click="confirmar()" v-if="minuta">Confirmar</b-button>
		</b-field>
		</div>
</template>

<script lang="ts">
import axios from "axios"
import Vue from "vue"
import eventBus from "@/eventBus"
import { Empresa } from "@/interfaces/empresas"
import { Cuenta } from "@/interfaces/cuentas"
import { Minuta, Config, Esquema } from "@/interfaces/minuta";
import { Saldo, Avance } from "../saldo"
export default Vue.extend({
	data() {
		return {
			empresa: null as string | null,
			fch: null as string | null,
			
			minuta: null as Minuta | null,
			filtradas: new Map<string, Saldo[]>(),

			config: null as string | null,
			esquema: null as string | null,
			ctaRtdo: null as string | null,

			cantidad: 0 as number,
			um: "" as string,

			cargando: 0 as number,
			avances: [] as Avance[], 
		}
	},
	created() {
		document.title = "Bienes de uso / Amortizar"

    if (this.$store.state.empresas.seleccionada) {
      this.empresa = this.$store.state.empresas.seleccionada;
    }
	},
	methods: {
		calcularAmort() {
			this.cargando++
			let avs: Record<string, any> = {}
			for (let v of this.avances) {
				avs[v.UM] = v.Cantidad
			}
			axios.
				post("/backend/bsuso/previsualizar", {
					Empresa: this.empresa,
					Fecha: this.fch,
					Config: this.config,
					Esquema: this.esquema,
					Avances: avs,
					CtaRtdo: this.ctaRtdo,
				}).
				then(res => {
					this.minuta = res.data
				}).
				catch(err => eventBus.$emit("error", err)).
				finally(() => this.cargando--)
		},
		confirmar() {
			this.cargando++
			let avs: Record<string, any> = {}
			for (let v of this.avances) {
				avs[v.UM] = v.Cantidad
			}
			axios.
				post("/backend/bsuso/confirmar_amortizaciones", {
					Empresa: this.empresa,
					Fecha: this.fch,
					Config: this.config,
					Esquema: this.esquema,
					Avances: avs,
					CtaRtdo: this.ctaRtdo,
				}).
				then(res => {
					this.$router.push({name: "minuta", query: {id: res.data}})
					this.minuta = res.data
				}).
				catch(err => eventBus.$emit("error", err)).
				finally(() => this.cargando--)
		},
		calcularAjusteInflacion() {
			this.cargando++
			axios.
				post("/backend/bsuso/previsualizar_ajuste_inflacion", {
					Empresa: this.empresa,
					Fecha: this.fch,
					Config: this.config,
					Esquema: this.esquema,
					CtaRtdo: this.ctaRtdo,
				}).
				then(res => {
					this.minuta = res.data
				}).
				catch(err => eventBus.$emit("error", err)).
				finally(() => this.cargando--)
		},
		nombreCuenta(id: string | null): string {
			if (!id) {
				return "";
			}
			let cta = this.$store.getters["cuentas/porID"](id);
			if (!cta) {
				return id;
			}
			return cta.Nombre;
		},
		codigoCuenta(id: string | null): string {
			if (!id) {
				return "";
			}
			let cta = this.$store.getters["cuentas/porID"](id);
			if (!cta) {
				return id;
			}
			return cta.Codigo;
		},
		nombreCentro(id: string | null): string {
			if (!id) {
				return "";
			}
			let centro = this.$store.getters["centros/porID"](id);
			if (!centro) {
				return id;
			}
			return centro.Nombre;
		},
		agregarUM() {
			this.avances.push({UM: this.um, Cantidad: this.cantidad})
		}
	},
	computed: {
    empresas(): Empresa[] {
      return this.$store.getters["empresas/permitidas"];
    },
		cuentasVO(): Cuenta[] {
      return this.$store.getters["cuentas/porFuncion"]("Bienes de uso - Valor origen");
		},
		totalDebe(): number {
			if (!this.minuta) {
				return 0
			}
			let sum = 0;
			for (let v of this.minuta.Partidas) {
				if (v.Debe) {
					sum += Math.round(v.Debe * 100);
				}
			}
			return sum;
		},
		totalHaber(): number {
			if (!this.minuta) {
				return 0
			}
			let sum = 0;
			for (let v of this.minuta.Partidas) {
				if (v.Haber) {
					sum += Math.round(v.Haber * 100);
				}
			}
			return sum;
		},
		ums(): string[] {
			return ["Años"]
		},
		configs(): Config[] {
			if (!this.empresa) {
				return [];
			}
			// Quito las minutas del sistema (refundición, cierre y apertura)
			const todas: Config[] = this.$store.getters["minuta/configPorEmpresa"](
				this.empresa
			)
			if (!todas) {
				return []
			};
			return todas.filter(x => x.Tipo == null) 
		},

		// Una vez que elijo la empresa, me debe filtrar las operaciones
		// de la empresa seleccionada.
		// Una vez que se determina la transacción, debe mostrarme los
		// esquemas que utilizan esa transacción.
		esquemas(): Esquema[] {
			if (!this.config) {
				return [];
			}
			return this.$store.getters["minuta/esquemasPorConfig"](
				this.config
			);
		},
		cuentas(): Cuenta[] {
			return this.$store.getters["cuentas/imputables"]
		}
	}
})
</script>
