<template>
	<div>
		<h1 class="title">Bienes de uso / Saldos</h1>
					
		<b-field label="Empresa" horizontal>
			<b-select v-model="empresa">
				<option :value="null" disabled>Seleccione</option>
				<option v-for="v in empresas" :value="v.ID" :key="v.ID">{{
					v.Nombre
				}}</option>
			</b-select>
		</b-field>

		<b-field label="Fecha" horizontal>
			<b-input v-model="fch" type="date" custom-class="fch" /> 
		</b-field>

		<b-field>
			<b-button @click="fetch()" class="is-info">Buscar </b-button>
		</b-field>
	
		<div v-for="v in cuentasVO" :key="v.ID">
			<h1>{{v.Nombre}}</h1>
			<tabla>
				<thead>
					<th>Bien</th>
					<th>Alta</th>
					<th>Vida util</th>
					<th>Períodos amortizados</th>
					<th>Períodos pendientes</th>
					<th>Valor origen</th>
					<th>Amortización acumulada</th>
					<th>Saldo</th>
				</thead>
				<tbody>
					<tr v-for="v in rowsPorID(v.ID)" :key="v.Unicidad" :value="v.Unicidad">
						<td>{{v.Detalle}}</td>
						<td>{{v.FechaAlta | enFecha}}</td>
						<td align="right">{{v.VidaUtil}}</td>
						<td align="right">{{v.VidaUtilAcum}}</td>
						<td align="right">{{v.VidaUtil + v.VidaUtilAcum}}</td>
						<td align="right">{{v.ValorOrigen | enPesos}}</td>
						<td align="right">{{v.ValorAmortAcum | enPesos}}</td>
						<td align="right">{{v.ValorOrigen + v.ValorAmortAcum | enPesos}}</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>Total</td>
					<td align="right">{{totalVO(v.ID) | enPesos}}</td>
					<td align="right">{{totalAmort(v.ID) | enPesos}}</td>
					<td align="right">{{totalNeto(v.ID) | enPesos}}</td>
				</tr>
				</tfoot>
			</tabla>
		</div>

		<div v-if="rows && rows.length">
		<h2 class="subtitle">Totales</h2>
		<tabla> 
			<tbody>
				<tr>
					<td>Valor origen</td>
					<td align="right">{{totalGeneralVO | enPesos}}</td>
				</tr>
				<tr>
					<td>Amortización acumulada</td>
					<td align="right">{{totalGeneralAcum | enPesos}}</td>
				</tr>
				<tr>
					<td>Valor neto</td>
					<td align="right">{{totalGeneralNeto | enPesos }}</td>
				</tr>
			</tbody>
		</tabla>
		</div>
	</div>
</template>

<script lang="ts">
import axios from "axios"
import Vue from "vue"
import eventBus from "@/eventBus"
import { Empresa } from "@/interfaces/empresas"
import { Cuenta } from "@/interfaces/cuentas"
import { Saldo} from "../saldo"
export default Vue.extend({
	data() {
		return {
			empresa: null as string | null,
			fch: null as string | null,
			
			rows: [] as Saldo[],
			filtradas: new Map<string, Saldo[]>(),
			cargando: 0 as number,
		}
	},
	created() {
		document.title = "Bienes de uso / Saldos"

    if (this.$store.state.empresas.seleccionada) {
      this.empresa = this.$store.state.empresas.seleccionada;
    }
	},
	methods: {
		fetch() {
			this.cargando++
			axios.
				post("/backend/bsuso/saldos", {
					Empresa: this.empresa,
					Fecha: this.fch,
				}).
				then(res => {
					this.rows = res.data
					let m = new Map<string, Saldo[]>()
					for (let v of this.rows) {
						let prev = m.get(v.CuentaValorOrigen)
						if (!prev) {
							prev = []
						}
						prev.push(v)
						m.set(v.CuentaValorOrigen, prev)
					}
					this.filtradas = m
				}).
				catch(err => eventBus.$emit("error", err)).
				finally(() => this.cargando--)
		},
		rowsPorID(cta: string | null): Saldo[] {
			if (!cta) {
				return []
			}
			let v = this.filtradas.get(cta)
			if (!v) {
				return []
			}
			return v
		},
		totalVO(cta: string | null): number {
			if (!cta) {
				return 0 
			}
			let sum = 0
			let rr = this.filtradas.get(cta)
			if (!rr) {
				return 0
			}
			for (let v of rr) {
				sum += v.ValorOrigen	
			}
			return sum
		},
		totalAmort(cta: string | null): number {
			if (!cta) {
				return 0 
			}
			let sum = 0
			let rr = this.filtradas.get(cta)
			if (!rr) {
				return 0
			}
			for (let v of rr) {
				sum += v.ValorAmortAcum
			}
			return sum
		},
		totalNeto(cta: string | null): number {
			if (!cta) {
				return 0 
			}
			let sum = 0
			let rr = this.filtradas.get(cta)
			if (!rr) {
				return 0
			}
			for (let v of rr) {
				sum += v.ValorOrigen + v.ValorAmortAcum
			}
			return sum
		}
	},
	computed: {
    empresas(): Empresa[] {
      return this.$store.getters["empresas/permitidas"];
    },
		cuentasVO(): Cuenta[] {
      return this.$store.getters["cuentas/porFuncion"]("Bienes de uso - Valor origen");
		},
		totalGeneralVO(): number {
			let sum = 0
			for (let v of this.rows) {
				sum += v.ValorOrigen 
			}
			return sum
		},
		totalGeneralAcum(): number {
			let sum = 0
			for (let v of this.rows) {
				sum += v.ValorAmortAcum
			}
			return sum
		},
		totalGeneralNeto(): number {
			let sum = 0
			for (let v of this.rows) {
				sum += v.ValorOrigen + v.ValorAmortAcum
			}
			return sum
		},
	}
})
</script>
