<template>
  <div>
    <div class="titulo-de-pantalla">
      <h1>Rendición de caja</h1>
      <puntitos :size="35">
        <ul>
          <li @click="$router.push({ name: 'rendicionConfig' })">
            Nueva configuración
          </li>
        </ul>
      </puntitos>
    </div>
    <div class="box">
      <b-field label="Empresa">
        <b-select v-model="empresa">
          <option :value="null">Todas </option>
          <option v-for="v in empresas" :key="v.ID" :value="v.ID">{{
            v.Nombre
          }}</option>
        </b-select>
      </b-field>
    </div>
    <tabla v-if="configs.length">
      <thead>
        <tr>
          <th>Empresa</th>
          <th>Nombre</th>
          <th>Desde</th>
          <th>Hacia</th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="v in configs"
          v-bind:key="v.ID"
          class="link"
          @click="profundizar(v.ID)"
        >
          <td>{{ nombreEmpresa(v.Empresa) }}</td>
          <td>{{ v.Nombre }}</td>
          <td>{{ nombreCajas(v.CajasDesde) }}</td>
          <td>{{ nombreCajas(v.CajasHacia) }}</td>
        </tr>
      </tbody>
    </tabla>
    <p v-if="!this.configs.length && this.dirty">No hay configuraciones</p>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import axios from "axios";
import Puntitos from "@/components/widgets/Puntitos.vue";
import eventBus from "@/eventBus";
import { updateQuery } from "@/modules/routeUtil";
import { Empresa } from "@/interfaces/empresas";
export default Vue.extend({
  data() {
    return {
      empresa: null as string | null,
      configs: [],
      dirty: true as boolean
    };
  },
  components: {
    Puntitos
  },
  created() {
    document.title = "Rendiciones caja (config)"
    if (this.$route.query.empresa) {
      this.empresa = this.$route.query.empresa as string;
    } else {
      let emp = this.$store.getters["empresas/seleccionada"];
      if (emp) {
        this.empresa = emp.ID;
      }
    }
  },
  methods: {
    actualizar() {
      axios
        .post("/backend/rendiciones_config/many", { Empresa: this.empresa })
        .then(response => {
          this.configs = response.data;
          this.dirty = true;
        })
        .catch(err => eventBus.$emit("error", err));
    },
    profundizar(id: string) {
      if (this.empresa) {
        updateQuery({ empresa: this.empresa }, this);
      }
      this.$router.push({
        name: "rendicionConfig",
        query: { id: id }
      });
    },
    nombreEmpresa(id: string): string {
      let emp = this.$store.getters["empresas/porID"](id);
      if (!emp) {
        return id;
      }
      return emp.Nombre;
    },
    nombreCajas(ids: string[]): string {
      let out: string[] = [];
      for (let v of ids) {
        let caja = this.$store.getters["cajas/porID"](v);
        if (!caja) {
          out.push(v);
        } else {
          out.push(caja.Nombre);
        }
      }

      return out.join(", ");
    }
  },
  computed: {
    empresas(): Empresa[] {
      return this.$store.getters["empresas/permitidas"];
    }
  },
  watch: {
    empresa() {
      this.actualizar();
    }
  }
});
</script>
