<template>
  <div>
    <div class="titulo-de-pantalla">
      <h1 class="is-title">{{ titulo }}</h1>
    </div>

    <div class="box">
      <b-field label="Empresa">
        <b-select v-model="rend.Empresa">
          <option v-for="v in empresas" :value="v.ID" :key="v.ID">
            {{ v.Nombre }}
          </option>
        </b-select>
      </b-field>

      <b-field label="Nombre">
        <b-input v-model="rend.Nombre"></b-input>
      </b-field>

      <b-field label="Comprobante">
        <b-select v-model="rend.Comp">
          <option :value="null">Seleccione</option>
          <option v-for="v in comps" :value="v.ID">{{ nombreComp(v) }}</option>
        </b-select>
      </b-field>

      <b-field label="Cajas desde">
        <multiselect
          :options="cajas"
          v-model="rend.CajasDesde"
          mode="tags"
          valueProp="ID"
          label="Nombre"
        />
      </b-field>
      <b-field label="Cajas hacia">
        <multiselect
          :options="cajas"
          v-model="rend.CajasHacia"
          mode="tags"
          valueProp="ID"
          label="Nombre"
        />
      </b-field>

      <b-button class="is-success" @click="guardar()">Guardar</b-button>
      <b-button class="is-danger" @click="eliminar()" v-if="!esNuevo"
        >Eliminar</b-button
      >
    </div>

    <b-loading
      is-full-page
      :active="cargando != 0"
      :can-cancel="true"
    ></b-loading>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import axios from "axios";
import eventBus from "@/eventBus";
import { Config } from "../rendicion";
import { Empresa } from "@/interfaces/empresas";
import { Caja } from "@/modules/cajas/cajas";
import { Comp } from "@/interfaces/comps";
export default Vue.extend({
  data() {
    return {
      rend: new Config(),
      cargando: 0 as number,

      comps: [] as Comp[],
    };
  },
  created() {
    document.title = "Rendición caja (conf)";
    if (!this.esNuevo) {
      this.actualizar();
    }
  },
  methods: {
    actualizar() {
      this.cargando++;
      axios
        .post("/backend/rendiciones_config/one", { ID: this.$route.query.id })
        .then((res) => {
          Object.assign(this.rend, res.data);
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },

    pedirComprobantes() {
      if (!this.rend.Empresa) {
        return;
      }
      // Pido comprobantes
      this.cargando++;
      axios
        .get("/backend/comprobantes", {
          params: { Empresa: this.rend.Empresa },
        })
        .then((res) => {
          if (res.data) {
            res.data.sort((a: Comp, b: Comp) => {
              return new Intl.Collator("ar").compare(a.Nombre, b.Nombre);
            });
          }
          this.comps = res.data;
        })
        .catch((err) => eventBus.$emit("error", err))
        .finally(() => this.cargando--);
    },
    guardar() {
      let crud = "create";
      if (!this.esNuevo) {
        crud = "update";
      }
      this.cargando++;
      axios
        .post(`/backend/rendiciones_config/${crud}`, this.rend)
        .then((res) => {
          this.$buefy.toast.open({
            duration: 3000,
            message: "Cambios guardados",
            type: "is-success",
          });
          this.$router.go(-1);
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },
    eliminar() {
      this.$buefy.dialog.confirm({
        title: "Eliminar",
        message: "¿Está seguro que desea <b>eliminar</b> la configuración? ",
        confirmText: "Eliminar",
        type: "is-danger",
        hasIcon: true,
        onConfirm: () => {
          this.cargando++;
          axios
            .post("/backend/rendiciones_config/delete", {
              ID: this.rend.ID,
            })
            .then(() => {
              this.$router.go(-1);
            })
            .catch((err) => {
              eventBus.$emit("error", err);
            })
            .finally(() => this.cargando--);
        },
      });
    },
    nombreComp(comp: Comp): string {
      if (comp.PuntoDeVenta) {
        return `${comp.Nombre} (PV: ${comp.PuntoDeVenta})`;
      }
      return comp.Nombre;
    },
  },
  computed: {
    titulo(): string {
      if (this.$route.query.id) {
        return "Modificar rendición de caja";
      }
      return "Nueva rendición de caja";
    },
    esNuevo(): boolean {
      if (this.$route.query.id) {
        return false;
      }
      return true;
    },
    empresas(): Empresa[] {
      return this.$store.getters["empresas/permitidas"];
    },
    cajas(): Caja[] {
      return this.$store.getters["cajas/todas"];
    },
  },
  watch: {
    "rend.Empresa"() {
      if (this.rend.Empresa) {
        this.pedirComprobantes();
      }
    },
  },
});
</script>
