<template>
  <div
    id="wrapper"
    class="column is-10-widescreen is-12-desktop is-12-tablet is-12-mobile"
  >
    <div class="titulo-de-pantalla">
      <h1>{{ titulo }}</h1>
    </div>

    <div class="box">
      <div class="columns">
        <b-field label="Empresa" horizontal class="column">
          <b-select v-model="rend.Empresa" :disabled="bloquear">
            <option v-for="v in empresas" :value="v.ID" :key="v.ID">
              {{ v.Nombre }}
            </option>
          </b-select>
        </b-field>
        <b-field label="Configuración" horizontal class="column">
          <b-select v-model="rend.Config" :disabled="bloquear">
            <option value="0" disabled>Seleccione</option>
            <option v-for="v in configsFiltradas" :value="v.ID" :key="v.ID">
              {{ v.Nombre }}
            </option>
          </b-select>
        </b-field>
      </div>
      <b-field label="Fecha" horizontal>
        <b-input
          type="date"
          v-model="rend.Fecha"
          :disabled="bloquear"
          custom-class="fch"
        ></b-input>
      </b-field>
      <b-field v-if="rend.Op" label="Número" horizontal>
        <div class="is-flex">
          <b-input
            v-model="rend.Op.PuntoDeVenta"
            :disabled="bloquear"
            custom-class="pto-vta"
          ></b-input>

          <b-input
            v-model="rend.Op.NComp"
            :disabled="bloquear"
            custom-class="ncomp"
          ></b-input>
        </div>
      </b-field>
      <b-field label="Caja desde" horizontal>
        <b-select v-model="rend.CajaDesde" :disabled="bloquear">
          <option v-for="v in cajasDesdePermitidas" :value="v.ID" :key="v.ID">
            {{ v.Nombre }}
          </option>
        </b-select>
      </b-field>
      <b-field label="Caja hacia" horizontal>
        <b-select v-model="rend.CajaHacia" :disabled="bloquear">
          <option v-for="v in cajasHaciaPermitidas" :value="v.ID" :key="v.ID">
            {{ v.Nombre }}
          </option>
        </b-select>
      </b-field>
    </div>

    <!-- RENDICION NUEVA -->
    <div class="box" v-if="esNuevo && rend.CajaDesde != '0'">
      <h1 class="title">Existencias en {{ nombreCaja(rend.CajaDesde) }}</h1>
      <tabla v-if="this.rend">
        <thead>
          <th>Cuenta</th>
          <th colspan="2" align="center">Actual</th>
          <th colspan="2" align="center">Selección</th>
          <th colspan="2" align="center">Luego</th>
        </thead>
        <tbody>
          <tr v-for="v in saldos" :key="v.Cuenta">
            <td>{{ alias(v.Cuenta) }}</td>
            <td align="right">{{ v.Monto | enPesos }}</td>
            <td align="right">
              <span v-if="tieneApertura(v.Cuenta)" class="link">
                ({{ v.Cantidad | enteros }})
              </span>
            </td>
            <td align="right" v-if="tieneApertura(v.Cuenta)">
              {{ saldoSeleccionado(v.Cuenta) | enPesos }}
            </td>
            <td v-if="!tieneApertura(v.Cuenta)" align="right">
              <span v-if="totalArqueo(v.Cuenta)">
                {{ totalArqueo(v.Cuenta) | enPesos }}
              </span>
            </td>
            <td>
              <b-button
                v-if="tieneApertura(v.Cuenta)"
                icon-left="magnify"
                @click="profundizarSaldo(v.Cuenta)"
              ></b-button>
              <b-button
                v-if="!tieneApertura(v.Cuenta)"
                @click="profundizarArqueo(v.Cuenta)"
                icon-left="magnify"
              ></b-button>
            </td>
            <td align="right">
              {{ (v.Monto - saldoSeleccionado(v.Cuenta)) | enPesos }}
            </td>
          </tr>
        </tbody>
        <!-- <tfoot v-if="!esNuevo">
          <td>Total</td>
          <td></td>
          <td align="right">{{ totalValores | enPesos }}</td>
        </tfoot> -->
      </tabla>
      <b-button @click="actualizarExistencias()" icon-left="refreshu"
        >Actualizar</b-button
      >
    </div>
    <!-- TERMINA RENDICION NUEVA -->

    <div class="box" v-if="!esNuevo">
      <h1 class="title">Valores rendidos</h1>
      <tabla v-if="this.rend">
        <thead>
          <th>Cuenta</th>
          <th>Monto</th>
          <th>Cantidad</th>
        </thead>
        <tbody>
          <tr v-for="v in cuentasUsadas" :key="v.ID">
            <td>{{ v.Alias }}</td>
            <td align="right">{{ total(v.ID) | enPesos }}</td>
            <td align="right">{{ cantidad(v.ID) }}</td>
          </tr>
        </tbody>
        <tfoot>
          <td>Total</td>
          <td align="right">{{ totalValores | enPesos }}</td>
          <td></td>
        </tfoot>
      </tabla>
    </div>

    <b-field label="Detalle" v-if="esNuevo">
      <b-input v-model="rend.DetalleManual" />
    </b-field>
    <b-field v-if="!esNuevo || (!esNuevo && rend.DetalleManual)" label="Detalle">
      <p class="control input">{{ rend.DetalleManual }}</p>
    </b-field>

    <b-button v-if="esNuevo" @click="confirmar()" class="is-primary"
      >Confirmar</b-button
    >
    <b-button v-if="hayOp" @click="pdf()">Imprimir</b-button>
    <b-button v-if="hayOp" @click="mostrarAsiento()">Asiento</b-button>
    <b-button v-if="hayOp" @click="eliminar()" class="is-danger"
      >Eliminar</b-button
    >
    <b-loading
      is-full-page
      :active="cargando != 0"
      :can-cancel="true"
    ></b-loading>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import axios from "axios";
import { hoy } from "@/modules/util/fechas";
import { format } from "date-fns";
import eventBus from "@/eventBus";
import Asiento from "@/components/widgets/Asiento.vue";
import { Caja } from "@/modules/cajas/cajas";
import { Empresa } from "@/interfaces/empresas";
import {
  Rendicion,
  Partida,
  Config,
  Saldo,
} from "@/modules/rendiciones/rendicion";
import { Cuenta } from "@/interfaces/cuentas";
import Arqueo from "../components/Arqueo.vue";
import AperturaUnicidades from "@/modules/unicidades/components/AperturaUnicidades.vue";
export default Vue.extend({
  data() {
    return {
      rend: {
        ID: null,
        Empresa: "0",
        Config: "0",
        Fecha: format(hoy(), "yyyy-MM-dd"),
        Detalle: "",
        DetalleManual: "",
        Valores: [],
        CajaDesde: "0",
        CajaHacia: "0",
        Monto: 0,
        Usuario: "",
        Op: null,
      } as Rendicion,

      // Los que están para seleccionar
      saldos: [] as Saldo[],

      // Unicidades seleccionadas.
      // El key es la cuenta contable, el valor es Map(id, saldo)
      selecciones: new Map(),

      // key=cuenta contable; value=monto a rendir
      arqueos: new Map(),

      bus: new Vue(),

      configs: [] as Config[],
      cargando: 0 as number,
    };
  },
  created() {
    document.title = "Rendición caja";
    if (this.esNuevo) {
      let emp = this.$store.getters["empresas/seleccionada"];
      if (emp) {
        this.rend.Empresa = emp.ID;
      }
    } else {
      this.actualizar();
    }

    this.fetchConfigs();
    this.hooks();
  },
  methods: {
    actualizar() {
      this.cargando++;
      // Busco rend
      axios
        .post("/backend/rendiciones/one", { ID: this.$route.query.id })
        .then((res) => {
          this.rend = res.data;
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },
    actualizarExistencias() {
      this.cargando++;
      axios
        .post("/backend/rendiciones/existencias", {
          Empresa: this.rend.Empresa,
          Caja: this.rend.CajaDesde,
        })
        .then((res) => {
          this.saldos = res.data;
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },
    profundizarArqueo(cuenta: string) {
      this.$buefy.modal.open({
        parent: this,
        component: Arqueo,
        hasModalCard: true,
        trapFocus: true,
        fullScreen: false,
        scroll: "clip",
        props: {
          arqueo: this.arqueos.get(cuenta),
          bus: this.bus,
          cuenta: cuenta,
        },
      });
    },
    fetchConfigs() {
      this.cargando++;
      axios
        .post("/backend/rendiciones_config/many", {})
        .then((res) => {
          this.configs = res.data;
          if (this.configsFiltradas.length == 1) {
            this.rend.Config = this.configs[0].ID as string;
          }
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },
    hooks() {
      this.bus.$on(
        "itemsSeleccionados",
        (cuenta: string, items: Map<String, Number>) => {
          this.selecciones.set(cuenta, items);
          this.$forceUpdate();
        }
      );
      this.bus.$on("arqueoModificado", (cuenta: string, arqueo: any) => {
        this.arqueos.set(cuenta, arqueo);
        this.$forceUpdate();
      });
    },
    totalArqueo(cuenta: string): number {
      let arq: any = this.arqueos.get(cuenta);
      if (!arq) {
        return 0;
      }
      let sum = 0;
      for (let k of Object.keys(arq)) {
        sum += parseFloat(k) * arq[k];
      }
      return sum;
    },
    profundizarSaldo(cuentaID: string) {
      this.cargando++;
      axios
        .post("/backend/unicidadescont/apertura_por_monto", {
          Empresa: this.rend.Empresa,
          Caja: this.rend.CajaDesde,
          Cuenta: cuentaID,
        })
        .then((res) => {
          this.$buefy.modal.open({
            parent: this,
            component: AperturaUnicidades,
            trapFocus: true,
            hasModalCard: true,
            fullScreen: true,
            scroll: "clip",
            props: {
              bus: this.bus,
              seleccionar: true,
              unicidades: res.data,
              cuentaProp: cuentaID,
              selecciones: this.selecciones.get(cuentaID),
            },
          });
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },
    confirmar() {
      this.rend.Valores = [];
      for (let ctaID of this.selecciones.keys()) {
        let sels = this.selecciones.get(ctaID);
        for (let unicID of sels.keys()) {
          let p = {
            Cuenta: ctaID,
            Monto: sels.get(unicID),
            UnicidadRef: unicID,
          } as Partida;
          this.rend.Valores.push(p);
        }
      }

      for (let ctaID of this.arqueos.keys()) {
        let totalPorCuenta = this.totalArqueo(ctaID);
        if (!totalPorCuenta) {
          continue;
        }
        let p = {
          Cuenta: ctaID,
          Monto: totalPorCuenta,
        } as Partida;
        this.rend.Valores.push(p);
      }

      this.cargando++;
      axios
        .post("/backend/rendiciones/create", this.rend)
        .then((res) => {
          this.$router.push({
            name: "rendicionCaja",
            query: { id: res.data.ID },
          });
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },
    eliminar(): void {
      this.$buefy.dialog.confirm({
        title: "Borrar rendición",
        message: "¿Está seguro que desea <b>borrar</b> la rendición de caja? ",
        confirmText: "Borrar",
        type: "is-danger",
        hasIcon: true,
        onConfirm: () => {
          this.cargando++;
          axios
            .post("/backend/rendiciones/delete", {
              ID: this.rend.ID,
            })
            .then(() => {
              this.$router.go(-1);
            })
            .catch((err) => {
              eventBus.$emit("error", err);
            })
            .finally(() => this.cargando--);
        },
      });
    },
    saldoSeleccionado(cuenta: string): number {
      console.log("buscando saldo de cuenta ", cuenta);
      let m = this.selecciones.get(cuenta);
      let sum = 0;
      if (m) {
        // Sumo cada una de las unicidades
        for (let v of m.values()) {
          sum += v;
        }
      }

      // Sumo las cuentas que no usan unicidades
      sum += this.totalArqueo(cuenta);

      console.log("saldo total", sum);
      return sum;
    },
    cantidad(cuentaID: string | null): number | null {
      if (!this.rend) {
        return null;
      }
      if (!this.rend.Valores) {
        return null;
      }
      if (!cuentaID) {
        return null;
      }
      let found = this.rend.Valores.filter((x) => x.Cuenta == cuentaID);
      if (!found) {
        return null;
      }
      return found.length;
    },
    total(cuentaID: string | null): number | null {
      if (!this.rend) {
        return null;
      }
      if (!this.rend.Valores) {
        return null;
      }
      if (!cuentaID) {
        return null;
      }
      let found = this.rend.Valores.filter((x) => x.Cuenta == cuentaID);
      if (!found) {
        return null;
      }
      let sum = 0;
      for (let v of found) {
        sum += v.Monto;
      }
      return sum;
    },
    alias(cuentaID: string): string {
      let cta: Cuenta = this.$store.getters["cuentas/porID"](cuentaID);
      if (cta) {
        return cta.Alias;
      }
      return cuentaID;
    },
    tieneApertura(cuentaID: string): boolean {
      let cta: Cuenta = this.$store.getters["cuentas/porID"](cuentaID);
      if (cta) {
        return cta.AperturaUnicidad;
      }
      return false;
    },
    nombreCaja(id: string): string {
      let caja = this.$store.getters["cajas/porID"](id);
      if (caja) {
        return caja.Nombre;
      }
      return id;
    },
    mostrarAsiento() {
      if (!this.rend) {
        return;
      }
      if (!this.rend.Op) {
        return;
      }
      this.cargando++;
      axios
        .post("/backend/ops/partidas", { ID: this.rend.Op.ID })
        .then((res) => {
          this.$buefy.modal.open({
            parent: this,
            component: Asiento,
            hasModalCard: true,
            trapFocus: true,
            fullScreen: true,
            scroll: "clip",
            props: {
              partidas: res.data,
            },
          });
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },

    pdf() {
      if (!this.rend.Op) {
        return;
      }
      if (!this.rend.Op.ID) {
        return;
      }
      this.cargando++;
      axios({
        method: "post",
        url: "/backend/rendiciones/pdf",
        data: {
          OpID: this.rend.Op.ID,
        },
        responseType: "arraybuffer",
      })
        .then((res) => {
          let blob = new Blob([res.data], { type: "application/pdf" }),
            url = window.URL.createObjectURL(blob);
          window.open(url);
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },
  },
  computed: {
    configsFiltradas(): Config[] {
      if (!this.configs) {
        return [];
      }
      if (this.rend.Empresa == "0") {
        return [];
      }
      return this.configs.filter((x) => x.Empresa == this.rend.Empresa);
    },
    titulo(): string {
      if (this.esNuevo) {
        return "Nueva rendición de caja";
      }
      return "Rendición de caja";
    },
    esNuevo(): boolean {
      if (this.$route.query.id) {
        return false;
      }
      return true;
    },
    bloquear() {
      if (this.esNuevo) {
        return false;
      }
      return true;
    },
    cajasDesdePermitidas(): Caja[] {
      if (!this.rend.Config) {
        return [];
      }
      let c = this.configs.find((x) => x.ID == this.rend.Config);
      if (!c) {
        return [];
      }
      return this.$store.getters["cajas/porIDs"](c.CajasDesde);
    },
    cajasHaciaPermitidas(): Caja[] {
      if (!this.rend.Config) {
        return [];
      }
      let c = this.configs.find((x) => x.ID == this.rend.Config);
      if (!c) {
        return [];
      }
      return this.$store.getters["cajas/porIDs"](c.CajasHacia);
    },
    cuentasUsadas(): Cuenta[] {
      if (!this.rend) {
        return [];
      }
      if (!this.rend.Valores) {
        return [];
      }
      let m = new Set();
      for (let v of this.rend.Valores) {
        m.add(v.Cuenta);
      }
      // if (!m.entries.length) {
      //   return [];
      // }
      let ids = Array.from(m);
      return this.$store.getters["cuentas/porIDs"](ids);
    },
    totalValores(): number | null {
      if (!this.rend) {
        return null;
      }
      if (!this.rend.Valores) {
        return null;
      }
      let sum = 0;
      for (let v of this.rend.Valores) {
        sum += v.Monto;
      }
      return sum;
    },
    empresas(): Empresa[] {
      return this.$store.getters["empresas/permitidas"];
    },
    hayOp(): boolean {
      if (!this.rend) {
        return false;
      }
      if (!this.rend.Op) {
        return false;
      }
      return true;
    },
  },
  watch: {
    "rend.Empresa"(nuevo: string) {
      if (!this.esNuevo) {
        return;
      }
      if (nuevo != "0") {
        if (this.configsFiltradas.length == 1) {
          this.rend.Config = this.configsFiltradas[0].ID as string;
        } else {
          this.rend.Config = "0";
        }
      }
    },
    "rend.Config"(nuevo: string) {
      if (!this.esNuevo) {
        return;
      }
      let cfg = this.configs.find((x) => x.ID == nuevo);
      if (cfg) {
        if (cfg.CajasDesde.length == 1) {
          this.rend.CajaDesde = cfg.CajasDesde[0];
        }
        if (cfg.CajasHacia.length == 1) {
          this.rend.CajaHacia = cfg.CajasHacia[0];
        }
      }
      if (this.configsFiltradas.length == 1) {
        this.rend.Config = this.configsFiltradas[0].ID as string;
      }
    },
  },
});
</script>
<style lang="scss" scoped>
.btn-arqueo {
  width: 100%;
  text-align: right;
  background-color: red;
}
</style>
