<template>
  <div>
    <div class="titulo-de-pantalla">
      <h1>Condiciones</h1>
      <puntitos :size="35">
        <ul>
          <li @click="$router.push({ name: 'condicion' })">
            Nueva condición
          </li>
        </ul>
      </puntitos>
    </div>

    <tabla v-if="condiciones.length > 0">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Cuotas</th>
          <th>Desde</th>
          <th>Hasta</th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="v in condiciones"
          v-bind:key="v.ID"
          class="link"
          @click="profundizar(v.ID)"
        >
          <td>{{ v.ID }}</td>
          <td>{{ v.Nombre }}</td>
          <td>{{ v.CantidadCuotas }}</td>
          <td>{{ v.ValidaDesde | enFecha }}</td>
          <td>{{ v.ValidaHasta | enFecha }}</td>
        </tr>
      </tbody>
    </tabla>
    <p v-else>No hay ninguna condición</p>
  </div>
</template>

<script>
import axios from "axios";
import eventBus from "@/eventBus.ts";
import Puntitos from "@/components/widgets/Puntitos";
export default {
  data() {
    return {
      empresa: null,
      condiciones: []
    };
  },
  components: {
    Puntitos
  },
  created() {
	document.title = "Condiciones de pago"
    axios
      .post("/backend/condiciones/many", {})
      .then(response => {
        this.condiciones = response.data;
      })
      .catch(err => eventBus.$emit("error", err));
  },
  methods: {
    profundizar(id) {
      this.$router.push({
        name: "condicion",
        query: { id: id }
      });
    }
  }
};
</script>
<style lang="scss" scoped>
div.buscar {
  margin-top: 20px;
  margin-bottom: 30px;
}
div.buscar input {
  width: 80%;
  float: left;
}

div.buscar button {
  float: left;
  width: 20%;
}
</style>
