<template>
  <div>
    <div class="titulo-de-pantalla">
      <h1>{{ titulo }}</h1>
    </div>

    <div class="box">
      <b-field label="Nombre">
        <b-input v-model="cond.Nombre"></b-input>
      </b-field>

      <div class="flex">
        <b-field label="Modalidad">
          <b-select v-model="cond.Modalidad">
            <option :value="null">Seleccione</option>
            <option value="Días">Días</option>
            <option value="Fecha fija">Fecha fija</option>
            <option value="Día del mes">Día del mes</option>
          </b-select>
        </b-field>

        <b-field label="Cantidad de cuotas">
          <b-input v-model.number="cond.CantidadCuotas"></b-input>
        </b-field>
        <b-button @click="generarCuotas()">Generar</b-button>
      </div>

      <tabla v-if="cond.Cuotas && cond.Cuotas.length">
        <thead>
          <th>Número</th>
          <th v-if="cond.Modalidad == 'Días'">Días</th>
          <th v-if="cond.Modalidad == 'Fecha fija'">Fecha fija</th>
          <th v-if="cond.Modalidad == 'Días'">Simulación</th>
          <th>Porcentaje</th>
        </thead>
        <tbody>
          <tr v-for="cuota in cond.Cuotas" v-bind:key="cuota.Numero">
            <td>{{ cuota.Numero }}</td>
            <td v-if="cond.Modalidad == 'Días'">
              <b-input v-model.number="cuota.Dias"></b-input>
            </td>
            <td v-if="cond.Modalidad == 'Días'">
              {{ simularDias(cuota.Dias) | enFecha }}
            </td>
            <td v-if="cond.Modalidad == 'Fecha fija'">
              <b-input type="date" v-model="cuota.FechaFija"></b-input>
            </td>
            <td>
              <b-input
                v-model.number="cuota.Porcentaje"
                @input="calcularCuotas()"
              ></b-input>
            </td>
          </tr>
        </tbody>
      </tabla>
	  <b-field label="Modificable?">
		  <b-switch v-model="cond.Modificable"></b-switch>
	  </b-field>
      <div class="flex">
        <b-field label="Válido desde">
          <b-input type="date" v-model="cond.ValidaDesde"></b-input>
        </b-field>
        <b-field label="Válido hasta">
          <b-input type="date" v-model="cond.ValidaHasta"> </b-input>
        </b-field>
      </div>
    </div>
    <div class="botonera">
      <b-button class="is-primary" @click="guardar()">Guardar</b-button>
      <b-button @click="volver()">Cancelar</b-button>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import eventBus from "@/eventBus.ts";
import { newDate } from "@/modules/util/fechas";
import { format, startOfToday, addDays } from "date-fns";
export default {
  data() {
    return {
      cond: {
        ID: null,
        Nombre: null,
        Modalidad: null,
        CantidadCuotas: null,
        Cuotas: [],
        ValidaDesde: null,
        ValidaHasta: null
      }
    };
  },
  created() {
	document.title = "Condición pago"
    if (!this.esNuevo) {
      this.actualizar();
    }
  },
  methods: {
    volver() {
      this.$router.go(-1);
    },
    actualizar() {
      axios
        .post("/backend/condiciones/one", { ID: this.$route.query.id })
        .then(res => {
          this.cond = res.data;
          this.cond.ValidoDesde = this.cond.ValidaDesde;
          this.cond.ValidoHasta = this.cond.ValidaHasta;
        })
        .catch(err => {
          eventBus.$emit("error", err);
        });
    },
    simularDias(dias) {
      if (dias == null) {
        return null;
      }
      return format(addDays(newDate(startOfToday()), dias), "yyyy-MM-dd");
    },
    calcularCuotas() {
      let sum = 0;
      for (let i in this.cond.Cuotas) {
        if (i == this.cond.Cuotas.length - 1) {
          continue;
        }
        if (this.cond.Cuotas[i].Porcentaje != null) {
          sum += this.cond.Cuotas[i].Porcentaje;
        }
      }
      if (sum < 100 && this.cond.Cuotas.length > 0) {
        this.cond.Cuotas[this.cond.Cuotas.length - 1].Porcentaje = 100 - sum;
      }
    },
    generarCuotas() {
      let cc = [];
      console.log("Cantidad cuotas", this.cond.CantidadCuotas);
      for (let i = 0; i < this.cond.CantidadCuotas; i++) {
        console.log("Creando cuota ", i);
        let cuota = {
          Numero: i + 1,
          Porcentaje:
            Math.round((100 / this.cond.CantidadCuotas) * 10000) / 10000
        };
        if (this.cond.Modalidad == "Días") {
          cuota.Dias = (i + 1) * 30;
        }
        cc.push(cuota);
      }
      this.cond.Cuotas = cc;
    },
    guardar() {
      if (this.esNuevo) {
        this.guardarNuevo();
      } else {
        this.guardarModificacion();
      }
    },
    guardarNuevo() {
      axios
        .post("/backend/condiciones/create", this.cond)
        .then(() => {
          this.volver();
        })
        .catch(err => {
          eventBus.$emit("error", err);
        });
    },
    guardarModificacion() {
      axios
        .post("/backend/condiciones/update", this.cond)
        .then(() => {
          this.volver();
        })
        .catch(err => {
          eventBus.$emit("error", err);
        });
    }
  },
  computed: {
    esNuevo() {
      if (this.$route.query.id == undefined) {
        return true;
      }
      return false;
    },
    titulo() {
      if (this.esNuevo) {
        return "Nueva condición de pago";
      }
      return "Modificar condición de pago";
    }
  }
};
</script>

<style lang="scss" scoped>
div.flex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
div.item {
  margin-right: 15px;
}
</style>
