<template>
  <div>
    <h1 class="title">Modificar datos</h1>
    <b-field label="Fecha contable" horizontal v-if="op">
      <b-input
        v-model="modificaciones.FechaContable"
        type="date"
        custom-class="fch"
      ></b-input>
    </b-field>
    <b-field label="Tipo" v-if="op" horizontal>
      <b-select v-model="modificaciones.AFIPComprobanteID">
        <option v-for="v in compsOriginales" :value="v.ID" v-bind:key="v.ID">
          {{ v.ID }} - {{ v.Nombre }}
        </option>
      </b-select>
    </b-field>

    <b-field v-if="op" label="Número" horizontal>
      <b-field>
        <b-input
          v-model.number="modificaciones.PuntoDeVenta"
          custom-class="pto-vta"
        />
        <b-input v-model.number="modificaciones.NComp" custom-class="ncomp" />
      </b-field>
    </b-field>

    <b-field label="Fecha original" horizontal v-if="op">
      <b-input
        v-model="modificaciones.FechaOriginal"
        type="date"
        custom-class="fch"
      ></b-input>
    </b-field>
    <b-button class="is-success" @click="guardar()">Guardar</b-button>
    <b-button class="volver()" @click="volver()">Volver</b-button>
    <b-loading is-full-page :active="cargando != 0"></b-loading>
  </div>
</template>

<script lang="ts">
import axios from "axios";
import Vue from "vue";
import eventBus from "@/eventBus";
import { Op } from "@/modules/ops/interfaces";
export default Vue.extend({
  data() {
    return {
      modificaciones: {
        ID: null as string | null,
        FechaContable: null as string | null,

        FechaOriginal: null as string | null,
        AFIPComprobanteID: null as string | null,
        PuntoDeVenta: null as number | null,
        NComp: null as number | null,
      },
      op: null as Op | null,
      cargando: 0 as number,
    };
  },
  created() {
    this.fetch();
  },
  methods: {
    fetch() {
      this.cargando++;
      axios
        .post("/backend/ops/one", { ID: this.$route.query.id })
        .then((res) => {
          this.op = res.data;
          if (!this.op) {
            return;
          }
          this.modificaciones.ID = this.op.ID;
          this.modificaciones.FechaContable = this.op.Fecha;
          this.modificaciones.AFIPComprobanteID = this.op.AFIPComprobanteID;
          this.modificaciones.PuntoDeVenta = this.op.PuntoDeVenta;
          this.modificaciones.NComp = this.op.NComp;
          this.modificaciones.FechaOriginal = this.op.FechaOriginal;
        })
        .catch((err) => eventBus.$emit("error", err))
        .finally(() => this.cargando--);
    },
    guardar() {
      this.cargando++;
      axios
        .post("/backend/ops/modificar_datos", this.modificaciones)
        .then(() => {
          this.volver();
        })
        .catch((err) => eventBus.$emit("error", err))
        .finally(() => this.cargando--);
    },
    volver() {
      this.$router.go(-1);
    },
  },
  computed: {
    compsOriginales() {
      return this.$store.getters["comps/afip"];
    },
  },
});
</script>
