<template>
  <div>
    <h1 class="title">Auto aplicador</h1>
    <b-field label="Empresa">
      <b-select v-model="empresa">
        <option v-for="v in empresas" :value="v.ID" :key="v.ID">
          {{ v.Nombre }}
        </option>
      </b-select>
    </b-field>

    <b-field label="Cuentas a las que aplica">
      <b-select v-model="grupo">
        <option
          v-for="v in gruposCuentas"
          v-bind:value="v.ID"
          v-bind:key="v.ID"
        >
          {{ v.Nombre }}
        </option>
      </b-select>
    </b-field>

    <b-field label="Fecha">
      <b-input type="date" v-model="fecha" custom-class="fch" />
    </b-field>

    <b-field label="Comprobante">
      <b-select v-model="comp">
        <option v-for="v in comps" :value="v.ID" :key="v.ID">
          {{ v.Nombre }} (PV: {{ v.PuntoDeVenta }})
        </option>
      </b-select>
    </b-field>

    <b-field label="Límitar en">
      <b-input type="number" v-model="limit" />
    </b-field>

    <b-button class="is-info" @click="buscar()">Buscar</b-button>
    <b-button
      @click="confirmar()"
      class="is-success"
      v-if="disponibles && disponibles.length"
      >Confirmar</b-button
    >

    <tabla v-if="disponibles && disponibles.length">
      <thead>
        <th>Item</th>
        <th>Persona</th>
        <th>Cantidad partidas</th>
        <th>Aplicar?<b-checkbox v-model="tildarGeneral" /></th>
      </thead>
      <tbody>
        <tr v-for="(v, i) in disponibles" :key="v.PersonaID">
          <td>{{ i + 1 }}</td>
          <td>
            <router-link
              :to="{
                name: 'aplicador',
                query: {
                  persona: v.PersonaID,
                  grupo_cuentas: grupo,
                  hasta: fecha,
                },
              }"
              target="_blank"
              rel="noreferrer noopener"
            >
              {{ v.PersonaNombre }}
            </router-link>
          </td>
          <td align="right">{{ v.Cantidad }}</td>
          <td><b-checkbox v-model="v.tildado" /></td>
        </tr>
      </tbody>
      <tfoot>
        <td></td>
        <td>Total partidas</td>
        <td align="right">{{ totalPartidas }}</td>
        <td></td>
      </tfoot>
    </tabla>

    <b-loading is-full-page :active="cargando != 0"></b-loading>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import axios from "axios";
import eventBus from "@/eventBus";
import { Empresa } from "@/interfaces/empresas";
import { Grupo } from "@/interfaces/cuentas";
import { Comp } from "@/interfaces/comps";
import { Partida } from "../autoaplicador";
export default Vue.extend({
  data() {
    return {
      empresa: null as string | null,
      grupo: null as string | null,
      fecha: null as string | null,
      comp: null as string | null,
      limit: "100" as string,

      disponibles: [] as Partida[],

      comps: [] as Comp[],
      gruposCuentas: [] as Grupo[],
      cargando: 0 as number,
      tildarGeneral: false,
    };
  },
  created() {
    if (!this.esNuevo) {
      this.$router.replace({
        name: "verAplicacion",
        query: {
          id: this.$route.query.id,
        },
      });
    }
    document.title = "Auto aplicador";
    this.empresa = this.$store.state.empresas.seleccionada;

    this.fetchGrupos();
    this.fetchComps();
  },
  methods: {
    fetchGrupos() {
      this.cargando++
      axios
        .post("/backend/cuentasgrupos/many", {})
        .then((res) => {
          this.gruposCuentas = res.data;
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => (this.cargando--));
    },

    fetchComps() {
			this.cargando++
      axios
        .get("/backend/comprobantes", {
          params: {
            Empresa: this.empresa,
            Tipo: "aplicacion",
          },
        })
        .then((res) => {
          this.comps = res.data;
          if (this.comps.length == 1) {
            this.comp = this.comps[0].ID;
          }
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => (this.cargando--));
    },
    // Busca las partidas disponibles para autoaplicar
    buscar() {
      this.cargando++
      axios
        .post("/backend/autoaplicador/buscar", {
          Empresa: this.empresa,
          GrupoCuentas: this.grupo,
          Fecha: this.fecha,
          Limit: this.limit,
        })
        .then((res) => {
          for (let v of res.data) {
            v.tildado = true;
          }
          this.disponibles = res.data;
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => (this.cargando--));
    },
    confirmar() {
      const pp: string[] = [];

      for (let v of this.disponibles) {
        if (v.tildado) {
          pp.push(v.PersonaID);
        }
      }
      this.cargando++;
      axios
        .post("/backend/autoaplicador/confirmar", {
          Empresa: this.empresa,
          GrupoCuentas: this.grupo,
          Personas: pp,
          Fecha: this.fecha,
          Comp: this.comp,
        })
        .then(() => {
          this.disponibles = [];
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => (this.cargando--));
    },
  },
  computed: {
    empresas(): Empresa[] {
      return this.$store.getters["empresas/permitidas"];
    },
    totalPartidas(): number {
      let sum = 0;
      for (let v of this.disponibles) {
        sum += v.Cantidad;
      }
      return sum;
    },
    esNuevo(): boolean {
      if (this.$route.query.id) {
        return false;
      }
      return true;
    },
  },
  watch: {
    empresa(nuevo, anterior) {
      if (nuevo == anterior) {
        return;
      }
      this.fetchComps();
    },
    tildarGeneral(nuevo) {
      for (let v of this.disponibles) {
        v.tildado = nuevo;
      }
    },
  },
});
</script>
