<template>
  <div>
    <h1 class="title">Aplicacion automática</h1>
    <div v-if="op">
      <span class="label-key">Empresa: </span> {{ empresaNombre }} <br />
      <span class="label-key">Fecha: </span> {{ op.Fecha | enFecha }} <br />
      <span class="label-key">Persona: </span> {{ op.PersonaNombre }} <br />
    </div>

    <tabla>
      <thead>
        <th>Comprobante</th>
        <th>Número</th>
        <th>Fecha</th>
        <th>Cuenta</th>
        <th>Debe</th>
        <th>Haber</th>
      </thead>
      <tbody>
        <tr v-for="v in partidas" :key="v.ID">
          <td></td>
          <td></td>
          <td></td>
          <td>{{ cuentaNombre(v.Cuenta) }}</td>
          <td align="right">{{ debe(v.Monto) | enPesos }}</td>
          <td align="right">{{ haber(v.Monto) | enPesos }}</td>
        </tr>
      </tbody>
    </tabla>
    <b-button class="is-danger" @click="eliminar()">Eliminar</b-button>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import axios from "axios";
import eventBus from "@/eventBus";
import { Op } from "@/modules/ops/interfaces";
import { Partida } from "@/components/asiento/asientos";
export default Vue.extend({
  data() {
    return {
      op: null as Op | null,
      partidas: [] as Partida[],

      cargando: 0 as number,
    };
  },
  created() {
    // Busco op
    this.cargando++;
    axios
      .post("/backend/ops/one", { ID: this.$route.query.id })
      .then((res) => (this.op = res.data))
      .catch((err) => eventBus.$emit("error", err))
      .finally(() => this.cargando--);

    // Busco partidas
    this.cargando++;
    axios
      .post("/backend/ops/partidas", { ID: this.$route.query.id })
      .then((res) => {
        this.partidas = res.data;
      })
      .catch((err) => eventBus.$emit("error", err))
      .finally(() => this.cargando--);
  },
  methods: {
    eliminar(): void {
      if (!this.op) {
        return;
      }
      this.$buefy.dialog.confirm({
        title: "Borrar aplicación",
        message: "¿Está seguro que desea <b>borrar</b> la aplicación? ",
        confirmText: "Borrar",
        type: "is-danger",
        hasIcon: true,
        onConfirm: () => {
          this.cargando++;
          axios
            .post("/backend/autoaplicador/delete", {
              ID: (this.op as Op).ID,
            })
            .then(() => {
              this.$router.go(-1);
            })
            .catch((err) => {
              this.cargando -= 1;
              eventBus.$emit("error", err);
            })
            .finally(() => this.cargando--);
        },
      });
    },
    cuentaNombre(id: string): string {
      const cta = this.$store.getters["cuentas/porID"](id);
      if (!cta) {
        return id;
      }
      return cta.Nombre;
    },
    debe(val: number): number {
      if (val > 0) {
        return val;
      }
      return 0;
    },
    haber(val: number): number {
      if (val < 0) {
        return -val;
      }
      return 0;
    },
  },
  computed: {
    empresaNombre(): string {
      if (!this.op) {
        return "";
      }
      const e = this.$store.getters["empresas/porID"](this.op.Empresa);
      return e.Nombre;
    },
  },
});
</script>

<style>
span.label-key {
  font-weight: bolder;
  color: $info;
  margin-right: 0.4em;
}
</style>
