<template>
	<div>
		<h1 class="title">Pendientes stock</h1>
		<div class="box">
			<b-field label="Empresa" horizontal>
				<b-select v-model="empresa" expanded>
					<option :value="null">Todas</option>
					<option v-for="v in empresas" :value="v.ID" :key="v.ID">
						{{ v.Nombre }}
					</option>
				</b-select>
			</b-field>

			<!-- PERSONA --> <b-field label="Persona" horizontal>
				<b-field>
					<p class="control input">{{ nombrePersona }}</p>
					<p class="control">
						<b-button
							icon-left="magnify"
							class="is-primary"
							@click="buscarPersona()"
						></b-button>
					</p>
				</b-field>
			</b-field>

			<!-- SUCURSAL-->
			<b-field label="Sucursal" v-if="mostrarSucursal" horizontal>
				<b-select v-model="sucursal">
					<option v-for="v in sucursales" :value="v.ID" :key="v.ID">
						{{ v.Nombre }}
					</option>
				</b-select>
			</b-field>
			<b-button @click="refresh()" class="is-info">Actualizar</b-button>
		</div>
		<tabla v-if="renglones">
			<thead>
				<th>ID</th>
				<th>Nombre</th>
				<th>Unidad medida</th>
				<th v-for="cuenta in cuentas" :key="cuenta">{{nombreCuenta(cuenta)}}</th>
			</thead>
			<tbody>
				<tr v-for="v in renglones" :key="v.SKU">
					<td>{{v.Alfa}}</td>
					<td>{{v.Nombre}}</td>
					<td>{{v.UM}}</td>
					<td v-for="cuenta in cuentas" align="right" :key="cuenta">
						<router-link
							:to="{
								name: 'pendienteStock',
								query: {
									sku: v.SKU,
									empresa: empresa,
									cuentas: [cuenta],
									persona: persona,
									sucursal: sucursal,
								},
							}"
							target="_blank"
							rel="noreferrer noopener"
						>
							{{v.Vals[cuenta]}}
						</router-link>
					</td>
				</tr>
			</tbody>
		</tabla>
	</div>
</template>
<script lang="ts">
import Vue from 'vue'
import axios from "axios"
import eventBus from "@/eventBus"
import { PendientePorSKU } from "../pendiente"
import { Persona, Sucursal } from "@/modules/personas/personas";
import BuscadorPersonas from "@/modules/personas/components/BuscadorPersonas.vue";
import { Empresa } from "@/interfaces/empresas";
export default Vue.extend({
	data() {
		return {
			renglones: null as PendientePorSKU[] | null,
			empresa: null as string | null,
			cuentas: [] as string[],

      persona: null as string | null,
      sucursal: null as string | null,
      personaObj: null as Persona | null,

			localBus: new Vue(),
		}
	},
	created() {
		document.title = "Pendientes stock"
		this.cuentas = this.$store.getters["cuentas/pendientesStock"]
    this.localBus.$on("personaSeleccionada", (p: string) => {
      this.persona = p;
    });
	},
	methods: {
		refresh() {
			axios.
			post("/backend/apliprod/pendientes", {
				Empresa: this.empresa,
				Persona: this.persona,
				Cuentas: this.cuentas,
			}).
			then(res => {
				this.renglones = res.data
			}).
			catch(err => {
				eventBus.$emit("error", err)
			})
		},
		nombreCuenta(id:string): string {
			let cta = this.$store.getters["cuentas/porID"](id)
			if (cta) {
				return cta.Nombre
			}
			return id
		},
    buscarPersona() {
      this.$buefy.modal.open({
        parent: this,
        component: BuscadorPersonas,
        hasModalCard: true,
        trapFocus: true,
        fullScreen: true,
        scroll: "clip",
        props: {
          bus: this.localBus,
          cuentas: [],
        }
      });
    },
	},
	computed: {
		empresas(): Empresa[] {
			return this.$store.getters["empresas/permitidas"];
		},
		mostrarSucursal(): boolean {
			if (!this.personaObj) {
				return false
			}
			return this.personaObj.UsaSucursales
		},
    nombrePersona(): string {
      if (this.personaObj) {
        return this.personaObj.Nombre;
      }
      return "";
    },
    sucursales(): Sucursal[] {
      if (!this.personaObj) {
        return [];
      }
      if (!this.personaObj.Sucursales) {
        return [];
      }
      return this.personaObj.Sucursales;
    },
	},
  watch: {
    persona(valor) {
			this.renglones = null
      if (valor) {
        axios
          .post("/backend/personas/persona", { ID: valor })
          .then(res => {
            this.personaObj = res.data;
          })
          .catch(err => {
            eventBus.$emit("error", err);
          });
      }
    }
  }
})
</script>
