<template>
	<div>
		<h1 class="title">{{cuentasNombres}}</h1>
		<h1 class="subtitle">{{titulo}}</h1>
		<div class="box">
			<b-field label="Empresa" horizontal>
				<b-select v-model="empresa" expanded>
					<option :value="null">Todas</option>
					<option v-for="v in empresas" :value="v.ID" :key="v.ID">
						{{ v.Nombre }}
					</option>
				</b-select>
			</b-field>
			<!-- PERSONA --> <b-field label="Persona" horizontal>
				<b-field>
					<p class="control input">{{ nombrePersona }}</p>
					<p class="control">
						<b-button
							icon-left="magnify"
							class="is-primary"
							@click="buscarPersona()"
						></b-button>
					</p>
				</b-field>
			</b-field>

			<!-- SUCURSAL-->
			<b-field label="Sucursal" v-if="mostrarSucursal" horizontal>
				<b-select v-model="sucursal">
					<option v-for="v in sucursales" :value="v.ID" :key="v.ID">
						{{ v.Nombre }}
					</option>
				</b-select>
			</b-field>
			<b-button @click="fetch()" class="is-info">Actualizar</b-button>
		</div>

		<tabla v-if="partidas">
			<thead>
				<th>Fecha</th>
				<th>Comprobante</th>
				<th>Número</th>
				<th>Cantidad original</th>
				<th align="right">Cantidad pendiente</th>
				<th>Acumulado</th>
				<th>Detalle</th>
			</thead>
			<tbody>
				<tr v-for="v in partidas" :key="v.OpID">
					<td>{{ v.FechaVto | enFecha }}</td>
					<td>{{ v.CompNombre }}</td>
					<td>
						<router-link
							:to="{
								name: 'mostrarComprobante',
								query: {
									op: v.OpID,
								},
							}"
							target="_blank"
							rel="noreferrer noopener"
						>
							{{ v.NCompStr }}
						</router-link>
					</td>
					<td class="original" align="right">{{ v.CantidadOriginal | enPesos }}</td>
					<td class="original" align="right">{{ v.CantidadPendiente| enPesos }}</td>
					<!-- <td align="right"><b-button icon-left="magnify"></b-button></td> -->
					<td align="right">{{ v.CantidadAcumulada | enPesos }}</td>
					<td>{{ [v.Detalle, v.DetallePartida].join(" - ") }}</td>
					<!-- <td align="right">{{ (v.Saldo - v.Aplicacion) | enPesos }}</td> -->
				</tr>
			</tbody>
		</tabla>
		<b-loading
			is-full-page
			:active="cargando != 0"
			:can-cancel="true"
		></b-loading>
	</div>
</template>
<script lang="ts">
import axios from "axios";
import eventBus from "@/eventBus";
import Vue from 'vue';
import { Empresa } from "@/interfaces/empresas"
import { SKU } from "@/components/productos/productos"
import { PendientePorSKU } from "../pendiente"
import { Persona, Sucursal } from "@/modules/personas/personas";
import BuscadorPersonas from "@/modules/personas/components/BuscadorPersonas.vue";
export default Vue.extend({
	data() {
		return {
			empresa: null as string | null,
			cuentasSeleccionadas: [] as string[],
			skuID: null as string | null,
			sku: null as SKU | null,
			persona: null as string | null,
			sucursal: null as string | null,

      personaObj: null as Persona | null,
			partidas: null as PendientePorSKU[] | null,
			cargando: 0 as number,
			localBus: new Vue(),
		}
	},
	created() {
		document.title = "Mov productos"
    this.localBus.$on("personaSeleccionada", (p: string) => {
      this.persona = p;
    });
		if (this.$route.query.sku) {
			this.skuID = this.$route.query.sku as string
		}
		if (this.$route.query.cuentas) {
			if (typeof this.$route.query.cuentas == "object"){ 
			this.cuentasSeleccionadas = this.$route.query.cuentas as string[]
			}
			if (typeof this.$route.query.cuentas == "string"){ 
			this.cuentasSeleccionadas = [this.$route.query.cuentas as string]
			}
		}
		if (this.$route.query.empresa) {
			this.empresa = this.$route.query.empresa as string
		}
		if (this.$route.query.persona) {
			this.persona = this.$route.query.persona as string
			this.fetchPersona(this.persona)
		}
		if (this.$route.query.sucursal) {
			this.sucursal = this.$route.query.sucursal as string
		}
		this.fetchSKU()
		this.fetch()
	},
	methods: {
		fetch() {
			this.cargando++
			axios
				.post("/backend/apliprod/pendientes_por_sku", {
					empresa: this.empresa,
					cuentas: this.cuentasSeleccionadas,
					sku: this.skuID,
					persona: this.persona,
					sucursal: this.sucursal
				})
				.then(res=> {
					this.partidas = res.data
				})
				.catch(err=> {
					eventBus.$emit("error", err)
				})
				.finally(() => this.cargando--)
		},
		fetchSKU() {
			this.cargando++
			axios
				.post("/backend/productos/skus", {
					IDs: [this.skuID],
				})
				.then(res=> {
					if (res.data && res.data.length) {
						this.sku = res.data[0]
					} else {
						this.sku = null
					}
				})
				.catch(err=> {
					eventBus.$emit("error", err)
				})
				.finally(() => this.cargando--)
		},
    buscarPersona() {
      this.$buefy.modal.open({
        parent: this,
        component: BuscadorPersonas,
        hasModalCard: true,
        trapFocus: true,
        fullScreen: true,
        scroll: "clip",
        props: {
          bus: this.localBus,
          cuentas: [],
        }
      });
    },
		fetchPersona(persona: string) {
			if (!this.persona) {
				return
			}
			this.cargando++
        axios
          .post("/backend/personas/persona", { ID: persona})
          .then(res => {
            this.personaObj = res.data;
          })
          .catch(err => {
            eventBus.$emit("error", err);
          })
					.finally(() => this.cargando--)
			;
		}
	},
	computed: {
		empresas(): Empresa[] {
			return this.$store.getters["empresas/permitidas"];
		},
		titulo():string {
			if (!this.sku) {
				return ""
			} 
			return this.sku.Nombre
		},
		cuentasNombres(): string {
			const cc = this.$store.getters["cuentas/porIDs"](this.cuentasSeleccionadas)
			const out = []
			for (const c of cc) {
				out.push(c.Nombre)	
			}
			return out.join(", ")
		},
		mostrarSucursal(): boolean {
			if (!this.personaObj) {
				return false
			}
			return this.personaObj.UsaSucursales
		},
    nombrePersona(): string {
      if (this.personaObj) {
        return this.personaObj.Nombre;
      }
      return "";
    },
    sucursales(): Sucursal[] {
      if (!this.personaObj) {
        return [];
      }
      if (!this.personaObj.Sucursales) {
        return [];
      }
      return this.personaObj.Sucursales;
    },
	},
  watch: {
    persona(valor) {
			this.partidas = null
      if (valor) {
				this.fetchPersona(valor)
      }
    }
  }
})
</script>
