<template>
  <div>
    <div class="titulo-de-pantalla">
      <h1>{{ titulo }}</h1>
    </div>

    <b-field label="ID" v-if="!esNuevo">
      <p v-if="lista.ID"></p>
    </b-field>

    <b-field label="Nombre">
      <b-input v-model="lista.Nombre"></b-input>
    </b-field>

    <b-field label="Tipo">
      <b-select v-model="lista.Tipo">
        <option :value="null" disabled>Seleccione</option>
        <option value="Directa">Directa</option>
        <option value="Proporcional">Proporcional a otra lista</option>
      </b-select>
    </b-field>

    <div class="flex" v-if="lista.Tipo == 'Proporcional'">
      <b-field label="Lista base" class="item">
        <b-select v-model="lista.ListaBase">
          <option :value="null" disabled>Seleccione</option>
          <option
            v-for="v in listasDePrecios"
            v-bind:key="v.ID"
            :value="v.ID"
            >{{ v.Nombre }}</option
          >
        </b-select>
      </b-field>

      <b-field
        label="Porcentaje a aplicar sobre lista base (ej: -10)"
        class="item"
      >
        <b-input v-model.number="lista.Porcentaje" />
      </b-field>
    </div>

    <div class="flex">
      <b-field label="Válida desde" class="item">
        <b-input type="date" v-model="lista.ValidaDesde"> </b-input>
      </b-field>

      <b-field label="Válida hasta" class="item">
        <b-input type="date" v-model="lista.ValidaHasta"> </b-input>
      </b-field>
    </div>

    <div class="botonera">
      <b-button class="is-primary" @click="guardar()">Guardar</b-button>
      <b-button @click="volver()">Cancelar</b-button>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import eventBus from "@/eventBus";
export default {
  data() {
    return {
      lista: {
        ID: null,
        Nombre: null,
        Moneda: null,
        Tipo: null,
        ListaBase: null,
        ValidaDesde: null,
        ValidaHasta: null
      }
    };
  },
  created() {
	document.title = "Lista de precios"
    if (!this.esNuevo) {
      this.actualizar();
    }
  },
  methods: {
    volver() {
      this.$router.go(-1);
    },
    actualizar() {
      axios
        .post("/backend/listasprecios/one", { ID: this.$route.query.id })
        .then(res => {
          this.lista = res.data;
        })
        .catch(err => {
          eventBus.$emit("error", err);
        });
    },
    guardar() {
      if (this.esNuevo) {
        this.guardarNuevo();
      } else {
        this.guardarModificacion();
      }
    },
    guardarNuevo() {
      axios
        .post("/backend/listasprecios/create", this.lista)
        .then(() => {
          this.volver();
        })
        .catch(err => {
          eventBus.$emit("error", err);
        });
    },
    guardarModificacion() {
      axios
        .post("/backend/listasprecios/update", this.lista)
        .then(() => {
          this.volver();
        })
        .catch(err => {
          eventBus.$emit("error", err);
        });
    }
  },
  computed: {
    esNuevo() {
      if (this.$route.query.id == undefined) {
        return true;
      }
      return false;
    },
    titulo() {
      if (this.esNuevo) {
        return "Nueva lista de precios";
      }
      return "Modificar lista de precios";
    },
    listasDePrecios() {
      return this.$store.getters["precios/listasOtras"](this.lista.ID);
    }
  }
};
</script>

<style lang="scss" scoped>
div.flex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  .item {
    margin-right: 10px;
  }
}
</style>
