<template>
  <div>
    <div class="titulo-de-pantalla">
      <h1>Listas de precios</h1>
      <puntitos :size="35">
        <ul>
          <li @click="$router.push({ name: 'listaDePrecio' })">
            Nueva lista de precio
          </li>
        </ul>
      </puntitos>
    </div>
    <tabla v-if="listas.length">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="v in listas"
          v-bind:key="v.ID"
          class="link"
          @click="profundizar(v.ID)"
        >
          <td>{{ v.ID }}</td>
          <td>{{ v.Nombre }}</td>
        </tr>
      </tbody>
    </tabla>
    <p v-else>No hay listas de precios</p>
  </div>
</template>

<script>
import axios from "axios";
import Puntitos from "../widgets/Puntitos";
import eventBus from "@/eventBus.ts";
export default {
  data() {
    return {
      listas: []
    };
  },
  components: {
    Puntitos
  },
  created() {
	document.title = "Listas de precios"
    this.actualizar();
  },
  methods: {
    actualizar() {
      axios
        .post("/backend/listasprecios/many")
        .then(response => {
          this.listas = response.data;
        })
        .catch(err => eventBus.$emit("error", err));
    },
    profundizar(id) {
      this.$router.push({
        name: "listaDePrecio",
        query: { id: id }
      });
    }
  }
};
</script>
