<template>
  <div>
    <div class="titulo-de-pantalla">
      <h1>Precio por SKU</h1>
    </div>

    <div class="flex">
      <b-field class="item" label="Empresa">
        <b-select v-model="empresa">
          <option :value="null">Todas</option>
          <option v-for="e in empresas" :value="e.ID" v-bind:key="e.ID">{{
            e.Nombre
          }}</option>
        </b-select>
      </b-field>

      <!-- <b-field class="item" label="Lista de precio">
        <b-select>
          <option :value="null">Todas</option>
          <option
            v-for="v in listasDePrecios"
            :value="v.ID"
            v-bind:key="v.ID"
            >{{ v.Nombre }}</option
          >
        </b-select>
      </b-field> -->
      <!-- 
      <b-field class="item" label="Categoría de producto">
        <b-select>
          <option :value="null">Todas</option>
          <option v-for="v in categorias" :value="v.ID" v-bind:key="v.ID">{{
            v.FullPath
          }}</option>
        </b-select>
      </b-field> -->

      <!-- <b-field class="item" label="Tipo de precio">
        <b-select>
          <option value="Neto">Neto de impuestos</option>
          <option value="Neto">Final</option>
        </b-select>
      </b-field> -->

      <b-button class="is-primary" @click="actualizar()">Buscar</b-button>
    </div>
    <div v-if="sku">
      <h2 class="subtitle">{{ sku.Nombre }}</h2>
      <tabla>
        <thead>
          <th>Lista de precio</th>
          <th>Precio neto</th>
          <th>Precio final</th>
        </thead>
        <tbody>
          <tr v-for="v in listasDePrecios" v-bind:key="v.ID" class="precios">
            <td>{{ v.Nombre }}</td>
            <td v-if="v.Tipo == 'Proporcional'">
              <b-input
                v-bind:value="getPrecioNeto(v.ID)"
                class="precio"
                disabled
                min="0"
              ></b-input>
            </td>
            <td v-if="v.Tipo == 'Proporcional'">
              <b-input
                v-bind:value="getPrecioFinal(v.ID)"
                custom-class="precio"
                disabled
                min="0"
              ></b-input>
            </td>

            <!-- Si es una lista directa -->
            <td v-if="v.Tipo == 'Directa'">
              <b-input
                v-bind:value="getPrecioNeto(v.ID)"
                v-on:input="setPrecioNeto(v.ID, $event)"
                class="precio"
              ></b-input>
            </td>
            <td v-if="v.Tipo == 'Directa'">
              <b-input
                v-bind:value="getPrecioFinal(v.ID)"
                v-on:input="setPrecioFinal(v.ID, $event)"
                class="precio"
                min="0"
              ></b-input>
            </td>
          </tr>
        </tbody>
      </tabla>
      <b-button @click="guardar()">Guardar cambios</b-button>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import axios from "axios";
import eventBus from "@/eventBus";
import { hoy } from "@/modules/util/fechas";
import { format } from "date-fns";
import { Producto, SKU, Precio } from "../productos/productos";
import { Alicuota } from "@/modules/afip/afip";
export default Vue.extend({
  data() {
    return {
      skuID: null as string | null,
      empresa: null as string | null,

      producto: null as Producto | null,
      sku: null as SKU | null,
      precios: [] as Precio[]
    };
  },
  created() {
	document.title = "Precios"
    // Si tiré un solo SKU
    if (this.$route.query.sku) {
      this.skuID = this.$route.query.sku as string;
    }

    if (this.$store.state.empresas.seleccionada) {
      this.empresa = this.$store.state.empresas.seleccionada;
      this.actualizar();
    }
  },
  methods: {
    actualizar() {
      // Busco los precios
      axios
        .post("/backend/precios/por_sku", {
          ID: this.skuID,
          Empresa: this.empresa
        })
        .then(res => {
          this.producto = res.data.Producto;
          this.sku = res.data.SKU;
          this.precios = res.data.Precios;
          if (!this.producto) {
            throw new Error("no se encontró el producto");
          }
          if (!this.sku) {
            throw new Error("no se encontró el sku");
          }
        })
        .catch(err => {
          eventBus.$emit("error", err);
          this.$router.go(-1);
        });
    },
    guardar() {
      axios
        .post("/backend/precios/update_por_sku", {
          SKU: this.skuID,
          Empresa: this.empresa,
          Precios: this.precios
        })
        .then(() => {
          this.$router.go(-1);
        })
        .catch(err => {
          eventBus.$emit("error", err);
        });
    },

    // Cambió el precio neto, actualizo el precio final
    setPrecioNeto(listaID: string, value: string) {
      if (!this.producto) {
        return;
      }
      // Si no entra un número devuelvo
      let valueFloat = parseFloat(value);
      if (!valueFloat) {
        console.log("Valor value era NAN");
        return;
      }

      // Busco la alícuota de IVA
      let alicuota: Alicuota = this.$store.getters["iva/alicuotaPorID"](
        this.producto.AlicuotaIVA
      );
      if (!alicuota) {
        eventBus.$emit(
          "error",
          new Error("no se encontró la alícuota " + this.producto.AlicuotaIVA)
        );
      }

      // Busco el registro de precio
      let precio = {
        SKU: (this.sku as SKU).ID,
        Lista: listaID,
        PrecioNeto: valueFloat,
        PrecioFinal: 0,
        PrecioFecha: ""
      } as Precio;

      // Calculo el precio neto
      let valor =
        Math.round(precio.PrecioNeto * (1 + alicuota.Porcentaje) * 10000) /
        10000;

      console.log("Precio final calculado", valor, alicuota.Porcentaje);
      precio.PrecioFinal = valor;

      // Para que me detecte el cambio, saco el item y lo vuelvo a poner
      let i = 0;
      let found = false;
      for (i = 0; i < this.precios.length; i++) {
        if (this.precios[i].Lista == listaID) {
          this.precios.splice(i, 1, precio);
          found = true;
        }
      }
      if (!found) {
        this.precios.push(precio);
      }
      this.cambioLista(listaID);
    },
    // Cambió el precio neto, actualizo el precio final
    setPrecioFinal(listaID: string, value: string) {
      // Si no entra un número devuelvo
      let valueFloat = parseFloat(value);
      if (!valueFloat) {
        console.log("Valor value era NAN");
        return;
      }

      // Busco la alícuota de IVA
      let alicuota: Alicuota = this.$store.getters["iva/alicuotaPorID"](
        (this.producto as Producto).AlicuotaIVA
      );
      if (!alicuota) {
        eventBus.$emit(
          "error",
          new Error(
            "no se encontró la alícuota " +
              (this.producto as Producto).AlicuotaIVA
          )
        );
      }

      // Busco el registro de precio
      let precio = {
        SKU: (this.sku as SKU).ID,
        Lista: listaID,
        PrecioNeto: 0,
        PrecioFinal: valueFloat,
        PrecioFecha: ""
      } as Precio;

      // Calculo el precio neto
      let valor =
        Math.round((precio.PrecioFinal / (1 + alicuota.Porcentaje)) * 10000) /
        10000;
      precio.PrecioNeto = valor;

      // Para que me detecte el cambio, saco el item y lo vuelvo a poner
      let i = 0;
      let found = false;
      for (i = 0; i < this.precios.length; i++) {
        if (this.precios[i].Lista == listaID) {
          this.precios.splice(i, 1, precio);
          found = true;
        }
      }
      if (!found) {
        this.precios.push(precio);
      }
      this.cambioLista(listaID);
    },
    //
    getPrecioNeto(listaID: string) {
      let reg = this.precios.find(item => item.Lista == listaID);
      if (reg) {
        return reg.PrecioNeto;
      }
      return 0;
    },
    //
    getPrecioFinal(listaID: string): number {
      let reg = this.precios.find(item => item.Lista == listaID);
      if (reg) {
        return reg.PrecioFinal;
      }
      return 0;
    },

    cambioLista(listaID: string) {
      if (!this.skuID) {
        return;
      }
      // Busco si algunas de las listas existentes está relacionada
      // a esta que cambió
      let dependientes = this.listasDePrecios.filter(item => {
        return item.Tipo == "Proporcional" && item.ListaBase == listaID;
      });

      if (!dependientes) {
        return;
      }

      dependientes.map(dependiente => {
        let nuevoPrecio = {
          SKU: this.skuID,
          Lista: dependiente.ID,
          PrecioNeto: 0,
          PrecioFinal: 0,
          PrecioFecha: format(hoy(), "yyyy-MM-dd")
        } as Precio;

        // Si tenía valor, pongo los precios ajustados
        if (nuevoPrecio.PrecioNeto) {
          let coeficiente = this.$store.getters["precios/coeficienteAjuste"](
            dependiente.ID
          );
          nuevoPrecio.Lista = dependiente.ID;
          nuevoPrecio.PrecioNeto =
            Math.round(nuevoPrecio.PrecioNeto * coeficiente * 10000) / 10000;
          nuevoPrecio.PrecioFinal =
            Math.round(nuevoPrecio.PrecioFinal * coeficiente * 10000) / 10000;
        }

        for (let i = 0; i < this.precios.length; i++) {
          // remplazo item
          if (this.precios[i].Lista == dependiente.ID) {
            this.precios.splice(i, 1, nuevoPrecio);
            return;
          }
        }
        // Si llegue acá es porque no había precios antes.
        this.precios.push(nuevoPrecio);
      });
    }
  },
  computed: {
    esNuevo(): boolean {
      if (this.$route.query.id == undefined) {
        return true;
      }
      return false;
    },
    empresas(): any[] {
      return this.$store.getters["empresas/permitidas"];
    },
    listasDePrecios(): any[] {
      return this.$store.state.precios.listas;
    },
    // listasMostrar(): any[] {
    //   if (this.lista) {
    //     return this.$store.getters["productos/listaPorID"](this.lista);
    //   }
    //   return this.listasDePrecios;
    // },
    categorias(): any[] {
      return this.$store.getters["productos/categoriasImputables"];
    }
  },
  watch: {
    "$store.state.empresas.seleccionada"() {
      this.empresa = this.$store.state.empresas.seleccionada;
    }
  }
});
</script>

<style lang="scss" scoped>
div.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 100%;
  .item {
    margin-right: 10px;
  }
  button {
    margin-bottom: 13px;
  }
}

// .precio {
//   text-align: right;
//   background-color: red;
//   margin: 30px;
// }
</style>
