Es el menu para buscar empresas.

<template>
  <div>
    <div class="titulo-de-pantalla">
      <h1>Empresas</h1>
      <puntitos :id="'puntitos-personas'" :size="35">
        <ul>
          <li @click="$router.push({ name: 'empresa' })">Nueva empresa</li>
        </ul>
      </puntitos>
    </div>

    <tabla v-if="empresas && empresas.length">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="v in empresas"
          v-bind:key="v.ID"
          class="link"
          @click="profundizar(v.ID)"
        >
          <td>{{ v.ID }}</td>
          <td>{{ v.Nombre }}</td>
        </tr>
      </tbody>
    </tabla>
  </div>
</template>

<script lang="ts">
import Vue from "vue"
import axios from "axios";
import eventBus from "@/eventBus";
import {EmpresaLookup} from "@/interfaces/empresas"
import Puntitos from "../widgets/Puntitos.vue";
export default Vue.extend({
  data() {
    return {
      empresas: [] as EmpresaLookup[],
    };
  },
  components: {
    Puntitos,
  },
  created() {
    document.title = "Empresas";
    this.actualizar();
  },
  methods: {
    actualizar() {
      axios
        .get("/backend/empresas")
        .then((response) => {
          this.empresas = response.data;
        })
        .catch((err) => eventBus.$emit("error", err));
    },
    profundizar(id: string) {
      this.$router.push({
        name: "empresa",
        query: { id: id },
      });
    },
  },
});
</script>
<style lang="scss" scoped>
div.buscar {
  margin-top: 20px;
  margin-bottom: 30px;
}
div.buscar input {
  width: 80%;
  float: left;
}

div.buscar button {
  float: left;
  width: 20%;
}
</style>
