<template>
  <div>
    <div class="titulo-de-pantalla">
      <h1>{{ operacion }} empresa</h1>
    </div>

    <div class="box">
      <div class="row">
        <!-- <div class="col-sm-12 col-md-6">
          <label for="id">ID</label>
          <b-input
            type="number"
            name="id"
            v-model.number="empresa.ID"
            class="form-control"
          />
        </div> -->
      </div>
      <b-field label="Nombre" horizontal>
        <b-input v-model="empresa.Nombre" />
      </b-field>
      <b-field label="CUIT" horizontal>
        <b-input type="number" v-model.number="empresa.CUIT" />
      </b-field>
      <b-field label="Cierre de ejercicio" horizontal>
        <b-select v-model="empresa.CierreEjercicio">
          <option :value="0" disabled>Seleccione</option>
          <option :value="1">Enero</option>
          <option :value="2">Febrero</option>
          <option :value="3">Marzo</option>
          <option :value="4">Abril</option>
          <option :value="5">Mayo</option>
          <option :value="6">Junio</option>
          <option :value="7">Julio</option>
          <option :value="8">Agosto</option>
          <option :value="9">Septiembre</option>
          <option :value="10">Octubre</option>
          <option :value="11">Noviembre</option>
          <option :value="12">Diciembre</option>
        </b-select>
      </b-field>
      <b-field label="Condición frente IVA" horizontal>
        <b-select v-model="empresa.IVA">
          <option :value="null">Seleccione</option>
          <option value="Responsable inscripto">Responsable inscripto</option>
          <option value="No inscripto">No inscripto</option>
          <option value="Monotributista">Monotributista</option>
          <option value="Exento">Exento</option>
        </b-select>
      </b-field>
      <b-field label="Abierta desde" horizontal>
        <b-input type="date" v-model="empresa.FechaDesde" />
      </b-field>
      <b-field label="Abierta hasta" horizontal>
        <b-input type="date" v-model="empresa.FechaHasta" />
      </b-field>
    </div>
    <div class="box">
      <h1>Impresión en comprobantes</h1>
      <b-field label="Nombre empresa" horizontal>
        <b-input v-model="empresa.ImpresionNombre"></b-input>
      </b-field>
      <b-field label="Nombre fantasía" horizontal>
        <b-input v-model="empresa.ImpresionNombreFantasia"></b-input>
      </b-field>
      <b-field label="Datos izquierda factura" horizontal>
        <b-input
          type="textarea"
          v-model="empresa.ImpresionRenglonesLeft"
          horizontal
        ></b-input>
      </b-field>
      <b-field label="Datos derecha factura" horizontal>
        <b-input
          type="textarea"
          v-model="empresa.ImpresionRenglonesRight"
          horizontal
        ></b-input>
      </b-field>
      <b-field label="Logo" horizontal>
        <b-upload v-model="logoFile" class="file-label">
          <span class="file-cta">
            <b-icon icon="upload" />
            Seleccionar archivo
            <!-- <span v-if="">Seleccione</span> -->
            <!-- <span v-if="logo.name">{{ logo.name }}</span> -->
            <!-- <span v-else>Seleccione</span> -->
          </span>
        </b-upload>
        <b-button @click="subir()">Subir</b-button>
        <img
          v-if="Logo"
          :src="'/backend/empresas/logo/' + $route.query.id"
          alt="Logo cargado"
        />
      </b-field>
      <b-field>
        <img :src="Logo" alt="" />
      </b-field>
    </div>
    <div class="box">
      <h1>E-mail</h1>
      <b-field label="Nombre del host" horizontal>
        <b-input v-model="empresa.MailHost"></b-input>
      </b-field>
      <b-field label="Puerto" horizontal>
        <b-input v-model="empresa.MailPort"></b-input>
      </b-field>
      <b-field label="Alias" horizontal>
        <b-input v-model="empresa.MailSenderAlias"></b-input>
      </b-field>
      <b-field label="Nombre de usuario" horizontal>
        <b-input v-model="empresa.MailUserName"></b-input>
      </b-field>
      <b-field label="Password de la cuenta" horizontal>
        <b-input v-model="empresa.MailPassword"></b-input>
      </b-field>
      <b-field label="Pie de mail" horizontal>
        <b-input v-model="empresa.PieMail" type="textarea"></b-input>
      </b-field>
      <b-field label="Plantilla mail comprobantes" horizontal>
        <b-input v-model="empresa.MailTemplate" type="textarea"></b-input>
      </b-field>
    </div>
    <b-button class="btn-guardar" @click="guardar()" type="is-primary"
      >Guardar</b-button
    >
    <b-button class="is-danger" @click="eliminar()">Eliminar</b-button>
    <b-button class="btn-cancelar" @click="volver()">Cancelar</b-button>
    <b-loading
      is-full-page
      :active="cargando != 0"
      :can-cancel="true"
    ></b-loading>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import axios from "axios";
import { Empresa } from "@/interfaces/empresas";
import eventBus from "@/eventBus";
export default Vue.extend({
  data() {
    return {
      nueva: true,
      empresa: {
        ID: "",
        Nombre: "",
        CUIT: null,
        CierreEjercicio: 0,
        IVA: null,
        Domicilio: "",
        FechaDesde: null,
        FechaHasta: null,
        ImpresionNombre: "",
        ImpresionNombreFantasia: "",
        ImpresionRenglonesLeft: "",
        ImpresionRenglonesRight: "",
        PieMail: "",
        MailHost: "",
        MailPort: null,
        MailSenderAlias: "",
        MailUserName: "",
        MailPassword: "",
        MailTemplate: "",
        CreatedAt: null,
        UpdatedAt: null,
      } as Empresa,
      Logo: null,
      logoFile: null as Blob | null,
      cargando: 0,
    };
  },
  created() {
    document.title = "Empresa";
    this.actualizar();
  },
  methods: {
    actualizar() {
      if (this.$route.query.id) {
        this.nueva = false;
        this.cargando++;
        axios
          .get(`/backend/empresas/${this.$route.query.id}`)
          .then((res) => {
            this.empresa = res.data;
          })
          .catch((err) => {
            eventBus.$emit("error", err);
          })
          .finally(() => this.cargando--);

        this.cargando++;
        axios
          .get(`/backend/empresas/logo/${this.$route.query.id}`)
          .then((res) => {
            this.Logo = res.data;
          })
          .catch((err) => {
            eventBus.$emit("error", err);
          })
          .finally(() => this.cargando--);
      }
    },
    volver() {
      this.$router.push({ name: "empresas" });
    },
    guardar() {
      if (this.nueva) {
        this.cargando++;
        this.empresa.ID = "0";
        axios
          .post("/backend/empresas", this.empresa)
          .then(() => {
            this.volver();
          })
          .catch((err) => {
            eventBus.$emit("error", err);
          })
          .finally(() => this.cargando--);
      } else {
        this.cargando++;
        axios
          .put("/backend/empresas", this.empresa)
          .then(() => {
            this.volver();
          })
          .catch((err) => {
            eventBus.$emit("error", err);
          })
          .finally(() => this.cargando--);
      }
    },
    eliminar() {
      this.$buefy.dialog.confirm({
        message: "¿Está seguro que desea borrar esta empresa?",
        confirmText: "Borrar",
        type: "is-danger",
        hasIcon: true,
        onConfirm: () => {
          this.cargando++;
          axios
            .delete(`/backend/empresas/${this.$route.query.id}`)
            .then(() => {
              this.volver();
            })
            .catch((err) => {
              eventBus.$emit("error", err);
            })
            .finally(() => {
              this.cargando--;
            });
        },
      });
    },
    subir() {
      console.log("subiendo");
      if (!this.logoFile) {
        return;
      }

      // Creo reader
      let reader = new FileReader();

      reader.onloadend = () => {
        let enBase64 = this.toBase64(reader.result as ArrayBuffer | null);

        this.cargando++;
        axios
          .put(`/backend/empresas/logo/${this.$route.query.id}`, {
            Empresa: this.empresa.ID,
            Imagen: enBase64,
          })
          .catch((err) => {
            eventBus.$emit("error", err);
          })
          .finally(() => this.cargando--);
      };

      // Leo logo
      reader.readAsArrayBuffer(this.logoFile);
    },

    toBase64(buffer: ArrayBuffer | null) {
      if (!buffer) {
        return "";
      }
      var binary = "";
      var bytes = new Uint8Array(buffer);
      var len = buffer.byteLength;
      for (var i = 0; i < len; i++) {
        binary += String.fromCharCode(bytes[i]);
      }
      return btoa(binary);
    },
  },
  computed: {
    operacion() {
      if (this.nueva) {
        return "Nueva";
      } else {
        return "Modificar";
      }
    },
  },
  watch: {
    logoFile() {
      console.log("cambió file");
      let reader = new FileReader();
      reader.onloadend = () => {};
    },
  },
});
</script>
<style lang="scss" scoped>
div.container-fluid {
  max-width: 800px;
  margin-left: 0;
}
</style>
