<template>
  <div>
    <div class="titulo-de-pantalla">
      <h1>{{ titulo }}</h1>
    </div>

    <div>
      <!-- GENERALES -->
      <div class="box">
        <h1>Generales</h1>

        <b-field label="Empresa" label-position="on-border">
          <b-select v-model="t.Empresa">
            <option :value="null">Seleccione</option>
            <option v-for="v in empresas" :value="v.ID" :key="v.ID">
              {{ v.Nombre }}
            </option>
          </b-select>
        </b-field>

        <b-field label="Tipo" label-position="on-border">
          <b-select v-model="t.Grupo">
            <option :value="null">Seleccione</option>
            <option v-for="v in tipos" :key="v.ID" :value="v.ID">
              {{ v.ID }}
            </option></b-select
          >
          <p>(para identificar en qué item del menú se muestra)</p>
        </b-field>

        <b-field label="Comportamiento" label-position="on-border">
          <b-select v-model="t.OpProd">
            <option :value="null">Seleccione</option>
            <option v-for="v in opprods" :key="v.ID" :value="v.ID">
              {{ v.Ciclo }} - {{ v.Nombre }}
            </option>
          </b-select>
          <p>(determina los asientos)</p>
        </b-field>

        <b-field label="Nombre de la transacción" label-position="on-border">
          <b-input v-model="t.Nombre"> </b-input>
        </b-field>

        <b-field label="Descripción" label-position="on-border">
          <b-input v-model="t.Detalle" type="textarea" rows="1"> </b-input>
        </b-field>
        <b-checkbox v-model="t.SugiereFechaActual">
          ¿Sugiere fecha actual?
        </b-checkbox>
        <!-- <b-field label="Luego de crear" label-position="on-border">
          <b-select v-model="t.AccionLuegoDeCrear">
            <option :value="null">Mostrar comprobante recién grabado</option>
          </b-select>
          <p>(para identificar en qué item del menú se muestra)</p>
        </b-field> -->
      </div>

      <!-- CONDICION DE PAGO -->
      <div class="box">
        <h1>Condicion pago</h1>
        <b-tooltip :label="condicionPagoLabel">
          <b-field label="Condición de pago" label-position="on-border">
            <b-select v-model="t.CondicionPago">
              <option value="Obligatoria">Obligatoria</option>
              <option value="Opcional">Opcional</option>
              <option value="Sin condición">Sin condición</option>
            </b-select>
          </b-field>
        </b-tooltip>
      </div>

      <!-- PRODUCTOS -->
      <div class="box">
        <h1>Productos</h1>
        <b-checkbox v-model="t.PermiteProductos">
          ¿Se pueden seleccionar productos?
        </b-checkbox>

        <div v-if="t.PermiteProductos">
          <b-field label="Los productos se" label-position="on-border">
            <b-select v-model="t.ProductosSe">
              <option value="Se seleccionan">Seleccionan del catálogo</option>
              <option value="Se aplican">Se aplican</option>
              <option value="Ambas">
                Seleccionan del catálogo y se aplican
              </option>
            </b-select>
          </b-field>

          <b-field>
            <b-checkbox v-model="t.PermiteDetalleProductos"
              >¿Permite ingresar detalle adicional?</b-checkbox
            >
          </b-field>

          <!-- CUENTAS APLICAR PRODUCTOS -->
          <tabla v-if="t.ProductosSe != 'Se seleccionan'">
            <thead>
              <th>Cuenta</th>
              <th></th>
            </thead>
            <tbody>
              <tr v-for="v in t.ProductosSeAplicanACuentas" :key="v">
                <td>{{ nombreCuenta(v) }}</td>
                <td>
                  <button @click.prevent="quitarCuentaAplicacionProducto(v)">
                    Quitar
                  </button>
                </td>
              </tr>
            </tbody>
          </tabla>
          <b-field
            label="Cuentas para aplicar"
            label-position="on-border"
            v-if="t.ProductosSe != 'Se seleccionan'"
          >
            <b-select v-model="cuentaAplicacion">
              <option
                v-for="v in cuentasConAperturaProducto"
                :value="v.ID"
                :key="v.ID"
              >
                {{ v.Nombre }}
              </option>
            </b-select>
            <b-button
              class="is-info"
              @click="agregarCuentaAplicacionProducto(cuentaAplicacion)"
            >
              Agregar
            </b-button>
          </b-field>

          <b-field>
            <b-checkbox v-model="t.MuestraDepositos">
              ¿Muestra depósitos?
            </b-checkbox>
          </b-field>

          <b-field>
            <b-checkbox v-model="t.ProductosValorizados">
              ¿Los productos van valorizados?
            </b-checkbox>
          </b-field>
          <b-field>
            <b-checkbox v-model="t.UsaListaDePrecios">
              ¿Usa lista de precios?
            </b-checkbox>
          </b-field>

          <b-field>
            <b-checkbox v-model="t.PermitePrecioCero">
              ¿Permite precio cero?
            </b-checkbox>
          </b-field>

          <b-field>
            <b-checkbox v-model="t.TotalizaDesdePartidasFact">
              ¿Totaliza desde partidas fact?
            </b-checkbox>
          </b-field>

          <b-field
            label="Si estoy aplicando el producto, los precios"
            v-if="t.ProductosSe == 'Se aplican' || t.ProductosSe == 'Ambas'"
            label-position="on-border"
          >
            <b-select v-model="t.PreciosDesde">
              <option value="Aplicación">Tomarlos de la aplicación</option>
              <option value="Lista de precios actual">
                Tomarlos de la lista de precios actual
              </option>
            </b-select>
          </b-field>

          <b-field>
            <b-checkbox v-model="t.PermiteModificarPrecios">
              ¿Permite modificar precios?
            </b-checkbox>
          </b-field>

          <b-field>
            <b-checkbox v-model="t.HaceAsientoEstandar">
              ¿Hace asiento estándar?
            </b-checkbox>
            <b-checkbox v-model="t.HaceAsientoCosto">
              ¿Hace asiento de costo?
            </b-checkbox>
          </b-field>
        </div>
      </div>

      <div class="box">
        <h1>Productos por cuenta de terceros</h1>
        <div>
          <b-checkbox v-model="t.PermiteProductosPorCuentaDeTerceros">
            ¿Permite productos por cuenta de terceros?
          </b-checkbox>
        </div>
        <h2>Categorías ignoradas en factura</h2>
        <p>
          Cuando se seleccione un producto perteneciente a esta categoría, la
          misma no aparecerá en la factura, pero sí irá a la cuenta de la
          persona. Utilizada para productos que son facturados por terceros.
        </p>
        <div>
          <tabla
            v-if="t.CategoriasIgnoradasEnFactura.length"
            class="table table-condensed"
          >
            <thead>
              <tr>
                <th>Categoría</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(v, i) in t.CategoriasIgnoradasEnFactura" :key="v">
                <td>{{ nombreCategoria(v) }}</td>
                <td>
                  <b-button @click="quitarCategoriaIgnorada(i)">
                    Quitar
                  </b-button>
                </td>
              </tr>
            </tbody>
          </tabla>
          <b-field label="Seleccione" label-position="on-border">
            <b-select v-model="catIgnoradaSeleccionada">
              <option v-for="v in categorias" :value="v.ID" :key="v.ID">
                {{ v.Nombre }}
              </option>
            </b-select>
            <b-button @click="agregarCategoriaIgnorada()">Agregar</b-button>
          </b-field>
        </div>
      </div>

      <div class="box">
        <h1>Imputaciones contables</h1>
        <b-field label="Signo renglón" label-position="on-border">
          <b-select v-model="t.SignoRenglonProducto">
            <option :value="0">No definido</option>
            <option :value="-1">Venta - Factura</option>
            <option :value="1">Venta - Nota de crédito</option>
            <option :value="1">Compra - Factura</option>
            <option :value="-1">Compra - Nota de crédito</option>
          </b-select>
        </b-field>
        <b-field label="Signo valores" label-position="on-border">
          <b-select v-model="t.SignoRenglonValor">
            <option :value="0">No definido</option>
            <option :value="1">Cobro</option>
            <option :value="-1">Pago</option>
          </b-select>
        </b-field>
        <div v-for="(v, i) in t.Imputaciones" :key="v.Categoria">
          <h2 class="link" @click="modificarImputacionContable(v, i)">
            {{ nombreCategoria(v.Categoria) }}
          </h2>
        </div>
        <b-button @click="agregarImputacionContable()">Agregar</b-button>
      </div>
      <!-- CUENTAS CONTABLES -->
      <div class="box">
        <h1>Cuentas contables</h1>

        <b-field>
          <b-checkbox v-model="t.NoHaceAsiento"> No hace asiento </b-checkbox>
        </b-field>
        <b-field>
          <b-checkbox v-model="t.PermitePartidasDirectas">
            ¿Permite cuentas contables directamente?
          </b-checkbox>
        </b-field>
        <b-field>
          <b-checkbox v-model="t.DetalleObligatorioEnPartidas">
            ¿Detalle obligatorio en partida?
          </b-checkbox>
        </b-field>
        <b-field>
          <b-checkbox v-model="t.CopiaPersonaDeCabecera">
            ¿Copia persona de la cabecera del comprobante?
          </b-checkbox>
        </b-field>
      </div>

      <div class="box">
        <h1>Diferimiento</h1>
        <b-field>
          <b-checkbox v-model="t.PermiteImputacionDiferida">
            ¿Permite imputación diferida?
          </b-checkbox>
        </b-field>
      </div>
      <div class="box">
        <h1>Reingreso</h1>
        <b-field>
          <b-checkbox v-model="t.GeneraReingreso">
            ¿Genera reingreso?
          </b-checkbox>
        </b-field>
        <div v-if="t.GeneraReingreso">
          <b-checkbox v-model="t.ReingresoObligatorio">
            ¿El reingreso es obligatorio?
          </b-checkbox>
          <b-field label="Empresa de reingreso">
            <b-select v-model="t.ReingresoEmpresa">
              <option v-for="v in empresas" :value="v.ID" :key="v.ID">
                {{ v.Nombre }}
              </option>
            </b-select>
          </b-field>
          <b-field label="Cuenta de IVA">
            <b-select v-model="t.ReingresoCuentaIVA">
              <option v-for="v in cuentasImputables" :value="v.ID" :key="v.ID">
                {{ v.Nombre }} ({{ v.Codigo }})
              </option>
            </b-select>
          </b-field>
          <b-field label="Cuenta de reingreso">
            <b-select v-model="t.ReingresoCuentaReingreso">
              <option v-for="v in cuentasImputables" :value="v.ID" :key="v.ID">
                {{ v.Nombre }} ({{ v.Codigo }})
              </option>
            </b-select>
          </b-field>
          <b-field label="Cuenta patrimonial">
            <b-select v-model="t.ReingresoCuentaPatrimonial">
              <option v-for="v in cuentasImputables" :value="v.ID" :key="v.ID">
                {{ v.Nombre }} ({{ v.Codigo }})
              </option>
            </b-select>
          </b-field>

          <b-field>
            <b-checkbox v-model="t.GeneraReingresoPago">
              ¿El reingreso genera PAGO?
            </b-checkbox>
          </b-field>
          <div v-if="t.GeneraReingresoPago">
            <b-field>
              <b-checkbox v-model="t.ReingresoPagoObligatorio">
                ¿El pago del reingreso es obligatorio?
              </b-checkbox>
            </b-field>
            <tabla
              v-if="t.ReingresoPagoCuentasPermitidas.length"
              class="table table-condensed"
            >
              <thead>
                <tr>
                  <th>Cuentas reingreso pago permitidas</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="v in t.ReingresoPagoCuentasPermitidas" :key="v">
                  <td>{{ nombreCuenta(v) }}</td>
                  <td>
                    <b-button @click="quitarCuentaReingresoPago(v)">
                      Quitar
                    </b-button>
                  </td>
                </tr>
              </tbody>
            </tabla>
            <span v-else>No hay ninguna categoría permitida</span>
            <b-field
              label="Cuentas reingreso pago"
              v-if="t.GeneraReingresoPago"
            >
              <b-select v-model="cuentaReingresoPago">
                <option
                  v-for="v in cuentasImputables"
                  :value="v.ID"
                  :key="v.ID"
                >
                  {{ v.Nombre }} ({{ v.Codigo }})
                </option>
              </b-select>
              <b-button class="is-info" @click="agregarCuentaReingresoPago()">
                Agregar
              </b-button>
            </b-field>
          </div>
        </div>
      </div>

      <!-- RECIBO -->
      <div class="box">
        <h1>Recibo</h1>

        <b-field>
          <b-checkbox v-model="t.PermiteValores">
            ¿Permite valores?
          </b-checkbox>
        </b-field>

        <b-field>
          <b-checkbox v-model="t.BuscadorPersonasExtendido">
            ¿Buscador de personas extendido?
          </b-checkbox>
        </b-field>

        <b-field>
          <b-checkbox v-model="t.PermiteAplicar">
            ¿Permite aplicar?
          </b-checkbox>
        </b-field>

        <div>
          <tabla class="table table-condensed" v-if="t.CuentasAnticipo.length">
            <thead>
              <tr>
                <th>Nombre</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(v, i) in t.CuentasAnticipo" :key="v">
                <td>{{ nombreCuenta(v) }}</td>
                <td>
                  <b-button @click.prevent="quitarCuentaAnticipo(i)">
                    Quitar
                  </b-button>
                </td>
              </tr>
            </tbody>
          </tabla>
          <b-field
            label="Cuentas de anticipo permitidas"
            label-position="on-border"
          >
            <b-select v-model="cuentaAnticipo">
              <option
                v-for="v in cuentasAnticipo"
                v-bind:value="v.ID"
                v-bind:key="v.ID"
              >
                {{ v.Nombre }} ({{ v.Codigo }})
              </option>
            </b-select>
            <b-button @click.prevent="agregarCuentaAnticipo()"
              >Agregar</b-button
            >
          </b-field>
          <b-field label="Cuentas a las que aplica" label-position="on-border">
            <b-select v-model="t.GrupoCuentasAplicarRecibo">
              <option
                v-for="v in gruposCuentas"
                v-bind:value="v.ID"
                v-bind:key="v.ID"
              >
                {{ v.Nombre }}
              </option>
            </b-select>
          </b-field>
        </div>
        <div>
          <b-checkbox v-model="t.EmiteRecibo">
            Si los valores ingresados no coinciden con los de la factura ¿emite
            recibo?
          </b-checkbox>
        </div>

        <b-field
          label="Diferencia máxima de redondeo"
          label-position="on-border"
        >
          <b-input
            v-model.number="t.DiferenciaMaxRedondeo"
            custom-class="d2"
          ></b-input>
        </b-field>
      </div>

      <div class="box">
        <h1>Unicidades</h1>
        <b-field>
          <b-checkbox v-model="t.EspecificarUnicidades">
            ¿Especificar unicidades?
          </b-checkbox>
        </b-field>
        <div v-if="t.EspecificarUnicidades">
          <tabla
            class="table table-condensed"
            v-if="t.UnicidadesQueSeCrean.length"
          >
            <thead>
              <tr>
                <th>Nombre</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(v, i) in t.UnicidadesQueSeCrean" v-bind:key="v">
                <td>{{ nombreUnicidad(v) }}</td>
                <td>
                  <b-button @click.prevent="quitarUnicidadQueSeCrea(i)">
                    Quitar
                  </b-button>
                </td>
              </tr>
            </tbody>
          </tabla>
          <b-field label="Unicidades que se crean">
            <b-select v-model="unicidadAgregar">
              <option
                v-for="v in unicidades"
                v-bind:value="v.ID"
                v-bind:key="v.ID"
              >
                {{ v.Nombre }}
              </option>
            </b-select>
            <b-button @click.prevent="agregarUnicidad()">Agregar</b-button>
          </b-field>
        </div>
      </div>

      <div class="box">
        <h1>Saldos</h1>
        <b-field label="Cuentas para saldos" horizontal>
          <b-select v-model="t.GrupoCuentasSaldo">
            <option :value="null">Seleccione</option>
            <option v-for="v in grupos" :value="v.ID" :key="v.ID">
              {{ v.Nombre }}
            </option>
          </b-select>
        </b-field>
        <b-field horizontal>
          <b-checkbox v-model="t.MostrarSaldo">
            ¿Mostrar el saldo al seleccionar la persona?
          </b-checkbox>
        </b-field>
        <b-field horizontal>
          <b-checkbox v-model="t.ControlaLimiteCredito">
            ¿Controla límite de crédito?
          </b-checkbox>
        </b-field>
      </div>
      <div class="box">
        <b-checkbox v-model="t.Inactiva">Inactiva</b-checkbox>
      </div>

      <div class="box">
        <h1>Permisos</h1>
        <tabla>
          <th>Usuario</th>
          <th>Grupo usuarios</th>
          <th>Crear</th>
          <th>Leer</th>
          <th>Modificar</th>
          <th>Eliminar</th>
          <tbody>
            <tr v-for="v in t.Permisos" :key="v.ID" @click="editarPermiso(v)">
              <td>{{ v.Usuario }}</td>
              <td>{{ v.GrupoUsuarioNombre }}</td>
              <td>{{ v.Create | siNo }}</td>
              <td>{{ v.Read | siNo }}</td>
              <td>{{ v.Update | siNo }}</td>
              <td>{{ v.Delete | siNo }}</td>
            </tr>
          </tbody>
        </tabla>
        <b-button @click="crearPermiso()">Agregar</b-button>
      </div>
    </div>
    <b-button class="btn is-primary" @click="guardar()">Guardar</b-button>
    <b-button class="is-danger" @click="eliminar()" v-if="!esNuevo">Eliminar</b-button>
    <b-button class="btn" @click="$router.go(-1)">Cancelar</b-button>
    <b-button @click="duplicar()" v-if="!esNuevo">Duplicar</b-button>
    <b-loading is-full-page :active="cargando != 0" />
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import axios from "axios";
import { Empresa } from "@/interfaces/empresas";
import {
  Config,
  ImputacionContable,
  Tipo,
} from "@/modules/fact_config/interfaces";
import { Cuenta, Grupo as GrupoCuentas } from "@/interfaces/cuentas";
import eventBus from "@/eventBus";
import { Unicidad } from "@/modules/unicidades/unicidades";
import ImputacionContableModal from "../components/ImputacionContableModal.vue";
import Duplicar from "../components/Duplicar.vue"
import { Categoria } from "@/components/productos/productos";
import { Permiso } from "../permiso";
import { Grupo as GrupoUsuarios } from "@/modules/usuarios/grupo";
import PermisoModal from "../components/PermisoModal.vue";
export default Vue.extend({
  data() {
    return {
      tipos: [] as Tipo[],
      opprods: [],
      t: {
        ID: null,
        Empresa: "",
        Nombre: "",
        TipoOp: null,
        Grupo: "",
        Detalle: "",
        SugiereFechaActual: false,
        CondicionPago: "",
        PermiteProductos: false,
        CalculaIVA: false,
        ProductosValorizados: false,
        ProductosSe: "",
        ProductosSeAplicanACuentas: [],
        MuestraDepositos: false,
        PreciosDesde: "",
        UsaListaDePrecios: false,
        TrabajaConPrecioFinal: false,
        PermiteModificarPrecios: false,
        PermiteProductosPorCuentaDeTerceros: false,
        PermiteConceptos: false,
        PermitePartidasDirectas: false,
        DetalleObligatorioEnPartidas: false,
        CopiaPersonaDeCabecera: false,
        PermiteValores: false,
        BuscadorPersonasExtendido: false,
        PermiteAplicar: false,
        EmiteRecibo: false,
        CuentasAnticipo: [],
        GrupoCuentasAplicarRecibo: null,
        UnicidadesQueSeCrean: [],
        EspecificarUnicidades: true,
        DiferenciaMaxRedondeo: 0,

        SignoRenglonProducto: 0,
        SignoRenglonValor: 0,
        NoHaceAsiento: false,
        HaceAsientoEstandar: true,
        HaceAsientoCosto: false,

        GeneraReingreso: false,
        ReingresoObligatorio: false,
        ReingresoEmpresa: null,
        ReingresoCuentaIVA: null,
        ReingresoCuentaReingreso: null,
        ReingresoCuentaPatrimonial: null,
        GeneraReingresoPago: false,
        ReingresoPagoObligatorio: false,
        ReingresoPagoCuentasPermitidas: [],
        PermiteImputacionDiferida: false,
        CuentaRenglonGeneraAplicacion: false,
        CuentaPatrimonialGeneraAplicacion: false,
        EsNotaDeCredito: false,
        Imputaciones: [],
        MostrarSaldo: false,
        ControlaLimiteCredito: false as boolean,
        GrupoCuentasSaldo: null,
        CategoriasIgnoradasEnFactura: [],
        Inactiva: false,
        Permisos: [] as Permiso[],
        PermiteDetalleProductos: false,
        PermitePrecioCero: false,
        TotalizaDesdePartidasFact: false,
      } as Config,
      cuentaAnticipo: null as string | null,
      cuentaAplicacion: null as string | null,
      unicidadAgregar: null as string | null,
      cuentaReingresoPago: null as string | null,
      grupos: [] as GrupoUsuarios[],

      gruposCuentas: [] as GrupoCuentas[],
      gruposUsuarios: [] as GrupoUsuarios[],
      catIgnoradaSeleccionada: null as string | null,
      localBus: new Vue(),
      cargando: 0 as number,
    };
  },
  created() {
    document.title = "Fact - Config";
    this.hooks();

    if (this.$route.query.grupo) {
      this.t.Grupo = this.$route.query.grupo as string;
    }
    if (this.$route.query.empresa) {
      this.t.Empresa = this.$route.query.empresa as string;
    }
    this.fetchGruposUsuarios();
    this.fetchCuentasGrupos();
    this.fetchPermisos();
    this.fetchOpprods();
    this.fetchFactGrupos();
    if (!this.esNuevo) {
      this.fetchConfig();
    }
    this.hooksImputacionContable();

    // Grupos
    this.cargando++;
    axios
      .post("/backend/cuentasgrupos/many", {})
      .then((res) => {
        this.gruposCuentas = res.data;
      })
      .catch((err) => {
        eventBus.$emit("error", err);
      })
      .finally(() => this.cargando--);
  },
  methods: {
    fetchFactGrupos() {
      // Busco grupos
      this.cargando++;
      axios
        .post("/backend/fact_configs/grupos")
        .then((res) => {
          this.tipos = res.data;
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },
    fetchCuentasGrupos() {
      // Grupos de cuentas para saldo
      this.cargando++;
      axios
        .post("/backend/cuentasgrupos/many", {})
        .then((res) => {
          this.grupos = res.data;
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },
    fetchOpprods() {
      // Grupos de cuentas para saldo
      this.cargando++;
      axios
        .post("/backend/fact/opprod_conceptos")
        .then((res) => {
          this.opprods = res.data;
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },
    fetchConfig() {
      // Busco config
      this.cargando++;
      axios
        .post("/backend/fact_configs/one", { ID: this.$route.query.id })
        .then((res) => {
          if (!res.data.Imputaciones) {
            res.data.Imputaciones = [];
          }
          if (!res.data.CategoriasIgnoradasEnFactura) {
            res.data.CategoriasIgnoradasEnFactura = [];
          }
          this.t = res.data;
          this.llenarNombresGruposUsuarios();
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },
    guardar() {
      if (!this.t.GeneraReingresoPago) {
        this.t.ReingresoPagoCuentasPermitidas = [];
      }
      if (this.esNuevo) {
        this.guardarNuevo();
      } else {
        this.guardarCambios();
      }
    },
    guardarNuevo() {
      this.cargando++;
      axios
        .post("/backend/fact_configs/create", this.t)
        .then(() => {
          this.$router.go(-1);
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },
    guardarCambios() {
      this.cargando++;
      axios
        .post("/backend/fact_configs/update", this.t)
        .then(() => {
          this.$router.go(-1);
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },
    eliminar() {
      this.$buefy.dialog.confirm({
        title: "Eliminar",
        message: "¿Está seguro que desea <b>eliminar</b> esta configuración? ",
        confirmText: "Eliminar",
        type: "is-danger",
        hasIcon: true,
        onConfirm: () => {
          this.cargando++;
          axios
            .post("/backend/fact_configs/delete", {
              ID: this.t.ID,
            })
            .then(() => {
              this.$router.go(-1);
            })
            .catch((err) => {
              eventBus.$emit("error", err);
            })
            .finally(() => this.cargando--);
        },
      });
    },
    duplicar() {
      this.$buefy.modal.open({
        parent: this,
        component: Duplicar,
        hasModalCard: true,
        trapFocus: true,
        fullScreen: false,
        scroll: "clip",
        props: {
          id: this.t.ID,
        },
      });
    },
    agregarCategoriaIgnorada() {
      if (!this.catIgnoradaSeleccionada) {
        return;
      }
      if (!this.t.CategoriasIgnoradasEnFactura) {
        this.t.CategoriasIgnoradasEnFactura = [];
      }
      if (
        this.t.CategoriasIgnoradasEnFactura.includes(
          this.catIgnoradaSeleccionada
        )
      ) {
        this.$buefy.dialog.alert({
          title: "Validación",
          message: "La categoría seleccionada ya se encontraba ingresada",
          ariaRole: "alertdialog",
          ariaModal: true,
        });
        return;
      }
      this.t.CategoriasIgnoradasEnFactura.push(this.catIgnoradaSeleccionada);
    },
    quitarCategoriaIgnorada(idx: number) {
      if (!this.t.CategoriasIgnoradasEnFactura) {
        this.t.CategoriasIgnoradasEnFactura = [];
      }
      this.t.CategoriasIgnoradasEnFactura.splice(idx, 1);
      return;
    },
    agregarCuentaAnticipo() {
      if (!this.cuentaAnticipo) {
        return;
      }
      if (this.t.CuentasAnticipo.includes(this.cuentaAnticipo)) {
        this.$buefy.dialog.alert({
          title: "Validación",
          message: "La cuenta seleccionada ya se encontraba ingresada",
          ariaRole: "alertdialog",
          ariaModal: true,
        });
        return;
      }
      this.t.CuentasAnticipo.push(this.cuentaAnticipo);
    },
    quitarUnicidadQueSeCrea(idx: number) {
      this.t.UnicidadesQueSeCrean.splice(idx, 1);
    },
    agregarUnicidad() {
      if (!this.unicidadAgregar) {
        return;
      }
      if (this.t.UnicidadesQueSeCrean.includes(this.unicidadAgregar)) {
        this.$buefy.dialog.alert({
          title: "Validación",
          message: "La cuenta seleccionada ya se encontraba ingresada",
          ariaRole: "alertdialog",
          ariaModal: true,
        });
        return;
      }
      this.t.UnicidadesQueSeCrean.push(this.unicidadAgregar);
    },
    quitarCuentaAnticipo(i: number) {
      this.t.CuentasAnticipo.splice(i, 1);
    },
    agregarCuentaAplicacionProducto(v: string | null) {
      if (!v) {
        return;
      }
      if (!this.t.ProductosSeAplicanACuentas) {
        this.t.ProductosSeAplicanACuentas = [];
      }
      this.t.ProductosSeAplicanACuentas.push(v);
    },
    quitarCuentaAplicacionProducto(v: string) {
      this.t.ProductosSeAplicanACuentas =
        this.t.ProductosSeAplicanACuentas.filter((x) => x != v);
    },
    agregarCuentaReingresoPago() {
      if (!this.cuentaReingresoPago) {
        return;
      }
      if (
        this.t.ReingresoPagoCuentasPermitidas.includes(this.cuentaReingresoPago)
      ) {
        this.$buefy.dialog.alert({
          title: "Validación",
          message: "La cuenta seleccionada ya se encontraba ingresada",
          ariaRole: "alertdialog",
          ariaModal: true,
        });
        return;
      }
      this.t.ReingresoPagoCuentasPermitidas.push(this.cuentaReingresoPago);
    },
    quitarCuentaReingresoPago(v: string) {
      this.t.ReingresoPagoCuentasPermitidas =
        this.t.ReingresoPagoCuentasPermitidas.filter((x) => x != v);
    },
    hooksImputacionContable() {
      // Nueva imputacion
      this.localBus.$on("imputacionCreada", (imp: ImputacionContable) => {
        if (!this.t.Imputaciones) {
          this.t.Imputaciones = [];
        }
        this.t.Imputaciones.push(imp);
      });
      // Modificación
      this.localBus.$on(
        "imputacionModificada",
        (imp: ImputacionContable, idx: number) => {
          if (!this.t.Imputaciones) {
            // No debería pasar nunca
            this.t.Imputaciones = [];
            this.t.Imputaciones.push(imp);
          }

          // remplazo
          this.t.Imputaciones.splice(idx, 1, imp);
        }
      );

      // Eliminada
      this.localBus.$on("imputacionEliminada", (idx: number) => {
        // Elimino
        this.t.Imputaciones.splice(idx, 1);
      });
    },
    agregarImputacionContable() {
      this.$buefy.modal.open({
        parent: this,
        component: ImputacionContableModal,
        hasModalCard: true,
        trapFocus: true,
        fullScreen: false,
        scroll: "clip",
        props: {
          bus: this.localBus,
          categorias: this.categoriasDisponibles,
          imp: null,
          idx: null,
        },
      });
    },
    modificarImputacionContable(imp: ImputacionContable, idx: number) {
      let cat = this.$store.getters["productos/categoriaPorID"](imp.Categoria);
      if (!cat) {
        if (imp.Categoria == "0") {
          cat = { ID: "0", Name: "Imputaciones por defecto" };
        } else {
          eventBus.$emit("error", new Error("no se pudo encontrar categoría"));
        }
      }
      this.$buefy.modal.open({
        parent: this,
        component: ImputacionContableModal,
        hasModalCard: true,
        trapFocus: true,
        fullScreen: false,
        scroll: "clip",
        props: {
          bus: this.localBus,
          categorias: [cat],
          impIngresada: imp,
          idx: idx,
        },
      });
    },
    crearPermiso() {
      this.$buefy.modal.open({
        parent: this,
        component: PermisoModal,
        hasModalCard: true,
        trapFocus: true,
        fullScreen: false,
        scroll: "clip",
        props: {
          bus: this.localBus,
          config: this.t.ID,
          empresa: this.t.Empresa,
        },
      });
    },
    editarPermiso(v: Permiso) {
      this.$buefy.modal.open({
        parent: this,
        component: PermisoModal,
        hasModalCard: true,
        trapFocus: true,
        fullScreen: false,
        scroll: "clip",
        props: {
          bus: this.localBus,
          permisoProp: v,
        },
      });
    },
    hooks() {
      this.localBus.$on("permisoCreado", () => {
        this.fetchPermisos();
      });
      this.localBus.$on("permisoModificado", () => {
        this.fetchPermisos();
      });
      this.localBus.$on("permisoEliminado", () => {
        this.fetchPermisos();
      });
    },
    fetchPermisos() {
      this.cargando++;
      axios
        .post("/backend/fact_permisos/por_config", { ID: this.$route.query.id })
        .then((res) => {
          this.t.Permisos = res.data;
          this.llenarNombresGruposUsuarios();
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },
    fetchGruposUsuarios() {
      this.cargando++;
      axios
        .get("/backend/usuariosgrupos")
        .then((res) => {
          this.gruposUsuarios = res.data;
          this.llenarNombresGruposUsuarios();
        })
        .catch((err) => eventBus.$emit("error", err))
        .finally(() => this.cargando--);
    },
    llenarNombresGruposUsuarios() {
      for (let v of this.t.Permisos) {
        console.log("loopeando permiso", v);
        if (v.GrupoUsuario) {
          const found = this.gruposUsuarios.find((x) => x.ID == v.GrupoUsuario);
          console.log("buscando", v);
          if (found) {
            v.GrupoUsuarioNombre = found.Nombre;
          }
        }
      }
    },
    nombreCategoria(id: string) {
      if (id == "0" || !id) {
        return "Imputaciones por defecto";
      }
      let cat = this.$store.getters["productos/categoriaPorID"](id);
      if (!cat) {
        return id;
      }
      return cat.Nombre;
    },
    nombreCuenta(id: string): string {
      if (id == "0") {
        return "-";
      }
      let cta = this.$store.getters["cuentas/porID"](id);
      if (!cta) {
        return id;
      }
      return cta.Nombre;
    },
    nombreCuentas(ctas: string[]): string {
      let out = [];
      for (let v of ctas) {
        out.push(this.nombreCuenta(v));
      }
      return out.join(" | ");
    },
    nombreUnicidad(id: string): string {
      let def = this.$store.getters["unicidadesdef/porID"](id);
      if (!def) {
        return "NO ENCONTRADO " + id;
      }
      return def.Nombre;
    },
  },
  computed: {
    esNuevo(): boolean {
      if (this.$route.query.id == undefined) {
        return true;
      }
      return false;
    },
    titulo(): string {
      if (this.esNuevo) {
        return "Nueva transaccion de Factura";
      }
      return "Modificar transaccion de Factura";
    },
    // Devuelve las categorías de productos a las que todavía
    // no se les ha dado imputación
    categoriasDisponibles() {
      let cc: Categoria[] =
        this.$store.getters["productos/categoriasImputables"];
      let s = new Set();
      for (let v of this.t.Imputaciones) {
        s.add(v.Categoria);
      }
      let yaEstaban = Array.from(s);

      // Saco las que ya tienen alguna imputación
      let out = cc.filter((x) => !yaEstaban.includes(x.ID));
      let porDef = this.t.Imputaciones.find((x) => x.Categoria == "0");
      if (!porDef) {
        out = [{ ID: "0", Nombre: "Por defecto" } as any, ...out];
      }
      return out;
    },
    categorias(): Categoria[] {
      let cc: Categoria[] =
        this.$store.getters["productos/categoriasImputables"];
      if (!cc) {
        return [];
      }
      return cc;
    },
    empresas(): Empresa[] {
      return this.$store.getters["empresas/permitidas"];
    },
    condicionPagoLabel() {
      if (this.t.CondicionPago == "Obligatoria") {
        return "Para poder registrar la operación se le exigirá al usuario una condición de pago en la cabecera";
      }

      if (this.t.CondicionPago == "Opcional") {
        return "Opcional: para casos en que por ejemplo se remite mercadería, pero todavía no se sabe como se va a facturar.";
      }

      if (this.t.CondicionPago == "Sin condición") {
        return "Operaciones que no necesitan una condición, como los comprobantes de compra, se ingresan los vencimientos.";
      }
      return "";
    },
    cuentasAnticipo(): Cuenta[] {
      let ctas = this.$store.state.cuentas.array;
      let filt = ctas.filter((item: Cuenta) => item.AperturaPersona);
      let arr = filt.sort((a: Cuenta, b: Cuenta) => {
        return new Intl.Collator("ar").compare(a.Nombre, b.Nombre);
      });
      let out = [];
      for (let v of arr) {
        out.push(Object.assign({}, v));
      }
      return out;
    },
    cuentasConAperturaProducto(): Cuenta[] {
      let ctas = this.$store.state.cuentas.array;
      let filt = ctas.filter(
        (item: Cuenta) => item.AperturaProducto && item.UsaAplicaciones
      );
      let arr = filt.sort((a: Cuenta, b: Cuenta) => {
        return new Intl.Collator("ar").compare(a.Nombre, b.Nombre);
      });
      let out = [];
      for (let v of arr) {
        out.push(Object.assign({}, v));
      }
      return out;
    },
    cuentasConAplicacionYPersona(): Cuenta[] {
      let ctas = this.$store.state.cuentas.array;
      let filt = ctas.filter(
        (item: Cuenta) => item.UsaAplicaciones && item.AperturaPersona
      );
      let arr = filt.sort((a: Cuenta, b: Cuenta) => {
        return new Intl.Collator("ar").compare(a.Nombre, b.Nombre);
      });
      let out = [];
      for (let v of arr) {
        out.push(Object.assign({}, v));
      }
      return out;
    },
    cuentasImputables(): Cuenta[] {
      return this.$store.getters["cuentas/imputables"];
    },
    unicidades(): Unicidad[] {
      return this.$store.getters["unicidadesdef/deUso"];
    },
  },
});
</script>

<style scoped>
h2 {
  margin-top: 2em;
  color: gray;
  font-size: 130%;
}
</style>
