<template>
  <div>
    <div class="titulo-de-pantalla">
      <h1>Configuración facturas y recibos</h1>
    </div>

    <b-field label="Empresa" horizontal>
      <b-select v-model="empresa">
        <option :value="null">Seleccione</option>
        <option v-for="v in empresas" :value="v.ID" :key="v.ID">
          {{ v.Nombre }}
        </option>
      </b-select>
    </b-field>
    <div class="box" v-for="grupo in grupos" :key="grupo.ID">
      <h1>
        {{ grupo.ID }}
      </h1>
      <div v-for="c in configsDe(grupo.ID)" :key="c.ID">
        <h2 class="link" @click="profundizarConfig(c.ID)">
          {{ c.Nombre }}
        </h2>
        <tabla>
          <thead>
            <th>Esquema</th>
            <th>Factura</th>
            <th>Factura (anulación)</th>
            <th>Recibo</th>
            <th>Cajas</th>
          </thead>
          <tbody>
            <tr v-for="esquema in esquemasDe(c.ID)" :key="esquema.ID">
              <td @click="profundizarEsquema(esquema.ID)" class="link">
                {{ esquema.Nombre }}
              </td>
              <td @click="profundizarComp(esquema, 'Factura')" class="link">
                {{ compNombre(esquema.Comprobantes, "Factura") }}
              </td>
              <td
                @click="profundizarComp(esquema, 'Factura anulación')"
                class="link"
              >
                {{ compNombre(esquema.Comprobantes, "Factura anulación") }}
              </td>
              <td @click="profundizarComp(esquema, 'Recibo')" class="link">
                {{ compNombre(esquema.Comprobantes, "Recibo") }}
              </td>
              <td>{{ cajasNombres(esquema.Cajas) }}</td>
            </tr>
          </tbody>
          <tfoot>
            <td colspan="5" align="right">
              <b-button
                icon-left="plus-circle"
                title="Crear esquema para esta config"
                @click="nuevoEsquema(c.ID)"
              ></b-button>
            </td>
          </tfoot>
        </tabla>
        <br />
      </div>

      <b-button
        icon-left="plus-circle"
        title="Crear esquema para esta config"
        @click="nuevaConfig(grupo.ID)"
      >
        Nueva config</b-button
      >
    </div>

    <div class="box">
      <h1>Sin grupo</h1>
      <div v-for="c in configSinGrupo" :key="c.ID">
        <h2
          class="link"
          @click="$router.push({ name: 'factConfig', query: { id: c.ID } })"
        >
          {{ c.Nombre }}
        </h2>
        <tabla>
          <thead>
            <th>Esquema</th>
            <th>Factura</th>
            <th>Factura (anulación)</th>
            <th>Recibo</th>
            <th>Cajas</th>
          </thead>
          <tbody>
            <tr v-for="esquema in esquemasDe(c.ID)" :key="esquema.ID">
              <td
                @click="
                  $router.push({
                    name: 'esquema',
                    query: { id: esquema.ID },
                  })
                "
                class="link"
              >
                {{ esquema.Nombre }}
              </td>
              <td>{{ compNombre(esquema.Comprobantes, "Factura") }}</td>
              <td>
                {{ compNombre(esquema.Comprobantes, "Factura anulación") }}
              </td>
              <td>
                {{ compNombre(esquema.Comprobantes, "Recibo") }}
              </td>
              <td>{{ cajasNombres(esquema.Cajas) }}</td>
            </tr>
          </tbody>
        </tabla>
        <br />
      </div>
    </div>
    <b-loading
      is-full-page
      :active="cargando != 0"
      :can-cancel="true"
    ></b-loading>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import axios from "axios";
import eventBus from "@/eventBus";
import { Empresa } from "@/interfaces/empresas";
import { Caja } from "@/modules/cajas/cajas";
import { Config, GrupoConfig, Tipo } from "@/modules/fact_config/interfaces";
import { Esquema } from "@/modules/fact_esquemas/interfaces";
import { Comp } from "@/interfaces/comps";
import { updateQuery } from "@/modules/routeUtil";
export default Vue.extend({
  data() {
    return {
      empresa: null as string | null,
      tipo: null as string | null,
      activas: "" as string,

      configs: [] as Config[],
      esquemas: [] as Esquema[],
      grupos: [] as GrupoConfig[],
      comps: [] as Comp[],

      cargando: 0 as number,
    };
  },
  created() {
    document.title = "Fact - Configs";
    if (this.$route.query.empresa) {
      this.empresa = this.$route.query.empresa as string;
    }
    if (this.$route.query.tipo) {
      this.tipo = this.$route.query.tipo as string;
    }
    if (this.$route.query.activas) {
      this.tipo = this.$route.query.activas as string;
    }
    if (!this.empresa) {
      let emp = this.$store.getters["empresas/seleccionada"];
      if (emp) {
        this.empresa = emp.ID;
      }
    }
  },
  computed: {
    empresas(): Empresa[] {
      return this.$store.getters["empresas/permitidas"];
    },
    configSinGrupo(): Config[] {
      let gruposIDs: string[] = [];
      this.grupos.map((x) => gruposIDs.push(x.ID));
      return this.configs.filter((x) => !gruposIDs.includes(x.Grupo));
    },
  },
  methods: {
    actualizar() {
      // pido comprobantes
      if (!this.empresa) {
        return;
      }

      let pedirComps = axios
        .get("/backend/comprobantes", { params: { Empresa: this.empresa } })
        .then((res) => {
          this.comps = res.data;
        })
        .finally(() => this.cargando--);

      let pedirConfigs = axios
        .post("/backend/fact_configs/many", {
          Tipo: this.tipo,
          Empresa: this.empresa,
          Activas: this.activas,
        })
        .then((res) => {
          res.data.sort((a: Config, b: Config) => {
            return new Intl.Collator("ar").compare(a.Nombre, b.Nombre);
          });
          this.configs = res.data;
        })
        .finally(() => this.cargando--);

      let pedirGrupos = axios
        .post("/backend/fact_configs/grupos")
        .then((res) => {
          this.grupos = res.data;
        })
        .finally(() => this.cargando--);

      let pedirEsquemas = axios
        .post("/backend/fact_esquemas/many", {
          Empresa: this.empresa,
        })
        .then((res) => {
          this.esquemas = res.data;
        })
        .finally(() => this.cargando--);
      this.cargando += 4;
      Promise.all([pedirComps, pedirConfigs, pedirGrupos, pedirEsquemas])
        .then(() => {
          this.$forceUpdate();
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        });
    },
    configsDe(grupoID: string): Config[] {
      return this.configs.filter((x) => x.Grupo == grupoID);
    },
    esquemasDe(configID: string | null): Esquema[] {
      if (!configID) {
        return [];
      }
      return this.esquemas.filter((x) => x.Config == configID);
    },
    profundizarConfig(id: string | null): void {
      updateQuery({ empresa: this.empresa }, this);
      this.$router.push({ name: "factConfig", query: { id: id } });
    },
    profundizarEsquema(id: string | null): void {
      if (!id) {
        return;
      }
      updateQuery({ empresa: this.empresa }, this);
      this.$router.push({ name: "esquema", query: { id: id } });
    },
    profundizarComp(esquema: Esquema, tipoComp: string) {
      if (!esquema) {
        return;
      }
      this.$router.replace({
        name: "factConfigs",
        query: { empresa: this.empresa },
      });
      // Busco comp id
      let compID = esquema.Comprobantes[tipoComp];
      if (!compID) {
        return;
      }
      this.$router.push({ name: "comprobante", query: { id: compID } });
    },
    nuevoEsquema(paraConfig: string | null): void {
      if (!paraConfig) {
        return;
      }
      this.$router.replace({
        name: "factConfigs",
        query: { empresa: this.empresa },
      });
      this.$router.push({
        name: "esquema",
        query: {
          empresa: this.empresa,
          config: paraConfig,
        },
      });
    },
    nuevaConfig(grupo: string): void {
      this.$router.replace({
        name: "factConfigs",
        query: { empresa: this.empresa },
      });
      this.$router.push({
        name: "factConfig",
        query: { empresa: this.empresa, grupo: grupo },
      });
    },
    nombreEmpresa(id: string): string {
      let v = this.$store.getters["empresas/porID"](id);
      if (!v) {
        return id;
      }
      return v.Nombre;
    },
    nombreTransaccion(id: string): string {
      let v = this.$store.getters["fact/tipo"](id);
      if (!v) {
        return id;
      }
      return v.Nombre;
    },
    cajasNombres(cajas: string[]): string {
      if (!cajas) {
        return "";
      }
      let names: string[] = [];
      for (let v of cajas) {
        let caja: Caja = this.$store.getters["cajas/porID"](v);
        if (!caja) {
          names.push(caja);
        } else {
          names.push(caja.Nombre);
        }
      }
      return names.join(", ");
    },
    compNombre(obj: any, key: string): string {
      let val = obj[key];
      if (!val) {
        return "";
      }
      let comp = this.comps.find((x) => x.ID == val);
      if (!comp) {
        return val;
      }
      let out = comp.Nombre;

      if (comp.PuntoDeVenta) {
        out += " (PV: " + comp.PuntoDeVenta + ")";
      }
      return out;
    },
  },
  watch: {
    "$store.state.empresas.seleccionada"(newValue) {
      console.log("cambió empresa", newValue);
      this.empresa = newValue;
      this.actualizar();
    },
    empresa() {
      this.actualizar();
    },
  },
});
</script>

<style lang="scss" scoped>
div.flex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
div.item {
  margin-right: 10px;
}
</style>
