<template>
  <div id="wrapper">
    <div class="titulo-de-pantalla">
      <h1>{{ titulo }}</h1>
    </div>

    <div class="box">
      <h1>Datos generales</h1>
      <b-field label="Nombre en plural" horizontal>
        <b-input v-model="unicidad.Nombre"></b-input>
      </b-field>

      <b-field label="Nombre en singular" horizontal>
        <b-input v-model="unicidad.NombreSingular"></b-input>
      </b-field>
      <b-field label="Género" horizontal>
        <b-tooltip
          label="Se usa para determinar si deberá decir 'Nuevo vehículo' o 'Nueva vehículo'"
        >
          <b-select v-model="unicidad.Genero">
            <option>Masculino</option>
            <option>Femenino</option>
          </b-select>
        </b-tooltip>
      </b-field>

      <b-field label="Descripción" horizontal>
        <b-input type="textarea" v-model="unicidad.Descripcion"></b-input>
      </b-field>

      <b-field label="¿Tipo predefinido?" horizontal>
        <b-select v-model="unicidad.Predefinida">
          <option :value="null">No</option>
          <option>Cheque de tercero</option>
        </b-select>
      </b-field>

      <b-field label="Tipo" horizontal>
        <b-select v-model="unicidad.Tipo">
          <option :value="null" disabled>Seleccione</option>
          <option value="Referencial">Referencial</option>
          <option value="Uso">De uso</option>
        </b-select>
      </b-field>
      <b-field horizontal>
        <b-checkbox v-model="unicidad.Activo">¿Activo?</b-checkbox>
      </b-field>
    </div>

    <div class="box" v-if="unicidad.Tipo == 'Uso'">
      <h1>Estados</h1>
      <tabla v-if="this.unicidad.Estados.length > 0">
        <thead>
          <th>Nombre</th>
          <th>Cuenta contable</th>
        </thead>
        <tbody>
          <tr v-for="v in this.unicidad.Estados" v-bind:key="v.ID">
            <td>{{ v.Nombre }}</td>
            <td>{{ v.CuentaContable }}</td>
          </tr>
        </tbody>
      </tabla>
      <p v-else>No hay ningún atributo cargado</p>
      <b-button @click="agregarEstado()">Agregar</b-button>
    </div>
    <div class="box">
      <h1>Atributos indexados</h1>
      <tabla v-if="this.unicidad.AttsIndexados.length > 0">
        <thead>
          <th>Nombre</th>
          <th>Tipo</th>
          <th>Obligatorio</th>
        </thead>
        <tbody>
          <tr
            v-for="(v, i) in this.unicidad.AttsIndexados"
            v-bind:key="v.ID"
            @click="modificarAttIndexado(v, i)"
            class="link"
          >
            <td>{{ v.Nombre }}</td>
            <td>{{ nombreType(v.Type) }}</td>
            <td>{{ v.Obligatorio | siNo }}</td>
          </tr>
        </tbody>
      </tabla>
      <p v-else>No hay ningún atributo cargado</p>
      <b-button @click="agregarAttIndexado()">Agregar</b-button>
    </div>

    <div class="box">
      <h1>Atributos generales</h1>
      <tabla v-if="this.unicidad.Atts.length > 0">
        <thead>
          <th>Orden</th>
          <th>Nombre</th>
          <th>Tipo</th>
          <th>Obligatorio</th>
        </thead>
        <tbody>
          <tr
            v-for="(v, i) in this.unicidad.Atts"
            v-bind:key="v.ID"
            class="link"
            @click="modificarAtt(v, i)"
          >
            <td>
              <span v-if="v.IncluirEnDetalle">{{ v.IncluirEnDetalle }}</span>
            </td>
            <td>{{ v.Nombre }}</td>
            <td>{{ nombreType(v.Type) }}</td>
            <td>{{ v.Obligatorio | siNo }}</td>
          </tr>
        </tbody>
      </tabla>
      <p v-else>No hay ningún atributo cargado</p>
      <b-button @click="agregarAtt()">Agregar</b-button>
    </div>
    <b-field grouped>
      <b-button @click="previsualizar()" class="is-info"
        >Previsualizar</b-button
      >
    </b-field>

    <b-field grouped position="is-right">
      <b-button @click="guardar()" class="is-success">Guardar</b-button>
      <b-button @click="volver()">Volver</b-button>
    </b-field>
  </div>
</template>
<script>
import Vue from "vue";
import axios from "axios";
import Atributo from "../../unicidades/components/Atributo.vue";
import Estado from "../../unicidades/components/Estado.vue";
import eventBus from "@/eventBus.ts";
import VistaPreviaUnicidadDinamica from "../../unicidades/components/VistaPreviaUnicidadDinamica.vue";
export default {
  data() {
    return {
      unicidad: {
        ID: null,
        Nombre: null,
        NombreSingular: null,
        Genero: null,
        Activo: true,
        Atts: [],
        AttsIndexados: [],
        Estados: []
      },
      localBus: null
    };
  },
  created() {
	document.title = "Unicidad (definición)"
    this.localBus = new Vue();

    // Atributos indexados
    this.localBus.$on("atributoIndexadoCreado", att => {
      this.unicidad.AttsIndexados.push(att);
    });
    this.localBus.$on("atributoIndexadoModificado", (att, i) => {
      this.unicidad.AttsIndexados.splice(i, 1, att);
    });
    this.localBus.$on("atributoIndexadoEliminado", (att, i) => {
      this.unicidad.AttsIndexados.splice(i, 1);
    });

    // Atributos generales
    this.localBus.$on("atributoCreado", att => {
      this.unicidad.Atts.push(att);
    });
    this.localBus.$on("atributoModificado", (att, i) => {
      this.unicidad.Atts.splice(i, 1, att);
    });
    this.localBus.$on("atributoEliminado", (att, i) => {
      this.unicidad.Atts.splice(i, 1);
    });

    // Estados
    this.localBus.$on("estadoCreado", estado => {
      this.unicidad.Estados.push(estado);
    });
    this.localBus.$on("estadoModificado", (estado, i) => {
      this.unicidad.Estados.splice(i, 1, estado);
    });
    this.localBus.$on("estadoEliminado", (estado, i) => {
      this.unicidad.Estados.splice(i, 1, estado);
    });

    this.actualizar();
  },
  methods: {
    actualizar() {
      if (!this.esNuevo) {
        axios
          .post("/backend/unicidadesdef/one", {
            ID: this.$route.query.id
          })
          .then(res => {
            if (res.data.Atts == null) {
              res.data.Atts = [];
            }
            if (res.data.AttsIndexados == null) {
              res.data.AttsIndexados = [];
            }
            if (res.data.Estados == null) {
              res.data.Estados = [];
            }
            this.unicidad = res.data;
          })
          .catch(err => {
            eventBus.$emit("error", err);
          });
      }
    },
    guardar() {
      if (this.esNuevo) {
        axios
          .post("/backend/unicidadesdef/create", this.unicidad)
          .then(() => {
            this.volver();
          })
          .catch(err => {
            eventBus.$emit("error", err);
          });
      } else {
        axios
          .post("/backend/unicidadesdef/update", this.unicidad)
          .then(() => {
            this.volver();
          })
          .catch(err => {
            eventBus.$emit("error", err);
          });
      }
    },
    previsualizar() {
      this.$buefy.modal.open({
        parent: this,
        component: VistaPreviaUnicidadDinamica,
        hasModalCard: true,
        trapFocus: true,
        scroll: "clip",
        // fullScreen: true,
        canCancel: [],
        props: { def: this.unicidad, bus: eventBus, index: 4 }
      });
    },
    agregarAttIndexado() {
      let att = {
        Nombre: null,
        Type: null
      };
      let indexado = true;
      this.mostrarModal(att, null, "nuevo", indexado);
    },
    modificarAttIndexado(att, index) {
      let nuevoAtt = {};
      Object.assign(nuevoAtt, att);
      this.mostrarModal(nuevoAtt, index, "modificar", true);
    },
    agregarAtt() {
      let att = {
        Nombre: null,
        Type: null
      };
      let noIndexado = false;
      this.mostrarModal(att, null, "nuevo", noIndexado);
    },
    modificarAtt(att, index) {
      let nuevoAtt = {};
      Object.assign(nuevoAtt, att);
      let noIndexado = false;
      this.mostrarModal(nuevoAtt, index, "modificar", noIndexado);
    },
    mostrarModal(att, i, crud, indexado) {
      this.$buefy.modal.open({
        parent: this,
        component: Atributo,
        hasModalCard: true,
        trapFocus: true,
        scroll: "clip",
        props: {
          att: att,
          i: i,
          bus: this.localBus,
          crud: crud,
          indexado: indexado
        }
      });
    },
    agregarEstado() {
      let estado = {
        Nombre: null,
        CuentaContable: null,
        Contabiliza: null
      };
      this.mostrarModalEstado(estado, null, "nuevo");
    },
    mostrarModalEstado(estado, i, crud) {
      this.$buefy.modal.open({
        parent: this,
        component: Estado,
        hasModalCard: true,
        trapFocus: true,
        scroll: "clip",
        props: {
          estado: estado,
          i: i,
          bus: this.localBus,
          crud: crud
        }
      });
    },
    volver() {
      this.$router.go(-1);
    },
    nombreType(id) {
      if (id == "string") {
        return "Texto";
      }
      if (id == "bool") {
        return "Si / No";
      }
      if (id == "int") {
        return "Número entero";
      }
      if (id == "d2") {
        return "Número con dos decimales";
      }
      if (id == "fecha") {
        return "Fecha";
      }
    }
  },
  computed: {
    esNuevo() {
      if (this.$route.query.id == undefined) {
        return true;
      }
      return false;
    },
    titulo() {
      if (this.esNuevo) {
        return "Nueva definición de unicidad";
      }
      return "Modificar definición de unicidad";
    }
  }
};
</script>

<style lang="scss" scoped>
div#wrapper {
  max-width: 1000px;
  margin: auto;
}
div.flex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
div.item {
  margin-right: 15px;
}
</style>
