<template>
  <div>
    <div class="titulo-de-pantalla">
      <h1>Unicidades definiciones</h1>
      <puntitos :size="35">
        <ul>
          <li @click="$router.push({ name: 'unicidadDef' })">Nueva unicidad</li>
        </ul>
      </puntitos>
    </div>

    <tabla>
      <thead>
        <th>Nombre</th>
        <th>Tipo</th>
      </thead>
      <tbody>
        <tr
          v-for="p in unicidades"
          v-bind:key="p.ID"
          @click="$router.push({ name: 'unicidadDef', query: { id: p.ID } })"
          class="link"
        >
          <td>{{ p.Nombre }}</td>
          <td>{{ p.Tipo }}</td>
        </tr>
      </tbody>
    </tabla>
  </div>
</template>

<script>
import eventBus from "@/eventBus";
import axios from "axios";
import Puntitos from "@/components/widgets/Puntitos.vue";
export default {
  data() {
    return {
      unicidades: []
    };
  },
  components: {
    Puntitos
  },
  created() {
	document.title = "Unicidades (definiciones)"
    this.actualizar();
  },
  methods: {
    actualizar() {
      axios
        .post("/backend/unicidadesdef/many")
        .then(res => {
          this.unicidades = res.data;
        })
        .catch(err => {
          eventBus.$emit("error", err);
        });
    }
  }
};
</script>
