
<template>
  <div>
    <h1 class="title">Grupos de usuarios</h1>
    <div class="box">
      <div class="is-flex"></div>
      <tabla>
        <thead>
          <th>Nombre grupo</th>
          <th>Usuarios</th>
        </thead>
        <tbody>
          <tr v-for="v in grupos" :key="v.ID">
            <td>
              <a @click="profundizar(v.ID)">
                {{ v.Nombre }}
              </a>
            </td>
            <td>
              <span>{{ v.Usuarios.join(", ") }}</span>
            </td>
          </tr>
        </tbody>
      </tabla>
      <b-button class="is-primary" @click="nuevo()">Nuevo</b-button>
      <b-loading
        is-full-page
        :active="cargando != 0"
        :can-cancel="true"
      ></b-loading>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import axios from "axios";
import { Grupo } from "../grupo";
import eventBus from "@/eventBus";
export default Vue.extend({
  data() {
    return {
      empresa: null as string | null,
      grupos: [] as Grupo[],
      cargando: 0 as number,
    };
  },
  created() {
	document.title = "Grupos"
    this.actualizar();
  },
  methods: {
    actualizar() {
      this.cargando++
      axios
        .get("/backend/usuariosgrupos")
        .then(res => {
          this.grupos = res.data;
        })
        .catch(err => {
          eventBus.$emit("error", err);
        })
				.finally(() => this.cargando--);
    },
    nuevo() {
      this.$router.push({ name: "usuarioGrupo" });
    },
    profundizar(id: string) {
      this.$router.push({ name: "usuarioGrupo", query: { id: id } });
    },
  },
});
</script>

<style scoped>
.item {
  margin-right: 1em;
}
</style>
