<template>
  <div>
    <div class="box">
      <h1 class="title">{{ titulo }}</h1>
      <b-field label="Nombre" horizontal>
        <b-input v-model="g.Nombre"></b-input>
      </b-field>
      <b-field label="Detalle" horizontal>
        <b-input v-model="g.Detalle"></b-input>
      </b-field>
      <b-field label="Usuarios" horizontal>
        <b-select v-model="usuario">
          <option v-for="v in usuariosSinUsar" :value="v.ID" :key="v.ID">
            {{ v.Apellido.toUpperCase() }}, {{ v.Nombre }}
          </option>
        </b-select>
        <b-button class="is-primary" @click="agregar(usuario)"
          >Agregar</b-button
        >
      </b-field>
      <tabla>
        <thead>
          <th>Nombre</th>
          <th></th>
        </thead>
        <tbody>
          <tr v-for="(v, i) in g.Usuarios" :key="v">
            <td>
              {{ usuarioNombre(v) }}
            </td>
            <td>
              <b-button icon-left="close-circle" @click="quitar(i)"></b-button>
            </td>
          </tr>
        </tbody>
      </tabla>

      <b-button class="is-primary" @click="guardar()">Guardar</b-button>
      <b-button class="is-danger" @click="eliminar()" v-if="!esNuevo"
        >Eliminar</b-button
      >
      <b-button @click="cancelar()">Cancelar</b-button>
      <b-loading
        is-full-page
        :active="cargando != 0"
        :can-cancel="true"
      ></b-loading>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import axios from "axios";
import { Grupo } from "../grupo";
import { Usuario } from "@/interfaces/usuarios";
import eventBus from "@/eventBus";
export default Vue.extend({
  data() {
    return {
      empresa: null as string | null,
      usuario: null as string | null,
      usuarios: [] as Usuario[],
      g: {
		ID: "0",
        Nombre: "",
        Detalle: "",
        Usuarios: [],
      } as Grupo,
      cargando: 0 as number,
    };
  },
  created() {
    document.title = "Grupo";
    if (!this.esNuevo) {
      this.actualizar();
    }
    this.fetchUsuarios();
  },
  methods: {
    actualizar() {
      this.cargando++;
      axios
        .get(`/backend/usuariosgrupos/${this.$route.query.id}`)
        .then((res) => {
          this.g = res.data;
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },
    fetchUsuarios() {
      this.cargando++;
      axios
        .get("/backend/usuarios")
        .then((res) => {
          this.usuarios = res.data;
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },
    guardar() {
      this.cargando++;
      if (this.esNuevo) {
        axios
          .post("/backend/usuariosgrupos", this.g)
          .then(() => {
            this.$router.go(-1);
          })
          .catch((err) => {
            eventBus.$emit("error", err);
          })
          .finally(() => this.cargando--);
      } else {
        axios
          .put(`/backend/usuariosgrupos`, this.g)
          .then(() => {
            this.$router.go(-1);
          })
          .catch((err) => {
            eventBus.$emit("error", err);
          })
          .finally(() => this.cargando--);
      }
    },
    eliminar() {
      this.$buefy.dialog.confirm({
        message: "¿Está seguro que desea borrar este grupo?",
        confirmText: "Borrar",
        type: "is-danger",
        hasIcon: true,
        onConfirm: () => {
          this.cargando++;
          axios
            .delete(`/backend/usuariosgrupos/${this.$route.query.id}`)
            .then(() => {
              this.$router.go(-1);
            })
            .catch((err) => {
              eventBus.$emit("error", err);
            })
            .finally(() => {
              this.cargando--;
            });
        },
      });
    },
    cancelar() {
      this.$router.go(-1);
    },
    nuevo() {
      this.$router.push({ name: "cuentasGrupo" });
    },
    agregar(id: string | null) {
      if (!id) {
        return;
      }
      if (!this.usuarios) {
        return;
      }
      if (this.g.Usuarios.includes(id)) {
        this.$buefy.dialog.alert({
          title: "Validación",
          message: "Usuario ya se encontraba en el grupo",
          type: "is-danger",
          hasIcon: true,
          icon: "times-circle",
          iconPack: "fa",
          ariaRole: "alertdialog",
          ariaModal: true,
        });
        return;
      }
      this.g.Usuarios.push(id);
    },
    quitar(idx: number) {
      this.g.Usuarios.splice(idx, 1);
    },
    usuarioNombre(id: string): string {
      let usuario = this.usuarios.find((x) => x.ID == id);
      if (!usuario) {
        return id;
      }
      return usuario.Apellido + ", " + usuario.Nombre;
    },
  },
  computed: {
    usuariosSinUsar(): Usuario[] {
      if (!this.usuarios) {
        return this.usuarios;
      }
      let out = this.usuarios.filter((x) => {
        if (!x.ID) {
          return false;
        }
        return !this.g.Usuarios.includes(x.ID);
      });
      out.sort((a, b) => {
        return new Intl.Collator("ar").compare(
          a.Apellido + a.Nombre,
          b.Apellido + b.Nombre
        );
      });
      return out;
    },
    titulo(): string {
      if (this.esNuevo) {
        return "Nuevo grupo";
      }
      return "Modificar grupo";
    },
    esNuevo(): boolean {
      if (this.$route.query.id) {
        return false;
      }
      return true;
    },
  },
});
</script>
