<template>
  <div class="modal-card">
    <header class="modal-card-head">
      <h1 class="modal-card-title">Auditoría comprobante</h1>
    </header>
    <section class="modal-card-body">
      <tabla v-if="dirty && regs.length">
        <thead>
          <th>ID</th>
          <th>Punto de venta</th>
          <th>Número</th>
          <th>Fecha</th>
          <th>Hora</th>
          <th>Operación</th>
          <th>Usuario</th>
          <th v-if="mostrarPersona">Persona</th>
          <th>Detalle</th>
        </thead>
        <tbody>
          <tr v-for="(v, i) in regs" :key="i">
            <td>{{ v.OpID }}</td>
            <td align="right">{{ v.PuntoDeVenta }}</td>
            <td align="right">{{ v.NComp }}</td>
            <td>{{ v.TS | enFecha }}</td>
            <td>{{ v.TS | enHora }}</td>
            <td>{{ opStr(v.Operacion) }}</td>
            <td>{{ v.Usuario }}</td>
            <td v-if="mostrarPersona">{{ v.Persona }}</td>
            <td>{{ v.Detalle }}</td>
          </tr>
        </tbody>
      </tabla>
      <p v-else>No hay registros</p>
    </section>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import axios from "axios";
import eventBus from "@/eventBus";
import { Oplog } from "../oplog";

export default Vue.extend({
  data() {
    return {
      regs: [] as Oplog[],
      dirty: false as boolean,
      cargando: false as boolean
    };
  },
  props: {
    compID: {
      type: String,
      required: false
    },
    puntoDeVenta: {
      type: String,
      required: false
    },
    nComp: {
      type: String,
      required: false
    },
    opID: {
      type: String,
      required: false
    }
  },
  created() {
    this.actualizar();
  },
  methods: {
    actualizar() {
      this.cargando = true;
      axios
        .post("/backend/oplog/por_comprobante", {
          CompID: this.compID,
          PuntoDeVenta: this.puntoDeVenta,
          NComp: this.nComp,
					OpID: this.opID,
        })
        .then(res => {
          this.regs = res.data;
          this.dirty = true;
          this.cargando = false;
        })
        .catch(err => {
          eventBus.$emit("error", err);
          this.cargando = false;
        });
    },
    opStr(id: string): string {
      let found = this.$store.getters["oplog/porID"](id);
      if (!found) {
        return id;
      }
      return found.Nombre;
    }
  },
  computed: {
    mostrarPersona(): boolean {
      for (let v of this.regs) {
        if (v.Persona) {
          return true;
        }
      }
      return false;
    }
  }
});
</script>
