<template>
  <div>
    <div class="titulo-de-pantalla">
      <h1>{{ titulo }}</h1>
    </div>

    <div class="box">
      <b-field label="Pertenece a la empresa">
        <b-select v-model="esquema.Empresa">
          <option :value="null">Seleccione</option>
          <option v-for="v in empresas" :key="v.ID" :value="v.ID">
            {{ v.Nombre }}
          </option>
        </b-select>
      </b-field>

      <b-field label="Transacción">
        <b-select v-model="esquema.Config">
          <option :value="null">Seleccione</option>
          <option v-for="v in configs" :key="v.ID" :value="v.ID">
            {{ v.Grupo }} - {{ v.Nombre }}
          </option>
        </b-select>
      </b-field>

      <b-field label="Nombre del esquema">
        <b-input v-model="esquema.Nombre"> </b-input>
      </b-field>

      <b-field label="Descripción">
        <b-input type="textarea" v-model="esquema.Detalle"> </b-input>
      </b-field>
    </div>

    <div class="box">
      <h1>Comprobantes asociados</h1>
      <tabla>
        <thead>
          <th>Nombre</th>
          <th>Comprobante asociado</th>
        </thead>
        <tbody>
          <tr v-for="v in compsNecesarios" :key="v.Nombre">
            <td>{{ v.Nombre }}</td>
            <td>
              <b-select v-model="esquema.Comprobantes[v.Nombre]">
                <option :value="null">Seleccione</option>
                <option v-for="c in comprobantes" :value="c.ID" :key="c.ID">
                  {{ c.Nombre }} (punto de venta {{ c.PuntoDeVenta }})
                </option>
              </b-select>
            </td>
          </tr>
          <tr>
            <td>Reingreso</td>
            <td>
              <b-select v-model="esquema.Comprobantes['Reingreso']">
                <option :value="null">Seleccione</option>
                <option
                  v-for="c in comprobantesReingreso"
                  :value="c.ID"
                  :key="c.ID"
                >
                  {{ c.Nombre }} (punto de venta {{ c.PuntoDeVenta }})
                </option>
              </b-select>
            </td>
          </tr>
          <tr>
            <td>Diferimiento</td>
            <td>
              <b-select v-model="esquema.Comprobantes['Diferimiento']">
                <option :value="null">Seleccione</option>
                <option
                  v-for="c in comprobantesDiferimiento"
                  :value="c.ID"
                  :key="c.ID"
                >
                  {{ c.Nombre }} (punto de venta {{ c.PuntoDeVenta }})
                </option>
              </b-select>
            </td>
          </tr>
          <tr>
            <td>Diferimiento (cancelación)</td>
            <td>
              <b-select
                v-model="esquema.Comprobantes['Diferimiento (cancelación)']"
              >
                <option :value="null">Seleccione</option>
                <option
                  v-for="c in comprobantesDiferimiento"
                  :value="c.ID"
                  :key="c.ID"
                >
                  {{ c.Nombre }} (punto de venta {{ c.PuntoDeVenta }})
                </option>
              </b-select>
            </td>
          </tr>
        </tbody>
      </tabla>
      <b-field label="Al grabrar operación, el CAE:" v-if="mostrarCAE">
        <b-select v-model="esquema.CAE">
          <option value="Automático">Pedirlo automáticamente</option>
          <option value="Preguntar">Preguntar al usuario</option>
          <option value="">
            No solicitarlo, lo hará luego cuando lo desee el usuario
          </option>
        </b-select>
      </b-field>
    </div>
    <!-- <PermisosFact> </PermisosFact> -->

    <!-- CAJAS -->
    <div class="box" v-if="mostrarCajas">
      <h1>Cajas permitidas</h1>
      <tabla v-if="esquema.Cajas && esquema.Cajas.length">
        <th>ID</th>
        <th>Nombre</th>
        <th></th>
        <tbody>
          <tr v-for="(v, i) in esquema.Cajas" :key="v">
            <td>{{ v }}</td>
            <td>{{ cajaNombre(v) }}</td>
            <td>
              <b-button
                icon-left="close-circle"
                @click="quitarCaja(i)"
              ></b-button>
            </td>
          </tr>
        </tbody>
      </tabla>
      <p v-else>No hay ninguna caja permitida</p>
      <b-field>
        <b-select v-model="cajaSeleccionada">
          <option value="" disabled>Seleccione</option>
          <option
            v-for="v in $store.getters['cajas/todas']"
            :key="v.ID"
            :value="v.ID"
          >
            {{ v.Nombre }}
          </option>
        </b-select>
      </b-field>
      <b-button @click="agregarCaja(cajaSeleccionada)">Agregar</b-button>
    </div>

    <!-- VALORES -->
    <div class="box" v-if="mostrarValores">
      <h1>Valores permitidos</h1>
      <tabla v-if="esquema.Valores && esquema.Valores.length">
        <th>ID</th>
        <th>Nombre</th>
        <tbody>
          <tr v-for="(v, i) in esquema.Valores" :key="v">
            <td>{{ v }}</td>
            <td>{{ cuentaAlias(v) }}</td>
            <td>
              <b-button
                icon-left="close-circle"
                @click="quitarValor(i)"
              ></b-button>
            </td>
          </tr>
        </tbody>
      </tabla>
      <p v-else>No hay ningún valor permitido</p>
      <b-field>
        <b-select v-model="valorSeleccionado">
          <option value="" disabled>Seleccione</option>
          <option v-for="v in valores" :key="v.ID" :value="v.ID">
            {{ v.Nombre }}
          </option>
        </b-select>
      </b-field>
      <b-button @click="agregarValor()">Agregar</b-button>
    </div>

    <!-- CONDICIONES -->
    <div class="box" v-if="mostrarCondiciones">
      <h1>Condiciones de pago permitidas</h1>
      <tabla>
        <th>ID</th>
        <th>Nombre</th>
        <th></th>
        <tbody v-if="esquema.Condiciones">
          <tr v-for="(v, i) in esquema.Condiciones" :key="v">
            <td>{{ v }}</td>
            <td>{{ condicionNombre(v) }}</td>
            <td>
              <b-button
                icon-left="close-circle"
                @click="quitarCondicion(i)"
              ></b-button>
            </td>
          </tr>
        </tbody>
      </tabla>
      <!-- <p v-else>No hay ninguna condición permitida</p> -->
      <b-field>
        <b-select v-model="condicionSeleccionada">
          <option value="" disabled>Seleccione</option>
          <option v-for="v in condiciones" :key="v.ID" :value="v.ID">
            {{ v.Nombre }}
          </option>
        </b-select>
      </b-field>
      <b-button @click="agregarCondicion(condicionSeleccionada)"
        >Agregar</b-button
      >
    </div>

    <!-- DEPOSITOS -->
    <div class="box" v-if="mostrarDepositos">
      <h1>Depósitos permitidos</h1>
      <tabla v-if="esquema.Depositos && esquema.Depositos.length">
        <th>ID</th>
        <th>Nombre</th>
        <th></th>
        <tbody>
          <tr v-for="(v, i) in esquema.Depositos" :key="v">
            <td>{{ v }}</td>
            <td>{{ depositoNombre(v) }}</td>
            <td>
              <b-button
                icon-left="close-circle"
                @click="quitarDeposito(i)"
              ></b-button>
            </td>
          </tr>
        </tbody>
      </tabla>
      <p v-else>No hay ningun depósito permitido</p>
      <b-field>
        <b-select v-model="depositoSeleccionado">
          <option value="" disabled>Seleccione</option>
          <option v-for="v in depositos" :key="v.ID" :value="v.ID">
            {{ v.Nombre }}
          </option>
        </b-select>
      </b-field>
      <b-button @click="agregarDeposito(depositoSeleccionado)"
        >Agregar</b-button
      >
    </div>
    <!-- PARTIDAS DIRECTAS -->
    <div class="box" v-if="mostrarPartidasDirectas">
      <h1>Cuentas contables</h1>
      <tabla v-if="esquema.PartidasDirectasConfig">
        <th>Cuenta</th>
        <th>Conceptos</th>
        <th>Alicuotas</th>
        <th>Contracuenta</th>
        <tbody>
          <tr
            v-for="(v, i) in esquema.PartidasDirectasConfig"
            :key="i"
            @click="modificarCuentaPartidaDirecta(v, i)"
          >
            <td>{{ cuentaNombre(v.Cuenta) }}</td>
            <td>
              {{ conceptosToString(v.Conceptos) }}
            </td>
            <td>
              {{ alicuotasToString(v.Alicuotas) }}
            </td>
            <td>
              {{ cuentaNombre(v.ContraCuenta) }}
            </td>
          </tr>
        </tbody>
      </tabla>
      <p v-else>No hay ninguna cuenta permitida</p>
      <b-button @click="nuevaCuentaPartidaDirecta()">Agregar</b-button>
    </div>

    <div class="box">
      <h1>Notificaciones</h1>
      <b-field>
        <b-checkbox v-model="esquema.EnviarFacturasPorMail"
          >Enviar factura por mail automáticamente
        </b-checkbox>
      </b-field>
      <b-field>
        <b-checkbox v-model="esquema.EnviarRecibosPorMail"
          >Enviar recibo por mail automáticamente
        </b-checkbox>
      </b-field>
    </div>

    <div class="box">
      <h1>Permisos</h1>
      <tabla>
        <th>Usuario</th>
        <th>Grupo usuarios</th>
        <th>Crear</th>
        <th>Leer</th>
        <th>Modificar</th>
        <th>Eliminar</th>
        <tbody>
          <tr
            v-for="v in esquema.Permisos"
            :key="v.ID"
            @click="editarPermiso(v)"
          >
            <td>{{ v.Usuario }}</td>
            <td>{{ v.GrupoUsuarioNombre }}</td>
            <td>{{ v.Create | siNo }}</td>
            <td>{{ v.Read | siNo }}</td>
            <td>{{ v.Update | siNo }}</td>
            <td>{{ v.Delete | siNo }}</td>
          </tr>
        </tbody>
      </tabla>
      <b-button @click="crearPermiso()">Agregar</b-button>
    </div>

    <b-button class="is-primary" @click="guardar()">Guardar</b-button>
    <b-button class="is-danger" @click="eliminar()">Eliminar</b-button>
    <b-button class="btn-cancelar" @click="$router.go(-1)">Cancelar</b-button>
    <b-loading is-full-page :active="cargando != 0" />
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import axios from "axios";
import eventBus from "@/eventBus";
import { Config } from "@/modules/fact_config/interfaces";
import {
  Esquema,
  PartidaDirectaConfig,
} from "@/modules/fact_esquemas/interfaces";
import PartidaDirecta from "../components/PartidaDirecta.vue";
import { Cuenta } from "@/interfaces/cuentas";
import { Empresa } from "@/interfaces/empresas";
import { Comp } from "@/interfaces/comps";
import { Permiso } from "@/modules/fact_config/permiso";
import { Grupo } from "@/modules/usuarios/grupo";
import { Deposito } from "@/modules/depositos/deposito";
import { Condicion } from "@/modules/condiciones/condicion";
import PermisoModal from "@/modules/fact_config/components/PermisoModal.vue";
export default Vue.extend({
  // components: {
  //   PermisosFact
  // },
  data() {
    return {
      nuevo: true,
      esquema: {
        ID: null,
        Empresa: null,
        Config: null,
        Grupo: "",
        Comprobantes: {},
        CAE: "",
        Nombre: "",
        Detalle: "",
        Cajas: [],
        Valores: [],
        Depositos: [],
        Condiciones: [],
        PartidasDirectasConfig: [],
        EnviarFacturasPorMail: false,
        EnviarRecibosPorMail: false,
        Permisos: [],
      } as Esquema,
      config: null as null | Config,
      comprobantes: [] as Comp[],
      comprobantesReingreso: [] as Comp[],
      compsNecesarios: [
        { Nombre: "Factura", Tipo: "factura" },
        { Nombre: "Factura anulación", Tipo: "factura" },
        { Nombre: "Recibo", Tipo: "recibo" },
      ],
      gruposUsuarios: [] as Grupo[],
      localBus: new Vue(),
      cajaSeleccionada: "" as string,
      valorSeleccionado: "" as string,
      depositoSeleccionado: "" as string,
      condicionSeleccionada: "" as string,
      cargando: 0 as number,
    };
  },
  mounted() {
    document.title = "Esquema";
    if (this.$route.query.empresa) {
      this.esquema.Empresa = this.$route.query.empresa as string;
    }
    if (this.$route.query.config) {
      this.esquema.Config = this.$route.query.config as string;
    }
    this.fetchGruposUsuarios();
    this.hooks();
    if (!this.esNuevo) {
      this.actualizar();
    }
  },
  methods: {
    actualizar(): void {
      this.cargando++;
      axios
        .post("/backend/fact_esquemas/one", {
          ID: this.$route.query.id,
        })
        .then((res) => {
          this.esquema = res.data;
          if (this.esquema.Comprobantes == null) {
            this.esquema.Comprobantes = {};
          }
          this.filtrarLookups();
          this.llenarNombresGruposUsuarios();
          this.fetchPermisos();
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },
    filtrarLookups() {
      this.filtrarComprobantes();
    },
    filtrarComprobantes() {
      if (this.esquema.Empresa) {
        this.comprobantes = [];
        return;
      }
    },
    fetchComprobantes() {
      this.cargando++;
      axios
        .get("/backend/comprobantes", {
          params: { Empresa: this.esquema.Empresa },
        })
        .then((res) => {
          if (res.data) {
            res.data.sort((a: Comp, b: Comp) => {
              return new Intl.Collator("ar").compare(a.Nombre, b.Nombre);
            });
          }
          this.comprobantes = res.data;
        })
        .catch((err) => eventBus.$emit("error", err))
        .finally(() => this.cargando--);
    },
    fetchGruposUsuarios() {
      this.cargando++;
      axios
        .get("/backend/usuariosgrupos")
        .then((res) => {
          this.gruposUsuarios = res.data;
          this.llenarNombresGruposUsuarios();
        })
        .catch((err) => eventBus.$emit("error", err))
        .finally(() => this.cargando--);
    },
    llenarNombresGruposUsuarios() {
      for (let v of this.esquema.Permisos) {
        console.log("loopeando permiso", v);
        if (v.GrupoUsuario) {
          const found = this.gruposUsuarios.find((x) => x.ID == v.GrupoUsuario);
          console.log("buscando", v);
          if (found) {
            v.GrupoUsuarioNombre = found.Nombre;
          }
        }
      }
    },
    fetchComprobantesEmpresaReingreso() {
      if (!this.config?.ReingresoEmpresa) {
        return;
      }
      this.cargando++;
      axios
        .get("/backend/comprobantes", {
          params: {
            Empresa: this.config.ReingresoEmpresa,
          },
        })
        .then((res) => {
          if (res.data) {
            res.data.sort((a: Comp, b: Comp) => {
              return new Intl.Collator("ar").compare(a.Nombre, b.Nombre);
            });
          }
          this.comprobantesReingreso = res.data;
        })
        .catch((err) => eventBus.$emit("error", err))
        .finally(() => this.cargando--);
    },
    volver() {
      this.$router.go(-1);
    },
    guardar() {
      if (this.esNuevo) {
        this.cargando++;
        axios
          .post("/backend/fact_esquemas/create", this.esquema)
          .then(() => {
            this.volver();
          })
          .catch((err) => {
            eventBus.$emit("error", err);
          })
          .finally(() => this.cargando--);
      }
      if (!this.esNuevo) {
        this.cargando++;
        axios
          .post("/backend/fact_esquemas/update", this.esquema)
          .then(() => {
            this.volver();
          })
          .catch((err) => {
            eventBus.$emit("error", err);
          })
          .finally(() => this.cargando--);
      }
    },
    eliminar() {
      this.$buefy.dialog.confirm({
        message: "¿Está seguro que desea borrar el esquema?",
        confirmText: "Aceptar",
        cancelText: "Cancelar",
        type: "is-danger",
        hasIcon: true,
        onConfirm: () => {
          this.cargando++;
          axios
            .post("/backend/fact_esquemas/delete", {
              ID: this.esquema.ID,
            })
            .then(() => {
              this.$router.go(-1);
            })
            .catch((err) => {
              eventBus.$emit("error", err);
            })
            .finally(() => this.cargando--);
        },
      });
    },
    agregarCaja(id: string) {
      if (this.esquema.Cajas.includes(id)) {
        this.$buefy.dialog.alert({
          message: "El item ya se encontraba agregado",
          type: "is-danger",
          hasIcon: true,
        });
      } else {
        this.esquema.Cajas.push(id);
      }
    },
    quitarCaja(idx: number) {
      this.esquema.Cajas.splice(idx, 1);
    },
    agregarDeposito(id: string) {
      if (!this.esquema.Depositos) {
        this.esquema.Depositos = [];
      }
      if (this.esquema.Depositos.includes(id)) {
        this.$buefy.dialog.alert({
          message: "El item ya se encontraba agregado",
          type: "is-danger",
          hasIcon: true,
        });
      } else {
        this.esquema.Depositos.push(id);
      }
    },
    quitarDeposito(idx: number) {
      this.esquema.Depositos.splice(idx, 1);
    },
    depositoNombre(id: string): string {
      let v = this.$store.getters["depositos/porID"](id);
      if (!v) {
        return id;
      }
      return v.Nombre;
    },
    cajaNombre(id: string): string {
      let v = this.$store.getters["cajas/porID"](id);
      if (!v) {
        return id;
      }
      return v.Nombre;
    },
    condicionNombre(id: string): string {
      let v = this.$store.getters["condiciones/porID"](id);
      if (!v) {
        return id;
      }
      return v.Nombre;
    },
    agregarCondicion(id: string) {
      if (!this.esquema.Condiciones) {
        this.esquema.Condiciones = [];
      }
      if (this.esquema.Condiciones.includes(id)) {
        this.$buefy.dialog.alert({
          message: "El item ya se encontraba agregado",
          type: "is-danger",
          hasIcon: true,
        });
      } else {
        this.esquema.Condiciones.push(id);
      }
      console.log("agregando condicion", id);
    },
    quitarCondicion(idx: number) {
      this.esquema.Condiciones.splice(idx, 1);
    },
    cuentaAlias(id: string) {
      let v = this.$store.getters["cuentas/porID"](id);
      if (!v) {
        return id;
      }
      return v.Alias;
    },
    agregarValor() {
      if (!this.esquema.Valores) {
        this.esquema.Valores = [];
      }
      if (this.esquema.Valores.includes(this.valorSeleccionado)) {
        this.$buefy.dialog.alert({
          message: "El item ya se encontraba agregado",
          type: "is-danger",
          hasIcon: true,
          title: "Validación",
        });
      } else {
        this.esquema.Valores.push(this.valorSeleccionado);
      }
    },
    quitarValor(idx: number) {
      this.esquema.Valores.splice(idx, 1);
    },
    cuentaNombre(id: string | null) {
      if (id == null) {
        return id;
      }
      let v = this.$store.getters["cuentas/porID"](id);
      if (!v) {
        return id;
      }
      return v.Nombre;
    },
    nuevaCuentaPartidaDirecta() {
      this.$buefy.modal.open({
        parent: this,
        component: PartidaDirecta,
        hasModalCard: true,
        trapFocus: true,
        fullScreen: false,
        scroll: "clip",
        props: {
          bus: this.localBus,
          partida: null,
        },
      });
    },
    modificarCuentaPartidaDirecta(v: PartidaDirectaConfig, idx: number) {
      this.$buefy.modal.open({
        parent: this,
        component: PartidaDirecta,
        hasModalCard: true,
        trapFocus: true,
        fullScreen: false,
        scroll: "clip",
        props: {
          bus: this.localBus,
          partida: v,
          index: idx,
        },
      });
    },
    crearPermiso() {
      this.$buefy.modal.open({
        parent: this,
        component: PermisoModal,
        hasModalCard: true,
        trapFocus: true,
        fullScreen: false,
        scroll: "clip",
        props: {
          bus: this.localBus,
          config: this.esquema.Config,
          esquema: this.esquema.ID,
          empresa: this.esquema.Empresa,
        },
      });
    },
    editarPermiso(v: Permiso) {
      this.$buefy.modal.open({
        parent: this,
        component: PermisoModal,
        hasModalCard: true,
        trapFocus: true,
        fullScreen: false,
        scroll: "clip",
        props: {
          bus: this.localBus,
          permisoProp: v,
        },
      });
    },
    hooks() {
      this.localBus.$on("partidaDirectaCreada", (p: PartidaDirectaConfig) => {
        if (!this.esquema.PartidasDirectasConfig) {
          this.esquema.PartidasDirectasConfig = [];
        }
        this.esquema.PartidasDirectasConfig.push(p);
      });
      this.localBus.$on(
        "partidaDirectaModificada",
        (p: PartidaDirectaConfig, i: number) => {
          this.esquema.PartidasDirectasConfig.splice(i, 1, p);
        }
      );
      this.localBus.$on("partidaDirectaEliminada", (i: number) => {
        this.esquema.PartidasDirectasConfig.splice(i, 1);
      });
      this.localBus.$on("permisoCreado", () => {
        this.fetchPermisos();
      });
      this.localBus.$on("permisoModificado", () => {
        this.fetchPermisos();
      });
      this.localBus.$on("permisoEliminado", () => {
        this.fetchPermisos();
      });
    },
    fetchPermisos() {
      this.cargando++;
      axios
        .post("/backend/fact_permisos/por_esquema", {
          ID: this.$route.query.id,
        })
        .then((res) => {
          this.esquema.Permisos = res.data;
          this.llenarNombresGruposUsuarios();
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },
    nombreConcepto(id: string): string {
      let cto = this.$store.getters["iva/conceptoPorID"](id);
      if (!cto) {
        return String(id);
      }
      return cto.Nombre;
    },
    nombreAlicuota(id: string): string {
      let v = this.$store.getters["iva/alicuotaPorID"](id);
      if (!v) {
        return String(id);
      }
      return v.Nombre;
    },
    conceptosToString(items: string[]) {
      if (!items) {
        return "-";
      }
      if (!items.length) {
        return "-";
      }
      let out = "";
      for (let [i, v] of items.entries()) {
        out += this.nombreConcepto(v);
        if (i + 1 != items.length) {
          out += ", ";
        }
      }
      return out;
    },
    alicuotasToString(items: string[]) {
      if (!items) {
        return "-";
      }
      if (!items.length) {
        return "-";
      }
      let out = "";
      for (let [i, v] of items.entries()) {
        out += this.nombreAlicuota(v);
        if (i + 1 != items.length) {
          out += ", ";
        }
      }
      return out;
    },
  },

  computed: {
    comprobantesDiferimiento(): Comp[] {
      return this.comprobantes.filter((x) => x.Tipo == "diferimiento");
    },
    titulo(): string {
      if (this.esNuevo) {
        return "Nuevo esquema";
      } else {
        return "Modificar esquema";
      }
    },
    mostrarCAE(): boolean {
      if (!this.config) {
        return false;
      }
      if (!this.comprobantes) {
        return false;
      }
      let compFacturaID = this.esquema.Comprobantes["Factura"];
      let comp = this.comprobantes.find((x) => x.ID == compFacturaID);
      if (!comp) {
        return false;
      }
      if (comp.TipoEmision == "wsfev1") {
        return true;
      }
      return false;
    },
    // Pide todas las transacciones de la empresa
    configs(): Config[] {
      const cc = this.$store.getters["fact/porEmpresa"](this.esquema.Empresa);
      cc.sort((a: Config, b: Config) => {
        return new Intl.Collator("ar").compare(
          a.Grupo + a.Nombre,
          b.Grupo + b.Nombre
        );
      });
      return cc;
    },
    empresas(): Empresa[] {
      return this.$store.getters["empresas/permitidas"];
    },
    programas(): string[] {
      return this.$store.state.programas.array;
    },
    depositos(): Deposito[] {
      return this.$store.getters["depositos/todos"];
    },
    condiciones(): Condicion[] {
      return this.$store.getters["condiciones/todas"];
    },
    valores(): Cuenta[] {
      let vv: Cuenta[] = this.$store.getters["cuentas/valores"];
      return vv.sort((a: any, b: any) => {
        return new Intl.Collator("ar").compare(a["Nombre"], b["Nombre"]);
      });
    },
    esNuevo(): boolean {
      if ("id" in this.$route.query) {
        return false;
      }
      return true;
    },
    mostrarCajas(): boolean {
      if (!this.config) {
        return false;
      }
      if (this.config.PermiteValores || this.config.GeneraReingresoPago) {
        return true;
      }
      return false;
    },
    mostrarValores(): boolean {
      if (!this.config) {
        return false;
      }
      if (this.config.PermiteValores) {
        return true;
      }
      return false;
    },
    mostrarDepositos(): boolean {
      if (!this.config) {
        return false;
      }
      return this.config.MuestraDepositos;
    },
    mostrarCondiciones(): boolean {
      if (!this.config) {
        return false;
      }
      return this.config.CondicionPago != "Sin condición";
    },
    mostrarPartidasDirectas(): boolean {
      if (!this.config) {
        return false;
      }
      if (this.config.PermitePartidasDirectas) {
        return true;
      }
      return false;
    },
  },
  watch: {
    "esquema.Empresa"() {
      this.filtrarComprobantes();
    },
    "esquema.Config"() {
      if (!this.esquema.Config) {
        this.config = null;
        return;
      }
      this.config = this.$store.getters["fact/porID"](this.esquema.Config);
      this.fetchComprobantes();
      this.fetchComprobantesEmpresaReingreso();
    },
  },
});
</script>
<style lang="scss" scoped>
div.flex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
div.item {
  margin-right: 10px;
}
</style>
