<template>
  <div id="wrapper">
    <div class="titulo-de-pantalla">
      <h1>Esquemas</h1>
      <puntitos :size="35">
        <ul>
          <li @click="$router.push({ name: 'esquema' })">Nuevo esquema</li>
        </ul>
      </puntitos>
    </div>
    <div class="box">
      <h1>Filtros</h1>
      <div class="columns">
        <div class="column">
          <b-field label="Empresa">
            <b-select v-model="empresa" @input="actualizar()" expanded>
              <option :value="null">Todas</option>
              <option v-for="v in empresas" :value="v.ID" v-bind:key="v.ID">
                {{ v.Nombre }}
              </option>
            </b-select>
          </b-field>
        </div>

        <div class="column">
          <b-field label="Tipo">
            <b-select v-model="tipo" @input="actualizar()" expanded>
              <option :value="null">Todos</option>
              <option v-for="v in tipos" :value="v.ID" v-bind:key="v.ID">
                {{ v.Nombre }}
              </option>
            </b-select>
          </b-field>
        </div>

        <div class="column">
          <b-field label="Transacción">
            <b-select v-model="config" @input="actualizar()" expanded>
              <option :value="null">Todas</option>
              <option v-for="v in configs" :value="v.ID" v-bind:key="v.ID">
                {{ v.Nombre }}
              </option>
            </b-select>
          </b-field>
        </div>
      </div>
    </div>
    <tabla v-if="esquemas.length" expanded>
      <thead>
        <tr>
          <th>Empresa</th>
          <th>Tipo de transacción</th>
          <th>Nombre de transacción</th>
          <th>Nombre esquema</th>
          <th>Detalle</th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="v in esquemas"
          :key="v.ID"
          class="link"
          @click="profundizar(v.ID)"
        >
          <td>{{ nombreEmpresa(v.Empresa) }}</td>
          <td>
            {{ nombreConfig(v.ID) }}
          </td>
          <td>
            {{ nombreEsquema(v.ID) }}
          </td>
          <td>{{ v.Nombre }}</td>
          <td>{{ v.Detalle }}</td>
        </tr>
      </tbody>
    </tabla>
    <p v-else>No se encontró ningún resultado</p>
    <b-loading is-full-page :active="cargando != 0" />
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import axios from "axios";
import eventBus from "@/eventBus";
import Puntitos from "@/components/widgets/Puntitos.vue";
import { Config, GrupoConfig, Tipo } from "@/modules/fact_config/interfaces";
import { Esquema } from "@/modules/fact_esquemas/interfaces";
import { Empresa } from "@/interfaces/empresas";
import { updateQuery } from "@/modules/routeUtil";
export default Vue.extend({
  data() {
    return {
      esquemas: [] as Esquema[],
      grupo: null,
      empresa: null as string | null,
      tipo: null as string | null,
      config: null as string | null,

      cargando: 0 as number,
    };
  },
  components: {
    Puntitos,
  },
  created() {
    document.title = "Esquemas";
    if (this.$route.query.empresa) {
      this.empresa = this.$route.query.empresa as string;
    } else {
      this.empresa = this.$store.state.empresas.seleccionada;
    }
    if (this.$route.query.tipo) {
      this.tipo = this.$route.query.tipo as string;
    }
    if (this.$route.query.config) {
      this.config = this.$route.query.config as string;
    }

    // Pongo la seleccionada por contexto
    this.actualizar();
  },
  methods: {
    actualizar(): void {
      this.cargando++;
      axios
        .post("/backend/fact_esquemas/many", {
          Empresa: this.empresa,
          Tipo: this.tipo,
          Config: this.config,
        })
        .then((res) => {
          this.esquemas = res.data;
        })
        .catch((err) => eventBus.$emit("error", err))
        .finally(() => this.cargando--);
    },
    profundizar(id: string): void {
      updateQuery(
        { empresa: this.empresa, tipo: this.tipo, config: this.config },
        this
      );
      this.$router.push({
        name: "esquema",
        query: { id: id },
      });
    },
    nombreEmpresa(id: string): string {
      let empresa = this.$store.getters["empresas/porID"](id);
      if (!empresa) {
        return "N/D";
      }
      return empresa.Nombre;
    },
    nombreConfig(id: string): string {
      let v = this.$store.getters["fact/transaccionTipo"](id);
      if (!v) {
        return "N/D";
      }
      return v.Nombre;
    },
    nombreEsquema(id: string): string {
      let v = this.$store.getters["fact/porID"](id);
      if (!v) {
        return "N/D";
      }
      return v.Nombre;
    },
  },
  computed: {
    empresas(): Empresa[] {
      return this.$store.getters["empresas/permitidas"];
    },
    grupos(): GrupoConfig[] {
      return this.$store.getters["fact/grupos"];
    },
    tipos(): Tipo[] {
      return this.$store.getters["fact/tipos"];
    },
    configs(): Config[] {
      return this.$store.state.fact.configs;
    },
  },
});
</script>
<style lang="scss" scoped>
div#wrapper {
  max-width: 1000px;
  margin: auto;
}
div.flex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  div.field {
    margin-right: 10px;
  }
}
</style>
