<template>
  <div>
    <div class="isla">
      <h1>Subir Excel de movimientos</h1>
      <p>Elija el archivo excel</p>
      <input type="file" id="bco" ref="archivo" />

      <button v-on:click="submit()" class="btn btn-primary">Subir</button>
      <p>{{ avance }}</p>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import eventBus from "@/eventBus.ts";
export default {
  data() {
    return {
      archivo: "",
      avance: ""
    };
  },
  methods: {
    submit() {
      this.avance = "Subiendo archivo...";
      let formData = new FormData();
      formData.append("archivo", this.$refs.archivo.files[0]);
      axios
        .post("/backend/finanzas/subir_archivo", formData, {
          headers: { "Content-Type": "multipart/form-data" }
        })
        .then(res => {
          this.avance = "Archivo subido correctamente";
        })
        .catch(err => {
          this.avance = "Error al subir archivo: " + err.response.data;
          eventBus.$emit("error", err);
        });
    }
  }
};
</script>
<style lang="scss" scoped>
div div.isla {
  margin: 30px;
  background-color: #d1d1d1;
  opacity: 40%;
  border-radius: 25px;
  max-width: 600px;
  max-height: 600px;
  padding: 60px;
  border: none;
  -webkit-box-shadow: 13px 10px 90px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 13px 10px 90px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 13px 10px 90px 4px rgba(0, 0, 0, 0.3);

  padding: 20px;
  max-width: 500px;
}
h2 {
  margin-bottom: 15px;
}
input {
  padding-left: 50px;
  padding-top: 20px;
}
button {
  margin-left: 450px;
}
</style>
