<template>
  <div>
    <h1 class="title">{{ titulo }}</h1>

    <b-field label="Empresa" horizontal>
      <b-select v-model="cert.Empresa" :disabled="!esNuevo">
        <option :value="null">Todas</option>
        <option v-for="v in empresas" :value="v.ID" :key="v.ID">{{
          v.Nombre
        }}</option>
      </b-select>
    </b-field>

    <div v-if="!esNuevo">
      <b-field label="Alias" horizontal>
        <span>{{ cert.Alias }}</span>
      </b-field>
      <b-field label="Desde" horizontal>
        <span>{{ cert.Desde | enFechaHora }}</span>
      </b-field>
      <b-field label="Hasta" horizontal>
        <span>{{ cert.Hasta | enFechaHora }}</span>
      </b-field>

      <b-button class="is-danger" @click="eliminar()">Eliminar</b-button>
    </div>

    <div v-if="esNuevo">
      <ol>
        <li>
          Descargue la solicitud de certificado (Certificate Signing Request,
          CSR) haciendo click
          <b-button @click="solicitarCSR()">Aquí</b-button>
        </li>
        <li>
          Luego ingrese en AFIP, con clave fiscal, en el servicio "Admnistración
          de Certificados Digitales"
        </li>
        <li>Haga click en "Agregar alias" e ingrese "CrossLogic"</li>
        <li>Haga click en "Detalles"</li>
        <li>Descargue el certificado</li>
        <li>Ingrese el certificado descargado aquí</li>
      </ol>
      <b-upload v-model="certFile" class="file-label">
        <span class="file-cta">
          <b-icon icon="upload"></b-icon>
          <!-- <span v-if="">Seleccione</span> -->
          <span v-if="certFile">
            {{ certFile.name || "Seleccione" }}
          </span>
        </span>
      </b-upload>
      <b-field label="Alias usado en AFIP" horizontal>
        <b-input v-model="cert.Alias"></b-input>
      </b-field>
      <b-loading
        is-full-page
        :active.sync="cargando"
        :can-cancel="true"
      ></b-loading>
      <div>
        <b-button @click="subir">Subir certificado</b-button>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import axios from "axios";
import { Empresa } from "@/interfaces/empresas";
import eventBus from "@/eventBus";
export default Vue.extend({
  data() {
    return {
      cert: {
        ID: "",
        Empresa: null,
        Alias: "",
        Desde: "",
        Hasta: ""
      },
      certFile: null as Blob | null,
      deVuelta: "",
      cargando: false
    };
  },
  created() {
	document.title = "Certificado AFIP"
    if (!this.esNuevo) {
      this.actualizar();
    }
  },
  methods: {
    actualizar() {
      this.cargando = true;
      axios
        .post("/backend/afip/certificado", { ID: this.$route.query.id })
        .then(res => {
          this.cert = res.data;
        })
        .catch(err => {
          eventBus.$emit("error", err);
        })
				.finally(() => this.cargando = false);
    },
    eliminar() {
      this.$buefy.dialog.confirm({
        message: "¿Está seguro que desea borrar este certificado?",
        confirmText: "Borrar certificado",
        type: "is-danger",
        hasIcon: true,
        onConfirm: () => {
          axios
            .post("/backend/afip/delete_certificado", {
              ID: this.cert.ID
            })
            .then(() => {
              this.$router.go(-1);
            })
            .catch(err => {
              eventBus.$emit("error", err);
            });
        }
      });
    },
    subir() {
      if (!this.certFile) {
        return;
      }
      this.cargando = true;
      let reader = new FileReader();
      reader.onloadend = () => {
        let enBase64 = this.arrayBufferToBase64(
          reader.result as ArrayBuffer | null
        );
        this.deVuelta = atob(enBase64);
        // this.deVuelta = atob(this.enB64);
        axios
          .post("/backend/afip/subir_certificado", {
            Empresa: this.cert.Empresa,
            Alias: this.cert.Alias,
            CertificadoBase64: enBase64
          })
          .then(() => {
            this.$router.go(-1);
          })
          .catch(err => {
            eventBus.$emit("error", err);
          })
					.finally(() => this.cargando = false);
				;
      };
      reader.readAsArrayBuffer(this.certFile);
    },
    arrayBufferToBase64(buffer: ArrayBuffer | null): string {
      if (!buffer) {
        return "";
      }
      var binary = "";
      var bytes = new Uint8Array(buffer);
      var len = bytes.byteLength;
      for (var i = 0; i < len; i++) {
        binary += String.fromCharCode(bytes[i]);
      }
      return btoa(binary);
    },
    solicitarCSR() {
      this.cargando = true;
      axios({
        url: "/backend/afip/solicitar_csr",
        method: "POST",
        responseType: "blob",
        data: {
          Empresa: this.cert.Empresa
        }
      }).then(res => {
          var fileURL = window.URL.createObjectURL(new Blob([res.data]));
          var fileLink = document.createElement("a");
          fileLink.href = fileURL;
          fileLink.setAttribute("download", "Solicitud de certificado.csr");
          document.body.appendChild(fileLink);
          fileLink.click();
        })
        .catch(err => {
					console.log('entrando en catch', err)
          eventBus.$emit("error", err);
        })
				.finally(() => this.cargando = false);
    },
    nuevo() {}
  },
  computed: {
    esNuevo(): boolean {
      if (!this.$route.query.id) {
        return true;
      }
      return false;
    },
    titulo(): string {
      if (this.esNuevo) {
        return "Nuevo certificado";
      }
      return "Certificado";
    },
    empresas(): Empresa[] {
      return this.$store.getters["empresas/permitidas"];
    }
  }
});
</script>
