<template>
  <div>
    <h1 class="title">Certificados</h1>

    <tabla>
      <thead>
        <th>Empresa</th>
        <th>Alias</th>
        <th>Válido desde</th>
        <th>Válido hasta</th>
      </thead>
      <tbody>
        <tr
          v-for="v in cc"
          clas="link"
          @click="
            $router.push({ name: 'afipCertificado', query: { id: v.ID } })
          "
        >
          <td>{{ empresaNombre(v.Empresa) }}</td>
          <td>{{ v.Alias }}</td>
          <td>{{ v.Desde | enFechaHora }}</td>
          <td>{{ v.Hasta | enFechaHora }}</td>
        </tr>
      </tbody>
    </tabla>

    <b-button @click="nuevo()">Nuevo</b-button>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import axios from "axios";
import eventBus from "@/eventBus";
export default Vue.extend({
  data() {
    return {
      cc: []
    };
  },
  created() {
	document.title = "Certificados AFIP"
    this.actualizar();
  },
  methods: {
    actualizar() {
      axios
        .post("/backend/afip/certificados")
        .then(res => {
          this.cc = res.data;
        })
        .catch(err => {
          eventBus.$emit("error", err);
        });
    },
    nuevo() {
      this.$router.push({ name: "afipCertificado" });
    },
    empresaNombre(id: string): string {
      let emp = this.$store.getters["empresas/porID"](id);
      if (!emp) {
        return id;
      }
      return emp.Nombre;
    }
  }
});
</script>
