<template>
  <div>
    <h1 class="title">Comprobantes pendientes de autorizar en AFIP</h1>

    <div class="box">
      <b-field label="Empresa">
        <b-select v-model="empresa">
          <option :value="null" disabled>Seleccione</option>
          <option v-for="v in empresas" :value="v.ID" :key="v.ID">
            {{ v.Nombre }}
          </option>
        </b-select>
      </b-field>
      <b-field>
        <b-field label="Desde">
          <b-input v-model="desde" type="date" custom-class="fch" />
        </b-field>
        <b-field label="Hasta">
          <b-input v-model="hasta" type="date" custom-class="fch" />
        </b-field>
      </b-field>
      <b-button @click="actualizar()" class="is-primary">Actualizar</b-button>
    </div>
    <tabla>
      <thead>
        <th>Fecha</th>
        <th>Nombre</th>
        <th>Número</th>
        <th>Persona</th>
        <th>Monto</th>
        <th>Días</th>
        <th>¿Autorizar?</th>
      </thead>
      <tbody>
        <tr v-for="v in cc" clas="link" @click="profundizar(v)">
          <td>{{ v.Fecha | enFecha }}</td>
          <td>{{ v.CompNombre }}</td>
          <td>{{ v.NCompStr }}</td>
          <td>{{ v.Persona }}</td>
          <td align="right">{{ v.Total | enPesos }}</td>
          <td>{{ dias(v) }}</td>
          <td><b-checkbox v-model="v.Tildado"></b-checkbox></td>
        </tr>
      </tbody>
    </tabla>
    <b-loading is-full-page :active.sync="cargando"></b-loading>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import axios from "axios";
import eventBus from "@/eventBus";
import { Empresa } from "@/interfaces/empresas";
import { newDate } from "@/modules/util/fechas";
import { updateQuery } from "@/modules/routeUtil";
import {
  startOfMonth,
  subMonths,
  startOfDay,
  startOfToday,
  format,
  differenceInCalendarDays,
} from "date-fns";

interface query {
  empresa?: string | null;
  desde?: string | null;
  hasta?: string | null;
}
export default Vue.extend({
  data() {
    return {
      cc: [] as any[],
      empresa: null as string | null,
      desde: format(
        startOfMonth(subMonths(startOfToday(), 1)),
        "yyyy-MM-dd"
      ) as string | null,
      hasta: null as string | null,
      cargando: 0 as number,
    };
  },
  created() {
    document.title = "Comprobantes a Autorizar";
    const q = this.$route.query as query;
    if (q.empresa != undefined) {
      this.empresa = q.empresa;
    } else {
      let emp = this.$store.getters["empresas/seleccionada"];
      if (emp) {
        this.empresa = emp.ID;
      }
    }

    if (q.desde != undefined) {
      this.desde = q.desde;
    }
    if (q.hasta != undefined) {
      this.hasta = q.hasta;
    }

    if (this.$route.query) {
      this.actualizar();
    }
  },
  methods: {
    actualizar() {
      this.cargando++;
      axios
        .post("/backend/afip/comprobantes_a_autorizar", {
          Empresa: this.empresa,
          Desde: this.desde,
          Hasta: this.hasta,
        })
        .then((res) => {
          if (!res.data) {
            this.cc = [];
            return;
          }
          for (let v of res.data) {
            v.Tildado = true;
          }
          this.cc = res.data;
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },
    profundizar(v: any) {
      const q: query = {
        empresa: this.empresa,
        desde: this.desde,
        hasta: this.hasta,
      };
      updateQuery(q, this);
      this.$router.push({ name: "mostrarComprobante", query: { op: v.ID } });
    },
    nuevo() {
      this.$router.push({ name: "afipCertificado" });
    },
    empresaNombre(id: string): string {
      let emp = this.$store.getters["empresas/porID"](id);
      if (!emp) {
        return id;
      }
      return emp.Nombre;
    },
    dias(v: any): number {
      console.log(startOfToday());
      console.log(startOfDay(newDate(v.Fecha)));
      return differenceInCalendarDays(
        startOfToday(),
        startOfDay(newDate(v.Fecha))
      );
    },
    autorizar() {
      let ids = [];
      for (let v of this.cc) {
        if (v.Tildado) {
          ids.push(v.ID);
        }
      }
      axios.post("autorizar");
    },
  },
  computed: {
    empresas(): Empresa[] {
      return this.$store.getters["empresas/permitidas"];
    },
  },
});
</script>
