<template>
  <div class="modal-card">
    <header class="modal-card-head">
      <h1 class="modal-card-title">Consulta CAE</h1>
    </header>
    <div class="modal-card-body">
      <div v-if="hayErrores">
        <h2 class="subtitle">Errores devueltos por AFIP:</h2>
        <ul>
          <li
            v-for="v in consulta.Body.FECompConsultarResponse
              .FECompConsultarResult.Errors"
            :key="v.Code"
          >
            {{ v.Msg }} ({{ v.Code }})
          </li>
        </ul>
      </div>

      <div v-if="hayEventos">
        <h2 class="subtitle">Eventos devueltos por AFIP:</h2>
        <ul>
          <li
            v-for="v in consulta.Body.FECompConsultarResponse
              .FECompConsultarResult.Events"
            :key="v.Code"
          >
            {{ v.Msg }} ({{ v.Code }})
          </li>
        </ul>
      </div>
      <tabla v-if="!hayErrores">
        <tbody>
          <tr v-for="v in keys" :key="v">
            <td>{{ v }}</td>
            <td>
              {{
                consulta.Body.FECompConsultarResponse.FECompConsultarResult
                  .ResultGet[v]
              }}
            </td>
          </tr>
        </tbody>
      </tabla>
    </div>

    <footer class="modal-card-foot">
      <b-button class="is-primary" v-if="mostrarRegrabar" @click="regrabarCAE()"
        >Regrabar CAE</b-button
      >
      <b-button class="is-primary" @click="cerrar()">Cerrar</b-button>
    </footer>
  </div>
</template>

<script lang="ts">
import axios from "axios";
import eventBus from "@/eventBus";
import { Op } from "@/modules/ops/interfaces";
import Vue from "vue";

export default Vue.extend({
  props: {
    consulta: {
      required: true,
      type: Object,
    },
    op: {
      required: false,
      type: Object as () => Op,
    },
  },
  methods: {
    cerrar() {
      (this.$parent as any).close();
    },
    regrabarCAE() {
      axios
        .post("/backend/afip/regrabar_cae", { OpID: this.op.ID })
        .then(() => {
          (this.$parent as any).close();
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        });
    },
  },
  computed: {
    keys(): string[] {
      return Object.keys(
        this.consulta.Body.FECompConsultarResponse.FECompConsultarResult
          .ResultGet
      );
    },
    hayErrores(): boolean {
      let e =
        this.consulta.Body.FECompConsultarResponse.FECompConsultarResult.Errors;
      if (!e) {
        return false;
      }
      if (e.length) {
        return true;
      }
      return false;
    },
    hayEventos(): boolean {
      let ev =
        this.consulta.Body.FECompConsultarResponse.FECompConsultarResult.Events;
      if (!ev) {
        return false;
      }
      if (ev.length) {
        return true;
      }
      return false;
    },
    mostrarRegrabar(): boolean {
      if (!this.op) {
        return false;
      }
      if (!this.op.CAE && this.consulta) {
        return true;
      }
      return false;
    },
  },
});
</script>
