<template>
  <div v-loading="cargando != 0">
    <h1 class="title">Control Mis Comprobantes</h1>
    <div class="box">
      <b-field label="Empresa">
        <b-select v-model="empresa" expanded>
          <option v-for="v in empresas" :value="v.ID" v-bind:key="v.ID">
            {{ v.Nombre }}
          </option>
        </b-select>
      </b-field>

      <b-field label="Servicio">
        <b-select v-model="servicio" expanded>
          <option value="mis_comprobantes">Mis comprobantes</option>
          <option value="comparar_iva_compras">Portal IVA / IVA Compras</option>
        </b-select>
      </b-field>
      <b-field label="Mes" v-if="servicio=='comparar_iva_compras'">
        <b-input type="month" v-model="mes"></b-input>
      </b-field>

      <h2 class="subtitle">Archivo CSV</h2>
      <b-field class="file">
        <b-upload v-model="archivo">
          <span class="button is-primary is-fullwidth">
            <b-icon icon="upload"></b-icon>
            <span>{{ "Seleccione" }}</span>
          </span>
          <span class="file-name" v-if="archivo && archivo.name" expanded>
            {{ archivo.name }}
          </span>
        </b-upload>
      </b-field>
      <b-button class="is-info" @click="comparar()">Procesar</b-button>
    </div>

    <div v-if="rows">
      <h1 v-if="c" class="title">Período {{ c.Periodo }}</h1>
      <table class="table is-bordered">
        <thead>
          <th align="center">Nombre</th>
          <th align="center">CUIT</th>
          <th align="center">Faltan contabilizar</th>
          <th align="center">No están en AFIP</th>
        </thead>
        <tbody>
          <tr v-for="v in rows" :key="v.cuit">
            <td class="nombre">{{ v.nombre }}</td>
            <td>{{ v.cuit }}</td>
            <td>
              <table class="is-narrow inner">
                <tr v-for="c in v.faltanContabilizar">
                  <td class="fecha">{{ c.Fecha | enFecha }}</td>
                  <td class="tipo-comp" align="center">{{ c.Tipo }}</td>
                  <td class="ncomp" align="right">
                    {{ ponerCeros(c.PuntoDeVenta, 4) }}-{{
                      ponerCeros(c.NumeroDesde, 8)
                    }}
                  </td>
                  <td align="right">$ {{ c.Total | enPesos }}</td>
                </tr>
              </table>
            </td>
            <td>
              <table class="is-narrow inner">
                <tr v-for="c in v.faltanEnAFIP">
                  <td class="fecha">{{ c.Fecha | enFecha }}</td>
                  <td class="tipo-comp" align="center">{{ c.TipoComp }}</td>
                  <td class="ncomp" align="right">
                    {{ ponerCeros(c.PuntoVenta, 4) }}-{{
                      ponerCeros(c.NComp, 8)
                    }}
                  </td>
                  <td align="right">$ {{ c.Total | enPesos }}</td>
                </tr>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import axios from "axios";
import eventBus from "@/eventBus";
import { Comparacion, Propio, Recibido } from "./misComprobantes";
import { Empresa } from "@/interfaces/empresas";
export default Vue.extend({
  created() {
    if (this.$store.state.empresas.seleccionada) {
      this.empresa = this.$store.state.empresas.seleccionada;
    }
    document.title = "Mis comprobantes";
  },
  data() {
    return {
      empresa: null,
      archivo: null as Blob | null,
	  mes: null as string | null,
      servicio: "mis_comprobantes" as string,
      c: null as Comparacion | null,
      rows: null as any,

      cargando: 0 as number,
    };
  },
  methods: {
    comparar() {
      let reader = new FileReader();

      reader.onloadend = () => {
        let base64String = "";
        if (reader.result) {
          base64String = (reader.result as string)
            .replace("data:", "")
            .replace(/^.+,/, "");
        }
        this.cargando++;
        let path = "/backend/afip/" + this.servicio;
        axios
          .post(path, {
            Empresa: this.empresa,
            Archivo: base64String,
			Mes: this.mes,
          })
          .then((res) => {
            this.c = res.data;
            this.juntar();
          })
          .catch((err) => {
            eventBus.$emit("error", err);
          })
          .finally(() => this.cargando--);
      };
      if (this.archivo) {
        reader.readAsDataURL(this.archivo);
      }
    },
    juntar() {
      if (!this.c) {
        return;
      }
      interface renglon {
        cuit: number;
        nombre: string;
        faltanContabilizar: Recibido[];
        faltanEnAFIP: Propio[];
      }
      // Personas nombres
      const personas = new Map<number, string>();
      const rows = new Map<number, renglon>();
      for (let v of this.c.FaltanEnAFIP) {
        personas.set(v.CUIT, v.Denominacion);
      }
      for (let v of this.c.FaltanContabilizar) {
        personas.set(v.NumeroEmisor, v.Denominacion);
      }

      for (let v of this.c.FaltanEnAFIP) {
        let row = rows.get(v.CUIT);
        if (!row) {
          row = {
            cuit: v.CUIT,
            nombre: "",
            faltanContabilizar: [],
            faltanEnAFIP: [],
          } as renglon;
        }
        row.faltanEnAFIP.push(v);
        rows.set(v.CUIT, row);
      }
      for (let v of this.c.FaltanContabilizar) {
        let row = rows.get(v.NumeroEmisor);
        if (!row) {
          row = {
            cuit: v.NumeroEmisor,
            nombre: "",
            faltanContabilizar: [],
            faltanEnAFIP: [],
          } as renglon;
        }
        row.faltanContabilizar.push(v);
        rows.set(v.NumeroEmisor, row);
      }
      const out = Array.from(rows.values());
      for (let v of out) {
        const n = personas.get(v.cuit);
        if (n) {
          v.nombre = n;
        }
        v.faltanContabilizar.sort((a, b) => {
          if (a.Fecha < b.Fecha) return -1;
          if (a.Fecha > b.Fecha) return 1;
          return (
            a.Tipo - b.Tipo ||
            a.PuntoDeVenta - b.PuntoDeVenta ||
            a.NumeroDesde - b.NumeroDesde
          );
        });
        v.faltanEnAFIP.sort((a, b) => {
          return new Intl.Collator("ar").compare(a.Fecha, b.Fecha);
        });
      }
      out.sort((a, b) => {
        return new Intl.Collator("ar").compare(a.nombre, b.nombre);
      });
      this.rows = out;
    },
    ponerCeros(n: number, largo: number): string {
      let str = String(n);
      if (str.length >= largo) {
        return str;
      }
      const agregar = largo - str.length;
      for (let i = 0; i < agregar; i++) {
        str = "0" + str;
      }
      return str;
    },
  },
  computed: {
    empresas(): Empresa[] {
      return this.$store.getters["empresas/permitidas"];
    },
  },
});
</script>

<style lang="scss" scoped>
div.flex {
  display: flex;
  justify-content: space-between;
}
table td {
  padding: 3px 5px;
}
table.nombre {
  max-width: 10em;
}
table.inner {
  position: relative;
  width: 100%;
  td {
    padding: 2px 2px 2px 2px;
    border: none;
    &.fecha {
      width: 4em;
    }
    &.tipo-comp {
      font-weight: bolder;
      width: 1.5em;
    }
    &.ncomp {
      width: 8em;
    }
  }
  border: none;
}
</style>
