<template>
  <div>
    <h1 class="title">Tickets web services AFIP</h1>
    <div class="box">
      <h2 class="subtitle">Factura electrónica (WSFE)</h2>
      <tabla>
        <thead>
          <th>Empresa</th>
          <th>CUIT</th>
          <th>Entorno</th>
          <th>Expiración</th>
          <th></th>
        </thead>
        <tbody>
          <tr v-for="(v, i) in tt" :key="i">
            <td>{{ v.EmpresaNombre }}</td>
            <td>{{ v.CUIT }}</td>
            <td>{{ v.Entorno }}</td>
            <td>
              <span v-if="v.Found">{{ v.Expiracion | enFechaHora }}</span>
            </td>
						<td>
							<b-input v-model="v.Servicio">
								<option value="wsfe">Factura electrónica</option>
								<option value="ws_sr_constancia_inscripcion">Constancia inscripción</option>
						</b-input>
						</td>
            <td>
              <b-button
                class="primary"
                v-if="!v.Found"
                @click="solicitar(v.EmpresaID, 'wsfe')"
                >Solicitar</b-button
              >
              <b-icon icon="check-circle" type="is-success" v-else></b-icon>
            </td>
          </tr>
        </tbody>
      </tabla>
    </div>
    <b-loading
      is-full-page
      :active.sync="cargando"
      :can-cancel="true"
    ></b-loading>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import axios from "axios";
import eventBus from "@/eventBus";
export default Vue.extend({
  data() {
    return {
      tt: [],
      cargando: false
    };
  },
  created() {
    this.actualizar();
  },
  methods: {
    actualizar() {
      this.cargando = true;
      axios
        .post("/backend/afip/tickets")
        .then(res => {
          this.tt = res.data;
          this.cargando = false;
        })
        .catch(err => {
          eventBus.$emit("error", err);
          this.cargando = false;
        });
    },
    solicitar(empresaID: string, servicio: string) {
      this.cargando = true;
      axios
        .post("/backend/afip/solicitar_ticket_acceso", { Empresa: empresaID, Servicio: servicio })
        .then(res => {
          this.tt = res.data;
          this.cargando = false;
        })
        .catch(err => {
          eventBus.$emit("error", err);
          this.cargando = false;
        });
    }
  }
});
</script>
