<template>
  <div class="container">
		<h1 class="title">Movimientos de producto</h1>

    <div class="box">

			<b-field label="Empresa" horizontal>
				<b-select v-model="empresa">
					<option :value="null">Todas</option>
					<option v-for="e in empresas" :value="e.ID" :key="e.ID">
						{{ e.Nombre }}
					</option>
				</b-select>
			</b-field>
			<b-field label="Tipo" horizontal>
				<b-select v-model="grupoCuentas">
					<option v-for="v in gruposCuentas" :value="v.ID" :key="v.ID">{{v.Nombre}}</option>
				</b-select>
			</b-field>

			<b-field label="Depósito" horizontal>
				<b-select v-model="deposito">
					<option :value="null">Todos</option>
					<option v-for="v in depositos" :value="v.ID" :key="v.ID">{{v.Nombre}}</option>
				</b-select>
			</b-field>
			<b-field label="Desde" custom-class="fch" horizontal>
				<b-input type="date" v-model="desde" />
			</b-field>

			<b-field label="Hasta" custom-class="fch" horizontal>
				<b-input type="date" v-model="hasta" />
			</b-field>

    <b-button class="is-info" @click="actualizar()">Buscar</b-button>
    </div>
		
		<h1 class="title">{{skuData.Nombre}}</h1>
		<h1 class="subtitle">{{skuData.CodigoAlfanumerico}}</h1>

    <tabla v-if="hayPartidas">
      <thead>
        <tr>
          <th rowspan="2">Fecha</th>
          <th rowspan="2">Comprobante</th>
          <th rowspan="2">N Comp</th>
          <th colspan="3" align="center">Unidades</th>
          <th colspan="3" align="center">Pesos</th>
          <th rowspan="2">Detalle</th>
        </tr>
        <tr>
          <th>Debe</th>
          <th>Haber</th>
          <th>Saldo</th>
          <th>Debe</th>
          <th>Haber</th>
          <th>Saldo</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td align="right">Saldo anterior</td>
          <td></td>
          <td></td>
          <td align="right">{{ mayor.SaldoInicio | enPesos }}</td>
          <td></td>
          <td></td>
          <td align="right">{{ mayor.SaldoInicioMonto | enPesos }}</td>
          <td ></td>
        </tr>
        <tr v-for="p in mayor.Partidas" v-bind:key="p.ID">
          <td>{{ p.Fecha | enFecha }}</td>
          <td>{{ p.CompNombre }}</td>
          <td> 
									<router-link
										:to="{
											name: 'mostrarComprobante',
											query: {
												partida: p.ID,
											},
										}"
										target="_blank"
										rel="noreferrer noopener"
									>
										{{ p.NCompStr }}
									</router-link>
          <td align="right">{{ p.Cantidad | debe }}</td>
          <td align="right">{{ p.Cantidad | haber }}</td>
          <td align="right">{{ p.SaldoCantidad | enPesos }}</td>

          <td align="right">{{ p.Monto | debe }}</td>
          <td align="right">{{ p.Monto | haber }}</td>
          <td align="right">{{ p.SaldoMonto | enPesos }}</td>
          <td>{{ p.Detalle }}</td>
        </tr>
      </tbody>
      <tfoot>
        <td></td>
        <td></td>
        <td align="right">Totales</td>
        <td></td>
        <td></td>
        <td align="right">{{ mayor.SaldoFinal | enPesos }}</td>
        <td></td>
        <td></td>
        <td align="right">{{ mayor.SaldoFinalMonto | enPesos }}</td>
        <td></td>
      </tfoot>
    </tabla>

    <b-loading
      is-full-page
      :active="cargando != 0"
      :can-cancel="true"
    ></b-loading>
  </div>
</template>

<script lang="ts">
import axios from "axios";
import Vue from "vue";
import eventBus from "@/eventBus";
import { Empresa } from "@/interfaces/empresas";
import { Deposito } from "@/modules/depositos/deposito";
import { Grupo as GrupoCuentas } from "@/interfaces/cuentas";
import { SKU } from "@/components/productos/productos"
import { format, startOfMonth, subMonths } from "date-fns";
import { hoy } from "@/modules/util/fechas";
export default Vue.extend({
  data() {
    return {
      empresa: null as string | null,
			deposito: null as string |null,

			grupoCuentas: null as string | null,
      desde: format(startOfMonth(subMonths(hoy(), 1)), "yyyy-MM-dd") as string | null,
      hasta: null as string | null,
      mayor: null as any,

      sku: null as string | null,
			skuData: {} as SKU,
			gruposCuentas: [] as GrupoCuentas[],
			cargando: 0 as number,
    };
  },
  created() {
		this.fetchgruposCuentas()
    if (this.$route.query.desde) {
      this.desde = this.$route.query.desde as string;
    }
    if (this.$route.query.hasta) {
      this.hasta = this.$route.query.hasta as string;
    }
    // Empresa
    if (this.$route.query.empresa) {
      this.empresa = this.$route.query.empresa as string;
    } else {
      this.empresa = this.$store.state.empresas.seleccionada;
    }
    if (this.$route.query.deposito) {
      this.deposito = this.$route.query.deposito as string;
    }
    if (this.$route.query.grupo_cuentas) {
      this.grupoCuentas = this.$route.query.grupo_cuentas as string;
    }
    if (this.$route.query.sku) {
      this.sku = this.$route.query.sku as string;
			this.fetchSKU()
			this.actualizar()
    }
  },
  methods: {
    actualizar() {
			this.cargando++
      axios
        .post("/backend/contables/mayor_productos", {
					Empresa: this.empresa,
					Deposito: this.deposito,
          Desde: this.desde,
          Hasta: this.hasta,
          SKU: this.sku,
					GrupoCuentas: this.grupoCuentas,
        })
        .then(res => {
          this.mayor = res.data;
        })
        .catch(err => {
          eventBus.$emit("error", err);
        })
				.finally(() => this.cargando--);
    },
    fetchSKU() {
			this.cargando++
      axios
        .post("/backend/productos/one", {
          SKU: this.sku,
        })
        .then(res => {
          this.skuData = res.data;
        })
        .catch(err => {
          eventBus.$emit("error", err);
        })
				.finally(() => this.cargando--);
    },
    fetchgruposCuentas() {
			this.cargando++
      axios
        .post("/backend/cuentasgrupos/many", {
          Tipo: 'stock',
        })
        .then(res => {
          this.gruposCuentas = res.data;
					if (this.gruposCuentas.length == 1) {
						this.grupoCuentas = this.gruposCuentas[0].ID
					}
        })
        .catch(err => {
          eventBus.$emit("error", err);
        })
				.finally(() => this.cargando--);
    },
  },
	computed: {
    empresas(): Empresa[] {
      return this.$store.getters["empresas/permitidas"];
    },
    depositos(): Deposito[] {
      return this.$store.getters["depositos/todos"];
    },
		hayPartidas(): boolean {
			if (!this.mayor) {
				return false
			}
			if (this.mayor.Partidas.length) {
				return true
			}
			return false
		}
	}
})
</script>

<style lang="scss" scoped>
div {
}
</style>
