<template>
  <div class="container">
    <h1 class="title">Saldos de stock</h1>

    <div class="box">
      <b-field label="Empresa" horizontal>
        <b-select v-model="empresa">
          <option :value="null">Todas</option>
          <option v-for="e in empresas" :value="e.ID" :key="e.ID">
            {{ e.Nombre }}
          </option>
        </b-select>
      </b-field>
      <b-field label="Tipo" horizontal>
        <b-select v-model="grupoCuentas">
          <option v-for="v in gruposCuentas" :value="v.ID" :key="v.ID">
            {{ v.Nombre }}
          </option>
        </b-select>
      </b-field>

      <b-field label="Depósito" horizontal>
        <b-select v-model="deposito">
          <option :value="null">Todos</option>
          <option v-for="v in depositos" :value="v.ID" :key="v.ID">
            {{ v.Nombre }}
          </option>
        </b-select>
      </b-field>

      <b-field label="A la fecha" horizontal>
        <b-input type="date" v-model="hasta" custom-class="fch" />
      </b-field>
      <b-button class="is-info" @click="fetch()">Actualizar</b-button>
    </div>

    <tabla>
      <thead>
        <th>Codigo</th>
        <th>Nombre</th>
        <th>Cantidad</th>
        <th>Unidad</th>
        <th>PPP</th>
        <th>Monto</th>
      </thead>
      <tbody>
        <tr
          v-for="p in productos"
          :key="p.SKU"
          @click="profundizar(p.SKU)"
          class="link"
        >
          <td>{{ p.Codigo }}</td>
          <td>{{ p.Nombre }}</td>
          <td align="right">{{ p.Cantidad | enPesos }}</td>
          <td>{{ p.UM }}</td>
          <td align="right">{{ (p.Monto / p.Cantidad) | enPesos }}</td>
          <td align="right">{{ p.Monto | enPesos }}</td>
        </tr>
      </tbody>
      <tfoot>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Total</td>
        <td align="right">{{ totalPesos | enPesos }}</td>
      </tfoot>
    </tabla>
    <b-loading
      is-full-page
      :active="cargando != 0"
      :can-cancel="true"
    ></b-loading>
  </div>
</template>

<script lang="ts">
import axios from "axios";
import Vue from "vue";
import eventBus from "@/eventBus";
import { SaldoStock } from "./inventarios";
import { Empresa } from "@/interfaces/empresas";
import { Deposito } from "@/modules/depositos/deposito";
import { Grupo as GrupoCuentas } from "@/interfaces/cuentas";
import { updateQuery } from "@/modules/routeUtil";
export default Vue.extend({
  data() {
    return {
      productos: [] as SaldoStock[],

      empresa: null as string | null,
      grupoCuentas: null as string | null,
      deposito: null as string | null,

      gruposCuentas: [] as GrupoCuentas[],
      hasta: null as string |null,
      cargando: 0 as number,
    };
  },
  created() {
    document.title = "Stock";
    // Empresa
    if (this.$route.query.empresa) {
      this.empresa = this.$route.query.empresa as string;
    } else {
      this.empresa = this.$store.state.empresas.seleccionada;
    }
    if (this.$route.query.deposito) {
      this.deposito = this.$route.query.deposito as string;
    }
    if (this.$route.query.grupo_cuentas) {
      this.grupoCuentas = this.$route.query.grupo_cuentas as string;
    }
    if (this.$route.query.hasta) {
      this.hasta = this.$route.query.hasta as string;
    }
    this.fetchgruposCuentas();
  },
  methods: {
    fetch() {
      this.cargando++;
      axios
        .post("/backend/contables/saldos_productos", {
          Empresa: this.empresa,
          GrupoCuentas: this.grupoCuentas,
          Fecha: this.hasta,
          Deposito: this.deposito,
        })
        .then((res) => {
          this.productos = res.data;
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },
    fetchgruposCuentas() {
      this.cargando++;
      axios
        .post("/backend/cuentasgrupos/many", {
          Tipo: "stock",
        })
        .then((res) => {
          this.gruposCuentas = res.data;
          if (this.gruposCuentas.length == 1) {
            this.grupoCuentas = this.gruposCuentas[0].ID;
          }
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },
    profundizar(sku: string) {
      let query: any = {};
      if (this.empresa) {
        query.empresa = this.empresa;
      }
      if (this.deposito) {
        query.deposito = this.deposito;
      }
      if (this.hasta) {
        query.hasta = this.hasta;
      }
      if (this.grupoCuentas) {
        query.grupo_cuentas = this.grupoCuentas;
      }

      updateQuery(query, this);
      query.sku = sku;

      this.$router.push({
        name: "mayorProductos",
        query: query,
      });
    },
  },
  computed: {
    totalPesos(): number {
      let suma = 0;
      for (let v of this.productos) {
        suma += v.Monto;
      }
      return suma;
    },
    empresas(): Empresa[] {
      return this.$store.getters["empresas/permitidas"];
    },
    depositos(): Deposito[] {
      return this.$store.getters["depositos/todos"];
    },
  },
});
</script>

