<template>
  <div>
    <h1 class="title">Configuración resúmenes bancarios</h1>
    <div class="columns">
      <div class="column">
        <b-field label="Empresa" horizontal>
          <b-select v-model="empresa">
            <option v-for="v in empresas" :value="v.ID" :key="v.ID">{{
              v.Nombre
            }}</option>
          </b-select>
        </b-field>
      </div>
      <div class="column">
        <b-field>
          <b-button class="btn" @click="create()">Nuevo</b-button>
        </b-field>
      </div>
    </div>
    <tabla v-if="resumenes.length">
      <thead>
        <th>Nombre</th>
      </thead>
      <tbody>
        <tr
          v-for="v in resumenes"
          :key="v.ID"
          class="link"
          @click="profundizar(v.ID)"
        >
          {{
            v.Nombre
          }}
        </tr>
      </tbody>
    </tabla>
    <div v-else>No hay ninguna configuración cargada</div>
  </div>
</template>

<script>
import axios from "axios";
import eventBus from "@/eventBus.ts";
export default {
  data() {
    return {
      empresa: null,
      resumenes: []
    };
  },
  created() {
    if (this.$route.query.empresa) {
      this.empresa = this.$route.query.empresa;
    } else {
      this.empresa = this.$store.state.empresas.seleccionada;
    }
    if (this.empresa) {
      this.actualizar();
    }
	document.title = "Resumen bancario - Configs"
  },
  methods: {
    actualizar() {
      axios
        .post("/backend/resbancario_config/many", { Empresa: this.empresa })
        .then(res => {
          this.resumenes = res.data;
        })
        .catch(err => eventBus.$emit("error", err));
    },
    profundizar(id) {
      this.$router.push({ name: "resumenConfig", query: { id: id } });
    },
    create() {
      this.$router.push({ name: "resumenConfig" });
    }
  },
  computed: {
    empresas() {
      return this.$store.getters["empresas/permitidas"];
    }
  },
  watch: {
    empresa() {
      this.actualizar();
    }
  }
};
</script>
