<template>
  <div>
    <h1 class="title">Configuración resumen bancario</h1>
    <div class="box">
      <b-field label="Empresa" horizontal>
        <b-select v-model="config.Empresa">
          <option :value="null" disabled>Seleccione</option>
          <option v-for="v in empresas" :key="v.ID" :value="v.ID">
            {{ v.Nombre }}
          </option>
        </b-select>
      </b-field>

      <b-field label="Banco" horizontal>
        <b-select v-model="config.Persona">
          <option :value="null" disabled>Seleccione</option>
          <option v-for="v in personas" :key="v.ID" :value="v.ID">
            {{ v.Nombre }}
          </option>
        </b-select>
      </b-field>

      <div v-if="config.Persona">
        <b-field label="Cuenta" horizontal>
          <b-select v-model="config.Sucursal">
            <option v-for="v in sucursales" :key="v.ID" :value="v.ID">
              {{ v.Nombre }}
            </option>
          </b-select>
        </b-field>

        <b-field label="Detalle" horizontal>
          <b-input v-model="config.Descripcion" />
        </b-field>
      </div>
    </div>
    <div class="box">
      <h2 class="subtitle">CSV</h2>
      <b-field label="Renglones a omitir" horizontal>
        <b-input
          v-model.number="config.CSVConfig.OmitirRenglones"
          type="number"
        ></b-input>
      </b-field>

      <b-field label="Separador campos" horizontal>
        <b-input v-model="config.CSVConfig.Comma" maxlength="1"></b-input>
      </b-field>

      <b-field label="Formato fecha" horizontal>
        <b-input v-model="config.CSVConfig.FechaLayout"></b-input>
      </b-field>
      <b-field label="Separador decimal" horizontal>
        <b-input v-model="config.CSVConfig.SeparadorDecimal"></b-input>
      </b-field>
      <b-field label="Separador miles" horizontal>
        <b-input v-model="config.CSVConfig.SeparadorMiles"></b-input>
      </b-field>

      <!-- <b-field label="Columnas" horizontal> </b-field> -->
      <h2 class="subtitle">Configuración de columnas</h2>
      <div class="columns">
        <div class="column is-8">
          <b-field label="Fecha" horizontal>
            <b-input
              v-model.number="config.CSVConfig.Columnas.Fecha"
              type="number"
            ></b-input>
          </b-field>
          <b-field label="Código movimiento" horizontal>
            <b-input
              v-model.number="config.CSVConfig.Columnas.Código"
              type="number"
            ></b-input>
          </b-field>
          <b-field label="Detalle" horizontal>
            <b-input
              v-model.number="config.CSVConfig.Columnas.Detalle"
              type="number"
            ></b-input>
          </b-field>
          <b-field label="Número referencia" horizontal>
            <b-input
              v-model.number="config.CSVConfig.Columnas['Número Referencia']"
              type="number"
            ></b-input>
          </b-field>
          <b-field label="Débitos" horizontal>
            <b-input
              v-model.number="config.CSVConfig.Columnas.Débito"
              type="number"
            ></b-input>
          </b-field>
          <b-field label="Créditos" horizontal>
            <b-input
              v-model.number="config.CSVConfig.Columnas.Crédito"
              type="number"
            ></b-input>
          </b-field>
          <b-field label="Monto" horizontal>
            <b-input
              v-model.number="config.CSVConfig.Columnas.Monto"
              type="number"
            ></b-input>
          </b-field>
          <b-field label="Saldo" horizontal>
            <b-input
              v-model.number="config.CSVConfig.Columnas.Saldo"
              type="number"
            ></b-input>
          </b-field>
        </div>
      </div>
    </div>

    <div class="box">
      <h2 class="subtitle">Imputaciones GASTOS</h2>

      <b-field label="Comprobante" horizontal>
        <b-select v-model="config.CompGastos">
          <option v-for="v in comps" :key="v.ID" :value="v.ID">
            {{ v.Nombre }} (PV: {{ v.PuntoDeVenta }})
          </option>
        </b-select>
      </b-field>
      <b-field label="Cuenta patrimonial" horizontal>
        <b-select v-model="config.CuentaContableGastos">
          <option v-for="v in cuentas" :key="v.ID" :value="v.ID">
            {{ v.Nombre }} - {{ v.Codigo }}
          </option>
        </b-select>
      </b-field>

      <tabla v-if="config.Imputaciones.length">
        <thead>
          <th v-if="usaCodigo">Codigo CSV</th>
          <th v-if="usaCodigo">Desc CSV</th>
          <th v-if="!usaCodigo">Texto</th>
          <th>Cuenta</th>
          <th>Concepto</th>
          <th>Alicuota</th>
        </thead>
        <tbody>
          <tr
            v-for="(v, i) in imputacionesGastos"
            :key="v.Codigo"
            @click="profundizar(v, i)"
          >
            <td v-if="usaCodigo">{{ v.Codigo }}</td>
            <td v-if="usaCodigo">{{ v.Detalle }}</td>
            <td v-if="!usaCodigo">{{ v.Contiene }}</td>
            <td>{{ nombreCuenta(v.Cuenta) }}</td>
            <td>{{ conceptoNombre(v.IVAConcepto) }}</td>
            <td>{{ alicuotaNombre(v.IVAAlicuota) }}</td>
          </tr>
        </tbody>
      </tabla>
      <b-button @click="nuevaImputacion()">Nueva</b-button>
    </div>

    <div class="box">
      <h2 class="subtitle">Imputaciones MOVIMIENTOS</h2>

      <b-field label="Comprobante" horizontal>
        <b-select v-model="config.CompMovs">
          <option v-for="v in comps" :key="v.ID" :value="v.ID">
            {{ v.Nombre }} (PV: {{ v.PuntoDeVenta }})
          </option>
        </b-select>
      </b-field>
      <b-field label="Cuenta patrimonial" horizontal>
        <b-select v-model="config.CuentaContableMovs">
          <option v-for="v in cuentas" :key="v.ID" :value="v.ID">
            {{ v.Nombre }} - {{ v.Codigo }}
          </option>
        </b-select>
      </b-field>
      <tabla v-if="config.Imputaciones.length">
        <thead>
          <th v-if="usaCodigo">Codigo CSV</th>
          <th v-if="usaCodigo">Desc CSV</th>
          <th v-if="!usaCodigo">Texto</th>
          <th>Cuenta</th>
          <th>Concepto</th>
          <th>Alicuota</th>
        </thead>
        <tbody>
          <tr
            v-for="(v, i) in imputacionesMovimientos"
            :key="v.Codigo"
            @click="profundizar(v, i)"
          >
            <td v-if="usaCodigo">{{ v.Codigo }}</td>
            <td v-if="usaCodigo">{{ v.Detalle }}</td>
            <td v-if="!usaCodigo">{{ v.Contiene }}</td>
            <td>{{ nombreCuenta(v.Cuenta) }}</td>
            <td>{{ v.IVAConcepto }}</td>
            <td>{{ v.IVAAlicuota }}</td>
          </tr>
        </tbody>
      </tabla>
      <b-button @click="nuevaImputacion()">Nueva</b-button>
    </div>
    <b-field grouped position="is-right">
      <b-button class="is-success" @click="submit()">Guardar</b-button>
      <b-button @click="$router.go(-1)">Cancelar</b-button>
    </b-field>
    <b-loading
      is-full-page
      :active="cargando != 0"
      :can-cancel="false"
    ></b-loading>
  </div>
</template>
<script lang="ts">
import axios from "axios";
import Vue from "vue";
import eventBus from "@/eventBus";
import { v4 } from "uuid";
import ImputacionResumen from "./ImputacionResumen.vue";
import { Empresa } from "@/interfaces/empresas";
import { Persona, Sucursal } from "@/modules/personas/personas";
import { Comp } from "@/interfaces/comps";
import { Cuenta } from "@/interfaces/cuentas";
import { cruzarCuentasYSucursales } from "@/modules/personas/personas";
import { Config, NewConfig, Imputacion } from "./config";
export default Vue.extend({
  data() {
    return {
      config: new Config(),
      comps: [] as Comp[],
      localBus: new Vue(),
      personas: [] as Persona[], // Es la respuesta del server
      cargando: 0 as number,
    };
  },
  created() {
    this.hooks();
    this.traerBancos();
    this.traerConfig();
    document.title = "Resumen bancario - Config";
  },
  methods: {
    submit() {
      if (this.esNuevo) {
        this.cargando += 1;
        axios
          .post("/backend/resbancario_config/create", this.config)
          .then(() => this.$router.go(-1))
          .catch((err) => eventBus.$emit("error", err))
          .finally(() => {
            this.cargando -= 1;
          });
      } else {
        axios
          .post("/backend/resbancario_config/update", this.config)
          .then(() => this.$router.go(-1))
          .catch((err) => eventBus.$emit("error", err))
          .finally(() => {
            this.cargando -= 1;
          });
      }
    },
    nuevaImputacion() {
      this.$buefy.modal.open({
        parent: this,
        component: ImputacionResumen,
        hasModalCard: true,
        trapFocus: true,
        // fullScreen: true,
        scroll: "clip",
        props: {
          bus: this.localBus,
        },
      });
    },
    profundizar(imputacion: Imputacion, index: number) {
      this.$buefy.modal.open({
        parent: this,
        component: ImputacionResumen,
        hasModalCard: true,
        trapFocus: true,
        // fullScreen: true,
        scroll: "clip",
        props: {
          bus: this.localBus,
          partida: imputacion,
          index: index,
        },
      });
    },
    traerComps() {
      this.cargando++;
      axios
        .get("/backend/comprobantes", {
          params: {
            Empresa: this.config.Empresa,
          },
        })
        .then((res) => {
          const cc: Comp[] = res.data.sort((a: Comp, b: Comp) => {
            return new Intl.Collator("ar").compare(a.Nombre, b.Nombre);
          });
          this.comps = cc;
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => {
          this.cargando--;
        });
    },
    traerBancos() {
      // Traigo los bancos
      this.cargando++;
      axios
        .post("/backend/resbancario/bancos")
        .then((res) => {
          if (!this.personas) {
            this.personas = [];
            return;
          }
          this.personas = res.data;
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => {
          this.cargando--;
        });
    },
    traerConfig() {
      if (this.$route.query.id) {
        this.cargando++;
        axios
          .post("/backend/resbancario_config/one", {
            ID: String(this.$route.query.id),
          })
          .then((res) => {
            this.config = Object.assign(new Config(), res.data);

            for (const v of this.config.Imputaciones) {
              if (!v.ID) {
                v.ID = v4();
              }
            }
          })
          .catch((err) => {
            eventBus.$emit("error", err);
            console.log("reduciendo config");
          })
          .finally(() => {
            this.cargando--;
          });
      }
    },
    hooks() {
      this.localBus.$on("imputacionAgregada", (partida: Imputacion) => {
        this.config.Imputaciones.push(partida);
      });
      this.localBus.$on("imputacionModificada", (imp: Imputacion) => {
        let v = this.config.Imputaciones.find((x) => x.ID == imp.ID);
        v = Object.assign(v, imp);
      });
      this.localBus.$on("imputacionEliminada", (id: string) => {
        console.log(`entró ${id}`);
        this.config.Imputaciones = this.config.Imputaciones.filter(
          (x) => x.ID != id
        );
      });
    },

    nombreCuenta(id: string | null): string {
      if (!id) {
        return "";
      }
      let cta = this.$store.getters["cuentas/porID"](id);
      if (!cta) {
        return "";
      }
      return cta.Nombre;
    },
    conceptoNombre(id: string | null): string {
      if (!id) {
        return "";
      }
      let v = this.$store.getters["iva/conceptoPorID"](id);
      if (!v) {
        return "";
      }
      return v.Nombre;
    },
    alicuotaNombre(id: string | null): string {
      if (!id) {
        return "";
      }
      let v = this.$store.getters["iva/alicuotaPorID"](id);
      if (!v) {
        return "";
      }
      return v.Nombre;
    },
  },
  computed: {
    empresas(): Empresa[] {
      return this.$store.getters["empresas/permitidas"];
    },
    esNuevo(): boolean {
      if (this.$route.query.id) {
        return false;
      }
      return true;
    },
    usaCodigo(): boolean {
      if (!this.config) {
        return false;
      }
      return this.config.filtraPorCodigo();
    },
    sucursales(): Sucursal[] {
      if (!this.config.Persona) {
        return [];
      }
      if (!this.config.Empresa) {
        return [];
      }
      const found = this.personas.find((x) => x.ID == this.config.Persona);
      if (!found) {
        return [];
      }
      const cc: Cuenta[] =
        this.$store.getters["cuentas/porFuncion"]("Cuenta bancaria");

      console.log(
        "empresa:",
        this.config.Empresa,
        "persona:",
        found,
        "sucursales:",
        found.Sucursales,
        "cuentas: ",
        cc
      );
      let cruzadas = cruzarCuentasYSucursales(
        this.config.Empresa,
        found,
        found.Sucursales,
        cc
      );
      const ids: string[] = cruzadas.map((x) => x.ID as string);
      const out = found.Sucursales.filter((x) => ids.includes(x.ID as string));
      return out;
    },
    imputacionesGastos(): Imputacion[] {
      let out: Imputacion[] = [];
      for (let v of this.config.Imputaciones) {
        if (v.Tipo == "G") {
          out.push(v);
        }
      }
      return out;
    },
    imputacionesMovimientos(): Imputacion[] {
      let out: Imputacion[] = [];
      for (let v of this.config.Imputaciones) {
        if (v.Tipo == "M") {
          out.push(v);
        }
      }
      return out;
    },
    cuentas(): Cuenta[] {
      return this.$store.getters["cuentas/imputables"];
    },
  },
  watch: {
    "config.Empresa"() {
      this.traerComps();
    },
  },
});
</script>
