<template>
  <div class="modal-card">
    <header class="modal-card-head">
      <h1 class="modal-card-title">{{ titulo }}</h1>
    </header>
    <section class="modal-card-body">

      <!-- CODIGO-->
      <b-field label="Código" v-if="mostrarCodigo">
        <b-input v-model="p.Codigo" disabled />
      </b-field>

      <!-- CONTIENE DETALLE -->
      <b-field label="La descripción contiene" v-if="!mostrarCodigo">
        <b-input v-model="p.Contiene" />
      </b-field>

      <!-- DESCRIPCION -->
      <b-field label="Detalle">
        <b-input v-model="p.Detalle" disabled />
      </b-field>

      <!-- CUENTA -->
      <b-field label="Comprobante">
        <b-select v-model="p.Tipo">
          <option :value="null" disabled>Seleccione</option>
          <option value="G">Gastos</option>
          <option value="M">Movimientos</option>
        </b-select>
      </b-field>

      <!-- CUENTA -->
      <b-field label="Cuenta contable">
        <b-select v-model="p.Cuenta">
          <option :value="null" disabled>Seleccione</option>
          <option v-for="v in cuentas" :value="v.ID" :key="v.ID">{{
            v.Nombre
          }}</option>
        </b-select>
      </b-field>
      <div v-if="p.Tipo == 'G'">

        <!-- CONCEPTO -->
        <b-field label="Concepto IVA">
          <b-select v-model="p.IVAConcepto">
            <option :value="null" disabled>Seleccione</option>
            <option v-for="v in conceptos" :value="v.ID" :key="v.ID">{{
              v.Nombre
            }}</option>
          </b-select>
        </b-field>

        <!-- CONCEPTO -->
        <b-field label="Alícuota IVA">
          <b-select v-model="p.IVAAlicuota">
            <option :value="null" disabled>Seleccione</option>
            <option v-for="v in alicuotas" :value="v.ID" :key="v.ID">{{
              v.Nombre
            }}</option>
          </b-select>
        </b-field>
      </div>
    </section>
    <footer class="modal-card-foot">
      <b-button @click="aceptar()" class="is-primary">Aceptar</b-button>
      <b-button @click="$parent.close()">Cancelar</b-button>
      <b-button class="is-danger" v-if="!esNuevo" @click="eliminar()"
        >Eliminar</b-button
      >
    </footer>
  </div>
</template>

<script lang="ts">
// Este componente trabaja sobre los datos de una imputacion que se ingresa
// como prop.
import Vue from "vue";
import { Cuenta } from "@/interfaces/cuentas";
import { Alicuota, Concepto } from "@/modules/afip/afip";
import { Imputacion } from "./config"
export default Vue.extend({
  props: {
    // La partida a EDITAR
    partida: {
			type: Object as () => Imputacion,
    },
    // El index de la partida a EDITAR
    index: {
      type: Number
    },
    bus: {
      required: true,
			type: Object as () => Vue
    }
  },
  data() {
    return {
			p: new Imputacion,
			tipo: null
    };
  },
  created() {
		if (this.partida) {
			this.p = Object.assign({}, this.partida)
			this.p.ContieneAnterior = this.p.Contiene
		}
  },
  methods: {
    aceptar() {
      if (!this.p.Codigo && !this.p.Contiene) {
        this.$buefy.dialog.alert({
          title: "Validación",
          message: "Debe ingresar un texto para identificar el movimiento",
          ariaRole: "alertdialog",
          ariaModal: true
        });
        return;
      }
      if (this.tipo == "Gasto" && !this.p.Cuenta) {
        this.$buefy.dialog.alert({
          title: "Validación",
          message: "Debe seleccionar una cuenta contable",
          ariaRole: "alertdialog",
          ariaModal: true
        });
        return;
      }
			if (this.esNuevo) {
				this.bus.$emit("imputacionAgregada", this.p);
			} else {
				this.bus.$emit("imputacionModificada", this.p);
			}
      this.cerrar();
    },
    eliminar() {
			this.bus.$emit("imputacionEliminada", this.p.ID);
      this.cerrar();
    },
    cerrar() {
      (this.$parent as any).close();
    }
  },
  computed: {
	mostrarCodigo(): boolean {
		if (this.p.Codigo) {
			return true
		} 
	return false
	},
    titulo(): string {
      if (this.esNuevo) {
        return "Nueva imputación";
      }
      return "Modificar imputación";
    },
    esNuevo(): boolean {
      if (!this.partida) {
        return true;
      }
      return false;
    },
    cuentas(): Cuenta[] {
      return this.$store.getters["cuentas/imputables"];
    },
    alicuotas(): Alicuota[] {
      let alics = this.$store.getters["iva/alicuotasPorConcepto"](
        this.p.IVAConcepto
      );
      console.log(alics);
      return alics;
    },
    conceptos(): Concepto[] {
      return this.$store.getters["iva/conceptos"];
    },
    conceptoConAlicuota(): boolean {
      if (!this.p) {
        return false;
      }
      if (!this.p.IVAConcepto) {
        return false;
      }
      if (this.p.IVAConcepto == "1" || this.p.IVAConcepto == "2") {
        return true;
      }
      return false;
    }
  },
  watch: {
    concepto() {}
  }
});
</script>
<style lang="scss" scoped>
input .money {
  text-align: right;
}
</style>
