<template>
  <div>
    <div class="titulo-de-pantalla">
      <h1>Resúmenes bancarios</h1>
    </div>
    <div class="box">
      <div class="columns">
        <div class="column is-6">
          <b-field label="Empresa" horizontal>
            <b-select v-model="empresa" expanded>
              <option :value="null">Todas</option>
              <option v-for="v in empresas" :value="v.ID" :key="v.ID">{{
                v.Nombre
              }}</option>
            </b-select>
          </b-field>
        </div>
        <div class="column is-4">
          <b-field label="Desde" horizontal>
            <b-input type="date" v-model="desde" />
          </b-field>
          <b-field label="Hasta" horizontal>
            <b-input type="date" v-model="hasta" />
          </b-field>
        </div>
        <div class="column is-2">
          <b-button @click="actualizar()" class="is-primary">
            Buscar
          </b-button>
        </div>
      </div>
    </div>
    <div class="box">
      <b-button @click="$router.push({ name: 'resbancario' })">Nuevo</b-button>
      <tabla>
        <thead>
          <th>Desde</th>
          <th>Hasta</th>
          <th>Cuenta bancaria</th>
          <th>Partidas</th>
          <th>Creación</th>
        </thead>
        <tbody>
          <tr
            v-for="v in renglones"
            :key="v.ID"
            @click="profundizar(v.ID)"
            class="link"
          >
            <td>{{ v.Desde | enFecha }}</td>
            <td>{{ v.Hasta | enFecha }}</td>
            <td>{{ v.PersonaNombre }}</td>
            <td>
              <span v-if="v.Partidas">{{ v.Partidas.length }}</span>
            </td>
            <td>{{ v.CreatedAt | enFechaHora }}</td>
          </tr>
        </tbody>
      </tabla>
    </div>

    <b-loading
      is-full-page
      :active.sync="cargando"
      :can-cancel="true"
    ></b-loading>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import axios from "axios";
import { updateQuery } from "@/modules/routeUtil";
import { hoy } from "@/modules/util/fechas";
import { format, startOfMonth, subMonths } from "date-fns";
import eventBus from "@/eventBus";
export default Vue.extend({
  data() {
    return {
      empresa: null as string | null,
      programa: null as string | null,
      desde: format(startOfMonth(subMonths(hoy(), 12)), "yyyy-MM-dd") as string,
      hasta: format(hoy(), "yyyy-MM-dd") as string,
      renglones: [] as any,

      cargando: false as boolean
    };
  },
  created() {
    if (this.$route.query.desde) {
      this.desde = this.$route.query.desde as string;
    }
    if (this.$route.query.hasta) {
      this.hasta = this.$route.query.hasta as string;
    }
    if (this.$route.query.empresa) {
      this.empresa = this.$route.query.empresa as string;
    } else {
      this.empresa = this.$store.state.empresas.seleccionada;
    }
    if (this.$route.query.programa) {
      this.programa = this.$route.query.programa as string;
    }

    if (this.desde || this.hasta || this.empresa) {
      this.actualizar();
    }
	document.title = "Resúmenes bancarios"
  },
  methods: {
    actualizar() {
      this.cargando = true;
      axios
        .post("/backend/resbancario/many", {
          Empresa: this.empresa,
          Programa: this.programa,
          Desde: this.desde,
          Hasta: this.hasta,
          Pagina: 0
        })
        .then(res => {
          this.renglones = res.data;
          this.cargando = false;
        })
        .catch(err => {
          eventBus.$emit("error", err);
          this.cargando = false;
        });
    },
    profundizar(id: string) {
      updateQuery(
        {
          desde: this.desde,
          hasta: this.hasta,
          empresa: this.empresa
        },
        this
      );
      this.$router.push({ name: "resbancario", query: { id: id } });
    }
  },
  computed: {
    empresas() {
      return this.$store.getters["empresas/permitidas"];
    },
    programas() {
      return this.$store.state.programas.array;
    }
  }
});
</script>
