<template>
  <div
    id="wrapper"
    class="column is-10-widescreen is-12-desktop is-12-tablet is-12-mobile"
  >
    <div class="titulo-de-pantalla">
      <h1>{{ titulo }}</h1>
      <b-button @click="$router.push({ name: 'resumenesConfigs' })"
        >Config</b-button
      >
    </div>

    <div>
      <!-- Steps -->
      <b-steps rounded>
        <b-step-item :step="1" label="Datos generales" clickable>
          <div class="box">
            <h1>Datos generales</h1>
            <div class="columns">
              <div class="column">
                <b-field label="Empresa">
                  <b-select v-model="resumen.Empresa" expanded>
                    <option
                      v-for="v in empresas"
                      :value="v.ID"
                      v-bind:key="v.ID"
                    >
                      {{ v.Nombre }}
                    </option>
                  </b-select>
                </b-field>
              </div>

              <div class="column">
                <b-field label="Cuenta bancaria">
                  <b-select v-model="resumen.Config" expanded>
                    <option :value="null" v-if="esNuevo">Seleccione</option>
                    <option
                      v-for="v in configs"
                      :value="v.ID"
                      v-bind:key="v.ID"
                    >
                      {{ v.Nombre }}
                    </option>
                  </b-select>
                </b-field>
              </div>
            </div>
          </div>

          <div class="box" v-if="resumen.Config">
            <h2 class="subtitle">Archivo CSV</h2>
            <b-field class="file" v-if="esNuevo">
              <b-upload v-model="archivo">
                <span class="button is-primary is-fullwidth">
                  <b-icon icon="upload"></b-icon>
                  <span>{{ "Seleccione" }}</span>
                </span>
                <span class="file-name" v-if="archivo && archivo.name" expanded>
                  {{ archivo.name }}
                </span>
              </b-upload>
            </b-field>
            <b-button @click="procesarCSV()" v-if="esNuevo">Procesar</b-button>

            <div class="columns" v-if="resumen.Partidas.length">
              <div class="column">
                <b-field label="Desde">
                  <b-input type="date" v-model="resumen.Desde" />
                </b-field>
              </div>
              <div class="column">
                <b-field label="Hasta">
                  <b-input type="date" v-model="resumen.Hasta" />
                </b-field>
              </div>
            </div>
          </div>
        </b-step-item>

        <b-step-item
          :step="2"
          label="Partidas"
          clickable
          v-if="resumen.Partidas && resumen.Partidas.length"
        >
          <tabla>
            <thead>
              <th></th>
              <th>Fecha</th>
              <th>Código</th>
              <th>Detalle</th>
              <th>Débitos</th>
              <th>Créditos</th>
              <th>Saldos</th>
              <th>Referencia</th>
            </thead>
            <tbody>
              <tr v-for="(v, i) in resumen.Partidas" :key="i">
                <td>{{ i + 1 }}</td>
                <td>{{ v.Fecha | enFecha }}</td>
                <td>{{ v.Codigo }}</td>
                <td>{{ v.Detalle }}</td>
                <td align="right">{{ v.Debito | enPesos }}</td>
                <td align="right">{{ v.Credito | enPesos }}</td>
                <td align="right">{{ v.Saldo | enPesos }}</td>
                <td>{{ v.NumeroRef }}</td>
              </tr>
            </tbody>
          </tabla>
        </b-step-item>

        <!-- Imputaciones -->
        <b-step-item
          :step="3"
          label="Imputaciones"
          clickable
          v-if="resumen.Config || (opsGeneradas && opsGeneradas.length)"
        >
          <div class="box" v-for="v in partidasAgrupadas" :key="v.Cuenta">
            <h2>{{ nombreCuenta(v.Cuenta) }}</h2>
            <tabla
              ><thead>
                <th>Fecha</th>
                <th>Código</th>
                <th>Detalle</th>
                <th>Débito</th>
                <th>Crédito</th>
                <th>Comprobante</th>
                <th>Concepto</th>
                <th>Alicuota</th>
              </thead>
              <tbody>
                <tr v-for="r in v.Partidas" :key="r.Item">
                  <td>{{ r.Fecha | enFecha }}</td>
                  <td>{{ r.Codigo }}</td>
                  <td>{{ r.Detalle }}</td>
                  <td align="right">{{ r.Debito | enPesos }}</td>
                  <td align="right">{{ r.Credito | enPesos }}</td>
                  <td>
                    {{ r.Comprobante }}
                    <b-button @click="asignar(r.Item)" v-if="esNuevo"
                      >Asignar</b-button
                    >
                  </td>
                  <td>{{ conceptoNombre(r.IVAConcepto) }}</td>
                  <td>{{ alicuotaNombre(r.IVAAlicuota) }}</td>
                </tr>
              </tbody>
            </tabla>
          </div>
        </b-step-item>

        <!-- CONFIRMACIÓN -->
        <b-step-item
          :step="4"
          :label="confirmacionNombre"
          clickable
          v-if="resumen.Config || (opsGeneradas && opsGeneradas.length)"
        >
          <b-button @click="procesarCSV()" v-if="esNuevo">Calcular</b-button>
          <div class="box" v-if="esNuevo && opsCalculadasComputed.length">
            <h1>Comprobantes a generar</h1>
            <tabla>
              <thead>
                <th></th>
                <th align="center">Fecha</th>
                <th align="center">Comprobante</th>
                <th align="center">Número</th>
                <th align="right">Total</th>
                <th align="center">Asiento</th>
              </thead>
              <tbody>
                <tr v-for="(v, i) in opsCalculadasComputed" :key="v.ID">
                  <td>{{ i + 1 }}</td>
                  <td>{{ v.Fecha | enFecha }}</td>
                  <td>{{ v.CompNombre }}</td>
                  <td>{{ v.NCompStr }}</td>
                  <td align="right">{{ v.TotalComp | enPesos }}</td>
                  <td>
                    <b-button @click="mostrarAsiento(v.ID)">Asiento</b-button>
                  </td>
                </tr>
              </tbody>
            </tabla>
            <b-button @click="confirmar()">Confirmar</b-button>
            <b-button @click="eliminar()">Eliminar</b-button>
          </div>
          <div class="box" v-if="opsGeneradasComputed.length">
            <h1>Comprobantes generados</h1>
            <tabla>
              <thead>
                <th></th>
                <th align="center">Fecha</th>
                <th align="center">Comprobante</th>
                <th align="center">Número</th>
                <th align="right">Total</th>
                <th align="center">Asiento</th>
              </thead>
              <tbody>
                <tr v-for="(v, i) in opsGeneradasComputed" :key="v.ID">
                  <td>{{ i + 1 }}</td>
                  <td>{{ v.Fecha | enFecha }}</td>
                  <td>{{ v.CompNombre }}</td>
                  <td>{{ v.NCompStr }}</td>
                  <td align="right">{{ v.TotalComp | enPesos }}</td>
                  <td>
                    <b-button @click="mostrarAsiento(v.ID)">Asiento</b-button>
                  </td>
                </tr>
              </tbody>
            </tabla>
          </div>
          <b-button class="is-danger" @click="eliminar()" v-if="!esNuevo"
            >Eliminar</b-button
          >

          <!-- <b-button class="is-info" @click="regrabar()" v-if="!esNuevo"
            >Regrabar</b-button
          > -->
        </b-step-item>
      </b-steps>
    </div>
    <b-loading
      is-full-page
      :active="cargando != 0"
      :can-cancel="true"
    ></b-loading>
  </div>
</template>
<script lang="ts">
import axios from "axios";
import Vue from "vue";
import eventBus from "@/eventBus";
import {
  Resumen,
  PartidaImputada,
  Grupo,
  Config,
} from "@/interfaces/resbancario";
import { Cuenta } from "@/interfaces/cuentas";
import { Op } from "@/modules/ops/interfaces";
import { Empresa } from "@/interfaces/empresas";
import { Concepto, Alicuota } from "@/modules/afip/afip";
import { Imputacion } from "./config";
import ImputacionResumen from "./ImputacionResumen.vue";
import Asiento from "../widgets/Asiento.vue";
export default Vue.extend({
  data() {
    return {
      // Este campo es para evitar que el ususario haga dos clicks y registre
      // dos operaciones. La primera vez que mando el request, dejo grabado
      // el ID que generé. Este va a ser el ID de la fact
      resumen: {
        ID: null,
        Empresa: null,
        Config: null,
        Desde: null,
        Hasta: null,
        Persona: null,
        PersonaNombre: "",
        Sucursal: null,
        SucursalNombre: "",
        Partidas: [],
        Imputaciones: [],
        CreatedAt: null,
      } as Resumen,

      configs: [] as Config[],
      archivo: null as Blob | null,
      pasos: ["Datos generales", "Partidas", "Confirmación"],

      // Confirmación
      opsCalculadas: [] as Op[],
      opsGeneradas: [] as Op[],

      localBus: new Vue(),
      cargando: 0 as number,
    };
  },
  created() {
    document.title = "Resumen bancario";
    this.hooks();

    this.resumen.Empresa = this.$store.state.empresas.seleccionada;

    if (this.$route.query.id) {
      this.getFact(this.$route.query.id as string);
    }
  },
  methods: {
    // Trae la fact con el ID ingresado
    getFact(id: string) {
      this.cargando++;
      axios
        .post("/backend/resbancario/one", { ID: id })
        .then((res) => {
          this.resumen = res.data;
          this.getConfigs();
          this.cargando--;
        })
        .catch((err) => {
          eventBus.$emit("error", err);
          this.cargando--;
        });
      axios
        .post("/backend/ops/buscar", { TranID: id })
        .then((res) => {
          this.opsGeneradas = res.data;
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        });
    },
    procesarCSV() {
      let reader = new FileReader();

      reader.onloadend = () => {
        let base64String = "";
        if (reader.result) {
          base64String = (reader.result as string)
            .replace("data:", "")
            .replace(/^.+,/, "");
        }
        console.log(base64String);
        axios
          .post("/backend/resbancario/leer_csv", {
            Config: this.resumen.Config,
            Archivo: base64String,
          })
          .then((res) => {
            this.resumen.Partidas = res.data.Partidas;
            this.determinarDesdeHasta();
            this.opsCalculadas = res.data.Ops;
          })
          .catch((err) => {
            eventBus.$emit("error", err);
          });
      };
      if (this.archivo) {
        reader.readAsDataURL(this.archivo);
      }
    },
    eliminar() {
      this.cargando++;
      axios
        .post("/backend/resbancario/delete", { ID: this.resumen.ID })
        .then(() => {
          this.$router.go(-1);
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },

    regrabar() {
      this.cargando++;
      axios
        .post("/backend/resbancario/update", this.resumen)
        .then(() => {
          this.$router.go(-1);
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },
    determinarDesdeHasta() {
      if (!this.resumen) {
        return;
      }
      if (!this.resumen.Partidas) {
        return;
      }
      if (this.resumen.Partidas.length) {
        let ff = [];
        for (let v of this.resumen.Partidas) {
          ff.push(v.Fecha);
        }
        ff.sort();
        this.resumen.Desde = ff[0];
        this.resumen.Hasta = ff[ff.length - 1];
      }
    },
    // Le fija al backend la imputación para este tipo de movimiento
    fijarMovimiento(partida: PartidaImputada) {
      this.cargando++;
      axios
        .post("/backend/resbancario/fijar_movimiento", {
          Config: this.resumen.Config,
          Imputacion: partida,
          Partidas: this.resumen.Partidas,
        })
        .then((res) => {
          this.resumen.Partidas = res.data;
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },
    confirmar() {
      if (!this.resumen) {
        return;
      }
      this.cargando++;
      axios
        .post("/backend/resbancario/create", this.resumen)
        .then((res) => {
          this.opsGeneradas = res.data.Ops;
          this.opsCalculadas = [];
          this.$router.go(-1);
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },
    getConfigs() {
      // Si es es CREATE traigo todas por grupo
      if (this.resumen.Empresa) {
        // Pido las transacciones
        this.cargando++;
        axios
          .post("/backend/resbancario_config/many", {
            Empresa: this.resumen.Empresa,
          })
          .then((res) => {
            this.configs = res.data;
            if (this.configs && this.configs.length == 1) {
              // console.log(this.configs[0].ID);
              // console.log(this.resumen.Config);
              this.resumen.Config = this.configs[0].ID;
            }
          })
          .catch((err) => {
            eventBus.$emit("error", err);
          })
          .finally(() => this.cargando--);
      }
    },
    nombreCuenta(id: string | null): string {
      if (!id) {
        return "";
      }
      if (id == "0") {
        return "Sin definir";
      }
      let cta = this.$store.getters["cuentas/porID"](id);
      if (cta) {
        return cta.Nombre;
      }
      return id;
    },

    hooks() {
      // Imputación modificada
      this.localBus.$on("imputacionModificada", (partida: PartidaImputada) => {
        this.fijarMovimiento(partida);
      });
    },
    mostrarAsiento(id: string) {
      // Operación nueva
      if (this.esNuevo) {
        let op = this.opsCalculadas.find((item) => item.ID == id);
        if (!op) {
          return;
        }
        this.$buefy.modal.open({
          parent: this,
          component: Asiento,
          hasModalCard: true,
          trapFocus: true,
          fullScreen: true,
          scroll: "clip",
          props: {
            partidas: op.PartidasContables,
          },
        });
      }
      if (this.opsGeneradas.length) {
        axios
          .post("/backend/ops/partidas", { ID: id })
          .then((res) => {
            this.$buefy.modal.open({
              parent: this,
              component: Asiento,
              hasModalCard: true,
              trapFocus: true,
              fullScreen: true,
              scroll: "clip",
              props: {
                partidas: res.data,
              },
            });
          })
          .catch((err) => {
            eventBus.$emit("error", err);
          });
      }
    },
    // Fija en el backend la imputación para 'movID'
    asignar(itemID: number) {
      let mod = this.resumen.Partidas.find((x) => x.Item == itemID);
      if (!mod) {
        console.error("no se pudo encontrar item == ${item}", itemID);
      }
      const imp = new Imputacion();
      Object.assign(imp, mod);
      this.$buefy.modal.open({
        parent: this,
        component: ImputacionResumen,
        hasModalCard: true,
        trapFocus: true,
        scroll: "clip",
        canCancel: false,
        props: {
          partida: imp,
          bus: this.localBus,
        },
      });
    },

    alicuotaNombre(id: string): string {
      const alic = this.$store.getters["iva/alicuotaPorID"](id);
      if (!alic) {
        return id;
      }
      return alic.Nombre;
    },
    conceptoNombre(id: string): string {
      const v = this.$store.getters["iva/conceptoPorID"](id);
      if (!v) {
        return id;
      }
      return v.Nombre;
    },
  },
  computed: {
    empresas(): Empresa[] {
      return this.$store.getters["empresas/permitidas"];
    },
    alicuotas(): Alicuota[] {
      return this.$store.getters["iva/alicuotas"];
    },
    conceptos(): Concepto[] {
      return this.$store.getters["iva/conceptos"];
    },
    titulo(): string {
      if (this.esNuevo) {
        return "Nuevo resumen bancario";
      }
      return "Resumen bancario";
    },
    esNuevo(): boolean {
      if (!this.$route.query.id) {
        return true;
      }
      return false;
    },
    arribaOk(): boolean {
      if (this.resumen.Config) {
        return true;
      }
      return false;
    },
    partidasAgrupadas(): Grupo[] {
      let m = new Map();
      for (let v of this.resumen.Partidas) {
        let anterior = m.get(v.Cuenta);
        if (!anterior) {
          anterior = [];
        }
        anterior.push(v);
        m.set(v.Cuenta, anterior);
      }
      console.log(m);
      let out: Grupo[] = [];
      for (let [k, v] of m) {
        let grupo = {
          Cuenta: k,
          Partidas: v,
        };
        out.push(grupo);
      }
      out.sort((a, b) => {
        return new Intl.Collator("ar").compare(a.Cuenta, b.Cuenta);
      });
      return out;
    },

    cuentasValores(): Cuenta[] {
      return this.$store.getters["cuentas/valores"];
    },
    opsGeneradasComputed(): Op[] {
      if (this.opsGeneradas) {
        return this.opsGeneradas;
      }
      return [];
    },
    opsCalculadasComputed(): Op[] {
      if (this.opsCalculadas) {
        return this.opsCalculadas;
      }
      return [];
    },
    confirmacionNombre(): string {
      if (this.esNuevo) {
        return "Confirmación";
      }
      return "Comprobantes";
    },
  },
  watch: {
    "resumen.Empresa"() {
      if (this.resumen.Empresa) {
        this.getConfigs();
      }
    },
  },
});
</script>
<style lang="scss" scoped>
div#wrapper {
  // display: inline-block;
  max-width: 1200px;
  margin: auto;
}

ul.listado-unicidades {
  font-size: 0.8em;
  font-style: italic;
  li {
    margin-left: 1.5rem;
    list-style-type: circle;
  }
}
div.datos-persona {
  margin-top: 15px;
  display: flex;
  div.item {
    border: 1px solid lightblue;
    border-radius: 6px;
    padding: 10px;
  }
}
span.file-name {
  width: 1400px;
}
</style>
