<template>
	<div>
		<h1 class="title">Asiento de cierre</h1>
		<p>Este proceso realiza un asiento de cierre automático. Luego de registrado, 
		todas las cuentas del estado de situación patrimonial deberían estar en cero.</p>
		<p>Fecha desde corresponde al primer día del ejercicio que se quiere refundir.</p>
		<p>Fecha hasta corresponde al último día del ejercicio que se quiere refundir.</p>

		<!-- EMPRESA -->
		<b-field label="Empresa" horizontal class="item">
			<b-select v-model="empresa" placeholder="Todas" expanded>
				<option :value="null">Todas</option>
				<option v-for="e in empresas" :value="e.ID" :key="e.ID">
					{{ e.Nombre }}
				</option>
			</b-select>
		</b-field>

		<div class="item">
			<b-field label="Desde" horizontal>
				<b-input type="date" v-model="desde" custom-class="fch" />
			</b-field>

			<b-field label="Hasta" horizontal>
				<b-input type="date" v-model="hasta" custom-class="fch" />
			</b-field>
		</div>

		<b-field>
			<b-button @click="vistaPrevia()" class="is-info">Vista previa</b-button>
		</b-field>

		<tabla>
			<thead>
				<th>N</th>
				<th>Cuenta</th>
				<th>Cuenta nombre</th>
				<th>Centro</th>
				<th>Centro nombre</th>
				<th>Debe</th>
				<th>Haber</th>
			</thead>
			<tbody>
				<tr v-for="v in items" :key="v.Item">
					<td>{{v.Item}}</td>
					<td>{{v.Cuenta}}</td>
					<td>{{v.CuentaNombre}}</td>
					<td>{{v.Centro}}</td>
					<td>{{v.CentroNombre}}</td>
					<td align="right">{{v.Monto | debe}}</td>
					<td align="right">{{v.Monto | haber}}</td>
				</tr>
			</tbody>
			<tfoot>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td align="right">{{totalDebe | enPesos}}</td>
					<td align="right">{{totalHaber | enPesos}}</td>
			</tfoot>
		</tabla>


		<!-- Config -->
		<b-field>
			<b-field label="Configuración" class="column">
				<b-select v-model="config" expanded>
					<option :value="null">Seleccione</option>
					<option v-for="v in configs" :key="v.ID" :value="v.ID">
						{{ v.Nombre }}
					</option>
				</b-select>
			</b-field>

			<!-- Esquema -->
			<b-field label="Esquema" class="column">
				<b-select v-model="esquema" expanded>
					<option :value="null">Seleccione</option>
					<option v-for="v in esquemas" :key="v.ID" :value="v.ID">
						{{ v.Nombre }}
					</option>
				</b-select>
			</b-field>
		</b-field>
		<b-field>
			<b-button class="is-success" @click="confirmar()">Confirmar</b-button>
		</b-field>

    <b-loading
      is-full-page
			:active="cargando > 0"
    ></b-loading>
	</div>
</template>

<script lang="ts">
import Vue from 'vue'
import axios from "axios"
import eventBus from "@/eventBus"
import { Partida } from "../partida"
import { Empresa } from "@/interfaces/empresas";
import { Config, Esquema } from "@/interfaces/minuta";
export default Vue.extend({
	data() {
		return {
			empresa: null as number | null,
			desde: null as string | null,
			hasta: null as string | null,
			items: [] as Partida[],

			config: null as string | null,
			esquema: null as string | null,

			totalDebe: 0 as number,
			totalHaber: 0 as number,
			cargando: 0 as number,

		}
	},
	created() {
		document.title = "Cierre"
    this.empresa = this.$store.state.empresas.seleccionada;
	},
	methods: {
		vistaPrevia() {
			this.cargando++
			axios.post("/backend/cierre/vista_previa", {
				Empresa: this.empresa,
				Desde: this.desde,
				Hasta: this.hasta,
			})
			.then(res => {
				const vv = [] as Partida[]
				this.totalDebe = 0	
				this.totalHaber = 0	
				let i = 0
				for (const v of res.data) {
					i++
					v.Item = i
					v.CuentaNombre = this.nombreCuenta(v.Cuenta)
					v.CentroNombre = this.nombreCentro(v.Centro)
					vv.push(v)
					if (v.Monto > 0) {
						this.totalDebe += v.Monto
					} else {
						this.totalHaber += -v.Monto
					}
				}
				this.items = vv
			})
			.catch(err => eventBus.$emit("error", err))
			.finally(() => this.cargando--)
		},
		confirmar() {

			this.cargando++
			axios.post("/backend/cierre/confirmar", {
				Empresa: this.empresa,
				Desde: this.desde,
				Hasta: this.hasta,
				Config: this.config,
				Esquema: this.esquema,
			})
			.then(res => {
				eventBus.$emit("notif", `Se ha creado la minuta `+ res.data.ID)
			})
			.catch(err => eventBus.$emit("error", err))
			.finally(() => this.cargando--)
		},
		nombreCuenta(id: string): string {
			if (id == "0") {
				return "-";
			}
			let cta = this.$store.getters["cuentas/porID"](id);
			if (!cta) {
				return id;
			}
			return cta.Nombre;
		},
		nombreCentro(id: string | null) {
			if (!id) {
				return id;
			}
			let centro = this.$store.getters["centros/porID"](id);
			if (!centro) {
				return id;
			}
			return centro.Nombre;
		},
	},
	computed: {
		empresas(): Empresa[] {
			return this.$store.getters["empresas/permitidas"];
		},
		configs(): Config[] {
			if (!this.empresa) {
				return [];
			}
			// Quito las minutas del sistema (refundición, cierre y apertura)
			const todas: Config[] = this.$store.getters["minuta/configPorEmpresa"](
				this.empresa
			)
			if (!todas) {
				return []
			};
			return todas.filter(x => x.Tipo == "2") 
		},
		// Una vez que elijo la empresa, me debe filtrar las operaciones
		// de la empresa seleccionada.
		// Una vez que se determina la transacción, debe mostrarme los
		// esquemas que utilizan esa transacción.
		esquemas(): Esquema[] {
			if (!this.config) {
				return [];
			}
			return this.$store.getters["minuta/esquemasPorConfig"](
				this.config
			);
		},
	},
	watch: {
		configs() {
			if (this.configs.length == 1) {
				this.config = this.configs[0].ID
			}
		},
		esquemas() {
			if (this.esquemas.length == 1) {
				this.esquema = this.esquemas[0].ID
			}
		}
	}

})
</script>
