<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:o="urn:schemas-microsoft-com:office:office"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="x-apple-disable-message-reformatting" />
    <title></title>

    <style>
      table,
      td,
      div,
      h1,
      p {
        font-family: Arial, sans-serif;
      }
      @media screen and (max-width: 530px) {
        .unsub {
          display: block;
          padding: 8px;
          margin-top: 14px;
          border-radius: 6px;
          background-color: #555555;
          text-decoration: none !important;
          font-weight: bold;
        }
        .col-lge {
          max-width: 100% !important;
        }
      }
      @media screen and (min-width: 531px) {
        .col-sml {
          max-width: 27% !important;
        }
        .col-lge {
          max-width: 73% !important;
        }
      }
    </style>
  </head>
  <body
    style="
      margin: 0;
      padding: 0;
      word-spacing: normal;
      background-color: #eeeeee;
    "
  >
    <div
      role="article"
      aria-roledescription="email"
      lang="en"
      style="
        text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        background-color: #eeeeee;
      "
    >
      <table
        role="presentation"
        style="width: 100%; border: none; border-spacing: 0"
      >
        <tr>
          <td align="center" style="padding: 0">
            <table
              role="presentation"
              style="
                width: 94%;
                max-width: 600px;
                border: none;
                border-spacing: 0;
                text-align: left;
                font-family: Arial, sans-serif;
                font-size: 16px;
                line-height: 22px;
                color: #363636;
              "
            >
              <tr>
                <td
                  style="
                    padding: 40px 30px 30px 30px;
                    text-align: center;
                    font-size: 24px;
                    font-weight: bold;
                  "
                >
                  <a
                    href="http://www.example.com/"
                    style="text-decoration: none"
                    ><img
                      src="https://ss-static-01.esmsv.com/id/1717/galeriaimagenes/obtenerimagen/?width=165&amp;height=165&amp;id=sitio_logo&amp;ultimaModificacion=2022-11-18+21%3A46%3A16"
                      width="130"
                      alt="Logo"
                      style="
                        width: 130;
                        max-width: 80%;
                        height: auto;
                        border: none;
                        text-decoration: none;
                        color: #ffffff;
                      "
                  /></a>
                </td>
              </tr>
              <tr>
                <td style="padding: 30px; background-color: #ffffff">
                  <h1
                    style="
                      margin-top: 0;
                      margin-bottom: 35px;
                      font-size: 26px;
                      line-height: 32px;
                      font-weight: bold;
                      letter-spacing: -0.02em;
                    "
                  >
                    Comprobantes generados
                  </h1>
									<p style="margin: 0">En el adjunto se encuentra <strong>{{.Comprobante}}</strong> generada hoy a nombre de {{.PersonaNombre}}</p>
                  <p style="margin-top: 20px; font-size: 0.8em">Este mensaje fue generado automáticamente, no responder.</p>
                </td>
              </tr>
              <tr>
                <td style="padding: 30px; background-color: #ffffff">
                  <p style="margin: 0"></p>
                </td>
              </tr>
              <tr>
                <td
                  style="
                    padding: 30px;
                    text-align: center;
                    font-size: 12px;
                    background-color: #FDFDFD;
                    color: #cccccc;
                  "
                >
                  <p style="margin: 0 0 8px 0">
                    <!-- <a
                      href="http://www.facebook.com/"
                      style="text-decoration: none"
                      ><img
                        src="https://assets.codepen.io/210284/facebook_1.png"
                        width="40"
                        height="40"
                        alt="f"
                        style="display: inline-block; color: #cccccc"
                    /></a>
                    <a
                      href="http://www.twitter.com/"
                      style="text-decoration: none"
                      ><img
                        src="https://assets.codepen.io/210284/twitter_1.png"
                        width="40"
                        height="40"
                        alt="t"
                        style="display: inline-block; color: #cccccc"
                    /></a>
                  </p> -->
                  <a href="http://rrtvtecnica.com" style="margin: 0; font-size: 14px; line-height: 20px">
                    Sitio WEB<br />
                  </p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
