<template>
	<div>
		<h1 class="title">Ajuste por inflación</h1>
		<div class="box">
			<b-field label="Empresa">
				<b-input v-model="empresaNombre" disabled></b-input>
			</b-field>

			<b-field label="Configuración">
				<b-input v-model="configNombre" disabled></b-input>
			</b-field>
			<b-field>
				<b-field label="Desde">
					<b-input v-model="desde" type="month" custom-class="fch" disabled /> 
				</b-field>
				<b-field label="Hasta">
					<b-input v-model="hasta" type="month" custom-class="fch" disabled/> 
				</b-field>
			</b-field>
		</div>

		<div v-if="row">
			<table class="table is-bordered">
				<thead>
					<th align="center">Fecha</th>
					<th align="center">Comprobante</th>
					<th align="center">Número</th>
					<th align="center">Partidas</th>
				</thead>
				<tbody>
					<tr v-for="v in row.Ops" :key="v.ID">
						<td>{{ v.Fecha | enFecha}}</td>
						<td>{{ v.Nombre }}</td>
						<td>{{ v.NCompStr }}</td>
						<td align="right">{{v.CantidadPartidas}}</td>
						<td><b-button icon-left="magnify" @click="mostrarAsiento(v.ID)"/></td>
					</tr>

				</tbody>
			</table>

		</div>
		<b-button class="is-danger" @click="eliminar()">Eliminar</b-button>
    <b-loading
      is-full-page
      :active="cargando != 0"
      :can-cancel="true"
    ></b-loading>
	</div>
</template>


<script lang="ts">
import Vue from 'vue'
import axios from "axios"
import eventBus from "@/eventBus"
import Asiento from "@/components/widgets/Asiento.vue";
export default Vue.extend({
	created() {
		document.title = "Ajuste por infación"
		this.fetchAjuste()
	},
	data() {
		return {
			row: {} as any,
			empresaNombre: "" as string,
			configNombre: ""  as string,
			desde: "" as string,
			hasta: "" as string,
			cargando: 0 as number,
		}
	},
	methods: {
		fetchAjuste() {
			this.cargando++
			axios.
				post("/backend/inflacion/read_one", {
					ID: this.$route.query.id,
				}).
				then(res => {
					this.row = res.data
					let e = this.$store.getters["empresas/porID"](this.row.Empresa)
					if (e) {
						this.empresaNombre = e.Nombre
					}
					this.fetchConfig()
					this.desde = res.data.Desde
					this.hasta = res.data.Hasta
				}
				).
				catch(err => eventBus.$emit("error", err)).
				finally(() => this.cargando--)
		},
		fetchConfig() {
			this.cargando++
			axios.
				post("/backend/inflacion/configs_read_one", {
					ID: this.row.Config,
				}).
				then(res => {
					this.configNombre = res.data.Nombre
				}).
				catch(err => eventBus.$emit("error", err)).
				finally(() => this.cargando--)
		},
    eliminar() {
      this.$buefy.dialog.confirm({
        message: "¿Está seguro que desea eliminar este ajuste? (todos los comprobantes asociados serán eliminados)",
        confirmText: "Borrar",
        type: "is-danger",
        hasIcon: true,
        onConfirm: () => {
          this.cargando++
          axios
            .post("/backend/inflacion/delete", { ID: this.row.ID })
            .then(() => this.$router.go(-1))
            .catch(err => eventBus.$emit("error", err))
            .finally(() => this.cargando--);
        }
      });
    },
		mostrarAsiento(id: string) {
			this.cargando++;
			axios
				.post("/backend/ops/partidas", { ID: id })
				.then((res) => {
					this.$buefy.modal.open({
						parent: this,
						component: Asiento,
						hasModalCard: true,
						trapFocus: true,
						fullScreen: true,
						scroll: "clip",
						props: {
							partidas: res.data,
							opID: id,
						},
					});
					this.cargando--;
				})
				.catch((err) => {
					eventBus.$emit("error", err);
					this.cargando--;
				});
		},
	},
	computed: {
		esNuevo(): boolean {
			if (this.$route.query.id) {
				return false 
			}
			return true
		}
	}
})
</script>

<style lang="scss" scoped>
div.flex {
	display: flex;
	justify-content: space-between;
}
table td {
	padding: 3px 5px;
}
table.nombre {
	max-width: 10em;
}
table.inner {
	position: relative;
	width: 100%;
	td {
		padding: 2px 2px 2px 2px;
		border: none;
		&.fecha{
			width: 4em;
		}
		&.tipo-comp{
			font-weight: bolder; 
			width: 1.5em;
		}
		&.ncomp{
			width: 8em;
		}

	}
	border: none;
}
</style>
