<template>
  <div>
    <h1 class="title">Inflación / configuración</h1>
    <b-field label="Empresa">
      <b-select v-model="config.Empresa" expanded>
        <option v-for="v in empresas" :value="v.ID" v-bind:key="v.ID">
          {{ v.Nombre }}
        </option>
      </b-select>
    </b-field>

    <b-field label="Nombre">
      <b-input v-model="config.Nombre" />
    </b-field>
    <b-field label="Comprobante">
      <b-select v-model="config.Comp">
        <option :value="null">Seleccione</option>
        <option v-for="c in comprobantes" :value="c.ID" v-bind:key="c.ID">
          {{ c.Nombre }} (punto de venta {{ c.PuntoDeVenta }})
        </option>
      </b-select>
    </b-field>

    <b-field label="Cuenta RECPAM">
      <b-select v-model="config.CuentaRecpam">
        <option>Seleccione</option>
        <option v-for="v in cuentas" :key="v.ID" :value="v.ID">
          {{ v.Nombre }} ({{ v.Codigo }})
        </option>
      </b-select>
    </b-field>

    <b-field label="Índice a utilizar">
      <b-select v-model="config.Indice">
        <option>IPC</option>
      </b-select>
    </b-field>

    <b-button @click="guardar()" class="is-success">Guardar</b-button>
    <b-button @click="eliminar()" class="is-danger">Eliminar</b-button>
    <b-loading is-full-page :active="cargando != 0"></b-loading>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import axios from "axios";
import eventBus from "@/eventBus";
import { Config } from "../config";
import { Comp } from "@/interfaces/comps";
import { Empresa } from "@/interfaces/empresas";
import { Cuenta } from "@/interfaces/cuentas";
export default Vue.extend({
  data() {
    return {
      config: {
        ID: null,
        Empresa: null,
        Comp: null,
        CuentaRecpam: null,
        Indice: "",
        Nombre: "",
        CreatedAt: null,
        UpdatedAt: null,
      } as Config,

      empresa: null as string | null,
      cargando: 0 as number,
      comprobantes: [] as Comp[],
    };
  },
  created() {
    if (this.$route.query.id) {
      this.fetch();
    } else {
      if (this.$store.state.empresas.seleccionada) {
        this.empresa = this.$store.state.empresas.seleccionada;
        this.fetchComprobantes();
      }
    }
    document.title = "Inflación config";
  },

  methods: {
    fetch() {
      this.cargando++;
      axios
        .post("/backend/inflacion/configs_read_one", {
          ID: this.$route.query.id,
        })
        .then((res) => {
          this.config = res.data;
        })
        .catch((err) => eventBus.$emit("error", err))
        .finally(() => this.cargando--);
    },
    guardar() {
      if (this.esNuevo) {
        this.guardarNuevo();
      } else {
        this.guardarModificar();
      }
    },
    guardarNuevo() {
      this.cargando++;
      axios
        .post("/backend/inflacion/configs_create", this.config)
        .then(() => {
          this.volver();
        })
        .catch((err) => eventBus.$emit("error", err))
        .finally(() => this.cargando--);
    },
    guardarModificar() {
      this.cargando++;
      axios
        .post("/backend/inflacion/configs_update", this.config)
        .then(() => {
          this.volver();
        })
        .catch((err) => eventBus.$emit("error", err))
        .finally(() => this.cargando--);
    },
    eliminar() {
      this.$buefy.dialog.confirm({
        title: "Borrar",
        message: "¿Está seguro que desea <b>borrar</b> la configuración? ",
        confirmText: "Borrar",
        type: "is-danger",
        hasIcon: true,
        onConfirm: () => {
          this.cargando++;
          axios
            .post("/backend/inflacion/configs_delete", {
              ID: this.config.ID,
            })
            .then(() => {
              this.cargando--;
              this.$router.go(-1);
            })
            .catch((err) => {
              this.cargando--;
              eventBus.$emit("error", err);
            });
        },
      });
    },
    fetchComprobantes() {
      this.cargando++;
      axios
        .get("/backend/comprobantes", {
          params: { Empresa: this.config.Empresa },
        })
        .then((res) => {
          if (res.data) {
            res.data.sort((a: Comp, b: Comp) => {
              return new Intl.Collator("ar").compare(a.Nombre, b.Nombre);
            });
          }
          this.comprobantes = res.data;
        })
        .catch((err) => eventBus.$emit("error", err))
        .finally(() => this.cargando--);
    },
    volver() {
      this.$router.go(-1);
    },
  },
  computed: {
    empresas(): Empresa[] {
      return this.$store.getters["empresas/permitidas"];
    },
    cuentas(): Cuenta[] {
      return this.$store.getters["cuentas/imputables"];
    },
    esNuevo(): boolean {
      if (this.$route.query.id) {
        return false;
      }
      return true;
    },
  },
  watch: {
    "config.Empresa"() {
      this.fetchComprobantes();
    },
  },
});
</script>
