
<template>
  <div>
    <div class="titulo-de-pantalla">
      <h1>Inflacion / Configuraciones</h1>
      <puntitos :size="35">
        <ul>
          <li @click="$router.push({ name: 'inflacionConfig' })">Nueva configuración</li>
        </ul>
      </puntitos>
    </div>

		<b-field label="Empresa">
			<b-select v-model="empresa" expanded>
				<option
					v-for="v in empresas"
					:value="v.ID"
					v-bind:key="v.ID"
				>
					{{ v.Nombre }}
				</option>
			</b-select>
		</b-field>

    <tabla v-if="configs.length > 0">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Creación</th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="v in configs"
          v-bind:key="v.ID"
          class="link"
          @click="profundizar(v.ID)"
        >
          <td>{{ v.ID }}</td>
          <td>{{ v.Nombre }}</td>
					<td>{{ v.CreatedAt |enFechaHora}}</td>
        </tr>
      </tbody>
    </tabla>
    <p v-else>No hay configuraciones</p>
		<b-button class="is-info" @click="actualizar()">Buscar</b-button>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import axios from "axios";
import Puntitos from "@/components/widgets/Puntitos.vue"
import eventBus from "@/eventBus";
import {Config} from "../config"
import { Empresa } from "@/interfaces/empresas"
export default Vue.extend({
  data() {
    return {
      configs: [] as Config[],
			empresa: null as string | null,

			cargando: 0 as number,
    };
  },
  components: {
    Puntitos
  },
  created() {
		document.title = "Inflacion configs"
    if (this.$store.state.empresas.seleccionada) {
      this.empresa = this.$store.state.empresas.seleccionada;
			this.actualizar();
		}
  },
  methods: {
    actualizar() {
			this.cargando++
      axios
				.post("/backend/inflacion/configs_read_many", {Empresa: this.empresa})
        .then(response => {
          this.configs = response.data;
        })
        .catch(err => eventBus.$emit("error", err))
				.finally(() => this.cargando--);
    },
    profundizar(id: string) {
      this.$router.push({
        name: "inflacionConfig",
        query: { id: id }
      });
    }
  },
	computed: {
		empresas(): Empresa[] {
			return this.$store.getters["empresas/permitidas"];
		},
	}
});
</script>
