<template>
	<div>
		<h1 class="title">Ajuste por inflación</h1>
		<b-button icon-left="cog" @click="$router.push({name: 'inflacionConfigs'})"></b-button>
		<div class="box">
			<b-field label="Empresa">
				<b-select v-model="empresa" expanded>
					<option
						v-for="v in empresas"
						:value="v.ID"
						v-bind:key="v.ID"
					>
						{{ v.Nombre }}
					</option>
				</b-select>
			</b-field>

			<b-field label="Configuración">
				<b-select
					v-model="config"
					expanded
				>
					<option :value="null">Seleccione</option>
					<option
						v-for="v in configs"
						:value="v.ID"
						v-bind:key="v.ID"
					>
						{{ v.Nombre }}
					</option>
				</b-select>
			</b-field>
			<b-field>
				<b-field label="Desde">
					<b-input v-model="desde" type="month" custom-class="fch" /> 
				</b-field>
				<b-field label="Hasta">
					<b-input v-model="hasta" type="month" custom-class="fch" /> 
				</b-field>
			</b-field>
			<b-button class="is-info" @click="previsualizar()">Previsualizar</b-button>
		</div>

		<div v-if="rows">
			<table class="table is-bordered">
				<thead>
					<th align="center">Fecha</th>
					<th align="center">Comprobante</th>
					<th align="center">Número</th>
					<th align="center">Partidas</th>
				</thead>
				<tbody>
					<tr v-for="v in rows" :key="v.ID">
						<td>{{v.Fecha | enFecha}}</td>
						<td>{{v.NComp}}</td>
						<td>{{v.Detalle}}</td>
						<td align="right">{{v.PartidasContables.length}}</td>
					</tr>

				</tbody>
			</table>
			<p>Aclaración: no corresponde hacer asiento del último mes porque el coefieciente es el mismo.</p>

			<b-button @click="confirmar()" class="is-success">Confirmar</b-button>
		</div>
    <b-loading
      is-full-page
      :active="cargando != 0"
      :can-cancel="true"
    ></b-loading>
	</div>
</template>


<script lang="ts">
import Vue from 'vue'
import axios from "axios"
import eventBus from "@/eventBus"
import { Empresa } from "@/interfaces/empresas";
import { Config } from "../config";
import { Minuta } from "@/interfaces/minuta";
export default Vue.extend({
	created() {
    if (this.$store.state.empresas.seleccionada) {
      this.empresa = this.$store.state.empresas.seleccionada;
    }
	document.title = "Ajuste por infación"
	},
	data() {
		return {
			empresa: null as null | string , 
			config: null as null | string,
			desde: null as string | null,
			hasta: null as string | null,
			rows: null as Minuta[] | null,

			configs: [] as Config[],
			cargando: 0 as number,
		}
	},
	methods: {
		previsualizar() {
			this.cargando++
			axios.
				post("/backend/inflacion/previsualizar", {
					Empresa: this.empresa,
					Desde: this.desde,
					Hasta: this.hasta,
					Config: this.config,
				}).
				then(res => this.rows = res.data).
				catch(err => eventBus.$emit("error", err)).
				finally(() => this.cargando--)
		},
		confirmar() {
			this.cargando++
			axios.
				post("/backend/inflacion/confirmar", {
					Empresa: this.empresa,
					Desde: this.desde,
					Hasta: this.hasta,
					Config: this.config,
				}).
				then(res => this.rows = res.data).
				catch(err => eventBus.$emit("error", err)).
				finally(() => this.cargando--)
		},
		fetchConfigs() {
			this.cargando++
			axios.
				post("/backend/inflacion/configs_read_many", {
					Empresa: this.empresa,
					Config: this.config,
				}).
				then(res => {
					this.configs = res.data
					if (this.configs.length == 1) {
						this.config = this.configs[0].ID
					}
				}).
				catch(err => eventBus.$emit("error", err)).
				finally(() => this.cargando--)
		},
	},
	computed:  {
		empresas(): Empresa[] {
			return this.$store.getters["empresas/permitidas"];
		},
	},
	watch: {
		empresa(val) {
			if (val) {
				this.fetchConfigs()
			}
		}
	}
})
</script>

<style lang="scss" scoped>
div.flex {
	display: flex;
	justify-content: space-between;
}
table td {
	padding: 3px 5px;
}
table.nombre {
	max-width: 10em;
}
table.inner {
	position: relative;
	width: 100%;
	td {
		padding: 2px 2px 2px 2px;
		border: none;
		&.fecha{
			width: 4em;
		}
		&.tipo-comp{
			font-weight: bolder; 
			width: 1.5em;
		}
		&.ncomp{
			width: 8em;
		}

	}
	border: none;
}
</style>
