
<template>
  <div>
    <div class="titulo-de-pantalla">
      <h1>Ajustes por inflación</h1>
    </div>

		<b-field label="Empresa">
			<b-select v-model="empresa" expanded>
				<option
					v-for="v in empresas"
					:value="v.ID"
					v-bind:key="v.ID"
				>
					{{ v.Nombre }}
				</option>
			</b-select>
		</b-field>

    <tabla v-if="ajustes.length > 0">
      <thead>
        <tr>
          <th>Desde</th>
          <th>Hasta</th>
          <th>Creación</th>
          <th>Usuario</th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="v in ajustes"
          v-bind:key="v.ID"
          class="link"
          @click="profundizar(v.ID)"
        >
          <td>{{ v.Desde | enMes }}</td>
          <td>{{ v.Hasta | enMes }}</td>
					<td>{{ v.CreatedAt |enFechaHora}}</td>
					<td>{{ v.Usuario}}</td>
        </tr>
      </tbody>
    </tabla>
    <p v-else>No hay ajustes</p>
		<b-button class="is-info" @click="actualizar()">Buscar</b-button>
		<b-button class="is-success" @click="nuevo()">Nuevo ajuste</b-button>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import axios from "axios";
import Puntitos from "@/components/widgets/Puntitos.vue"
import eventBus from "@/eventBus";
import { Empresa } from "@/interfaces/empresas"
import { Tran } from "../tran"
export default Vue.extend({
  data() {
    return {
      ajustes: [] as Tran[],
			empresa: null as string | null,

			cargando: 0 as number,
    };
  },
  components: {
    Puntitos
  },
  created() {
		document.title = "Inflación"
    if (this.$store.state.empresas.seleccionada) {
      this.empresa = this.$store.state.empresas.seleccionada;
			this.actualizar();
		}
  },
  methods: {
    actualizar() {
			this.cargando++
      axios
				.post("/backend/inflacion/read_many", {Empresa: this.empresa})
        .then(response => {
          this.ajustes = response.data;
        })
        .catch(err => eventBus.$emit("error", err))
				.finally(() => this.cargando--);
    },
    profundizar(id: string) {
      this.$router.push({
        name: "inflacion",
        query: { id: id }
      });
    },
    nuevo() {
      this.$router.push({
        name: "generarAjusteInflacion",
      });
    }
  },
	computed: {
		empresas(): Empresa[] {
			return this.$store.getters["empresas/permitidas"];
		},
	}
});
</script>
