<template>
  <div>
    <h1 class="title">Reconstrucción de saldos</h1>
    <b-field label="Empresa" horizontal>
      <b-select v-model="empresa">
        <option :value="null">Todas</option>
        <option v-for="v in empresas" :value="v.ID" :key="v.ID">{{
          v.Nombre
        }}</option>
      </b-select>
    </b-field>
    <b-field label="Cuenta contable" horizontal>
      <b-select v-model="cuenta">
        <option :value="null">Todas</option>
        <option v-for="v in cuentas" :value="v.ID" :key="v.ID">{{
          v.Nombre
        }}</option>
      </b-select>
    </b-field>
    <b-field horizontal>
      <b-button class="is-primary" @click="reconstruir()">Reconstruir</b-button>
    </b-field>
    <b-loading
      is-full-page
      :active.sync="cargando"
      :can-cancel="true"
    ></b-loading>
  </div>
</template>

<script>
import axios from "axios";
import eventBus from "@/eventBus.ts";
export default {
  data() {
    return {
      empresa: null,
      cuenta: null,

      cargando: false
    };
  },
	created() {
		document.title = "Reconstrucción saldos"
	},
  methods: {
    reconstruir() {
      this.cargando = true;
      axios
        .post("/backend/ops/reconstruir_saldos", {
          Empresa: this.empresa,
          Cuenta: this.cuenta
        })
        .then(() => {
          this.$buefy.dialog.alert({
            title: "Reconstrucción de saldos",
            message: "El proceso ha finalizado correctamente",
            ariaRole: "alertdialog",
            ariaModal: true
          });
          this.cargando = false;
        })
        .catch(err => {
          eventBus.$emit("error", err);
          this.cargando = false;
        });
    }
  },
  computed: {
    empresas() {
      return this.$store.getters["empresas/permitidas"];
    },
    cuentas() {
      return this.$store.getters["cuentas/imputables"];
    }
  }
};
</script>
