<template>
  <div class="modal-card">
    <header class="modal-card-head">
      <h1 class="modal-card-title">
        {{ titulo }}
      </h1>
    </header>
    <div class="modal-card-body">
			<b-field label="Nombre del atributo">
				<b-input v-model="valor" placeholder="Ej: Color, Tamaño, etc."  >
				</b-input>
			</b-field>
    </div>

    <footer class="modal-card-foot">
      <b-button class="is-primary" @click="guardar()">Guardar</b-button>
      <b-button @click="cerrar()">Cancelar</b-button>
      <b-button @click="eliminar()" class="is-danger" v-if="!esNuevo"
        >Eliminar</b-button
      >
    </footer>

    <b-loading
      is-full-page
      :active="cargando != 0"
      :can-cancel="true"
    ></b-loading>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  props: {
    att: {
			type: String,
      required: true,
    },
		bus: {
			type: Object,
			required: true,
		}
  },
  data() {
    return {
      valor: "" as string,
			cargando: 0 as number,
    };
  },
  created() {
		if (this.att != "") {
			this.valor = this.att
		}
	},
  methods: {
		guardar() {
			this.cargando++
			if (this.esNuevo) {
				this.bus.$emit("attAgregado", this.valor)
			} else {
				this.bus.$emit("attModificado", this.att, this.valor)
			}
			this.cerrar()
		},
		eliminar() {
      this.$buefy.dialog.confirm({
        message: "¿Está seguro que desea eliminar este atributo?",
        confirmText: "Eliminar",
        type: "is-danger",
        hasIcon: true,
        onConfirm: () => {
					this.bus.$emit("attEliminado", this.valor)
					this.cerrar()
        }
      });
		},
		cerrar() {
			(this.$parent as any).close()
		}
  },
  computed: {
    titulo(): string {
			if (this.esNuevo) {
				return "Nuevo atributo" 
			}
			return "Modificar atributo"
    },
		esNuevo():boolean {
			if (this.att) {
				return false 
			}
			return true
		}
  },
  watch: {
  }
});
</script>

<style scoped>
div.modal-card-body {
  overflow-y: scroll;
}
div#crud {
	margin-top: 1em;
}
</style>
