<template>
  <div class="modal-card">
    <header class="modal-card-header">
      <p class="modal-card-title">{{ titulo }}</p>
    </header>
    <section class="modal-card-body">
      <div>
        <b-field label="Nombre de la faceta">
          <b-input v-model="faceta.Nombre"></b-input>
        </b-field>
      </div>

      <div>
        <b-field label="Tipo de dato">
          <b-select v-model="faceta.Tipo">
            <option value="date">Fecha</option>
            <option value="d2">Número con dos decimales</option>
            <option value="int">Número entero</option>
            <option value="bool">Si / No</option>
            <option value="string">Texto</option>
          </b-select>
        </b-field>
      </div>
    </section>
    <footer class="modal-card-foot">
      <b-button @click="guardar()" class="is-primary">Guardar</b-button>
      <b-button @click="cerrar()">Cancelar</b-button>
    </footer>
  </div>
</template>

<script lang="ts">
import Vue from "vue"
export default Vue.extend({
  props: ["faceta", "i", "bus"],
  computed: {
    esNueva(): boolean {
      if (!this.i) {
        return true;
      }
      return false;
    },
    titulo(): string {
      if (this.esNueva) {
        return "Nueva faceta";
      }
      return "Modificar faceta";
    }
  },
  methods: {
    cerrar() {
      (this.$parent as any).close();
    },
    guardar() {
      if (this.esNueva) {
        this.guardarNueva();
      } else {
        this.guardarModificar();
      }
    },
    guardarNueva() {
      this.bus.$emit("facetaNueva", this.faceta);
      this.cerrar();
    },
    guardarModificar() {
      this.bus.$emit("facetaModificada", this.faceta, this.i);
      this.cerrar();
    }
  }
});
</script>
