<template>
  <li :style="indent" :class="{ esFolder: !node.Imputable }">
    <router-link
      v-if="!node.root"
      :to="{ name: 'productosCategoria', query: { id: node.ID } }"
    >
      <b-icon icon="folder" v-if="!node.Imputable"> </b-icon>
      <b-icon icon="square-small" v-else> </b-icon>
      {{ node.text }}
      <b-tooltip label="La categoría no tiene definida familia de productos">
        <b-icon icon="alert" v-if="!node.Familia && node.Imputable" />
      </b-tooltip>
    </router-link>

    <ul v-if="node.children && node.children.length">
      <node v-for="child in node.children" :node="child" :nivel="nivel + 1">
      </node>
    </ul>
  </li>
</template>

<script>
export default {
  name: "node",
  props: { node: Object, nivel: Number },
  computed: {
    indent() {
      return { transform: `translate(${this.nivel * 10}px)` };
    },
    tieneHijos() {
      return this.node.children && this.node.children.length;
    },
    rayita() {
      if (!this.tieneHijos) {
        return "- ";
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.esFolder {
  // font-weight: bolder;
  margin-top: 15px;
}
</style>
