<template>
  <div>
    <div class="titulo-de-pantalla">
      <h1>Categorías de productos</h1>
      <puntitos :size="35">
        <ul>
          <li @click="nueva()">Nueva categoría</li>
        </ul>
      </puntitos>
    </div>

    <div>
      <ul>
        <nodo-categoria :node="treeObject" :nivel="0"> </nodo-categoria>
      </ul>
    </div>
  </div>
</template>

<script>
import Puntitos from "../widgets/Puntitos.vue";
import NodoCategoria from "./NodoCategoria.vue";
import eventBus from "@/eventBus.ts";
import axios from "axios";
export default {
  components: {
    Puntitos,
    NodoCategoria
  },
  data() {
    return {
      categorias: [],
      tree: [],
      treeObject: { label: "Categorias", children: [], root: true }
    };
  },
  created() {
	document.title = "Categorías de productos"
    this.actualizar();
  },
  methods: {
    nueva() {
      this.$router.push({ name: "productosCategoria" });
    },
    actualizar() {
      axios
        .post("/backend/categorias/many", {})
        .then(res => {
          this.categorias = res.data;
          this.llenarTree();
        })
        .catch(err => {
          eventBus.$emit("error", err);
        });
    },
    profundizar(categoria) {
      this.$router.push({
        name: "productosCategoria",
        query: { id: categoria.ID }
      });
    },
    llenarTree() {
      // Creo trees con todas las categorias
      let cc = [];
      for (let v of this.categorias) {
        cc.push(this.crearItem(v));
      }

      cc.map(item => {
        if (item.PadreID == null) {
          return;
        }
        let padre = cc.find(encontrado => {
          return encontrado.ID == item.PadreID;
        });
        if (!padre) {
          console.error("no se controntró el nodo ID ", item.PadreID);
          console.log(JSON.stringify(cc));
          return;
        }

        padre.children.push(item);

        // Los ordeno por orden alfabético
        padre.children.sort((a, b) => {
          if (a.text > b.text) {
            return 1;
          } else {
            return -1;
          }
        });
      });
      // Agrego los nodos root
      let roots = cc.filter(item => item.PadreID == null);
      roots.sort((a, b) => {
        if (a.text > b.text) {
          return 1;
        } else {
          return -1;
        }
      });
      roots.map(item => this.tree.push(item));

      this.treeObject.children = this.tree;
    },
    crearItem(categoria) {
      let item = {
        ID: categoria.ID,
        Imputable: categoria.Imputable,
        text: categoria.Nombre,
        PadreID: categoria.PadreID,
        Familia: categoria.Familia
      };
      if (!categoria.Imputable) {
        item.children = [];
      }
      return item;
    }
  }
};
</script>
