<template>
  <div>
    <div class="titulo-de-pantalla">
      <h1>{{ titulo }}</h1>
      <puntitos :size="35">
        <ul>
          <li @click="eliminar()">Eliminar categoría</li>
        </ul>
      </puntitos>
    </div>

    <div class="box">
      <b-field label="Nombre de categoría" horizontal>
        <b-input v-model="cat.Nombre"> </b-input>
      </b-field>

      <b-field label="Sub-categoría de" horizontal>
        <b-select v-model="cat.PadreID">
          <option :value="null">Ninguna</option>
          <option v-for="v in catsNoImp" v-bind:key="v.ID" :value="v.ID">{{
            v.FullPath
          }}</option>
        </b-select>
      </b-field>

      <b-field horizontal label="¿Imputable?">
        <b-checkbox v-model="cat.Imputable"> </b-checkbox>
      </b-field>

      <b-field label="Familia" horizontal>
        <b-select v-model="cat.Familia">
          <option :value="null">Ninguna</option>
          <option v-for="v in familias" v-bind:key="v.ID" :value="v.ID">{{
            v.Nombre
          }}</option>
        </b-select>
      </b-field>

			<b-field label="Numeración" horizontal>
					<b-input placeholder="Ej: CMB-####" v-model="cat.Mascara">
				</b-input>	
			</b-field>
    </div>

    <div class="box" v-if="cat.Imputable">
      <h1>Facetas</h1>
      <tabla v-if="cat.Facetas && cat.Facetas.length">
        <thead>
          <th>Nombre</th>
          <th>Tipo de dato</th>
          <th></th>
        </thead>
        <tbody>
          <tr v-for="(v, i) in cat.Facetas" v-bind:key="v.ID">
            <td>{{ v.Nombre }}</td>
            <td>{{ nombreDelTipo(v.Tipo) }}</td>
            <td>
              <b-button @click="modificarFaceta(i)">Editar</b-button>
            </td>
            <td>
              <b-button @click="eliminarFaceta(v)">Eliminar</b-button>
            </td>
          </tr>
        </tbody>
      </tabla>
      <b-button @click="agregarFaceta()">Agregar</b-button>
    </div>

    <div class="botonera">
      <b-button type="is-primary" @click="guardar()">Guardar</b-button>
      <b-button @click="volver()">Cancelar</b-button>
    </div>
  </div>
</template>

<script lang="ts">
import Puntitos from "../widgets/Puntitos.vue";
import Faceta from "./Faceta.vue";
import eventBus from "@/eventBus";
import {Categoria} from "./categoria"
import Vue from "vue";
import axios from "axios";
export default Vue.extend({
  components: {
    Puntitos,
    Faceta
  },
  data() {
    return {
      cat: {
        ID: null as string |null,
        Nombre: "" as string,
        Imputable: false as boolean,
        PadreID: null as string | null,
        Facetas: [] as string[],
      } as Categoria,
      catsNoImp: [] as string[],
      localBus: new Vue(),
    };
  },
  created() {
	document.title = "Categorias de productos"
    // Pido las categorías padre

    this.catsNoImp = this.$store.state.productos.categorias.filter((item: Categoria) => {
      let noImputable = !item.Imputable;
      if (this.$route.query.id) {
        return noImputable && item.ID != this.$route.query.id;
      }
      return noImputable;
    });

    this.hooksFaceta();

    if (!this.esNuevo) {
      // Pido la categoría
      axios
        .post("/backend/categorias/one", { ID: this.$route.query.id })
        .then(res => {
          this.cat = res.data;
        })
        .catch(err => {
          eventBus.$emit("error", err);
        });
    }
  },
  methods: {
    guardar() {
      if (this.esNuevo) {
        this.guardarNuevo();
      } else {
        this.guardarModificar();
      }
    },

    guardarNuevo() {
      axios
        .post("/backend/categorias/create", this.cat)
        .then(() => {
          this.$router.go(-1);
        })
        .catch(err => {
          eventBus.$emit("error", err);
        });
    },
    guardarModificar() {
      axios
        .post("/backend/categorias/update", this.cat)
        .then(() => {
          this.$router.go(-1);
        })
        .catch(err => {
          eventBus.$emit("error", err);
        });
    },
    eliminar() {
      axios
        .post("/backend/categorias/delete", this.cat)
        .then(() => {
          this.$router.go(-1);
        })
        .catch(err => {
          eventBus.$emit("error", err);
        });
    },
    agregarFaceta() {
      let faceta = { ID: null, Nombre: null, Tipo: null };
      this.mostrarFaceta(faceta, null);
    },
    modificarFaceta(i: number) {
      let faceta = Object.assign({}, this.cat.Facetas[i]);
      this.mostrarFaceta(faceta, i);
    },
    eliminarFaceta(i: number) {
      this.$buefy.dialog.confirm({
        message: "¿Está seguro que desea borrar esta faceta?",
        onConfirm: () => this.cat.Facetas.splice(i, 1)
      });
    },
    mostrarFaceta(faceta: any, i: number | null) {
      this.$buefy.modal.open({
        parent: this,
        component: Faceta,
        hasModalCard: true,
        customClass: "custom-class custom-class-2",
        trapFocus: true,
        props: {
          faceta: faceta,
          bus: this.localBus,
          i: i
        }
      });
    },
    nombreDelTipo(tipo: string) {
      switch (tipo) {
        case "bool":
          return "Si / No";
        case "string":
          return "Texto";
        case "int":
          return "Número entero";
        case "d2":
          return "Número con dos decimales";
        case "date":
          return "Fecha";
      }
      return "TIPO NO IDENTIFICADO";
    },
    volver() {
      this.$router.go(-1);
    },
    hooksFaceta() {
      this.localBus.$on("facetaNueva", (faceta: any) => {
        if (this.cat.Facetas == null) {
          this.cat.Facetas = [];
        }
        this.cat.Facetas.push(faceta);
      });
      this.localBus.$on("facetaModificada", (faceta: any, i: number) => {
        this.cat.Facetas.splice(i, 1, faceta);
      });
    }
  },
  computed: {
    esNuevo() {
      if (this.$route.query.id == undefined) {
        return true;
      }
      return false;
    },
    titulo() {
      if (this.esNuevo) {
        return "Nueva categoría de producto";
      } else {
        return "Categoría de producto";
      }
    },
    familias() {
      return this.$store.getters["centros/familiasDeProductos"];
    }
  }
});
</script>
