<template>
  <div id="wrapper">
    <div class="titulo-de-pantalla">
      <h1>{{ titulo }}</h1>
      <puntitos :size="35">
        <ul>
          <li v-if="!esNuevo" @click="eliminar()">Eliminar producto</li>
        </ul>
      </puntitos>
      <b-button icon-left="currency-usd" class="is-info" @click="precios()"
        >Precios</b-button
      >
    </div>

    <div class="box">
      <h1>DATOS GENERALES</h1>
      <b-field label="Categoría" horizontal>
        <b-select v-model="producto.Categoria">
          <option :value="null">Seleccione</option>
          <option v-for="c in categorias" :value="c.ID" v-bind:key="c.ID">
            {{ c.FullPath }}
          </option>
        </b-select>
      </b-field>
      <b-field horizontal label="Código alfanumérico">
        <b-input v-model="producto.CodigoAlfanumerico" disabled />
      </b-field>
      <b-field horizontal label="Nombre ">
        <b-input type="text" v-model="producto.Nombre" />
      </b-field>
      <b-field horizontal label="Impresión">
        <b-input v-model="producto.NombreImpresion" />
      </b-field>
      <b-field label="Descripción" horizontal>
        <b-input type="textarea" v-model="producto.Descripcion"> </b-input>
      </b-field>
    </div>

    <!-- FACETAS -->
    <!-- <div class="box">
      <tabla>
        <thead>
          <th>Faceta</th>
          <th>Valor</th>
        </thead>
        <tbody>
          <tr v-for="v in facetasDisponibles">
            <td>{{ v.Nombre }}</td>
            <td>
              <b-input
                v-if="v.Tipo == 'string'"
                v-model="producto.Facetas[v.Nombre]"
              ></b-input>
              <b-input
                v-if="v.Tipo == 'int'"
                type="number"
                v-model="producto.Facetas[v.Nombre]"
              ></b-input>
              <b-input
                v-if="v.Tipo == 'd2'"
                type="number"
                v-model="producto.Facetas[v.Nombre]"
              ></b-input>
              <b-checkbox
                v-if="v.Tipo == 'bool'"
                v-model="producto.Facetas[v.Nombre]"
              ></b-checkbox>
              <b-datepicker
                v-if="v.Tipo == 'fecha'"
                v-model="producto.Facetas[v.Nombre]"
                editable
              ></b-datepicker>
            </td>
          </tr>
        </tbody>
      </tabla>
    </div> -->

    <div class="box">
      <h1>UNIDAD DE MEDIDA</h1>
      <b-field horizontal>
        <b-checkbox v-model="producto.EsUnCombo">¿Es un combo?</b-checkbox>
        <tabla
          v-if="
            producto.EsUnCombo &&
            producto.DetallesCombo &&
            producto.DetallesCombo.lenght
          "
        >
          <thead>
            <th>Producto</th>
            <th>Mostrar en factura</th>
            <th>Variable de ajuste precio</th>
            <th></th>
            <th></th>
          </thead>
          <tbody>
            <tr v-for="v in producto.DetallesCombo" v-bind:key="v.SkuID">
              <td>{{ v.Nombre }}</td>
              <td>{{ v.MostrarEnFactura }}</td>
              <td>{{ v / VariableAjustePrecio }}</td>
              <td><b-button icon-left="pencil-lead"></b-button></td>
              <td><b-button icon-left="">Borrar</b-button></td>
            </tr>
          </tbody>
        </tabla>
        <b-button
          v-if="producto.EsUnCombo"
          icon-left="plus-circle"
          @click="agregarSkuACombo()"
          >Agregar producto al combo</b-button
        >
      </b-field>
      <b-field horizontal>
        <b-tooltip
          position="is-top"
          multilined
          label="Si se tilda, implica que cada vez que se elija el producto se deberá determinar la cantidad. No correría por ejemplo para un producto que sea 'Intereses'."
        >
          <b-checkbox v-model="producto.Cuantificable">
            ¿Es cuantificable?
          </b-checkbox>
        </b-tooltip>
      </b-field>

      <div>
        <b-field
          label="Tipo de unidad de medida"
          horizontal
          v-if="producto.Cuantificable"
        >
          <b-select v-model="producto.TipoUM">
            <option :value="null">Seleccione</option>
            <option>Cantidad</option>
            <option>Distancia</option>
            <option>Peso</option>
            <option>Superficie</option>
            <option>Volumen</option>
          </b-select>
        </b-field>
        <b-field
          label="Envase"
          horizontal
          v-if="producto.Cuantificable && producto.TipoUM == 'Cantidad'"
        >
          <b-tooltip
            multilined
            label="Poner la descripción del envase a veces ayuda al usuario. Al momento de facturar tendrá en claro si está refiriéndose a Pallet, Caja, Bolsa o Sobre"
            v-if="producto.TipoUM == 'Cantidad'"
          >
            <b-input
              v-if="producto.TipoUM == 'Cantidad'"
              v-model="producto.Envase"
            >
            </b-input>
          </b-tooltip>
        </b-field>

        <b-field
          label="Unidad de medida"
          v-if="producto.TipoUM && producto.TipoUM != 'Cantidad'"
          horizontal
        >
          <b-select v-model="producto.UM">
            <option :value="null">Sin determinar</option>
            <option
              v-for="v in $store.getters['productos/umPorTipo'](
                producto.TipoUM
              )"
              v-bind:key="v.ID"
              :value="v.ID"
            >
              {{ v.Nombre }}
            </option>
          </b-select>
        </b-field>
      </div>

      <b-field horizontal>
        <b-tooltip
          multilined
          label="Si se tilda, hará controles de stock. No se utilizaría si se trata de un servicio."
        >
          <b-checkbox v-model="producto.Inventariable">
            ¿Es inventariable?
          </b-checkbox>
        </b-tooltip>
      </b-field>
    </div>

    <!-- ATRIBUTOS DE PRODUCTOS -->
    <div class="box">
      <h1>
        <b-tooltip
          multilined
          label="Estas son características del producto. Permiten cargarlas separadamente para mostrarlas de forma ordenada."
        >
          CARACTERÍSTICAS
        </b-tooltip>
      </h1>
      <ul>
        <li v-for="v in producto.AttsGenerales" v-bind:key="v.Key">
          <b>{{ v.Key }}: </b>
          <span v-if="v.String != null">{{ v.String }}</span>
          <span v-if="v.Bool != null">{{ v.Bool | siNo }}</span>
          <span v-if="v.Number != null">{{ v.Number }}</span>
        </li>
      </ul>
      <br />
      <div class="tile is-father" v-if="edicionAtts">
        <div class="columns">
          <div class="column">
            <b-field label="Nombre del atributo" class="tile is-child">
              <b-input
                v-model="atributoEnUso.Key"
                placeholder="Ej: Marca, Tamaño, Color, Procedencia, etc..."
              >
              </b-input>
            </b-field>
          </div>

          <b-field label="Tipo" class="column">
            <b-select v-model="atributoEnUso.Tipo" expanded>
              <option value="string">Texto</option>
              <option value="bool">Sí / No</option>
              <option value="number">Número</option>
            </b-select>
          </b-field>

          <b-field label="Valor" class="column">
            <b-input
              v-model="atributoEnUso.String"
              v-if="atributoEnUso.Tipo == 'string'"
              placeholder="Ej: Rojo, XL, Verde, China, etc."
            >
            </b-input>
            <b-checkbox
              v-model="atributoEnUso.Bool"
              v-if="atributoEnUso.Tipo == 'bool'"
            >
            </b-checkbox>
            <b-input
              type="number"
              v-model="atributoEnUso.Number"
              v-if="atributoEnUso.Tipo == 'number'"
            >
            </b-input>
          </b-field>
          <b-button
            icon-left="plus-circle"
            @click="agregarAtt()"
            style="vertical-align= bottom;"
            >Agregar atributo</b-button
          >
        </div>
      </div>
      <b-button left-icon="lead-pencil" @click="edicionAtts = !edicionAtts"
        ><span v-if="!edicionAtts">Editar</span>
        <span v-else>Finalizado</span></b-button
      >
    </div>

    <!-- VARIANTES -->
    <div class="box">
      <h1>
        <b-tooltip
          position="is-right"
          label="Las variantes permiten agregar especificaciones para un mismo producto. Por ejemplo, se puede cargar un producto llamado 'Zapatillas Nike Nightgaze', y luego dentro de las variantes poner los distintos talles y colores en que viene la misma."
        >
          VARIANTES
        </b-tooltip>
      </h1>
      <b-checkbox v-model="producto.TieneVariantes">
        ¿Utiliza variantes?
      </b-checkbox>
      <div id="variantes" v-if="producto.TieneVariantes">
        <tabla v-if="producto.Apertura.length">
          <thead>
            <th colspan="2">
              <b-tooltip
                position="is-right"
                multilined
                label="Son los que diferencian a las variantes. Por ejemplo 'Talle' y 'Color'."
              >
                Atributos de diferenciación
              </b-tooltip>
            </th>
          </thead>
          <tbody>
            <tr v-for="v in producto.Apertura" v-bind:key="v">
              <td @click="modificarAttVarianteModal(v)">{{ v }}</td>
            </tr>
            <!-- <tr> -->
            <!--   <td> -->
            <!--     <b-input -->
            <!--       v-model="varianteAAgregar" -->
            <!--       v-if="edicionAttDif" -->
            <!--       placeholder="Ej: Color, Tamaño, etc." -->
            <!--     ></b-input> -->
            <!--   </td> -->
            <!--   <td> -->
            <!--     <b-button -->
            <!--       v-if="edicionAttDif" -->
            <!--       icon-left="plus-circle" -->
            <!--       @click="agregarAtributo(varianteAAgregar)" -->
            <!--       >Agregar atributo</b-button -->
            <!--     > -->
            <!--   </td> -->
            <!-- </tr> -->
          </tbody>
        </tabla>
        <b-button @click="agregarAttVarianteModal()">Agregar</b-button>
        <!-- <th> -->
        <!--   <b-button -->
        <!--     icon-left="lead-pencil" -->
        <!--     @click="edicionAttDif = !edicionAttDif" -->
        <!--     ><span v-if="!edicionAttDif">Editar</span -->
        <!--     ><span v-else>Listo</span></b-button -->
        <!--   > -->
        <!-- </th> -->
        <div v-if="!esNuevo">
          <tabla v-if="Variantes.length > 0">
            <thead>
              <th>Codigo</th>
              <th v-for="v in producto.Apertura" v-bind:key="v">{{ v }}</th>
              <th>Precio</th>
            </thead>
            <tbody>
              <tr v-for="v in Variantes" v-bind:key="v.ID" class="link">
                <td @click="modificarVariante(v)">{{ v.Codigo }}</td>
                <td
                  v-for="ap in producto.Apertura"
                  v-bind:key="ap"
                  @click="modificarVariante(v)"
                >
                  {{ v.Atts[ap] }}
                </td>
                <td>
                  <b-button
                    icon-left="currency-usd"
                    @click="
                      $router.push({ name: 'precios', query: { sku: v.ID } })
                    "
                    title="Precios"
                  >
                  </b-button>
                </td>
              </tr>
            </tbody>
          </tabla>
          <p v-else>No hay cargada ninguna variante todavía.</p>
        </div>
        <b-button
          icon-left="plus-circle"
          @click="nuevaVariante()"
          v-if="!esNuevo"
          >Nueva Variante
        </b-button>
      </div>
    </div>
    <!-- termina VARIANTES -->

    <!-- IMPUESTOS -->
    <div class="box">
      <h1>IMPUESTOS</h1>
      <b-field label="Alícuota de IVA" horizontal>
        <b-select v-model="producto.AlicuotaIVA">
          <option :value="null" disabled>Seleccione</option>
          <option v-for="v in alicuotasIVA" v-bind:key="v.ID" :value="v.ID">
            {{ v.Nombre }}
          </option>
        </b-select>
      </b-field>
      <!-- <b-checkbox -->
      <!--   v-model="producto.AlicuotaCeroVenta" -->
      <!--   v-if="producto.AlicuotaIVA != null && producto.AlicuotaIVA > 3" -->
      <!--   >¿Tiene alícuota CERO para la venta?</b-checkbox -->
      <!-- > -->
    </div>

    <!-- PRECIO  -->
    <div class="box">
      <h1>VENTA</h1>
      <b-field>
        <b-checkbox v-model="producto.DisponibleParaVenta"
          >¿Disponible para la venta?</b-checkbox
        >
      </b-field>
      <b-field>
        <b-checkbox
          v-model="producto.Activo"
          :true-value="false"
          :false-value="true"
          >¿Inactivo?</b-checkbox
        >
      </b-field>
    </div>

    <!-- UNICIDAD -->
    <div class="box">
      <h1>UNICIDADES</h1>
      <div>
        <b-tooltip
          multilined
          label="Si se tilda, cuando se facture le va a exigir al usuario que se seleccione uno en particular. Ejemplo: Ford Ranger EHR-117 Año 2001"
        >
          <b-checkbox v-model="producto.TrabajaConUnicidades">
            ¿Trabaja con unicidades?
          </b-checkbox>
        </b-tooltip>
      </div>
      <div v-if="producto.TrabajaConUnicidades">
        <b-field label="Clase de unicidad">
          <b-select v-model="producto.ClaseUnicidad">
            <option v-for="v in unicidades" v-bind:key="v.ID" :value="v.ID">
              {{ v.Nombre }}
            </option>
          </b-select>
        </b-field>
      </div>
    </div>

    <b-button class="is-primary" @click="guardar()">Guardar</b-button>
    <b-button class="btn-cancelar" @click="volver()">Cancelar</b-button>

    <b-loading
      is-full-page
      :active="cargando != 0"
      :can-cancel="true"
    ></b-loading>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import axios from "axios";
import eventBus from "@/eventBus";
// import { validationErr } from "../errors/Errors.vue";
import { v4 as uuidv4 } from "uuid";
import Puntitos from "../widgets/Puntitos.vue";
import Variante from "./Variante.vue";
import BuscadorProductos from "@/components/buscadorProductos/BuscadorProductos.vue";
import AttVariante from "./AttVariante.vue";
import { Producto, SKU, Att, Categoria, Faceta } from "./productos";
export default Vue.extend({
  data() {
    return {
      producto: {
        ID: null,
        CodigoAlfanumerico: "",
        Nombre: "",
        NombreImpresion: "",
        Categoria: null,
        Descripcion: "",
        EsUnCombo: false,
        // DetallesCombo: [],
        Inventariable: true,
        Cuantificable: true,
        TipoUM: "",
        UM: "",
        DisponibleParaVenta: true,
        PrecioFinal: false,
        AlicuotaIVA: "",
        AlicuotaCeroVenta: false,
        Envase: "",
        RelacionesUMFija: false,
        RelacionesUM: [],
        Facetas: {},
        AttsGenerales: [],
        Activo: true,
        TieneVariantes: false,
        Apertura: [],
        TrabajaConUnicidades: false,
        ClaseUnicidad: null,
      } as Producto,
      Variantes: [] as SKU[],

      varianteAAgregar: null as SKU | null,
      atributoEnUso: {
        Key: "",
        Tipo: "string",
        String: null,
        Number: null,
        Bool: null,
      } as Att,

      localBus: new Vue(),
      edicionAttDif: false as boolean,
      edicionAtts: false as boolean,
      cargando: 0 as number,
    };
  },
  components: {
    Puntitos,
  },
  created() {
    document.title = "Producto";
    this.actualizar();
    this.hooksVariantes();
    this.hooksAtts();
  },
  methods: {
    hooksVariantes(): void {
      // Create
      this.localBus.$on("varianteCreada", (variante: SKU) => {
        if (!this.validar()) {
          return;
        }
        variante.Producto = this.producto.ID;
        this.cargando++;
        axios
          .post("/backend/productos/insertar_sku", variante)
          .then((res) => {
            this.Variantes = res.data;
          })
          .catch((err) => {
            eventBus.$emit("error", err);
          })
          .finally(() => this.cargando--);
      });

      // Update
      this.localBus.$on("varianteModificada", (variante: SKU) => {
        if (!this.validar()) {
          return;
        }
        this.cargando++;
        axios
          .post("/backend/productos/modificar_sku", variante)
          .then((res) => {
            this.Variantes = res.data;
          })
          .catch((err) => {
            eventBus.$emit("error", err);
          })
          .finally(() => this.cargando--);
      });

      // Delete
      this.localBus.$on(
        "varianteEliminada",
        (variante: string, producto: string) => {
          this.cargando++;
          axios
            .post("/backend/productos/eliminar_sku", {
              ID: variante,
              Producto: producto,
            })
            .then((res) => {
              this.Variantes = res.data;
            })
            .catch((err) => {
              eventBus.$emit("error", err);
            })
            .finally(() => this.cargando--);
        }
      );
    },
    hooksAtts(): void {
      this.localBus.$on("attAgregado", (variante: string) => {
        this.cargando++;
        for (let v of this.producto.Apertura) {
          if (v == variante) {
            eventBus.$emit(
              "error",
              Error("Ya existe un atributo con nombre " + variante)
            );
            this.cargando--;
            return;
          }
        }
        this.producto.Apertura.push(variante);
        this.cargando--;
      });

      this.localBus.$on("attModificado", (anterior: string, nuevo: string) => {
        if (nuevo == anterior) {
          return;
        }
        this.cargando++;
        for (const i in this.producto.Apertura) {
          if (this.producto.Apertura[i] == nuevo) {
            eventBus.$emit(
              "error",
              Error("Ya existe un atributo con nombre " + nuevo)
            );
            this.cargando--;
            return;
          }
          if (this.producto.Apertura[i] == anterior) {
            this.producto.Apertura.splice(Number(i), 1, nuevo);
            this.cargando--;
            return;
          }
        }
      });
      this.localBus.$on("attEliminado", (nombre: string) => {
        this.cargando++;
        for (let i in this.producto.Apertura) {
          if (this.producto.Apertura[i] == nombre) {
            this.producto.Apertura.splice(Number(i), 1);
            this.cargando--;
            return;
          }
        }
      });
    },
    agregarSkuACombo(): void {
      this.$buefy.modal.open({
        parent: this,
        component: BuscadorProductos,
        hasModalCard: true,
        fullScreen: true,
        customClass: "custom-class custom-class-2",
        trapFocus: true,
        props: {
          bus: this.localBus,
        },
      });
    },
    agregarAttVarianteModal(): void {
      this.$buefy.modal.open({
        parent: this,
        component: AttVariante,
        hasModalCard: true,
        customClass: "custom-class custom-class-2",
        trapFocus: true,
        props: {
          bus: this.localBus,
          att: "",
        },
      });
    },
    modificarAttVarianteModal(valor: string): void {
      this.$buefy.modal.open({
        parent: this,
        component: AttVariante,
        hasModalCard: true,
        customClass: "custom-class custom-class-2",
        trapFocus: true,
        props: {
          bus: this.localBus,
          att: valor,
        },
      });
    },
    actualizar(): void {
      if (this.esNuevo) {
        return;
      }
      axios
        .post("/backend/productos/one", { ID: this.$route.query.id })
        .then((res) => {
          this.producto = res.data;
          if (this.producto.Facetas == null) {
            this.producto.Facetas = {};
          }
          if (this.producto.Apertura == null) {
            this.producto.Apertura = [];
          }
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        });
      axios
        .post("/backend/productos/skus", { ID: this.$route.query.id })
        .then((res) => {
          this.Variantes = res.data;
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        });
    },
    mostrarVarianteModal(variante: SKU, nueva: string): void {
      let producto = Object.assign({}, this.producto);
      this.$buefy.modal.open({
        parent: this,
        component: Variante,
        hasModalCard: true,
        customClass: "custom-class custom-class-2",
        trapFocus: true,
        props: {
          variante: variante,
          producto: producto,
          bus: this.localBus,
          apertura: this.producto.Apertura,
          crud: nueva,
        },
      });
    },
    nuevaVariante(): void {
      let nuevaVariante: SKU = {
        ID: uuidv4(),
        Producto: null,
        Codigo: "",
        Nombre: "",
        NombreImpresion: "",
        BarCode: "",
        Categoria: "0",
        Inventariable: false,
        Cuantificable: false,
        TipoUM: "",
        UM: null,
        RelacionesUMFija: false,
        RelacionesUM: [],
        Atts: {},
      };
      for (let v of this.producto.Apertura) {
        nuevaVariante.Atts[v] = null;
      }
      this.mostrarVarianteModal(nuevaVariante, "nueva");
    },
    modificarVariante(variante: SKU): void {
      // Corroboro que la variante tenga todos los atributos definidos en el producto
      //     for (let v of this.producto.Apertura) {
      //       if (!variante.hasOwnProperty(v)) {
      //         variante.Atts[v] = null;
      //       }
      //    }
      this.mostrarVarianteModal(variante, "");
    },

    // agregarAtt agreta un atributo al producto
    agregarAtt(): void {
      // Valido Key
      if (this.atributoEnUso.Key == "" || this.atributoEnUso.Key == null) {
        eventBus.$emit("error", {
          title: "Error de validación",
          message: "Debe ingresar el nombre del atributo",
        });
        return;
      }
      // Valido Value
      if (this.atributoEnUso.Tipo == "string") {
        if (
          this.atributoEnUso.String == "" ||
          this.atributoEnUso.String == null
        ) {
          eventBus.$emit("error", {
            title: "Error de validación",
            message: "Debe ingresar un texto para el valor del atributo",
          });
          return;
        }
        this.atributoEnUso.Number = null;
        this.atributoEnUso.Bool = null;
      }
      if (this.atributoEnUso.Tipo == "number") {
        if (this.atributoEnUso.Number == null) {
          eventBus.$emit("error", {
            title: "Error de validación",
            message: "Debe ingresar un un número para el valor del atributo",
          });
          return;
        }
        this.atributoEnUso.String = null;
        this.atributoEnUso.Bool = null;
      }

      if (this.atributoEnUso.Tipo == "bool") {
        if (this.atributoEnUso.Bool == null) {
          this.atributoEnUso.Bool = false;
        }
        this.atributoEnUso.String = null;
        this.atributoEnUso.Number = null;
      }

      if (this.producto.AttsGenerales == null) {
        this.producto.AttsGenerales = [];
      }

      let estaba = this.producto.AttsGenerales.find((item) => {
        return item.Key == this.atributoEnUso.Key;
      });
      if (!estaba) {
        this.producto.AttsGenerales.push(this.atributoEnUso);
        this.atributoEnUso = {
          Key: "",
          Tipo: "string",
          String: null,
          Bool: null,
          Number: null,
        };
      } else {
        this.$buefy.dialog.alert({
          title: "Error de validación",
          message:
            "Ya existe un atributo con el nombre que está intentando agregar." +
            estaba,
        });
      }
    },
    // agregarAtributo agrega un nuevo atributo de APERTURA de VARIANTE
    agregarAtributo(v: string) {
      if (!v) {
        eventBus.$emit("error", {
          title: "Error de validación",
          message: "No puede ingresar un atributo en blanco",
        });
        return;
      }
      let estaba = this.producto.Apertura.find((item) => {
        return item == v;
      });
      if (!estaba) {
        this.producto.Apertura.push(v);
        this.edicionAttDif = false;
      } else {
        this.$buefy.dialog.alert({
          message:
            "Ya existe un atributo con el nombre que está intentando agregar." +
            estaba,
        });
      }
    },
    // quitarAtributo quita un atributo de APERTURA de VARIANTES
    quitarAtributo(v: string) {
      for (let variante of this.Variantes) {
        if (variante.Atts.hasOwnProperty(v)) {
          let mensaje =
            "Está intentando borrar el atributo " +
            v +
            " pero el mismo está usado en la variante" +
            JSON.stringify(variante.Nombre);
          eventBus.$emit("error", {
            title: "Error de validación",
            message: mensaje,
          });
          return;
        }
      }
      this.producto.Apertura.splice(this.producto.Apertura.indexOf(v), 1);
    },
    volver() {
      this.$router.go(-1);
    },
    guardar() {
      if (!this.validar()) {
        return;
      }
      if (this.esNuevo) {
        this.guardarNuevo();
      } else {
        this.guardarModificar();
      }
    },
    validar(): boolean {
      console.log(this.producto.Categoria);
      if (!this.producto.Categoria) {
        eventBus.$emit(
          "error",
          Error("Debe definir una categoría para el producto")
        );
        return false;
      }
      if (this.producto.AlicuotaIVA == "") {
        eventBus.$emit(
          "error",
          Error("Debe definir una alícuota de IVA para el producto")
        );
        return false;
      }
      return true;
    },
    guardarNuevo() {
      axios
        .post("/backend/productos/insertar", {
          Producto: this.producto,
          Variantes: this.Variantes,
        })
        .then((res) => {
          this.$router.replace({ query: { id: res.data.ID } });
          eventBus.$emit("notification", {
            message: "Producto creado correctamente",
            type: "is-success",
          });
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        });
    },
    guardarModificar() {
      axios
        .post("/backend/productos/modificar", this.producto)
        .then(() => {
          this.volver();
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        });
    },
    eliminar() {
      axios
        .post("/backend/productos/eliminar", { ID: this.producto.ID })
        .then(() => {
          this.volver();
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        });
    },
    // Va a la pantalla de carga de precios
    precios() {
      if (this.producto.TieneVariantes) {
        this.$buefy.dialog.alert(
          "Este producto tiene definido variantes. Los precios debería fijarlos para cada variante. Se pueden modificar en la seccion de VARIANTES"
        );
        return;
      }
      axios
        .post("/backend/productos/skus", { ID: this.producto.ID })
        .then((res) => {
          // Debería ser un array de un solo elemento
          if (res.data.length == 1) {
            this.$router.push({
              name: "precios",
              query: { sku: res.data[0].ID },
            });
          } else {
            eventBus.$emit(
              "error",
              Error(
                "Debería haber habido un solo SKU para el producto, pero había " +
                  res.data.length
              )
            );
          }
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        });
    },
  },
  computed: {
    titulo(): string {
      if (this.esNuevo) {
        return "Nuevo producto";
      } else {
        return "Modificar producto";
      }
    },
    esNuevo(): boolean {
      if (this.$route.query.id == undefined) {
        return true;
      }
      return false;
    },
    facetasDisponibles(): Faceta[] {
      let found = this.categorias.find((item: Categoria) => {
        return item.ID == this.producto.Categoria;
      });
      if (found == null) {
        return [];
      }
      return found.Facetas;
    },
    categorias(): Categoria[] {
      return this.$store.getters["productos/categoriasImputables"];
    },
    ums(): any[] {
      return this.$store.state.productos.ums;
    },
    alicuotasIVA(): any[] {
      return this.$store.state.iva.alicuotas;
    },
    unicidades(): any[] {
      let uu = this.$store.getters["unicidadesdef/todas"]();
      if (uu) {
        return uu;
      }
      return [];
    },
  },
  watch: {
    "producto.TipoUM"() {
      if (this.producto.TipoUM == "Cantidad") {
        this.producto.UM = "u";
      } else {
        this.producto.Envase = "";
      }
    },
  },
});
</script>

<style lang="scss" scoped>
div#wrapper {
  max-width: 800px;
  margin: auto;
}
h2 {
  font-size: 1.6em;
  font-weight: bolder;
  border-bottom: 1px solid lightgray;
  margin-bottom: 1em;
}
</style>
