<template>
  <div>
    <div class="titulo-de-pantalla box">
      <h1>Productos</h1>
      <puntitos :size="35">
        <ul>
          <li @click="$router.push({ name: 'producto' })">Nuevo producto</li>
        </ul>
      </puntitos>

			<b-field label="Buscar" horizontal>
				<b-input 
					  v-model="texto" 
					  type="search" 
					  icon="magnify"
						v-on:keyup.native.enter="actualizar()"
						ref="buscarInput"
				/>
			</b-field>
      <b-field label="Categoría" horizontal>
				<b-select v-model="categoria">	
					<option :value="null">Todas</option>
					<option v-for="v in categorias" :value="v.ID" :key="v.ID">{{v.Nombre}}</option>	
				</b-select>
      </b-field>
      <b-field horizontal>
        <b-checkbox v-model="mostrarInactivos">¿Mostrar inactivos?</b-checkbox>
      </b-field>
      <b-field>
        <b-button @click="actualizar()" class="is-primary">Buscar</b-button>
      </b-field>
    </div>

		<div v-if="productos">
			<tabla v-if="productos.length">
				<thead>
					<th>Codigo</th>
					<th>Nombre</th>
					<th>Categoría</th>
				</thead>
				<tbody>
					<tr
						v-for="p in productos"
						v-bind:key="p.ID"
						class="link"
						@click="$router.push({ name: 'producto', query: { id: p.ID } })"
					>
						<td>{{ p.CodigoAlfanumerico }}</td>
						<td>{{ p.Nombre }}</td>
						<td>{{ nombreCategoria(p.Categoria) }}</td>
					</tr>
				</tbody>
			</tabla>
			<p v-else>No se encontró ningún resultado</p>
		</div>
    <b-loading
      is-full-page
      :active="cargando != 0"
    ></b-loading>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import eventBus from "@/eventBus";
import axios from "axios";
import Puntitos from "../widgets/Puntitos.vue";
import { Producto, Categoria } from "../productos/productos";
// import Tabla from "../widgets/Tabla";
export default Vue.extend({
  data() {
    return {
      productos: null as Producto[] | null,

			texto: "" as string,
			categoria: null as string | null,
      mostrarInactivos: false as boolean,
			cargando: 0 as number,
    };
  },
  components: {
    Puntitos
    // Tabla
  },
  created() {
	document.title = "Productos"
    this.actualizar();
  },
	mounted() {
		(this.$refs as any).buscarInput.focus()
	},
  methods: {
    actualizar(): void {
			this.cargando++
      axios
        .post("/backend/productos/many", {
					Categoria: this.categoria,
          MostrarInactivos: this.mostrarInactivos,
					Texto: this.texto,
        })
        .then(res => {
          this.productos = res.data;
        })
        .catch(err => {
          eventBus.$emit("error", err);
        })
				.finally(() => this.cargando--);
    },
    nombreCategoria(id: string | null): string {
			if (!id) {
				return ""
			}
      let cat = this.$store.getters["productos/categoriaPorID"](id);
      if (!cat) {
        console.error("no se encontró la categoría ID", id);
        return id;
      }
      return cat.Nombre;
    }
  },
	computed: {
		categorias(): Categoria[] {
			const cc = this.$store.getters["productos/categoriasImputables"];		
			if (cc) {
				return cc
			}
			return []
		},
	}
});
</script>

<style lang="scss" scoped></style>
