<template>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">{{ titulo }}</p>
    </header>

    <section class="modal-card-body">
      <div v-for="(k, v) of apertura" v-bind:key="v">
        <b-field :label="k">
          <b-input v-model="fields[k]"></b-input>
        </b-field>
      </div>
    </section>

    <footer class="modal-card-foot">
      <b-button class="is-primary" @click="guardar()">
        Aceptar
      </b-button>
      <b-button @click="cerrar()">
        Cancelar
      </b-button>
      <b-button @click="eliminar()" class="is-danger" v-if="!esNuevo"
        >Eliminar</b-button
      >
    </footer>
  </div>
</template>

<script lang="ts">
import eventBus from "@/eventBus";
import { Producto, SKU } from "../productos/productos";
import Vue from "vue";

export default Vue.extend({
  props: {
    bus: {
      type: Object,
      required: true
    },
    variante: {
      type: Object as () => SKU,
      required: false
    },
    producto: {
      type: Object as () => Producto,
      required: true
    },
    apertura: {
			type: Array as () => Array<string>,
      required: true
    },
    crud: {
      type: String,
      required: true
    }
  },
	data() {
		return {
			fields: {} as any,
		}
	},
	created() {
		for (let v of this.apertura) {
			this.fields[v] = null	
		}
		for (let k in this.variante.Atts) {
			this.fields[k] = this.variante.Atts[k]
		}
	},
  methods: {
    cerrar(): void {
      (this.$parent as any).close();
    },

    guardar(): void {
			let v = Object.assign({}, this.variante)
			v.Atts = this.fields
      if (this.esNuevo) {
        this.bus.$emit("varianteCreada", v);
      } else {
        this.bus.$emit("varianteModificada", v);
      }
      this.cerrar();
    },

		eliminar() {
      this.$buefy.dialog.confirm({
        message: "¿Está seguro que desea eliminar esta variante?",
        confirmText: "Eliminar",
        type: "is-danger",
        hasIcon: true,
        onConfirm: () => {
					this.bus.$emit("varianteEliminada", this.variante.ID, this.producto.ID)
					this.cerrar()
        }
      });
		}
  },
  computed: {
    titulo(): string {
      return "Variante de '" + this.producto.Nombre + "'";
    },
    esNuevo(): boolean {
      if (this.crud == "nueva") {
        return true;
      }
      return false;
    }
  }
});
</script>
