<template>
  <div>
    <div class="titulo-de-pantalla">
      <h1>{{ titulo }}</h1>
    </div>

    <div class="box">
      <b-field label="Pertenece a la empresa" horizontal>
        <b-select v-model="comp.Empresa">
          <option :value="null">Seleccione</option>
          <option v-for="v in empresas" v-bind:key="v.ID" :value="v.ID">
            {{ v.Nombre }}
          </option>
        </b-select>
      </b-field>

      <b-field label="Tipo" horizontal>
        <b-select v-model="comp.Tipo">
          <option :value="null">Seleccione</option>
          <option v-for="v in categorias" :value="v.ID" v-bind:key="v.ID">
            {{ v.Nombre }}
          </option>
        </b-select>
      </b-field>

      <b-field label="Nombre del comprobante" horizontal>
        <b-input v-model="comp.Nombre" />
      </b-field>

      <b-field label="Descripción" horizontal>
        <b-input type="textarea" v-model="comp.Detalle" />
      </b-field>

      <b-field label="Punto de venta" horizontal>
        <b-input
          type="number"
          v-model.number="comp.PuntoDeVenta"
          custom-class="d2"
        >
        </b-input>
      </b-field>

      <b-field
        label="¿Punto de venta obligatorio?"
        v-if="!comp.PuntoDeVenta"
        horizontal
      >
        <b-select v-model="comp.PuntoDeVentaObligatorio">
          <option :value="null">Seleccione</option>
          <option value="Sí">Sí</option>
          <option value="No">No</option>
          <option value="Original">Depende del comprobante fiscal</option>
        </b-select>
      </b-field>
    </div>

    <div class="box">
      <h1>Funcionamiento</h1>

      <b-field label="Emisor" horizontal>
        <b-select v-model="comp.Emisor">
          <option :value="null">Seleccione</option>
          <option value="1">La propia empresa</option>
          <option value="2">Lo emite un tercero, la empresa lo carga</option>
        </b-select>
      </b-field>

      <b-field label="Tipo numeracion" horizontal>
        <b-select v-model="comp.TipoNumeracion">
          <option :value="null">Seleccione</option>
          <option value="Digitada">Digitada por el usuario</option>
          <option value="Consecutiva">Consecutiva</option>
          <option value="WebService">Determinada por WebService</option>
        </b-select>
      </b-field>

      <b-field
        label="Ultimo numero usado"
        v-if="comp.TipoNumeracion == 'Consecutiva'"
        horizontal
      >
        <b-input
          type="number"
          v-model.number="comp.UltimoNumeroUsado"
          custom-class="d2"
        >
        </b-input>
      </b-field>

      <b-field label="Tipo anulación" horizontal>
        <b-select v-model="comp.TipoAnulacion">
          <option :value="null">Seleccione</option>
          <option value="Se borra">Se borra la operacion original</option>
          <option value="Mismo comprobante">
            Se borran las partidas de asientos
          </option>
          <option value="Otro comprobante">
            Otro comprobante hace el asiento inverso
          </option>
        </b-select>
      </b-field>

      <b-field label="Activo" horizontal>
        <b-checkbox
          v-model="comp.Inactivo"
          :true-value="false"
          :false-value="true"
        >
        </b-checkbox>
      </b-field>

      <b-field label="Válido desde" horizontal>
        <b-input v-model="comp.FechaDesde" type="date" custom-class="fch" />
      </b-field>
      <b-field label="Válido hasta" horizontal>
        <b-input v-model="comp.FechaHasta" type="date" custom-class="fch" />
      </b-field>
    </div>

    <div class="box">
      <h1>Impositivos</h1>

      <b-field label="Letra" horizontal>
        <b-select v-model="comp.Letra">
          <option :value="null">Seleccione</option>
          <option>A</option>
          <option>B</option>
          <option>C</option>
          <option>M</option>
          <option>R</option>
          <option>X</option>
        </b-select>
      </b-field>

      <b-field label="¿Calcula IVA?" horizontal>
        <b-checkbox v-model="comp.CalculaIVA" />
      </b-field>

      <b-field label="¿Discrimina IVA?" horizontal>
        <b-checkbox v-model="comp.DiscriminaIVA" />
      </b-field>

      <b-field label="¿Va al libro de IVA?" horizontal>
        <b-checkbox v-model="comp.VaAlLibroDeIVA" />
      </b-field>

      <b-field label="Tipo de emisión" horizontal>
        <b-select v-model="comp.TipoEmision">
          <option :value="null">Seleccione</option>
          <option value="wsfev1">Factura electrónica</option>
          <option value="">Normal</option>
        </b-select>
        <b-button
          v-if="comp.TipoEmision == 'wsfev1'"
          @click="compUltimoAutorizado()"
          >Consultar AFIP último</b-button
        >
        <p v-if="ultimoComp">Último comprobante: {{ ultimoComp }}</p>
        <ul v-if="ultimoCompErrors && ultimoCompErrors.length">
          Errores:
          <li v-for="v in ultimoCompErrors" :key="v">
            {{ v }}
          </li>
        </ul>
        <ul v-if="ultimoCompEvents && ultimoCompEvents.length">
          Eventos:
          <li v-for="v in ultimoCompEvents" :key="v">
            {{ v }}
          </li>
        </ul>
      </b-field>

      <b-field label="Es una" v-if="comp.VaAlLibroDeIVA" horizontal>
        <b-select v-model="comp.CompraOVenta">
          <option :value="null">Seleccione</option>
          <option value="C">Compra</option>
          <option value="V">Venta</option>
        </b-select>
      </b-field>
      <b-field label="Libro de IVA" v-if="comp.VaAlLibroDeIVA" horizontal>
        <b-select v-model="comp.LibroIVA">
          <option :value="null">Seleccione</option>
          <option>Compras</option>
          <option>Ventas</option>
        </b-select>
      </b-field>

      <b-field label="Tipo de comprobante AFIP" horizontal> </b-field>
      <div v-if="comp.VaAlLibroDeIVA">
        <b-checkbox v-model="comp.ComprobanteFijo">
          ¿Comprobante AFIP fijo?
        </b-checkbox>
      </div>
      <b-field
        label="Tipos de comprobantes AFIP permitidos para este comprobante"
        v-if="comp.VaAlLibroDeIVA"
      >
      </b-field>
      <div class="flex" v-if="comp.VaAlLibroDeIVA">
        <div class="item">
          <b-select v-model="compOriginal">
            <option
              v-for="v in compsOriginales"
              :value="v.ID"
              v-bind:key="v.ID"
            >
              {{ v.ID }} - {{ v.Nombre }}
            </option>
          </b-select>
        </div>
        <div class="item">
          <b-button @click="agregarOriginal()">Agregar</b-button>
        </div>
      </div>

      <div v-if="comp.VaAlLibroDeIVA">
        <tabla v-if="hayOriginales">
          <thead>
            <th>Código AFIP</th>
            <th>Nombre</th>
          </thead>
          <tbody>
            <tr v-for="(v, i) in comp.OriginalesAceptados" v-bind:key="v">
              <td>{{ v }}</td>
              <td>{{ nombreCompAfip(v) }}</td>
              <td>
                <b-button
                  icon-left="close-circle"
                  @click="eliminarOriginal(i)"
                ></b-button>
              </td>
            </tr>
          </tbody>
        </tabla>
        <p v-else>No hay ninguno</p>
      </div>
    </div>

    <div class="box">
      <h1>Impresión</h1>
      <b-field label="¿Imprime logo?" horizontal>
        <b-select v-model="comp.ImprimeLogo">
          <option :value="null">Por defecto</option>
          <option :value="true">Sí</option>
          <option :value="false">No</option>
        </b-select>
      </b-field>

      <b-field label="¿Imprime bordes?" horizontal>
        <b-select v-model="comp.ImprimeBordes">
          <option :value="null">Por defecto</option>
          <option :value="true">Sí</option>
          <option :value="false">No</option>
        </b-select>
      </b-field>
      <b-field label="¿Imprime nombre usuario?" horizontal>
        <b-select v-model="comp.ImprimeNombreUsuario">
          <option :value="null">Por defecto</option>
          <option :value="true">Sí</option>
          <option :value="false">No</option>
        </b-select>
      </b-field>
      <b-field label="¿Imprime hora de emisión?" horizontal>
        <b-select v-model="comp.ImprimeTS">
          <option :value="null">Por defecto</option>
          <option :value="true">Sí</option>
          <option :value="false">No</option>
        </b-select>
      </b-field>

      <br />
      <h2>Márgenes (en CM)</h2>
      <b-field label="Izquierdo" horizontal>
        <b-input v-model.number="comp.MargenIzq" custom-class="d2"> </b-input>
      </b-field>
      <b-field label="Derecho" horizontal>
        <b-input v-model.number="comp.MargenDer" custom-class="d2"> </b-input>
      </b-field>
      <b-field label="Superior" horizontal>
        <b-input v-model.number="comp.MargenSup" custom-class="d2"> </b-input>
      </b-field>
      <b-field label="Superior" horizontal>
        <b-input v-model.number="comp.MargenInf" custom-class="d2"> </b-input>
      </b-field>

      <br />
      <h2>Alturas secciones (en CM)</h2>
      <b-field label="Altura cabecera" horizontal>
        <b-input custom-class="d2" v-model.number="comp.AlturaCabecera">
        </b-input>
      </b-field>
      <b-field label="Altura sección persona" horizontal>
        <b-input v-model.number="comp.AlturaPersona" custom-class="d2">
        </b-input>
      </b-field>
      <b-field label="Altura pie de página" horizontal>
        <b-input v-model.number="comp.AlturaPie" custom-class="d2"> </b-input>
      </b-field>

      <br />
      <h2>Productos</h2>
      <b-field horizontal>
        <b-checkbox v-model="comp.ProductosNombreImpresion"
          >¿Utilizar nombre alternativo de impresión?</b-checkbox
        >
      </b-field>
      <b-field horizontal>
        <b-checkbox v-model="comp.ProductosOcultarCodigo"
          >¿Ocultar código de producto?</b-checkbox
        >
      </b-field>
      <b-field horizontal>
        <b-checkbox v-model="comp.ProductosOcultarCantidades"
          >¿Ocultar unidad de medida y cantidades?</b-checkbox
        >
      </b-field>
    </div>
    <b-button class="is-primary" @click="guardar()">Guardar</b-button>
    <b-button class="btn-cancelar" @click="$router.go(-1)">Cancelar</b-button>

    <b-loading
      is-full-page
      :active="cargando != 0"
      :can-cancel="true"
    ></b-loading>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import axios from "axios";
import eventBus from "@/eventBus";
import { Empresa } from "@/interfaces/empresas";
import { Comp } from "@/interfaces/comps";
export default Vue.extend({
  data() {
    return {
      comp: {
        ID: "0",
        Empresa: null,
        Tipo: null,
        Nombre: "",
        Detalle: "",
        PuntoDeVenta: null,
        PuntoDeVentaObligatorio: null,
        Emisor: null,
        TipoEmision: null,
        TipoNumeracion: null,
        TipoAnulacion: null,
        Inactivo: false,
        FechaDesde: null,
        FechaHasta: null,
        UltimoNumeroUsado: 0,
        DiscriminaIVA: false,
        ImprimeDatosCajero: false,
        Letra: null,
        CalculaIVA: false,
        CompraOVenta: "",
        VaAlLibroDeIVA: false,
        LibroIVA: "",
        ComprobanteFijo: false,
        OriginalesAceptados: [],
        ProductosNombreImpresion: false,
        ProductosOcultarCodigo: false,
        ProductosOcultarCantidades: false,
        MargenIzq: 0,
        MargenDer: 0,
        MargenSup: 0,
        MargenInf: 0,
        AlturaCabecera: 0,
        AlturaPersona: 0,
        AlturaPie: 0,
        ImprimeLogo: null,
        ImprimeBordes: null,
        ImprimeNombreUsuario: null,
        ImprimeTS: null,
      } as Comp,
      compOriginal: null as string | null,
      ultimoComp: null,
      ultimoCompErrors: [],
      ultimoCompEvents: [],

      cargando: 0 as number,
      categorias: [],
    };
  },
  created() {
    document.title = "Comprobante";
    this.fetchCategorias();
    this.actualizar();
  },
  methods: {
    actualizar() {
      if (!this.esNuevo) {
        this.fetch();
      }
    },
    fetch() {
      this.cargando++;
      axios
        .get(`/backend/comprobantes/${this.$route.query.id}`)
        .then((res) => {
          this.comp = res.data;
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },
    fetchCategorias() {
      this.cargando += 1;
      axios
        .get("/backend/comprobantes/categorias")
        .then((res) => (this.categorias = res.data))
        .catch((err) => eventBus.$emit("error", err))
        .finally(() => this.cargando--);
    },
    volver() {
      this.$router.go(-1);
    },
    guardar() {
      if (this.comp.PuntoDeVenta == 0) {
        this.comp.PuntoDeVenta = null;
      }
      if (!this.comp.UltimoNumeroUsado) {
        this.comp.UltimoNumeroUsado = 0;
      }
      if (this.esNuevo) {
        this.create();
      } else {
        this.update();
      }
    },
    create() {
      this.cargando++;
      axios
        .post("/backend/comprobantes", this.comp)
        .then(() => {
          this.volver();
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },
    update() {
      this.cargando++;
      axios
        .put("/backend/comprobantes", this.comp)
        .then(() => {
          this.volver();
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },
    agregarOriginal() {
      if (this.compOriginal == null) {
        this.$buefy.dialog.alert({
          message: "Debe seleccionar un comprobante",
        });
        return;
      }
      if (this.comp.OriginalesAceptados.includes(this.compOriginal)) {
        this.$buefy.dialog.alert({
          message: "El comprobante ya se encuentra ingresado",
        });
        return;
      }
      this.comp.OriginalesAceptados.push(this.compOriginal);
    },
    eliminarOriginal(i: number) {
      this.comp.OriginalesAceptados.splice(i, 1);
    },
    compUltimoAutorizado() {
      this.cargando++;
      axios
        .post("/backend/afip/comp_ultimo_autorizado", {
          CompID: this.comp.ID,
        })
        .then((res) => {
          if (!res.data.Body) {
            return;
          }
          if (!res.data.Body.FECompUltimoAutorizadoResponse) {
            return;
          }
          if (
            !res.data.Body.FECompUltimoAutorizadoResponse
              .FECompUltimoAutorizadoResult
          ) {
            return;
          }
          this.ultimoComp =
            res.data.Body.FECompUltimoAutorizadoResponse.FECompUltimoAutorizadoResult.CbteNro;
          this.ultimoCompErrors =
            res.data.Body.FECompUltimoAutorizadoResponse.FECompUltimoAutorizadoResult.Errors;
          this.ultimoCompEvents =
            res.data.Body.FECompUltimoAutorizadoResponse.FECompUltimoAutorizadoResult.Events;
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },
    nombreCompAfip(id: string): string {
      let found = this.$store.getters["comps/porID"](id);
      if (!found) {
        return id;
      }
      return found.Nombre;
    },
  },
  computed: {
    hayOriginales(): boolean {
      if (!this.comp) {
        return false;
      }
      if (!this.comp.OriginalesAceptados) {
        return false;
      }
      if (!this.comp.OriginalesAceptados.length) {
        return false;
      }
      return true;
    },
    compsOriginales() {
      return this.$store.getters["comps/afip"];
    },
    titulo(): string {
      if (this.esNuevo) {
        return "Nuevo comprobante";
      } else {
        return "Modificar comprobante";
      }
    },
    empresas(): Empresa[] {
      return this.$store.getters["empresas/permitidas"];
    },
    esNuevo(): boolean {
      if (this.$route.query.id) {
        return false;
      }
      return true;
    },
  },
});
</script>
<style lang="scss" scoped>
div.flex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
div.item {
  margin-right: 10px;
}
</style>
