Es el menu para buscar comprobantes.

<template>
  <div>
    <div class="titulo-de-pantalla">
      <h1>Comprobantes</h1>
      <puntitos :size="35">
        <ul>
          <li @click="$router.push({ name: 'comprobante' })">
            Nuevo comprobante
          </li>
        </ul>
      </puntitos>
    </div>

    <div class="box">
      <div class="columns">
        <div class="column">
          <b-field label="Empresa">
            <b-select v-model="empresa">
              <option :value="null">Todas</option>
              <option v-for="v in empresas" :value="v.ID" v-bind:key="v.ID">
                {{ v.Nombre }}
              </option>
            </b-select>
          </b-field>
        </div>
        <div class="column">
          <b-field label="Buscar">
            <b-input v-model="filtro"></b-input>
          </b-field>
        </div>
      </div>
    </div>
    <tabla class="micro">
      <thead>
        <tr>
          <th>ID</th>
          <th>Empresa</th>
          <th>Tipo</th>
          <th>Nombre</th>
          <th>Punto de venta</th>
          <th>Ultimo usado</th>
          <th>Detalle</th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="comp in filtrados"
          v-bind:key="comp.ID"
          class="link"
          @click="profundizar(comp.ID)"
        >
          <td>{{ comp.ID }}</td>
          <td>{{ nombreEmpresa(comp.Empresa) }}</td>
          <td>{{ comp.Tipo }}</td>
          <td>{{ comp.Nombre }}</td>
          <td>{{ comp.PuntoDeVenta }}</td>
          <td>{{ comp.UltimoNumeroUsado }}</td>
          <td>{{ comp.Detalle }}</td>
        </tr>
      </tbody>
    </tabla>
  </div>
</template>

<script>
import axios from "axios";
import eventBus from "@/eventBus.ts";
import Puntitos from "../widgets/Puntitos";
export default {
  data() {
    return {
      empresa: null,
      comprobantes: [],

      filtro: "",
      filtrados: [],
    };
  },
  components: {
    Puntitos,
  },
  created() {
    document.title = "Comprobantes";
    this.empresa = this.$store.state.empresas.seleccionada;
    this.actualizar();
  },
  methods: {
    actualizar() {
      axios
        .get("/backend/comprobantes")
        .then((response) => {
          this.comprobantes = response.data;
          this.filtrar();
        })
        .catch((err) => eventBus.$emit("error", err));
    },
    profundizar(id) {
      this.$router.push({
        name: "comprobante",
        query: { id: id },
      });
    },
    nombreTipo(id) {
      let tipo = this.$store.getters["comps/tipoNombre"](id);
      if (!tipo) {
        return id;
      }
      return tipo.Nombre;
    },

    nombreEmpresa(id) {
      let e = this.$store.getters["empresas/porID"](id);
      if (!e) {
        return id;
      }
      return e.Nombre;
    },
    filtrar() {
      let f = this.comprobantes;

      // Filtro por nombre
      if (this.filtro != "") {
        f = f.filter((x) =>
          x.Nombre.toUpperCase().includes(this.filtro.toUpperCase())
        );
      }

      // Filtro por empresa
      if (this.empresa) {
        f = f.filter((item) => item.Empresa == this.empresa);
      }
      this.filtrados = f;
    },
  },
  computed: {
    empresas() {
      return this.$store.getters["empresas/permitidas"];
    },
    comprobantesFiltrados() {
      let filtrados = this.comprobantes;
      if (this.empresa != null) {
      }

      return filtrados;
    },
  },
  watch: {
    filtro() {
      this.filtrar();
    },
    empresa() {
      this.actualizar();
    },
  },
};
</script>
<style lang="scss" scoped>
div.buscar {
  margin-top: 20px;
  margin-bottom: 30px;
}
div.buscar input {
  width: 80%;
  float: left;
}

div.buscar button {
  float: left;
  width: 20%;
}
</style>
