<template>
  <div class="wrapper">
    <div class="columns flex">
      <div
        v-if="sinCAE && sinCAE.length"
        class="column widget is-12-tablet is-6-desktop is-4-widescreen"
      >
        <h1>Comprobantes sin CAE</h1>
        <tabla>
          <thead>
            <th>Empresa</th>
            <th>Cantidad</th>
          </thead>
          <tbody>
            <tr
              v-for="v in sinCAE"
              :key="v.Empresa"
              class="link"
              @click="profundizarCAE(v.Empresa)"
            >
              <td>{{ v.EmpresaNombre }}</td>
              <td align="right">
                {{ v.Cantidad }}
              </td>
            </tr>
          </tbody>
        </tabla>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import axios from "axios";
import eventBus from "@/eventBus";
type CompsPendientesAutorizarGeneralResp = {
  Empresa: string;
  EmpresaNombre: string;
  Cantidad: number;
};
export default Vue.extend({
  created() {
    document.title = "CrossLogic";
    this.fetchCompsSinCAE();
  },
  data() {
    return {
      sinCAE: null as CompsPendientesAutorizarGeneralResp[] | null,
    };
  },
  methods: {
    fetchCompsSinCAE() {
      axios
        .get("/backend/afip/comprobantes_a_autorizar_general")
        .then((res) => (this.sinCAE = res.data))
        .catch((err) => eventBus.$emit("error", err));
    },
    profundizarCAE(id: string) {
      this.$router.push({
        name: "comprobantesAAutorizar",
        query: { empresa: id, desde: "" },
      });
    },
  },
});
</script>

<style lang="scss" scoped>
@import "@/assets/variables.scss";

div.wrapper {
  height: 100%;
}
div.flex {
  background-color: $white-bis;
  height: 100%;
  padding: 1.5rem;
}
div.widget {
  border: 1px solid $white-ter;
  border-radius: 6px;
  background-color: white;
  h1 {
    font-weight: bolder;
    color: $grey;
    border-bottom: 1px solid $grey-lighter;
    padding-bottom: 0.5rem;
  }
}
</style>
