<template>
  <div class="wrapper">
    <top-nav :usuario="usuario"> </top-nav>

    <div class="columns is-gapless" id="contenido">
      <div class="column is-narrow">
        <b-sidebar type="is-light" :open.sync="menuVisible" position="static">
          <left-nav></left-nav>
        </b-sidebar>
      </div>

      <div class="column">
        <div class="main">
          <router-view></router-view>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="content has-text-centered">
      </div>
    </footer>
  </div>
</template>

<script>
import TopNav from "./TopNav.vue";
import LeftNav from "./LeftNav.vue";
import eventBus from "@/eventBus.ts";
export default {
  components: {
    TopNav,
    LeftNav,
  },
  data() {
    return {
      usuario: {},
      menuVisible: true,
    };
  },
  created() {
    eventBus.$on("toggleMenu", () => {
      console.log("toggleMenu");
      this.menuVisible = !this.menuVisible;
    });
  },
};
</script>

<style lang="scss" scoped>
@import "@/assets/variables.scss";

button.menu-toggle {
  position: absolute;
}
div.columns {
  padding: 0;
}
div.main {
  padding: 1em 1em 0 1em;
  height: 100%;
  background-color: hsl(0, 0%, 95%);
}
</style>
