<template>
  <div class="side-wrapper">
    <b-menu class="menu-fondo" :accodion="false">
      <b-menu-list label="Menu">
        <b-menu-item icon="gift" label="Ventas">
          <b-menu-item
            label="Entrega"
            @click="
              $router.push({
                name: 'fact',
                query: {
                  grupo: $store.getters['fact/grupo']('Remitos de venta').ID,
                },
              })
            "
          ></b-menu-item>
          <b-menu-item
            label="Factura"
            @click="
              $router.push({
                name: 'fact',
                query: {
                  grupo: $store.getters['fact/grupo']('Facturas de venta').ID,
                },
              })
            "
          ></b-menu-item>
          <b-menu-item
            label="Nota de crédito"
            @click="
              $router.push({
                name: 'fact',
                query: {
                  grupo: $store.getters['fact/grupo'](
                    'Notas de crédito de venta'
                  ).ID,
                },
              })
            "
          ></b-menu-item>
          <b-menu-item
            label="Nota de pedido"
            @click="
              $router.push({
                name: 'fact',
                query: {
                  grupo: $store.getters['fact/grupo']('Notas de pedido').ID,
                },
              })
            "
          ></b-menu-item>
          <b-menu-item
            label="Presupuesto"
            @click="
              $router.push({
                name: 'fact',
                query: {
                  grupo: $store.getters['fact/grupo']('Presupuestos').ID,
                },
              })
            "
          ></b-menu-item>
        </b-menu-item>

        <b-menu-item icon="bank-transfer-in" label="Cobros">
          <b-menu-item
            label="Recibo"
            @click="
              $router.push({
                name: 'recibo',
                query: {
                  grupo: $store.getters['fact/grupo']('Recibos').ID,
                },
              })
            "
          ></b-menu-item>
        </b-menu-item>
        <b-menu-item icon="cart" label="Compras">
          <b-menu-item
            label="Orden de compra"
            @click="
              $router.push({
                name: 'fact',
                query: {
                  grupo: $store.getters['fact/grupo']('Órdenes de compra').ID,
                },
              })
            "
          ></b-menu-item>
          <b-menu-item
            label="Recepción"
            @click="
              $router.push({
                name: 'fact',
                query: {
                  grupo: $store.getters['fact/grupo']('Remitos de compra').ID,
                },
              })
            "
          ></b-menu-item>
          <b-menu-item
            label="Factura"
            @click="
              $router.push({
                name: 'fact',
                query: {
                  grupo: $store.getters['fact/grupo']('Facturas de compra').ID,
                },
              })
            "
          ></b-menu-item>
          <b-menu-item
            label="Nota de crédito"
            @click="
              $router.push({
                name: 'fact',
                query: {
                  grupo: $store.getters['fact/grupo'](
                    'Notas de crédito de compra'
                  ).ID,
                },
              })
            "
          ></b-menu-item>
        </b-menu-item>
        <b-menu-item icon="bank-transfer-out" label="Pagos">
          <b-menu-item
            label="Orden de pago"
            @click="
              $router.push({
                name: 'fact',
                query: {
                  grupo: $store.getters['fact/grupo']('Ordenes de pago').ID,
                },
              })
            "
          ></b-menu-item>
        </b-menu-item>

        <b-menu-item icon="pencil" label="Contabilidad">
          <b-menu-item
            label="Aplicador"
            @click="$router.push({ name: 'aplicador' })"
          ></b-menu-item>
          <b-menu-item
            label="Auto aplicador"
            @click="$router.push({ name: 'autoaplicador' })"
          ></b-menu-item>
          <b-menu-item
            label="Balance"
            @click="$router.push({ name: 'balance' })"
          ></b-menu-item>
          <b-menu-item label="Bienes de uso">
            <b-menu-item
              label="Saldos"
              @click="$router.push({ name: 'bsUsoSaldos' })"
            ></b-menu-item>
            <b-menu-item
              label="Ajustar por inflación"
              @click="$router.push({ name: 'bsUsoAjustarInflacion' })"
            ></b-menu-item>
            <b-menu-item
              label="Amortizar"
              @click="$router.push({ name: 'amortizar' })"
            ></b-menu-item>
          </b-menu-item>
          <b-menu-item
            label="Historial"
            @click="$router.push({ name: 'historial' })"
          ></b-menu-item>

          <b-menu-item label="Impuestos">
            <b-menu-item
              label="Comprobantes a autorizar"
              @click="$router.push({ name: 'comprobantesAAutorizar' })"
            ></b-menu-item>
            <b-menu-item
              label="Libro IVA"
              @click="$router.push({ name: 'libroIVA' })"
            ></b-menu-item>
            <b-menu-item
              label="Libro Diario"
              @click="$router.push({ name: 'libroDiario' })"
            ></b-menu-item>
            <b-menu-item
              label="Mis comprobantes"
              @click="$router.push({ name: 'misComprobantes' })"
            ></b-menu-item>
          </b-menu-item>
          <b-menu-item
            label="Inflación"
            @click="$router.push({ name: 'inflacionAjustes' })"
          ></b-menu-item>
          <b-menu-item
            label="Mayor"
            @click="$router.push({ name: 'mayor' })"
          ></b-menu-item>

          <b-menu-item
            label="Minuta"
            @click="$router.push({ name: 'minuta' })"
          ></b-menu-item>
          <b-menu-item
            label="Personas"
            @click="$router.push({ name: 'personas' })"
          ></b-menu-item>
          <b-menu-item label="Procesos">
            <b-menu-item
              label="Asiento de refundicion"
              @click="$router.push({ name: 'asientoRefundicion' })"
            ></b-menu-item>
            <b-menu-item
              label="Asiento de cierre"
              @click="$router.push({ name: 'asientoCierre' })"
            ></b-menu-item>
            <b-menu-item
              label="Asiento de apertura"
              @click="$router.push({ name: 'asientoApertura' })"
            ></b-menu-item>
          </b-menu-item>
          <b-menu-item label="Saldos">
            <b-menu-item
              label="Personas"
              @click="$router.push({ name: 'saldosPersonas' })"
              icon="human-male"
            ></b-menu-item>
            <b-menu-item
              label="Unicidades"
              @click="$router.push({ name: 'saldosUnicidades' })"
              icon="alpha-u-circle-outline"
            ></b-menu-item>
          </b-menu-item>
          <b-menu-item
            label="Unicidades"
            @click="$router.push({ name: 'unicidades' })"
          ></b-menu-item>
        </b-menu-item>

        <b-menu-item icon="tshirt-crew" label="Inventarios">
          <b-menu-item
            label="Saldos de stock"
            @click="$router.push({ name: 'saldosStock' })"
          ></b-menu-item>
          <b-menu-item
            label="Pendientes"
            @click="$router.push({ name: 'pendientesStock' })"
          ></b-menu-item>
          <b-menu-item
            label="Productos"
            @click="$router.push({ name: 'productos' })"
          ></b-menu-item>
        </b-menu-item>

        <b-menu-item icon="cash" label="Tesorería">
          <b-menu-item
            label="Caja"
            @click="$router.push({ name: 'resumenDeCaja' })"
          ></b-menu-item>
          <!-- <b-menu-item
            label="Ajustes"
            @click="$router.push({ name: 'fact' })"
          ></b-menu-item> -->
          <b-menu-item
            label="Deposito bancario"
            @click="
              $router.push({
                name: 'fact',
                query: {
                  grupo: $store.getters['fact/grupo']('Depósitos bancarios').ID,
                },
              })
            "
          ></b-menu-item>
          <b-menu-item
            label="Rechazo de cheques"
            @click="
              $router.push({
                name: 'fact',
                query: {
                  grupo: $store.getters['fact/grupo'](
                    'Rechazos de cheques de terceros'
                  ).ID,
                },
              })
            "
          ></b-menu-item>
          <b-menu-item
            label="Débito cheques"
            @click="
              $router.push({
                name: 'fact',
                query: {
                  grupo: $store.getters['fact/grupo']('Débito cheques').ID,
                },
              })
            "
          ></b-menu-item>

          <b-menu-item
            label="Rendicion de caja"
            @click="$router.push({ name: 'rendicionCaja' })"
          ></b-menu-item>
          <b-menu-item
            label="Resumen bancario"
            @click="$router.push({ name: 'resumenesBancarios' })"
          ></b-menu-item>
        </b-menu-item>

        <b-menu-item icon="cog" label="Configuración">
          <b-menu-item label="AFIP">
            <b-menu-item
              label="Certificados"
              @click="$router.push({ name: 'afipCertificados' })"
            ></b-menu-item>
            <b-menu-item
              label="Tickets"
              @click="$router.push({ name: 'afipTickets' })"
            ></b-menu-item>
          </b-menu-item>
          <b-menu-item
            label="Aplicador"
            @click="$router.push({ name: 'aplicadorConfigs' })"
          ></b-menu-item>
          <b-menu-item
            label="Cajas"
            @click="$router.push({ name: 'cajas' })"
          ></b-menu-item>
          <b-menu-item
            label="Categorías de productos"
            @click="$router.push({ name: 'productosCategorias' })"
          ></b-menu-item>
          <b-menu-item
            label="Centros"
            @click="$router.push({ name: 'centros' })"
          ></b-menu-item>
          <b-menu-item
            label="Centros - Grupos"
            @click="$router.push({ name: 'centrosGrupos' })"
          ></b-menu-item>
          <b-menu-item
            label="Comprobantes"
            @click="$router.push({ name: 'comprobantes' })"
          ></b-menu-item>
          <b-menu-item
            label="Conceptos"
            @click="$router.push({ name: 'conceptos' })"
          ></b-menu-item>
          <b-menu-item
            label="Condiciones de pago"
            @click="$router.push({ name: 'condiciones' })"
          ></b-menu-item>
          <b-menu-item
            label="Cuentas"
            @click="$router.push({ name: 'cuentas' })"
          ></b-menu-item>
          <b-menu-item
            label="Cuentas - Grupos"
            @click="$router.push({ name: 'cuentasGrupos' })"
          ></b-menu-item>
          <b-menu-item
            label="Depósitos"
            @click="$router.push({ name: 'depositos' })"
          ></b-menu-item>
          <b-menu-item
            label="Empresas"
            @click="$router.push({ name: 'empresas' })"
          ></b-menu-item>
          <b-menu-item
            label="Fact"
            @click="$router.push({ name: 'factConfigs' })"
          ></b-menu-item>

          <b-menu-item
            label="Grupos de usuarios"
            @click="$router.push({ name: 'gruposDeUsuarios' })"
          ></b-menu-item>

          <b-menu-item
            label="Listas de precios"
            @click="$router.push({ name: 'listasDePrecios' })"
          ></b-menu-item>
          <b-menu-item label="Minutas">
            <b-menu-item
              label="Config"
              @click="$router.push({ name: 'minutaConfigs' })"
            ></b-menu-item>
            <b-menu-item
              label="Esquemas"
              @click="$router.push({ name: 'minutaEsquemas' })"
            ></b-menu-item>
          </b-menu-item>

          <b-menu-item label="Mantenimiento">
            <b-menu-item
              label="Reconstrucción de saldos"
              @click="$router.push({ name: 'reconstruccionSaldos' })"
            ></b-menu-item>
            <b-menu-item
              label="Cache"
              @click="$router.push({ name: 'cache' })"
            ></b-menu-item>
          </b-menu-item>
          <b-menu-item
            label="Monedas"
            @click="$router.push({ name: 'monedas' })"
          ></b-menu-item>
          <b-menu-item
            label="Rendiciones de caja"
            @click="$router.push({ name: 'rendicionesConfigs' })"
          ></b-menu-item>
          <b-menu-item
            label="Usuarios"
            @click="$router.push({ name: 'usuarios' })"
          ></b-menu-item>
          <b-menu-item
            label="Usuarios - Grupos"
            @click="$router.push({ name: 'usuariosGrupos' })"
          ></b-menu-item>
          <b-menu-item
            label="Unicidades"
            @click="$router.push({ name: 'unicidadesDef' })"
          ></b-menu-item>
          <b-menu-item label="Seguridad">
            <b-menu-item
              label="Bloqueos por cuenta"
              @click="$router.push({ name: 'bloqueosPorCuenta' })"
            >
            </b-menu-item>
            <b-menu-item
              label="Permisos"
              @click="$router.push({ name: 'permisos' })"
            ></b-menu-item>
          </b-menu-item>
        </b-menu-item>
      </b-menu-list>

      <b-menu-list label="Empresa">
        <b-select v-model="empresa">
          <option :value="null">Todas</option>
          <option v-for="v in empresas" v-bind:key="v.ID" :value="v.ID">
            {{ v.Nombre }}
          </option>
        </b-select>
      </b-menu-list>
    </b-menu>
    <!-- <ul>
      <div class="categoria">Contabilidad</div>
      <div class="pantalla" @click="$router.push({name: 'balance'})">Balance</div>
      <div class="pantalla" @click="$router.push({name: 'cuentas'})">Cuentas Contables</div>
      <div class="pantalla" @click="$router.push({name: 'personas'})">Personas</div>

      <div class="pantalla" @click="$router.push({name: 'mayor'})">Mayor</div>
      <div class="pantalla" @click="$router.push({name: 'minuta'})">Minuta</div>
      <div class="pantalla" @click="$router.push({name: 'libroDiario'})">Libro Diario</div>

      <div class="categoria">Inventarios</div>
      <div class="pantalla" @click="$router.push({name: 'saldosStock'})">Saldos de Stock</div>
      <div class="pantalla" @click="$router.push({name: 'productos'})">Productos</div>

      <div class="categoria">Configuración</div>
      <div class="pantalla" @click="$router.push({name: 'empresas'})">Empresas</div>
      <div class="pantalla" @click="$router.push({name: 'comprobantes'})">Comprobantes</div>
      <div class="pantalla" @click="$router.push({name: 'talones'})">Talones</div>
      <div class="pantalla" @click="$router.push({name: 'permisos'})">Permisos</div>
      <div class="pantalla" @click="$router.push({name: 'conceptos'})">Conceptos</div>
      <div class="pantalla" @click="$router.push({name: 'gruposDeUsuarios'})">Grupos de usuarios</div>
      <div class="pantalla" @click="$router.push({name: 'levantarExcel'})">Finanzas Excel</div>
    </ul> -->
  </div>
</template>
<script>
// import * as vars from "../fact/vars.js";
export default {
  computed: {
    empresas() {
      return this.$store.getters["empresas/permitidas"];
    },
    empresa: {
      get() {
        return this.$store.state.empresas.seleccionada;
      },
      set(empresaID) {
        this.$store.commit("empresas/seleccionar", empresaID);
      },
    },
  },
  methods: {},
};
</script>
<style lang="scss" scoped>
div.side-wrapper {
  background-color: lightgray;
  border-radius: 8px;
  height: 100%;
}
</style>
