<template>
  <b-navbar class="wrapper">
    <template slot="brand">
      <b-navbar-item>
        <b-button
          class="menu-toggle is-primary"
          icon-left="menu"
          @click="toggle()"
        ></b-button>
        <h1>
          CrossLogic
        </h1>
      </b-navbar-item>
    </template>

    <!-- <template slot="start">
      <b-navbar-item tag="div">
        <b-field>
          <b-input type="text" placeholder="Buscar" icon="magnify" />
          <b-button class="is-info" icon-left="magnify"></b-button>
        </b-field>
      </b-navbar-item>
    </template> -->

    <template slot="end">
      <b-navbar-dropdown right>
        <template slot="label">
          <b-navbar-item tag="div">
            <b-icon icon="account-circle" size="is-medium"></b-icon>
            <p id="username">{{ $store.getters["usuario/nombre"] }}</p>
            <div id="dropdown" v-if="usuarioVisible"></div>
          </b-navbar-item>
        </template>

        <b-navbar-item @click="cerrarSesion()">
          Cerrar Sesión
        </b-navbar-item>

        <b-navbar-item>
          <router-link
            tag="a"
            :to="{
              name: 'cambiarContraseña'
            }"
            >Cambiar Contraseña</router-link
          >
        </b-navbar-item>
      </b-navbar-dropdown>
    </template>

    <!-- <nav class="navbar">
        <div class="navbar-brand titulo">
          Crosslogic
        </div>

        <div class="navbar-end">
          <div class="navbar-item has-dropdown is-hoverable">
            <b-icon icon="account-circle" size="is-large"></b-icon>
            {{usuario.ID}}
            <div class="navbar-dropdown">
              <div class="navbar-item">
                <a @click="cerrarSesion()">Cerrar sesión</a>
              </div>
              <div class="navbar-item">
                <a @click="$router.push({name: 'cambiarContraseña'})">
                  Cambiar contraseña
                  </a>
              </div>
            </div>
            </div>
          </div>
          <div class="navbar-item">
        </div>
      </nav> -->
  </b-navbar>
</template>

<script>
import eventBus from "@/eventBus.ts";
export default {
  props: {
    usuario: Object
  },

  data() {
    return {
      usuarioVisible: false
    };
  },
  methods: {
    desplegar() {
      this.usuarioVisible = !this.usuarioVisible;
    },
    cerrarSesion() {
      console.log("logging out...");
      this.$store.dispatch("usuario/logout");
      this.$router.push({ name: "login" });
    },
    blanquear() {
      console.log("Blanquear");
    },
    toggle() {
      eventBus.$emit("toggleMenu");
    }
  }
};
</script>

<style lang="scss" scoped>
@import "@/assets/variables";

nav.wrapper {
  background-color: $grey-lighter;
}
div.navbar-item {
  background-color: $grey-lighter;
}
</style>
