<template>
  <div>
    <div class="titulo-de-pantalla">
      <h1>{{ titulo }}</h1>
    </div>

    <b-field label="ID">
      <b-input v-model="deposito.ID" disabled> </b-input>
    </b-field>

    <b-field label="Nombre">
      <b-input v-model="deposito.Nombre"></b-input>
    </b-field>
    <b-checkbox v-model="deposito.DisponibleParaVenta"
      >¿Disponible para la venta?</b-checkbox
    >
    <b-checkbox v-model="deposito.AceptaStockNegativo"
      >¿Acepta stock negativo?</b-checkbox
    >

    <b-field label="Válido desde">
      <b-input v-model="deposito.ValidoDesde"> </b-input>
    </b-field>
    <b-field label="Válido hasta">
      <b-input v-model="deposito.ValidoHasta"> </b-input>
    </b-field>

    <div class="botonera">
      <b-button class="is-primary" @click="guardar()">Guardar</b-button>
      <b-button @click="volver()">Cancelar</b-button>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import eventBus from "@/eventBus.ts";
export default {
  data() {
    return {
      deposito: {
        ID: null,
        Nombre: null,
        DisponibleParaVenta: null,
        AceptaStockNegativo: null,
        ValidoDesde: null,
        ValidoHasta: null,
        CreatedAt: null,
        UpdatedAt: null
      }
    };
  },
  created() {
	document.title = "Depósito"
    if (!this.esNuevo) {
      this.actualizar();
    }
  },
  methods: {
    volver() {
      this.$router.go(-1);
    },
    actualizar() {
      axios
        .post("/backend/depositos/one", { ID: this.$route.query.id })
        .then(res => {
          this.deposito = res.data;
          this.deposito.ValidoDesde = this.deposito.ValidoDesde;
          this.deposito.ValidoHasta = this.deposito.ValidoHasta;
        })
        .catch(err => {
          eventBus.$emit("error", err);
        });
    },
    guardar() {
      // let copia = Object.assign({},this.deposito)
      // if (copia.ValidoDesde != null) {
      //     this
      // }
      if (this.esNuevo) {
        this.guardarNuevo();
      } else {
        this.guardarModificacion();
      }
    },
    guardarNuevo() {
      axios
        .post("/backend/depositos/nuevo", this.deposito)
        .then(() => {
          this.volver();
        })
        .catch(err => {
          eventBus.$emit("error", err);
        });
    },
    guardarModificacion() {
      axios
        .post("/backend/depositos/modificar", this.deposito)
        .then(() => {
          this.volver();
        })
        .catch(err => {
          eventBus.$emit("error", err);
        });
    }
  },
  computed: {
    esNuevo() {
      if (this.$route.query.id == undefined) {
        return true;
      }
      return false;
    },
    titulo() {
      if (this.esNuevo) {
        return "Nuevo depósito";
      }
      return "Modificar depósito";
    }
  }
};
</script>
