<template>
  <div class="modal-card">
    <header class="modal-card-head">
      <h1 class="modal-card-title">
        Asiento
      </h1>
    </header>
    <!-- Este componente es para mostrar el asiento como un modal -->

    <section class="modal-card-body">
      <tabla>
        <thead>
          <th align="middle">Vencimiento</th>
          <th>Cuenta</th>
          <th align="right">Debe</th>
          <th align="right">Haber</th>
          <th align="right" v-if="mostrarCantidad">Cantidad</th>
          <th align="right" v-if="mostrarCantidad">Unidad</th>
          <th align="center">Detalle</th>
					<th>Aplicado por</th>
        </thead>
        <tbody>
          <tr v-for="p in partidas" v-bind:key="p.ID">
            <td>{{ p.FechaFinanciera | enFecha }}</td>
            <td>
              <div>{{ cuentaNombre(p.Cuenta) }} <br /></div>
              <div v-if="p.Centro" class="lbl">
                Centro: {{ centroNombre(p) }} <br />
              </div>
              <div v-if="p.ConceptoIVA" class="lbl">
                <span class="val">
                 IVA: {{ conceptoNombre(p.ConceptoIVA) }} - {{ alicuotaNombre(p.AlicuotaIVA) }} <br
                /></span>
              </div>
              <div v-if="p.Caja" class="lbl">
                Caja: <span class="val"> {{ cajaNombre(p.Caja) }} </span>
              </div>
              <div v-if="p.Persona" class="lbl">
                Persona: {{ personaNombre(p.Persona) }}
              </div>
              <div v-if="p.Sucursal" class="lbl">
                Sucursal: {{ sucursalNombre(p.Sucursal) }}
              </div>
              <div v-if="p.Producto" class="lbl">
                Producto: {{ productoNombre(p.Producto) }}
              </div>
              <div v-if="p.SKU" class="lbl">SKU: {{ skuNombre(p.SKU) }}</div>
              <div v-if="p.UnicidadTipo" class="lbl">
                Tipo: {{ unicidadTipoNombre(p.UnicidadTipo) }}
              </div>
              <div v-if="p.Unicidad" class="lbl">
                Unicidad: {{ unicidadNombre(p.Unicidad) }} <br />
              </div>
              <div v-if="p.Deposito" class="lbl">
                Deposito: {{ depositoNombre(p.Deposito) }} <br />
              </div>
              <div v-if="p.PartidaAplicada" class="lbl">
                Aplica a: {{ aplicacionNombre(p) }} <br />
              </div>
              <div v-if="p.MontoMonedaOriginal" class="lbl">
                {{ monedaExtranjeraStr(p) }}<br />
              </div>
            </td>
            <!-- 
            <td v-if="mostrarAplicacion">{{ p.PartidaAplicada }}</td>
            <td v-if="mostrarConcepto">{{ conceptoNombre(p.ConceptoIVA) }}</td> -->
            <td align="right">{{ p.Monto | debe }}</td>
            <td align="right">{{ p.Monto | haber }}</td>
            <td align="right" v-if="mostrarCantidad">{{ p.Cantidad }}</td>
            <td v-if="mostrarCantidad">{{ p.UM }}</td>
            <td>{{ p.Detalle }}</td>
						<td>{{ listarAplicaciones(p.PartidaAplicada) }}</td>
          </tr>
          <!-- <tr v-if="asiento.partidas.length == 0">
                    El comprobante no tiene partidas contables.
        </tr>-->
        </tbody>
        <tfoot>
          <td></td>
          <td align="right">Totales</td>
          <!-- <td v-if="mostrarCentro"></td>
          <td v-if="mostrarCaja"></td>
          <td v-if="mostrarPersona"></td>
          <td v-if="mostrarSucursal"></td>
          <td v-if="mostrarUnicidadTipo"></td>
          <td v-if="mostrarUnicidad"></td>
          <td v-if="mostrarProducto"></td>
          <td v-if="mostrarSKU"></td>
          <td v-if="mostrarDeposito"></td>
          <td v-if="mostrarAplicacion"></td>
          <td v-if="mostrarConcepto"></td> -->
          <td align="right">{{ totalDebe | enPesos }}</td>
          <td align="right">{{ totalHaber | enPesos }}</td>
          <td colspan="4"></td>
        </tfoot>
      </tabla>
    </section>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Partida } from "../asiento/asientos";
import axios from "axios";
import eventBus from "@/eventBus"
import { enPesos } from "@/modules/util/format";
import { Moneda } from "@/modules/monedas/monedas";

export default Vue.extend({
  props: {
    partidas: {
      required: true,
      type: Array as () => Array<Partida>
    },
		opID: {
      required: false,
      type: String,
		}
  },
  data() {
    return {
      asiento: {
        partidas: []
      },
			personas: {} as any,
			sucursales: {} as any,
			aplicacionesDeEste: {} as any,
			aplicacionesSobreEste: {} as any,
    };
  },
  created() {
		if (this.opID) {
			this.fetchAplicaciones()
		}
	},
  methods: {
		fetchAplicaciones() {
			axios.post("/backend/ops/profundizar_asiento", {
				ID:  this.opID 
			})
			.then(res => {
				this.personas = res.data.Personas
				this.sucursales = res.data.Sucursales
				this.aplicacionesDeEste = res.data.AplicacionesDeEste
				this.aplicacionesSobreEste = res.data.AplicacionesSobreEste
				this.$forceUpdate()
			})
			.catch(err => {
				eventBus.$emit("error", err)
			})
		},
    cuentaNombre(id: string): string {
      if (!id) {
        return "";
      }
      let cta = this.$store.getters["cuentas/porID"](id);
      if (!cta) {
        return "CUENTA NO ECONTRADA (" + id + ")";
      }
      return cta.Nombre;
    },
    cajaNombre(id: string): string {
      if (!id) {
        return "";
      }
      let caja = this.$store.getters["cajas/porID"](id);
      if (!caja) {
        return "CAJA NO ECONTRADA (" + id + ")";
      }
      return caja.Nombre;
    },
    centroNombre(part: Partida): string {
      if (!part) {
        return "";
      }
      if (!part.Centro) {
        return "";
      }
      let centro = this.$store.getters["centros/porID"](part.Centro);
      if (!centro) {
        return "CENTRO NO ECONTRADO (" + part.Centro + ")";
      }
      return centro.Nombre;
    },
		listarAplicaciones(id: string | null): string {
			if (!id) {
				return ""
			}
			const comps = this.aplicacionesSobreEste[id]
			if (comps) {
				return comps.join("\n")
			}
      return "";
		},
    conceptoNombre(id: number): string {
      if (!id) {
        return "";
      }
      let cto = this.$store.getters["iva/conceptoPorID"](id);
      if (!cto) {
        return String(id);
      }
      return cto.Nombre;
    },
    alicuotaNombre(id: number): string {
      if (!id) {
        return "";
      }
      let cto = this.$store.getters["iva/alicuotaPorID"](id);
      if (!cto) {
        return String(id);
      }
      return cto.Nombre;
    },
    personaNombre(id: string): string {
			const name = this.personas[id]
			if (name) {
				return name
			}
      return id;
    },
    sucursalNombre(id: string): string {
			const name = this.sucursales[id]
			if (name) {
				return name
			}
      return id;
    },
    productoNombre(id: string): string {
      return id;
    },
    skuNombre(id: string): string {
      return id;
    },
    unicidadNombre(id: string): string {
      return id;
    },
    depositoNombre(id: string): string {
      return id;
    },
    unicidadTipoNombre(id: string): string {
      let found = this.$store.getters["unicidadesdef/porID"](id);
      if (found) {
        return found.Nombre;
      }
      return id
    },
    aplicacionNombre(p: Partida): string {
      if (!p.PartidaAplicada) {
        return "";
      }
      if (p.PartidaAplicada == p.ID) {
        return "nueva partida";
      } else {
        return this.aplicacionesDeEste[p.PartidaAplicada]
      }
    },
    monedaExtranjeraStr(p: Partida): string {
      let mon: Moneda = this.$store.getters["monedas/porID"](p.Moneda);
      if (!mon) {
        return "Moneda N/D";
      }
      return `${mon.Simbolo} ${enPesos(p.MontoMonedaOriginal as number)} (TC: ${
        p.TC
      })`;
    }
  },
  computed: {
    totalDebe(): number {
      let sum = 0;
      for (let v of this.partidas) {
        if (v.Monto > 0) {
          sum += v.Monto;
        }
      }
      return sum;
    },
    totalHaber(): number {
      let sum = 0;
      for (let v of this.partidas) {
        if (v.Monto < 0) {
          sum -= v.Monto;
        }
      }
      return sum;
    },
    mostrarCentro(): boolean {
      for (let v of this.partidas) {
        if (v.Centro) {
          return true;
        }
      }
      return false;
    },
    mostrarCaja(): boolean {
      for (let v of this.partidas) {
        if (v.Caja) {
          return true;
        }
      }
      return false;
    },
    mostrarPersona(): boolean {
      for (let v of this.partidas) {
        if (v.Persona) {
          return true;
        }
      }
      return false;
    },
    mostrarSucursal(): boolean {
      for (let v of this.partidas) {
        if (v.Sucursal) {
          return true;
        }
      }
      return false;
    },
    mostrarUnicidadTipo(): boolean {
      for (let v of this.partidas) {
        if (v.UnicidadTipo) {
          return true;
        }
      }
      return false;
    },
    mostrarUnicidad(): boolean {
      for (let v of this.partidas) {
        if (v.Unicidad) {
          return true;
        }
      }
      return false;
    },
    mostrarProducto(): boolean {
      for (let v of this.partidas) {
        if (v.Producto) {
          return true;
        }
      }
      return false;
    },
    mostrarSKU(): boolean {
      for (let v of this.partidas) {
        if (v.SKU) {
          return true;
        }
      }
      return false;
    },
    mostrarDeposito(): boolean {
      for (let v of this.partidas) {
        if (v.Deposito) {
          return true;
        }
      }
      return false;
    },
    mostrarCantidad(): boolean {
      for (let v of this.partidas) {
        if (v.Cantidad) {
          return true;
        }
      }
      return false;
    },
    mostrarAplicacion(): boolean {
      for (let v of this.partidas) {
        if (v.PartidaAplicada) {
          return true;
        }
      }
      return false;
    },
    mostrarConcepto(): boolean {
      for (let v of this.partidas) {
        if (v.ConceptoIVA) {
          return true;
        }
      }
      return false;
    }
  }
});
</script>
<style lang="scss" scoped>
label {
  font-weight: bold;
}
div.lbl {
  margin-left: 3em;
  color: gray;
  font-size: 80%;
}
span.val {
  color: gray;
}
</style>
