<template>
  <div class="modal-card">
    <header class="modal-card-head">
      <h1 class="modal-card-title">Buscar cuenta contable</h1>
    </header>

    <section class="modal-card-body">
      <b-field>
        <b-input
          type="search"
          icon="magnify"
          v-model="texto"
          ref="searchText"
        />
      </b-field>

      <div id="tabla">
        <tabla>
          <thead>
            <th>Numero</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th></th>
          </thead>
          <tbody>
            <tr
              v-for="c in filtradas"
              v-bind:key="c.ID"
              @click="seleccionar(c)"
              class="link"
            >
              <td>{{ c.Codigo }}</td>
              <td>
                <b-button class="nombre-cuenta" @click="seleccionar(c)">
                  {{ c.Nombre }}
                </b-button>
              </td>
              <td>{{ c.TipoCuenta }}</td>
              <td></td>
            </tr>
          </tbody>
        </tabla>
      </div>
    </section>

    <footer class="modal-card-foot">
      <b-button>Cancelar</b-button>
    </footer>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Cuenta } from "@/interfaces/cuentas";
export default Vue.extend({
  // Las cuentas contables las debe proveer la página madre
  props: {
    bus: {
      required: true,
      type: Object
    }
  },
  data() {
    return {
      texto: ""
    };
  },
  mounted() {
    (this.$refs.searchText as any).focus();
  },
  methods: {
    cerrar() {
      this.bus.$emit("cerrarCuentas");
    },
    seleccionar(cta: Cuenta) {
      this.bus.$emit("cuentaSeleccionada", cta.ID);
      (this.$parent as any).close();
    }
  },
  computed: {
    filtradas(): Cuenta[] {
      return this.cuentas.filter(item => {
        if (item.Nombre.toLowerCase().includes(this.texto.toLowerCase())) {
          return true;
        }
      });
    },
    cuentas(): Cuenta[] {
      return this.$store.getters["cuentas/imputables"];
    }
  }
});
</script>

<style lang="scss">
button.nombre-cuenta {
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  height: 1em;
}
div.tabla {
  overflow-y: scroll;
}
</style>
