// Este es select, con la diferencia que si el valor seleccionado no está como
// opción va a crear la opción y la va a dejar ahí
<template>
  <select :value="numero" @input="handleInput">
    <option v-if="crearDefault && numero != undefined" :value="numero">{{nombre}}</option>

    <slot></slot>
  </select>
</template>

<script>
export default {
  props: ["lista", "nombre", "numero"],
  data() {
    return {
      // Integer que guarda la posición en el array

      crearDefault: null
    };
  },
  model: {
    prop: ["numero"],
    event: "change"
  },
  created() {
    console.log(this.numero);
    if (this.lista == undefined || this.lista == null) {
      return true;
    }
    let lookup = this.lista.find(item => {
      return item.ID == this.numero;
    });

    if (lookup == undefined) {
      this.crearDefault = true;
    }
  },

  methods: {
    handleInput(e) {
      // console.log("numero", this.model.value);
      this.$emit("change", parseInt(e.target.value));
    }
  }
};
</script>

<style lang="scss" scoped>
</style>
