<template>
  <div :id="id" class="exterior" :style="{width: w*1.2+'px', height:h*1.2+'px'}">
    <div class="interior" :style="{width: w+'px', height:h+'px'}">
      <svg
        id="Capa_1"
        data-name="Capa 1"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 152.54 152.54"
        :width="w + 'px'"
        :height="h + 'px'"
      >
        <g class="cls-1">
          <path
            class="cls-2"
            d="M405.62,282.8v-2.32q0-21.24,0-42.47a16,16,0,0,1,4.17-11.38,14.94,14.94,0,0,1,16.36-3.85c5.74,2.22,9.28,6.47,9.83,12.74.28,3.15.18,6.33.19,9.5q0,17.79,0,35.58v2.2h2.2q21.32,0,42.64,0a15.94,15.94,0,0,1,11.13,4,15.28,15.28,0,0,1,4.15,16.45,15.06,15.06,0,0,1-12.86,9.95c-2.83.19-5.68.17-8.52.17q-18.28,0-36.57,0h-2.16v2.24q0,21.24,0,42.47a16,16,0,0,1-3.9,11.15,15.24,15.24,0,0,1-16.41,4.28,15.06,15.06,0,0,1-10.07-12.94c-.18-2.56-.16-5.13-.16-7.7q0-18.69,0-37.39v-2.12h-2.28q-21.24,0-42.47,0a16.06,16.06,0,0,1-11.39-4.14,14.92,14.92,0,0,1-3.9-16.35c2.2-5.75,6.45-9.21,12.71-9.89a36.6,36.6,0,0,1,3.93-.16h43.4Z"
            transform="translate(-344.59 -221.78)"
          ></path>
        </g>
      </svg>
    </div>
  </div>
</template>

<script>
export default {
  props: ["size", "id"],
  computed: {
    w() {
      if (this.size == undefined) {
        return 30;
      }
      return this.size;
    },
    h() {
      if (this.size == undefined) {
        return 30;
      }
      return this.size;
    }
  }
};
</script>

<style lang="scss" scoped>
svg {
  fill: orange;
}
div.exterior {
  background-color: $gris2;
  padding: 0;
  display: inline-block;
  border-radius: 50%;

  display: flex;
  align-items: center;

  :hover {
    cursor: pointer;
  }
}
div.interior {
  margin: auto;
  background-color: $gris0;
  padding: 0;
  border-radius: 50%;
}
</style>
