<template>
  <b-field class="output-buttons-wrapper" grouped :position="position">
    <p class="control" v-if="pdf">
      <b-button
        class="btn-pdf"
        @click="pdf()"
        title="Exportar a PDF"
        :size="size"
      >
        <b-icon icon="file-pdf-box"></b-icon>
      </b-button>
    </p>
    <p class="control" v-if="excel">
      <b-button
        class="btn-excel"
        @click="excel()"
        title="Exportar a Excel"
        :size="size"
      >
        <b-icon icon="file-excel-outline"></b-icon>
      </b-button>
    </p>
    <p class="control" v-if="csv">
      <b-button
        :class="{ 'btn-csv': true }"
        :size="size"
        @click="csv()"
        title="Exportar a CSV"
      >
        <b-icon icon="file-delimited-outline"></b-icon>
      </b-button>
    </p>
    <p class="control" v-if="email">
      <b-button
        :class="{ 'btn-email': true }"
        :size="size"
        @click="email()"
        title="Enviar e-mail"
      >
        <b-icon icon="email"></b-icon>
      </b-button>
    </p>
    <!-- <p class="control">
      <b-button @click="csv()" title="Imprimir">
        <b-icon icon="printer"></b-icon>
      </b-button>
    </p> -->
  </b-field>
</template>
<script>
export default {
  props: {
    // En cada prop se ingresa la función que se debe ejecutar cuando se hace clic.
    pdf: {
      type: Function,
    },
    csv: {
      type: Function,
    },
    excel: {
      type: Function,
    },
    email: {
      type: Function,
    },
    size: {
      type: String,
    },
    position: {
      type: String,
    },
    leyenda: {
      type: String,
    },
  },
};
</script>
<style lang="scss">
div.output-buttons-wrapper {
  display: inline;
  button {
    height: 70%;
    // width: 70%;
    &.btn-csv {
      background-color: white;
      color: #f986f1;
      &:hover {
        background-color: green;
        color: white;
      }
    }
    &.btn-excel {
      background-color: white;
      color: green;
      &:hover {
        background-color: green;
        color: white;
      }
    }
    &.btn-pdf {
      background-color: white;
      color: red;
      &:hover {
        background-color: red;
        color: white;
      }
    }
    &.btn-email {
      background-color: white;
      color: blue;
      &:hover {
        background-color: blue;
        color: white;
      }
    }
  }
}
</style>
