<template>
  <div
    class="puntitos-wrapper"
    :id="id"
    :style="{width: w + 'px', height: h +'px'}"
    v-on-clickaway="close"
  >
    <div class="transparente" :style="{width: w + 'px', height: h +'px'}"></div>
    <svg
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      :width="w + 'px'"
      :height="h +'px'"
      viewBox="0 0 512 512"
      style="enable-background:new 0 0 512 512;"
      xml:space="preserve"
      @contextmenu.prevent="open"
      @click="open"
    >
      <g>
        <circle cx="256" cy="256" r="64"></circle>
        <circle cx="256" cy="448" r="64"></circle>
        <circle cx="256" cy="64" r="64"></circle>
      </g>
    </svg>

    <div
      ref="ventanita"
      class="v-context"
      v-show="show"
      :style="style"
      tabindex="-1"
      @click="onClick"
      @contextmenu.capture.prevent
    >
      <slot :data="data"></slot>
    </div>
  </div>
</template>


<script>
import { mixin as clickaway } from "vue-clickaway";
export default {
  mixins: [clickaway],
  props: {
    /**
     * Close the menu on click.
     *
     * @type {boolean}
     */
    closeOnClick: {
      type: Boolean,
      default: true
    },
    /**
     * Close the menu automatically on window scroll.
     *
     * @type {boolean}
     */
    closeOnScroll: {
      type: Boolean,
      default: true
    },
    size: Number,
    id: String
  },
  computed: {
    /**
     * Generate the CSS styles for positioning the context menu.
     *
     * @returns {object|null}
     */
    style() {
      return this.show
        ? { top: `${this.top}px`, left: `${this.left}px` }
        : null;
    },
    w() {
      if (this.size == undefined) {
        return 25 * 0.7;
      }
      return this.size * 0.7;
    },
    h() {
      if (this.size == undefined) {
        return 25;
      }
      return this.size;
    }
  },
  data() {
    return {
      top: null,
      left: null,
      show: false,
      data: null
    };
  },
  mounted() {
    if (this.closeOnScroll) {
      this.addScrollEventListener();
    }
  },
  beforeDestroy() {
    if (this.closeOnScroll) {
      this.removeScrollEventListener();
    }
  },

  methods: {
    /**
     * Add scroll event listener to close context menu.
     */
    addScrollEventListener() {
      window.addEventListener("scroll", this.close);
    },
    /**
     * Close the context menu.
     *
     * @param {boolean|Event} emit Used to prevent event being emitted twice from when menu is clicked and closed
     */
    close(emit = true) {
      // console.log("entrando a close(", emit, "). Show:", this.show);
      if (!this.show) {
        return;
      }
      this.top = null;
      this.left = null;
      this.data = null;
      this.show = false;
      if (emit) {
        this.$emit("close");
      }
    },
    /**
     * Close the menu if `closeOnClick` is set to true.
     */
    onClick() {
      // console.log("entrando a close(). Show:", this.show);
      if (this.closeOnClick) {
        this.close(false);
      }
    },
    /**
     * Open the context menu.
     *
     * @param {MouseEvent} event
     * @param {array|object|string} data User provided data for the menu
     */
    open(event) {
      this.show = true;
      this.$nextTick(() => {
        this.positionMenu(event.clientY, event.clientX);
      });
    },

    /**
     * Set the context menu top and left positions.
     *
     * @param {number} top
     * @param {number} left
     */
    positionMenu(top, left) {
      const largestHeight =
        window.innerHeight -
        this.$el.offsetHeight -
        this.$refs.ventanita.clientHeight;
      const largestWidth =
        window.innerWidth -
        this.$el.offsetWidth -
        this.$refs.ventanita.clientWidth;
      if (top > largestHeight) {
        top = largestHeight;
      }
      if (left > largestWidth) {
        left = largestWidth;
      }

      this.top = top;
      this.left = left;
    },
    /**
     * Remove the scroll event listener to close the context menu.
     */
    removeScrollEventListener() {
      window.removeEventListener("scroll", this.close);
    }
  },
  watch: {
    /**
     * Add or remove the scroll event listener when the prop value changes.
     *
     * @param {boolean} value
     * @param {boolean} oldValue
     */
    closeOnScroll(value, oldValue) {
      if (value === oldValue) {
        return;
      }
      if (value) {
        this.addScrollEventListener();
      } else {
        this.removeScrollEventListener();
      }
    }
  }
};
</script>

<style lang="scss" scoped>
div.transparente {
  background-color: white;
  opacity: 0.55;
  border-radius: 7px;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 0;

  &:hover {
    cursor: pointer;
  }
}
svg {
  position: absolute;
}
circle {
  fill: #878787;
  z-index: 1;
}
svg:hover {
  cursor: pointer;
}
svg:hover g circle {
  fill: #ff00e1;
  transition: fill 0.3s;
}

$blue600: #1e88e5;
$gray74: #bdbdbd;
$gray93: #ededed;
$gray98: #fafafa;
.v-context {
  background: $gray98;
  border: 1px solid $gray74;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  display: block;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 250px;
  z-index: 99999;
  ul {
    list-style: none;
    padding: 10px 0;
    margin: 0;
    font-size: 12px;
    font-weight: 600;
    li {
      text-align: left;
      margin: 0;
      padding: 10px 35px;
      cursor: pointer;
      &:hover {
        background: $blue600;
        color: $gray98;
      }
    }
  }
}
</style>
