<template>
  <table
    class="table tabla"
    :class="{ expanded: expanded, light: light}"
  >
    <slot> </slot>
  </table>
</template>
<style lang="scss">
table.tabla {
  @import "@/assets/variables";

  box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);

  &.expanded {
    width: 100%;
  }
  font-size: 0.9em;
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  tr:hover {
    background-color: #f5f5f5;
  }
  thead {
    background-color: transparent;
  }
  th {
    background-color: $primary; //#6c7ae0;
    color: white;
    padding: 0.4rem 1rem;
    vertical-align: middle;
  }
  &.light th {
    background-color: #fafafa;
    color: black;
  }
  td {
    padding: 0.4rem 1rem;
    vertical-align: middle;
    border-bottom: #f0f0f0;
  }

  th:first-child {
    border-radius: 6px 0 0 0;
  }

  th:last-child {
    border-radius: 0 6px 0 0;
  }

  th:only-child {
    border-radius: 6px 6px 0 0;
  }
  tfoot {
    tr {
      font-weight: bold;
    }
  }

  &.micro {
    font-size: 80%;
  }
}

div.tabla {
  //   position: relative;
  border-radius: 8px;
  //   overflow: hidden;
  border: 1px solid transparent;
  width: min-content;

  &.expanded {
    width: 100%;
  }
}
</style>
//
<script>
export default {
  props: {
    expanded: Boolean,
    light: Boolean,
  },
};
</script>
