<template>
  <combo v-model="persona" :lista="lista" :nombre="nombre">
    <option v-for="v in lista" v-bind:key="v.ID" :value="v.ID">{{
      v.Nombre
    }}</option>
  </combo>
</template>

<script>
import Combo from "./Combo";
export default {
  components: {
    Combo
  },
  data() {
    return {
      persona: 9,
      nombre: "Martin",
      lista: [
        { ID: 1, Nombre: "Marcos" },
        { ID: 2, Nombre: "Ornella" },
        { ID: 3, Nombre: "Jose" },
        { ID: 4, Nombre: "Pedro" },
        { ID: 5, Nombre: "Antonio" },
        { ID: 6, Nombre: "Barbie" }
      ]
    };
  }
};
</script>
