<template>
  <li :style="indent" class="tree-node">
    <span v-if="!node.root"> - aaa {{ node.text }}</span>

    <ul v-if="node.children && node.children.length">
      <node v-for="child in node.children" :node="child" :nivel="nivel + 1">
      </node>
    </ul>
  </li>
</template>

<script>
export default {
  name: "node",
  props: { node: Object, nivel: Number },
  computed: {
    indent() {
      return { transform: `translate(${this.nivel * 10}px)` };
    }
  }
};
</script>
