<template>
  <div>
    <h1 class="title">Libro Mayor</h1>

    <div class="columns box">
      <!-- Empresa -->
      <div class="column">
        <b-field label="Empresa" horizontal>
          <b-select v-model="empresa" placeholder="Todas" expanded>
            <option :value="null">Todas</option>
            <option v-for="e in empresasDisponibles" :key="e.ID" :value="e.ID">
              {{ e.Nombre }}
            </option>
          </b-select>
        </b-field>

        <!-- CUENTA -->
        <b-field label="Cuenta" horizontal>
          <b-field>
            <p class="control input">{{ cuentaNombre }}</p>
            <p class="control">
              <b-button
                icon-left="magnify"
                class="is-primary"
                @click="buscarCuenta()"
              ></b-button>
            </p>
          </b-field>
        </b-field>

        <!-- GRUPO DE CENTROS -->
        <b-field label="Grupo centros" v-if="mostrarCentros" horizontal>
          <multiselect
            :options="centrosGrupos"
            v-model="centrosGruposSeleccionados"
            mode="tags"
            valueProp="ID"
            label="Nombre"
          >
          </multiselect>
        </b-field>

        <!-- CENTROS -->
        <b-field label="Centro" v-if="mostrarCentros" horizontal>
          <multiselect
            :options="centros"
            v-model="centrosSeleccionados"
            mode="tags"
            valueProp="ID"
            label="Nombre"
          >
          </multiselect>
        </b-field>

        <!-- MONEDA -->
        <b-field label="Moneda" v-if="mostrarMoneda" horizontal>
          <b-select v-model="moneda">
            <option :value="null">Todas</option>
            <option v-for="v in monedas" :value="v.ID" :key="v.ID">
              {{ v.NombrePlural }}
            </option>
          </b-select>
        </b-field>

        <!-- PERSONA -->
        <b-field label="Persona" horizontal v-if="mostrarPersona">
          <b-field>
            <p class="control input">{{ nombrePersona }}</p>
            <p class="control">
              <b-button
                icon-left="magnify"
                class="is-primary"
                @click="buscarPersona()"
              ></b-button>
            </p>
          </b-field>
        </b-field>

        <!-- SUCURSAL-->
        <b-field label="Sucursal" v-if="mostrarSucursal" horizontal>
          <b-select v-model="sucursal">
            <option v-for="v in sucursales" :value="v.ID" :key="v.ID">
              {{ v.Nombre }}
            </option>
          </b-select>
        </b-field>
      </div>
      <div class="column">
        <!-- Desde -->
        <b-field label="Desde" horizontal>
          <b-input type="date" v-model="desde" custom-class="fch" />
        </b-field>
        <!-- Hasta -->
        <b-field label="Hasta" horizontal>
          <b-input type="date" v-model="hasta" custom-class="fch" />
        </b-field>
        <!-- <b-field>
          <b-checkbox v-model="inflacion"
            >Incluir ajuste por inflación</b-checkbox
          >
        </b-field> -->
        <!-- PERSONA -->
        <b-field
          ><b-checkbox v-model="incluirSaldosInicio"
            >¿Saldo inicio?</b-checkbox
          ></b-field
        >
        <b-field>
          <b-checkbox v-model="incluirRefundicion" v-if="!incluirSaldosInicio"
            >¿Incluir asientos refundición?</b-checkbox
          >
        </b-field>
        <b-field>
          <b-checkbox v-model="incluirCierre" v-if="!incluirSaldosInicio"
            >¿Incluir asientos cierre?</b-checkbox
          >
        </b-field>
        <b-field>
          <b-checkbox v-model="incluirApertura" v-if="!incluirSaldosInicio"
            >¿Incluir asientos apertura?</b-checkbox
          >
        </b-field>
        <b-field>
          <b-checkbox v-model="incluirInflacion" v-if="!incluirSaldosInicio"
            >¿Incluir ajuste inflación?</b-checkbox
          >
        </b-field>
      </div>

      <div class="column is-narrow">
        <b-button
          type="submit"
          class="is-primary"
          @click.prevent="submit"
          value="Consultar"
        >
          Buscar</b-button
        >
      </div>
    </div>

    <div id="resultados" v-if="mayor">
      <OutputButtons :csv="csv" :excel="excel"></OutputButtons>
      <tabla v-if="!vacio">
        <col style="width: 4em" />
        <col style="width: 12em" />
        <col style="width: 10.5em" />
        <thead>
          <th align="middle">Fecha</th>
          <th align="middle">Comprobante</th>
          <th align="middle">Número</th>
          <th align="middle">Persona</th>
          <th align="middle">Detalle comp</th>
          <th align="middle">Debe</th>
          <th align="middle">Haber</th>
          <th align="middle">Saldo</th>
          <th align="middle">Detalle partida</th>
          <th align="middle" v-if="mostrarMoneda">Original</th>
          <th align="middle" v-if="mostrarMoneda">TC</th>
        </thead>
        <tbody v-if="mayor != null">
          <tr v-if="incluirSaldosInicio">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td align="right">Saldo inicio</td>
            <td></td>
            <td></td>
            <td align="right">{{ saldoInicio | enPesos }}</td>
          </tr>
          <tr
            v-for="reg in mayor.Partidas"
            v-bind:key="reg.ID"
            @click="profundizar(reg.ID)"
          >
            <td>{{ reg.fch | enFecha }}</td>
            <td>{{ reg.cmp }}</td>
            <td>{{ reg.n }}</td>
            <td>{{ reg.per }}</td>
            <td>{{ reg.detc }}</td>
            <td align="right">{{ reg.mto | debe }}</td>
            <td align="right">{{ reg.mto | haber }}</td>
            <td align="right">{{ reg.ac | enPesos }}</td>
            <td>{{ reg.det }}</td>
            <td align="right" v-if="mostrarMoneda">
              {{ reg.orig | enPesos }}
            </td>
            <td align="right" v-if="mostrarMoneda">
              {{ reg.tc | enPesos }}
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td align="right">{{ saldoFinalString }}</td>
            <td align="right">{{ totalDebe | enPesos }}</td>
            <td align="right">{{ totalHaber | enPesos }}</td>
            <td align="right">{{ saldoFinal | enPesos }}</td>
            <td></td>
            <td v-if="mostrarMoneda"></td>
            <td v-if="mostrarMoneda"></td>
          </tr>
        </tfoot>
      </tabla>
      <OutputButtons :csv="csv" :excel="excel"></OutputButtons>
    </div>

    <b-loading
      is-full-page
      :active="cargando != 0"
      :can-cancel="true"
    ></b-loading>
  </div>
</template>

<script lang="ts">
import BuscadorCuentasContables from "@/components/widgets/BuscadorCuentasContables.vue";
import OutputButtons from "../widgets/OutputButtons.vue";
import BuscadorPersonas from "@/modules/personas/components/BuscadorPersonas.vue";
import axios from "axios";
import Vue from "vue";
import { Empresa } from "@/interfaces/empresas";
import { Cuenta } from "@/interfaces/cuentas";
import { Persona, Sucursal } from "@/modules/personas/personas";
import { Centro } from "@/modules/centros/centros";
import { Mayor } from "@/interfaces/mayor";
import eventBus from "@/eventBus";
import { updateQuery } from "@/modules/routeUtil";
import { Moneda } from "@/modules/monedas/monedas";
export default Vue.extend({
  components: {
    OutputButtons,
  },
  data() {
    return {
      empresa: null as string | null,

      buscarCta: "",
      dropCtasVisible: false as boolean,
      cuenta: null as string | null,

      desde: null as string | null,
      hasta: null as string | null,
      incluirSaldosInicio: true as boolean,
      incluirInflacion: true as boolean,
      incluirApertura: true as boolean,
      incluirRefundicion: true as boolean,
      incluirCierre: true as boolean,
      mayor: null as Mayor | null,
      saldoInicio: null as number | null,
      saldoFinal: null as number | null,

      moneda: null as string | null,

      centrosGruposSeleccionados: [] as string[],
      centrosSeleccionados: [] as string[],
      persona: null as string | null,
      sucursal: null as string | null,
      personaObj: null as Persona | null,
      localBus: new Vue(),
      vacio: true as boolean,

      cargando: 0 as number,
    };
  },
  created() {
    document.title = "Mayor";
    // Hooks
    this.localBus.$on("cuentaSeleccionada", (cta: string) => {
      this.cuenta = cta;
    });
    this.localBus.$on("personaSeleccionada", (p: string) => {
      this.persona = p;
    });

    // Empresa
    if (this.$route.query.empresa) {
      this.empresa = this.$route.query.empresa as string;
    } else {
      this.empresa = this.$store.state.empresas.Seleccionda;
    }
    // Desde
    if (this.$route.query.desde) {
      this.desde = this.$route.query.desde as string;
    }
    // Hasta
    if (this.$route.query.hasta) {
      this.hasta = this.$route.query.hasta as string;
    }

    let actualizarLuego = false;
    // Cuenta
    if (this.$route.query.cuenta) {
      this.cuenta = this.$route.query.cuenta as string;
      actualizarLuego = true;
    }

    // Centro
    if (this.$route.query.centros) {
      this.centrosSeleccionados = this.$route.query.centros as string[];
      actualizarLuego = true;
    }

    console.log(
      "Saldos inicio",
      this.$route.query.incluir_saldos_inicio,
      "tipo",
      typeof this.$route.query.incluir_saldos_inicio
    );

    // Saldos inicio?
    if (this.$route.query.incluir_saldos_inicio) {
      this.incluirSaldosInicio = this.parseBool(
        this.$route.query.incluir_saldos_inicio
      );
    }

    // Asientos apertura?
    if (this.$route.query.incluir_apertura) {
      this.incluirApertura = this.parseBool(this.$route.query.incluir_apertura);
    }

    // Asientos de refundición
    if (this.$route.query.incluir_refundicion) {
      this.incluirRefundicion = this.parseBool(
        this.$route.query.incluir_refundicion
      );
    }

    // Asientos cierre
    if (this.$route.query.incluir_cierre) {
      this.incluirCierre = this.parseBool(this.$route.query.incluir_cierre);
    }

    // Inflación
    if (this.$route.query.incluir_inflacion) {
      this.incluirInflacion = this.parseBool(
        this.$route.query.incluir_inflacion
      );
    }

    if (actualizarLuego) {
      this.actualizar();
    }
  },

  methods: {
    submit() {
      if (!this.cuenta) {
        this.$buefy.dialog.alert({
          title: "Validación",
          message: "Debe ingresar una cuenta",
          ariaRole: "alertdialog",
          ariaModal: true,
        });
        return;
      }
      this.actualizar();
    },
    csv() {
      let params: any = this.params();
      this.cargando++;
      params["Output"] = "csv";
      axios
        .post("/backend/contables/mayor/", params)
        .then((res) => {
          const blob = new Blob([res.data], { type: "text/csv" });
          const link = document.createElement("a");
          link.href = URL.createObjectURL(blob);
          link.click();
          URL.revokeObjectURL(link.href);
          // this.createExportLoading = false;
        })
        .catch((error) => {
          eventBus.$emit("error", error);
        })
        .finally(() => this.cargando--);
    },
    excel() {
      let params: any = this.params();
      this.cargando++;
      params["Output"] = "excel";
      axios
        .request({
          url: "/backend/contables/mayor/",
          method: "POST",
          responseType: "blob",
          data: params,
        })
        .then((res) => {
          const downloadUrl = window.URL.createObjectURL(new Blob([res.data]));
          const link = document.createElement("a");
          link.href = downloadUrl;
          let fileName = "Mayor.xlsx";
          let cta = this.$store.getters["cuentas/porID"](this.cuenta);
          if (cta) {
            fileName = `Mayor - ${cta.Nombre} (${cta.Codigo}).xlsx`;
          }
          link.setAttribute("download", fileName); //any other extension
          document.body.appendChild(link);
          link.click();
          link.remove();
        })
        .catch((error) => {
          eventBus.$emit("error", error);
        })
        .finally(() => this.cargando--);
    },
    params() {
      let emps: string[] = [];
      if (this.empresa != null) {
        emps = [this.empresa];
      }
      let out: any = {
        Empresas: emps,
        Cuentas: [this.cuenta],
        FechaDesde: this.desde,
        FechaHasta: this.hasta,
        IncluirInflacion: this.incluirInflacion,
        IncluirSaldosInicio: this.incluirSaldosInicio,
        IncluirRefundicion: this.incluirRefundicion,
        IncluirCierre: this.incluirCierre,
        IncluirApertura: this.incluirApertura,
      };

      if (this.mostrarPersona && this.persona) {
        out.Personas = [this.persona];
      }
      if (this.mostrarSucursal && this.sucursal) {
        out.Sucursales = [this.sucursal];
      }
      if (this.mostrarCentros) {
        if (this.centrosSeleccionados && this.centrosSeleccionados.length) {
          out.Centros = this.centrosSeleccionados;
        }
        if (
          this.centrosGruposSeleccionados &&
          this.centrosGruposSeleccionados.length
        ) {
          out.CentrosGrupos = this.centrosGruposSeleccionados;
        }
      }
      if (this.mostrarMoneda && this.moneda) {
        out.Moneda = this.moneda;
      }
      return out;
    },
    actualizar() {
      this.cargando++;
      axios
        .post("/backend/contables/mayor/", this.params())
        .then((res) => {
          this.mayor = res.data;
          this.saldoInicio = res.data.SaldoInicio;
          this.saldoFinal = res.data.SaldoFinal;
          this.vacio = false;
        })
        .catch((error) => {
          eventBus.$emit("error", error);
        })
        .finally(() => this.cargando--);
    },
    buscarCuenta() {
      this.$buefy.modal.open({
        parent: this,
        component: BuscadorCuentasContables,
        hasModalCard: true,
        trapFocus: true,
        fullScreen: true,
        scroll: "clip",
        props: {
          bus: this.localBus,
        },
      });
    },
    buscarPersona() {
      this.$buefy.modal.open({
        parent: this,
        component: BuscadorPersonas,
        hasModalCard: true,
        trapFocus: true,
        fullScreen: true,
        scroll: "clip",
        props: {
          bus: this.localBus,
          cuentas: [this.cuenta],
        },
      });
    },
    replaceQuery() {
      // Armo query
      let q: any = {
        desde: this.desde,
        hasta: this.hasta,
        empresa: this.empresa,
        cuenta: this.cuenta,
        centros: this.centrosSeleccionados,
      };
      q.incluir_saldos_inicio = this.incluirSaldosInicio;
      q.incluir_apertura = this.incluirApertura;
      q.incluir_cierre = this.incluirCierre;
      q.incluir_refundicion = this.incluirRefundicion;
      q.incluir_inflacion = this.incluirInflacion;

      // Remplazo
      updateQuery(q, this);
    },
    profundizar(partidaID: string) {
      this.replaceQuery();
      this.$router.push({
        name: "mostrarComprobante",
        query: { partida: partidaID },
      });
    },
    bajarAlDropdown() {
      if (this.dropCtasVisible == false) {
        return;
      }
      let el = document.getElementById("ul-cuentas");
      if (el != null) {
        el.focus();
      }
    },
    parseBool(val: any): boolean {
      if (typeof val == "string") {
        return val == "true";
      }
      if (typeof val == "boolean") {
        return val;
      }
      return false;
    },
  },
  computed: {
    empresasDisponibles(): Empresa[] {
      return this.$store.getters["empresas/permitidas"];
    },
    cuentas(): Cuenta[] {
      return this.$store.getters["cuentas/imputables"];
    },
    cuentaNombre(): string {
      if (!this.cuenta) {
        return "";
      }
      let cta = this.$store.getters["cuentas/porID"](this.cuenta);
      if (!cta) {
        return this.cuenta;
      }
      return cta.Nombre;
    },
    centros(): Centro[] {
      if (!this.cuenta) {
        return [];
      }

      let cta: Cuenta = this.$store.getters["cuentas/porID"](this.cuenta);
      if (!cta) {
        return [];
      }
      if (!cta.AperturaCentro) {
        return [];
      }
      if (this.centrosGruposSeleccionados.length) {
        return this.$store.getters["centros/many"](
          cta.CentrosPermitidos,
          cta.CentrosGrupos
        );
      }
      return this.$store.getters["centros/many"](
        cta.CentrosPermitidos,
        cta.CentrosGrupos
      );
    },
    centrosGrupos(): Centro[] {
      if (!this.cuenta) {
        return [];
      }

      let cta: Cuenta = this.$store.getters["cuentas/porID"](this.cuenta);
      if (!cta) {
        return [];
      }
      if (!cta.AperturaCentro) {
        return [];
      }
      return this.$store.getters["centros/grupos"];
    },
    totalDebe(): number {
      if (!this.mayor) {
        return 0;
      }
      let debe = 0;
      for (let v of this.mayor.Partidas) {
        if (v.mto > 0) {
          debe += v.mto;
        }
      }
      return debe;
    },
    totalHaber() {
      if (!this.mayor) {
        return 0;
      }
      let haber = 0;
      for (let v of this.mayor.Partidas) {
        if (v.mto < 0) {
          haber += -v.mto;
        }
      }
      return haber;
    },
    mostrarCentros(): boolean {
      if (!this.cuenta) {
        return false;
      }

      let cta: Cuenta = this.$store.getters["cuentas/porID"](this.cuenta);
      if (!cta) {
        return false;
      }
      if (cta.AperturaCentro) {
        return true;
      }
      return false;
    },
    nombrePersona(): string {
      if (this.personaObj) {
        return this.personaObj.Nombre;
      }
      return "";
    },
    mostrarPersona(): boolean {
      if (!this.cuenta) {
        return false;
      }
      let cta: Cuenta = this.$store.getters["cuentas/porID"](this.cuenta);
      if (!cta) {
        return false;
      }
      if (cta.AperturaPersona) {
        return true;
      }
      return false;
    },
    mostrarSucursal(): boolean {
      if (!this.personaObj) {
        return false;
      }
      return this.personaObj.UsaSucursales;
    },
    sucursales(): Sucursal[] {
      if (!this.personaObj) {
        return [];
      }
      if (!this.personaObj.Sucursales) {
        return [];
      }
      return this.personaObj.Sucursales;
    },
    mostrarMoneda(): boolean {
      let cta: Cuenta = this.$store.getters["cuentas/porID"](this.cuenta);
      if (!cta) {
        return false;
      }
      if (cta.MonedaExtranjera) {
        return true;
      }
      return false;
    },
    monedas(): Moneda[] {
      let mm = this.$store.getters["monedas/disponibles"];
      if (mm.length == 1) {
        this.moneda = mm[0].ID;
      }
      return mm;
    },
    saldoFinalString(): string {
      if (!this.hasta) {
        return "Saldo final";
      }
      return "Saldo al " + this.hasta;
    },
  },
  watch: {
    persona(valor) {
      if (valor) {
        axios
          .post("/backend/personas/persona", { ID: valor })
          .then((res) => {
            this.personaObj = res.data;
          })
          .catch((err) => {
            eventBus.$emit("error", err);
          });
      }
    },
  },
});
</script>
<style lang="scss" scoped>
table tbody tr {
  cursor: pointer;
}
div.drop-cuentas {
  border: 1px solid lightgray;
  height: 200px;
  width: 92%;
  position: absolute;
  background-color: white;
  z-index: 100;
  border-radius: 5px;
  margin: 0 auto;
  overflow: scroll;
}
div.drop-cuentas ul {
  list-style: none;
  padding-left: 0px;
}

div.drop-cuentas ul li button:hover,
div.drop-cuentas ul li button:focus {
  background-color: lightgray;
  cursor: pointer;
}

div.drop-cuentas ul li button {
  width: 100%;
  padding-left: 10px;
  text-align: left;
  background: white;
  border: none;
}

label {
  color: gray;
  margin-top: 8px;
  margin-bottom: 0px;
}
</style>
