<template>
  <div>
    <h1 class="title">
      Usuarios
    </h1>
    <b-button @click="nuevo()">Nuevo</b-button>
    <tabla>
      <thead>
        <th>ID</th>
        <th>Nombre</th>
      </thead>
      <tbody>
        <tr
          v-for="v in usuarios"
          :key="v.ID"
          class="link"
          @click="profundizar(v.ID)"
        >
          <td>{{ v.ID }}</td>
          <td>{{ v.Apellido.toUpperCase() }}, {{ v.Nombre }}</td>
        </tr>
      </tbody>
    </tabla>
    <b-loading is-full-page :active.sync="cargando"></b-loading>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import axios from "axios";
import eventBus from "@/eventBus";
import { Usuario } from "@/interfaces/usuarios";
export default Vue.extend({
  data() {
    return {
      usuarios: [] as Usuario[],
      cargando: false
    };
  },
  created() {
	document.title = "Usuarios"
    this.actualizar();
  },
  methods: {
    actualizar() {
      this.cargando = true;
      axios
        .get("/backend/usuarios")
        .then(res => {
          this.usuarios = res.data;
          this.usuarios = res.data.sort((a: Usuario, b: Usuario) => {
            return new Intl.Collator("ar").compare(a.Apellido, b.Apellido);
          });
          this.cargando = false;
        })
        .catch(err => {
          eventBus.$emit("error", err);
          this.cargando = false;
        });
    },
    nuevo() {
      this.$router.push({ name: "usuario" });
    },
    profundizar(id: string) {
      this.$router.push({ name: "usuario", query: { id: id } });
    }
  }
});
</script>
