<template>
  <div>
    <h1 class="title">Usuario</h1>
    <div class="box">
      <b-field label="ID" horizontal>
        <b-input v-model="user.ID" :disabled="!esNuevo"></b-input>
      </b-field>

      <b-field label="Nombre" horizontal>
        <b-input v-model="user.Nombre"></b-input>
      </b-field>

      <b-field label="Apellido" horizontal>
        <b-input v-model="user.Apellido"></b-input>
      </b-field>

      <b-field label="DNI" horizontal v-if="!esNuevo">
        <b-input v-model.number="user.DNI"></b-input>
      </b-field>

      <b-field label="E-Mail" horizontal>
        <b-input v-model="user.Email"></b-input>
      </b-field>

      <b-field label="Firma en email" horizontal>
        <b-input v-model="user.PieMail" type="textarea"></b-input>
      </b-field>

      <b-field horizontal v-if="!esNuevo">
        <b-checkbox v-model="user.Administrador">¿Es administrador?</b-checkbox>
      </b-field>

      <b-field horizontal v-if="!esNuevo">
        <b-checkbox
          v-model="user.Inactivo"
          :false-value="true"
          :true-value="false"
          >¿Activo?</b-checkbox
        >
      </b-field>

      <b-field label="Estado" horizontal v-if="!esNuevo">
        <p class="control">
          {{ user.Estado }}
        </p>
      </b-field>
      <b-field label="Último cambio de contraseña" horizontal v-if="!esNuevo">
        <p class="control">
          {{ user.UltimaActualizacionContraseña | enFechaHora }}
        </p>
      </b-field>
      <b-field label="Fecha alta" horizontal v-if="!esNuevo">
        <p class="control">
          {{ user.CreatedAt | enFechaHora }}
        </p>
      </b-field>

      <b-button class="is-primary" @click="guardar()">Guardar</b-button>
    </div>
    <b-loading is-full-page :active="cargando"></b-loading>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import axios from "axios";
import eventBus from "@/eventBus";
export default Vue.extend({
  data() {
    return {
      user: {
        ID: "",
        Nombre: "",
        Apellido: "",
        Email: "",
        DNI: null,
        PieMail: "" as string,
      },

      cargando: 0 as number,
    };
  },
  created() {
    document.title = "Usuario";
    if (!this.esNuevo) {
      this.actualizar();
    }
  },
  methods: {
    actualizar() {
      this.cargando++;
      axios
        .get(`/backend/usuarios/${this.$route.query.id}`)
        .then((res) => {
          this.user = res.data;
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },
    guardar() {
      if (this.esNuevo) {
        this.create();
      } else {
        this.update();
      }
    },
    create() {
      this.cargando++;
      axios
        .post("/backend/usuarios", this.user)
        .then(() => {
          this.$router.go(-1);
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .catch(() => this.cargando--);
    },
    update() {
	  this.cargando++
      axios
        .put("/backend/usuarios", this.user)
        .then(() => {
          this.$router.go(-1);
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .catch(() => this.cargando--);
    },
  },
  computed: {
    esNuevo() {
      if (this.$route.query.id) {
        return false;
      }
      return true;
    },
  },
});
</script>
