<template>
  <div>
    <h1 class="title">{{ titulo }}</h1>
    <div class="box">
      <b-field label="Empresa" horizontal>
        <b-select v-model="bloq.Empresa">
          <option v-for="v in empresas" :value="v.ID" :key="v.ID">{{
            v.Nombre
          }}</option>
        </b-select>
      </b-field>
      <b-field label="Cuenta" horizontal>
        <b-field>
          <p class="control input">{{ nombreCuenta }}</p>
          <p class="control">
            <b-button
              icon-left="magnify"
              class="is-primary"
              @click="buscarCuenta()"
              v-if="esNuevo"
            ></b-button>
          </p>
        </b-field>
      </b-field>
      <b-field label="Desde" horizontal>
        <b-input type="date" custom-class="fch" v-model="bloq.Desde"> </b-input>
      </b-field>
      <b-field label="Hasta" horizontal>
        <b-input type="date" custom-class="fch" v-model="bloq.Hasta"> </b-input>
      </b-field>
    </div>
    <b-button class="is-success" @click="guardar()">Guardar</b-button>
    <b-button class="is-danger" @click="eliminar()">Eliminar</b-button>
    <b-loading
      is-full-page
      :active.sync="cargando"
      :can-cancel="true"
    ></b-loading>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import axios from "axios";
import eventBus from "@/eventBus";
import BuscadorCuentasContables from "@/components/widgets/BuscadorCuentasContables.vue";
import { Bloqueo } from "../bloqueosPorCuenta";
import { Empresa } from "@/interfaces/empresas";
export default Vue.extend({
  data() {
    return {
      bloq: {
        Empresa: null,
        Cuenta: null,
        Desde: "",
        Hasta: ""
      } as Bloqueo,

      localBus: new Vue(),
      cargando: false as boolean
    };
  },
  created() {
    document.title = "Bloqueo"
    // Hooks
    this.localBus.$on("cuentaSeleccionada", (cta: string) => {
      this.bloq.Cuenta = cta;
    });
    if (!this.esNuevo) {
      this.actualizar();
    }
  },
  methods: {
    actualizar() {
      this.cargando = true;
      axios
        .post("/backend/opsbloqcta/one", {
          Empresa: this.$route.query.empresa,
          Cuenta: this.$route.query.cuenta
        })
        .then(res => {
          this.bloq = res.data;
          this.cargando = false;
        })
        .catch(err => {
          eventBus.$emit("error", err);
          this.cargando = false;
        });
    },
    buscarCuenta() {
      this.$buefy.modal.open({
        parent: this,
        component: BuscadorCuentasContables,
        hasModalCard: true,
        trapFocus: true,
        fullScreen: true,
        scroll: "clip",
        props: {
          bus: this.localBus
        }
      });
    },
    guardar() {
      this.cargando = true;
      let query = {
        Empresa: this.bloq.Empresa,
        Cuenta: this.bloq.Cuenta
      } as any;
      if (this.bloq.Desde) {
        query.Desde = this.bloq.Desde;
      }
      if (this.bloq.Hasta) {
        query.Hasta = this.bloq.Hasta;
      }
      if (this.esNuevo) {
        axios
          .post("/backend/opsbloqcta/create", query)
          .then(() => {
            this.cargando = false;
            this.volver();
          })
          .catch(err => {
            this.cargando = false;
            eventBus.$emit("error", err);
          });
      } else {
        axios
          .post("/backend/opsbloqcta/update", query)
          .then(() => {
            this.cargando = false;
            this.volver();
          })
          .catch(err => {
            this.cargando = false;
            eventBus.$emit("error", err);
          });
      }
    },
    eliminar() {
      this.$buefy.dialog.confirm({
        message: "¿Está seguro que desea borrar este bloqueo?",
        confirmText: "Borrar",
        type: "is-danger",
        hasIcon: true,
        onConfirm: () => {
          this.cargando = true;
          axios
            .post("/backend/opsbloqcta/delete", {
              Empresa: this.bloq.Empresa,
              Cuenta: this.bloq.Cuenta
            })
            .then(res => {
              this.cargando = false;
              this.$router.go(-1);
            })
            .catch(err => {
              this.cargando = false;
              eventBus.$emit("error", err);
            });
        }
      });
    },
    volver() {
      this.$router.go(-1);
    }
  },
  computed: {
    titulo(): string {
      if (this.esNuevo) {
        return "Nuevo bloqueo por cuenta";
      }
      return "Bloqueo por cuenta";
    },
    esNuevo() {
      if (this.$route.query.cuenta) {
        return false;
      }
      return true;
    },
    empresas(): Empresa[] {
      return this.$store.getters["empresas/permitidas"];
    },
    nombreCuenta(): string {
      if (!this.bloq.Cuenta) {
        return "";
      }
      let v = this.$store.getters["cuentas/porID"](this.bloq.Cuenta);
      if (!v) {
        return "";
      }
      return v.Nombre;
    }
  }
});
</script>
