<template>
  <div>
    <h1 class="title">Bloqueos por cuenta</h1>
    <p>
      Este menú permite fijar reglas, para asegurarse que no se pueda registrar
      ningún asiento fuera de las fechas establecidas.
    </p>
    <div class="box">
      <b-field label="Empresa" horizontal>
        <b-select v-model="empresa">
          <option :value="null">Todas</option>
          <option v-for="v in empresas" :key="v.ID" :value="v.ID">
            {{ v.Nombre }}
          </option>
        </b-select>
      </b-field>
      <tabla v-if="dirty && vv.length">
        <thead>
          <th>Empresa</th>
          <th>Cuenta</th>
          <th align="center">Desde</th>
          <th align="center">Hasta</th>
        </thead>
        <tbody>
          <tr
            v-for="(v, i) in vv"
            :key="i"
            @click="profundizar(v)"
            class="link"
          >
            <td>{{ nombreEmpresa(v.Empresa) }}</td>
            <td>{{ nombreCuenta(v.Cuenta) }}</td>
            <td align="center">{{ v.Desde | enFecha }}</td>
            <td align="center">{{ v.Hasta | enFecha }}</td>
          </tr>
        </tbody>
      </tabla>
    </div>
    <p v-if="dirty && vv.length == 0">No se encontraron resultados</p>
    <b-button @click="nuevo()" class="is-info">Nuevo</b-button>
    <b-loading
      is-full-page
      :active="cargando != 0"
      :can-cancel="true"
    ></b-loading>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import axios from "axios";
import eventBus from "@/eventBus";
import { Empresa } from "@/interfaces/empresas";
import { Bloqueo } from "../bloqueosPorCuenta";
import { updateQuery } from "@/modules/routeUtil";
export default Vue.extend({
  data() {
    return {
      vv: [] as Bloqueo[],
      empresa: null as string | null,
      dirty: false,
      cargando: 0 as number,
    };
  },
  created() {
    document.title = "Bloqueos";
    // Selecciono empresa
    if (this.$route.query.empresa) {
      this.empresa = this.$route.query.empresa as string;
    } else {
      let gral = this.$store.getters["empresas/seleccionada"];
      if (gral) {
        this.empresa = gral.ID;
      }
    }
  },
  methods: {
    actualizar() {
      this.replaceQuery();

      this.cargando++;
      axios
        .post("/backend/opsbloqcta/many", {
          Empresa: this.empresa,
        })
        .then((res) => {
          this.dirty = true;
          this.vv = res.data;
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => {
          this.cargando--;
        });
    },
    replaceQuery() {
      // Armo query
      let q: any = {
        empresa: this.empresa,
      };
      // remplazo
      updateQuery(q, this);
    },
    nuevo() {
      this.$router.push({
        name: "bloqueoPorCuenta",
        query: { empresa: this.empresa },
      });
    },
    profundizar(bloqueo: Bloqueo) {
      this.$router.push({
        name: "bloqueoPorCuenta",
        query: { empresa: bloqueo.Empresa, cuenta: bloqueo.Cuenta },
      });
    },
    nombreEmpresa(id: string): string {
      let v = this.$store.getters["empresas/porID"](id);
      if (!v) {
        return id;
      }
      return v.Nombre;
    },
    nombreCuenta(id: string): string {
      let v = this.$store.getters["cuentas/porID"](id);
      if (!v) {
        return id;
      }
      return v.Nombre;
    },
  },
  computed: {
    empresas(): Empresa[] {
      return this.$store.getters["empresas/permitidas"];
    },
  },
  watch: {
    empresa(valor: string) {
      this.actualizar();
    },
  },
});
</script>
