<template>
  <div>
    <h2>Asiento</h2>

    <div class="row">
      <div class="col-sm-12 col-md-4">
        <label>Empresa:</label>
        <span>{{ asiento.empresa }}</span>
      </div>
      <div class="col-sm-12 col-md-4">
        <label>Fecha contable:</label>
        <span>{{ asiento.fecha_contable | enFecha }}</span>
      </div>
      <div class="col-sm-12 col-md-4">
        <label>Comprobante:</label>
        <span>{{ asiento.n_comp }}</span>
      </div>

      <div class="col-sm-12 col-md-3"></div>
    </div>

    <table>
      <thead>
        <th>N Cuenta</th>
        <th>Cuenta</th>
        <th align="right">Debe</th>
        <th align="right">Haber</th>
        <th align="right">Detalle</th>
      </thead>
      <tbody>
        <tr v-for="p in asiento.partidas" v-bind:key="p.id">
          <td>{{ p.cta }}</td>
          <td>{{ p.cta_nombre }}</td>
          <td align="right">{{ p.monto | debe }}</td>
          <td align="right">{{ p.monto | haber }}</td>
          <td v-html="detalle(p)"></td>
        </tr>
        <!-- <tr v-if="asiento.partidas.length == 0">
                    El comprobante no tiene partidas contables.
        </tr>-->
      </tbody>
      <tfoot>
        <td></td>
        <td align="right">Totales</td>
        <td align="right">{{ asiento.totalDebe | enPesos }}</td>
        <td align="right">{{ asiento.totalHaber | enPesos }}</td>
        <td></td>
      </tfoot>
    </table>
  </div>
</template>

<script>
import axios from "axios";
import eventBus from "@/eventBus.ts";

export default {
  data() {
    return {
      asiento: {
        fecha_contable: "2018-01-01",
        partidas: [],
        totalDebe: 0,
        totalHaber: 0
      }
    };
  },
  created() {
    let datos = { id: this.$route.params.id };
    console.log("Datos: ", datos);
    axios
      .post("/backend/contables/asiento/", datos)
      .then(res => {
        this.asiento = res.data;

        // Sumo el total de debe y haber
        let totalDebe = 0;
        let totalHaber = 0;
        for (let i in this.asiento.partidas) {
          let monto = this.asiento.partidas[i].monto;
          if (monto > 0) {
            totalDebe += monto;
          } else {
            totalHaber -= monto;
          }
          console.log(monto);
        }
        this.asiento.totalDebe = totalDebe;
        this.asiento.totalHaber = totalHaber;
      })
      .catch(err => eventBus.$emit("error", err));
  },
  methods: {
    detalle(p) {
      let t = "";
      if ("unicidad" in p) {
        t +=
          "<a href='unicidades/" +
          p["unicidad"] +
          "'>" +
          p["unicidad_nombre"] +
          "; </a>";
      }

      return t;
    }
  }
};
</script>
<style lang="scss" scoped>
label {
  font-weight: bold;
}
</style>
