<template>
  <div>
    <div class="titulo-de-pantalla">
      <h1>Proceso de ajuste por inflación</h1>
    </div>
    <div class="box">
      <div class="columns">
        <div class="column">
          <b-field label="Empresa" horizontal>
            <b-select v-model="empresa" expanded>
              <option :value="null" disabled>Seleccione</option>
              <option v-for="v in empresas" :value="v.ID" :key="v.ID">{{
                v.Nombre
              }}</option>
            </b-select>
          </b-field>
        </div>
        <div class="column">
          <b-field label="Desde" horizontal>
            <b-input type="month" v-model="desde" expanded />
          </b-field>

          <b-field label="Hasta" horizontal>
            <b-input type="month" v-model="hasta" />
          </b-field>
        </div>
        <div class="column">
          <b-button class="is-primary" @click="previsualizar"
            >Previsualizar</b-button
          >
        </div>
      </div>
      <div class="columns">
        <div class="column is-4">
          <b-field label="Indice" horizontal>
            <b-select v-model="indice" expanded>
              <option value="IPC">IPC</option>
            </b-select>
          </b-field>
        </div>

        <div class="column is-4">
          <b-field label="Comprobante" horizontal>
            <b-select v-model="comp" expanded>
              <option value="300">Minuta contable general</option>
            </b-select>
          </b-field>
        </div>
        <div class="column is-4">
          <b-field label="Config" horizontal>
            <b-select v-model="config" expanded>
              <option value="1">Única</option>
            </b-select>
          </b-field>
        </div>
      </div>
    </div>

    <div v-if="asientos && asientos.length">
      <tabla>
        <thead>
          <th>Fecha</th>
          <th>Detalle</th>
          <th>Coeficiente origen</th>
          <th>Coeficiente destino</th>
          <th>Coeficiente utilizado</th>
          <th>Cantidad partidas</th>
          <th></th>
        </thead>
        <tbody>
          <tr v-for="v in asientos" :key="v.ID">
            <td>{{ v.Fecha | enFecha }}</td>
            <td>{{ v.Detalle }}</td>
            <td align="right">{{ coefOrigen(v) }}</td>
            <td align="right">{{ coefDestino(v) }}</td>
            <td align="right">{{ coefUtilizado(v) }}</td>
            <td align="right">{{ v.PartidasContables.length }}</td>
            <td>
              <b-button icon-left="magnify" @click="verAsiento(v.ID)" />
            </td>
          </tr>
        </tbody>
      </tabla>
      <b-button class="is-primary" @click="confirmar()">Confirmar</b-button>
    </div>

    <div v-if="asientos && asientos.length == 0">
      No corresponde ningún ajuste para la empresa y fechas ingresadas
    </div>

    <b-loading
      is-full-page
      :active.sync="cargando"
      :can-cancel="true"
    ></b-loading>
  </div>
</template>

<script>
import axios from "axios";
import eventBus from "@/eventBus.ts";
import Asiento from "../widgets/Asiento.vue";
export default {
  data() {
    return {
      empresa: null,
      desde: null,
      hasta: null,
      indice: "IPC",
      comp: "300",
      config: "1",

      asientos: null,
      cargando: false
    };
  },
  created() {
    this.empresa = this.$store.state.empresas.seleccionada;
    this.desde = "2019-05";
    this.hasta = "2020-04";
	document.title = "Ajuste por inflación"
  },
  methods: {
    previsualizar() {
      this.cargando = true;
      this.asientos = [];
      axios
        .post("/backend/inflacion/previsualizar", {
          Empresa: this.empresa,
          Desde: this.desde,
          Hasta: this.hasta,
          Indice: this.indice,
          Comp: this.comp,
          Config: this.config
        })
        .then(res => {
          this.asientos = res.data;
        })
        .catch(err => {
          eventBus.$emit("error", err);
        })
				.finally(() => this.cargando = false);
    },
    confirmar() {
      this.cargando = true;
      this.asientos = [];
      axios
        .post("/backend/inflacion/confirmar", {
          Empresa: this.empresa,
          Desde: this.desde,
          Hasta: this.hasta,
          Indice: this.indice,
          Comp: this.comp,
          Config: this.config
        })
        .then(res => {
          this.asientos = res.data;
        })
        .catch(err => {
          eventBus.$emit("error", err);
        })
				.finally(() => this.cargando = false);
    },
    verAsiento(opID) {
      let op = this.asientos.find(item => item.ID == opID);
      this.$buefy.modal.open({
        parent: this,
        component: Asiento,
        hasModalCard: true,
        trapFocus: true,
        fullScreen: true,
        scroll: "clip",
        props: {
          partidas: op.PartidasContables
        }
      });
    },

    coefOrigen(op) {
      if (!op.Impresion) {
        return;
      }
      if (!op.Impresion.CoefOrigen) {
        return;
      }
      return op.Impresion.CoefOrigen;
    },
    coefDestino(op) {
      console.log(op.Impresion.CoefDestino);
      if (!op.Impresion) {
        return;
      }
      if (!op.Impresion.CoefDestino) {
        return;
      }
      return op.Impresion.CoefDestino;
    },
    coefUtilizado(op) {
      if (!op.Impresion) {
        return;
      }
      if (!op.Impresion.CoefUtilizado) {
        return;
      }
      return Math.round((op.Impresion.CoefUtilizado - 1) * 10000) / 100 + " %";
    }
  },
  computed: {
    empresas() {
      return this.$store.getters["empresas/permitidas"];
    }
  }
};
</script>
