<template>
  <div class="modal-card">
    <header class="modal-card-head">
      <h1 class="modal-card-title">Anulación</h1>
    </header>
    <div class="modal-card-body">
      <b-field label="Fecha del nuevo comprobante">
        <b-input type="date" v-model="fecha" />
      </b-field>
    </div>

    <footer class="modal-card-foot">
      <b-button class="is-primary" @click="aceptar()">Aceptar</b-button>
      <b-button @click="cancelar()">Cancelar</b-button>
    </footer>

    <b-loading
      is-full-page
      :active="cargando != 0"
      :can-cancel="true"
    ></b-loading>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import axios from "axios";
import eventBus from "@/eventBus";
import { hoy } from "@/modules/util/fechas";
import { format } from "date-fns";
import { Op } from "@/modules/ops/interfaces";

export default Vue.extend({
  props: {
    bus: {
      type: Object,
      required: true,
    },
    op: {
      type: Object as () => Op,
      required: true,
    },
  },
  data() {
    return {
      fecha: format(hoy(), "yyyy-MM-dd"),
      cargando: 0,
    };
  },
  methods: {
    cancelar() {
      (this.$parent as any).close();
    },
    aceptar() {
      this.cargando += 1;
      axios
        .post("/backend/fact/anular", {
          ID: this.op.ID,
          NuevaFecha: this.fecha,
        })
        .then((res) => {
          this.bus.$emit("opAnulada", res.data);
          this.cargando -= 1;
          this.cancelar();
        })
        .catch((err) => {
          this.cargando -= 1;
          eventBus.$emit("error", err);
        });
    },
  },
});
</script>

<style scoped>
h2 {
  font-weight: bolder;
  margin-top: 1.5em;
  font-size: 130%;
  margin-bottom: 0.5em;
}
label.lbl {
  margin-bottom: 0px;
  color: red;
}
</style>
