<template>
  <!-- 
  NUEVA OP: A este template ingresan las partidas
  pendientes + las partidas que genera la factura en curso Cada vez que se
  cambia una aplicación, dispara el evento al bus y Factura.vue se encarga de
  hacer los recálculos. 
  
  OP EXISTENTE: ingreso las aplicaciones tal cual fueron persistidas 
  
  -->
  <div>
    <!-- CREATE -->
    <div v-if="editable && mostrarAplicaciones">
      <h2 v-if="hayComprobantes">Comprobantes disponibles para aplicar</h2>
      <h2 v-else>No hay comprobantes pendientes</h2>
      <tabla v-if="hayComprobantes" light>
        <thead>
          <th align="middle">Comprobante</th>
          <th align="middle">Número</th>
          <th align="middle">Vencimiento</th>
          <th align="middle">Total comprobante</th>
          <th align="middle">Debe</th>
          <th align="middle">Haber</th>
          <th align="middle">Aplicación</th>
          <th></th>
        </thead>
        <tbody>
          <tr v-for="v in partidasDisponibles" :key="v.ID">
            <td>{{ v.TipoComp }}</td>
            <td>{{ v.NComp }}</td>
            <td align="right">
              <span class="rojo" v-if="diasVencidos(v.FechaFinanciera) < 0">
                {{ v.FechaFinanciera | enFecha }} ({{
                  -diasVencidos(v.FechaFinanciera)
                }})
              </span>
              <span class="verde" v-if="diasVencidos(v.FechaFinanciera) == 0">
                hoy
              </span>
              <span class="verde" v-if="diasVencidos(v.FechaFinanciera) > 0">
                {{ v.FechaFinanciera | enFecha }} ({{
                  diasVencidos(v.FechaFinanciera)
                }})
              </span>
            </td>
            <td align="right">{{ v.MontoOriginal | enPesos }}</td>

            <!-- DEBE -->
            <td align="right" class="link" @click="marcarPartida(v)">
              <b-tooltip
                label="haga click para aplicar la totalidad / borrar aplicación"
              >
                <a>
                  {{ v.MontoPendiente | debe }}
                </a>
              </b-tooltip>
            </td>

            <!-- HABER -->
            <td align="right" class="link" @click="marcarPartida(v)">
              <b-tooltip
                label="haga click para aplicar la totalidad / borrar aplicación"
              >
                <a> {{ v.MontoPendiente | haber }} </a>
              </b-tooltip>
            </td>

            <!-- MONTO APLICADO -->
            <td align="right" class="comp">
              <b-input
                v-model.number="v.MontoAplicado"
                custom-class="d2 comp"
                @input="(valor) => marcarPartidaParcial(v, valor)"
              />
            </td>

            <!-- ICONO -->
            <td>
              <b-tooltip label="Partida sobre aplicada, reduzca el monto">
                <b-icon
                  icon="comment-remove"
                  class="rojo"
                  v-if="
                    aplicacionEstado(v.MontoAplicado, v.MontoPendiente) ==
                    'Error'
                  "
                ></b-icon>
              </b-tooltip>
              <b-tooltip label="Partida aplicada completamente">
                <b-icon
                  icon="check-circle"
                  class="verde"
                  v-if="
                    aplicacionEstado(v.MontoAplicado, v.MontoPendiente) ==
                    'Completa'
                  "
                ></b-icon>
              </b-tooltip>
            </td>
          </tr>

          <!-- Si estoy en CREATE => Leo de vencimientos -->
          <tr
            v-for="v in partidasEstaFactura"
            :key="v.Dias"
            class="link"
            @click="marcarPartidaEsteComp(v)"
          >
            <td>Esta factura</td>
            <td></td>
            <td align="right">
              <span class="rojo" v-if="v.Dias < 0">
                {{ v.FechaFinanciera | enFecha }} ({{ -v.Dias }})
              </span>
              <span class="verde" v-if="v.Dias == 0"> hoy </span>
              <span class="verde" v-if="v.Dias > 0">
                {{ v.FechaFinanciera | enFecha }} ({{ v.Dias }})
              </span>
            </td>
            <td align="right">{{ v.MontoOriginal | enPesos }}</td>
            <td align="right">{{ v.MontoOriginal | enPesos }}</td>
            <td>
              <b-input
                v-model.number="v.MontoAplicado"
                custom-class="d2 comp"
              />
            </td>
            <td>
              <b-tooltip label="Partida sobre aplicada, reduzca el monto">
                <b-icon
                  icon="comment-remove"
                  class="rojo"
                  v-if="v.MontoAplicado > v.MontoPendiente"
                ></b-icon>
              </b-tooltip>
              <b-tooltip label="Partida aplicada completamente">
                <b-icon
                  icon="check-circle"
                  class="verde"
                  v-if="v.MontoAplicado == v.MontoPendiente"
                ></b-icon>
              </b-tooltip>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4" align="right">Totales</td>
            <td align="right">{{ totalPendiente | enPesos }}</td>
            <td></td>
            <td align="right">{{ totalAplicado | enPesos }}</td>
          </tr>
        </tfoot>
      </tabla>
    </div>

    <!-- READ -->
    <div>
      <tabla v-if="partidasRead">
        <thead>
          <th align="middle">Comprobante</th>
          <th align="middle">Número</th>
          <th align="middle">Vencimiento</th>
          <th align="middle">Total comprobante</th>
          <th align="middle">Aplicación</th>
        </thead>
        <tbody>
          <tr v-for="v in aplicacionesPersistidas" :key="v.ID">
            <td>{{ v.TipoComp }}</td>
            <td>{{ v.NComp }}</td>
            <td align="right">
              {{ v.FechaFinanciera | enFecha }}
            </td>
            <td align="right">{{ v.MontoOriginal | enPesos }}</td>
            <td align="right">
              <span>{{ v.MontoAplicado | enPesos }}</span>
            </td>
          </tr>

          <!-- Aplicaciones a esta factura tal cual está persistida -->
          <tr v-for="v in aplicacionesPersistidasEstaFactura" :key="v.ID">
            <td>Esta factura</td>
            <td></td>
            <td align="right">
              <span class="rojo" v-if="diasVencidos(v.FechaFinanciera) < 0">
                {{ v.FechaFinanciera | enFecha }} ({{
                  -diasVencidos(v.FechaFinanciera)
                }})
              </span>
              <span class="verde" v-if="diasVencidos(v.FechaFinanciera) == 0">
                hoy
              </span>
              <span class="verde" v-if="diasVencidos(v.FechaFinanciera) > 0">
                {{ v.FechaFinanciera | enFecha }} ({{
                  diasVencidos(v.FechaFinanciera)
                }})
              </span>
            </td>
            <td align="right">{{ v.MontoOriginal | enPesos }}</td>
            <td align="right">
              <b-input
                v-model.number="v.MontoAplicado"
                v-if="editable"
                custom-class="d2 comp"
              />
              <span v-else>{{ v.MontoAplicado | enPesos }}</span>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3" align="right">Totales</td>
            <td align="right">{{ (totalPendiente + total) | enPesos }}</td>
            <td align="right">{{ totalAplicado | enPesos }}</td>
          </tr>
        </tfoot>
      </tabla>
    </div>

    <!-- RESUMEN -->
    <div v-if="mostrarResumen" id="resumen">
      <tabla>
        <thead>
          <th>Resumen</th>
          <th v-if="mostrarCentro"></th>
          <th>Monto</th>
        </thead>
        <tbody>
          <tr>
            <td align="right">Total del pago</td>
            <td align="right">{{ total | enPesos }}</td>
          </tr>
          <tr>
            <td align="right">Aplicado a comprobantes anteriores</td>
            <td align="right">{{ totalAplicadoCompsAnteriores | enPesos }}</td>
            <td v-if="mostrarCentro"></td>
            <td colspan="2" v-if="partidasEstaFactura.length"></td>
          </tr>
          <tr v-if="partidasEstaFactura.length">
            <td align="right">Aplicado a este comprobante</td>
            <td align="right">{{ totalAplicadoEsteComp | enPesos }}</td>
            <td v-if="mostrarCentro"></td>
            <td colspan="2" v-if="vencimientos && vencimientos.length"></td>
          </tr>

          <!-- Cuenta para imputar sobrante -->
          <tr v-if="cuentasAnticipo.length">
            <td>
              <b-select v-model="cuentaResto" expanded>
                <option :value="null" disabled>Seleccione cuenta</option>
                <option v-for="c in cuentasAnticipo" :key="c.ID" :value="c.ID">
                  {{ c.Nombre }}
                </option>
              </b-select>
            </td>
            <td v-if="mostrarCentro && centrosDeCuenta">
              <b-select v-model="centroResto">
                <option :value="null" disabled>Seleccione centro</option>
                <option v-for="c in centrosDeCuenta" :key="c.ID" :value="c.ID">
                  {{ c.Nombre }}
                </option>
              </b-select>
            </td>
            <td align="right">
              <b-tooltip
                label="El anticipo no puede ser negativo, reduzca las aplicaciones o agrande el pago"
              >
                <b-icon
                  icon="comment-remove"
                  class="rojo"
                  v-if="anticipoInvalido"
                ></b-icon>
              </b-tooltip>
              {{ montoSinAplicacion | enPesos }}
            </td>
            <td colspan="2" v-if="partidasEstaFactura.length"></td>
          </tr>
          <!-- Total sin aplicación
          <tr>
            <td align="right">Total SIN aplicación</td>
            <td></td>
            <td align="right">{{montoSinAplicacion | enPesos}}</td>
          </tr>

          <tr v-if="partidasEstaFactura.length">
            <td align="right">Total del pago</td>
            <td></td>
            <td align="right">{{ total | enPesos }}</td>
            <tr>
              <td align="right">Diferencia</td>
              <td></td>
              <td align="right">{{ totalAplicado  + montoSinAplicacion - total | enPesos}}</td>
            <td>
              <b-tooltip label="Sobre aplicación, reduzca el monto">
                <b-icon
                  icon="comment-remove"
                  class="rojo"
                  v-if="totalAplicado > total"
                ></b-icon>
              </b-tooltip>
              <b-tooltip label="Partida aplicada completamente">
                <b-icon
                  icon="check-circle"
                  class="verde"
                  v-if="
                    totalAplicado + montoSinAplicacion == total &&
                      totalAplicado != 0
                  "
                ></b-icon>
              </b-tooltip>
            </td>
            </tr>
          </tr> -->
        </tbody>
      </tabla>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { newDate, hoy } from "@/modules/util/fechas";
import { differenceInDays } from "date-fns";
import { Cuenta } from "@/interfaces/cuentas";
import { Centro } from "@/modules/centros/centros";
import { AplicacionPartida, Vencimiento } from "@/modules/fact/interfaces";

export default Vue.extend({
  props: {
    // Si es false, solamente puede seleccionar cuentas anticipos
    mostrarAplicaciones: {
      type: Boolean,
      required: true,
    },
    // Las aplicaciones que están persistidas
    aplicacionesPersistidas: {
      type: Array as () => Array<AplicacionPartida>,
    },
    // Las aplicaciones que están persistidas de esta factura
    aplicacionesPersistidasEstaFactura: {
      type: Array as () => Array<AplicacionPartida>,
    },
    // partidasDisponibles son las que están disponibles para aplicar.
    partidasDisponibles: {
      type: Array as () => Array<AplicacionPartida>,
    },
    // Si estoy haciendo una factura con cobro, quiero poder ver esta
    // factura para aplicarle los pagos (además de los que estaban de
    // antes)
    vencimientos: {
      type: Array as () => Array<Vencimiento> | null,
      required: true,
    },
    // total del pago
    total: {
      type: Number,
    },
    tipo: {
      required: true,
      type: String as () => "cobro" | "pago",
    },
    bus: {
      type: Object,
      required: true,
    },
    // Las cuentas que el usuario puede seleccionar para mandar
    // si no hay una factura
    cuentasAnticipo: {
      type: Array as () => Array<Cuenta>,
      required: true,
    },
    // fechaComp la uso para determinar los días entre el vencimiento
    // de los comprobantes y esta fecha (si es retroactivo)
    fechaComp: {
      type: String,
    },
    // si editable es true muestra un input, sino un span
    editable: {
      type: Boolean,
      required: true,
    },
  },
  data() {
    return {
      cuentaResto: null as string | null,
      centroResto: null as string | null,
      // Son las partidas para aplicar generadas a partir de los vencimientos
      // ingresados en las props.
      partidasEstaFactura: [] as AplicacionPartida[],
      centrosDeCuenta: [] as Centro[],

      totalAplicadoEsteComp: 0 as number,
      totalAplicadoCompsAnteriores: 0 as number,
    };
  },
  created() {
    this.hooks();
    this.bus.$emit("cambiaronVencimientos", this.vencimientos);
    // Selecciono la cuenta anticipo (si hay una sola)
    if (this.cuentasAnticipo && this.cuentasAnticipo.length == 1) {
      this.cuentaResto = this.cuentasAnticipo[0].ID;
    }

    // Si estoy editando una factura ya grabada, voy a tener que juntar
    // las partidas disponibles hoy + las partidas aplicadas originalmente.
    // if (
    //   this.editable &&
    //   (this.aplicaciones.length || this.aplicacionesEstaFactura.length)
    // ) {
    //   this.partidas.push(...this.aplicaciones);
    //   this.partidasEstaFactura.push(...this.aplicacionesEstaFactura);
    // }
  },
  methods: {
    hooks(): void {
      // Cuando cambian los vencimientos de la factura, vuelvo a
      // generar las partidas para aplicar de esta factura
      this.bus.$on("cambiaronVencimientos", (vtos: Vencimiento[]) => {
        console.log(
          "Cambiaron vencimientos: ",
          this.vencimientos,
          vtos,
          this.editable
        );
        if (!this.editable) {
          return;
        }
        this.partidasEstaFactura = [];
        if (!this.vencimientos) {
          return;
        }
        if (!vtos) {
          return;
        }
        for (let v of vtos) {
          this.partidasEstaFactura.push({
            ID: null,
            FechaContable: "",
            TipoComp: "",
            NComp: "",
            Detalle: null,
            Cuenta: "0",
            Centro: "0",
            MontoPendiente: v.Monto,
            Dias: v.Dias,
            FechaFinanciera: v.Fecha,
            MontoOriginal: v.Monto,
            MontoAplicado: 0,
            Aplicacion: 0,
          });
        }

        // Si estoy modificando y ya había aplicaciones sobre este
        // comprobante, los agrego
        // for (let v of this.aplicacionesEstaFactura) {
        //   let aCompletar = this.aplicacionesEstaFactura.find(
        //     (item: AplicacionPartida) =>
        //       item.FechaFinanciera == v.FechaFinanciera
        //   );
        //   if (aCompletar) {
        //     aCompletar.MontoAplicado = v.MontoAplicado;
        //   }
        // }
      });
    },
    guardarAplicaciones(): void {
      // Devuelvo las partidas con monto aplicado nomás
      let aplicaciones = this.partidasDisponibles.filter((item) => {
        if (item.Aplicacion && item.Aplicacion != 0) {
          return true;
        }
      });

      // Devuelvo las partidas con monto aplicado nomás
      let aplicacionesEstaFactura = this.partidasEstaFactura.filter((item) => {
        if (item.Aplicacion && item.Aplicacion != 0) {
          return true;
        }
      });
      this.bus.$emit("cambiaronAplicaciones", {
        aplicaciones: aplicaciones,
        aplicacionesEstaFactura: aplicacionesEstaFactura,
        anticipoMonto: this.montoSinAplicacion,
      });
    },
    anticipoCambio() {
      this.bus.$emit("cambioAnticipo", {
        anticipoCuenta: this.cuentaResto,
        anticipoCentro: this.centroResto,
        anticipoMonto: this.montoSinAplicacion,
      });
    },

    marcarPartida(v: AplicacionPartida): void {
      if (!v.MontoAplicado) {
        v.MontoAplicado = Math.abs(v.MontoPendiente);
        v.Aplicacion = v.MontoPendiente;
      } else {
        // Si tenía algún valor => Lo pongo en cero
        v.MontoAplicado = 0;
        v.Aplicacion = 0;
      }
      this.sumarAplicaciones();
    },
    /**
     * Cuando se ingresa un número a mano
     */
    marcarPartidaParcial(v: AplicacionPartida, montoStr: string) {
      // Si no era un número
      let monto = parseFloat(montoStr);
      console.log(v, monto);
      if (!Number.isFinite(monto) || typeof monto != "number" || !monto) {
        console.log("Entro no número, poniendo en cero");
        v.MontoAplicado = 0;
        v.Aplicacion = 0;
        this.sumarAplicaciones();
        return;
      }

      // Entró un número
      console.log("aplicando monto", monto);
      v.MontoAplicado = Math.abs(monto);
      if (v.MontoPendiente < 0) {
        v.Aplicacion = -monto;
      } else {
        v.Aplicacion = monto;
      }

      this.sumarAplicaciones();
    },
    marcarPartidaEsteComp(v: AplicacionPartida): void {
      if (!v.MontoAplicado) {
        if (this.montoSinAplicacion > v.MontoPendiente) {
          v.MontoAplicado = v.MontoPendiente;
        } else {
          v.MontoAplicado = this.montoSinAplicacion;
        }
      } else {
        // Si tenía algún valor => Lo pongo en cero
        v.MontoAplicado = 0;
      }
      this.sumarAplicaciones();
    },
    diasVencidos(vto: string): number {
      let fchAnalisis = newDate(this.fechaComp);
      let vtoFch = newDate(vto);
      if (!this.fechaComp) {
        // Si no se ingresa considero Hoy()
        fchAnalisis = hoy();
      }
      return differenceInDays(vtoFch, fchAnalisis);
    },
    // Controla si se está sobre aplicando la partida
    aplicacionEstado(aplicado: number, pendiente: number) {
      if (!aplicado) {
        return;
      }
      if (aplicado < Math.abs(pendiente) && aplicado > 0) {
        return "Parcial";
      }
      if (aplicado > Math.abs(pendiente) || aplicado < 0) {
        return "Error";
      }
      return "Completa";
    },
    sumarAplicaciones() {
      console.log("Sumando aplicaciones...");
      this.sumarAplicacionesEsteComp();
      this.sumarAplicacionesCompsAnteriores();
      this.guardarAplicaciones();
    },
    sumarAplicacionesEsteComp() {
      let sum = 0;
      if (this.aplicacionesPersistidasEstaFactura) {
        for (let v of this.aplicacionesPersistidasEstaFactura) {
          if (Number.isFinite(v.Aplicacion)) {
            sum += v.Aplicacion;
          }
        }
      }
      if (this.partidasEstaFactura) {
        for (let v of this.partidasEstaFactura) {
          if (Number.isFinite(v.Aplicacion)) {
            sum += v.Aplicacion;
          }
        }
      }
      this.totalAplicadoEsteComp = sum * -this.signo;
    },
    sumarAplicacionesCompsAnteriores() {
      let sum = 0;

      // Las que ya están persistidas
      if (this.aplicacionesPersistidas) {
        for (let v of this.aplicacionesPersistidas) {
          if (Number.isFinite(v.Aplicacion)) {
            sum += v.Aplicacion;
          }
        }
      }
      // Las de esta
      if (this.partidasDisponibles) {
        for (let v of this.partidasDisponibles) {
          if (Number.isFinite(v.Aplicacion)) {
            sum += v.Aplicacion;
          }
        }
      }
      this.totalAplicadoCompsAnteriores = sum * -this.signo;
    },
    validar(): Object {
      if (this.anticipoInvalido) {
        //return { valid: false, msg: "Anticipo no puede ser menor a cero" };
      }
      for (const v of this.partidasDisponibles) {
        if (v.MontoPendiente > 0 && v.MontoAplicado > v.MontoPendiente) {
          return {
            valid: false,
            msg: `La partida de fecha ${v.FechaFinanciera} tenía disponible ${v.MontoPendiente} pero se aplicó ${v.MontoAplicado}`,
          };
        }
        if (v.MontoPendiente < 0 && v.MontoAplicado < v.MontoPendiente) {
          return {
            valid: false,
            msg: `La partida de fecha ${v.FechaFinanciera} tenía disponible ${v.MontoPendiente} pero se aplicó ${v.MontoAplicado}`,
          };
        }
      }
      return { valid: true };
    },
  },
  computed: {
    signo(): number {
      if (this.tipo == "cobro") {
        return 1;
      }
      if (this.tipo == "pago") {
        return -1;
      }
      return NaN;
    },
    totalAplicado(): number {
      return this.totalAplicadoCompsAnteriores; // +this.totalAplicadoEsteComp ;
    },

    totalQuedaComoPendiente(): number {
      // Si no hay cuenta resto significa que todo tiene que ser aplicado.
      if (!this.cuentaResto) {
        return 0;
      }
      return 0;
    },
    montoSinAplicacion(): number {
      if (!this.cuentaResto) {
        return 0;
      }
      let anticipo =
        this.total +
        this.totalAplicadoEsteComp +
        this.totalAplicadoCompsAnteriores;
      return anticipo;
    },
    anticipoInvalido(): boolean {
      if (Math.round(this.montoSinAplicacion * 100) < 0) {
        return true;
      }
      return false;
    },
    // La sumatoria de pendientes según los comprobantes
    totalPendiente(): number {
      let sum = 0;
      for (let v of this.partidasEstaFactura) {
        sum += v.MontoPendiente;
      }
      if (this.vencimientos) {
        for (let v of this.vencimientos) {
          sum += v.Monto;
        }
      }
      return sum;
    },
    pendienteLeyenda(): string {
      if (this.total == 0 && this.totalAplicado == 0) {
        return "";
      }
      let dif = this.total - this.totalAplicado;
      if (dif > 0) {
        return "Quedan pendientes de aplicar";
      } else if (dif < 0) {
        return "Aplicado de más";
      }
      return "";
    },
    aplicacionCompleta(): boolean {
      if (this.total == 0 && this.totalAplicado == 0) {
        return false;
      }
      return this.total == this.totalAplicado;
    },
    mostrarCentro(): boolean {
      if (!this.cuentaResto) {
        return false;
      }

      let cta = this.$store.getters["cuentas/porID"](this.cuentaResto);
      if (cta.AperturaCentro) {
        return true;
      }
      return false;
    },
    mostrarCuentaParaImputarSobrante(): boolean {
      if (!this.cuentasAnticipo.length) {
        return false;
      }
      if (this.total < this.totalAplicado) {
        return false;
      }
      return true;
    },
    hayComprobantes(): boolean {
      if (!this.partidasDisponibles) {
        return false;
      }
      if (!this.partidasEstaFactura) {
        return false;
      }
      if (this.partidasDisponibles.length || this.partidasEstaFactura.length) {
        return true;
      }
      return false;
    },
    mostrarResumen(): boolean {
      return this.editable;
      // partidasEstaFactura.length
    },
    partidasRead(): boolean {
      if (this.editable) {
        return false;
      }
      if (this.aplicacionesPersistidas && this.aplicacionesPersistidas.length) {
        return true;
      }
      if (
        this.aplicacionesPersistidasEstaFactura &&
        this.aplicacionesPersistidasEstaFactura.length
      ) {
        return true;
      }
      return false;
    },
  },
  watch: {
    cuentaResto(ahora, antes) {
      this.anticipoCambio();
      if (this.cuentaResto) {
        // Busco la cuenta
        let cta = this.$store.getters["cuentas/porID"](this.cuentaResto);
        if (!cta) {
          console.error(
            "no se encontró la cuenta de resto en el store " + this.cuentaResto
          );
        }

        // Busco los centros de esa cuenta
        let cc = this.$store.getters["centros/many"](cta.CentrosPermitidos);
        if (!cc) {
          console.error(
            "no se encontraron los centros " +
              JSON.stringify(cta.CentrosPermitidos)
          );
        }
        this.centrosDeCuenta = cc;
      }
    },
    centroResto() {
      this.anticipoCambio();
    },
    montoSinAplicacion() {
      this.anticipoCambio();
    },
    aplicacionesPersistidas() {
      this.sumarAplicaciones();
    },
    aplicacionesPersistidasEstaFactura() {
      this.sumarAplicaciones();
    },
  },
});
</script>
<style lang="scss" scoped>
.verde {
  color: green;
}
.rojo {
  color: red;
}
.renglon-aplicado {
  background-color: rgb(204, 229, 255);
}
div#resumen {
  margin-top: 2em;
}
td.comp {
  padding: 0;
}
</style>
