<template>
  <div>
    <h1 class="title" v-if="!readOnly">Productos disponibles para aplicar</h1>
    <h1 class="title" v-else>Productos aplicados</h1>
    <b-button class="is-info" @click="fetchDisponibles()" v-if="!readOnly"
      >Buscar</b-button
    >

    <table class="table">
      <tbody>
        <tr v-for="v in groupHeader" :key="v.id">
          <td class="prod" v-if="v.k" colspan="7">
            <span class="prod-nombre">{{ v.k.Nombre }} </span>
            <span class="prod-um">({{ nombreUM(v.k) }}) </span>
            <br />
            <span class="prod-cod">{{ v.k.Codigo }} </span>
          </td>

          <td v-if="v.v" class="v">{{ v.v.Fecha | enFecha }}</td>
          <td v-if="v.v" class="v">
            <router-link
              :to="{
                name: 'mostrarComprobante',
                query: {
                  partida: v.v.PartidaAplicada,
                },
              }"
              target="_blank"
              rel="noreferrer noopener"
            >
              {{ v.v.CompNombre }} {{ v.v.NCompStr }}
            </router-link>
          </td>
          <td
            align="right"
            class="link v"
            @click="aplicarTodoRenglon(v)"
            v-if="!readOnly && v.v"
          >
            {{ v.v.CantidadDisponible }}
          </td>
          <td v-if="!readOnly && v.v" class="v">
            <b-input
              v-model.number="v.v.Cantidad"
              custom-class="d2"
              @input="guardarMonto(v.v)"
              placeholder="Cantidad"
            />
            <b-tooltip
              v-if="!readOnly && v.v"
              label="Partida sobre aplicada, reduzca el monto"
            >
              <b-icon
                icon="comment-remove"
                style="color: red"
                v-if="
                  aplicacionEstado(v.v.Cantidad, v.v.CantidadDisponible) ==
                  'Error'
                "
              ></b-icon>
            </b-tooltip>
            <b-tooltip
              v-if="!readOnly && v.v"
              label="Partida aplicada completamente"
            >
              <b-icon
                icon="check-circle"
                style="color: green"
                v-if="
                  aplicacionEstado(v.v.Cantidad, v.v.CantidadDisponible) ==
                  'Completa'
                "
              ></b-icon>
            </b-tooltip>
          </td>
          <td v-if="readOnly && v.v" class="v" align="right">
            {{ v.v.Cantidad | enPesos }}
          </td>

          <td v-if="permiteModificarPrecios && v.v" class="v">
            <b-input
              v-model.number="v.v.Precio"
              custom-class="d4"
              @input="guardarMonto(v.v)"
              placeholder="Precio"
            />
          </td>
          <td v-if="!permiteModificarPrecios && v.v" align="right" class="v">
            {{ calcularPrecio(v.v) | enPesos }}
          </td>
          <td v-if="v.v" align="right" class="v">{{ v.v.Monto | enPesos }}</td>
          <td v-if="v.v" class="v">{{ v.v.Detalle }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import { AplicacionProducto } from "@/modules/fact/interfaces";
export default Vue.extend({
  props: {
    readOnly: {
      type: Boolean,
    },
    permiteModificarPrecios: {
      type: Boolean,
    },
    bus: {
      required: true,
      type: Object as () => Vue,
    },
    aplicaciones: {
      required: true,
      type: Array as () => Array<AplicacionProducto>,
    },
  },
  data() {
    return {
      renglones: [] as AplicacionProducto[],
      cargando: 0 as number,
    };
  },
  created() {
    if (this.readOnly) {
      this.renglones = this.aplicaciones;
    } else {
      this.bus.$on("cambiaronAplicaciones", () => {
        const conAplicacion = this.renglones.filter((x) => x.Cantidad);
        this.bus.$emit("cambiaronAplicacionesProductos", conAplicacion);
        console.log("Emitido cambiarionAplicacionesProductos", conAplicacion);
      });
    }
  },
  methods: {
    nombreUM(v: AplicacionProducto): string {
      if (v.Envase) {
        return v.Envase;
      }
      return v.UM;
    },
    aplicarTodoRenglon(v: AplicacionProducto) {
      v.Cantidad = Math.abs(v.CantidadDisponible);
      this.bus.$emit("cambiaronAplicaciones");
    },
    aplicacionEstado(
      aplicado: number | null | string,
      pendiente: number
    ): string {
      if (aplicado == null || aplicado == "") {
        return "";
      }
      if (isNaN(aplicado as number)) {
        return "Error";
      }
      if (aplicado < Math.abs(pendiente) && aplicado > 0) {
        return "Parcial";
      }
      if (aplicado > Math.abs(pendiente) || aplicado < 0) {
        return "Error";
      }
      return "Completa";
    },
    guardarMonto(v: AplicacionProducto) {
      if (this.permiteModificarPrecios) {
        v.Monto = v.Precio * v.Cantidad;
      } else {
        v.Monto = (v.MontoDisponible / v.CantidadDisponible) * v.Cantidad;
      }
      this.bus.$emit("cambiaronAplicaciones");
    },
    itemDeSKU(sku: string): AplicacionProducto[] {
      return this.renglones.filter((x) => x.SKU == sku);
    },
    calcularPrecio(v: AplicacionProducto) {
      if (v.MontoDisponible) {
        return Math.abs(v.MontoDisponible / v.CantidadDisponible);
      }
      return Math.abs(v.Monto / v.Cantidad);
    },
  },
  computed: {
    groupHeader(): any[] {
      let m = new Map<string, any>();
      for (let v of this.renglones) {
        m.set(v.SKU, v);
      }
      let out = [];
      let gidx = 0;
      for (let v of m.values()) {
        const items = this.renglones.filter((x) => x.SKU == v.SKU);
        let idx = 0;
        gidx++;
        for (const item of items) {
          if (idx == 0) {
            out.push({ id: gidx, k: v });
            gidx++;
          }
          out.push({ id: gidx, v: item });
          idx++;
          gidx++;
        }
        out.push(v);
      }
      return out;
    },
  },
  watch: {
    aplicaciones() {
      this.renglones = [];
      for (let v of this.aplicaciones) {
        const cr = Object.assign({}, v);
        if (cr.MontoDisponible) {
          cr.Precio = cr.MontoDisponible / cr.CantidadDisponible;
        }
        this.renglones.push(cr);
      }
    },
  },
});
</script>

<style lang="scss" scoped>
@import "@/assets/variables";
td.v {
  padding: 0 10px;
  font-size: 80%;
}
span.prod-nombre {
  font-weight: bolder;
  font-size: 140%;
}
span.prod-um {
  font-size: 110%;
}
span.prod-cod {
  color: gray;
}
td.prod {
  background-color: $grey-lighter;
  height: 10px;
  overflow: hidden;
  vertical-align: middle;
}
</style>
