Determinar los clientes que participan de la OP Traer las direcciones
disponibles para que el usuario la seleccione Traer un asunto prearmado para que
el usuario lo modifique Traer un body prearmado para que el usuario lo
modifique.

<template>
  <div class="modal-card" id="atributo-wrapper">
    <header class="modal-card-head">
      <h1 class="modal-card-title">E-mail</h1>
    </header>
    <section class="modal-card-body">
      <b-field label="Para" horizontal>
        <b-input type="textarea" v-model="para" rows="1"></b-input>
      </b-field>

      <b-field label="Adjuntos" horizontal>
        <b-field v-for="v in resp.AttachmentsNames" :key="v">
          <b-tag> {{ v }}</b-tag>
        </b-field>
      </b-field>

      <b-field label="Asunto" horizontal>
        <b-input v-model="subject"></b-input
      ></b-field>

      <!-- <b-field label="Comprobantes" horizontal v-if="multi && cliente" -->
      <!--   ><ul> -->
      <!--     <li v-for="v in resp.AttachmentsNames" :key="v"> -->
      <!--       {{ v }} -->
      <!--     </li> -->
      <!--   </ul> -->
      <!-- </b-field> -->

      <b-field label="Mensaje" horizontal>
        <b-input type="textarea" v-model="body"></b-input>
      </b-field>

      <!-- <b-field><b-input v-model="msg" type="textarea"></b-input></b-field> -->
    </section>

    <footer class="modal-card-foot">
      <b-button class="is-primary" @click="enviar()">Enviar</b-button>
      <b-button @click="cancelar()">Cancelar</b-button>
    </footer>
    <b-loading
      is-full-page
      :active="cargando != 0"
      :can-cancel="true"
    ></b-loading>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import { Email } from "@/modules/personas/personas";
import { EmailReq } from "../email";
import axios from "axios";
import eventBus from "@/eventBus";
export default Vue.extend({
  props: {
    comprobantes: {
      type: Array as () => Array<string>,
    },
    empresa: {
      type: String,
      required: true,
    },
    emails: {
      type: Array as () => Array<Email>,
    },
    multi: {
      type: Boolean,
    },
    persona: {
      type: String,
    },
  },
  data() {
    return {
      cliente: "",
      para: null as null | string,
      enviarResumen: false,
      comps: [],
      subject: "",
      body: "", // HTML del body del mail
      paraDisabled: true as boolean,
      resp: {
        From: "",
        To: [],
        Subject: "",
        Body: "",
        AttachmentsNames: [],
      } as EmailReq,

      cargando: 0 as number,
    };
  },
  created() {
    this.preview();
  },
  methods: {
    preview() {
      this.cargando++;
      axios
        .post("/backend/fact/comprobante_preview", this.comprobantes)
        .then((res) => {
          this.resp = res.data;

          if (!this.resp.To.length) {
            this.paraDisabled = true;
            this.para = "CARGUE EMAIL EN DATOS DE PERSONA";
            return;
          }
          this.paraDisabled = false;
          this.para = this.resp.To.join("; ");
          this.subject = this.resp.Subject;
          this.body = this.resp.Body;
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },
    enviar() {
      if (!this.para?.length) {
        this.$buefy.dialog.alert({
          message: "Debe ingresar alguna dirección",
          type: "is-danger",
          hasIcon: true,
          title: "Validación",
        });
        return;
      }
      let para = this.para.replaceAll(",", ";").split(";");
      this.cargando++;
      axios
        .post("/backend/fact/comprobante_preview_confirmar", {
          IDs: this.comprobantes,
          To: para,
          Subject: this.subject,
          BodyStr: this.body,
        })
        .then(() => {
          this.cancelar();
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },
    cancelar() {
      (this.$parent as any).close();
    },
  },
});
</script>
