<template>
  <div class="modal-card" id="atributo-wrapper">
    <header class="modal-card-head">
      <h1 class="modal-card-title">
        {{ titulo }}
      </h1>
    </header>
    <section class="modal-card-body" v-if="p">
      <b-field label="Cuenta" horizontal>
        <b-select v-model="p.CuentaID" ref="cuenta">
          <option :value="null" disabled>Seleccione</option>
          <option v-for="v in cuentas" :value="v.ID" :key="v.ID">
            {{ v.Nombre }}
          </option>
        </b-select>
      </b-field>

      <!-- CENTRO -->
      <b-field label="Centro de imputación" v-if="mostrarCentro" horizontal>
        <b-select v-model="p.Centro">
          <option v-for="v in centros" :value="v.ID" :key="v.ID">
            {{ v.Nombre }}
          </option>
        </b-select>
      </b-field>

      <!-- PERSONA -->
      <b-field label="Persona" v-if="mostrarPersona" horizontal>
        <b-field>
          <p class="control input">{{ nombrePersona }}</p>
          <p class="control">
            <b-button
              icon-left="magnify"
              class="is-primary"
              @click="buscarPersona()"
            ></b-button>
          </p>
        </b-field>
      </b-field>

      <!-- SUCURSAL-->
      <b-field label="Sucursal" v-if="mostrarSucursal" horizontal>
        <b-select v-model="p.Sucursal">
          <option v-for="v in sucursales" :value="v.ID" :key="v.ID">
            {{ v.Nombre }}
          </option>
        </b-select>
      </b-field>

      <!-- CONCEPTO -->
      <b-field label="Concepto" horizontal>
        <b-select v-model="p.Concepto">
          <option :value="null" disabled>Seleccione</option>
          <option v-for="v in conceptos" :value="v.ID" :key="v.ID">
            {{ v.Nombre }}
          </option>
        </b-select>
      </b-field>

      <!-- ALICUOTA -->
      <b-field label="Alícuota IVA" horizontal>
        <b-select v-model="p.AlicuotaIVA">
          <option
            v-for="v in alicuotas"
            :value="v.ID"
            :key="v.ID"
            ref="alicuota"
          >
            {{ v.Nombre }}
          </option>
        </b-select>
      </b-field>

      <!-- MONTO -->
      <b-field label="Monto" horizontal>
        <b-input
          v-model.number="p.Monto"
          ref="monto"
          custom-class="d2"
          @keydown.native.enter="guardar()"
        >
        </b-input>
      </b-field>
      <b-field label="Detalle" horizontal>
        <b-input v-model="p.Detalle"></b-input>
      </b-field>

      <tabla>
        <tr v-if="p.Monto != 0">
          <td align="right">Neto</td>
          <td align="right">{{ p.Monto | enPesos }}</td>
        </tr>
        <tr v-if="p.Monto != 0">
          <td align="right">IVA</td>
          <td align="right">{{ ivaCalculado | enPesos }}</td>
        </tr>
        <tr>
          <td align="right" class="negrita">
            <b-select
              v-model="p.CuentaPatrimonial"
              placeholder="Cuenta patrimonial"
              expanded
            >
              <option v-for="v in contracuentas" :value="v.ID" :key="v.ID">
                {{ v.Nombre }}
              </option>
            </b-select>
          </td>
          <td align="right" class="negrita">
            {{ (p.Monto + ivaCalculado) | enPesos }}
          </td>
        </tr>
        <tr v-if="centrosPatrimoniales.length">
          <td>
            <b-select
              v-model="p.CentroPatrimonial"
              placeholder="Centro de imputación"
              expanded
            >
              <option
                v-for="v in centrosPatrimoniales"
                :value="v.ID"
                :key="v.ID"
              >
                {{ v.Nombre }}
              </option>
            </b-select>
          </td>
        </tr>
      </tabla>
    </section>

    <footer class="modal-card-foot">
      <b-button class="is-primary" @click="guardar()">Aceptar</b-button>
      <b-button @click="cancelar()">Cancelar</b-button>
      <b-button @click="eliminar()" class="is-danger" v-if="!esNuevo"
        >Eliminar</b-button
      >
    </footer>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import { PartidaDirecta } from "@/modules/fact/interfaces"
import { PartidaDirectaConfig } from "@/modules/fact_esquemas/interfaces"
import {
  cuentasDisponibles,
  conceptosDisponibles,
  alicuotasDisponibles,
  patrimonialesDisponibles,
} from "@/modules/fact/fact";
import { Alicuota, Concepto } from "@/modules/afip/afip";
import { Cuenta } from "@/interfaces/cuentas";
import { Centro } from "@/modules/centros/centros";
import { Persona, Sucursal } from "@/modules/personas/personas";
import axios from "axios";
import eventBus from "@/eventBus";
import BuscadorPersonas from "@/modules/personas/components/BuscadorPersonas.vue";
export default Vue.extend({
  props: {
    bus: {
      type: Vue,
      required: true,
    },
    permisos: {
      type: Array as () => Array<PartidaDirectaConfig>,
      required: true,
    },
    partida: {
      type: Object as () => PartidaDirecta,
      required: false,
    },
    detalleObligatorio: {
      type: Boolean,
      required: true,
    },
    copiaPersonaDeCabecera: {
      type: Boolean,
      required: true,
    },
    index: {
      type: Number,
    },
  },
  data() {
    return {
      p: null as PartidaDirecta | null,
      // persona: null,
      localBus: new Vue() as any,

      persona: null as Persona | null,

      conceptos: [] as Concepto[],
      alicuotas: [] as Alicuota[],
      contracuentas: [] as Cuenta[],

      cargando: 0 as number,
    };
  },
  created() {
    if (this.esNuevo) {
      this.p = {
        CuentaID: null,
        CuentaNombre: null,
        Persona: null,
        Sucursal: null,
        Centro: null,
        Concepto: null,
        AlicuotaIVA: null,
        Monto: null,
        CuentaPatrimonial: null,
        CentroPatrimonial: null,
        Detalle: "",
      } as PartidaDirecta;
    } else {
      this.p = Object.assign({}, this.partida);
    }

    //    let ctas: Set<Cuenta> = new Set();
    //    // Determino las cuentas contables
    //    for (let v of this.permisos) {
    //      let debajo: Cuenta[] = this.$store.getters["cuentas/imputablesDebajo"](
    //        v.Cuenta
    //      );
    //
    //      for (let cuenta of debajo) {
    //        ctas.add(cuenta);
    //
    //        // Agrego los CONCEPTOS para esta cuenta
    //        let concAnterior = this.conceptosMap.get(cuenta.ID);
    //        if (!concAnterior) {
    //          concAnterior = new Set();
    //        }
    //        for (let concepto of v.Conceptos) {
    //          concAnterior.add(concepto);
    //        }
    //        this.conceptosMap.set(cuenta.ID, concAnterior);
    //
    //        // Agrego las ALICUOTAS para esta cuenta
    //        let alicAnterior = this.alicuotasMap.get(cuenta.ID);
    //        if (!alicAnterior) {
    //          alicAnterior = new Set();
    //        }
    //        for (let alic of v.Alicuotas) {
    //          alicAnterior.add(alic);
    //        }
    //        this.alicuotasMap.set(cuenta.ID, alicAnterior);
    //
    //        // Agrego las ALICUOTAS para esta cuenta
    //        let contraAnterior = this.contracuentasMap.get(cuenta.ID);
    //        if (!contraAnterior) {
    //          contraAnterior = new Set();
    //        }
    //        contraAnterior.add(v.ContraCuenta);
    //        this.contracuentasMap.set(cuenta.ID, contraAnterior);
    //     }
    //  }

    //	let out = Array.from(ctas);
    // Ordeno por orden alfabético
    //		out.sort((a: Cuenta, b: Cuenta) => {
    //			return new Intl.Collator("ar").compare(a.Nombre, b.Nombre);
    //		});
    //		this.cuentas = out;

    this.localBus.$on("personaSeleccionada", (id: string) => {
      (this.p as PartidaDirecta).Persona = id;
    });
  },

  mounted() {
    let ctaSelect = this.$refs.cuenta as any;
    if (ctaSelect) {
      ctaSelect.focus();
    }
  },
  methods: {
    union(setA: Set<string>, setB: Set<string>) {
      let _union = new Set(setA);
      for (let elem of setB) {
        _union.add(elem);
      }
      return _union;
    },
    cancelar() {
      (this.$parent as any).close();
    },
    guardar() {
      // Validación cuenta
      if (!this.p) {
        this.$buefy.dialog.alert({
          title: "Validación",
          message: "No había partida",
        });
        return;
      }
      if (!this.p.CuentaID) {
        this.$buefy.dialog.alert({
          title: "Validación",
          hasIcon: true,
          message: "El campo <b>Cuenta</b> es obligatorio",
        });
        return;
      }
      if (!this.p.CuentaPatrimonial) {
        this.$buefy.dialog.alert({
          title: "Validación",
          hasIcon: true,
          message: "La <b>contra cuenta</b> es obligatoria",
        });
        return;
      }

      if (typeof this.p.Monto != "number" || Number.isNaN(this.p.Monto)) {
        this.$buefy.dialog.alert({
          title: "Validación",
          hasIcon: true,
          message: "Debe ingresar un monto válido.",
        });
        return;
      }
      if (this.detalleObligatorio) {
        if (this.p.Detalle.trim() == "") {
          this.$buefy.dialog.alert({
            title: "Validación",
            hasIcon: true,
            message: "La configuración exige campo Detalle",
          });
          return;
        }
      }
      // // Validación monto
      // if (!this.p.Monto) {
      //   this.$buefy.dialog.alert({
      //     title: "Validación",
      //     message: "El campo <b>Monto</b> es obligatorio"
      //   });
      //   return;
      // }

      if (this.esNuevo) {
        this.bus.$emit("partida-directa-creada", this.p);
      } else {
        this.bus.$emit("partida-directa-modificada", this.p, this.index);
      }
      (this.$parent as any).close();
    },
    eliminar() {
      this.bus.$emit("partida-directa-eliminada", this.index);
      (this.$parent as any).close();
    },
    buscarPersona() {
      if (!this.cuenta) {
        return;
      }
      if (!this.cuenta.AperturaPersona) {
        return;
      }

      let ctas = [(this.p as PartidaDirecta).CuentaID];

      this.$buefy.modal.open({
        parent: this,
        component: BuscadorPersonas,
        hasModalCard: true,
        trapFocus: true,
        fullScreen: true,
        scroll: "clip",
        props: {
          bus: this.localBus,
          cuentas: ctas,
        },
      });
    },
    traerPersonaBackend(id: string) {
      // Busco en backend
      this.cargando += 1;
      axios
        .post("/backend/personas/persona", { ID: id })
        .then((res) => {
          this.persona = res.data;
          // this.bus.$emit("personaTraida", res.data);
          this.cargando -= 1;
        })
        .catch((err) => {
          eventBus.$emit("error", err);
          this.cargando -= 1;
        });
    },
    traerConceptos(cuentaID: string) {
      if (!this.p) {
        return;
      }

      // Traigo cuentas
      const cc = this.$store.getters["cuentas/todas"]();

      // Traigo conceptos disponibles
      const conceptosID = conceptosDisponibles(cuentaID, cc, this.permisos);
      this.conceptos = this.$store.getters["iva/conceptosPorID"](conceptosID);

      // Si hay un solo concepto lo selecciono
      if (this.conceptos.length == 1) {
        this.p.Concepto = this.conceptos[0].ID;
      }
    },
    traerAlicuotas() {
      if (!this.p) {
        return;
      }
      if (!this.p.CuentaID) {
        return;
      }
      if (!this.p.Concepto) {
        return;
      }
      const cc = this.$store.getters["cuentas/todas"]();

      const alicuotasID = alicuotasDisponibles(
        this.p.CuentaID,
        this.p.Concepto,
        cc,
        this.permisos
      );
      this.alicuotas = this.$store.getters["iva/alicuotasPorID"](alicuotasID);

      // Si hay un solo concepto lo selecciono
      if (this.alicuotas.length == 1) {
        this.p.AlicuotaIVA = this.alicuotas[0].ID;
      }
    },
    traerContraCuentasDisponibles(cuentaID: string) {
      if (!this.p) {
        return;
      }

      const cc = this.$store.getters["cuentas/todas"]();

      // Traigo contracuentas disponibles
      const contraCuentas = patrimonialesDisponibles(
        cuentaID,
        cc,
        this.permisos
      );
      this.contracuentas = this.$store.getters["cuentas/porIDs"](contraCuentas);

      // Si hay una sola contracuenta la selecciono
      if (this.contracuentas.length == 1) {
        this.p.CuentaPatrimonial = this.contracuentas[0].ID;
      }
    },
  },
  computed: {
    esNuevo(): boolean {
      if (this.index != undefined) {
        return false;
      }
      return true;
    },
    titulo(): string {
      if (this.esNuevo) {
        return "Nueva partida";
      }
      return "Modificar partida";
    },
    mostrarCentro(): boolean {
      if (this.cuenta) {
        return this.cuenta.AperturaCentro;
      }
      return false;
    },
    mostrarPersona(): boolean {
      if (!this.cuenta) {
        return false;
      }
      if (this.copiaPersonaDeCabecera) {
        return false;
      }
      if (this.cuenta.AperturaPersona) {
        return true;
      }
      return false;
    },
    nombrePersona(): string {
      if (!this.p) {
        return "";
      }
      if (!this.p.Persona) {
        return "";
      }
      if (!this.persona) {
        return this.p.Persona;
      }
      return this.persona.Nombre;
    },
    mostrarSucursal(): boolean {
      if (!this.persona) {
        return false;
      }
      if (this.copiaPersonaDeCabecera) {
        return false;
      }
      if (this.persona.UsaSucursales) {
        return true;
      }
      return false;
    },
    sucursales(): Sucursal[] {
      if (!this.persona) {
        return [];
      }
      if (!this.persona.Sucursales) {
        return [];
      }
      let out: Sucursal[] = [];
      for (let v of this.persona.Sucursales) {
        let asoc = v.CuentasAsociadas.find((x) => {
          if (this.p) {
            return x.Cuenta == this.p.CuentaID;
          } else {
            return false;
          }
        });
        if (asoc) {
          out.push(v);
        }
      }
      return out;
    },
    cuentas(): Cuenta[] {
      return cuentasDisponibles(
        this.$store.getters["cuentas/todas"](),
        this.permisos
      );
    },
    cuenta(): Cuenta | null {
      if (!this.p) {
        return null;
      }
      if (!this.p.CuentaID) {
        return null;
      }
      let cta = this.$store.getters["cuentas/porID"](this.p.CuentaID);
      return cta;
    },
    centros(): Centro[] {
      if (!this.cuenta) {
        return [];
      }
      return this.$store.getters["centros/many"](
        this.cuenta.CentrosPermitidos,
        this.cuenta.CentrosGrupos
      );
    },
    centrosPatrimoniales(): Centro[] {
      if (!this.p) {
        return [];
      }
      if (!this.p.CuentaPatrimonial) {
        return [];
      }
      let cta = this.$store.getters["cuentas/porID"](this.p.CuentaPatrimonial);
      if (!cta) {
        return [];
      }
      return this.$store.getters["centros/many"](
        cta.CentrosPermitidos,
        cta.CentrosGrupos
      );
    },
    ivaCalculado(): number {
      if (!this.p) {
        return 0;
      }
      let porc = this.$store.getters["iva/alicuotaPorID"](this.p.AlicuotaIVA);
      if (!porc) {
        return 0;
      }
      if (!this.p.Monto) {
        return 0;
      }
      return this.p.Monto * porc.Porcentaje;
    },
  },
  watch: {
    "p.CuentaID"(id) {
      if (!this.p) {
        return;
      }
      if (this.p.CuentaID) {
        // Pego nombre
        let cta = this.$store.getters["cuentas/porID"](this.p.CuentaID);
        if (cta) {
          this.p.CuentaNombre = cta.Nombre;
        }

        this.traerConceptos(id);
        this.traerAlicuotas();
        this.traerContraCuentasDisponibles(id);
      }
    },
    "p.Concepto"(id) {
      if (!this.p) {
        return;
      }
      if (!id) {
        return;
      }
      if (this.p.CuentaID) {
        // Pego nombre
        let cta = this.$store.getters["cuentas/porID"](this.p.CuentaID);
        if (cta) {
          this.p.CuentaNombre = cta.Nombre;
        }

        // Traigo alicuotas
        this.traerAlicuotas();
      }
    },
    "p.Persona"(valor) {
      if (!valor) {
        return;
      }
      if (!this.p) {
        return;
      }
      if (this.persona) {
        if (this.persona.ID == this.p.Persona) {
          return;
        } else {
          this.traerPersonaBackend(valor);
          return;
        }
      }
      if (!this.persona) {
        this.traerPersonaBackend(valor);
      }
    },
  },
});
</script>

<style lang="scss" scoped>
td.negrita {
  font-weight: bolder;
}

#resumen {
  min-width: 20em;
}
</style>
