<template>
  <div class="box">
    <h1>Reingreso</h1>
    <b-checkbox v-model="val.HayMonto">¿Hay reingreso?</b-checkbox>

    <div v-if="val.HayMonto">
      <!-- MONTO -->
      <b-field label="Monto" horizontal v-if="val.HayMonto">
        <b-input v-model.number="val.Monto" custom-class="d2"></b-input>
      </b-field>

      <!-- CUENTA -->
      <b-field label="Pago" horizontal v-if="permitePago">
        <b-select v-model="val.Cuenta">
          <option :value="null">Seleccione</option>
          <option :value="v.ID" v-for="v in cuentas" :key="v.ID">
            {{ v.Nombre }}
          </option>
        </b-select>
      </b-field>

      <!-- PERSONA -->
      <b-field label="Persona" horizontal v-if="aperturaPersona">
        <b-select v-model="val.Persona">
          <option :value="null">Seleccione</option>
          <option v-for="v in personas" :value="v.ID" :key="v.ID">
            {{ v.Nombre }}
          </option>
        </b-select>
      </b-field>

      <!-- SUCURSAL -->
      <b-field label="Cuenta" v-if="haySucursales" horizontal>
        <b-select v-model="val.Sucursal" ref="sucursal">
          <option :value="null">Seleccione</option>
          <option v-for="v in sucursales" :value="v.ID" :key="v.ID">
            {{ v.Nombre }}
          </option>
        </b-select>
      </b-field>

      <!-- CAJA -->
      <b-field label="Caja" v-if="aperturaCaja" horizontal>
        <b-select v-model="val.Caja" ref="caja">
          <option :value="null">Seleccione</option>
          <option v-for="v in cajasPermitidas" :key="v.ID" :value="v.ID">
            {{ v.Nombre }}
          </option>
        </b-select>
      </b-field>
    </div>
    <b-loading
      is-full-page
      :active="cargando != 0"
      :can-cancel="true"
    ></b-loading>
  </div>
</template>
<script lang="ts">

import Vue from "vue";
import axios from "axios";
import eventBus from "@/eventBus";
import {
  Persona,
  Sucursal,
  cruzarCuentasYSucursales,
} from "@/modules/personas/personas";
import { Cuenta } from "@/interfaces/cuentas";
import { Caja } from "@/modules/cajas/cajas";
import { ReingresoDTO } from "../interfaces";
export default Vue.extend({
  props: {
    dto: {
      type: Object as () => ReingresoDTO,
      required: true,
    },
    empresa: {
      type: String,
      required: true,
    },
    permitePago: {
      type: Boolean,
      required: true,
    },
    cuentasPermitidas: {
      type: Array as () => Array<string>,
      required: true,
    },
    cajasPermitidas: {
      type: Array as () => Array<Caja>,
      required: true,
    },
    esNuevo: {
      type: Boolean,
      required: true,
    },
    bus: {
      type: Object as () => Vue,
      required: true,
    },
  },
  created() {
    if (this.esNuevo) {
      if (this.cuentasPermitidas.length == 1) {
        this.val.Cuenta = this.cuentasPermitidas[0];
      }
    } else {
      this.val = Object.assign({}, this.dto);
    }
  },
  data() {
    return {
      val: {
        HayMonto: false,
        Cuenta: null,
        Persona: null,
        Sucursal: null,
        Caja: null,
      } as ReingresoDTO,

      personas: [] as Persona[],
      sucursales: [] as Sucursal[],

      cargando: 0 as number,
    };
  },
  methods: {
    fetchPersonas() {
      this.cargando++;
      axios
        .post("/backend/personas/many", {
          Cuentas: [this.val.Cuenta],
        })
        .then((res) => {
          this.personas = res.data;
          if (this.esNuevo && this.personas.length == 1) {
            this.val.Persona = this.personas[0].ID;
          }
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },
    // Cuando no es una operación grabada
    fetchPersona() {
      if (!this.val.Persona) {
        return;
      }
      this.cargando++;
      axios
        .post("/backend/personas/one", {
          ID: this.val.Persona,
        })
        .then((res) => {
          this.personas = [res.data];
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },
    cruzarSucursales() {
      if (!this.val) {
        return;
      }
      if (!this.val.Cuenta) {
        return;
      }
      if (!this.val.Persona) {
        return [];
      }
      if (!this.haySucursales) {
        return [];
      }
      if (!this.personas) {
        return;
      }
      const persona = this.personas.find((x) => x.ID == this.val.Persona);
      if (!persona) {
        return;
      }
      console.log("cruzando sucursales...");
      const cta = this.$store.getters["cuentas/porID"](this.val.Cuenta);
      const out = cruzarCuentasYSucursales(
        this.empresa,
        persona,
        persona.Sucursales,
        [cta]
      );
      console.log("sucursales encontradas");
      this.sucursales = out as Sucursal[];
      if (!this.val.Sucursal && this.sucursales.length == 1) {
        this.val.Sucursal = this.sucursales[0].ID;
      }
    },
  },
  computed: {
    cuentas(): Cuenta[] {
      if (!this.cuentasPermitidas || !this.cuentasPermitidas.length) {
        return [];
      }
      if (this.permitePago) {
        return this.$store.getters["cuentas/porIDs"](this.cuentasPermitidas);
      }
      return [];
    },
    haySucursales(): boolean {
      if (!this.val.Persona) {
        return false;
      }
      const persona = this.personas.find((x) => x.ID == this.val.Persona);
      if (!persona) {
        return false;
      }
      return persona.UsaSucursales;
    },
    aperturaCaja(): boolean {
      if (!this.permitePago) {
        return false;
      }
      if (!this.val.Cuenta) {
        return false;
      }
      const cta: Cuenta = this.$store.getters["cuentas/porID"](this.val.Cuenta);
      return cta.AperturaCaja;
    },
    aperturaPersona(): boolean {
      if (!this.permitePago) {
        return false;
      }
      if (!this.val.Cuenta) {
        return false;
      }
      const cta: Cuenta = this.$store.getters["cuentas/porID"](this.val.Cuenta);
      return cta.AperturaPersona;
    },
  },
  watch: {
    "val.Cuenta"(val: string | null) {
      this.bus.$emit("cambioReingreso", this.val);
      if (!val) {
        this.val.Persona = null;
        this.val.Sucursal = null;
        this.val.Caja = null;
        return;
      }
      this.fetchPersonas();
    },
    "val.Persona"() {
      this.bus.$emit("cambioReingreso", this.val);
    },
    "val.Sucursal"() {
      this.bus.$emit("cambioReingreso", this.val);
    },
    "val.Caja"() {
      this.bus.$emit("cambioReingreso", this.val);
    },
    "val.HayMonto"() {
      this.bus.$emit("cambioReingreso", this.val);
    },
    "val.Monto"() {
      this.bus.$emit("cambioReingreso", this.val);
    },
  },
});
</script>
