<template>
  <div class="modal-card">
    <header class="modal-card-head">
      <h1 class="modal-card-title">
        {{ titulo }}
      </h1>
    </header>
    <div class="modal-card-body" v-if="valor">
      <!-- CAJA -->
      <b-field label="Caja" v-if="cuenta.AperturaCaja" horizontal>
        <b-select v-model="valor.Caja" ref="caja">
          <option :value="null" disabled v-if="cajas.length > 1">
            Seleccione
          </option>
          <option v-for="v in cajas" :key="v.ID" :value="v.ID">
            {{ v.Nombre }}
          </option>
        </b-select>
      </b-field>

      <div v-if="cuenta.AperturaPersona">
        <!-- PERSONA EXTENDIDO -->
        <b-field v-if="buscadorPersonasExtendido" label="Persona" horizontal>
          <p class="control input">{{ nombrePersona }}</p>
          <p class="control">
            <b-button
              icon-left="magnify"
              class="is-primary"
              @click="buscarPersona()"
            ></b-button>
          </p>
        </b-field>

        <!-- PERSONA -->
        <b-field label="Banco" horizontal v-else>
          <b-select v-model="valor.Persona" ref="persona">
            <option v-for="v in personas" :value="v.ID" :key="v.ID">
              {{ v.Nombre }}
            </option>
          </b-select>
        </b-field>

        <!-- SUCURSAL -->
        <b-field label="Cuenta" v-if="mostrarSucursal" horizontal>
          <b-select v-model="valor.Sucursal" ref="sucursal">
            <option v-for="v in sucursales" :value="v.ID" :key="v.ID">
              {{ v.Nombre }}
            </option>
          </b-select>
        </b-field>
      </div>

      <!-- CENTRO -->
      <b-field label="Centro" v-if="mostrarCentro" horizontal>
        <b-select v-model="valor.Centro" ref="centro">
          <option v-for="v in centros" :value="v.ID" :key="v.ID">
            {{ v.Nombre }}
          </option>
        </b-select>
      </b-field>

      <!-- MONEDA -->
      <b-field label="Moneda" v-if="esMonedaExtranjera" horizontal>
        <b-select v-model="valor.Moneda" ref="sucursal">
          <option v-for="v in monedas" :value="v.ID" :key="v.ID">
            {{ v.NombrePlural }}
          </option>
        </b-select>
      </b-field>

      <!-- MONTO MONEDA ORIGINAL -->
      <b-field
        :label="monedaSimbolo"
        v-model="valor.TC"
        horizontal
        v-if="esMonedaExtranjera"
        @keydown.native.enter="clickAceptar()"
      >
        <b-input
          v-model.number="valor.MontoMonedaOriginal"
          custom-class="d2"
          @input="calcularMonedaExtranjera()"
        />
      </b-field>

      <!-- TIPO DE CAMBIO-->
      <b-field
        label="Tipo de cambio"
        v-model="valor.TC"
        horizontal
        v-if="esMonedaExtranjera"
        @keydown.native.enter="clickAceptar()"
      >
        <b-input
          v-model.number="valor.TC"
          custom-class="d2"
          @input="calcularMonedaExtranjera()"
        />
      </b-field>

      <!-- MONTO -->
      <b-field
        label="Monto"
        v-model="valor.Monto"
        horizontal
        v-if="!hayAttMonto"
        @keydown.native.enter="clickAceptar()"
      >
        <b-input
          v-model.number="valor.Monto"
          ref="monto"
          custom-class="d2"
          :disabled="esMonedaExtranjera"
        />
      </b-field>

      <UnicidadDinamica
        v-if="esUnicidadDinamica"
        :def="unicidadDef"
        :bus="localBus"
        :unicidad="valor.UnicidadNueva"
      />
      <ChequeDeTercero
        v-if="esChequeDeTercero"
        :bus="localBus"
        :cuenta="cuenta"
        :caja="valor.Caja"
        :definicion="unicidadDef"
        :chequeIngresado="valor.UnicidadNueva"
      />
    </div>

    <footer class="modal-card-foot">
      <b-button class="is-primary" @click="clickAceptar()">Aceptar</b-button>
      <b-button @click="cancelar()">Cancelar</b-button>
      <b-button @click="eliminar()" class="is-danger" v-if="!esNuevo"
        >Eliminar</b-button
      >
    </footer>

    <b-loading
      is-full-page
      :active="cargando != 0"
      :can-cancel="true"
    ></b-loading>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import axios from "axios";
import eventBus from "@/eventBus";
import ChequeDeTercero from "@/modules/unicidades/components/ChequeDeTercero.vue";
import UnicidadDinamica from "@/modules/unicidades/components/UnicidadDinamica.vue";
import {
  Persona,
  Sucursal,
  cruzarCuentasYSucursales,
} from "@/modules/personas/personas";
import { Valor } from "@/modules/fact/interfaces";
import { Caja } from "@/modules/cajas/cajas";
import { Cuenta } from "@/interfaces/cuentas";
import { Unicidad, unicidadString } from "@/modules/unicidades/unicidades";
import { UnicidadDef } from "@/modules/unicidadesdef/def";
import { Moneda } from "@/modules/monedas/monedas";
import { Centro } from "@/modules/centros/centros";
import BuscadorPersonas from "@/modules/personas/components/BuscadorPersonas.vue";

// ValorModal muestra - Tiene botones
//  - Los campos de una unicidad dinámica - Tiene botones
//  - El cheque de tercero - NO tiene botones

// 1) Valor modal dispara 'terminado'
// 2) UnicidadDinamica lo esuchca y llama guardar().
// 3) Crea la unicidad y llama a 'unicidadDinamicaOk'
export default Vue.extend({
  props: {
    bus: {
      type: Object,
      required: true,
    },
    empresa: {
      type: String,
      required: true,
    },
    // el objeto completo de la cuenta.
    cuenta: {
      type: Object as () => Cuenta,
      required: true,
    },
    // valorIngresado es si estoy editando
    valorIngresado: {
      type: Object as () => Valor,
      required: false,
    },
    cajas: {
      type: Array as () => Array<Caja>,
      required: false,
    },
    fechaComp: {
      type: String,
    },
    buscadorPersonasExtendido: {
      type: Boolean,
    },
    index: {
      type: Number,
    },
  },
  components: {
    ChequeDeTercero,
    UnicidadDinamica,
  },
  data() {
    return {
      esNuevo: false as boolean,
      valor: null as Valor | null,
      localBus: new Vue(),

      persona: null as Persona | null,
      personas: [] as Persona[],
      sucursales: [] as Sucursal[],

      cargando: 0 as number,
    };
  },
  created() {
    this.valor = {
      Cuenta: "",
      Caja: null,
      Persona: null,
      Sucursal: null,
      UnicidadNueva: null,
      TipoUnicidad: null,
      UnicidadRef: null,
      Detalle: "",
      Alias: "",
      Monto: null,
      Vencimiento: "",
      TC: null,
      MontoMonedaOriginal: null,
      Moneda: null,
    } as Valor;
    if (!this.valorIngresado) {
      this.esNuevo = true;
    } else {
      this.esNuevo = false;
      this.valor = Object.assign(this.valor, this.valorIngresado);
    }

    this.hooks();
    console.log(
      "Luego de hooks",
      this.cuenta.AperturaPersona,
      this.buscadorPersonasExtendido,
      this.valor.Persona
    );

    // Busco las personas
    if (this.cuenta.AperturaPersona) {
      if (this.buscadorPersonasExtendido) {
        if (this.valor.Persona) {
          // El valor tenía una persona seleccionada, la traigo
          console.log("disparando persona seleccionada:", this.valor.Persona);
          this.traerPersonaBackend(this.valor.Persona);
          //this.bus.$emit("personaSeleccionada", this.valor.Persona)
        }
      } else {
        // Traigo las personas disponibles
        this.cargando++;
        axios
          .post("/backend/personas/many", {
            Cuentas: [this.cuenta.ID],
          })
          .then((res) => {
            this.personas = res.data;
            if (this.esNuevo && this.personas.length == 1) {
              (this.valor as Valor).Persona = this.personas[0].ID;
            }
          })
          .catch((err) => {
            eventBus.$emit("error", err);
          })
          .finally(() => this.cargando--);

        if (!this.esNuevo && this.valor.Persona) {
          this.traerPersonaBackend(this.valor.Persona);
        }
      }
    }

    // Si hay uno solo lo selecciono
    if (this.cajas.length == 1) {
      this.valor.Caja = this.cajas[0].ID;
    }
  },
  mounted() {
    if (this.cuenta.AperturaPersona) {
      return;
    }
    this.darFoco();
  },
  methods: {
    darFoco() {
      if (this.cuenta.AperturaCaja) {
        if (this.cajas.length != 1) {
          console.log("dando foco a CAJA");
          if (this.$refs.caja) {
            (this.$refs.caja as any).focus();
          }
          return;
        }
      }

      if (this.cuenta.AperturaPersona) {
        console.log("dando foco a PERSONA");
        if (this.$refs.persona) {
          (this.$refs.persona as any).focus();
        }
        return;
      }

      if (this.sucursales.length > 1) {
        console.log("dando foco a SUCURSAL");
        if (this.$refs.sucursal) {
          (this.$refs.sucursal as any).focus();
        }
        return;
      }

      console.log("dando foco a MONTO");
      if (this.$refs.monto) {
        (this.$refs.monto as any).focus();
      }
    },
    cancelar(): void {
      (this.$parent as any).close();
    },
    // Lo dividí porque tengo que esperar a que la UnicidadDinámica
    // me confirme que está todo ok
    clickAceptar(): void {
      if (this.hayUnicidad) {
        console.log("disparando evento 'terminado'");
        this.localBus.$emit("terminado");
      } else {
        console.log("llamando aceptar desde clickAceptar()");
        this.aceptar();
      }
    },
    aceptar(): void {
      if (!this.valor) {
        return;
      }
      console.log("entrando a aceptar()");
      this.valor.Alias = this.cuenta.Alias;
      // this.valor.Vencimiento = 0;
      this.valor.Cuenta = this.cuenta.ID as string;

      if (
        typeof this.valor.Monto != "number" ||
        Number.isNaN(this.valor.Monto)
      ) {
        this.$buefy.dialog.alert({
          title: "Validación",
          hasIcon: true,
          message: "Debe ingresar un monto válido.",
        });
        return;
      }

      // Si tenía apertura por persona => La agrego al detalle
      if (this.persona) {
        this.valor.Detalle = this.persona.Nombre;
        if (this.mostrarSucursal) {
          let suc = this.sucursales.find((item) => {
            return item.ID == (this.valor as Valor).Sucursal;
          });
          if (!suc) {
            console.log("debería haber encontrado la sucursal");
            return;
          }
          this.valor.Detalle += " - " + suc.Nombre;
        }
      }

      // Pongo la unicidad en el detalle
      if ((this.valor as Valor).UnicidadNueva && this.valor.UnicidadNueva) {
        // Busco unicidadDef
        const def = this.$store.getters["unicidadesdef/porID"](
          this.cuenta.TipoUnicidad
        );

        if (def) {
          const ustr = unicidadString(this.valor.UnicidadNueva, def);
          if (this.valor.Detalle) {
            this.valor.Detalle = `${this.valor.Detalle} ${ustr}`;
          } else {
            this.valor.Detalle = ustr;
          }
        }
      }

      // Control de caja
      if (this.cuenta.AperturaCaja && !(this.valor as Valor).Caja) {
        this.$buefy.dialog.alert({
          title: "Validación",
          message: "El campo <b>Caja</b> es obligatorio",
        });
        return;
      }

      // Controles de persona y sucursal
      if (this.cuenta.AperturaPersona) {
        if (!this.valor.Persona) {
          // Controlo sucursal
          this.$buefy.dialog.alert({
            title: "Validación",
            message: "El campo <b>Persona</b> es obligatorio",
          });
          return;
        }
        if (this.persona) {
          if (this.persona.UsaSucursales && !this.valor.Sucursal) {
            // Controlo sucursal
            this.$buefy.dialog.alert({
              title: "Validación",
              message: "El campo <b>Sucursal</b> es obligatorio",
            });
            return;
          }
        }
      }

      if (!this.hayAttMonto) {
        if (!this.valor || !this.valor.Monto) {
          this.$buefy.dialog.alert({
            title: "Validación",
            message: "El campo <b>Monto</b> es obligatorio",
          });
          return;
        }
      }

      if (this.esNuevo) {
        this.bus.$emit("valorCreado", this.valor);
      } else {
        this.bus.$emit("valorModificado", this.valor, this.index);
      }
      (this.$parent as any).close();
    },
    eliminar(): void {
      this.bus.$emit("valorEliminado", this.index);
      (this.$parent as any).close();
    },
    // Determina si la unicidad ingresada tiene un campo de monto y devuelve
    // el valor del mismo.
    atributoMonto(u: Unicidad): number | null {
      let def = this.unicidadDef;
      if (!def) {
        return null;
      }

      if (def.AttsIndexados) {
        for (let v of def.AttsIndexados) {
          if (v.Funcion == "monto") {
            return u.AttsIndexados[v.Nombre];
          }
        }
      }

      if (def.Atts) {
        for (let v of def.Atts) {
          if (v.Funcion == "monto") {
            return u.Atts[v.Nombre];
          }
        }
      }
      return null;
    },
    // Determina si la unicidad ingresada tiene un campo de fecha de
    // vencimiento y devuelve el valor del mismo.
    atributoFechaVto(u: Unicidad): string | null {
      let def = this.unicidadDef;
      if (!def) {
        return null;
      }

      if (def.AttsIndexados) {
        for (let v of def.AttsIndexados) {
          if (v.Funcion == "fecha vto") {
            return u.AttsIndexados[v.Nombre];
          }
        }
      }

      if (def.Atts) {
        for (let v of def.Atts) {
          if (v.Funcion == "fecha vto") {
            return u.Atts[v.Nombre];
          }
        }
      }
      return null;
    },
    // Cuando se selecciona una persona con el buscador extendido
    traerPersonaBackend(id: string) {
      // Busco en backend
      this.cargando++;
      axios
        .post("/backend/personas/persona", { ID: id })
        .then((res) => {
          this.persona = res.data;
          if (!this.persona) {
            this.persona = null;
            return;
          }
          this.cruzarSucursales();
          this.bus.$emit("personaTraida", res.data);
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },
    hooks(): void {
      this.localBus.$on("personaSeleccionada", (id: string) => {
        if (!this.valor) {
          return;
        }
        this.valor.Persona = id;
        this.traerPersonaBackend(id);
      });

      this.localBus.$on("chequeTerceroCerrar", () => {
        if (!this.$parent) {
          console.error("no había parent para cerrar en ValorModal");
          return;
        }
        (this.$parent as any).close();
      });

      this.localBus.$on("unicidadDinamicaOk", (unicidad: Unicidad) => {
        if (!this.valor) {
          console.error("se recibió unicidadDinamicaOk pero no había valor");
          return;
        }
        if (!unicidad) {
          console.error("no se recibió unicidad dinamica");
          return;
        }

        // Hay algún atributo de monto?
        let monto = this.atributoMonto(unicidad);
        if (monto) {
          this.valor.Monto = monto;
        }

        // Hay algún atributo de fecha de vencimiento?
        let fchVto = this.atributoFechaVto(unicidad);
        if (fchVto) {
          this.valor.Vencimiento = fchVto;
        }

        this.valor.UnicidadNueva = unicidad;
        this.aceptar();
      });
    },
    calcularMonedaExtranjera() {
      if (!this.valor) {
        return;
      }
      if (!this.valor.MontoMonedaOriginal) {
        return;
      }
      if (!this.valor.TC) {
        return;
      }
      let total = this.valor.TC * this.valor.MontoMonedaOriginal;
      if (Number.isFinite(total)) {
        this.valor.Monto = total;
      }
    },
    buscarPersona() {
      this.$buefy.modal.open({
        parent: this,
        component: BuscadorPersonas,
        hasModalCard: true,
        trapFocus: true,
        fullScreen: true,
        scroll: "clip",
        props: {
          bus: this.localBus,
          cuentas: [this.cuenta.ID],
        },
      });
    },
    cruzarSucursales() {
      if (!this.valor) {
        return [];
      }
      if (!this.persona) {
        return [];
      }
      if (!this.mostrarSucursal) {
        return [];
      }
      console.log("cruzando sucursales...");
      const out = cruzarCuentasYSucursales(
        this.empresa,
        this.persona,
        this.persona.Sucursales,
        [this.cuenta]
      );
      console.log("sucursales encontradas");
      this.sucursales = out as Sucursal[];
      if (!this.valor.Sucursal && this.sucursales.length == 1) {
        this.valor.Sucursal = this.sucursales[0].ID;
        this.darFoco();
      }
    },
  },
  computed: {
    titulo(): string {
      return this.cuenta.Alias;
    },
    // Los valores usan unicidades de Tipo == 'Uso'
    // Si la cuenta contable abre por unicidad devuelve true
    hayUnicidad(): boolean {
      if (this.cuenta.AperturaUnicidad) {
        return true;
      }
      return false;
    },
    nombrePersona(): string {
      if (!this.persona) {
        return "";
      }
      return this.persona.Nombre;
    },
    // dias devuelve la cantidad de días de vencimiento del valor
    dias(): number {
      return 0;
    },
    // Devuelve la definición del tipo de unicidad que se está usando
    unicidadDef(): UnicidadDef | null {
      if (this.cuenta.AperturaUnicidad) {
        // Busco defincion unicidad
        let unicidad = this.$store.getters["unicidadesdef/porID"](
          this.cuenta.TipoUnicidad
        );
        if (!unicidad) {
          console.error(
            "no se pudo encontrar la unicidad ID",
            this.cuenta.TipoUnicidad
          );
        }
        return unicidad;
      }
      return null;
    },
    //
    mostrarCentro(): boolean {
      return this.cuenta.AperturaCentro;
    },
    // Determina si en la definición de la unicidad, uno de los atributos
    // corresponde a lo que sería el monto. Si es así, no muestro el campo
    // de monto genérico.
    hayAttMonto(): boolean {
      if (this.unicidadDef) {
        if (this.unicidadDef.Atts) {
          for (let v of this.unicidadDef.Atts) {
            if (v.Funcion == "monto") {
              return true;
            }
          }
        }
        if (this.unicidadDef.AttsIndexados) {
          for (let v of this.unicidadDef.AttsIndexados) {
            if (v.Funcion == "monto") {
              return true;
            }
          }
        }
      }
      return false;
    },
    mostrarSucursal() {
      if (!this.persona) {
        return false;
      }
      if (this.persona.UsaSucursales) {
        return true;
      }
      return false;
    },
    esChequeDeTercero(): boolean {
      if (
        this.unicidadDef &&
        this.unicidadDef.Predefinida == "Cheque de tercero"
      ) {
        return true;
      }
      return false;
    },
    esUnicidadDinamica(): boolean {
      console.log("unicidad dinamica: unicidadDef era", this.unicidadDef);
      if (this.unicidadDef && !this.esChequeDeTercero) {
        return true;
      }
      return false;
    },
    esMonedaExtranjera(): boolean {
      if (!this.cuenta) {
        return false;
      }
      return this.cuenta.MonedaExtranjera;
    },
    // totalPesosStr(): string {
    //   this.monto;
    // },
    monedaSimbolo(): string {
      if (!this.valor) {
        return "";
      }
      if (!this.valor.Moneda) {
        return "";
      }
      let mon = this.$store.getters["monedas/porID"](this.valor.Moneda);
      return mon.Simbolo;
    },
    monedas(): Moneda[] {
      return this.$store.getters["monedas/disponibles"];
    },
    centros(): Centro[] {
      if (!this.cuenta) {
        return [];
      }
      return this.$store.getters["centros/many"](
        this.cuenta.CentrosPermitidos,
        this.cuenta.CentrosGrupos
      );
    },
  },
  watch: {
    "valor.Persona"(val) {
      if (!val) {
        return;
      }
      if (this.buscadorPersonasExtendido) {
        return;
      }
      const found = this.personas.find((x) => x.ID == val);
      if (found) {
        this.persona = found;
        this.traerPersonaBackend(val);
      }
    },
  },
});
</script>

<style scoped>
div.modal-card-body {
  overflow-y: scroll;
}
</style>
