<template>
  <div>
    <h1>Test vencimientos</h1>
    <b-field label="Monto">
      <b-input v-model.number="monto"></b-input>
    </b-field>
    <b-field label="Fecha factura">
      <b-input v-model="fecha"></b-input>
    </b-field>
    <b-field label="">
      <b-button @click="mostrar()">Mostrar</b-button>
    </b-field>

	<p>Valor:</p>
	{{vv}}
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import Vencimientos from "./Vencimientos.vue";
import { Vencimiento } from "@/modules/fact/interfaces";
export default Vue.extend({
  components: {
    Vencimientos,
  },
  data() {
    return {
      monto: 500 as number,
      fecha: "2023-01-10" as string,
      localBus: new Vue(),
	  vv: null as Vencimiento[] | null
    };
  },
  created() {
	this.localBus.$on("vencimientos-cambiaron", (val: Vencimiento[]) => {
		this.vv = val
	})
  },
  methods: {
    mostrar() {
      this.$buefy.modal.open({
        parent: this,
        component: Vencimientos,
        hasModalCard: true,
        trapFocus: true,
        fullScreen: true,
        scroll: "clip",
        props: {
          bus: this.localBus,
          fechaComp: this.fecha,
          montoComp: this.monto,
		  vencimientos: this.vv,
        },
      });
    },
  },
});
</script>
