<template>
  <div class="modal-card" id="atributo-wrapper">
    <header class="modal-card-head">
      <h1 class="modal-card-title">Vencimientos</h1>
    </header>
    <section class="modal-card-body">
      <tabla>
        <thead>
          <th>Fecha</th>
          <th>Días</th>
          <th>Monto</th>
          <th></th>
        </thead>
        <tbody>
          <tr v-for="(v, i) in vv" :key="v.id">
            <td>
              <b-input
                type="date"
                v-model="v.Fecha"
                @change.native="calcularDias(i)"
              />
            </td>
            <td>
              <b-input
                v-model.number="v.Dias"
                @change.native="calcularFecha(i)"
              />
            </td>
            <td>
              <b-input v-model.number="v.Monto" custom-class="d2" />
            </td>
            <td>
              <b-button
                @click="borrar(i)"
                style="color: red"
                icon-left="close-circle"
              ></b-button>
            </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td align="right">
              <b-button
                @click="agregar()"
                style="color: darkgreen"
                icon-left="plus-circle"
                >Agregar</b-button
              >
            </td>
          </tr>
          <tr>
            <td></td>
            <td align="right">Total cuotas</td>
            <td align="right">{{ totalCuotas | enPesos }}</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td align="right">Total comprobante</td>
            <td align="right">{{ montoComp | enPesos }}</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td align="right">Diferencia</td>
            <td align="right"  style="border-top: 1px solid lightgray;">{{ montoPendiente | enPesos }}</td>
            <td></td>
          </tr>
        </tbody>
      </tabla>
	  <p>Días promedio: {{  diasPromedio | enteros }}</p>
    </section>
    <footer class="modal-card-foot">
      <b-button class="is-primary" @click="guardar()">Aceptar</b-button>
      <b-button @click="cancelar()">Cancelar</b-button>
    </footer>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Vencimiento } from "@/modules/fact/interfaces";
import { v4 as uuidv4 } from "uuid";
import { enPesos } from "@/modules/util/format";
import { newDate } from "@/modules/util/fechas";
import { format, differenceInCalendarDays, addDays } from "date-fns";
export default Vue.extend({
  props: {
    vencimientos: Array as () => Vencimiento[],
    fechaComp: String,
    montoComp: Number,
    bus: {
      type: Vue,
      required: true,
    },
  },
  data() {
    return {
      vv: [] as Vencimiento[],
    };
  },
  created() {
    if (this.vencimientos && this.vencimientos.length) {
      // Copio los existentes
      for (const v of this.vencimientos) {
        const nuevo = Object.assign({}, v);
        if (!nuevo.id) {
          nuevo.id = uuidv4();
        }
        this.vv.push(nuevo);
      }
    } else {
      // No había ningún vencimiento creado, creo uno por defecto
      // con el total del comprobante a cero días
      this.agregar();
      this.vv[0].Monto = this.montoComp;
    }
  },
  methods: {
    cancelar() {
      (this.$parent as any).close();
    },
    guardar() {
      if (
        Math.round(this.totalCuotas * 100) != Math.round(this.montoComp * 100)
      ) {
        this.$buefy.dialog.alert({
          title: "Validación",
          hasIcon: true,
          message: `El total de cuotas (${enPesos(
            this.totalCuotas
          )}) no coincide con el total de comprobante (${enPesos(
            this.montoComp
          )})`,
        });
        return;
      }

      const temp = [];
      let i = 0;
      for (const v of this.vv) {
        i++;
        const val = v.Monto;
        if (isNaN(val)) {
          this.$buefy.dialog.alert({
            title: "Validación",
            hasIcon: true,
            message: `La cuota renglón ${i} no posee monto válido`,
          });
        }
        if (val != 0) {
          temp.push(v);
        }
      }

      this.bus.$emit("vencimientosCambiaron", temp);
      this.cancelar();
    },
    resetear() {
      this.bus.$emit("vencimientosReseteados");
      this.cancelar();
    },
    borrar(i: number) {
      this.vv.splice(i, 1);
    },
    agregar() {
      const nuevo: Vencimiento = {
        id: uuidv4(),
        Fecha: this.fechaComp,
        Dias: 0,
        Monto: 0,
      };
      this.vv.push(nuevo);
    },
    calcularDias(i: number) {
      const vto = newDate(this.vv[i].Fecha);
      const compDate = newDate(this.fechaComp);
      this.vv[i].Dias = differenceInCalendarDays(vto, compDate);
    },
    calcularFecha(i: number) {
      const dias = this.vv[i].Dias;
      const compDate = newDate(this.fechaComp);
      this.vv[i].Fecha = format(addDays(compDate, dias), "yyyy-MM-dd");
    },
  },
  computed: {
    totalCuotas(): number {
      let sum: number = 0;
      this.vv.forEach((v: Vencimiento) => (sum += v.Monto));
      return sum;
    },
    montoPendiente(): number {
      return this.montoComp - this.totalCuotas;
    },
    diasPromedio(): number {
      let sum: number = 0;
      this.vv.forEach((v: Vencimiento) => (sum += v.Monto * v.Dias));
      return sum / this.totalCuotas;
    },
  },
});
</script>
