<template>
  <div>
    <div>
      <h1 class="title">{{ titulo }}</h1>
      <div class="columns box block">
        <div class="column is-one-third-widescreen is-half-fullhd">
          <b-field label="Empresa">
            <b-select
              v-model="apli.Empresa"
              expanded
              :disabled="!modoEdicion"
              placeholder="Seleccione"
            >
              <option v-for="v in empresas" :value="v.ID" :key="v.ID">
                {{ v.Nombre }}
              </option>
            </b-select>
          </b-field>
        </div>

        <div class="column is-one-third-widescreen">
          <b-field label="Tipo operación">
            <b-select v-model="apli.Config" expanded :disabled="!modoEdicion">
              <option :value="null" v-if="esNuevo">Seleccione</option>
              <option v-for="v in configs" :value="v.ID" :key="v.ID">
                {{ v.Nombre }}
              </option>
            </b-select>
          </b-field>
        </div>
      </div>
      <div v-if="apli.Config">
        <div v-if="porPersona" class="block">
          <!-- PERSONA -->
          <b-field label="Persona" horizontal>
            <b-field>
              <p class="control input">{{ nombrePersona }}</p>
              <p class="control">
                <b-button
                  icon-left="magnify"
                  class="is-primary"
                  @click="buscarPersona()"
                  v-if="esNuevo"
                ></b-button>
              </p>
            </b-field>
          </b-field>

          <!-- SUCURSAL -->
          <b-field v-if="mostrarSucursales" label="Sucursal" horizontal>
            <b-select v-model="apli.Sucursal">
              <option :value="null">Todas</option>
              <option v-for="v in sucursales" :key="v.ID" :value="v.ID">
                {{ v.Nombre }}
              </option>
            </b-select>
          </b-field>

          <!-- CUENTAS -->
          <b-field label="Cuentas" horizontal v-if="cuentas">
            <multiselect
              :options="cuentas"
              v-model="cuentasSeleccionadas"
              mode="tags"
              valueProp="ID"
              label="Nombre"
            >
            </multiselect>
          </b-field>
        </div>
        <div v-if="esNuevo" class="block">
          <h1>Partidas disponibles para aplicar</h1>
          <b-field>
            <b-field label="Desde">
              <b-input type="date" v-model="desde" custom-class="fch"></b-input>
            </b-field>
            <b-field label="Hasta">
              <b-input type="date" v-model="hasta" custom-class="fch"></b-input>
            </b-field>
            <b-field horizontal>
              <b-button class="is-info" @click="buscarPartidas()">
                Buscar partidas
              </b-button>
            </b-field>
          </b-field>
          <tabla v-if="dirty && pendientes.length">
            <thead>
              <th>{{ tipoFecha }}</th>
              <th>Comprobante</th>
              <th>Número</th>
              <th>Monto original</th>
              <th align="right">Debe</th>
              <th>Tilde</th>
              <th align="right">Haber</th>
              <th>Detalle</th>
              <th>Saldo acumulado</th>
            </thead>
            <tbody>
              <tr v-for="v in pendientes" :key="key(v)">
                <td v-if="tipoFecha == 'Fecha financiera'">
                  {{ v.FechaVto | enFecha }}
                </td>
                <td v-else>{{ v.FechaContable | enFecha }}</td>
                <td>{{ v.CompNombre }}</td>
                <td>
                  <router-link
                    :to="{
                      name: 'mostrarComprobante',
                      query: {
                        op: v.OpID,
                      },
                    }"
                    target="_blank"
                    rel="noreferrer noopener"
                  >
                    {{ v.NCompStr }}
                  </router-link>
                </td>
                <td class="original">{{ v.MontoOriginal | enPesos }}</td>
                <td align="right" @click="tildar(v, v.Saldo)">
                  <button v-if="v.Saldo > 0" class="debe-haber link">
                    {{ v.Saldo | debe }}
                  </button>
                </td>
                <td align="right" @click="aplicacionParcial(v)" class="link">
                  {{ v.MontoAplicado | enPesos }}
                </td>
                <!-- <td align="right"><b-button icon-left="magnify"></b-button></td> -->
                <td align="right" @click="tildar(v, v.Saldo)">
                  <button v-if="v.Saldo < 0" class="debe-haber link">
                    {{ v.Saldo | haber }}
                  </button>
                </td>

                <td>{{ [v.Detalle, v.DetallePartida].join(" - ") }}</td>
                <!-- <td align="right">{{ (v.Saldo - v.Aplicacion) | enPesos }}</td> -->
                <td align="right">{{ v.Acumulado | enPesos }}</td>
              </tr>
            </tbody>
          </tabla>
          <p v-if="dirty && !pendientes.length">
            No se encontraron partidas pendientes
          </p>
          <!-- v-if="dirty && pendientes.length" -->
          <div class="flotante box">
            <p>{{ diferenciaString }}</p>
            <b-button
              v-if="esNuevo && dirty && pendientes.length"
              @click="cerrarGrupo()"
              >Cerrar grupo</b-button
            >
            <b-button
              v-if="esNuevo && dirty && pendientes.length"
              @click="tildarTodas()"
              icon-left="sticker-plus-outline"
            ></b-button>
            <b-button
              v-if="esNuevo && dirty && pendientes.length"
              @click="destildarTodas()"
              icon-left="sticker-minus-outline"
            ></b-button>
          </div>
        </div>
        <div
          class="block"
          v-if="(dirty && esNuevo && aplicador.cerradas.length) || !esNuevo"
        >
          <h1>Grupos cerrados</h1>
          <tabla>
            <thead>
              <th>Fecha</th>
              <th>Grupo</th>
              <th>Comprobante</th>
              <th>Número</th>
              <th align="right">Debe</th>
              <th align="right">Haber</th>
              <th>Detalle</th>
              <th></th>
            </thead>
            <tbody>
              <tr v-for="v in aplicador.cerradas" :key="key(v)" class="link">
                <td>{{ v.FechaVto | enFecha }}</td>
                <td>
                  {{ v.Grupo }}
                </td>
                <td>{{ v.CompNombre }}</td>
                <td>{{ v.NCompStr }}</td>
                <td align="right">{{ v.Aplicacion | debe }}</td>
                <td align="right">{{ v.Aplicacion | haber }}</td>
                <td>{{ v.Detalle }}</td>
                <td>
                  <b-button
                    v-if="esNuevo"
                    @click="liberarGrupo(v.Grupo)"
                    icon-left="delete"
                    class="delete-button"
                  ></b-button>
                </td>
              </tr>
            </tbody>
          </tabla>
          <!-- <p v-else>Ningún grupo cerrado</p> -->
          <b-field label="Fecha recibo" v-if="esNuevo">
            <b-input
              type="date"
              v-model="apli.Fecha"
              custom-class="fch"
            ></b-input>
          </b-field>

          <b-button class="is-primary" @click="guardar()" v-if="esNuevo"
            >Guardar</b-button
          >
        </div>
      </div>

      <b-button v-if="!esNuevo" @click="verAsiento()" class="is-info"
        >Asiento
      </b-button>
      <b-button v-if="!esNuevo" @click="eliminar()" class="is-danger"
        >Borrar
      </b-button>
    </div>
    <b-loading
      is-full-page
      :active="cargando != 0"
      :can-cancel="true"
    ></b-loading>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import axios from "axios";
import eventBus from "@/eventBus";
import { startOfToday, format } from "date-fns";
import { newDate } from "@/modules/util/fechas";
import {
  Persona,
  Sucursal,
  cruzarCuentasYSucursales,
} from "@/modules/personas/personas";
type KV = {
  ID: string;
  Nombre: string;
};
import { Cuenta } from "@/interfaces/cuentas";
import {
  Aplicacion,
  DisponiblesResponse,
  Config,
} from "@/interfaces/aplicador";
import { Aplicador } from "./apli";
import BuscadorPersonas from "@/modules/personas/components/BuscadorPersonas.vue";
import Asiento from "@/components/widgets/Asiento.vue";
import { enPesos } from "@/modules/util/format";
export default Vue.extend({
  data() {
    return {
      apli: {
        ID: null,
        Empresa: null,
        Config: null,
        Fecha: null,
        Persona: null,
        Sucursal: null,
        Partidas: [],
      } as Aplicacion,

      configs: [] as Config[],

      cuentasSeleccionadas: [] as string[],
      persona: null as Persona | null,
      sucursal: null as Sucursal | null,
      desde: null as string | null,
      hasta: null as string | null,

      aplicador: new Aplicador(),
      // // Son las que viene como disponibles del backend
      // originales: new Map<string, DisponiblesResponse[]>(),
      // // Muestro sólo los que no tienen un grupo asigando todavía
      // sinGrupo: new Map<string, DisponiblesResponse[]>(),

      // Tildados son los marcados que todavía no se cerraron
      tildados: new Map<string, number>(),
      // Me dice cuales OpID ya están en un grupo
      cerrados: new Map<string, number>(),
      localBus: new Vue(),
      cargando: 0 as number,
      dirty: false as boolean,
      grupo: 0 as number, // es un número creciente

      totalSeleccionadoDebe: 0,
      totalSeleccionadoHaber: 0,
    };
  },
  created() {
    document.title = "Aplicador";
    // Hook persona
    this.localBus.$on("personaSeleccionada", (p: string) => {
      console.log("persona seleccionada", p);
      this.apli.Persona = p;
      this.traerPersona();
    });

    // Si es es CREATE traigo todas por grupo
    if (this.esNuevo) {
      this.apli.Empresa = this.$store.state.empresas.seleccionada;
    } else {
      this.actualizar();
    }

    if (this.$route.query.grupo_cuentas) {
      this.fetchCuentasGrupos();
    }
    if (this.$route.query.persona) {
      this.apli.Persona = this.$route.query.persona;
      this.traerPersona();
    }
    if (this.$route.query.hasta) {
      this.hasta = this.$route.query.hasta;
    }
  },
  mounted() {
    window.addEventListener("keyup", (e) => {
      if (e.key == "F2") {
        this.cerrarGrupo();
      }
    });
  },
  methods: {
    guardar() {
      this.cargando++;
      this.apli.Partidas = this.aplicador.cerradas;
      axios
        .post("/backend/aplicador/create", this.apli)
        .then(() => {
          this.$router.go(-1);
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => {
          this.cargando--;
          this.limpiar();
        });
    },
    eliminar(): void {
      this.$buefy.dialog.confirm({
        title: "Borrar aplicación",
        message: "¿Está seguro que desea <b>borrar</b> la aplicación? ",
        confirmText: "Borrar",
        type: "is-danger",
        hasIcon: true,
        onConfirm: () => {
          this.cargando += 1;
          axios
            .post("/backend/aplicador/delete", {
              ID: this.apli.ID,
            })
            .then(() => {
              this.cargando -= 1;
              this.$router.go(-1);
            })
            .catch((err) => {
              this.cargando -= 1;
              eventBus.$emit("error", err);
            });
        },
      });
    },
    actualizar() {
      this.cargando++;
      axios
        .post("/backend/aplicador/one", { ID: this.$route.query.id })
        .then((res) => {
          this.apli = res.data;
          this.aplicador.cerradas = res.data.Partidas;
		  this.traerPersona()
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },
    tildar(v: DisponiblesResponse, monto: number) {
      this.aplicador.tildar(v, monto);
      this.$forceUpdate();
    },
    // Agrega las partidas seleccionadas a apli.
    cerrarGrupo() {
      try {
        this.aplicador.cerrarGrupo();
        this.$forceUpdate();
      } catch (e) {
        eventBus.$emit("error", e);
      }
    },
    destildarTodas() {
      this.aplicador.destildarTodas();
      this.$forceUpdate();
    },
    tildarTodas() {
      this.aplicador.tildarTodas();
      this.$forceUpdate();
    },
    buscarPersona() {
      this.$buefy.modal.open({
        parent: this,
        component: BuscadorPersonas,
        hasModalCard: true,
        trapFocus: true,
        fullScreen: true,
        scroll: "clip",
        props: {
          bus: this.localBus,
          cuentas: this.config?.Cuentas,
        },
      });
    },
    limpiar() {
      this.aplicador.clear();
      if (!this.porPersona) {
        this.persona = null;
        this.apli.Persona = null;
      }
      if (!this.mostrarSucursales) {
        this.sucursal = null;
        this.apli.Sucursal = null;
      }
      if (!this.cuentas) {
        this.cuentasSeleccionadas = [];
      }
      this.aplicador = new Aplicador();
    },
    fetchCuentasGrupos() {
      this.cargando += 1;
      axios
        .post("/backend/cuentasgrupos/one", {
          ID: this.$route.query.grupo_cuentas,
        })
        .then((res) => {
          this.cuentasSeleccionadas = res.data.Cuentas;
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },
    traerPersona() {
      // console.log("entrando a traer persona", id);
      if (this.apli.Persona) {
        this.cargando += 1;
        axios
          .post("/backend/personas/persona", { ID: this.apli.Persona })
          .then((res) => {
            this.persona = res.data;
            this.cargando -= 1;
          })
          .catch((err) => {
            eventBus.$emit("error", err);
            this.cargando -= 1;
          });
      }
    },
    verAsiento() {
      this.cargando++;
      axios
        .post("/backend/ops/many", { TranID: this.apli.ID })
        .then((res) => {
          if (res.data.length) {
            this.cargando++;
            axios
              .post("/backend/ops/partidas", { ID: res.data[0].ID })
              .then((resPart) => {
                this.$buefy.modal.open({
                  parent: this,
                  component: Asiento,
                  hasModalCard: true,
                  trapFocus: true,
                  fullScreen: true,
                  scroll: "clip",
                  props: {
                    partidas: resPart.data,
                    opID: res.data[0].ID,
                  },
                });
              })
              .catch((err) => {
                eventBus.$emit("error", err);
              })
              .finally(() => this.cargando--);
          }
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => {
          this.cargando--;
        });
    },
    buscarConfigs() {
      this.cargando += 1;
      axios
        .post("/backend/aplicador_config/many", {
          Empresa: this.apli.Empresa,
        })
        .then((res) => {
          if (!res.data) {
            return;
          }
          res.data.sort((a: Config, b: Config) => {
            return new Intl.Collator("ar").compare(a.Nombre, b.Nombre);
          });
          this.configs = res.data;
          if (this.configs.length == 1) {
            this.apli.Config = this.configs[0].ID;
          }
        })
        .catch((err) => {
          this.cargando -= 1;
          eventBus.$emit("error", err);
        })
        .finally(() => {
          this.cargando -= 1;
        });
    },
    buscarPartidas() {
      this.cargando++;
      if (this.desde == "") {
        this.desde = null;
      }
      if (this.hasta == "") {
        this.hasta = null;
      }
      this.limpiar();
      axios
        .post("/backend/aplicador/disponibles", {
          Empresa: this.apli.Empresa,
          Config: this.apli.Config,
          Persona: this.apli.Persona,
          Sucursal: this.apli.Sucursal,
          Desde: this.desde,
          Hasta: this.hasta,
          Cuentas: this.cuentasSeleccionadas,
        })
        .then((res) => {
          this.cargando--;
          this.dirty = true;
          if (!res.data) {
            this.aplicador.load([]);
          } else {
            this.aplicador.load(res.data);
          }
          if (this.hasta) {
            this.apli.Fecha = this.hasta;
          }
          // for (let v of res.data) {
          //   v.Aplicacion = 0;
          //   this.sinGrupo.push(v);
          // }
        })
        .catch((err) => {
          this.cargando--;
          eventBus.$emit("error", err);
        });
    },
    aplicacionParcial(p: DisponiblesResponse) {
      if (p.Saldo == 0) {
        this.tildar(p, 0);
        return;
      }
      this.$buefy.dialog.prompt({
        message: `Monto a aplicar:`,
        inputAttrs: {
          placeholder: "Máximo: " + p.Saldo,
          customClass: "d2",
        },
        trapFocus: true,
        onConfirm: (value: string) => {
          let fl = parseFloat(value);
          if (!fl && fl != 0) {
            eventBus.$emit("error", Error("Debe ingresar un número válido"));
            return;
          }
          if (fl < 0) {
            eventBus.$emit(
              "error",
              Error("El número debe ser mayor o igual a cero")
            );
            return;
          }
          if (fl > Math.abs(p.Saldo)) {
            eventBus.$emit(
              "error",
              Error(`El monto debe estar entre ${0} y ${p.Saldo}`)
            );
            return;
          }
          if (p.Saldo < 0) {
            fl *= -1;
          }
          this.aplicador.tildarParcial(p, fl);
          this.$forceUpdate();
          this.$buefy.toast.open(`Aplicación parcial: ${fl}`);
        },
      });
    },
    liberarGrupo(grupoID: number) {
      console.log("liberando grupo", grupoID);
      this.aplicador.liberarGrupo(grupoID);
    },
    key(v: any): string {
      return this.aplicador.key(v);
    },
  },
  computed: {
    diferenciaString(): string {
      if (
        this.aplicador.totalSeleccionado > -0.000001 &&
        this.aplicador.totalSeleccionado < 0.00000001
      ) {
        return "";
      } else {
        return `Diferencia ${enPesos(this.aplicador.totalSeleccionado)}`;
      }
    },
    tipoFecha(): string {
      if (!this.config) {
        return "";
      }
      if (this.config.PorFechaVto) {
        return "Fecha financiera";
      }
      return "Fecha contable";
    },
    titulo(): string {
      if (this.esNuevo) {
        return "Nueva aplicación";
      }
      return "Aplicación";
    },
    cuentas(): Cuenta[] {
      if (!this.config) {
        return [];
      }
      if (this.config.Cuentas && this.config.Cuentas.length) {
        let ctas = this.$store.getters["cuentas/porIDs"](this.config.Cuentas);
        return ctas;
      }
      return [];
    },
    esNuevo(): boolean {
      if (this.$route.query.id) {
        return false;
      }
      return true;
    },
    empresas(): KV[] {
      return this.$store.getters["empresas/permitidas"];
    },
    modoEdicion(): boolean {
      if (this.esNuevo) {
        return true;
      }
      return false;
    },
    nombrePersona(): string {
      if (this.persona) {
        return this.persona.Nombre;
      }
      return "";
    },
    mostrarSucursales(): boolean {
      if (!this.persona) {
        return false;
      }
      if (this.persona.UsaSucursales) {
        return true;
      }
      return false;
    },
    sucursales(): Sucursal[] {
      if (!this.apli.Empresa) {
        return [];
      }
      if (!this.persona) {
        return [];
      }
      console.log(
        "Empresa",
        this.apli.Empresa,
        "Persona",
        this.persona,
        "Sucursales",
        this.persona.Sucursales,
        "Cuentas",
        this.cuentas
      );
      const ss = cruzarCuentasYSucursales(
        this.apli.Empresa,
        this.persona,
        this.persona.Sucursales,
        this.cuentas
      );
      return ss as Sucursal[];
    },
    originales(): DisponiblesResponse[] {
      return this.aplicador.originales;
    },
    pendientes(): DisponiblesResponse[] {
      return this.aplicador.pendientes;
    },
    config(): Config | null {
      if (!this.apli.Config) {
        return null;
      }
      let out = this.configs.find((x) => x.ID == this.apli.Config);
      if (!out) {
        return null;
      }
      return out;
    },
    porPersona(): boolean {
      if (this.config) {
        return this.config.PorPersona;
      }
      return false;
    },
  },
  watch: {
    sucursales(ss: Sucursal[]) {
      if (ss.length == 1) {
        this.apli.Sucursal = ss[0].ID;
      }
    },
    "apli.Empresa"(val) {
      if (!val) {
        return;
      }
      this.buscarConfigs();
    },
    "apli.Config"(val) {
      if (!val) {
        return;
      }
      if (!this.esNuevo) {
        return;
      }
      this.limpiar();
      this.persona = null;
      let found = this.configs.find((x) => x.ID == this.apli.Config);
      if (found?.SugerirFecha) {
        this.apli.Fecha = format(newDate(startOfToday()), "yyyy-MM-dd");
      }
    },
    "apli.Persona"() {
      if (!this.esNuevo) {
        return;
      }
      this.limpiar();
    },
  },
});
</script>

<style lang="scss" scoped>
@import "@/assets/variables";

.block:not(:last-child) {
  margin-bottom: 6.5rem;
}

button.debe-haber {
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  height: 1em;
  text-align: right;
}
div.flotante {
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 10px;
  background-color: $info;
  opacity: 0.9;
}
button.delete-button {
  padding: 3px, 3px;
}
td.original {
  color: gray;
  text-align: right;
}
</style>
