<template>
  <div>
    <div>
      <h1 class="title">Configuración aplicador</h1>
      <div class="box">
        <b-field label="Empresa" horizontal>
          <b-select v-model="empresa">
            <option :value="null">Seleccione</option>
            <option v-for="v in empresas" :value="v.ID" :key="v.ID">{{
              v.Nombre
            }}</option>
          </b-select>
        </b-field>
        <b-button @click="nueva()">Nueva</b-button>
      </div>
      <div v-if="cc && !cc.length && dirty">
        No se encontraron resultados
      </div>

      <tabla>
        <th>Nombre</th>
        <th>Cuentas</th>
        <th>Grupos</th>
        <tbody>
          <tr
            v-for="v in cc"
            :key="v.ID"
            class="link"
            @click="profundizar(v.ID)"
          >
            <td>{{ v.Nombre }}</td>
            <td>{{ cuentas(v) }}</td>
            <td>{{ v.GruposCuentas }}</td>
            <!-- <td>{{ grupos(v) }}</td> -->
          </tr>
        </tbody>
      </tabla>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import axios from "axios";
import eventBus from "@/eventBus";
import { Config } from "@/interfaces/aplicador";
import { Empresa } from "@/interfaces/empresas";
import {updateQuery} from "@/modules/routeUtil"
export default Vue.extend({
  data() {
    return {
      cc: [] as Config[],
      dirty: false as boolean,
      empresa: null as string | null
    };
  },
  created() {
	document.title = "Aplicador configuraciones"
    if (this.$route.query.empresa) {
      this.empresa = this.$route.query.empresa as string;
    }
    if (!this.empresa) {
      let emp = this.$store.getters["empresas/seleccionada"];
      if (emp) {
        this.empresa = emp.ID;
      }
    }
    this.actualizar();
  },
  methods: {
    actualizar() {
      axios
        .post("/backend/aplicador_config/many", { Empresa: this.empresa })
        .then(res => {
          this.cc = res.data;
          this.dirty = true;
        })
        .catch(err => {
          eventBus.$emit("error", err);
        });
    },
    nueva() {
      this.$router.push({ name: "aplicadorConfig" });
    },
    cuentas(cfg: Config): string {
      let vv: string[] = [];
      if (!cfg.Cuentas) {
        return "";
      }
      for (let v of cfg.Cuentas) {
        vv.push(this.nombreCuenta(v));
      }
      return vv.join(", ");
    },
    nombreCuenta(id: string): string {
      if (id == "0") {
        return "-";
      }
      let cta = this.$store.getters["cuentas/porID"](id);
      if (!cta) {
        return id;
      }
      return cta.Nombre;
    },
    profundizar(id: string) {
      this.$router.push({ name: "aplicadorConfig", query: { id: id } });
    }
  },
  computed: {
    empresas(): Empresa[] {
      return this.$store.getters["empresas/permitidas"];
    }
  },
  watch: {
    empresa() {
      this.actualizar();
			updateQuery({empresa: this.empresa}, this)
    }
  }
});
</script>
