<template>
  <div>
    <h1 class="title">{{ titulo }}</h1>
    <div class="box">
      <b-field label="Empresa" label-position="on-border">
        <b-select v-model="cfg.Empresa">
          <option :value="null">Seleccione</option>
          <option v-for="v in empresas" :value="v.ID" :key="v.ID">
            {{ v.Nombre }}
          </option>
        </b-select>
      </b-field>

      <b-field label="Nombre">
        <b-input v-model="cfg.Nombre"></b-input>
      </b-field>

      <b-field label="Comprobante">
        <b-select v-model="cfg.Comp">
          <option :value="null">Seleccione</option>
          <option v-for="v in comprobantes" :value="v.ID" :key="v.ID">
            {{ v.Nombre }}(PV: {{ v.PuntoDeVenta }})
          </option>
        </b-select>
      </b-field>

      <b-field label="Cuentas" v-if="cuentas">
        <multiselect
          :options="cuentas"
          v-model="cfg.Cuentas"
          mode="tags"
          valueProp="ID"
          label="Nombre"
        >
        </multiselect>
      </b-field>
      <b-field label="Grupos de cuentas" v-if="grupos">
        <multiselect
          :options="grupos"
          v-model="cfg.GruposCuentas"
          mode="tags"
          valueProp="ID"
          label="Nombre"
        >
        </multiselect>
      </b-field>
      <b-field horizontal>
        <b-checkbox v-model="cfg.AgruparPartidas"
          >¿Agrupar partidas por comprobante?</b-checkbox
        >
      </b-field>
      <b-field horizontal>
        <b-checkbox v-model="cfg.SugerirFecha"
          >¿Sugerir fecha del día?</b-checkbox
        >
      </b-field>

      <b-field horizontal>
        <b-checkbox v-model="cfg.PorFechaVto">
          ¿Utilizar fecha de vencimiento para filtrar?
        </b-checkbox>
      </b-field>

      <b-field horizontal>
        <b-checkbox v-model="cfg.PorPersona">¿Por persona?</b-checkbox>
      </b-field>

      <b-button @click="aceptar()" class="is-primary">Aceptar</b-button>
      <b-button @click="cancelar()">Cancelar</b-button>
    </div>
    <b-loading
      is-full-page
      :active="cargando != 0"
      :can-cancel="true"
    ></b-loading>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import axios from "axios";
import { Config } from "@/interfaces/aplicador";
import { Cuenta, Grupo } from "@/interfaces/cuentas";
import { Empresa } from "@/interfaces/empresas";
import eventBus from "@/eventBus";
import { Comp } from "@/interfaces/comps";
export default Vue.extend({
  data() {
    return {
      cfg: {} as Config,
      grupos: [] as Grupo[],

      comprobantes: [] as Comp[],
      cargando: 0 as number,
    };
  },
  created() {
    document.title = "Aplicador config";
    this.cargando++;
    // Grupos
    axios
      .post("/backend/cuentasgrupos/many", {})
      .then((res) => {
        this.grupos = res.data;
        this.cargando--;
      })
      .catch((err) => {
        eventBus.$emit("error", err);
        this.cargando--;
      });

    //
    if (!this.esNuevo) {
      this.cargando++;
      axios
        .post("/backend/aplicador_config/one", { ID: this.$route.query.id })
        .then((res) => {
          this.cfg = res.data;
          this.cargando--;
        })
        .catch((err) => {
          eventBus.$emit("error", err);
          this.cargando--;
        });
    }

    // Traigo comprobantes
    this.cargando++;
    axios
      .get("/backend/comprobantes", { params: { Empresa: this.cfg.Empresa } })
      .then((res) => {
        if (res.data) {
          res.data.sort((a: Comp, b: Comp) => {
            return new Intl.Collator("ar").compare(a.Nombre, b.Nombre);
          });
        }
        this.comprobantes = res.data;
        this.cargando--;
      })
      .catch((err) => {
        eventBus.$emit("error", err);
        this.cargando--;
      });
  },
  methods: {
    aceptar() {
      if (this.esNuevo) {
        axios
          .post("/backend/aplicador_config/create", this.cfg)
          .then((res) => {
            this.$router.go(-1);
          })
          .catch((err) => {
            eventBus.$emit("error", err);
          });
      } else {
        axios
          .post("/backend/aplicador_config/update", this.cfg)
          .then((res) => {
            this.cancelar();
          })
          .catch((err) => {
            eventBus.$emit("error", err);
          });
      }
    },
    cancelar() {
      this.$router.push({ name: "aplicadorConfigs" });
    },
  },
  computed: {
    esNuevo(): boolean {
      if (this.$route.query.id) {
        return false;
      }
      return true;
    },

    titulo(): string {
      if (this.esNuevo) {
        return "Nueva configuración de aplicador";
      }
      return "Modificar configuración de aplicador";
    },

    empresas(): Empresa[] {
      return this.$store.getters["empresas/permitidas"];
    },

    cuentas(): Cuenta[] {
      let ctas: Cuenta[] = this.$store.getters["cuentas/todas"]();
      let out = ctas.filter((x) => x.UsaAplicaciones);
      out.sort((a, b) => {
        return new Intl.Collator("ar").compare(a.Nombre, b.Nombre);
      });
      return out;
    },
  },
});
</script>
