<template>
  <div>
    <div class="titulo-de-pantalla">
      <h1>Cajas</h1>
      <puntitos :id="'puntitos-cajas'" :size="35">
        <ul>
          <li @click="$router.push({ name: 'caja' })">Nueva caja</li>
        </ul>
      </puntitos>
    </div>

    <tabla v-if="cajas.length > 0">
      <thead>
        <th>ID</th>
        <th>Nombre</th>
      </thead>
      <tbody>
        <tr
          v-for="v in cajas"
          v-bind:key="v.ID"
          class="link"
          @click="profundizar(v.ID)"
        >
          <td>{{ v.ID }}</td>
          <td>{{ v.Nombre }}</td>
        </tr>
      </tbody>
    </tabla>

    <div v-else>No se ha encontrado ninguna caja</div>
  </div>
</template>
<script>
import axios from "axios";
import eventBus from "@/eventBus.ts";
import Puntitos from "@/components/widgets/Puntitos";
export default {
  components: {
    Puntitos,
  },
  data() {
    return {
      cajas: [],
    };
  },
  created() {
    document.title = "Cajas";
    this.actualizar();
  },
  methods: {
    actualizar() {
      axios
        .get("/backend/cajas")
        .then((res) => {
          this.cajas = res.data;
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        });
    },
    profundizar(id) {
      this.$router.push({ name: "caja", query: { id: id } });
    },
  },
};
</script>
