<template>
  <div>
    <h1 class="title">Caja</h1>
    <div class="box">
      <b-field label="ID">
        <b-input v-model="item.ID" type="number" disabled> </b-input>
      </b-field>
      <b-field label="Nombre">
        <b-input v-model="item.Nombre"> </b-input>
      </b-field>
      <b-field label="">
        <b-checkbox v-model="item.AceptaSaldoNegativo">
          ¿Acepta saldo negativo?</b-checkbox
        >
      </b-field>
      <b-field label="Otras cuentas a incluir en resumen de caja">
        <multiselect
          :options="cuentas"
          v-model="item.OtrasCuentas"
          mode="tags"
          valueProp="ID"
          label="Nombre"
        >
        </multiselect>
      </b-field>
      <div class="botonera">
        <b-button class="is-primary button" @click="guardar()"
          >Guardar</b-button
        >
        <b-button class="is-danger button" @click="borrar()" v-if="!esNuevo"
          >Eliminar</b-button
        >
        <b-button class="button" @click="$router.go(-1)">Volver</b-button>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import axios from "axios";
import eventBus from "@/eventBus";
export default Vue.extend({
  data() {
    return {
      item: {
        ID: null as null | string,
        Nombre: "",
        AceptaSaldoNegativo: false,
        OtrasCuentas: [],
      },
      cargando: 0 as number,
    };
  },
  created() {
    document.title = "Caja";
    if (!this.esNuevo) {
      this.fetch();
    }
  },
  methods: {
    guardar() {
      if (this.esNuevo) {
        this.guardarNuevo();
      } else {
        this.guardarCambios();
      }
    },
    guardarNuevo() {
      this.item.ID = "0";
      axios
        .post("/backend/cajas", this.item)
        .then(() => {
          this.$router.go(-1);
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        });
    },
    guardarCambios() {
      axios
        .put("/backend/cajas", this.item)
        .then(() => {
          this.$router.go(-1);
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        });
    },
    fetch() {
      this.cargando++;
      axios
        .get(`/backend/cajas/${this.$route.query.id}`)
        .then((res) => {
          this.item = res.data;
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },
    borrar() {
      this.$buefy.dialog.confirm({
        message:
          "¿Está seguro que desea <strong>borrar</strong> la caja seleccionada?",
        confirmText: "Aceptar",
        cancelText: "Cancelar",
        type: "is-danger",
        hasIcon: true,
        onConfirm: () => {
          axios
            .delete(`/backend/cajas/${this.item.ID}`)
            .then(() => {
              this.$router.go(-1);
            })
            .catch((err) => {
              eventBus.$emit("error", err);
            });
        },
      });
    },
  },
  computed: {
    esNuevo() {
      if (!this.$route.query.id) {
        return true;
      }
      return false;
    },
    cuentas() {
      return this.$store.getters["cuentas/imputables"];
    },
  },
});
</script>
