<template>
  <div>
    <h1 class="title">Resumen de caja</h1>
    <div class="box">
      <div class="columns">
        <div class="column">
          <b-field label="Empresa" horizontal>
            <b-select v-model="empresa" expanded>
              <option :value="null">Todas</option>
              <option v-for="v in empresas" :value="v.ID" :key="v.ID">
                {{ v.Nombre }}
              </option>
            </b-select>
          </b-field>
          <b-field label="Caja" horizontal>
            <multiselect
              :options="cajas"
              v-model="cajasSeleccionadas"
              mode="tags"
              valueProp="ID"
              label="Nombre"
            />
          </b-field>
        </div>

        <div class="column">
          <b-field label="Desde" horizontal>
            <b-input type="date" v-model="desde" />
          </b-field>
          <b-field label="Hasta" horizontal>
            <b-input type="date" v-model="hasta" />
          </b-field>
        </div>
        <div class="column is-narrow">
          <b-button class="is-primary" @click="actualizar()"
            >Actualizar</b-button
          >
        </div>
      </div>
    </div>
    <div v-if="saldos" class="block">
      <h1 class="title is-4">Resumen</h1>
      <tabla v-if="haySaldos">
        <thead>
          <th align="center">Valor</th>
          <th align="center">Saldo inicio</th>
          <th align="center">Entradas</th>
          <th align="center">Salidas</th>
          <th align="center">Saldo final</th>
          <th></th>
        </thead>
        <tbody v-for="(saldosPorMoneda, moneda) in saldos">
          <tr class="titulo-moneda">
            <td>{{ nombreMoneda(moneda) }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr
            v-for="v in saldosPorMoneda"
            :key="v.Cuenta"
            class="link"
            @click="filtrarMovimientos(v.Cuenta, moneda)"
          >
            <td class="saldos-moneda">{{ cuentaAlias(v.Cuenta) }}</td>
            <td align="right">{{ inicio(v, moneda) | enPesos }}</td>
            <td align="right">{{ entradas(v, moneda) | enPesos }}</td>
            <td align="right">{{ salidas(v, moneda) | enPesos }}</td>
            <td align="right">
              {{ final(v, moneda) | enPesos }}
            </td>
            <td class="lupita">
              <b-button
                v-if="tieneApertura(v.Cuenta)"
                @click.stop="profundizarApertura(v.Cuenta)"
                icon-left="magnify"
                class="lupita"
              />
            </td>
          </tr>
          <tr class="total-moneda">
            <td align="right">Total {{ simboloMoneda(moneda) }}</td>
            <td align="right">{{ totalInicio(moneda) | enPesos }}</td>
            <td align="right">{{ totalEntradas(moneda) | enPesos }}</td>
            <td align="right">{{ totalSalidas(moneda) | enPesos }}</td>
            <td align="right">{{ totalFinal(moneda) | enPesos }}</td>
          </tr>
        </tbody>
      </tabla>
      <div v-else>No hay ningún saldo.</div>
    </div>

    <div v-if="movimientos">
      <h2 class="title is-4">Movimientos</h2>
      <b-field v-if="movimientos && movimientos.length">
        <b-checkbox v-model="agrupado">¿Agrupar?</b-checkbox>
      </b-field>
      <div v-if="cuenta">
        Mostrando solamente cuenta
        <b-tag
          type="is-primary"
          closable
          @close="cuenta = null"
          aria-close-label="Quitar filtro"
          >{{ cuentaNombre(cuenta) }}</b-tag
        >
      </div>
      <tabla class="micro fixed" v-if="movimientos && movimientos.length">
        <thead>
          <th>Fecha</th>
          <th>Comprobante</th>
          <th>Número</th>
          <th>Cuenta</th>
          <th>Debe</th>
          <th>Haber</th>
          <th>Saldo</th>
          <th>Detalle</th>
          <th>Registro</th>
        </thead>
        <tbody>
          <tr>
            <td />
            <td />
            <td />
            <td />
            <td />
            <td />
            <td align="right">{{ saldoAnterior | enPesos }}</td>
            <td align="left">Saldo anterior</td>
            <td align="right"></td>
          </tr>
          <tr v-for="v in movimientos" :key="v.ID + v.Cuenta">
            <td style="width=500px">{{ v.Fecha | enFecha }}</td>
            <td class="un-renglon">{{ v.Comp }}</td>
            <td class="un-renglon">
              <a @click="profundizar(v)">{{ v.NComp }}</a>
            </td>
            <td class="un-renglon">{{ cuentaAlias(v.Cuenta) }}</td>
            <td align="right">{{ monto(v) | debe }}</td>
            <td align="right">{{ monto(v) | haber }}</td>
            <td align="right">{{ saldo(v) | enPesos }}</td>
            <td class="detalle">{{ v.Detalle }}</td>
            <td align="right">{{ hora(v) }}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td colspan="3" align="right">Totales</td>
            <td align="right"></td>
            <td align="right"></td>
            <td></td>
            <td></td>
            <td></td>
            <!-- <td align="right">{{ (totalDebe - totalHaber) | enPesos }}</td> -->
          </tr>
        </tfoot>
      </tabla>
      <div v-else>No hay ningún movimiento.</div>
    </div>

    <b-loading
      is-full-page
      :active="cargando != 0"
      :can-cancel="true"
    ></b-loading>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import axios from "axios";
import { hoy } from "@/modules/util/fechas";
import { format } from "date-fns";
import eventBus from "@/eventBus";
import AperturaUnicidades from "@/modules/unicidades/components/AperturaUnicidades.vue";
import { Caja } from "@/interfaces/resumenDeCaja";
import { Empresa } from "@/interfaces/empresas";
import { Cuenta } from "@/interfaces/cuentas";
import { Resumen, Mov } from "./resumen";
import { updateQuery } from "@/modules/routeUtil";
import { enHora, enFechaHora } from "@/modules/util/format";
export default Vue.extend({
  data() {
    return {
      // Params
      empresa: null as null | string,
      cajasSeleccionadas: [] as string[],
      cuenta: null as null | string,
      moneda: null as null | string,
      desde: null as null | string,
      hasta: null as null | string,
      agrupado: true as boolean,

      // Responses
      saldos: null as Record<string, Resumen[]> | null,
      totales: null as Record<string, Resumen> | null,
      movimientos: null as Mov[] | null,

      // Internal
      ts: null,
      cargando: 0 as number,
    };
  },
  created() {
    document.title = "Caja";
    this.parseQuery();
    if (this.cajasSeleccionadas.length) {
      this.actualizar();
    }
  },
  methods: {
    actualizar() {
      let req = {} as any;
      req.Empresa = this.empresa;
      req.Cajas = this.cajasSeleccionadas;
      req.Desde = this.desde;
      req.Hasta = this.hasta;
      req.Cuenta = this.cuenta;
      req.Moneda = this.moneda;
      req.Agrupado = this.agrupado;
      this.fectch(req);
      this.updateQuery();
    },
    fectch(req: any) {
      this.cargando++;
      axios
        .post("backend/contables/resumen_de_caja", req)
        .then((res) => {
          for (const k in res.data.Saldos) {
            for (const v of res.data.Saldos[k]) {
              v.Nombre = this.cuentaAlias(v.Cuenta);
            }
            res.data.Saldos[k].sort((a: Resumen, b: Resumen) => {
              return new Intl.Collator("ar").compare(a.Nombre, b.Nombre);
            });
          }
          this.saldos = res.data.Saldos;
          this.totales = res.data.Totales;
          this.movimientos = res.data.Movs;
        })
        .catch((err) => eventBus.$emit("error", err))
        .finally(() => this.cargando--);
    },
    filtrarMovimientos(cuenta: string, moneda: string) {
      this.cuenta = cuenta;
      this.moneda = moneda;
    },
    tieneApertura(id: string): boolean {
      let cta: Cuenta = this.$store.getters["cuentas/porID"](id);
      if (!cta) {
        return false;
      }
      return cta.AperturaUnicidad;
    },
    profundizarApertura(id: string) {
      this.cargando++;
      axios
        .post("/backend/unicidadescont/apertura_por_monto", {
          Empresa: this.empresa,
          Cajas: this.cajasSeleccionadas,
          Cuenta: id,
        })
        .then((res) => {
          this.$buefy.modal.open({
            parent: this,
            component: AperturaUnicidades,
            trapFocus: true,
            hasModalCard: true,
            fullScreen: true,
            scroll: "clip",
            props: {
              bus: new Vue(),
              seleccionar: false,
              unicidades: res.data,
              cuentaProp: id,
            },
          });
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },
    cuentaNombre(id: string): string {
      if (!id) {
        return "";
      }
      let cta = this.$store.getters["cuentas/porID"](id);
      if (cta) {
        return cta.Nombre;
      }
      return id;
    },
    cuentaAlias(id: string): string {
      if (!id) {
        return "";
      }
      let cta = this.$store.getters["cuentas/porID"](id);
      if (cta) {
        return cta.Alias;
      }
      return id;
    },
    monedaBase(moneda: string | null): boolean {
      if (moneda == "0" || !moneda) {
        return true;
      }
      return false;
    },
    inicio(r: Resumen, moneda: string): number {
      if (this.monedaBase(moneda)) {
        return r.Inicio;
      }
      return r.InicioOrig;
    },
    entradas(r: Resumen, moneda: string): number {
      if (this.monedaBase(moneda)) {
        return r.Entradas;
      }
      return r.EntradasOrig;
    },
    salidas(r: Resumen, moneda: string): number {
      if (this.monedaBase(moneda)) {
        return r.Salidas;
      }
      return r.SalidasOrig;
    },
    final(r: Resumen, moneda: string): number {
      if (this.monedaBase(moneda)) {
        return r.Final;
      }
      return r.FinalOrig;
    },
    totalInicio(moneda: string): number {
      if (!this.totales) {
        return NaN;
      }
      if (this.monedaBase(moneda)) {
        return this.totales[moneda].Inicio;
      }
      return this.totales[moneda].InicioOrig;
    },
    totalEntradas(moneda: string): number {
      if (!this.totales) {
        return NaN;
      }
      if (this.monedaBase(moneda)) {
        return this.totales[moneda].Entradas;
      }
      return this.totales[moneda].EntradasOrig;
    },
    totalSalidas(moneda: string): number {
      if (!this.totales) {
        return NaN;
      }
      if (this.monedaBase(moneda)) {
        return this.totales[moneda].Salidas;
      }
      return this.totales[moneda].SalidasOrig;
    },
    totalFinal(moneda: string): number {
      if (!this.totales) {
        return NaN;
      }
      if (this.monedaBase(moneda)) {
        return this.totales[moneda].Final;
      }
      return this.totales[moneda].FinalOrig;
    },
    monto(mov: Mov): number {
      if (this.monedaBase(mov.Moneda)) {
        return mov.Monto;
      }
      return mov.MontoOrig;
    },
    saldo(mov: Mov): number {
      if (this.monedaBase(mov.Moneda)) {
        return mov.Saldo;
      }
      return mov.SaldoOrig;
    },
    nombreMoneda(moneda: string): string {
      if (moneda == "0") {
        return "Pesos";
      }
      const mon = this.$store.getters["monedas/porID"](moneda);
      if (!mon) {
        return "";
      }
      return `${mon.NombrePlural}`;
    },
    simboloMoneda(moneda: string): string {
      if (this.monedaBase(moneda)) {
        return "$";
      }
      const mon = this.$store.getters["monedas/porID"](moneda);
      if (!mon) {
        return "";
      }
      return `${mon.Simbolo}`;
    },
    hora(mov: Mov): string {
      if (mov.Fecha.substring(0, 10) == mov.TS.substring(0, 10)) {
        return enHora(mov.TS);
      } else {
        return enFechaHora(mov.TS);
      }
    },
    limpiar() {
      // Borra los datos
      this.saldos = null;
      this.movimientos = null;
      this.totales = null;
    },
    parseQuery() {
      // Empresa
      if ("empresa" in this.$route.query) {
        this.empresa = this.$route.query.empresa as string;
      } else {
        let emp = this.$store.getters["empresas/seleccionada"];
        if (emp) {
          this.empresa = emp.ID;
        }
      }

      // Cajas
      if ("cajas" in this.$route.query) {
        this.cajasSeleccionadas = String(this.$route.query.cajas).split(",");
      }

      // Desde
      if ("desde" in this.$route.query) {
        this.desde = this.$route.query.desde as string;
      } else {
        this.desde = format(hoy(), "yyyy-MM-dd");
      }

      // Hasta
      if ("hasta" in this.$route.query) {
        this.hasta = this.$route.query.hasta as string;
      } else {
        this.hasta = format(hoy(), "yyyy-MM-dd");
      }

      // Cuenta
      if ("cuenta" in this.$route.query) {
        this.cuenta = this.$route.query.cuenta as string;
      }

      // Moneda
      if ("moneda" in this.$route.query) {
        this.moneda= this.$route.query.moneda as string;
      }
    },
    updateQuery() {
      // Graba los parámetros de la pantalla en la query

      let query = {} as any;
      // Empresa
      if (this.empresa) {
        query.empresa = this.empresa;
      }

      // Cajas
      if (this.cajasSeleccionadas && this.cajasSeleccionadas.length) {
        query.cajas = this.cajasSeleccionadas;
      }

      // Desde
      if (this.desde) {
        query.desde = this.desde;
      }

      // Hasta
      if (this.hasta) {
        query.hasta = this.hasta;
      }

      // Cuenta
      if (this.cuenta) {
        query.cuenta = this.cuenta;
      }

      // Moneda
      if (this.moneda) {
        query.moneda = this.moneda;
      }

      updateQuery(query, this);
    },
    profundizar(v: Mov) {
      const obj: any = {
        name: "mostrarComprobante",
        query: {},
      };
      if (this.agrupado) {
        obj.query = { op: v.ID };
      } else {
        obj.query = { partida: v.ID };
      }
      this.$router.push(obj);
    },
  },
  watch: {
    empresa(nueva, anterior) {
      if (nueva != anterior) {
        this.limpiar();
      }
    },
    cajasSeleccionadas(nueva, anterior) {
      if (nueva != anterior) {
        this.limpiar();
      }
    },
    desde(nueva, anterior) {
      if (nueva != anterior) {
        this.limpiar();
      }
    },
    hasta(nueva, anterior) {
      if (nueva != anterior) {
        this.limpiar();
      }
    },
    cuenta(nueva, anterior) {
      if (nueva != anterior) {
        this.actualizar();
      }
    },
    agrupado(nueva, anterior) {
      if (nueva != anterior) {
        this.actualizar();
      }
    },
  },
  computed: {
    empresas(): Empresa[] {
      return this.$store.getters["empresas/permitidas"];
    },
    cajas(): Caja[] {
      return this.$store.getters["cajas/permitidas"];
    },
    saldoAnterior(): number {
      if (!this.saldos) {
        return 0;
      }
      let sum = 0;
      for (const [k, arr] of Object.entries(this.saldos)) {
        for (const v of arr) {
          if (this.moneda && this.moneda != k) {
            continue;
          }
          if (this.cuenta && this.cuenta != v.Cuenta) {
            continue;
          }
          if (this.monedaBase(this.moneda)) {
            sum += v.Inicio;
          } else {
            sum += v.InicioOrig;
          }
        }
      }
      return sum;
    },
    haySaldos(): boolean {
	  if (!this.saldos) {
		return false
	  }
      const monedas = Object.keys(this.saldos);
      if (monedas.length > 0) {
        return true;
      }
      return false;
    },
  },
});
</script>

<style lang="scss" scoped>
@import "@/assets/variables";
td.lupita {
  padding-top: 0;
  padding-bottom: 0;
}
tr.titulo-moneda {
  font-weight: bolder;
  background-color: $grey-lighter;
  &:hover {
    background-color: $grey-lighter;
  }
}
tr.total-moneda {
  font-weight: bolder;
}
td.saldos-moneda {
  padding-left: 2em;
}
button.lupita {
  height: 1.9em;
  width: 1.5em;
  background-color: adjust-color($turquoise, $alpha: -0.7);
  margin-top: 0.15em;
}
</style>
