<template>
  <div class="modal-card">
    <header class="modal-card-head">
      <h1 class="modal-card-title">{{ titulo }}</h1>
    </header>
    <section class="modal-card-body">
      <tabla>
        <thead>
          <th
            v-for="v in columnasIndexadas"
            :key="v"
            @click="ordenarIndexada(v)"
            class="link"
          >
            {{ v }}
          </th>
          <th v-for="v in columnas" :key="v" @click="ordenar(v)" class="link">
            {{ v }}
          </th>
          <th align="right">Saldo</th>
          <th v-if="seleccionar">Selección</th>
        </thead>
        <tbody>
          <tr v-for="v in uu" :key="v.ID" class="link" @click="profundizar(v)">
            <!-- @click="profundizar(v.ID)" -->
            <td
              v-for="col in columnasIndexadas"
              :key="col"
              :align="alineacion(col)"
            >
              <span v-if="tipoColumna(col) == 'd2' && v.AttsIndexados">
                {{ v.AttsIndexados[col] | enPesos }}
              </span>
              <span v-if="tipoColumna(col) == 'fecha' && v.AttsIndexados">
                {{ v.AttsIndexados[col] | enFecha }}
              </span>
              <span v-if="tipoColumna(col) == 'bool' && v.AttsIndexados">
                {{ v.AttsIndexados[col] | siNo }}
              </span>
              <span v-if="tipoColumna(col) == 'int' && v.AttsIndexados">
                {{ v.AttsIndexados[col] | enteros }}
              </span>
              <span v-if="tipoColumna(col) == 'string' && v.AttsIndexados">
                {{ v.AttsIndexados[col] }}
              </span>
            </td>

            <td v-for="col in columnas" :key="col" :align="alineacion(col)">
              <span v-if="tipoColumna(col) == 'd2' && v.Atts">
                {{ v.Atts[col] | enPesos }}
              </span>
              <span v-if="tipoColumna(col) == 'fecha' && v.Atts">
                {{ v.Atts[col] | enFecha }}
              </span>
              <span v-if="tipoColumna(col) == 'bool' && v.Atts">
                {{ v.Atts[col] | siNo }}
              </span>
              <span v-if="tipoColumna(col) == 'int' && v.Atts">
                {{ v.Atts[col] | enteros }}
              </span>
              <span v-if="tipoColumna(col) == 'string' && v.Atts">
                {{ v.Atts[col] }}
              </span>
            </td>

            <td align="right">{{ v.Saldo | enPesos }}</td>
            <td v-if="seleccionar" align="center">
              <b-checkbox v-model="v.Seleccionado"></b-checkbox>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <td v-for="v in columnas" :key="v"></td>
          <td v-for="v in columnasIndexadas" :key="v"></td>
          <td align="right">Total {{ totalSaldo | enPesos }}</td>
          <td v-if="seleccionar" align="center">
            <b-checkbox v-model="seleccionarTodos"></b-checkbox>
          </td>
        </tfoot>
      </tabla>
    </section>
    <footer class="modal-card-foot">
      <div v-if="seleccionar">
        <p>
          Se seleccionaron <strong>{{ cantidadSeleccionada }} </strong> items
          por un monto de
          <strong>{{ montoSeleccionado | enPesos }} </strong>
          <b-button class="is-primary" @click="aceptar()">Aceptar</b-button>
        </p>
      </div>
      <div v-else class="is-flex is-justify-content-space-between">
        <b-button class="is-primary" @click="cerrar()">Volver</b-button>
        <tabla>
          <tr>
            <td align="right">Cantidad</td>
            <td align="right">{{ totalCantidad | enteros }}</td>
          </tr>
          <tr>
            <td align="right">Monto total</td>
            <td align="right">
              <strong> {{ totalSaldo | enPesos }}</strong>
            </td>
          </tr>
        </tabla>
      </div>
    </footer>
    <b-loading is-full-page :active.sync="cargando"></b-loading>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import axios from "axios";
import eventBus from "@/eventBus";
import { UnicidadConSaldo } from "../unicidades";
import { UnicidadDef } from "@/modules/unicidadesdef/def";
import ComprobantesPorUnicidad from "./ComprobantesPorUnicidad.vue";
import { Caja } from "@/modules/cajas/cajas";
import { Empresa } from "@/interfaces/empresas";

export default Vue.extend({
  props: {
    seleccionar: {
      type: Boolean
    },
    bus: {
      type: Object
    },
    unicidades: {
      type: Array as () => Array<UnicidadConSaldo>
    },
    cuentaProp: {
      type: String
    },
    // Map que contiene los IDs seleccionados con sus montos
    selecciones: {
      type: Map
    }
  },
  data() {
    return {
      empresa: null as null | string,
      caja: null as null | string,
      cuenta: "" as string,
      desde: null as null | string,
      hasta: null as null | string,

      def: null as UnicidadDef | null,
      tipos: {} as any,
      alineaciones: {} as any,
      uu: [] as UnicidadConSaldo[],

      seleccionarTodos: false,
      clean: true,
      cargando: false as boolean
    };
  },
  created() {
    if (this.unicidades) {
      // Copio props
      for (let v of this.unicidades) {
        this.uu.push(Object.assign({ Seleccionado: false }, v));
      }
      this.cuenta = this.cuentaProp;

      // Había selecciones?
      if (this.selecciones) {
        for (let i in this.uu) {
          let found = this.selecciones.get(this.uu[i].ID);
          if (!found) {
            continue;
          }
          this.uu[i].Seleccionado = true;
        }
      }
    } else {
      if (this.$route.query.cuenta) {
        this.cuenta = this.$route.query.cuenta as string;
      }
      if (this.$route.query.empresa) {
        this.empresa = this.$route.query.empresa as string;
      }
      if (this.$route.query.caja) {
        this.caja = this.$route.query.caja as string;
      }
      this.actualizar();
    }
    // Traigo la definición del tipo de unicidad
    let cta = this.$store.getters["cuentas/porID"](this.cuenta);
    if (!cta) {
      eventBus.$emit(
        "error",
        Error(
          "no se pudo encontrar la definición de unicidad " + cta.TipoUnicidad
        )
      );
    }
    this.def = this.$store.getters["unicidadesdef/porID"](cta.TipoUnicidad);
    if (!this.def) {
      eventBus.$emit(
        "error",
        Error(
          "no se pudo encontrar la definición de unicidad " + cta.TipoUnicidad
        )
      );
      return [];
    }
    // Guardo un cache de los tipos de cada att
    if (this.def.AttsIndexados) {
      for (let v of this.def.AttsIndexados) {
        this.tipos[v.Nombre] = v.Type;
        if (v.Type == "int" || v.Type == "d2") {
          this.alineaciones[v.Nombre] = "right";
        } else {
          this.alineaciones[v.Nombre] = "left";
        }
      }
    }
    if (this.def.Atts) {
      for (let v of this.def.Atts) {
        this.tipos[v.Nombre] = v.Type;
        if (v.Type == "int" || v.Type == "d2" || v.Type == "fecha ") {
          this.alineaciones[v.Nombre] = "right";
        } else {
          this.alineaciones[v.Nombre] = "left";
        }
      }
    }
  },
  methods: {
    actualizar() {
      this.cargando = true;
      axios
        .post("/backend/unicidadescont/apertura_por_monto", {
          Cuenta: this.cuenta,
          Empresa: this.empresa,
          Caja: this.caja
        })
        .then(res => {
          for (let i in res.data) {
            res.data[i].Seleccionado = false;
          }
          this.uu = res.data;
          this.cargando = false;
        })
        .catch(err => {
          eventBus.$emit("error", err);
          this.cargando = false;
        });
    },
    // Muestra los comprobantes que tocan esta unicidad
    profundizar(v: UnicidadConSaldo) {
      if (!v) {
        return;
      }
      if (this.seleccionar) {
        v.Seleccionado = !v.Seleccionado;
        return;
      }

      this.$buefy.modal.open({
        parent: this,
        component: ComprobantesPorUnicidad,
        trapFocus: true,
        hasModalCard: false,
        fullScreen: true,
        scroll: "clip",
        props: {
          idProp: v.ID
        }
      });
      // this.$router.push({ name: "comprobantesPorUnicidad", query: { id: id } });
    },
    aceptar() {
      let items = new Map();
      for (let v of this.uu) {
        if (!v.Seleccionado) {
          continue;
        }
        items.set(v.ID, v.Saldo);
      }
      this.bus.$emit("itemsSeleccionados", this.cuentaProp, items);
      this.cerrar();
    },
    cerrar() {
      (this.$parent as any).close();
    },
    cuentaNombre(id: string) {
      let cta = this.$store.getters["cuentas/porID"](id);
      if (cta) {
        return cta.Alias;
      }
      return id;
    },
    tipoColumna(nombre: string): string {
      return this.tipos[nombre];
    },
    alineacion(colName: string): string {
      return this.alineaciones[colName];
    },
    ordenarIndexada(columna: string) {
      if (this.tipos[columna] == "string") {
        this.uu.sort((a: UnicidadConSaldo, b: UnicidadConSaldo) => {
          return new Intl.Collator("ar").compare(
            a.AttsIndexados[columna],
            b.AttsIndexados[columna]
          );
        });
      }
    },
    ordenar(columna: string) {
      if (!this.uu) {
        return;
      }
      if (!this.tipos) {
        return;
      }
      if (this.tipos[columna] == "string") {
        console.log("Ordenando por string");
        this.uu = this.uu.sort((a, b) => {
          if (!a.Atts) {
            return -1;
          }
          if (!a.Atts[columna]) {
            return -1;
          }
          if (!b.Atts[columna]) {
            return -1;
          }
          return new Intl.Collator("ar").compare(
            a.Atts[columna],
            b.Atts[columna]
          );
        });
      } else {
        console.log("Ordenando por numero");
        this.uu = this.uu.sort((a: UnicidadConSaldo, b: UnicidadConSaldo) => {
          console.log(a);
          if (!a.Atts) {
            return 0;
          }
          if (a.Atts[columna] > b.Atts[columna]) {
            return 1;
          } else {
            return -1;
          }
        });
      }
    }
  },
  computed: {
    columnas(): string[] {
      if (!this.cuenta) {
        return [];
      }
      if (!this.def) {
        return [];
      }
      if (!this.def.Atts) {
        return [];
      }
      let out = [];
      for (let v of this.def.Atts) {
        out.push(v.Nombre);
      }
      return out;
    },
    columnasIndexadas(): string[] {
      if (!this.cuenta) {
        return [];
      }
      if (!this.def) {
        return [];
      }
      if (!this.def.AttsIndexados) {
        return [];
      }
      let out = [];
      for (let v of this.def.AttsIndexados) {
        out.push(v.Nombre);
      }
      return out;
    },
    totalSaldo(): number {
      let total = 0;
      for (let v of this.uu) {
        total += v.Saldo;
      }
      return total;
    },
    totalCantidad(): number {
      let total = 0;
      for (let v of this.uu) {
        total += 1;
      }
      return total;
    },
    cantidadSeleccionada(): number {
      let sum = 0;
      for (let i in this.uu) {
        if (this.uu[i].Seleccionado) {
          sum += 1;
        }
      }
      return sum;
    },
    montoSeleccionado(): number {
      let sum = 0;
      for (let i in this.uu) {
        if (this.uu[i].Seleccionado) {
          sum += this.uu[i].Saldo;
        }
      }
      return sum;
    },
    empresas(): Empresa[] {
      return this.$store.getters["empresas/permitidas"];
    },
    cajas(): Caja[] {
      return this.$store.getters["cajas/todas"];
    },
    titulo(): string {
      let cta = this.$store.getters["cuentas/porID"](this.cuenta);
      if (!cta) {
        return "CUENTA NO DETERMINADA";
      }

      return "Apertura " + cta.Nombre;
    }
  },
  watch: {
    seleccionarTodos(valor) {
      for (let i in this.uu) {
        this.uu[i].Seleccionado = valor;
      }
    }
  }
});
</script>
<style scoped>
div.modal-card-body {
  overflow-y: scroll;
}
</style>
