<template>
  <div class="modal-card" id="atributo-wrapper">
    <header class="modal-card-head">
      <h1 class="modal-card-title">
        {{ titulo }}
      </h1>
    </header>
    <section class="modal-card-body">
      <b-field label="Nombre del atributo">
        <b-input v-model="att.Nombre"></b-input>
      </b-field>
      <div>
        <b-field label="Tipo de dato">
          <b-select v-model="att.Type">
            <option value="string">Texto</option>
            <option value="bool">Si / No</option>
            <option value="fecha">Fecha</option>
            <option value="int">Numero entero</option>
            <option value="d2">Numero con dos decimales</option>
          </b-select>
        </b-field>
      </div>
      <b-field label="¿Obligatorio?">
        <b-checkbox v-model="att.Obligatorio" />
      </b-field>

      <b-field label="Orden del campo en el string">
        <b-input type="number" v-model.number="att.IncluirEnDetalle"></b-input>
      </b-field>

      <b-field label="Incluir key en el detalle">
        <b-checkbox v-model="att.IncluirKeyEnDetalle"> </b-checkbox>
      </b-field>

      <b-field label="Función sistémica">
        <b-select v-model="att.Funcion">
          <option value="">Niguna</option>
          <option value="fecha vto" v-if="att.Type == 'fecha'"
            >Fecha de vencimiento</option
          >
          <option value="monto" v-if="att.Type == 'd2'">Monto</option>
        </b-select>
      </b-field>
    </section>

    <footer class="modal-card-foot">
      <b-button @click="guardar()" class="button is-success">Guardar</b-button>
      <b-button @click="cerrar()">Cancelar</b-button>
      <b-button
        @click="borrar()"
        class="button is-danger"
        v-if="crud != 'nuevo'"
        >Borrar atributo</b-button
      >
    </footer>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  // Att ya es una copia
  props: ["att", "bus", "i", "crud", "indexado"],
  methods: {
    cerrar() {
      (this.$parent as any).close();
    },
    guardar() {
      if (!this.att.IncluirEnDetalle) {
        this.att.IncluirEnDetalle = 0;
      }
      if (this.crud == "nuevo") {
        if (this.indexado) {
          this.bus.$emit("atributoIndexadoCreado", this.att);
        } else {
          this.bus.$emit("atributoCreado", this.att);
        }
      } else {
        if (this.indexado) {
          this.bus.$emit("atributoIndexadoModificado", this.att, this.i);
        } else {
          this.bus.$emit("atributoModificado", this.att, this.i);
        }
      }
      this.cerrar();
    },
    borrar() {
      this.$buefy.dialog.confirm({
        title: "Borrar atributo",
        message: "¿Está seguro que desea <b>borrar</b> el atributo? ",
        confirmText: "Borrar",
        type: "is-danger",
        hasIcon: true,
        onConfirm: () => {
          if (this.indexado) {
            this.bus.$emit("atributoIndexadoEliminado", this.att, this.i);
          } else {
            this.bus.$emit("atributoEliminado", this.att, this.i);
          }
          this.cerrar();
        }
      });
    }
  },
  computed: {
    titulo(): string {
      if (this.crud == "nuevo") {
        return "Nuevo atributo";
      }
      return "Modificar atributo";
    }
  }
});
</script>
