<template>
  <div>
    <div class="box">
      <b-field horizontal label="Fecha">
        <b-input
          class="corto"
          v-model="cheque.Atts['Fecha emisión']"
          type="date"
          ref="fechaEmision"
        ></b-input>
        <!-- <b-datepicker
            v-model="cheque.FechaEmision"
            icon="calendar-today"
            editable
          >
          </b-datepicker> -->
      </b-field>
      <b-field horizontal label="Paguese el">
        <!-- <b-datepicker
            v-model="cheque.FechaDiferida"
            icon="calendar-today"
            editable
          >
          </b-datepicker> -->
        <b-input
          class="corto"
          v-model="cheque.Atts['Fecha diferida']"
          type="date"
        ></b-input>
        <p>{{ dias }}</p>
      </b-field>
    </div>

    <div class="box">
      <b-field horizontal label="Número">
        <b-input
          v-model.number="cheque.AttsIndexados['Número']"
          class="corto"
        ></b-input>
      </b-field>
      <b-field horizontal label="Banco">
        <b-field>
          <b-input
            v-model.number="cheque.Atts['Banco']"
            class="corto"
          ></b-input>
          <p class="control">{{ cheque.Atts["Nombre Banco"] }}</p>
        </b-field>
      </b-field>
      <b-field horizontal label="Sucursal">
        <b-input
          v-model.number="cheque.Atts['Sucursal']"
          class="corto"
        ></b-input>
      </b-field>
      <b-field horizontal label="CP">
        <b-field>
          <b-input v-model.number="cheque.Atts['CP']" class="corto"></b-input>
          <p>LAS ROSAS</p>
        </b-field>
      </b-field>
      <br />
      <b-field
        horizontal
        message="El CUIT del titular de la cuenta bancaria que emitió el cheque"
        label="CUIT"
        class="item"
      >
        <b-input
          v-model.number="cheque.Atts['CUIT Emisor']"
          class="corto"
        ></b-input>
      </b-field>
      <p>{{ cheque.Atts["Nombre emisor"] }}</p>
    </div>

    <div class="box">
      <b-field horizontal label="Monto">
        <b-field>
          <p class="control">
            <span class="button is-static">$</span>
          </p>
          <b-input v-model.number="cheque.AttsIndexados['Monto']"></b-input>
        </b-field>
      </b-field>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import axios from "axios";
import eventBus from "@/eventBus";
import { newDate, hoy } from "@/modules/util/fechas";
import { differenceInDays, isBefore } from "date-fns";
import { v4 as uuidv4 } from "uuid";
import { Unicidad } from "../unicidades";
import { UnicidadDef } from "@/modules/unicidadesdef/def";
import { Cuenta } from "@/interfaces/cuentas";
export default Vue.extend({
  props: {
    chequeIngresado: Object as () => Unicidad,
    definicion: {
      type: Object as () => UnicidadDef,
      required: true
    },
    cuenta: {
      type: Object as () => Cuenta,
      required: true
    },
    caja: {
      type: String
    },
    bus: {
      type: Object,
      required: true
    },
    index: Number, // Es el index que ingreso para informar cual se modificó
    fechaComp: String
  },
  data() {
    return {
      esNuevo: false as boolean,
      cheque: {} as Unicidad,
      bancos: [] as any[],
      cajaLocal: "" as string
    };
  },
  created() {
    // Cuando edito un valor por ejemplo, el usuario carga los datos utilizando
    // este componente.
    // El boton 'Aceptar' no está acá, sino en el componente Valor.
    // Entonces desde acá me entero que el usuario hizo click en guardar
    // cuando entra el evento 'terminado'.
    console.log("agregando hook 'terminado' en UnicidadDinamica");
    this.bus.$on("terminado", () => this.guardar());

    // Si es una modificacion
    if (this.chequeIngresado) {
      this.esNuevo = false;
      this.cheque = this.chequeIngresado;
      this.cajaLocal = this.caja;
    }

    // Si es un nuevo cheque
    if (!this.chequeIngresado) {
      this.esNuevo = true;
      this.cheque = {
        ID: uuidv4(),
        Definicion: this.definicion.ID,
        AttsIndexados: {},
        Atts: {},
				CreatedAt: null,
      };
      // Numero: null,
      // "Fecha Emision": null,
      // "Fecha diferida": null,
      // Banco: null,
      // CP: null,
      // Ciudad: null,
      // Sucursal: null
    }

    axios
      .post("/backend/bcra/bancos")
      .then(res => {
        this.bancos = res.data;
      })
      .catch(err => {
        eventBus.$emit("error", err);
      });
  },
  mounted() {
		if ((this.$refs as any).fechaEmision) {
			(this.$refs as any).fechaEmision.focus();
		}
  },
  methods: {
    guardar() {
      if (!this.cheque.Atts["Fecha emisión"]) {
        eventBus.$emit("error", Error("La fecha de emisión es obligatoria"));
        return;
      }
      if (
        isBefore(
          newDate(this.cheque.Atts["Fecha emisión"]),
          newDate("2000-01-01")
        )
      ) {
        eventBus.$emit(
          "error",
          Error("La fecha de emisión no puede ser anterior a 01/01/2020")
        );
        return;
      }

      if (!this.cheque.Atts["Fecha diferida"]) {
        eventBus.$emit("error", Error("La fecha diferida es obligatoria"));
        return;
      }
      if (
        isBefore(
          newDate(this.cheque.Atts["Fecha emisión"]),
          newDate("2000-01-01")
        )
      ) {
        eventBus.$emit(
          "error",
          Error("La fecha diferida no puede ser anterior a 01/01/2020")
        );
        return;
      }
      if (!this.cheque.AttsIndexados["Número"]) {
        eventBus.$emit("error", Error("El número de cheque es obligatorio"));
        return;
      }

      if (!this.cheque.AttsIndexados["Monto"]) {
        eventBus.$emit("error", Error("El monto del cheque es obligatorio"));
        return;
      }
      if (
        typeof this.cheque.AttsIndexados["Monto"] != "number" ||
        Number.isNaN(this.cheque.AttsIndexados["Monto"])
      ) {
        this.$buefy.dialog.alert({
          title: "Validación",
          hasIcon: true,
          message: "Debe ingresar un monto válido."
        });
        return;
      }

      (this.bus as any).$emit(
        "unicidadDinamicaOk",
        this.cheque,
        this.cajaLocal
      );
      this.cerrar();
    },
    cerrar() {
      (this.bus as any).$emit("chequeTerceroCerrar");
    }
  },
  computed: {
    titulo(): string {
      if (this.esNuevo) {
        return "Nuevo cheque de tercero";
      } else {
        return "Cheque de tercero";
      }
    },
    dias(): string {
      let leyenda = "";
      let desde = hoy();
      leyenda = "(contados desde hoy)";
      if (this.fechaComp) {
        desde = newDate(this.fechaComp);
        leyenda = "(contados desde la fecha del comprobante)";
      }
      console.log("Desde", desde);
      if (this.cheque.Atts["Fecha diferida"] == null) {
        return "-";
      }
      let diferida = newDate(this.cheque.Atts["Fecha diferida"]);
      return "Dias: " + differenceInDays(diferida, desde) + " " + leyenda;
    },
    cajas(): [] {
      return this.$store.getters["cajas/todas"];
    }
  },
  watch: {
    "cheque.Atts.Banco"(valor: number) {
      console.log("Cambió Banco");
      if (!this.cheque) {
        return;
      }
      if (valor > 0) {
        let found = this.bancos.find(item => item.ID == valor);
        if (!found) {
          this.cheque.Atts["Nombre Banco"] = "";
          return;
        }
        this.cheque.Atts["Nombre Banco"] = found.Nombre;
      }
    }
  }
});
</script>

<style lang="scss" scoped>
.corto {
  max-width: 10rem;
}
// footer {
//   align-items: right;
//   align-content: right;
// }
</style>
