<template>
  <div>
    <header class="modal-card-head">
      <h1 class="modal-card-title">Movimientos de {{ titulo }}</h1>
    </header>
    <section class="modal-card-body">
      <tabla>
        <thead>
          <th align="center">Fecha</th>
          <th>Comprobante</th>
          <th>Número</th>
          <th>Cuenta</th>
          <th v-if="mostrarCaja">Caja</th>
          <th align="right">Monto</th>
          <th>Detalle</th>
        </thead>
        <tbody>
          <tr v-for="v in vv" :key="v.ID" class="link">
            <td align="center">{{ v.Fecha | enFecha }}</td>
            <td>{{ v.CompNombre }}</td>
            <td>
              <router-link
                :to="{
                  name: 'mostrarComprobante',
                  query: {
                    partida: v.ID
                  }
                }"
                target="_blank"
                rel="noreferrer noopener"
              >
                {{ v.NCompStr }}
              </router-link>
            </td>
            <td>{{ nombreCuenta(v.Cuenta) }}</td>
            <td v-if="mostrarCaja">{{ nombreCaja(v.Caja) }}</td>
            <td align="right">{{ v.Monto | enPesos }}</td>
            <td>{{ v.Detalle }}</td>
          </tr>
        </tbody>
      </tabla>
      <p>ID: {{ id }}</p>
    </section>
    <tfoot class="modal-card-foot">
      <b-button class="is-primary" @click="$parent.close()">Volver</b-button>
    </tfoot>
    <b-loading is-full-page :active.sync="cargando"></b-loading>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import axios from "axios";
import eventBus from "@/eventBus";
import { Unicidad } from "../unicidades";
import { UnicidadDef } from "@/modules/unicidadesdef/def";
import { Cuenta } from "@/interfaces/cuentas";
import { Caja } from "@/modules/cajas/cajas";
export default Vue.extend({
  props: {
    idProp: {
      type: String
    }
  },
  data() {
    return {
      id: "" as string,
      def: null as UnicidadDef | null,
      vv: [] as any[],
      unicidad: null as Unicidad | null,

      cargando: false
    };
  },
  created() {
    if (this.idProp) {
      this.id = this.idProp;
    } else {
      this.id = this.$route.query.id as string;
    }
    this.def = this.$store.getters["unicidadesdef/porID"](this.id);
    this.actualizar();
  },
  methods: {
    actualizar() {
      if (!this.id) {
        return;
      }
      this.cargando = true;
      axios
        .post("/backend/unicidadescont/ops_por_unicidad", { ID: this.id })
        .then(res => {
          this.vv = res.data.Movs;
          this.def = res.data.Def;
          this.unicidad = res.data.Unicidad as Unicidad;
          this.cargando = false;
        })
        .catch(err => {
          eventBus.$emit("error", err);
          this.cargando = false;
        });
    },
    profundizar(id: string) {
      this.$router.push({ name: "mostrarComprobante", query: { partida: id } });
    },
    nombreCuenta(id: string): string {
      let cta = this.$store.getters["cuentas/porID"](id);
      if (cta) {
        return cta.Nombre;
      }
      return id;
    },
    mostrarCaja(id: string): boolean {
      let cta: Cuenta = this.$store.getters["cuentas/porID"](id);
      if (cta) {
        return cta.AperturaCaja;
      }
      return false;
    },
    nombreCaja(id: string | null): string {
      if (!id) {
        return "";
      }
      let caja: Caja = this.$store.getters["cajas/porID"](id);
      if (caja) {
        return caja.Nombre;
      }
      return id;
    }
  },
  computed: {
    titulo(): string {
      if (this.def) {
        return this.def.NombreSingular;
      }
      return "";
    }
  }
});
</script>

<style></style>
