<template>
  <div class="modal-card">
    <header class="modal-card-head">
      <h1 class="modal-card-title">
        {{ titulo }}
      </h1>
    </header>
    <section class="modal-card-body">
      <div>
        <b-field label="Nombre del estado">
          <b-input v-model="estado.Nombre"></b-input>
        </b-field>
      </div>
      <div>
        <b-tooltip
          label="Hay casos que quiero levar estados pero no contabilizar. Por ejemplo cuando se da de alta una chequera, quiero tener todos esos cheques en blanco sin contabilizar."
          multilined
          position="is-right"
        >
          <b-checkbox v-model="estado.Contabiliza">¿Contabiliza?</b-checkbox>
        </b-tooltip>
      </div>
      <div>
        <b-field label="Cuenta contable">
          <b-select v-model="estado.CuentaContable">
            <option v-for="v in cuentas" :value="v.ID" v-bind:key="v.ID">{{
              v.Nombre
            }}</option>
          </b-select>
          (solo se muestran las cuentas que abren por este tipo de unicidad)
        </b-field>
      </div>
    </section>

    <footer class="modal-card-foot">
      <b-button @click="guardar()" class="button is-primary">Guardar</b-button>
      <b-button @click="cerrar()">Cancelar</b-button>
    </footer>
  </div>
</template>
<script>
export default {
  props: ["estado", "bus", "i", "crud"],
  data() {
    return {
      cuentas: []
    };
  },
  methods: {
    cerrar() {
      this.$parent.close();
    },
    guardar() {
      if (this.crud == "nuevo") {
        this.bus.$emit("estadoCreado", this.estado);
      } else {
        this.bus.$emit("estadoModificado", this.estado, this.i);
      }
      this.cerrar();
    }
  },
  computed: {
    titulo() {
      if (this.crud == "nuevo") {
        return "Nuevo estado";
      } else {
        return "Modificar estado";
      }
    }
  }
};
</script>
