<template>
  <div>
    <header class="modal-card-head" v-if="def.Tipo == 'Referencial'">
      <h1 class="modal-card-title">{{ titulo }}</h1>
    </header>
    <section>
      <div
        class="box"
        v-if="def.AttsIndexados && def.AttsIndexados.length && AttsIndexados"
      >
        <b-field
          v-for="v in def.AttsIndexados"
          horizontal
          :label="v.Nombre"
          v-bind:key="v.Nombre"
        >
          <b-checkbox
            v-if="v.Type == 'bool'"
            v-model="AttsIndexados[v.Nombre]"
          />
          <b-input
            v-if="v.Type == 'string'"
            v-model="AttsIndexados[v.Nombre]"
          />
          <b-input
            v-if="v.Type == 'fecha'"
            type="date"
            v-model="AttsIndexados[v.Nombre]"
          />
          <b-input
            v-if="v.Type == 'int'"
            type="number"
            v-model.number="AttsIndexados[v.Nombre]"
          />
          <b-input
            v-if="v.Type == 'd2'"
            v-model.number="AttsIndexados[v.Nombre]"
          />
        </b-field>
      </div>
      <div class="box" v-if="def.Atts">
        <b-field
          v-for="v in def.Atts"
          horizontal
          :label="v.Nombre"
          v-bind:key="v.Nombre"
        >
          <b-checkbox v-if="v.Type == 'bool'" v-model="Atts[v.Nombre]" />
          <b-input v-if="v.Type == 'string'" v-model="Atts[v.Nombre]" />
          <b-input
            v-if="v.Type == 'fecha'"
            type="date"
            v-model="Atts[v.Nombre]"
          />
          <b-input
            v-if="v.Type == 'int'"
            type="number"
            v-model.number="Atts[v.Nombre]"
          />
          <b-input v-if="v.Type == 'd2'" v-model.number="Atts[v.Nombre]" />
        </b-field>
      </div>
    </section>

    <footer class="modal-card-foot" v-if="def.Tipo == 'Referencial'">
      Botones de unicidad dinámica
      <b-button @click="guardar()" class="button is-primary">Guardar</b-button>
      <b-button @click="cerrar()">Cancelar</b-button>
    </footer>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import { Unicidad } from "../unicidades";
import { UnicidadDef } from "@/modules/unicidadesdef/def";
export default Vue.extend({
  props: {
    def: {
      type: Object as () => UnicidadDef,
      required: true
    },
    unicidad: Object as () => Unicidad, // Si no se ingresa es porque es nuevo
    index: Number,
    bus: {
      type: Object,
      required: false
    },
    puedeBorrar: Boolean
  },
  data() {
    return {
      esNuevo: false as boolean,
      AttsIndexados: {} as any,
      Atts: {} as any
    };
  },
  created() {
    if (this.unicidad) {
      this.esNuevo = false;
      this.AttsIndexados = this.unicidad.AttsIndexados;
      this.Atts = this.unicidad.Atts;
    } else {
      this.esNuevo = true;
    }

    // Cuando edito un valor por ejemplo, el usuario carga los datos utilizando
    // este componente.
    // El boton 'Aceptar' no está acá, sino en el componente Valor.
    // Entonces desde acá me entero que el usuario hizo click en guardar
    // cuando entra el evento 'terminado'.
    console.log("agregando hook 'terminado' en UnicidadDinamica");
    this.bus.$on("terminado", () => this.guardar());
  },
  methods: {
    guardar() {
      console.log("en guardar() de unicidad dinámica");
      // Verifico los campos obligatorios
      if (this.def.AttsIndexados) {
        for (let v of this.def.AttsIndexados) {
          if (v.Obligatorio && !this.AttsIndexados[v.Nombre]) {
            console.log(v, this.AttsIndexados[v.Nombre]);
            this.$buefy.dialog.alert({
              title: "Validación",
              message: "El campo <b>" + v.Nombre + "</b> es obligatorio"
            });
            return;
          }
        }
      }
      if (this.def.Atts) {
        for (let v of this.def.Atts) {
          if (v.Obligatorio && !this.Atts[v.Nombre]) {
            this.$buefy.dialog.alert({
              title: "Validación",
              message: "El campo <b>" + v.Nombre + "</b> es obligatorio"
            });
            return;
          }
        }
      }

      let u = {} as Unicidad;
      if (this.unicidad) {
        u.ID = this.unicidad.ID;
      }

      u.Definicion = this.def.ID;
      if (!this.AttsIndexados) {
        this.AttsIndexados = {};
      }

      u.AttsIndexados = this.AttsIndexados;
      if (!this.Atts) {
        this.Atts = {};
      }

      u.Atts = this.Atts;
      console.log("disparando unicidadDinamicaOk");
      if (!this.bus) {
        console.error("no había bus para enviar evento");
        return;
      }

      this.bus.$emit("unicidadDinamicaOk", u);

      if (this.esNuevo) {
        console.log("Disparando 'nuevo'de unicidad dinámica", u);
        this.bus.$emit("nuevo", u);
        this.cerrar();
        return;
      } else {
        console.log("Disparando 'modificado' de unicidad dinámica", u);
        this.bus.$emit("modificado", u, this.index);
        this.cerrar();
        return;
      }
    },
    borrar() {
      // TODO
      // let msg = "¿Está seguro que desea <b>borrar</b> ";
      // if (this.def.Genero == "Femenino") {
      //   msg += "la ";
      // } else {
      //   msg += "el ";
      // }
      // msg += this.def.NombreSingular.toLowerCase() + "?";
      // this.$buefy.dialog.confirm({
      //   title: "Borrar atributo",
      //   message: msg,
      //   confirmText: "Borrar",
      //   type: "is-danger",
      //   hasIcon: true,
      //   onConfirm: () => {
      //     this.bus.$emit("eliminado", u, this.index);
      //     this.cerrar();
      //   }
      // });
    },
    cerrar() {
      if (!this.$parent) {
        console.error("no había parent para cerrar en UnicidadDinamica");
        return;
      } else {
        if ((!this.$parent as any).close) {
          console.error(
            "no había función close para cerrar en UnicidadDinamica"
          );
        }
      }
      (this.$parent as any).close();
    }
  },
  computed: {
    titulo(): string {
      if (this.def.Genero == "Masculino" && this.esNuevo) {
        return "Nuevo " + this.def.NombreSingular.toLowerCase();
      }

      if (this.def.Genero == "Femenino" && this.esNuevo) {
        return "Nueva " + this.def.NombreSingular.toLowerCase();
      }

      if (!this.esNuevo) {
        return "Modificar " + this.def.NombreSingular.toLowerCase();
      }

      return this.def.Nombre;
    }
  }
});
</script>
