<template>
  <div>
    <h1 class="title"></h1>
    <tabla>
      <thead>
        <th align="center">Fecha</th>
        <th>Comprobante</th>
        <th>Número</th>
        <th>Cuenta</th>
        <th v-if="mostrarCaja">Caja</th>
        <th align="right">Monto</th>
        <th>Detalle</th>
      </thead>
      <tbody>
        <tr v-for="v in vv" :key="v.ID" @click="profundizar(v.ID)" class="link">
          <td align="center">{{ v.Fecha | enFecha }}</td>
          <td>{{ v.CompNombre }}</td>
          <td>{{ v.NCompStr }}</td>
          <td>{{ nombreCuenta(v.Cuenta) }}</td>
          <td v-if="mostrarCaja">{{ nombreCaja(v.Caja) }}</td>
          <td align="right">{{ v.Monto | enPesos }}</td>
          <td>{{ v.Detalle }}</td>
        </tr>
      </tbody>
    </tabla>
  </div>
</template>
