<template>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">
        {{ titulo }}
      </p>
    </header>

    <section class="modal-card-body">
      <b-field label="Caja" horizontal v-if="aperturaCaja">
        <b-select v-model="caja">
          <option :value="null" disabled>Seleccione</option>
          <option v-for="v in cajas" :key="v.ID" :value="v.ID">
            {{ v.Nombre }}
          </option>
        </b-select>
      </b-field>
      <div>
        <tabla>
          <tr>
            <td>Cantidad</td>
            <td align="right">{{ cantidadSeleccionada }}</td>
          </tr>
          <tr>
            <td>Saldo</td>
            <td align="right">{{ saldoSeleccionado | enPesos }}</td>
          </tr>
        </tabla>
      </div>
      <tabla v-if="hayResultados">
        <thead>
          <th
            v-for="v in columnasIndexadas"
            :key="v"
            @click="ordenarIndexado(v)"
            :class="{ link: true, bacgroundColor: 'red' }"
          >
            {{ v }}
          </th>
          <th
            v-for="v in columnas"
            :key="v"
            @click="ordenarNoIndexado(v)"
            class="link"
          >
            {{ v }}
          </th>
          <th align="right">Saldo</th>
          <th>Seleccionado</th>
        </thead>
        <tbody>
          <tr
            v-for="v in uu"
            :key="v.ID"
            class="link"
            @click="seleccionar(v.ID)"
          >
            <!-- <td v-for="col in columnas" :key="col">
              <span v-if="tipoColumna(col) != 'afecha'">
                {{ v.Atts[col] }}
              </span>
            </td> -->
            <td
              v-for="col in columnasIndexadas"
              :key="col"
              :align="alineacion(col)"
            >
              <span v-if="tipoColumna(col) == 'd2' && v.AttsIndexados">
                {{ v.AttsIndexados[col] | enPesos }}
              </span>
              <span v-if="tipoColumna(col) == 'fecha' && v.AttsIndexados">
                {{ v.AttsIndexados[col] | enFecha }}
              </span>
              <span v-if="tipoColumna(col) == 'bool' && v.AttsIndexados">
                {{ v.AttsIndexados[col] | siNo }}
              </span>
              <span v-if="tipoColumna(col) == 'int' && v.AttsIndexados">
                {{ v.AttsIndexados[col] }}
              </span>
              <span v-if="tipoColumna(col) == 'string' && v.AttsIndexados">
                {{ v.AttsIndexados[col] }}
              </span>
            </td>

            <td v-for="col in columnas" :key="col" :align="alineacion(col)">
              <span v-if="tipoColumna(col) == 'd2' && v.Atts">
                {{ v.Atts[col] | enPesos }}
              </span>
              <span v-if="tipoColumna(col) == 'fecha' && v.Atts">
                {{ v.Atts[col] | enFecha }}
              </span>
              <span v-if="tipoColumna(col) == 'bool' && v.Atts">
                {{ v.Atts[col] | siNo }}
              </span>
              <span v-if="tipoColumna(col) == 'int' && v.Atts">
                {{ v.Atts[col] }}
              </span>
              <span v-if="tipoColumna(col) == 'string' && v.Atts">
                {{ v.Atts[col] }}
              </span>
            </td>

            <td align="right">{{ v.Saldo | enPesos }}</td>
            <td><b-checkbox v-model="v.Seleccionado"></b-checkbox></td>
            <!-- Fecha -->
            <!-- <td v-for="col in columnas" :key="col">
              {{ v.Atts[col] }} {{ v.AttsIndexados[col] }}
            </td> -->
          </tr>
        </tbody>
        <tfoot>
          <td v-for="v in columnas" :key="v"></td>
          <td v-for="v in columnasIndexadas" :key="v"></td>
          <td align="right">Total {{ totalSaldo | enPesos }}</td>
          <td></td>
        </tfoot>
      </tabla>
      <p v-if="noHayResultados">No se encontraron resultados</p>
    </section>

    <footer class="modal-card-foot">
      <b-button @click="guardar()" class="button is-primary">Guardar</b-button>
      <b-button @click="cerrar()">Cancelar</b-button>
    </footer>
    <b-loading
      is-full-page
      :active.sync="cargando"
      :can-cancel="true"
    ></b-loading>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import axios from "axios";
import eventBus from "@/eventBus";
import { Empresa } from "@/interfaces/empresas";
import { Caja } from "@/modules/cajas/cajas";
import { Cuenta } from "@/interfaces/cuentas";
import { Valor } from "@/modules/fact/interfaces";
import { UnicidadConSaldo, unicidadString } from "../unicidades";
import { UnicidadDef } from "@/modules/unicidadesdef/def";
export default Vue.extend({
  props: {
    empresa: {
      type: String,
      required: true,
    },
    cuenta: {
      type: String,
      required: true,
    },
    cajas: {
      type: Array as () => Array<Caja>,
      required: false,
    },
    // Para traer los cheques emitidos a un banco solamente
    persona: {
      type: String,
      required: false,
    },
    sucursal: {
      type: String,
      required: false,
    },
    bus: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      cta: null as null | Cuenta,
      caja: null as null | string,
      desde: null as null | string,
      hasta: null as null | string,

      def: null as UnicidadDef | null,
      tipos: {} as any,
      alineaciones: {} as any,
      uu: [] as UnicidadConSaldo[],

      campoOrdenacionIndexado: "" as string,
      campoOrdenacionNoIndexado: "" as string,
      desc: -1 as number,
      cargando: false as boolean,
      dirty: false as boolean,
    };
  },
  created() {
    // Traigo la definición del tipo de unicidad
    this.cta = this.$store.getters["cuentas/porID"](this.cuenta);
    if (!this.cta) {
      eventBus.$emit(
        "error",
        Error(
          "no se pudo encontrar la definición de unicidad de cuenta " +
            this.cuenta
        )
      );
      return;
    }

    this.def = this.$store.getters["unicidadesdef/porID"](
      this.cta.TipoUnicidad
    );
    if (!this.def) {
      eventBus.$emit(
        "error",
        Error(
          "no se pudo encontrar la definición de unicidad " +
            this.cta.TipoUnicidad
        )
      );
      return [];
    }
    // Guardo un cache de los tipos de cada att
    if (this.def.AttsIndexados) {
      for (let v of this.def.AttsIndexados) {
        this.tipos[v.Nombre] = v.Type;
        if (v.Type == "int" || v.Type == "d2") {
          this.alineaciones[v.Nombre] = "right";
        } else {
          this.alineaciones[v.Nombre] = "left";
        }
      }
    }
    if (this.def.Atts) {
      for (let v of this.def.Atts) {
        this.tipos[v.Nombre] = v.Type;
        if (v.Type == "int" || v.Type == "d2" || v.Type == "fecha ") {
          this.alineaciones[v.Nombre] = "right";
        } else {
          this.alineaciones[v.Nombre] = "left";
        }
      }
    }

    if (this.cajas.length == 1) {
      this.caja = this.cajas[0].ID;
    }

    this.actualizar();
  },
  methods: {
    actualizar() {
      if (!this.cta) {
        return;
      }
      if (this.cta.AperturaCaja && !this.caja) {
        return;
      }
      this.cargando = true;
      let query: any = {
        Empresa: this.empresa,
        Cuenta: this.cuenta,
      };

      // Abro por caja (cheques en cartera) o por persona (banco)
      if (this.aperturaCaja) {
        query.Caja = this.caja;
      }
      if (this.aperturaPersona) {
        if (this.persona) {
          query.Persona = this.persona;
        }
        if (this.sucursal) {
          query.Sucursal = this.sucursal;
        }
      }
      axios
        .post("/backend/unicidadescont/apertura_por_monto", query)
        .then((res) => {
          this.cargando = false;
          if (res.data) {
            for (let v of res.data) {
              v.Seleccionado = false;
            }
          }
          this.uu = res.data;
          this.dirty = true;
        })
        .catch((err) => {
          this.cargando = false;
          eventBus.$emit("error", err);
        });
      this.cargando = false;
    },
    // Muestra los comprobantes que tocan esta unicidad
    seleccionar(id: string) {
      console.log("Seleccionando ID", id);
      let found = this.uu.find((x) => x.ID == id);
      if (!found) {
        return;
      }
      if (!found.Seleccionado) {
        console.log("No había seleccionado", id);
        found.Seleccionado = true;
        return;
      }
      console.log("Había seleccionado", id);
      found.Seleccionado = !found.Seleccionado;
    },
    //
    guardar() {
      if (!this.cta) {
        return;
      }
      if (!this.def) {
        return;
      }
      let out: Valor[] = [];
      for (let v of this.uu) {
        if (!v.Seleccionado) {
          continue;
        }
        let vto = this.atributoFechaVto(v);
        if (!vto) {
          vto = "";
        }

        let caja: string | null = null;
        let persona: string | null = null;
        let sucursal: string | null = null;
        if (this.cta.AperturaCaja && this.caja) {
          caja = this.caja;
        }
        if (this.cta.AperturaPersona) {
          persona = this.persona;
          sucursal = this.sucursal;
        }
        let val: Valor = {
          Cuenta: this.cuenta,
          Caja: caja,
          Persona: persona,
          Sucursal: sucursal,
          Centro: null,
          UnicidadNueva: null,
          TipoUnicidad: v.Definicion,
          UnicidadRef: v.ID,
          Alias: this.cta.Alias,
          Monto: v.Saldo,
          Vencimiento: vto,
          Moneda: null,
          TC: null,
          MontoMonedaOriginal: null,
          Detalle: "",
        };

        // Busco unicidadDef
        const def = this.$store.getters["unicidadesdef/porID"](v.Definicion);

        if (def) {
          val.Detalle = unicidadString(v, def);
        }
        out.push(val);
      }

      this.bus.$emit("unicidadesSeleccionadas", out);
      (this.$parent as any).close();
    },

    // Determina si la unicidad ingresada tiene un campo de fecha de
    // vencimiento y devuelve el valor del mismo.
    atributoFechaVto(u: UnicidadConSaldo): string | null {
      if (!this.def) {
        return null;
      }
      if (this.def.AttsIndexados) {
        for (let v of this.def.AttsIndexados) {
          if (v.Funcion == "fecha vto") {
            return u.AttsIndexados[v.Nombre];
          }
        }
      }
      if (this.def.Atts) {
        for (let v of this.def.Atts) {
          if (v.Funcion == "fecha vto") {
            return u.Atts[v.Nombre];
          }
        }
      }
      return null;
    },
    cuentaNombre(id: string) {
      let cta = this.$store.getters["cuentas/porID"](id);
      if (cta) {
        return cta.Alias;
      }
      return id;
    },
    nombreCaja(id: string) {
      let caja = this.$store.getters["cajas/porID"](id);
      if (caja) {
        return caja.Nombre;
      }
      return id;
    },
    tipoColumna(nombre: string): string {
      return this.tipos[nombre];
    },
    alineacion(colName: string): string {
      return this.alineaciones[colName];
    },
    ordenarIndexado(value: string) {
      console.log("Ordenando indexado");
      if (value == this.campoOrdenacionIndexado) {
        this.desc = this.desc * -1;
      }
      this.campoOrdenacionIndexado = value;
      this.uu.sort((a, b) => {
        if (!a.AttsIndexados) {
          return -1;
        }
        if (a.AttsIndexados[value] > b.AttsIndexados[value]) {
          return 1 * this.desc;
        }
        if (a.AttsIndexados[value] < b.AttsIndexados[value]) {
          return -1 * this.desc;
        }
        return 0;
      });
    },
    ordenarNoIndexado(value: string) {
      console.log("Ordenando no indexado");
      this.campoOrdenacionNoIndexado = value;
      if (value == this.campoOrdenacionNoIndexado) {
        this.desc = this.desc * -1;
      }
      this.uu.sort((a, b) => {
        if (!a.Atts) {
          return -1;
        }
        if (a.Atts[value] > b.Atts[value]) {
          return 1 * this.desc;
        }
        if (a.Atts[value] < b.Atts[value]) {
          return -1 * this.desc;
        }
        return 0;
      });
    },
  },
  computed: {
    columnas(): string[] {
      if (!this.cuenta) {
        return [];
      }
      if (!this.def) {
        return [];
      }
      if (!this.def.Atts) {
        return [];
      }
      let out = [];
      for (let v of this.def.Atts) {
        out.push(v.Nombre);
      }
      return out;
    },
    columnasIndexadas(): string[] {
      if (!this.cuenta) {
        return [];
      }
      if (!this.def) {
        return [];
      }
      if (!this.def.AttsIndexados) {
        return [];
      }
      let out = [];
      for (let v of this.def.AttsIndexados) {
        out.push(v.Nombre);
      }
      return out;
    },
    totalSaldo(): number {
      let total = 0;
      for (let v of this.uu) {
        total += v.Saldo;
      }
      return total;
    },
    saldoSeleccionado(): number {
      let sum = 0;
      for (let v of this.uu) {
        if (v.Seleccionado) {
          sum += v.Saldo;
        }
      }
      return sum;
    },
    cantidadSeleccionada(): number {
      let sum = 0;
      for (let v of this.uu) {
        if (v.Seleccionado) {
          sum += 1;
        }
      }
      return sum;
    },
    hayResultados(): boolean {
      if (this.uu && this.uu.length) {
        return true;
      }
      return false;
    },
    noHayResultados(): boolean {
      if (!this.dirty) {
        return false;
      }
      if (this.uu.length) {
        return false;
      }
      return true;
    },
    aperturaCaja(): boolean {
      let cta: Cuenta = this.$store.getters["cuentas/porID"](this.cuenta);
      if (!cta) {
        return false;
      }
      return cta.AperturaCaja;
    },
    aperturaPersona(): boolean {
      let cta: Cuenta = this.$store.getters["cuentas/porID"](this.cuenta);
      if (!cta) {
        return false;
      }
      return cta.AperturaPersona;
    },
    empresas(): Empresa[] {
      return this.$store.getters["empresas/permitidas"];
    },
    titulo(): string {
      let cta = this.$store.getters["cuentas/porID"](this.cuenta);
      if (!cta) {
        return "CUENTA NO DETERMINADA";
      }

      return "Selección " + cta.Alias;
    },
  },
  // watch: {
  //   cuenta() {
  //     this.actualizar();
  //   },
  //   caja() {
  //     this.actualizar();
  //   }
  // }
});
</script>
