<template>
  <div class="modal-card">
    <header class="modal-card-head">
      <h1 class="modal-card-title">
        {{ this.def.NombreSingular }}
      </h1>
    </header>
    <section class="modal-card-body">
      <UnicidadDinamica :def="def" :bus="bus" />
    </section>
    <footer class="modal-card-foot">
      <b-button class="is-primary" @click="$parent.close()">Cerrar</b-button>
    </footer>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import UnicidadDinamica from "./UnicidadDinamica.vue";
import { UnicidadDef } from "@/modules/unicidadesdef/def";
export default Vue.extend({
  components: {
    UnicidadDinamica
  },
  props: {
    def: {
      type: Object as () => UnicidadDef,
      required: true
    },
    bus: {
      type: Object,
      required: true
    }
  }
});
</script>
