<template>
  <div>
    <div class="hero is-fullheight">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-centered">
            <div
              class="column box box-login is-5-tablet is-4-desktop is-3-widescreen"
            >
              <div v-if="cargarDatos">
                <h2 class="title">Cambiar contraseña</h2>

                <b-field label="Contraseña actual">
                  <b-input
                    type="password"
                    v-model="actual"
                    autocomplete="off"
                  />
                </b-field>

                <b-field label="Nueva contraseña">
                  <b-input
                    type="password"
                    v-model="Pass"
                    autocomplete="new-password"
                  />
                </b-field>

                <b-field label="Repita nueva contraseña">
                  <b-input
                    type="password"
                    v-model="Pass2"
                    autocomplete="new-password"
                  />
                </b-field>

                <b-button @click.prevent="confirmar" class="is-primary"
                  >Confirmar</b-button
                >
                <p>{{ errorMsg }}</p>
              </div>
              <div v-else>
                <p>{{ msg }}</p>
                <b-button
                  @click="$router.push({ name: 'login' })"
                  class="is-primary"
                >
                  Continuar
                </b-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <b-loading
      is-full-page
      :active="cargando != 0"
      :can-cancel="true"
    ></b-loading>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import axios from "axios";
import eventBus from "@/eventBus";
export default Vue.extend({
  data() {
    return {
      actual: "" as string,
      Pass: "" as string,
      Pass2: "" as string,
      errorMsg: "" as string,
      msg: "" as string,
      cargarDatos: true as boolean,
      cargando: 0 as number,
    };
  },
  created() {
    document.title = "Cambiar contraseña";
  },
  methods: {
    confirmar(): void {
      let userID = this.$route.params.user;
      if (!userID) {
        userID = this.$store.state.usuario.Usuario.ID;
      }
      if (!userID) {
        eventBus.$emit("error", Error("Usuario no determinado"));
        return;
      }
      this.cargando++;
      axios
        .patch("/backend/usuarios/password", {
          UserID: userID,
          Anterior: this.actual,
          Pass: this.Pass,
          Pass2: this.Pass2,
          BlanquearLuego: this.$route.params.blanquearLuego,
        })
        .then(() => {
          this.msg =
            "La contraseña ha sido cambiada correctamente. Haga clic en Continuar para iniciar sesión";
          this.cargarDatos = false;
        })
        .catch((err) => {
          if (
            err.response.status == 500 &&
            err.response.data == "credenciales inválidas"
          ) {
            this.$buefy.dialog.alert({
              title: "Error",
              message: "La contraseña actual no coincide",
              ariaRole: "alertdialog",
              ariaModal: true,
            });
            return;
          }

          // Lo mando al bus general
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },
  },
});
</script>
