<template><div></div></template>
<script>
import axios from "axios";
import eventBus from "@/eventBus.ts";
export default {
  created() {
    axios.post("/backend/sesiones/cerrar_sesion").catch(err => {
      eventBus.$emit("error", err);
    });
    console.log("Sesión cerrada");
    this.$router.push({ name: "login" });
  }
};
</script>
