<template>
  <div>
    <div class="hero is-fullheight">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-centered">
            <div
              class="column box box-login is-5-tablet is-4-desktop is-3-widescreen"
            >
              <form action>
                <h1 class="title">CrossLogic</h1>
                <b-field label="Usuario">
                  <b-input
                    autocomplete="username"
                    placeholder="Usuario o e-mail"
                    class="caja"
                    type="text"
                    name="user"
                    v-model="userID"
                  ></b-input>
                </b-field>
                <div id="imgpass" class="img"></div>
                <b-field label="Contraseña">
                  <b-field>
                    <b-input
                      autocomplete="current-password"
                      placeholder="Contraseña"
                      class="caja"
                      type="password"
                      name="password"
                      v-model="pass"
                      @keydown.native.enter="login()"
                      expanded
                    ></b-input>
                    <b-tooltip
                      label="Si no recuera su contraseña haga click aquí"
                      :delay="400"
                    >
                      <p
                        class="button"
                        @click="olvide()"
                        message="Olvidé mi contraseña"
                      >
                        ?
                      </p>
                    </b-tooltip>
                  </b-field>
                </b-field>
                <b-field grouped position="is-centered" class="boton-ingresar">
                  <b-button @click="login()" class="is-success is-center"
                    >Ingresar</b-button
                  >
                </b-field>
              </form>
              <p v-if="errMsg">{{ errMsg }}</p>
              <p v-if="mostrarReenviarMail">
                Debe confirmar su dirección de correo electrónico desde el mail
                que le enviamos. Haga click
                <a @click="reenviarMail">aquí para recibirlo nuevamente</a>
              </p>

              <!-- <div id="registrar">
                <router-link tag="a" to="registracion"
                  >Me quiero registrar</router-link
                >
              </div> -->
            </div>

            <div>{{ msg }}</div>
          </div>
        </div>
      </div>
    </div>
    <b-loading
      is-full-page
      :active="cargando != 0"
      :can-cancel="true"
    ></b-loading>
  </div>
</template>

<script lang="ts">
import axios from "axios";
import Vue from "vue";
import eventBus from "@/eventBus";
export default Vue.extend({
  data() {
    return {
      userID: "",
      pass: "",
      errMsg: "",
      cargarDatos: true,
      msg: "" as string,
      mostrarReenviarMail: false as boolean,
      cargando: 0 as number,
    };
  },
  created() {
    document.title = "CrossLogic Login";
  },
  methods: {
    login() {
      this.errMsg = "";
      this.cargando++
      axios
        .post("/backend/login", {
          UserID: this.userID.toLowerCase(),
          Pass: this.pass,
        })
        .then((res) => {
          // Fue exitoso el login
          eventBus.$emit("login", {
            response: res.data,
            despues: this.$route.query.despues,
          });
        })
        .catch((err) => {
          console.log("Response data", err.response.data);
          switch (err.response.data) {
            case "corresponde cambiar contraseña\n":
              this.$router.push({
                name: "cambiarContraseña",
                params: { user: this.userID },
              });
			  break

            case "credenciales inválidas\n":
              this.contraseñaIncorrecta();
			  break

            case "muchos comitentes\n":
              console.log("enviando a seleccionar comitente");
              this.$router.push({
                name: "seleccionarComitente",
                params: { user: this.userID, pass: this.pass },
                query: { despues: this.$route.query.despues },
              });
			  break

            default:
              eventBus.$emit("error", err);
          }
        })
        .finally(() => this.cargando--);
    },
    olvide() {
      this.cargando++;
      axios
        .post("/backend/sesiones/solicitar_blanqueo", {
          UserID: this.userID,
        })
        .then(() => {
          this.$buefy.dialog.alert(
            "Le hemos enviado un mail. Ingrese y confirme confime el blanqueo de contraseña"
          );
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },
    contraseñaIncorrecta() {
      this.$buefy.dialog.alert({
        //title: title,
        message: "Usuario o contraseña incorrectos",
        ariaRole: "alertdialog",
        type: "is-danger",
        hasIcon: true,
        icon: "alert-circle",
        iconPack: "md",
        ariaModal: true,
      });
    },
    reenviarMail() {
      this.cargando++;
      axios
        .post("/backend/sesiones/reenviar_mail", {
          UserID: this.userID,
        })
        .then(() => {
          this.msg =
            "Le hemos enviado un mail en el que deberá confirmar el blanqueo de contraseña";
          this.mostrarReenviarMail = false;
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },
  },
});
</script>

<style lang="scss" scoped>
h1 {
  margin: 0px 0 40px 0;
}
div.boton-ingresar {
  padding: 10px 0 0px 0;
}
</style>
