<template>
  <div>
    <h1>CONFIRMACIÓN DE CUENTA</h1>
    <div v-if="estado == 'cargando'">
      <p>Estamos confirmando tu cuenta...</p>
    </div>

    <div v-if="estado == 'confirmado'">
      <p>
        Tu cuenta ha sido confirmada. Haz clic en el botón para iniciar sesión.
      </p>
      <button @click="$router.push({ name: 'login' })">Iniciar sesión</button>
    </div>

    <div v-if="estado == 'error'">
      <p>No se pudo confirmar la cuenta.</p>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import eventBus from "@/eventBus.ts";
export default {
  data() {
    return {
      estado: "cargando"
    };
  },
  created() {
    axios
      .post("/backend/sesiones/confirmar_usuario", {
        ID: this.$route.query.id
      })
      .then(() => {
        this.estado = "confirmado";
      })
      .catch(err => {
        eventBus.$emit("error", err);
        this.estado = "error";
      });
  }
};
</script>

<style lang="scss" scoped>
div {
  text-align: center;
}
</style>
