<template>
  <div>
    <div class="hero is-fullheight">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-centered">
            <div
              class="column box box-login is-5-tablet is-4-desktop is-3-widescreen"
            >
              <form action>
                <h1 class="title">CrossLogic</h1>
                <b-field label="Comitente">
                  <b-select v-model="comitente">
                    <option v-for="v in comitentes" :value="v.ID" :key="v.ID">
                      {{ v.Nombre }}
                    </option>
                  </b-select>
                </b-field>
                <b-field grouped position="is-centered" class="boton-ingresar">
                  <b-button @click="login()" class="is-success is-center"
                    >Ingresar</b-button
                  >
                </b-field>
              </form>

              <!-- <div id="registrar">
                <router-link tag="a" to="registracion"
                  >Me quiero registrar</router-link
                >
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <b-loading
      is-full-page
      :active.sync="cargando"
      :can-cancel="true"
    ></b-loading>
  </div>
</template>

<script lang="ts">
import axios from "axios";
import Vue from "vue";
import eventBus from "@/eventBus";
import store from "@/store/store.js"
export default Vue.extend({
  data() {
    return {
      userID: "",
      pass: "",
      comitente: "",

      comitentes: [],
      cargando: 0 as number,
    };
  },
  created() {
    document.title = "Seleccionar comitente";
    this.actualizar();
  },
  methods: {
    actualizar() {
      this.cargando++;
      axios
        .get("/backend/usuarios/comitentes")
        .then((res) => {
          this.comitentes = res.data;
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },
    login() {
      this.cargando++;
      axios
        .post(`/backend/sesiones/comitente/${this.comitente}`)
        .then((res) => {
          // Fue exitoso el login
          eventBus.$emit("login", {
            response: res.data,
            despues: this.$route.query.despues,
          });
		  this.$store.dispatch("pedirAlBackend")
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },
    olvide() {
      this.cargando++;
      axios
        .post("/backend/sesiones/solicitar_blanqueo", {
          UserID: this.userID,
        })
        .then(() => {
          this.$buefy.dialog.alert(
            "Le hemos enviado un mail. Ingrese y confirme confime el blanqueo de contraseña"
          );
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },
    /*reenviarMail() {*/
      /*this.cargando++;*/
      /*axios*/
        /*.post("/backend/sesiones/reenviar_mail", {*/
          /*UserID: this.userID,*/
        /*})*/
        /*.then(() => {*/
          /*this.msg =*/
            /*"Le hemos enviado un mail en el que deberá confirmar el blanqueo de contraseña";*/
          /*this.mostrarReenviarMail = false;*/
        /*})*/
        /*.catch((err) => {*/
          /*eventBus.$emit("error", err);*/
        /*})*/
        /*.finally(() => this.cargando--);*/
    /*},*/
  },
});
</script>

<style lang="scss" scoped>
h1 {
  margin: 50px 0 40px 0;
}
div.boton-ingresar {
  padding: 30px 0 40px 0;
}
</style>
