<template>
  <div>
    <div class="titulo-de-pantalla">
      <h1>{{ titulo }}</h1>
      <puntitos :size="35">
        <ul>
          <!-- <li @click="$router.push({name:'concepto'})">Eliminar concepto</li> -->
        </ul>
      </puntitos>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-9" v-if="esNuevo == false" id="id">
          id: {{ concepto.ID }}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-3">
          <label>Código</label>
          <input
            class="form-control"
            type="number"
            v-model.number="concepto.ID"
            :disabled="!esNuevo"
            required
          />
        </div>

        <div class="col-sm-12 col-md-6">
          <label>Familia</label>
          <select name="familia" v-model="concepto.Familia">
            <option value="IVA">IVA</option>
            <option value="FIN">Concepto Financiero</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <label>Nombre</label>
          <input type="text" v-model="concepto.Nombre" required />
        </div>
        <div class="col-md-6">
          <label>Nombre impresión</label>
          <input type="text" v-model="concepto.NombreImpresion" required />
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <label>Genera concepto</label>
          <select v-model="concepto.GeneraConcepto">
            <option
              v-for="concepto in otrosConceptos"
              v-bind:value="concepto.ID"
              v-bind:key="concepto.ID"
              >{{ concepto.Nombre }}</option
            >
          </select>
        </div>
      </div>

      <h3>Datos para el cálculo</h3>
      <div class="row">
        <div class="col-md-3">
          <label>Mínimo no imponible (en $)</label>
          <input type="number" v-model="concepto.MinimoNoImponible" />
        </div>
        <div class="col-md-3">
          <label>Deducción (en $)</label>
          <input type="number" v-model="concepto.Deduccion" />
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <label for>Tipo de cálculo</label>
          <select v-model="concepto.ModoCalculo">
            <option selected value>Seleccione</option>
            <option value="porcentaje">Porcentaje</option>
            <option value="monto_fijo">Monto fijo</option>
          </select>
        </div>
      </div>

      <div class="porcentaje" v-if="concepto.ModoCalculo == 'porcentaje'">
        <div class="row">
          <div class="col-md-4">
            <label>Porcentaje (ej: 21)</label>
            <input type="number" v-model.number="concepto.Porcentaje" />
          </div>
          <div class="col-md-4">
            <label>Monto Mínimo</label>
            <input type="number" v-model.number="concepto.MontoMinimo" />
          </div>

          <div class="col-md-4">
            <label>Monto Máximo</label>
            <input type="number" v-model.number="concepto.MontoMaximo" />
          </div>
        </div>
      </div>

      <div class="porcentaje" v-if="concepto.ModoCalculo == 'monto_fijo'">
        <div class="row">
          <div class="col-md-3">
            <label>Monto Fijo</label>
            <input type="number" v-model.number="concepto.MontoFijo" />
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button class="btn-guardar" @click.prevent="submit()">Guardar</button>

        <button
          class="btn-cancelar"
          @click.prevent="$router.push({ name: 'conceptos' })"
        >
          Cancelar
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import eventBus from "@/eventBus.ts";
import axios from "axios";
import Puntitos from "../widgets/Puntitos";
export default {
  data() {
    return {
      concepto: { id: 0, tipo_cuenta: "", centros: [] },
      otrosConceptos: [],
      resultado: ""
    };
  },
  components: {
    Puntitos
  },
  created() {
	document.title = "Concepto"
    this.actualizar();
  },
  computed: {
    titulo() {
      if (this.esNuevo) {
        return "Nuevo concepto";
      } else {
        return "Modificar concepto";
      }
    },
    esNuevo() {
      if (this.$route.query.id == undefined) {
        return true;
      }
      return false;
    }
  },
  methods: {
    actualizar() {
      axios
        .post("/backend/conceptos/todos")
        .then(res => {
          this.conceptos = res.data;
        })
        .catch(err => {
          eventBus.$emit("error", err);
        });
      if (this.esNuevo) {
        // Concepto nuevo
        return;
      } else {
        // Traigo el concepto
        axios
          .post("/backend/conceptos", { ID: parseInt(this.$route.query.id) })
          .then(res => {
            this.concepto = res.data;
          })
          .catch(err => {
            eventBus.$emit("error", err);
          });
      }
    },

    submit() {
      console.log("Guardar");
      if (this.esNuevo) {
        this.submitNuevo();
      } else {
        this.submitModificar();
      }
    },
    submitNuevo() {
      axios
        .post("/backend/conceptos/nuevo", this.concepto)
        .then(() => {
          this.volver();
        })
        .catch(err => {
          eventBus.$emit("error", err);
        });
    },
    submitModificar() {
      axios
        .post("/backend/conceptos/modificar", this.concepto)
        .then(() => {
          this.volver();
        })
        .catch(err => {
          eventBus.$emit("error", err);
        });
    },
    eliminar() {
      axios
        .post("/backend/conceptos/eliminar", { ID: this.concepto.ID })
        .then(() => {
          this.volver();
        })
        .catch(err => {
          eventBus.$emit("error", err);
        });
    }
  }
};
</script>
<style lang="scss" scoped>
div.grupo {
  padding: 20px;
}
div.checks {
  padding: 20px 0 0 40px;
}
div#id {
  text-align: right;
  display: block;
}
</style>
