Es el menu para buscar personas.

<template>
  <div>
    <div class="titulo-de-pantalla">
      <h1>Conceptos</h1>
      <puntitos :size="35">
        <ul>
          <li @click="$router.push({ name: 'concepto' })">Nuevo concepto</li>
        </ul>
      </puntitos>
    </div>

    <tabla>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Familia</th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="concepto in conceptos"
          v-bind:key="concepto.id"
          @click="
            $router.push({ name: 'concepto', query: { id: concepto.ID } })
          "
          class="link"
        >
          <td>{{ concepto.ID }}</td>
          <td>{{ concepto.Nombre }}</td>
          <td>{{ concepto.Familia }}</td>
        </tr>
      </tbody>
    </tabla>
  </div>
</template>

<script>
import axios from "axios";
import eventBus from "@/eventBus.ts";
import Puntitos from "../widgets/Puntitos";
export default {
  data() {
    return {
      conceptos: [
        {
          id: "",
          nombre: "",
          familia: ""
        }
      ]
    };
  },
  components: {
    Puntitos
  },
  created() {
	document.title = "Conceptos"
    axios
      .post("/backend/conceptos/todos")
      .then(res => {
        this.conceptos = res.data;
      })
      .catch(err => {
        eventBus.$emit("error", err);
      });
  }
};
</script>
<style lang="scss" scoped>
div.buscar {
  margin-top: 20px;
  margin-bottom: 30px;
}
div.buscar input {
  width: 80%;
  float: left;
}

div.buscar button {
  float: left;
  width: 20%;
}
</style>
