<template>
  <div class="modal-card">
    <header class="modal-card-head">
      <h1 class="modal-card-title">Partida directa</h1>
    </header>
    <div class="modal-card-body">
      <b-field label="Cuenta contable" horizontal v-if="p">
        <b-select v-model="p.Cuenta" ref="persona">
          <option
            v-for="v in cuentas"
            :value="v.ID"
            :key="v.ID"
            :class="{ fontWeight: 'bolder' }"
          >
            {{ v.Nombre }}
          </option>
        </b-select>
      </b-field>

      <!-- CONCEPTOS -->
      <b-field label="Conceptos">
        <tabla v-if="p.Conceptos">
          <th>ID</th>
          <th>Nombre</th>
          <th></th>
          <tbody>
            <tr v-for="(v, i) in p.Conceptos" :key="v">
              <td>{{ nombreConcepto(v) }}</td>
              <td>
                <b-button
                  icon-left="close-circle"
                  @click="quitarConcepto(i)"
                ></b-button>
              </td>
            </tr>
          </tbody>
        </tabla>
        <p v-else>Ningún concepto permitido</p>
        <b-select v-model="conceptoSeleccionado">
          <option v-for="v in conceptos" :key="v.ID" :value="v.ID">
            {{ v.Nombre }}
          </option>
        </b-select>
        <b-button @click="agregarConcepto()">Agregar</b-button>
      </b-field>

      <!-- ALICUOTAS -->
      <b-field label="Alícuotas">
        <tabla v-if="p.Alicuotas">
          <th>ID</th>
          <th>Nombre</th>
          <th></th>
          <tbody>
            <tr v-for="(v, i) in p.Alicuotas" :key="v">
              <td>{{ nombreAlicuota(v) }}</td>
              <td>
                <b-button
                  icon-left="close-circle"
                  @click="quitarAlicuota(i)"
                ></b-button>
              </td>
            </tr>
          </tbody>
        </tabla>
        <p v-else>Ningúna alícuota permitida</p>
        <b-select v-model="alicuotaSeleccionada">
          <option v-for="v in alicuotas" :key="v.ID" :value="v.ID">
            {{ v.Nombre }}
          </option>
        </b-select>
        <b-button @click="agregarAlicuota()">Agregar</b-button>
      </b-field>

      <!-- CONTRA CUENTA -->
      <b-field label="Cuenta contable patrimonial" horizontal v-if="p">
        <b-select v-model="p.ContraCuenta" ref="persona">
          <option
            v-for="v in cuentasConApertura"
            :value="v.ID"
            :key="v.ID"
            :class="{ fontWeight: 'bolder' }"
          >
            {{ v.Nombre }}
          </option>
        </b-select>
      </b-field>
    </div>
    <footer class="modal-card-foot">
      <b-button class="is-primary" @click="aceptar()">Aceptar</b-button>
      <b-button @click="cancelar()">Cancelar</b-button>
      <b-button @click="eliminar()" class="is-danger" v-if="!esNuevo"
        >Eliminar</b-button
      >
    </footer>

    <b-loading
      is-full-page
      :active.sync="cargando"
      :can-cancel="true"
    ></b-loading>
  </div>
</template>
<script lang="ts">
import { PartidaDirectaConfig } from "@/modules/fact_esquemas/interfaces";
import { Cuenta } from "@/interfaces/cuentas";
import { Alicuota, Concepto } from "@/modules/afip/afip";
import Vue from "vue";
export default Vue.extend({
  props: {
    bus: {
      required: true,
      type: Object,
    },
    partida: {
      required: false,
      type: Object as () => PartidaDirectaConfig,
    },
    index: {
      required: false,
      type: Number,
    },
  },
  data() {
    return {
      cargando: false as boolean,

      p: null as null | PartidaDirectaConfig,
      conceptoSeleccionado: null as null | string,
      alicuotaSeleccionada: null as null | string,
    };
  },
  created() {
    if (this.esNuevo) {
      this.p = {
        Cuenta: null,
        Conceptos: [],
        Alicuotas: [],
        ContraCuenta: null,
      } as PartidaDirectaConfig;
    } else {
      this.p = Object.assign({}, this.partida);
    }
  },

  methods: {
    cancelar() {
      (this.$parent as any).close();
    },
    aceptar() {
      if (!this.p) {
        return;
      }
      if (!this.p.Cuenta) {
        this.$buefy.dialog.alert({
          message: "Debe seleccionar una cuenta contable",
          type: "is-danger",
          hasIcon: true,
          title: "Validación",
        });
        return;
      }
      if (this.esNuevo) {
        this.bus.$emit("partidaDirectaCreada", this.p);
      } else {
        this.bus.$emit("partidaDirectaModificada", this.p, this.index);
      }
      (this.$parent as any).close();
    },
    eliminar() {
      if (this.esNuevo) {
        return;
      }
      this.bus.$emit("partidaDirectaEliminada", this.index);
      this.cancelar();
    },
    nombreConcepto(id: number): string {
      let cto = this.$store.getters["iva/conceptoPorID"](id);
      if (!cto) {
        return String(id);
      }
      return cto.Nombre;
    },
    agregarConcepto() {
      if (!this.p) {
        return;
      }
      if (!this.conceptoSeleccionado) {
        this.$buefy.dialog.alert({
          message: "Debe seleccionar un concepto",
          type: "is-danger",
          hasIcon: true,
          title: "Validación",
        });
        return;
      }
      if (this.p.Conceptos.includes(this.conceptoSeleccionado)) {
        this.$buefy.dialog.alert({
          message: "El item ya se encontraba agregado",
          type: "is-danger",
          hasIcon: true,
          title: "Validación",
        });
      } else {
        this.p.Conceptos.push(this.conceptoSeleccionado);
      }
    },
    quitarConcepto(idx: number) {
      if (!this.p) {
        return;
      }
      this.p.Conceptos.splice(idx, 1);
    },
    nombreAlicuota(id: number): string {
      let v = this.$store.getters["iva/alicuotaPorID"](id);
      if (!v) {
        return String(id);
      }
      return v.Nombre;
    },
    agregarAlicuota() {
      if (!this.p) {
        return;
      }
      if (!this.alicuotaSeleccionada) {
        return;
      }
      if (this.p.Alicuotas.includes(this.alicuotaSeleccionada)) {
        this.$buefy.dialog.alert({
          message: "El item ya se encontraba agregado",
          type: "is-danger",
          hasIcon: true,
        });
      } else {
        this.p.Alicuotas.push(this.alicuotaSeleccionada);
      }
    },
    quitarAlicuota(idx: number) {
      if (!this.p) {
        return;
      }
      this.p.Alicuotas.splice(idx, 1);
    },
  },
  computed: {
    esNuevo(): boolean {
      if (!this.partida) {
        return true;
      }
      return false;
    },
    cuentas(): Cuenta[] {
      return this.$store.getters["cuentas/todas"]();
    },
    cuentasConApertura(): Cuenta[] {
      return this.$store.getters["cuentas/conAperturaRestrictivaPorPersona"];
    },
    conceptos(): Concepto {
      return this.$store.getters["iva/conceptos"];
    },
    alicuotas(): Alicuota {
      return this.$store.getters["iva/alicuotas"];
    },
  },
});
</script>
