<template>
  <div class="box">
    <h1>Permisos</h1>

    <div class="isla">
      <h2>Familias de productos</h2>
      <div class="flex">
        <b-select class="item">
          <option :value="null">Seleccione</option>
          <option
            v-for="v in familiasProductos"
            :value="v.ID"
            v-bind:key="v.ID"
          >
            {{ v.Nombre }}
          </option>
        </b-select>

        <b-button
          icon-left="plus-circle"
          @click="agregarRenglonValores()"
          class="item"
        >
        </b-button>
      </div>
    </div>
  </div>
</template>
<script>
export default {};
</script>

<style lang="scss" scoped>
div.flex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
div.item {
  margin-right: 15px;
}
</style>
