<template>
  <div class="modal-card">
    <header class="modal-card-head">
      <h1 class="modal-card-title">
        Arqueo
      </h1>
    </header>
    <div class="modal-card-body">
      <tabla>
        <tbody>
          <tr v-for="v in denominaciones" :key="v">
            <td align="right">$ {{ v }}</td>
            <td>
              <b-input v-model.number="billetes[v]" custom-class="d2"></b-input>
            </td>
            <td align="right">$ {{ totalPorDenominacion(v) | enPesos }}</td>
          </tr>
        </tbody>
        <tfoot>
          <td></td>
          <td align="right">Total</td>
          <td align="right">
            <strong> {{ total | enPesos }}</strong>
          </td>
        </tfoot>
      </tabla>

      <!-- <b-field>
      </b-field>

      <b-field>
        <b-input v-model="billetes[v]" custom-class="d2"></b-input>
      </b-field> -->
    </div>

    <footer class="modal-card-foot">
      <b-button class="is-primary" @click="aceptar()">Aceptar</b-button>
      <b-button @click="cancelar()">Cancelar</b-button>
    </footer>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import { Cuenta } from "@/interfaces/cuentas";
import Tabla from "../../../components/widgets/Tabla.vue";

export default Vue.extend({
  props: {
    bus: {
      type: Object,
      required: true
    },
    cuenta: {
      type: String,
      required: true
    },
    arqueo: {
      type: Object as () => any
    }
  },
  data() {
    return {
      denominaciones: [
        "20000",
        "10000",
        "2000",
        "1000",
        "500",
        "200",
        "100",
        "50",
        "20",
        "10",
        "5",
        "2",
        "1"
      ] as string[],
      billetes: {} as any
    };
  },
  created() {
    if (this.arqueo) {
      for (let k of Object.keys(this.arqueo)) {
        this.billetes[k] = this.arqueo[k];
      }
    }
  },
  methods: {
    cancelar() {
      (this.$parent as any).close();
    },
    aceptar() {
      this.bus.$emit("arqueoModificado", this.cuenta, this.billetes);
      this.cancelar();
    },
    totalPorDenominacion(denominacion: string): number {
      let den = parseFloat(denominacion);
      let cant = this.billetes[denominacion];
      if (!cant) {
        return 0;
      }
      return den * cant;
    }
  },
  computed: {
    cuentas(): Cuenta[] {
      return this.$store.getters["cuentas/imputables"];
    },

    total() {
      let sum = 0;
      for (let v of this.denominaciones) {
        sum += this.totalPorDenominacion(v);
      }
      return sum;
    }
  }
});
</script>

<style scoped>
div.modal-card-body {
  overflow-y: scroll;
}
h2 {
  font-weight: bolder;
  margin-top: 1.5em;
  font-size: 130%;
  margin-bottom: 0.5em;
}
label.lbl {
  margin-bottom: 0px;
  color: red;
}
</style>
