<template>
  <div>
    <div class="titulo-de-pantalla">
      <h1>Libro diario</h1>
    </div>

    <b-field label="Empresa">
      <b-select v-model="empresa" class="form-control">
        <option
          v-for="empresa in empresas"
          :key="empresa.ID"
          :value="empresa.ID"
          >{{ empresa.Nombre }}</option
        >
      </b-select>
    </b-field>
    <b-field label="Desde">
      <b-input type="date" v-model="desde" class="form-control" />
    </b-field>

    <b-field label="Hasta">
      <b-input type="date" v-model="hasta" class="form-control" />
    </b-field>

    <b-field label="Fecha cierre de ejercicio">
      <b-input type="date" v-model="fechaCierre" class="form-control" />
    </b-field>

    <b-field label="Formato de salida">
      <b-select v-model="salida" class="form-control">
        <option>JSON</option>
        <option>PDF</option>
      </b-select>
    </b-field>

    <b-button @click="generar()" class="is-primary">Generar</b-button>
    <b-loading
      is-full-page
      :active.sync="cargando"
      :can-cancel="true"
    ></b-loading>
  </div>
</template>

<script>
import eventBus from "@/eventBus.ts";
import axios from "axios";
export default {
  data() {
    return {
      empresa: null,
      desde: "2016-05-01",
      hasta: "2016-05-31",
      fechaCierre: "",
      salida: "PDF",

      cargando: false
    };
  },
  created() {
    if (this.$route.query.empresa) {
      this.empresa = this.$route.query.empresa;
    } else {
      this.empresa = this.$store.state.empresas.seleccionada;
    }
	document.title = "Libro diario"
  },
  methods: {
    generar() {
      this.cargando = true;
      axios({
        method: "post",
        url: "backend/contables/libro_diario",
        data: {
          Empresa: this.empresa,
          Desde: this.desde,
          Hasta: this.hasta,
          FechaCierre: this.fechaCierre,
          Salida: this.salida
        },
        responseType: "arraybuffer"
      })
        .then(res => {
          let blob = new Blob([res.data], { type: "application/pdf" }),
            url = window.URL.createObjectURL(blob);
          this.cargando = false;
          window.open(url);
        })
        .catch(err => {
          eventBus.$emit("error", err);
          this.cargando = false;
        });
    }
  },
  computed: {
    empresas() {
      return this.$store.getters["empresas/permitidas"];
    }
  }
};
</script>
