<template>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Buscar ciudad</p>
    </header>

    <section class="modal-card-body">
      <b-field>
        <b-field>
          <b-input
            type="search"
            icon="magnify"
            placeholder="Nombre ciudad o CP"
            v-model="texto"
            ref="texto"
            @keydown.native.enter="actualizar()"
          >
          </b-input>
        </b-field>
        <b-field>
          <b-select v-model="provinciaSeleccionada">
            <option :value="null">Todas las provincia</option>
            <option v-for="v in provincias" v-bind:key="v.ID" :value="v.ID">{{
              v.Nombre
            }}</option>
          </b-select>
        </b-field>
        <b-field>
          <b-button class="is-primary" @click="actualizar()">Buscar</b-button>
        </b-field>
      </b-field>
      <div>
        <tabla>
          <thead>
            <th>Nombre ciudad</th>
            <th>CP</th>
            <th>Provincia</th>
          </thead>
          <tbody>
            <tr
              v-for="v in ciudades"
              v-bind:key="v.ID"
              @click="seleccionar(v)"
              class="link"
            >
              <td>{{ v.Nombre }}</td>
              <td>{{ v.CP }}</td>
              <td>{{ v.ProvinciaNombre }}</td>
            </tr>
          </tbody>
        </tabla>
      </div>
    </section>

    <footer class="modal-card-foot">
      <b-button @click="$parent.close()">Volver</b-button>
    </footer>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import axios from "axios";
// import debounce from "debounce";
import eventBus from "@/eventBus";
import { Ciudad, Provincia } from "@/interfaces/domicilios";
export default Vue.extend({
  props: ["bus"],
  data() {
    return {
      provincias: [] as Provincia[],
      provinciaSeleccionada: null as null | string,
      ciudades: [] as Ciudad[],

      texto: "" as string,
      cargando: false as boolean
    };
  },
  created() {
    axios
      .get("/backend/geo/provincias")
      .then(response => {
        //data.unshift({ id: 0, nombre: "Todas" });
        this.provincias = response.data;
      })
      .catch(err => {
        eventBus.$emit("error", err);
      });
  },
  mounted() {
    (this.$refs.texto as any).focus();
  },
  methods: {
    seleccionar(v: Ciudad) {
      this.bus.$emit("ciudadSeleccionada", v);
      this.cerrar();
    },
    actualizar() {
      this.cargando = true;
      axios
        .post("/backend/geo/ciudades", {
          Provincia: this.provinciaSeleccionada,
          Texto: this.texto
        })
        .then(res => {
          this.ciudades = res.data;
          this.cargando = false;
        })
        .catch(err => {
          eventBus.$emit("error", err);
          this.cargando = false;
        });
    },
    cerrar() {
      (this.$parent as any).close();
    }
  }
});
</script>
