<template>
  <div class="modal-card">
    <header class="modal-card-head">
      <h1 class="modal-card-title">Buscar persona</h1>
    </header>
    <section class="modal-card-body">
      <div class="field has-addons" custom-class="txt-buscar">
        <b-input
          type="search"
          v-model="texto"
          icon="magnify"
          ref="cajaBuscar"
          custom-class="txt-buscar"
          @keypress.enter.native="buscar()"
        />
        <b-button class="is-info" @click="buscar()">Buscar</b-button>
      </div>
      <div id="tabla" v-if="personas">
        <div v-if="personas.length">
          <tabla>
            <thead>
              <th>Nombre</th>
              <th>Nombre Fantasía</th>
              <th>CUIT</th>
              <th>DNI</th>
              <th>Provincia</th>
              <th>Localidad</th>
              <th>Direccion</th>
            </thead>
            <tbody>
              <tr
                v-for="c in personas"
                :key="c.ID"
                @click="seleccionar(c)"
                :class="{ link: c.Activo, inactivo: !c.Activo }"
              >
                <td>
                  <b-button @click="seleccionar(c)" class="nombre-persona">{{
                    c.Nombre
                  }}</b-button>
                </td>
                <td>{{ c.NombreFantasia }}</td>
                <td>{{ c.CUIT }}</td>
                <td>{{ c.DNI }}</td>
                <td>{{ c.ProvinciaNombre }}</td>
                <td>{{ c.CiudadNombre }}</td>
                <td>{{ c.Calle }} {{ c.Numero }} {{ c.Piso }} {{ c.Depto }}</td>
              </tr>
            </tbody>
          </tabla>
        </div>
        <div v-if="personas && !personas.length">
          <div>No se encontró ninguna persona</div>
        </div>
      </div>
    </section>
    <footer class="modal-card-foot">
      <b-button class="is-success" @click="nuevaPersona()"
        >Crear nueva</b-button
      >
    </footer>
    <b-loading
      is-full-page
      :active="cargando != 0"
      :can-cancel="true"
    ></b-loading>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import axios from "axios";
import { Persona } from "./persona";
import { Cuenta } from "@/interfaces/cuentas";
import eventBus from "@/eventBus";
export default Vue.extend({
  // Al este bus envío los eventos
  props: {
    bus: {
      required: true,
      type: Vue,
    },
    // Cuando quiero ver personas que tenga un tipo determinado de cuenta.
    cuentas: {
      type: Array as () => Array<string>,
    },
  },
  data() {
    return {
      texto: "",
      personas: null as Persona[] | null,
      cargando: 0 as number,
    };
  },
  created() {
    if (this.cuentas) {
      if (this.cuentas.length) {
        let buscar = true;
        for (let v of this.cuentas) {
          let cta: Cuenta = this.$store.getters["cuentas/porID"](v);
          if (cta) {
            if (!cta.AperturaPersonaRestrictiva) {
              buscar = false;
              break;
            }
          }
        }
        if (buscar) {
          this.buscar();
        }
      }
    }
  },
  mounted() {
    this.darFocus();
  },
  methods: {
    darFocus() {
      (this.$refs as any).cajaBuscar.focus();
    },
    cerrar() {
      this.bus.$emit("cerrarPersonas");
    },
    seleccionar(persona: Persona) {
      if (!persona) {
        return;
      }
      if (!persona.Activo) {
        return;
      }
      this.bus.$emit("personaSeleccionada", persona.ID);
      (this.$parent as any).close();
    },
    buscar() {
      this.cargando++;
      axios
        .post("/backend/personas/many", {
          Texto: this.texto,
          Cuentas: this.cuentas,
        })
        .then((res) => {
          this.personas = res.data;
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },
    nuevaPersona() {
      let routeData = this.$router.resolve({
        name: "persona",
        query: { search: this.texto },
      });
      window.open(routeData.href, "_blank");
    },
  },
});
</script>

<style lang="scss" scoped>
button.nombre-persona {
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  height: 1em;
}

.txt-buscar {
  width: 500em;
}
div#tabla {
  overflow: scroll;
  table {
    width: 100%;
  }
}
button#btn-cerrar {
  font-weight: 600;
  font-size: 1em;
  position: absolute;
  right: 15px;
  top: 15px;
  padding: 6px;
  width: 25px;
  height: 25px;
  background-color: transparent;
}
.inactivo > * {
  color: red;
}
</style>
