<template>
  <div id="domicilio-wrapper" class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">
        {{ titulo }}
      </p>
    </header>

    <section class="modal-card-body">
      <div>
        <b-field label="Tipo">
          <b-select v-model="d.Tipo">
            <option v-for="tipo of tipos" :key="tipo">{{ tipo }}</option>
          </b-select>
        </b-field>
      </div>
      <div>
        <b-field label="Ciudad"> </b-field>
        <div>
          {{ nombreComputado }}
          <b-button
            @click="abrirCiudades()"
            icon-left="magnify"
            class="is-primary"
          ></b-button>
        </div>
      </div>
      <div>
        <b-field label="Calle">
          <b-input type="text" class="form-control" v-model="d.DomCalle">
          </b-input>
        </b-field>
      </div>
      <div class="flex">
        <b-field label="Número" class="item">
          <b-input type="text" class="form-control" v-model="d.DomNumero" />
        </b-field>
        <b-field label="Piso" class="item">
          <b-input type="text" class="form-control" v-model="d.DomPiso" />
        </b-field>
        <b-field label="Departamento" class="item">
          <b-input type="text" class="form-control" v-model="d.DomDpto" />
        </b-field>
      </div>
    </section>
    <footer>
      <div class="modal-card-foot">
        <b-button @click="guardar()" class="button is-primary"
          >Guardar</b-button
        >
        <b-button @click="cerrar()">Cancelar</b-button>
      </div>
    </footer>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import BuscarCiudad from "./BuscarCiudad.vue";
import { Ciudad, Domicilio } from "@/interfaces/domicilios";
export default Vue.extend({
  props: {
    domicilio: {
      type: Object as () => Domicilio
    },
    i: {
      type: Number
    },
    tipoDefault: {
      type: String
    },
    bus: {
      type: Vue,
      required: true
    }
  },
  components: {
    BuscarCiudad
  },
  data() {
    return {
      tipos: ["Legal", "Depósito", "AFIP", "Otro"] as string[],
      nombreComputado: "" as string,
      d: {
        ID: "",
        Tipo: this.tipoDefault,
        DomCalle: "",
        DomNumero: "",
        DomPiso: "",
        DomDpto: "",
        CiudadID: 0,
        CiudadCP: 0,
        CiudadNombre: "",
        ProvinciaID: 0,
        ProvinciaNombre: ""
      } as Domicilio
    };
  },
  created() {
    if (!this.esNuevo) {
      this.d = Object.assign({}, this.domicilio);
    }

    if (this.d.CiudadID) {
      this.nombreComputado =
        this.d.CiudadNombre +
        " (" +
        this.d.CiudadCP +
        ") - " +
        this.d.ProvinciaNombre;
    }
    this.bus.$on("ciudadSeleccionada", (ciudad: Ciudad) => {
      if (!ciudad) {
        this.d.CiudadID = 0;
        this.d.ProvinciaID = 0;
        this.d.ProvinciaNombre = "";
        this.d.CiudadNombre = "";
        this.d.CiudadCP = 0;
      } else {
        this.d.CiudadID = ciudad.ID;
        this.d.ProvinciaID = ciudad.Provincia;
        this.d.ProvinciaNombre = ciudad.ProvinciaNombre;
        this.d.CiudadNombre = ciudad.Nombre;
        this.d.CiudadCP = ciudad.CP;
        this.nombreComputado =
          this.d.CiudadNombre +
          " (" +
          this.d.CiudadCP +
          ") - " +
          this.d.ProvinciaNombre;
      }
    });
  },

  methods: {
    abrirCiudades() {
      this.$buefy.modal.open({
        parent: this,
        component: BuscarCiudad,
        hasModalCard: true,
        trapFocus: true,
        scroll: "clip",
        fullScreen: true,
        props: { bus: this.bus }
      });
    },
    fijarCiudad(ciudad: Ciudad) {},
    // Guarda los cambios y cierra la pantalla
    guardar() {
      if (this.esNuevo) {
        this.bus.$emit("domicilioAgregado", this.d);
        this.cerrar();
      } else {
        this.bus.$emit("domicilioModificado", this.d, this.i);
        this.cerrar();
      }
    },
    // Cierra la pantalla sin guardar los cambios
    cerrar() {
      (this.$parent as any).close();
    }
  },
  computed: {
    titulo(): string {
      if (this.esNuevo) {
        return "Nuevo domicilio";
      }
      return "Modificar domicilio";
    },
    esNuevo(): boolean {
      if (this.domicilio) {
        return false;
      }
      return true;
    }
  }
  // watch: {
  //   buscarCiudad(nombre: string) {
  //     if (nombre.length < 4) {
  //       this.ciudades = "";
  //       this.dropCiudadesVisible = false;
  //       return;
  //     }
  //     this.dropCiudadesVisible = true;
  //     //this.$log("disparado ", nombre,"persona: ", this.persona, "provincia: ", this.persona.provincia)
  //     axios
  //       .post("/backend/domicilios/ciudades", {
  //         Texto: this.buscarCiudad,
  //         Provincia: this.d.ProvinciaID
  //       })
  //       .then(data => {
  //         this.ciudades = data.data;
  //         if (this.ciudades.length == 0) {
  //           this.dropCiudadesVisible = false;
  //         }
  //       })
  //       .catch(err => eventBus.$emit("error", err));
  //   }
  // }
});
</script>

<style lang="scss" scoped>
div#domicilio-wrapper {
  background-color: white;
  div.flex {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  div.item {
    // margin-right: 15px;
    // width: 33%;
    flex-grow: 2;
    border: solid 0.5em transparent;
    box-sizing: border-box;
  }
}
</style>
