<template>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">{{ titulo }}</p>
    </header>

    <section class="modal-card-body">
      <b-field label="E-Mail">
        <b-input type="text" v-model="email.Email"> </b-input>
      </b-field>
      <b-field label="Detalle">
        <b-input type="text" name="detalle" v-model="email.Descripcion">
        </b-input>
      </b-field>
      <b-field label="">
        <b-checkbox
          v-model="email.NoEnviarAutomaticamente"
          :false-value="true"
          :true-value="false"
          >No enviar comprobantes a este mail
        </b-checkbox>
      </b-field>
    </section>

    <footer class="modal-card-foot">
      <b-button class="is-primary" @click="guardar()">
        Guardar
      </b-button>
      <b-button @click="cerrar()">
        Cancelar
      </b-button>
    </footer>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import eventBus from "@/eventBus"
export default Vue.extend({
  props: ["email", "i", "bus", "crud"],
  methods: {
    guardar() {
			const re = /^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/
			if (!re.test(this.email.Email)) {
        eventBus.$emit(
          "error",
          new Error("La dirección no es válida, por favor verifíquela."),
        );
				return
			}
      if (this.crud == "Nuevo") {
        this.bus.$emit("mailAgregado", this.email);
      } else {
        this.bus.$emit("mailModificado", this.email, this.i);
      }
      this.cerrar();
    },

    cerrar() {
      (this.$parent as any).close();
    }
  },
  computed: {
    titulo(): string {
      if (this.crud == "Nuevo") {
        return "Nuevo E-Mail";
      }
      return "Modificar E-Mail";
    }
  }
});
</script>
<style lang="scss" scoped>
section.modal-card-body {
  background-color: white;
}
</style>
