<template>
  <div>
    <p v-if="rr && rr.length == 0">No existen reclamos</p>
    <table class="tabla" v-if="rr && rr.length" expanded>
      <thead>
        <th>Fecha</th>
        <th>Días</th>
        <th>Detalle</th>
        <th>Usuario</th>
      </thead>
      <tbody>
        <tr v-for="v in rr" :key="v.ID" @click="mostrar(v)">
          <td>{{ v.TS | enFechaHora }}</td>
          <td>{{ v.Dias }}</td>
          <td>{{ v.Detalle }}</td>
          <td>{{ v.Usuario }}</td>
        </tr>
      </tbody>
    </table>
    <b-button @click="nuevoReclamo()" style="margin-top: 16px" type="is-success"
      >Nuevo</b-button
    >
    <b-loading is-full-page :active="cargando != 0" />
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import axios from "axios";
import eventBus from "@/eventBus";
import Reclamo from "../components/Reclamo.vue";

type Reclamo = {
  ID: string;
  TS: string;
  Dias: number;
  Persona: string;
  Sucursal?: string;
  Tipo: string;
  TipoNombre: string;
  Usuario: string;
  Detalle: string;
};
export default Vue.extend({
  data() {
    return {
      cargando: 0 as number,
      rr: [] as Reclamo[],
      bus: new Vue(),
    };
  },
  props: {
    persona: {
      required: true,
      type: String,
    },
  },
  created() {
    this.bus.$on("reclamo-creado", () => {
      this.fetch();
    });
    this.fetch();
  },
  methods: {
    fetch() {
      this.cargando++;
      axios
        .get("/backend/reclamos/", { params: { persona: this.persona } })
        .then((res) => {
          this.rr = res.data;
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => {
          this.cargando--;
        });
    },
    mostrar(v: Reclamo) {
      this.$buefy.modal.open({
        parent: this,
        component: Reclamo,
        hasModalCard: true,
        trapFocus: true,
        fullScreen: false,
        scroll: "clip",
        props: {
          reclamoProp: v,
          bus: this.bus,
        },
      });
    },
    nuevoReclamo() {
      this.$buefy.modal.open({
        parent: this,
        component: Reclamo,
        hasModalCard: true,
        trapFocus: true,
        fullScreen: false,
        scroll: "clip",
        props: {
          persona: this.persona,
          bus: this.bus,
        },
      });
    },
  },
  watch: {
    persona(val) {
      if (val) {
        this.fetch();
      }
    },
  },
});
</script>
