<template>
  <div class="modal-card" id="atributo-wrapper">
    <header class="modal-card-head">
      <h1 class="modal-card-title">
        {{ titulo }}
      </h1>
    </header>
    <section class="modal-card-body">
      <b-field label="Creación" horizontal v-if="!esNuevo">
        <p class="input disabled">
          {{ reclamo.TS | enFechaHora }} por {{ reclamo.Usuario }}
        </p>
      </b-field>
      <b-field label="Tipo" horizontal>
        <b-select v-model="reclamo.Tipo">
          <option v-for="v in tipos" :value="v.ID">{{ v.Nombre }}</option>
        </b-select>
      </b-field>
      <b-field label="Detalle" horizontal>
        <b-input
          v-model="reclamo.Detalle"
          type="textarea"
          ref="detalleInput"
        ></b-input>
      </b-field>
    </section>

    <footer class="modal-card-foot">
      <b-button class="is-primary" @click="guardar()" v-if="esNuevo"
        >Aceptar</b-button
      >
      <b-button @click="cancelar()">Cancelar</b-button>
    </footer>
    <b-loading is-full-page :active="cargando != 0" />
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import axios from "axios";
import eventBus from "@/eventBus";
type ReclamoTipo = {
  ID: string;
  Nombre: string;
};
type Reclamo = {
  ID?: string;
  TS?: string;
  Persona: string | null;
  Sucursal?: string;
  Tipo: string | null;
  Usuario?: string;
  Detalle: string;
};
export default Vue.extend({
  props: {
    bus: {
      type: Vue,
      required: true,
    },
    persona: {
      type: String,
      required: false,
    },
    sucursal: {
      type: String,
      required: false,
    },
    reclamoProp: {
      type: Object as () => Reclamo,
    },
  },
  data() {
    return {
      reclamo: { Tipo: null, Detalle: "", Persona: this.persona } as Reclamo,
      tipo: null as string | null,
      cargando: 0 as number,
      tipos: [] as ReclamoTipo[],
    };
  },
  created() {
    this.fetchReclamosTipos();
    if (!this.esNuevo) {
      this.reclamo = Object.assign({}, this.reclamoProp);
    }
  },
  methods: {
    cancelar() {
      (this.$parent as any).close();
    },
    guardar() {
      this.crearReclamo();
    },
    crearReclamo() {
      if (!this.reclamo.Tipo) {
        eventBus.$emit("error", "Debe ingresar un tipo de reclamo");
        return;
      }
      if (!this.reclamo.Detalle) {
        eventBus.$emit("error", "Debe ingresar un detalle");
        return;
      }

      axios
        .post("/backend/reclamos", this.reclamo)
        .then(() => {
          this.bus.$emit("reclamo-creado");
          this.cerrarVentana();
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => {
          this.cargando--;
        });
    },
    fetchReclamosTipos() {
      this.cargando++;
      axios
        .get("/backend/reclamos/tipos")
        .then((res) => {
          this.tipos = res.data;
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => {
          if (this.esNuevo) {
            if (this.tipos && this.tipos.length == 1) {
              this.reclamo.Tipo = this.tipos[0].ID;
              (this.$refs.detalleInput as any).focus();
            }
          }
          this.cargando--;
        });
    },
    cerrarVentana() {
      (this.$parent as any).close();
    },
  },
  computed: {
    esNuevo(): boolean {
      if (this.reclamoProp) {
        return false;
      }
      return true;
    },
    titulo(): string {
      if (this.esNuevo) {
        return "Nuevo reclamo";
      }
      return "Reclamo";
    },
  },
});
</script>
