<template>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">
        {{ titulo }}
      </p>
    </header>
    <section class="modal-card-body">
      <div>
        <b-field label="Tipo">
          <b-select v-model="tel.Tipo">
            <option value="">Seleccione</option>
            <option value="Móvil">Móvil</option>
            <option value="Fijo">Fijo</option>
          </b-select>
        </b-field>
      </div>
      <div>
        <b-field label="Area (sin el cero)">
          <b-input type="number" v-model="tel.Area" />
        </b-field>
      </div>

      <div>
        <b-field label="Número">
          <b-input v-model="tel.Numero"> </b-input>
        </b-field>
      </div>
      <div>
        <b-field label="Detalle">
          <b-input v-model="tel.Detalle" />
        </b-field>
      </div>
    </section>
    <footer class="modal-card-foot">
      <b-button class="is-primary" @click="guardar()">Guardar</b-button>
      <b-button @click="cerrar()">Cancelar</b-button>
    </footer>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import eventBus from "@/eventBus";
export default Vue.extend({
  props: ["tel", "i", "bus", "crud"],
  computed: {
    titulo() {
      if (this.crud == "Nuevo") {
        return "Nuevo teléfono";
      } else {
        return "Modificar teléfono";
      }
    },
  },
  methods: {
    guardar() {
      // Valido
      if (this.tel.Numero == "" || this.tel.Numero == undefined) {
        eventBus.$emit("error", "Debe ingresar un número de teléfono");
        return;
      }
			this.tel.Area = String(this.tel.Area)
			this.tel.Numero = String(this.tel.Numero)
			const re = new RegExp("^[0-9]{10}$")
			if (!re.test(this.tel.Area + this.tel.Numero)) {
				console.log(this.tel.Area, this.tel.Numero)
        eventBus.$emit(
          "error",
          new Error("Código de area + número deben ser todos números y tener un largo de 10 caracteres"),
        );
        return;
      }
      this.tel.NumeroCompleto = this.tel.Area + "-" + this.tel.Numero;

      // Realizo la accion
      if (this.crud == "Nuevo") {
        this.bus.$emit("telefonoAgregado", this.tel);
      } else {
        this.bus.$emit("telefonoModificado", this.tel, this.i);
      }
      this.cerrar();
    },
    cerrar() {
      (this.$parent as any).close();
    },
    fullnumber() {
      return this.tel.Area.toString() + this.tel.Numero.toString();
    },
  },
});
</script>
