<template>
  <div>
    <div class="box">
      <div>
        <h1>Libro de IVA</h1>
      </div>

      <b-field label="Empresa">
        <b-select v-model="empresa" class="form-control">
          <option
            v-for="empresa in empresas"
            v-bind:key="empresa.ID"
            :value="empresa.ID"
            >{{ empresa.Nombre }}</option
          >
        </b-select>
      </b-field>

      <div v-if="empresa">

        <b-field>
          <b-field label="Desde">
            <b-input type="date" v-model="desde" custom-class="fch" />
          </b-field>

          <b-field label="Hasta">
            <b-input type="date" v-model="hasta" custom-class="fch" />
          </b-field>
        </b-field>

        <b-field label="Versión">
          <b-select v-model="version" class="form-control">
            <option>Por actividad</option>
            <option>Libro de IVA digital</option>
          </b-select>
        </b-field>

        <b-field label="Tipo" v-if="version == 'Por actividad'">
          <b-select v-model="tipo" class="form-control">
            <option :value="null">Seleccione</option>
            <option value="Compras">IVA Compras</option>
            <option value="Ventas">IVA Ventas</option>
          </b-select>
        </b-field>


        <b-field label="Formato salida" v-if="version == 'Por actividad'">
          <b-select v-model="salida" class="form-control">
            <option value="pdf">PDF</option>
            <option value="xlsx">Excel</option>
          </b-select>
        </b-field>
        <b-button class="is-primary" @click="generar()">Generar</b-button>
      </div>
    </div>

    <div v-if="libroDigital && version == 'Libro de IVA digital'">
      <b-field label="Compras">
        <b-field>
          <b-button
            icon-left="download"
            @click="
              downloadString(
                libroDigital.ComprasCabeceras,
                'Compras - Cabecera'
              )
            "
            >Cabeceras</b-button
          >
          <b-button
            icon-left="download"
            @click="
              downloadString(
                libroDigital.ComprasAlicuotas,
                'Compras - Alícuotas'
              )
            "
            >Alícuotas
          </b-button>
        </b-field>
      </b-field>
      <b-field label="Ventas">
        <b-field
          ><b-button
            icon-left="download"
            @click="
              downloadString(libroDigital.VentasCabeceras, 'Ventas - Cabecera')
            "
            >Cabeceras</b-button
          ></b-field
        ><b-button
          icon-left="download"
          @click="
            downloadString(libroDigital.VentasAlicuotas, 'Ventas - Alícuotas')
          "
          >Alícuotas</b-button
        ></b-field
      >
    </div>

    <div class="box" v-if="version == 'Libro de IVA digital'">
      <h1>Datos resumen</h1>
      <tabla v-if="libroDigital && libroDigital.Resumen">
        <thead>
          <th>Concepto</th>
          <th align="center">Neto gravado</th>
          <th align="center">Exento o No Gravado</th>
          <th align="center">Débito fiscal</th>
        </thead>
        <tbody>
          <tr>
            <td>Operaciones de venta</td>
            <td align="right">
              {{ libroDigital.Resumen.VentasNeto | enPesos }}
            </td>
            <td align="right">
              {{ libroDigital.Resumen.VentasNoGravado | enPesos }}
            </td>
            <td align="right">
              {{ libroDigital.Resumen.VentasIVA | enPesos }}
            </td>
          </tr>
          <tr>
            <td>Notas de crédito de ventas</td>
            <td align="right">
              {{ libroDigital.Resumen.VentasNCNeto | enPesos }}
            </td>
            <td align="right">
              {{ libroDigital.Resumen.VentasNCNoGravado | enPesos }}
            </td>
            <td align="right">
              {{ libroDigital.Resumen.VentasNCIVA | enPesos }}
            </td>
          </tr>
          <tr>
            <td align="right">Total VENTAS</td>
            <td align="right">
              {{
                (libroDigital.Resumen.VentasNeto +
                  libroDigital.Resumen.VentasNCNeto)
                  | enPesos
              }}
            </td>
            <td align="right">
              {{
                (libroDigital.Resumen.VentasNoGravado +
                  libroDigital.Resumen.VentasNCNoGravado)
                  | enPesos
              }}
            </td>
            <td align="right">
              {{
                (libroDigital.Resumen.VentasIVA +
                  libroDigital.Resumen.VentasNCIVA)
                  | enPesos
              }}
            </td>
          </tr>
          <tr>
            <td colspan="4"></td>
          </tr>
          <tr>
            <td>Operaciones de compras</td>
            <td align="right">
              {{ libroDigital.Resumen.ComprasNeto | enPesos }}
            </td>
            <td align="right">
              {{ libroDigital.Resumen.ComprasNoGravado | enPesos }}
            </td>
            <td align="right">
              {{ libroDigital.Resumen.ComprasIVA | enPesos }}
            </td>
          </tr>
          <tr>
            <td>Notas de crédito de compras</td>
            <td align="right">
              {{ libroDigital.Resumen.ComprasNCNeto | enPesos }}
            </td>
            <td align="right">
              {{ libroDigital.Resumen.ComprasNCNoGravado | enPesos }}
            </td>
            <td align="right">
              {{ libroDigital.Resumen.ComprasNCIVA | enPesos }}
            </td>
          </tr>
          <tr>
            <td align="right">Total COMPRAS</td>
            <td align="right">
              {{
                (libroDigital.Resumen.ComprasNeto +
                  libroDigital.Resumen.ComprasNCNeto)
                  | enPesos
              }}
            </td>
            <td align="right">
              {{
                (libroDigital.Resumen.ComprasNoGravado +
                  libroDigital.Resumen.ComprasNCNoGravado)
                  | enPesos
              }}
            </td>
            <td align="right">
              {{
                (libroDigital.Resumen.ComprasIVA +
                  libroDigital.Resumen.ComprasNCIVA)
                  | enPesos
              }}
            </td>
          </tr>
        </tbody>
        <tfoot>
          <td></td>
          <td></td>
          <td></td>
          <td align="right">
            {{
              (libroDigital.Resumen.VentasIVA +
                libroDigital.Resumen.VentasNCIVA +
                libroDigital.Resumen.ComprasIVA +
                libroDigital.Resumen.ComprasNCIVA)
                | enPesos
            }}
          </td>
        </tfoot>
      </tabla>
      <output-buttons :excel="() => exportarExcel()"> </output-buttons>
    </div>
    <b-loading
      is-full-page
      :active.sync="cargando"
      :can-cancel="true"
    ></b-loading>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import axios from "axios";
import eventBus from "@/eventBus";
import { hoy } from "@/modules/util/fechas";
import { startOfMonth, endOfMonth, subMonths, format } from "date-fns";
import { Empresa } from "@/interfaces/empresas";
import OutputButtons from "../widgets/OutputButtons.vue";
export default Vue.extend({
  components: { OutputButtons },
  data() {
    return {
      empresa: null as null | string,
      desde: format(startOfMonth(subMonths(hoy(), 1)), "yyyy-MM-dd"),
      hasta: format(endOfMonth(subMonths(hoy(), 1)), "yyyy-MM-dd"),
      version: "Libro de IVA digital" as string,
      salida: "pdf" as string,
      tipo: null as string | null,
      libroDigital: null,
      cargando: false as boolean
    };
  },
  created() {
    if (this.$store.state.empresas.seleccionada) {
      this.empresa = this.$store.state.empresas.seleccionada;
    }
	document.title = "Libro IVA"
  },
  methods: {
    generar() {
      this.cargando = true;
      if (this.version == "Libro de IVA digital") {
        axios
          .post("backend/afip/libro_iva_digital", {
            Empresa: this.empresa,
            Desde: this.desde,
            Hasta: this.hasta,
            Tipo: 'Ambos',
            Salida: this.salida
          })
          .then(res => {
            this.cargando = false;
            this.libroDigital = res.data;
          })
          .catch(err => {
            this.cargando = false;
            eventBus.$emit("error", err);
          });
      }

      if (this.version == "Por actividad") {
        axios({
          method: "post",
          url: "/backend/afip/libro_iva",
          data: {
            Empresa: this.empresa,
            Desde: this.desde,
            Hasta: this.hasta,
            TipoLibro: this.tipo,
            Salida: this.salida
          },
          responseType: "arraybuffer"
        })
          .then(res => {
            this.cargando = false;
            console.log("Res.data era");
            console.log(res.data);
            if (this.salida == "pdf") {
              let blob = new Blob([res.data], { type: "application/pdf" }),
                url = window.URL.createObjectURL(blob);
              window.open(url);
            } else {
              const url = window.URL.createObjectURL(new Blob([res.data]));
              const link = document.createElement("a");
              link.href = url;
              link.setAttribute(
                "download",
                `IVA ${this.tipo} - ${this.hasta}.xlsx`
              ); //or any other extension
              document.body.appendChild(link);
              link.click();
            }
          })
          .catch(err => {
            this.cargando = false;
            console.log("Error que devolvió AXIOS:", err);
            if (err.response) {
              console.log("Había response", err);
              console.log(String(err));
              eventBus.$emit("error", err);
            } else {
              console.log("No Había response");
              eventBus.$emit("error", err);
            }
          });
      }
    },
    downloadString(text: string, fileName: string) {
      var blob = new Blob([text], { type: "txt" });

      var a = document.createElement("a");
      a.download = fileName;
      a.href = URL.createObjectURL(blob);
      a.dataset.downloadurl = ["txt", a.download, a.href].join(":");
      a.style.display = "none";
      document.body.appendChild(a);
      a.click();
      document.body.removeChild(a);
      setTimeout(function() {
        URL.revokeObjectURL(a.href);
      }, 1500);
    },
    exportarExcel() {
      axios({
        method: "post",
        url: "/backend/afip/libro_iva_digital_excel",
        data: {
          Empresa: this.empresa,
          Desde: this.desde,
          Hasta: this.hasta,
          Tipo: this.tipo
        },
        responseType: "arraybuffer"
      })
        .then(res => {
          var fileURL = window.URL.createObjectURL(new Blob([res.data]));
          var fileLink = document.createElement("a");
          fileLink.href = fileURL;
          fileLink.setAttribute("download", "IVA digital.xlsx");
          document.body.appendChild(fileLink);
          fileLink.click();
          this.cargando = false;
        })
        .catch(err => {
          this.cargando = false;
          console.log("Error que devolvió AXIOS:", err);
          if (err.response) {
            console.log("Había response", err);
            console.log(String(err));
            eventBus.$emit("error", err);
          } else {
            console.log("No Había response");
            eventBus.$emit("error", err);
          }
        });
    }
  },
  computed: {
    empresas(): Empresa[] {
      return this.$store.getters["empresas/permitidas"];
    }
  },
});
</script>
