<template>
  <div id="wrapper">
    <h1 class="title">Unicidades</h1>

    <div class="box">
      <b-field label="Tipo" grouped horizontal>
        <b-select v-model="tipoID">
          <option :value="null" disabled>Seleccione tipo</option>
          <option v-for="v in tipos" v-bind:key="v.ID" :value="v.ID">{{
            v.Nombre
          }}</option>
        </b-select>
      </b-field>

      <div v-if="tipoID">
        <b-field
          v-for="v in tipo.AttsIndexados"
          v-bind:key="v.Nombre"
          :label="v.Nombre"
          horizontal
        >
          <b-checkbox
            v-if="v.Type == 'bool'"
            v-model="unicidadesFiltros[v.Nombre]"
          />
          <b-input
            v-if="v.Type == 'string'"
            v-model="unicidadesFiltros[v.Nombre]"
            icon="magnify"
          />
          <b-input
            v-if="v.Type == 'd2'"
            v-model.number="unicidadesFiltros[v.Nombre]"
            icon="magnify"
          />
          <b-input
            v-if="v.Type == 'int'"
            type="number"
            v-model.number="unicidadesFiltros[v.Nombre]"
            icon="magnify"
          />
        </b-field>
        <b-field horizontal>
          <b-button class="is-info" @click="buscarUnicidades()"
            >Buscar</b-button
          >
        </b-field>
      </div>
      <b-button class="is-info" @click="crear()" v-if="tipoID">Crear</b-button>
      <br />
    </div>

    <tabla v-if="unicidades.length">
      <thead>
        <th v-for="v in tipo.AttsIndexados" v-bind:key="v.Nombre">
          {{ v.Nombre }}
        </th>
        <th v-for="v in tipo.Atts" v-bind:key="v.Nombre">
          {{ v.Nombre }}
        </th>
        <th>Creación</th>
        <th></th>
      </thead>
      <tbody>
        <tr v-for="u in unicidades" v-bind:key="u.ID">
          <td v-for="v in tipo.AttsIndexados" v-bind:key="v.Nombre">
            {{ u.AttsIndexados[v.Nombre] }}
          </td>
          <td v-for="v in tipo.Atts" v-bind:key="v.Nombre">
            {{ u.Atts[v.Nombre] }}
          </td>
          <td>{{ u.CreatedAt | enFechaHora }}</td>
          <td>
            <puntitos>
              <ul>
                <li @click="verMovimientos(u.ID)">
                  Movimientos
                </li>
                <li @click="abrirUnicidad(u)">
                  Editar
                </li>
              </ul>
            </puntitos>
            <!-- <a @click="verMovimientos(u.ID)">Ver</a> -->
          </td>
        </tr>
      </tbody>
    </tabla>
    <p v-if="!unicidades.length && dirty">No hubo resultados</p>
    <b-loading
      is-full-page
      :active="cargando != 0"
      :can-cancel="true"
    ></b-loading>
  </div>
</template>

<script lang="ts">
import axios from "axios";
import Vue from "vue";
import eventBus from "@/eventBus";
import { Unicidad } from "../unicidades";
import { UnicidadDef } from "@/modules/unicidadesdef/def";
import UnicidadDinamica from "../components/UnicidadDinamica.vue";
import Puntitos from "@/components/widgets/Puntitos.vue";
import ComprobantesPorUnicidadVue from "../components/ComprobantesPorUnicidad.vue";
export default Vue.extend({
  components: {
    Puntitos
  },
  data() {
    return {
      tipoID: null as string | null,
      unicidadesFiltros: {} as any,
      unicidades: [] as Unicidad[],
      localBus: new Vue(),

      cargando: 0 as number,
      dirty: false as boolean
    };
  },
  created() {
	document.title = "Unicidades"
    this.localBus.$on("nuevo", (item: Unicidad) => {
      this.cargando++;
      axios
        .post("/backend/unicidades/create", item)
        .then(() => {
          this.cargando--;
          this.buscarUnicidades();
        })
        .catch(err => {
          eventBus.$emit("error", err);
          this.cargando--;
        });
    });
    this.localBus.$on("modificado", (item: Unicidad) => {
      this.cargando++;
      axios
        .post("/backend/unicidades/update", item)
        .then(() => {
          this.buscarUnicidades();
          this.cargando--;
        })
        .catch(err => {
          eventBus.$emit("error", err);
          this.cargando--;
        });
    });
  },
  mounted() {
    if (this.tipos && this.tipos.length == 1) {
      this.tipoID = this.tipos[0].ID;
    }
  },
  methods: {
    buscarUnicidades() {
      this.cargando++;
      for (let [k, v] of Object.entries(this.unicidadesFiltros)) {
        if (!v) {
          // Es un valor cero
          delete this.unicidadesFiltros[k];
        }
      }
      axios
        .post("/backend/unicidades/many", {
          Definicion: this.tipoID,
          Filtro: this.unicidadesFiltros,
          Limit: 100
        })
        .then(res => {
          this.unicidades = res.data;
          this.dirty = true;
          this.cargando--;
        })
        .catch(err => {
          eventBus.$emit("error", err);
          this.cargando--;
        });
    },
    crear() {
      this.$buefy.modal.open({
        parent: this,
        component: UnicidadDinamica,
        hasModalCard: true,
        trapFocus: true,
        scroll: "clip",
        canCancel: [],
        props: {
          def: this.tipo,
          bus: this.localBus,
          index: null
        }
      });
    },
    verMovimientos(id: string) {
      this.$buefy.modal.open({
        parent: this,
        component: ComprobantesPorUnicidadVue,
        hasModalCard: false,
        trapFocus: true,
        // fullScreen: true,
        scroll: "clip",
        props: {
          idProp: id
        }
      });
    },
    abrirUnicidad(unicidad: Unicidad) {
      let u = {};
      u = Object.assign(u, unicidad);
      this.$buefy.modal.open({
        parent: this,
        component: UnicidadDinamica,
        hasModalCard: true,
        trapFocus: true,
        scroll: "clip",
        canCancel: [],
        props: {
          def: this.tipo,
          bus: this.localBus,
          unicidad: u
        }
      });
    }
  },
  computed: {
    // Devuelve todos los tipos de unicidades para poder buscarlos.
    tipos(): UnicidadDef[] {
      return this.$store.getters["unicidadesdef/deReferencia"];
    },
    // Devuelve el objeto de la definición de unicidad seleccionada
    tipo(): UnicidadDef {
      return this.$store.getters["unicidadesdef/porID"](this.tipoID);
    }
  },
  watch: {
    tipoID() {
      this.unicidades = [];
      this.unicidadesFiltros = {};
    }
  }
});
</script>
