<template>
  <div class="wrapper">
    <div class="titulo-de-pantalla">
      <h1>{{ titulo }}</h1>
      <puntitos :id="'puntitos-cuentas'" :size="35">
        <ul>
          <li @click="eliminar()">Eliminar cuenta</li>
        </ul>
      </puntitos>
    </div>

    <div class="container-fluid">
      <div class="box">
        <h1>Descripción</h1>
        <b-field label="Código">
          <b-input v-model="cta.Codigo"> </b-input>
        </b-field>

        <div class="columns">
          <b-field label="Cuenta superior" class="column">
            <b-select v-model="cta.PadreID" expanded>
              <option :value="null">Ninguna</option>
              <option
                v-for="c in agrupadoras"
                v-bind:value="c.ID"
                v-bind:key="c.ID"
              >
                {{ " " + c.Nombre }}
              </option>
            </b-select>
          </b-field>

          <b-field class="column" label="Orden dentro del grupo">
            <b-input type="number" v-model.number="cta.Orden"></b-input>
          </b-field>
        </div>
        <b-field label="Nombre de la cuenta">
          <b-input v-model="cta.Nombre"></b-input>
        </b-field>

        <b-field label="Descripción">
          <b-input type="textarea" v-model="cta.Descripcion" rows="1">
          </b-input>
        </b-field>
      </div>

      <div class="box">
        <h1>Funcionamiento</h1>
        <b-field label="Tipo de cuenta">
          <b-select placeholder="Seleccione" v-model="cta.TipoCuenta">
            <option>Agrupadora</option>
            <option>Patrimonial</option>
            <option>Resultado</option>
            <option>Orden</option>
          </b-select>
        </b-field>

        <b-field
          v-if="
            cta.TipoCuenta == 'Resultado' || cta.TipoCuenta == 'Patrimonial'
          "
        >
          <b-checkbox v-model="cta.AjustaPorInflacion"
            >Ajusta por inflación
          </b-checkbox>
        </b-field>
        <div v-if="cta.TipoCuenta && cta.TipoCuenta != 'Agrupadora'">
          <b-checkbox v-model="cta.EsSistemica"> ¿Es de sistema? </b-checkbox>
          <div v-if="cta.EsSistemica">
            <b-field label="Función">
              <b-field>
                <b-select v-model="cta.Funcion">
                  <option v-for="f in funcionesContables" :value="f" :key="f">
                    {{ f }}
                  </option>
                </b-select>

                <p v-if="cta.Funcion == 'Medio de pago'">
                  Sólo podrá ser usada en recibos.
                </p>
              </b-field>
            </b-field>

            <b-field
              label="Rubro bienes de uso"
              v-if="
                cta.Funcion == 'Bienes de uso - Amortización acumulada' ||
                cta.Funcion == 'Bienes de uso - Valor origen'
              "
            >
              <b-select v-model="cta.RubroBsUso">
                <option :value="null">Seleccione</option>
                <option v-for="v in rubrosBsUso" :value="v.ID" :key="v.ID">
                  {{ v.Nombre }}
                </option>
              </b-select>
            </b-field>

            <b-field label="Concepto pendientes productos">
              <b-select v-model="cta.ConceptoProducto">
                <option
                  v-for="v in conceptosProducto"
                  :value="v.ID"
                  :key="v.ID"
                >
                  {{ v.Nombre }}
                </option>
              </b-select>
            </b-field>
          </div>

          <b-field>
            <b-checkbox v-model="cta.UsaAplicaciones">
              ¿Usa aplicaciones?
            </b-checkbox>
          </b-field>
          <b-field>
            <b-checkbox v-model="cta.MedioDePago">
              ¿Es medio de pago?
            </b-checkbox>
          </b-field>
          <b-field label="Alias" v-if="cta.MedioDePago">
            <b-tooltip
              multilined
              label="Es el nombre que se va a mostrar en los recibos. Ejemplo la cuenta: 'Cupones de Tarjetas a Cobrar' es más legible para el usuario si se llama 'Tarjeta de crédito'"
              :delay="500"
            >
              <b-input v-model="cta.Alias" />
            </b-tooltip>
          </b-field>

          <b-field v-if="cta.TipoCuenta == 'Patrimonial'">
            <b-tooltip
              multilined
              label="Exige para cada movimiento que se determine la moneda y el tipo de cambio"
              :delay="500"
            >
              <b-checkbox v-model="cta.MonedaExtranjera"
                >¿En moneda extranjera?
              </b-checkbox>
            </b-tooltip>
          </b-field>
        </div>
      </div>
      <div
        class="box"
        v-if="
          cta.TipoCuenta == 'Patrimonial' ||
          cta.TipoCuenta == 'Resultado' ||
          cta.TipoCuenta == 'Orden'
        "
      >
        <h1>Apertura de cuenta</h1>
        <div class="container">
          <div>
            <b-checkbox v-model="cta.AperturaPersona" expanded>
              Persona
            </b-checkbox>

            <b-checkbox
              v-if="cta.AperturaPersona"
              v-model="cta.AperturaPersonaRestrictiva"
            >
              ¿Apertura restrictiva?
            </b-checkbox>
          </div>

          <div>
            <b-checkbox v-model="cta.AperturaProducto"> Producto </b-checkbox>
          </div>

          <div>
            <b-checkbox v-model="cta.AperturaCaja"> Caja </b-checkbox>
          </div>

          <div>
            <b-checkbox v-model="cta.AperturaDeposito"> Depósito </b-checkbox>
          </div>

          <div>
            <b-checkbox v-model="cta.AperturaContrato"> Contrato </b-checkbox>
          </div>

          <div>
            <b-checkbox v-model="cta.AperturaUnicidad"> Unicidad </b-checkbox>
            <b-field label="Tipo de unicidad" v-if="cta.AperturaUnicidad">
              <b-select v-model="cta.TipoUnicidad">
                <option :value="null" disabled>Seleccione</option>
                <option v-for="v in unicidades" :value="v.ID" :key="v.ID">
                  {{ v.Nombre }}
                </option>
              </b-select>
            </b-field>
          </div>

          <div>
            <b-tooltip
              :delay="500"
              label="Cuando se quiera utilizar la cuenta, se deberá especificar a que centro de costos se desea imputar."
            >
              <b-checkbox v-model="cta.AperturaCentro">
                Centro de imputación
              </b-checkbox>
            </b-tooltip>
          </div>

          <div>
            <div v-if="cta.AperturaCentro">
              <tabla
                class="table table-condensed"
                v-if="cta.CentrosPermitidos.length"
              >
                <thead>
                  <tr>
                    <th>id</th>
                    <th>Nombre</th>
                    <th>Acción</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    v-for="centro in cta.CentrosPermitidos"
                    v-bind:key="centro"
                  >
                    <td>{{ centro }}</td>
                    <td>{{ nombreCentro(centro) }}</td>
                    <td>
                      <button @click.prevent="quitarCentro(centro)">
                        Quitar
                      </button>
                    </td>
                  </tr>
                </tbody>
              </tabla>
              <div class="columns">
                <div class="column">
                  <b-field label="Centro de imputación">
                    <b-select name="centro" v-model="centroSeleccionado">
                      <option
                        v-for="centro in centros"
                        v-bind:value="centro.ID"
                        v-bind:key="centro.ID"
                      >
                        {{ centro.Nombre }} ({{ centro.ID }})
                      </option>
                    </b-select>
                  </b-field>
                  <b-button @click.prevent="agregarCentro()">Agregar</b-button>
                </div>
                <div class="column">
                  <b-field label="Grupos de centros">
                    <multiselect
                      :options="centrosGrupos"
                      v-model="cta.CentrosGrupos"
                      mode="tags"
                      valueProp="ID"
                      label="Nombre"
                    >
                    </multiselect>
                  </b-field>
                </div>
                <div class="column"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="box"
        v-if="cta.TipoCuenta == 'Patrimonial' || cta.TipoCuenta == 'Resultado'"
      >
        <h1>Impositivos</h1>
        <b-field label="Concepto IVA compras">
          <b-select v-model="cta.ConceptoIvaCompras">
            <option value="">Ninguno</option>
            <option>Compras de bienes (excepto bienes de uso)</option>
            <option>Locaciones</option>
            <option>Prestaciones de servicios</option>
            <option>Inversiones de Bienes de Uso</option>
          </b-select>
        </b-field>
      </div>
      <div class="row">
        <div class="col">
          <b-button @click="submit()" type="is-primary"> Guardar </b-button>

          <b-button
            @click="$router.go(-1)"
            icon-left="arrow-left-thick"
            type="is-warning"
          >
            Volver
          </b-button>
        </div>
      </div>
      {{ resultado }} {{ error }}
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";

import axios from "axios";
import Puntitos from "../widgets/Puntitos.vue";
import { Cuenta } from "@/interfaces/cuentas";
import { UnicidadDef } from "@/modules/unicidadesdef/def";
import eventBus from "@/eventBus";
import { Grupo } from "@/modules/centros/centros";
export default Vue.extend({
  data() {
    return {
      cta: {
        ID: "0",
        Codigo: "",
        Nombre: "",
        AperturaPersona: false,
        AperturaPersonaRestrictiva: false,
        AperturaProducto: false,
        AperturaCaja: false,
        AperturaDeposito: false,
        AperturaContrato: false,
        AperturaUnicidad: false,
        TipoUnicidad: null,
        AperturaCentro: false,
        CentrosPermitidos: [],
        CentrosGrupos: [],
        TipoCuenta: "",
        AjustaPorInflacion: false,
        Monetaria: false,
        EsSistemica: false,
        Funcion: "",
        RubroBsUso: null,
        ConceptoProducto: null,
        MonedaExtranjera: false,
        Alias: "",
        UsaAplicaciones: false,
        MedioDePago: false,
        PadreID: null,
        Orden: 0,
        Descripcion: "",
        ConceptoIvaCompras: "",
        CreatedAt: null,
        UpdatedAt: null,
      } as Cuenta,
      resultado: "",
      centros: [] as any[],
      centroSeleccionado: null as string | null,
      agrupadoras: [] as Cuenta[],
      funcionesContables: [],
      conceptosProducto: [],
      rubrosBsUso: [],
      error: "",

      contraCuenta: null as string | null,
    };
  },

  components: {
    Puntitos,
  },
  created() {
    document.title = "Cuenta contable";
    // Lookup cuentas agrupadoras
    axios
      .get("/backend/cuentas", { params: { tipo: "Agrupadoras" } })
      .then((response) => {
        this.agrupadoras = response.data;
      })
      .catch((err) => eventBus.$emit("error", err));

    // Lookup centros
    axios
      .get("/backend/centros")
      .then((response) => {
        this.centros = response.data;
      })
      .catch((response) => {
        eventBus.$emit("error", response);
      });

    // Lookup rubros bs uso
    axios
      .post("/backend/bsuso/rubros")
      .then((response) => {
        this.rubrosBsUso = response.data;
      })
      .catch((response) => {
        eventBus.$emit("error", response);
      });

    // Lookup de funciones contables
    axios
      .get("/backend/cuentas/funciones")
      .then((res) => {
        res.data.sort((a: string, b: string) => {
          return new Intl.Collator("ar").compare(a, b);
        });
        this.funcionesContables = res.data;
      })
      .catch((err) => {
        eventBus.$emit("error", err);
      });

    // Lookup de funciones contables
    axios
      .post("/backend/fact/opprod_cuentas")
      .then((res) => {
        this.conceptosProducto = res.data;
      })
      .catch((err) => {
        eventBus.$emit("error", err);
      });
    // Traigo datos de la cuenta
    this.actualizar();
  },
  methods: {
    actualizar(): void {
      if (!this.nueva) {
        axios
          .get(`/backend/cuentas/${this.$route.query.id}`)
          .then((res) => {
            this.cta = res.data;
          })
          .catch((err) => eventBus.$emit("error", err));
      }
    },
    nombreCuenta(id: string): string {
      let cta = this.$store.getters["cuentas/porID"](id);
      if (!cta) {
        return id;
      }
      return cta.Nombre;
    },
    nombreCentro(id: string): string {
      for (let v of this.centros) {
        if (v.ID == id) {
          return v.Nombre;
        }
      }
      return "";
    },
    agregarCentro(): void {
      if (!this.centroSeleccionado) {
        return;
      }
      if (this.cta.CentrosPermitidos == undefined) {
        this.cta.CentrosPermitidos = [];
      }
      if (this.cta.CentrosPermitidos.includes(this.centroSeleccionado)) {
        return;
      }
      this.cta.CentrosPermitidos.push(this.centroSeleccionado);
    },
    quitarCentro(id: string): void {
      console.log("Quitar centro ", id);
      this.cta.CentrosPermitidos = this.cta.CentrosPermitidos.filter(
        (item) => item != id
      );
    },
    submit(): void {
      if ((this.cta.Orden as any) == "") {
        this.cta.Orden = 0;
      }
      if (this.nueva == true) {
        this.submitNueva();
      }
      if (this.nueva == false) {
        this.submitModificar();
      }
    },
    submitNueva(): void {
      axios
        .post("/backend/cuentas", this.cta)
        .then(() => {
          this.volver();
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        });
    },
    submitModificar(): void {
      axios
        .put("/backend/cuentas", this.cta)
        .then(() => {
          this.$router.go(-1);
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        });
    },
    eliminar(): void {
      axios
        .delete(`/backend/cuentas/${this.$route.query.id}`)
        .then(() => {
          this.$router.go(-1);
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        });
    },
    volver(): void {
      this.$router.go(-1);
    },
  },
  computed: {
    centrosGrupos(): Grupo {
      return this.$store.getters["centros/grupos"];
    },
    titulo(): string {
      if (this.nueva) {
        return "Nueva cuenta contable";
      } else {
        return "Modificar cuenta contable";
      }
    },
    nueva(): boolean {
      if (this.$route.query.id == undefined) {
        return true;
      }
      return false;
    },
    unicidades(): any[] {
      let uu: UnicidadDef[] = this.$store.getters["unicidadesdef/deUso"];
      return uu.sort((a: any, b: any) => {
        return new Intl.Collator("ar").compare(a["Alias"], b["Alias"]);
      });
    },
    cuentasConApertura(): Cuenta[] {
      return this.$store.getters["cuentas/conAperturaRestrictivaPorPersona"];
    },
  },
  watch: {
    "cta.EsSistemica"() {
      if (this.cta.EsSistemica == false) {
        this.cta.Funcion = "";
      }
    },
  },
});
</script>
<style lang="scss" scoped>
div.wrapper {
  max-width: 800px;
}

div.flex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  div.field {
    margin-right: 10px;
  }
}
</style>
