<template>
  <div class="wrapper">
    <div class="titulo-de-pantalla">
      <puntitos :id="'puntitos-cuentas'" :size="35">
        <ul>
          <li @click="$router.push({ name: 'cuenta' })">Nueva cuenta</li>
        </ul>
      </puntitos>
      <h1>Cuentas Contables</h1>
    </div>

    <!-- <table>
      <thead>
        <tr>
          <th>Código</th>
          <th>Nombre</th>
          <th>Tipo</th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="cuenta in cuentas"
          v-bind:key="cuenta.ID"
          class="link"
          @click="
            $router.push({
              name: 'cuenta',
              query: {
                id: cuenta.ID
              }
            })
          "
        >
          <td>{{ cuenta.Codigo }}</td>
          <td
            :style="{ 'padding-left': profundidad(cuenta.ID) * 30 + 'px' }"
            :class="{ imputable: cuenta.TipoCuenta == 'Agrupadora' }"
          >
            {{ cuenta.Nombre }}
          </td>
          <td>{{ cuenta.TipoCuenta }}</td>
        </tr>
      </tbody>
    </table> -->
    <tabla>
      <thead>
        <th>Código</th>
        <th>Nombre</th>
        <th>Tipo</th>
      </thead>
      <tbody>
        <tr
          v-for="c in cuentasPlanas"
          v-bind:key="c.ID"
          @click="$router.push({ name: 'cuenta', query: { id: c.ID } })"
          class="link"
        >
          <td>{{ c.Codigo }}</td>
          <td
            :style="{ transform: 'translate(' + c.nivel * 30 + 'px)' }"
            :class="{ agrupadora: c.TipoCuenta == 'Agrupadora' }"
          >
            {{ c.Nombre }}
          </td>
          <td>{{ c.TipoCuenta }}</td>
        </tr>
        <!-- <tree :node="treeObject" :nivel="0"> </tree> -->
      </tbody>
    </tabla>
  </div>
</template>

<script>
import axios from "axios";
import eventBus from "@/eventBus.ts";
import Puntitos from "../widgets/Puntitos";
export default {
  data() {
    return {
      loading: false,
      cuentas: [],
      cuentasMap: Map,
      profMap: Map,
      profundidad_alcanzada: 0,
      treeObject: { children: null }
    };
  },
  components: {
    Puntitos
  },
  created() {
	document.title = "Cuentas contables"
    this.loading = true;
    axios
      .get("/backend/cuentas")
      .then(response => {
        this.cuentas = response.data;
        // this.profMap = new Map();
        // this.cuentasMap = new Map();
        // for (let v of this.cuentas) {
        //   this.cuentasMap.set(v.ID, v.PadreID);
        //   console.log("Key: " + v.ID, "Value: " + v.PadreID);
        // }
        this.llenarTree();
      })
      .catch(error => {
        eventBus.$emit("error", error);
      })
      .then(() => (this.loading = false));
    console.log(this.cuentasMap);
  },
  computed: {
    cuentasPlanas() {
      if (!this.treeObject) {
        return [];
      }
      let todas = [];
      this.walk(todas, this.treeObject, -1);
      return todas;
    }
  },
  methods: {
    walk(todas, cta, nivel) {
      if (!cta.children) {
        return;
      }
      for (let v of cta.children) {
        v.nivel = nivel + 1;
        todas.push(v);
        this.walk(todas, v, nivel + 1);
      }
    },
    llenarTree() {
      // Creo trees con todas las categorias
      let cc = [];
      for (let v of this.cuentas) {
        cc.push(this.crearItem(v));
      }

      cc.map(item => {
        if (item.PadreID == null) {
          return;
        }
        let padre = cc.find(encontrado => {
          return encontrado.ID == item.PadreID;
        });
        if (padre == undefined) {
          console.error("no se controntró el nodo ID ", item.PadreID);
          return;
        }

        padre.children.push(item);

        // Los ordeno por orden alfabético
        padre.children.sort((a, b) => {
          if (a.Orden > b.Orden) {
            return 1;
          } else if (a.Orden < b.Orden) {
            return -1;
          } else {
            return new Intl.Collator("ar").compare(a.Nombre, b.Nombre);
          }
        });
      });
      // Agrego los nodos root
      let roots = cc.filter(item => item.PadreID == null);
      roots.sort((a, b) => {
        if (a.Orden > b.Orden) {
          return 1;
        } else {
          return -1;
        }
      });

      this.treeObject.children = roots;
    },
    crearItem(cuenta) {
      let item = {
        ID: cuenta.ID,
        TipoCuenta: cuenta.TipoCuenta,
        Nombre: cuenta.Nombre,
        PadreID: cuenta.PadreID,
        Codigo: cuenta.Codigo,
        Orden: cuenta.Orden
      };
      if (!cuenta.Imputable) {
        item.children = [];
      }
      return item;
    }
  }
};
</script>

<style lang="scss" scoped>
.agrupadora {
  font-weight: bold;
}
div#puntitos-cuentas {
  float: right;
}
table {
  width: 100%;
}
div.wrapper {
  max-width: 800px;
}
</style>
