<template>
  <div>
    <div class="box">
      <h1 class="title">Grupos cuentas contables</h1>
      <div class="is-flex"></div>
      <tabla>
        <thead>
          <th>Nombre grupo</th>
          <th>Cantidad cuentas</th>
        </thead>
        <tbody>
          <tr v-for="v in grupos" :key="v.ID">
            <td>
              <a @click="profundizar(v.ID)">
                {{ v.Nombre }}
              </a>
            </td>
            <td align="right">{{ v.Cuentas.length }}</td>
          </tr>
        </tbody>
      </tabla>
      <b-button class="is-primary" @click="nuevo()">Nuevo</b-button>
      <b-loading
        is-full-page
        :active.sync="cargando"
        :can-cancel="true"
      ></b-loading>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import axios from "axios";
import { Cuenta, Grupo } from "@/interfaces/cuentas";
import eventBus from "@/eventBus";
export default Vue.extend({
  data() {
    return {
      empresa: null as string | null,
      grupos: [] as Grupo[],
      cargando: false as boolean
    };
  },
  created() {
	document.title = "Grupos de cuentas contables"
    this.actualizar();
  },
  methods: {
    actualizar() {
      this.cargando = true;
      axios
				.post("/backend/cuentasgrupos/many", {})
        .then(res => {
          this.grupos = res.data;
          this.cargando = false;
        })
        .catch(err => {
          eventBus.$emit("error", err);
          this.cargando = false;
        });
    },
    nuevo() {
      this.$router.push({ name: "cuentasGrupo" });
    },
    profundizar(id: string) {
      this.$router.push({ name: "cuentasGrupo", query: { id: id } });
    }
  },
  computed: {
    empresas() {
      return this.$store.getters["empresas/permitidas"];
    },
    cuentas(): Cuenta[] {
      let ctas: Cuenta[] = this.$store.getters["cuentas/todas"]();
      let out = ctas.filter(x => x.AperturaPersona);
      out.sort((a, b) => {
        return new Intl.Collator("ar").compare(a.Nombre, b.Nombre);
      });
      return out;
    }
  }
});
</script>

<style scoped>
.item {
  margin-right: 1em;
}
</style>
