<template>
  <div>
    <div class="box">
      <h1 class="title">{{ titulo }}</h1>
      <b-field label="Nombre" horizontal>
        <b-input v-model="g.Nombre"></b-input>
      </b-field>
      <b-field label="Detalle" horizontal>
        <b-input v-model="g.Detalle"></b-input>
      </b-field>
      <b-field label="Tipo especial" horizontal>
        <b-select v-model="g.Tipo">
          <option value="">Ninguno</option>
          <option value="ventas">Ventas</option>
          <option value="stock">Stock</option>
        </b-select>
      </b-field>
      <b-field label="Cuentas" horizontal>
        <b-select v-model="cuenta">
          <option v-for="v in cuentasSinUsar" :value="v.ID" :key="v.ID">
            {{ v.Nombre }}
          </option>
        </b-select>
        <b-button class="is-primary" @click="agregar(cuenta)">Agregar</b-button>
      </b-field>
      <tabla>
        <thead>
          <th>Código</th>
          <th>Nombre</th>
          <th></th>
        </thead>
        <tbody>
          <tr v-for="(v, i) in g.Cuentas" :key="v">
            <td>
              {{ cuentaCodigo(v) }}
            </td>

            <td>
              {{ cuentaNombre(v) }}
            </td>
            <td>
              <b-button icon-left="close-circle" @click="quitar(i)"></b-button>
            </td>
          </tr>
        </tbody>
      </tabla>

      <b-button class="is-primary" @click="guardar()">Guardar</b-button>
      <b-button class="is-danger" @click="eliminar()">Eliminar</b-button>
      <b-button @click="cancelar()">Cancelar</b-button>
      <b-loading
        is-full-page
        :active.sync="cargando"
        :can-cancel="true"
      ></b-loading>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import axios from "axios";
import { Cuenta, Grupo } from "@/interfaces/cuentas";
import eventBus from "@/eventBus";
export default Vue.extend({
  data() {
    return {
      empresa: null as string | null,
      cuenta: null as string | null,
      g: {
        ID: "0",
        Nombre: "",
        Detalle: "",
        Tipo: null,
        Cuentas: [],
      } as Grupo,
      cargando: false as boolean,
    };
  },
  created() {
    document.title = "Grupo cuentas contables";
    if (!this.esNuevo) {
      this.actualizar();
    }
  },
  methods: {
    actualizar() {
      this.cargando = true;
      axios
        .post("/backend/cuentasgrupos/one", { ID: this.$route.query.id })
        .then((res) => {
          this.g = res.data;
          this.cargando = false;
        })
        .catch((err) => {
          eventBus.$emit("error", err);
          this.cargando = false;
        });
    },
    guardar() {
      this.cargando = true;
      if (this.esNuevo) {
        axios
          .post("/backend/cuentasgrupos/create", this.g)
          .then(() => {
            this.cargando = false;
            this.$router.go(-1);
          })
          .catch((err) => {
            eventBus.$emit("error", err);
            this.cargando = false;
          });
      } else {
        axios
          .post("/backend/cuentasgrupos/update", this.g)
          .then(() => {
            this.cargando = false;
            this.$router.go(-1);
          })
          .catch((err) => {
            eventBus.$emit("error", err);
            this.cargando = false;
          });
      }
    },
    eliminar() {
      this.$buefy.dialog.confirm({
        message: "¿Está seguro que desea borrar este grupo?",
        confirmText: "Borrar",
        type: "is-danger",
        hasIcon: true,
        onConfirm: () => {
          this.cargando = true;
          axios
            .post("/backend/cuentasgrupos/delete", { ID: this.g.ID })
            .then(() => {
              this.$router.go(-1);
            })
            .catch((err) => {
              eventBus.$emit("error", err);
            })
            .finally(() => {
              this.cargando = false;
            });
        },
      });
    },
    cancelar() {
      this.$router.go(-1);
    },
    nuevo() {
      this.$router.push({ name: "cuentasGrupo" });
    },
    agregar(id: string) {
      if (this.g.Cuentas.includes(id)) {
        this.$buefy.dialog.alert({
          title: "Validación",
          message: "La cuenta ya se encontraba",
          type: "is-danger",
          hasIcon: true,
          icon: "times-circle",
          iconPack: "fa",
          ariaRole: "alertdialog",
          ariaModal: true,
        });
        return;
      }
      this.g.Cuentas.push(id);
    },
    quitar(idx: number) {
      this.g.Cuentas.splice(idx, 1);
    },
    cuentaNombre(id: string): string {
      let cta: Cuenta = this.$store.getters["cuentas/porID"](id);
      if (!cta) {
        return id;
      }
      return cta.Nombre;
    },
    cuentaCodigo(id: string): string {
      let cta: Cuenta = this.$store.getters["cuentas/porID"](id);
      if (!cta) {
        return id;
      }
      return cta.Codigo;
    },
  },
  computed: {
    empresas() {
      return this.$store.getters["empresas/permitidas"];
    },
    cuentasSinUsar(): Cuenta[] {
      let ctas: Cuenta[] = this.$store.getters["cuentas/imputables"];
      let out = ctas.filter((x) => {
        if (!x.ID) {
          return false;
        }
        return !this.g.Cuentas.includes(x.ID);
      });
      out.sort((a, b) => {
        return new Intl.Collator("ar").compare(a.Nombre, b.Nombre);
      });
      return out;
    },
    titulo(): string {
      if (this.esNuevo) {
        return "Nuevo grupo";
      }
      return "Modificar grupo";
    },
    esNuevo(): boolean {
      if (this.$route.query.id) {
        return false;
      }
      return true;
    },
  },
});
</script>
