<template>
  <tbody>
    <tr :style="indent" class="tree">
      <td>{{ node.Codigo }}</td>
      <td v-if="!node.root" :class="{ tieneHijos: tieneHijos }">
        <b-icon icon="folder" v-if="tieneHijos"> </b-icon>
        {{ node.text }}
      </td>
      <td>Categoria</td>
    </tr>
    <!-- <tr v-if="node.children && node.children.length"> -->
    <node v-for="child in node.children" :node="child" :nivel="nivel + 1">
    </node>
    <!-- </tr> -->
  </tbody>
</template>

<script>
export default {
  name: "node",
  props: { node: Object, nivel: Number },
  computed: {
    indent() {
      return { transform: `translate(${this.nivel * 10}px)` };
    },
    tieneHijos() {
      return this.node.children && this.node.children.length;
    },
    rayita() {
      if (!this.tieneHijos) {
        return "- ";
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.tieneHijos {
  font-weight: bolder;
}
</style>
