<template>
  <div class="modal-card">
    <header class="modal-card-head">
      <h1 class="modal-card-title">Duplicar configuración</h1>
    </header>
    <div class="modal-card-body">
      <b-field label="Nueva empresa">
        <b-select v-model="empresa" expanded>
          <option v-for="v in empresas" :key="v.ID" :value="v.ID">
            {{ v.Nombre }}
          </option>
        </b-select>
      </b-field>
    </div>

    <footer class="modal-card-foot">
      <b-button class="is-primary" @click="aceptar()">Aceptar</b-button>
      <b-button @click="cancelar()">Cancelar</b-button>
    </footer>
    <b-loading is-full-page :active="cargando != 0" />
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import axios from "axios";
import eventBus from "@/eventBus";
import { Empresa } from "@/interfaces/empresas";

export default Vue.extend({
  props: {
    id: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      empresa: null as string | null,
      cargando: 0 as number,
    };
  },
  methods: {
    cancelar() {
      this.cerrar();
    },
    aceptar() {
      if (!this.empresa) {
        eventBus.$emit("error", "Debe ingresar una empresa");
        return;
      }
      this.cargando++;
      axios
        .post("/backend/fact_configs/duplicate", {
          ID: this.id,
          NuevaEmpresa: this.empresa,
        })
        .then(() => {
          this.$router.go(-1);
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => {
          this.cargando--;
          this.cerrar();
        });
    },
    cerrar() {
      (this.$parent as any).close();
    },
  },
  computed: {
    empresas(): Empresa[] {
      return this.$store.getters["empresas/permitidas"];
    },
  },
});
</script>
