<template>
  <div class="modal-card">
    <header class="modal-card-head">
      <h1 class="modal-card-title">
        {{ titulo }}
      </h1>
    </header>
    <div class="modal-card-body">
      <b-field label="Categoria" label-position="inside">
        <b-select v-model="imp.Categoria" expanded>
          <option v-for="v in categorias" :key="v.ID" :value="v.ID">
            {{ v.Nombre }}
          </option>
        </b-select>
      </b-field>

      <h2>Asiento de productos</h2>
      <b-field label="IVA" label-position="inside">
        <b-select v-model="imp.IVA">
          <option value="0">Ninguna</option>
          <option v-for="v in cuentas" :key="v.ID" :value="v.ID">
            {{ v.Nombre }} ({{ v.Codigo }})
          </option>
        </b-select>
      </b-field>

      <b-field label="Diferimiento" label-position="inside">
        <b-select v-model="imp.Diferimiento">
          <option value="0">Ninguna</option>
          <option v-for="v in cuentas" :key="v.ID" :value="v.ID">
            {{ v.Nombre }} ({{ v.Codigo }})
          </option>
        </b-select>
      </b-field>

      <h2>Cuentas de sistema (compras)</h2>
      <b-field label="Productos solicitados a recibir" label-position="inside">
        <b-select v-model="imp.ProductosSolicitadosARecibir">
          <option value="0">Ninguna</option>
          <option v-for="v in cuentas" :key="v.ID" :value="v.ID">
            {{ v.Nombre }} ({{ v.Codigo }})
          </option>
        </b-select>
      </b-field>
      <b-field label="Productos solicitados" label-position="inside">
        <b-select v-model="imp.ProductosSolicitados">
          <option value="0">Ninguna</option>
          <option v-for="v in cuentas" :key="v.ID" :value="v.ID">
            {{ v.Nombre }} ({{ v.Codigo }})
          </option>
        </b-select>
      </b-field>
      <b-field label="Productos solicitados cancelados" label-position="inside">
        <b-select v-model="imp.ProductosSolicitadosCancelados">
          <option value="0">Ninguna</option>
          <option v-for="v in cuentas" :key="v.ID" :value="v.ID">
            {{ v.Nombre }} ({{ v.Codigo }})
          </option>
        </b-select>
      </b-field>
      <b-field label="Productos solicitados recibidos" label-position="inside">
        <b-select v-model="imp.ProductosSolicitadosRecibidos">
          <option value="0">Ninguna</option>
          <option v-for="v in cuentas" :key="v.ID" :value="v.ID">
            {{ v.Nombre }} ({{ v.Codigo }})
          </option>
        </b-select>
      </b-field>
      <b-field label="Productos solicitados facturados" label-position="inside">
        <b-select v-model="imp.ProductosSolicitadosFacturados">
          <option value="0">Ninguna</option>
          <option v-for="v in cuentas" :key="v.ID" :value="v.ID">
            {{ v.Nombre }} ({{ v.Codigo }})
          </option>
        </b-select>
      </b-field>
      <b-field label="Facturas a recibir" label-position="inside">
        <b-select v-model="imp.FacturasARecibir">
          <option value="0">Ninguna</option>
          <option v-for="v in cuentas" :key="v.ID" :value="v.ID">
            {{ v.Nombre }} ({{ v.Codigo }})
          </option>
        </b-select>
      </b-field>
      <b-field label="Productos comprados a recibir" label-position="inside">
        <b-select v-model="imp.ProductosCompradosARecibir">
          <option value="0">Ninguna</option>
          <option v-for="v in cuentas" :key="v.ID" :value="v.ID">
            {{ v.Nombre }} ({{ v.Codigo }})
          </option>
        </b-select>
      </b-field>
      <b-field label="Notas de crédito a recibir" label-position="inside">
        <b-select v-model="imp.NotasDeCreditoARecibir">
          <option value="0">Ninguna</option>
          <option v-for="v in cuentas" :key="v.ID" :value="v.ID">
            {{ v.Nombre }} ({{ v.Codigo }})
          </option>
        </b-select>
      </b-field>

      <b-field label="Productos" label-position="inside">
        <b-select v-model="imp.Productos">
          <option value="0">Ninguna</option>
          <option v-for="v in cuentas" :key="v.ID" :value="v.ID">
            {{ v.Nombre }} ({{ v.Codigo }})
          </option>
        </b-select>
      </b-field>
      <b-field label="Proveedores" label-position="inside">
        <b-select v-model="imp.Proveedores">
          <option value="0">Ninguna</option>
          <option v-for="v in cuentas" :key="v.ID" :value="v.ID">
            {{ v.Nombre }} ({{ v.Codigo }})
          </option>
        </b-select>
      </b-field>

      <h2>Cuentas de sistema (ventas)</h2>
      <b-field label="Pedidos de clientes a entregar" label-position="inside">
        <b-select v-model="imp.PedidosDeClientesAEntregar">
          <option value="0">Ninguna</option>
          <option v-for="v in cuentas" :key="v.ID" :value="v.ID">
            {{ v.Nombre }} ({{ v.Codigo }})
          </option>
        </b-select>
      </b-field>

      <b-field label="Pedidos de clientes" label-position="inside">
        <b-select v-model="imp.PedidosDeClientes">
          <option value="0">Ninguna</option>
          <option v-for="v in cuentas" :key="v.ID" :value="v.ID">
            {{ v.Nombre }} ({{ v.Codigo }})
          </option>
        </b-select>
      </b-field>

      <b-field label="Facturas a emitir" label-position="inside">
        <b-select v-model="imp.FacturasAEmitir">
          <option value="0">Ninguna</option>
          <option v-for="v in cuentas" :key="v.ID" :value="v.ID">
            {{ v.Nombre }} ({{ v.Codigo }})
          </option>
        </b-select>
      </b-field>

      <b-field label="Productos facturados a entregar" label-position="inside">
        <b-select v-model="imp.ProductosFacturadosAEntregar">
          <option value="0">Ninguna</option>
          <option v-for="v in cuentas" :key="v.ID" :value="v.ID">
            {{ v.Nombre }} ({{ v.Codigo }})
          </option>
        </b-select>
      </b-field>

      <b-field label="Pedidos de clientes entregados" label-position="inside">
        <b-select v-model="imp.PedidosDeClientesEntregados">
          <option value="0">Ninguna</option>
          <option v-for="v in cuentas" :key="v.ID" :value="v.ID">
            {{ v.Nombre }} ({{ v.Codigo }})
          </option>
        </b-select>
      </b-field>

      <b-field label="Pedidos de clientes cancelados" label-position="inside">
        <b-select v-model="imp.PedidosDeClientesCancelados">
          <option value="0">Ninguna</option>
          <option v-for="v in cuentas" :key="v.ID" :value="v.ID">
            {{ v.Nombre }} ({{ v.Codigo }})
          </option>
        </b-select>
      </b-field>

      <b-field label="Pedidos de clientes facturados" label-position="inside">
        <b-select v-model="imp.PedidosDeClientesFacturados">
          <option value="0">Ninguna</option>
          <option v-for="v in cuentas" :key="v.ID" :value="v.ID">
            {{ v.Nombre }} ({{ v.Codigo }})
          </option>
        </b-select>
      </b-field>

      <b-field label="Clientes" label-position="inside">
        <b-select v-model="imp.Clientes">
          <option value="0">Ninguna</option>
          <option v-for="v in cuentas" :key="v.ID" :value="v.ID">
            {{ v.Nombre }} ({{ v.Codigo }})
          </option>
        </b-select>
      </b-field>
      <b-field label="Ventas" label-position="inside">
        <b-select v-model="imp.Ventas">
          <option value="0">Ninguna</option>
          <option v-for="v in cuentas" :key="v.ID" :value="v.ID">
            {{ v.Nombre }} ({{ v.Codigo }})
          </option>
        </b-select>
      </b-field>

      <h2>Unicidades</h2>
      <b-field label="Leer saldos de" label-position="inside">
        <b-select v-model="imp.CuentaSaldoUnicidad">
          <option value="0">Ninguna</option>
          <option v-for="v in cuentas" :key="v.ID" :value="v.ID">
            {{ v.Nombre }} ({{ v.Codigo }})
          </option>
        </b-select>
      </b-field>
      <b-field label="Leer saldos de" label-position="inside">
        <multiselect
          :options="cuentas"
          v-model="imp.CuentasSaldosUnicidad"
          mode="tags"
          valueProp="ID"
          label="Nombre"
        >
        </multiselect>
      </b-field>
    </div>

    <footer class="modal-card-foot">
      <b-button class="is-primary" @click="aceptar()">Aceptar</b-button>
      <b-button @click="cancelar()">Cancelar</b-button>
      <b-button @click="eliminar()" class="is-danger" v-if="!esNuevo"
        >Eliminar</b-button
      >
    </footer>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import { Cuenta } from "@/interfaces/cuentas";
import { ImputacionContable } from "../interfaces";
import { Categoria } from "@/components/productos/productos";

export default Vue.extend({
  props: {
    bus: {
      type: Object,
      required: true,
    },
    // el objeto completo de las categorias.
    categorias: {
      type: Array as () => Array<Categoria>,
      required: true,
    },
    impIngresada: {
      type: Object as () => ImputacionContable,
      required: false,
    },
    idx: {
      type: Number,
      required: false,
    },
  },
  data() {
    return {
      esNuevo: false as boolean,
      imp: {
        Categoria: "0",

        IVA: "0",
        Diferimiento: "0",
        ProductosSolicitadosARecibir: "0",
        ProductosSolicitados: "0",
        ProductosSolicitadosCancelados: "0",
        ProductosSolicitadosRecibidos: "0",
        ProductosSolicitadosFacturados: "0",
        FacturasARecibir: "0",
        ProductosCompradosARecibir: "0",
        Productos: "0",
        Proveedores: "0",

        CuentaSaldoUnicidad: "0",
      } as ImputacionContable,
    };
  },
  created() {
    if (!this.impIngresada) {
      // Nueva imputación
      this.esNuevo = true;
    } else {
      // Modificacion
      this.imp = Object.assign(this.imp, this.impIngresada);
    }
  },
  methods: {
    cancelar() {
      (this.$parent as any).close();
    },
    eliminar() {
      this.bus.$emit("imputacionEliminada", this.idx);
      this.cancelar();
    },
    aceptar() {
      if (this.esNuevo) {
        this.bus.$emit("imputacionCreada", this.imp);
      } else {
        this.bus.$emit("imputacionModificada", this.imp, this.idx);
      }
      this.cancelar();
    },
  },
  computed: {
    titulo(): string {
      if (this.esNuevo) {
        return "Nueva imputación contable";
      }
      return "Modificar imputación contable";
    },

    cuentas(): Cuenta[] {
      return this.$store.getters["cuentas/imputables"];
    },
  },
});
</script>

<style scoped>
div.modal-card-body {
  overflow-y: scroll;
}
h2 {
  font-weight: bolder;
  margin-top: 1.5em;
  font-size: 130%;
  margin-bottom: 0.5em;
}
label.lbl {
  margin-bottom: 0px;
  color: red;
}
</style>
