<template>
  <div class="modal-card">
    <header class="modal-card-head">
      <h1 class="modal-card-title">
        {{ titulo }}
      </h1>
    </header>
    <div class="modal-card-body">
      <b-field label="Quiero que" />

      <b-radio v-model="usuarioOGrupo" native-value="todos" :disabled="!esNuevo"
        >Todos</b-radio
      >
      <b-radio
        v-model="usuarioOGrupo"
        native-value="usuario"
        :disabled="!esNuevo"
        >Un usuario</b-radio
      >
      <b-radio v-model="usuarioOGrupo" native-value="grupo" :disabled="!esNuevo"
        >Un grupo de usuarios</b-radio
      >

      <b-field label="Usuario" v-if="usuarioOGrupo == 'usuario'">
        <b-select v-model="permiso.Usuario" :disabled="!esNuevo">
          <option v-for="v in usuarios" v-bind:key="v.ID" :value="v.ID">
            {{ v.Apellido.toUpperCase() }} {{ v.Nombre }}
          </option>
        </b-select>
      </b-field>

      <b-field label="Grupo de usuarios" v-if="usuarioOGrupo == 'grupo'">
        <b-select v-model="permiso.GrupoUsuario" :disabled="!esNuevo">
          <option :value="null">Todos</option>
          <option v-for="v in gruposUsuarios" v-bind:key="v.ID" :value="v.ID">
            {{ v.Nombre }}
          </option>
        </b-select>
      </b-field>

      <div id="crud" v-if="usuarioOGrupo">
        <b-field label="puedan" v-if="usuarioOGrupo == 'todos'" />
        <b-field label="pueda" v-else />
        <b-field>
          <b-checkbox v-model="permiso.Create">Crear</b-checkbox>
        </b-field>
        <b-field>
          <b-checkbox v-model="permiso.Read">Leer</b-checkbox>
        </b-field>
        <b-field>
          <b-checkbox v-model="permiso.Update">Modificar</b-checkbox>
        </b-field>
        <b-field>
          <b-checkbox v-model="permiso.Delete">Borrar</b-checkbox>
        </b-field>
      </div>
    </div>

    <footer class="modal-card-foot">
      <b-button class="is-primary" @click="guardar()">Guardar</b-button>
      <b-button @click="cerrar()">Cancelar</b-button>
      <b-button @click="eliminar()" class="is-danger" v-if="!esNuevo"
        >Eliminar</b-button
      >
    </footer>

    <b-loading
      is-full-page
      :active="cargando != 0"
      :can-cancel="true"
    ></b-loading>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import axios from "axios";
import eventBus from "@/eventBus";
import { Permiso } from "../permiso";
import { Usuario } from "@/interfaces/usuarios";
import { Grupo } from "@/modules/usuarios/grupo";
// ValorModal muestra - Tiene botones
//  - Los campos de una unicidad dinámica - Tiene botones
//  - El cheque de tercero - NO tiene botones

// 1) Valor modal dispara 'terminado'
// 2) UnicidadDinamica lo esuchca y llama guardar().
// 3) Crea la unicidad y llama a 'unicidadDinamicaOk'
export default Vue.extend({
  props: {
    bus: {
      type: Object,
      required: true,
    },
    config: {
      type: String,
      required: false,
    },
    esquema: {
      type: String,
      required: false,
    },
    empresa: {
      type: String,
      required: false,
    },
    permisoProp: {
      type: Object as () => Permiso,
      required: false,
    },
  },
  data() {
    return {
      permiso: {
        ID: "0",
        Config: this.config,
        Esquema: this.esquema,
        Usuario: "",
        GrupoUsuario: null,
        Create: false,
        Read: false,
        Update: false,
        Delete: false,
      } as Permiso,

      usuarioOGrupo: null as string | null,
      usuarios: [] as Usuario[],
      gruposUsuarios: [] as Grupo[],
      cargando: 0 as number,
    };
  },
  created() {
    this.fetchUsuarios();
    this.fetchGruposUsuarios();
    if (!this.esNuevo) {
      this.permiso = Object.assign(this.permiso, this.permisoProp);
      if (this.permiso.Usuario) {
        this.usuarioOGrupo = "usuario";
      } else if (this.permiso.GrupoUsuario) {
        this.usuarioOGrupo = "grupo";
      } else {
        this.usuarioOGrupo = "todos";
      }
    }
  },
  methods: {
    guardar() {
      this.cargando++;
      if (this.esNuevo) {
        this.permiso.Config = this.config;
        this.permiso.Esquema = this.esquema;
        this.permiso.Empresa = this.empresa;
        axios
          .post("/backend/fact_permisos/create", this.permiso)
          .then(() => {
            this.bus.$emit("permisoCreado");
            this.cerrar();
          })
          .catch((err) => {
            eventBus.$emit("error", err);
          })
          .finally(() => this.cargando--);
      } else {
        axios
          .post("/backend/fact_permisos/update", this.permiso)
          .then(() => {
            this.bus.$emit("permisoModificado");
            this.cerrar();
          })
          .catch((err) => {
            eventBus.$emit("error", err);
          })
          .finally(() => this.cargando--);
      }
    },
    eliminar() {
      this.$buefy.dialog.confirm({
        message: "¿Está seguro que desea eliminar este permiso?",
        confirmText: "Eliminar",
        type: "is-danger",
        hasIcon: true,
        onConfirm: () => {
          this.cargando++;
          axios
            .post("/backend/fact_permisos/delete", { ID: this.permiso.ID })
            .then(() => {
              this.bus.$emit("permisoEliminado");
              this.cerrar();
            })
            .catch((err) => {
              eventBus.$emit("error", err);
            })
            .finally(() => {
              this.cargando--;
            });
        },
      });
    },
    fetchUsuarios() {
      this.cargando++;
      axios
        .post("/backend/sesiones/usuarios")
        .then((res) => {
		  if (res.data && res.data.length) {
			  this.usuarios = res.data.sort((a: Usuario, b: Usuario) => {
				return new Intl.Collator("ar").compare(
				  a.Apellido + a.Nombre,
				  b.Apellido + b.Nombre
				);
			  });
		  }
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },
    fetchGruposUsuarios() {
      // Pido los grupos de usuarios
      this.cargando++;
      axios
        .get("backend/usuariosgrupos")
        .then((res) => {
          this.gruposUsuarios = res.data;
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },
    cerrar() {
      (this.$parent as any).close();
    },
  },
  computed: {
    titulo(): string {
      if (this.esNuevo) {
        return "Nuevo permiso";
      }
      return "Modificar permiso";
    },
    esNuevo(): boolean {
      if (this.permisoProp) {
        return false;
      }
      return true;
    },
  },
  watch: {},
});
</script>

<style scoped>
div.modal-card-body {
  overflow-y: scroll;
}
div#crud {
  margin-top: 1em;
}
</style>
