<template>
  <div>
    <div class="titulo-de-pantalla">
      <h1 class="is-title">Permisos</h1>
    </div>
    <div class="tile is-father">
      <div class="tile is-child">
        <b-field label="Para" horizontal>
          <b-select v-model="para">
            <option value="Cajas">Cajas</option>
            <option value="Comprobantes">Comprobantes</option>
            <option value="Empresas">Empresas</option>
            <option value="Depositos">Depositos</option>
            <option value="Programas">Programas</option>
          </b-select>
        </b-field>
      </div>
    </div>

    <div v-if="para != ''">
      <div class="box">
        <h1>Filtros</h1>
        <div class="columns">
          <b-field label="Programa" class="column">
            <b-select v-model="programa" expanded>
              <option value="">Todos</option>
              <option v-for="v in programas" v-bind:key="v" :value="v">{{
                v
              }}</option>
            </b-select>
          </b-field>

          <b-field label="Usuario" class="column">
            <b-select v-model="usuario" expanded>
              <option value="">Todos</option>
              <option v-for="v in usuarios" v-bind:key="v.ID" :value="v.ID"
							>{{v.Apellido.toUpperCase()}}, {{v.Nombre}} </option>
            </b-select>
          </b-field>

          <b-field label="Grupo de usuarios" class="column">
            <b-select v-model="grupoUsuario" expanded>
              <option :value="null">Todos</option>
              <option
                v-for="v in gruposUsuarios"
                v-bind:key="v.ID"
                :value="v.ID"
                >{{ v.NombreGrupo }}</option
              >
            </b-select>
          </b-field>
        </div>
        <b-button class="is-info" @click="actualizar()">Filtrar</b-button>
      </div>
      <div class="container">
        <div>
          <b-button
            class="btn btn-primary"
            @click="$router.push({ name: 'permiso', query: { para: para } })"
          >
            Nuevo
          </b-button>
        </div>

        <h2>Listado de {{ this.para }} permitidos</h2>
        <tabla v-if="permisos.length > 0">
          <thead>
            <th>Usuario</th>
            <th>Grupo de usuarios</th>
            <th>Valor</th>
            <th>Detalle</th>
          </thead>
          <tbody>
            <tr
              v-for="p in permisos"
              v-bind:key="p.ID"
              class="link"
              @click="profundizar(p.ID)"
            >
              <td v-if="p.NombreUsuario == ''">
                {{ p.Usuario | formatEmptyNull }}
              </td>
              <td v-else>
							{{ nombreUsuario(p)}}
              </td>

              <td v-if="p.NombreGrupo == ''">
                {{ p.GrupoUsuarios | formatCero }}
              </td>
              <td v-else>{{ p.NombreGrupo }}</td>

              <td v-if="mostrarInt">{{ p.Int | formatEmptyNull }}</td>
              <td v-else>{{ p.String }}</td>
              <td>{{ p.Detalle }}</td>
            </tr>
          </tbody>
        </tabla>
        <span v-else>No se encontró ningún resultado</span>
      </div>
    </div>
    <b-loading
      is-full-page
      :active="cargando != 0"
      :can-cancel="true"
    ></b-loading>
  </div>
</template>

<script lang="ts">
import axios from "axios";
import Vue from "vue";
import eventBus from "@/eventBus";
import { Usuario } from "@/interfaces/usuarios";
import { Empresa } from "@/interfaces/empresas";
import { LookupMany } from "../lookup";
export default Vue.extend({
  filters: {
    // El valor puede tomar valor cero o null
    // Cero significa todos, null significa ignorar
    formatEmptyNull(input: string): string {
      if (input == "" || input == "0") {
        return "Todos";
      }
      if (input == null) {
        return "-";
      }
      return input;
    },
    // El valor puede tomar valor cero que significa ignorar
    formatCero(input: string): string {
      if (input == "0") {
        return "-";
      }
      return input;
    }
  },
  data() {
    return {
      para: "" as string,

      empresas: [] as Empresa[],
      empresa: null as string | null,

      programas: [] as string[],
      programa: "",

      usuarios: [] as Usuario[],
      usuario: "",

      gruposUsuarios: [],
      grupoUsuario: null,

      permisos: [] as LookupMany[],

      localBus: new Vue(),
      mostrarModal: false,
      inputObject: {
        ID: null,
        Programa: null
      },

      cargando: 0 as number
    };
  },
  created() {
	document.title = "Permisos"
    if (this.$route.query.para) {
      this.para = this.$route.query.para as string;
    }

    // Pido los usuarios
		this.cargando++
    axios
      .post("/backend/sesiones/usuarios")
      .then(res => {
        if (res.data) {
          this.usuarios = res.data.sort((a: Usuario, b: Usuario) => {
            return new Intl.Collator("ar").compare(a.Apellido, b.Apellido);
          });
        }
        this.usuarios = res.data;
      })
      .catch(err => {
        eventBus.$emit("error", err);
      })
			.finally(() => this.cargando--);

    // Pido los grupos de usuarios
		this.cargando++
    axios
      .post("/backend/grupos", { GrupoDe: "Usuarios" })
      .then(res => {
        this.gruposUsuarios = res.data;
      })
      .catch(err => {
        eventBus.$emit("error", err);
      })
			.finally(() => this.cargando--);

    // Pido los programas
		this.cargando++
    axios
      .post("/backend/programas/many")
      .then(res => {
        this.programas = res.data;
      })
      .catch(err => {
        eventBus.$emit("error", err);
      })
			.finally(() => this.cargando--);
  },
  methods: {
    actualizar() {
      axios
        .post("/backend/lookups/many", {
          PermisosPara: this.para,
          Programa: this.programa,
          Usuario: this.usuario,
          GrupoUsuario: this.grupoUsuario
        })
        .then(res => {
          this.permisos = res.data;
        })
        .catch(err => {
          eventBus.$emit("error", err);
        });
    },
    profundizar(id: string) {
      // this.$router.push({name: 'permisos', query: {para: this.para}})
      this.$router.push({ name: "permiso", query: { id: id } });
    },
		nombreUsuario(v: LookupMany): string {
			if (v.Usuario) {
				// Permiso para usuario específico
				const vv: string[] = []
				var apellido = v.ApellidoUsuario
				if (apellido) {
					vv.push(apellido.toUpperCase())
				}
				const nombre = v.NombreUsuario
				if (nombre) {
					vv.push(nombre)
				}
				return	vv.join(", ")
			}

			if (v.NombreGrupo ) {
				// Permiso para un grupo	
				return ""
			}

			return "Todos"
		}
		},
		computed: {
    mostrarInt() {
      return true;
    },

    filtroEmpresaVisible() {
      if (this.para == "Empresas") {
        return false;
      }

      return true;
    },
    filtroProgramaVisible() {
      if (this.para == "Programas") {
        return false;
      }

      return true;
    },
    filtroCompVisible() {
      if (this.para == "Comprobantes") {
        return false;
      }

      return true;
    },
    filtroEmisorVisible() {
      if (this.para == "Centros emisores") {
        return false;
      }

      return true;
    },
    filtroUsuarioVisible() {
      if (this.para == "Usuarios") {
        return false;
      }

      return true;
    }
  },
  watch: {
    para() {
      this.actualizar();
    },
    usuario() {
      this.actualizar();
    },
    grupoUsuarios() {
      this.actualizar();
    }
  }
});
</script>

<style lang="scss" scoped></style>
