<template>
  <div>
    <div class="titulo-de-pantalla">
      <h1 class="is-title">{{ titulo }}</h1>
    </div>

    <div class="box">
      <!-- <div class="tile is-father">
      <div class="tile is-child">
        <b-field label="Permiso de">
          <b-select v-model="para">
            <option value="Cajas">Cajas</option>
            <option value="Centros emisores">Centros emisores</option>
            <option value="Comprobantes">Comprobantes</option>
            <option value="Empresas">Empresas</option>
            <option value="Depositos">Depositos</option>
            <option value="Programas">Programas</option>
          </b-select>
        </b-field>
      </div>
    </div> -->

      <b-field label="Quiero que la caja" v-if="(item.Para = 'Cajas')">
        <b-select v-model="cajaSeleccionada">
          <option value="0">Todas</option>
          <option v-for="v in cajas" v-bind:key="v.ID" :value="v.ID">
            {{ v.Nombre }}
          </option>
        </b-select>
      </b-field>

      <!-- Se selecionó CENTROS EMISORES-->
      <b-field
        label="Quiero que el centro emisor"
        v-if="item.Para == 'Centros emisores'"
      >
        <b-select v-model="centroEmisorSeleccionado">
          <option value="0">Todos</option>
          <option v-for="v in centrosEmisores" v-bind:key="v.ID" :value="v.ID">
            {{ v.Nombre }}
          </option>
        </b-select>
      </b-field>

      <!-- Se selecionó COMPROBANTES-->
      <b-field
        label="Quiero que el comprobante"
        v-if="item.Para == 'Comprobantes'"
      >
        <b-select v-model="comprobanteSeleccionado">
          <option value="0">Todos</option>
          <option v-for="v in comprobantes" v-bind:key="v.ID" :value="v.ID">
            {{ v.Nombre }}
          </option>
        </b-select>
      </b-field>

      <!-- Se selecionó EMPRESAS -->
      <b-field label="Quiero que la empresa" v-if="item.Para == 'Empresas'">
        <b-select v-model="empresaSeleccionada">
          <option value="0">Todos</option>
          <option v-for="v in empresas" v-bind:key="v.ID" :value="v.ID">
            {{ v.Nombre }}
          </option>
        </b-select>
      </b-field>

      <b-field label="esté dispobible para"> </b-field>

      <b-radio v-model="usuarioOGrupo" native-value="todos">Todos</b-radio>
      <b-radio v-model="usuarioOGrupo" native-value="usuario"
        >Un usuario</b-radio
      >
      <b-radio v-model="usuarioOGrupo" native-value="grupo"
        >Un grupo de usuarios</b-radio
      >

      <b-field label="Usuario" v-if="usuarioOGrupo == 'usuario'">
        <b-select v-model="usuarioSeleccionado">
          <option v-for="v in usuarios" v-bind:key="v.ID" :value="v.ID">
            {{ v.Apellido.toUpperCase() }} {{ v.Nombre }}
          </option>
        </b-select>
      </b-field>

      <b-field label="Grupo de usuarios" v-if="usuarioOGrupo == 'grupo'">
        <b-select v-model="grupoUsuarioSeleccionado">
          <option value="0">Todos</option>
          <option v-for="v in gruposUsuarios" v-bind:key="v.ID" :value="v.ID">
            {{ v.Nombre }}
          </option>
        </b-select>
      </b-field>
    </div>
    <b-button @click="guardar()" class="is-success">Guardar</b-button>
  </div>
</template>

<script lang="ts">
import axios from "axios";
import eventBus from "@/eventBus";
import Vue from "vue";
import { Usuario } from "@/interfaces/usuarios";
import { Empresa } from "@/interfaces/empresas";
import { Caja } from "@/modules/cajas/cajas";
import { Lookup } from "../lookup";
export default Vue.extend({
  props: {},
  data() {
    return {
      item: {
        ID: null,
        Usuario: null,
        GrupoUsuarios: null as string | null,
        Para: "",
        Int: null,
        String: null,
        Detalle: "",
      } as Lookup,
      cajaSeleccionada: null as string | null,
      comprobanteSeleccionado: null as string | null,
      centroEmisorSeleccionado: null as string | null,
      empresaSeleccionada: null as string | null,
      usuarioSeleccionado: null as string | null,
      grupoUsuarioSeleccionado: null as string | null,

      permisoUsuario: "todos" as string,

      cajas: [] as Caja[],
      centrosEmisores: [],
      comprobantes: [],
      empresas: [] as Empresa[],
      usuarios: [] as Usuario[],
      gruposUsuarios: [],
      programas: [] as string[],

      usuarioOGrupo: "usuario" || "grupo",
      cargando: 0 as number,
    };
  },
  created() {
    document.title = "Permiso";
    // Pido los usuarios
    this.cargando++;
    axios
      .post("/backend/sesiones/usuarios")
      .then((res) => {
        if (res.data && res.data.length) {
          this.usuarios = res.data.sort((a: Usuario, b: Usuario) => {
            return new Intl.Collator("ar").compare(
              a.Apellido + a.Nombre,
              b.Apellido + b.Nombre
            );
          });
        }
      })
      .catch((err) => {
        eventBus.$emit("error", err);
      })
      .finally(() => this.cargando--);
    // Pido los grupos de usuarios
    this.cargando++;
    axios
      .post("backend/grupos", { GrupoDe: "Usuarios" })
      .then((res) => {
        this.gruposUsuarios = res.data;
      })
      .catch((err) => {
        eventBus.$emit("error", err);
      })
      .finally(() => this.cargando--);
    if (this.esNuevo) {
      this.item.Para = this.$route.query.para as string;
    } else {
      this.cargando++;
      axios
        .post("/backend/lookups/one", { ID: this.$route.query.id })
        .then((res) => {
          this.item = res.data;
          if (this.item.Para == "Cajas") {
            this.cajaSeleccionada = this.item.Int;
          }
          if (this.item.Para == "Comprobantes") {
            this.comprobanteSeleccionado = this.item.Int;
          }
          if (this.item.Para == "Centros emisores") {
            this.centroEmisorSeleccionado = this.item.Int;
          }
          if (this.item.Para == "Empresas") {
            this.empresaSeleccionada = this.item.Int;
          }

          // Usuarios
          if (!this.item.Usuario == null) {
            this.usuarioOGrupo = "grupo";
            this.grupoUsuarioSeleccionado = this.item.GrupoUsuarios;
            return;
          }
          if (this.item.Usuario == "") {
            this.usuarioOGrupo = "todos";
          } else {
            this.usuarioOGrupo = "usuario";
            this.usuarioSeleccionado = this.item.Usuario;
          }
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    }
  },
  methods: {
    getCajas() {
      this.cargando++;
      axios
        .get("/backend/cajas")
        .then((res) => {
          this.cajas = res.data;
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },
    getCentrosEmisores() {
      this.cargando++;
      axios
        .post("/backend/talones/todos")
        .then((res) => {
          this.centrosEmisores = res.data;
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },
    getComprobantes() {
      this.cargando++;
      axios
        .get("/backend/comprobantes")
        .then((res) => {
          this.comprobantes = res.data;
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },
    getEmpresas() {
      this.cargando++;
      axios
        .get("/backend/empresas")
        .then((res) => {
          this.empresas = res.data;
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },
    guardar() {
      this.armarRequest();
      if (this.esNuevo) {
        this.guardarNuevo();
      } else {
        this.guardarCambios();
      }
    },
    armarRequest() {
      // Determino el campo INT o STRING
      if (this.item.Para == "Cajas") {
        this.item.Int = this.cajaSeleccionada;
        this.item.String = null;
      }
      if (this.item.Para == "Comprobantes") {
        this.item.Int = this.comprobanteSeleccionado;
        this.item.String = null;
      }
      if (this.item.Para == "Centros emisores") {
        this.item.Int = this.centroEmisorSeleccionado;
        this.item.String = null;
      }
      if (this.item.Para == "Empresas") {
        this.item.Int = String(this.empresaSeleccionada);
        this.item.String = null;
      }

      // Determino USUARIO y GRUPO USUARIO
      if (this.usuarioOGrupo == "usuario") {
        this.item.Usuario = this.usuarioSeleccionado;
        this.item.GrupoUsuarios = null;
      }
      if (this.usuarioOGrupo == "grupo") {
        this.item.Usuario = null;
        this.item.GrupoUsuarios = this.grupoUsuarioSeleccionado;
      }
      if (this.usuarioOGrupo == "todos") {
        this.item.Usuario = "";
        this.item.GrupoUsuarios = null;
      }
    },
    guardarNuevo() {
      // Llamo al backend
      axios
        .post("/backend/lookups/insertar", this.item)
        .then((res) => {
          this.$router.go(-1);
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        });
    },

    guardarCambios() {
      // Llamo al backend
      this.cargando++;
      axios
        .post("/backend/lookups/modificar", this.item)
        .then((res) => {
          this.$router.go(-1);
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },
    // Pide el listado de comprobantes para que el usuario seleccione
    // que comprobante quiere permitir.
    lookupComprobantes() {
      this.cargando++;
      axios
        .post("/backend/comps/todos")
        .then((res) => {
          this.comprobantes = res.data;
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },
  },
  computed: {
    esNuevo(): boolean {
      if (this.$route.query.id) {
        return false;
      }
      return true;
    },
    titulo(): string {
      if (this.esNuevo) {
        let mod = (this.$route.query.para as string).toLowerCase();
        return "Nuevo permiso de " + mod;
      } else {
        return "Modificar permiso de " + this.item.Para.toLowerCase();
      }
    },
    nombreHumanizado(): string {
      if (this.item.Para == "Cajas") {
        return "la caja";
      }
      if (this.item.Para == "Centros emisores") {
        return "el centro emisor";
      }
      if (this.item.Para == "Comprobantes") {
        return "el comprobante";
      }
      if (this.item.Para == "Depósitos") {
        return "el depósito";
      }
      if (this.item.Para == "Empresas") {
        return "la empresa";
      }
      if (this.item.Para == "Programas") {
        return "el programa";
      }
      return "";
    },
  },
  watch: {
    "item.Para"() {
      if (this.item.Para == "Cajas") {
        if (!this.cajas.length) {
          this.getCajas();
        }
      }
      if (this.item.Para == "Centros emisores") {
        if (this.centrosEmisores.length == 0) {
          this.getCentrosEmisores();
        }
      }
      if (this.item.Para == "Comprobantes") {
        if (this.comprobantes.length == 0) {
          this.getComprobantes();
        }
      }
      if (this.item.Para == "Depósitos") {
      }
      if (this.item.Para == "Empresas") {
        if (this.empresas.length == 0) {
          this.getEmpresas();
        }
      }
      if (this.item.Para == "Programas") {
      }
    },
  },
});
</script>

<style lang="scss" scoped>
input[type="radio"] {
  display: inline-block;
}
</style>
