<template>
  <div class="modal-card">
    <header class="modal-card-head">
      <div class="modal-card-title">Buscar producto</div>
    </header>
    <section class="modal-card-body">
      <b-steps rounded v-model="paso">
        <b-step-item
          :key="0"
          step="1"
          label="Producto"
          clickable
          v-if="mostrarSolapaProducto"
        >
          <div class="buscador columns">
            <div class="column is-narrow left-panel">
              <div v-if="categoria == null">
                <h2>Categorías</h2>
                <ul ref="cats">
                  <li v-for="cat in categorias" v-bind:key="cat.ID">
                    <a @click="categoria = cat"
                      >{{ cat.Nombre | sinCategoria }} ({{ cat.Cantidad }})</a
                    >
                  </li>
                </ul>
              </div>

              <div v-else class="field">
                <b-tag
                  type="is-primary"
                  closable
                  @close="categoria = null"
                  aria-close-label="Quitar filtro de categoría"
                  >{{ categoria.Nombre | sinCategoria }}</b-tag
                >
              </div>
            </div>
            <div class="column">
              <div class="flex block">
                <b-input
                  type="search"
                  icon="magnify"
                  v-model="texto"
                  class="item"
                  v-on:keyup.native.enter="actualizar()"
                  ref="buscarInput"
                ></b-input>
                <b-button
                  class="is-info"
                  icon-left="magnify"
                  @click="actualizar()"
                  >Buscar</b-button
                >
              </div>
              <tabla v-if="rtdos.length">
                <thead>
                  <th>Cod</th>
                  <th></th>
                  <th>Desc</th>
                  <th>Cantidad</th>
                </thead>
                <tbody>
                  <tr
                    v-for="v in rtdos"
                    v-bind:key="v.ID"
                    class="link"
                    @click="seleccionarProducto(v.ID)"
                  >
                    <td>
                      <!-- <b-button icon-left="magnify" size="is-large"></b-button> -->
                    </td>
                    <td>{{ v.CodigoAlfanumerico }}</td>
                    <td>
                      <b-button class="no-button">{{ v.Nombre }}</b-button>
                    </td>
                    <td>
                      {{ v.Precio | enPesos }}
                      Cantidad: {{ v.CantidadStock }} {{ v.UM }}
                    </td>
                  </tr>
                </tbody>
              </tabla>
            </div>
          </div>
        </b-step-item>

        <b-step-item
          :key="1"
          step="2"
          label="Precio"
          clickable
          v-if="mostrarSolapaPrecio"
        >
          <!-- Selección de cantidades y descuentos -->
          <div class="container producto">
            <div class="columns">
              <div class="column detalle-producto">
                <div class="categoria-path">
                  {{ categoriaFullPath }}
                </div>
                <div class="nombre">
                  <h2>{{ productoNombre }}</h2>
                  <h2 class="subtitle is-5">
                    {{ producto.CodigoAlfanumerico }}
                  </h2>
                </div>

                <div class="box" v-if="mostrarAtts">
                  <h1>CARACTERÍSTICAS</h1>
                  <table class="kv">
                    <tbody>
                      <tr v-for="att in attsGenerales" :key="att.Key">
                        <td class="k">{{ att.Key }}</td>
                        <td class="v" v-if="att.String">{{ att.String }}</td>
                        <td class="v" v-if="att.Bool">
                          {{ boolString(att.Bool) }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <p v-if="productoDescripcion">{{ productoDescripcion }}</p>
              </div>
              <div
                class="column is-half-tablet is-one-third-desktop is-narrow columna-precio"
              >
                <b-field
                  label="Detalle adicional"
                  v-if="permiteDetalleProductos"
                >
                  <b-input v-model="detalleManual" />
                </b-field>
                <b-field
                  label="Variantes"
                  class="block"
                  v-if="producto && mostrarVariantes"
                >
                  <!-- Tabla con las con las combinaciones de variantes -->
                  <tabla v-if="producto" light>
                    <thead>
                      <th v-for="key in producto.Apertura" :key="key">
                        {{ key }}
                      </th>
                      <!-- <th v-if="conPrecio && discriminaIva" align="right">Precio neto</th> -->
                      <!-- <th v-if="conPrecio && usaListaDePrecios" align="right">Precio final</th> -->
                      <th v-if="selectedSKU"></th>
                    </thead>
                    <tbody>
                      <tr
                        v-for="sku in skusFiltrados"
                        class="link"
                        v-bind:key="sku.ID"
                        @click="fijarSKU(sku)"
                      >
                        <td v-for="key in producto.Apertura" v-bind:key="key">
                          {{ sku.Atts[key] }}
                        </td>
                        <!-- <td align="right" v-if="conPrecio && discriminaIva"> -->
                        <!-- 	{{ precioNetoSKU(sku.ID) | enPesos }} -->
                        <!-- </td> -->
                        <!-- <td align="right" v-if="conPrecio && usaListaDePrecios"> -->
                        <!-- 	{{ precioFinalSKU(sku.ID) | enPesos }} -->
                        <!-- </td> -->
                        <td v-if="selectedSKU">
                          <b-button
                            icon-left="close-circle"
                            @click.stop="fijarSKU(null)"
                          ></b-button>
                        </td>
                      </tr>
                    </tbody>
                  </tabla>
                </b-field>

                <CantidadComp
                  v-if="selectedSKU && producto.Cuantificable"
                  :cantidadProp="cantidad"
                  :bus="localBus"
                  :producto="producto"
                  :readOnly="readOnly"
                />

                <PrecioPorListaComp
                  v-if="conPrecio && selectedSKU && usaListaDePrecios"
                  :listasID="listasPermitidas"
                  :listaProp="listaSeleccionada"
                  :bus="localBus"
                />

                <PrecioDigitadoComp
                  v-if="conPrecio && selectedSKU && permiteModificarPrecio"
                  :trabajaConPrecioFinal="trabajaConPrecioFinal"
                  :precioProp="precioNeto"
                  :bus="localBus"
                />

                <TablaImpuestosComp
                  v-if="conPrecio && selectedSKU"
                  :alicuotaIVA="alicuotaIVA"
                  :precioNeto="precioNeto"
                  :iva="iva"
                  :cantidad="cantidad"
                  :precioFinal="precioFinal"
                  :trabajaConPrecioFinal="trabajaConPrecioFinal"
                />

                <!-- TOTAL -->
                <div class="total" v-if="conPrecio && selectedSKU">
                  <td colspan="3" align="right" class="monto monto-final">
                    <div>$ {{ montoTotal | enPesos }}</div>
                  </td>
                </div>
              </div>
            </div>
          </div>
        </b-step-item>
        <!-- Termina PASO 2 -->

        <!-- Empieza PASO 3 -->
        <b-step-item
          :key="2"
          step="3"
          label="Unicidad"
          clickable
          v-if="mostrarSolapaSeleccionUnicidades"
        >
          <div>
            <p>
              {{ unicidadMensaje }}
            </p>

            <div class="box" v-if="mostrarBusquedaUnicidades">
              <h1>Búsqueda</h1>
              <b-field
                v-for="v in unicidadDef.AttsIndexados"
                :key="v.Nombre"
                :label="v.Nombre"
                @keydown.native.enter="buscarUnicidades()"
                horizontal
              >
                <b-checkbox
                  v-if="v.Type == 'bool'"
                  v-model="unicidadesFiltros[v.Nombre]"
                />
                <b-input
                  v-if="v.Type == 'string'"
                  v-model="unicidadesFiltros[v.Nombre]"
                  icon="magnify"
                />
                <b-input
                  v-if="v.Type == 'date'"
                  type="date"
                  v-model="unicidadesFiltros[v.Nombre]"
                  icon="magnify"
                />
                <b-input
                  v-if="v.Type == 'int'"
                  type="number"
                  v-model="unicidadesFiltros[v.Nombre]"
                  icon="magnify"
                />
                <b-button class="is-info" @click="buscarUnicidades()"
                  >Buscar</b-button
                >
              </b-field>
              <b-field
                v-if="unicidadesRtdoBusqueda && unicidadesRtdoBusqueda.length"
              >
                <b-button
                  @click="paginarUnicidades(-1)"
                  :disabled="unicidadesPagina == 0"
                  >Anterior</b-button
                >
                <b-button
                  @click="paginarUnicidades(1)"
                  v-if="unicidadesRtdoBusqueda.length == unicidadesLimit"
                  >Siguiente</b-button
                >
                <p>Página {{ unicidadesPagina + 1 }}</p>
              </b-field>
              <tabla v-if="unicidadDef && unicidadesRtdoBusqueda.length">
                <thead>
                  <th></th>
                  <th v-for="v in attsIndexados" v-bind:key="v.Nombre">
                    {{ v.Nombre }}
                  </th>
                  <th v-for="v in atts" v-bind:key="v.Nombre">
                    {{ v.Nombre }}
                  </th>
                  <th>Cantidad</th>
                  <th>Fecha creación</th>
                </thead>
                <tbody>
                  <tr
                    v-for="u in unicidadesRtdoBusqueda"
                    v-bind:key="u.ID"
                    @click="seleccionarUnicidad(u)"
                    class="link"
                  >
                    <td><b-button icon-left="cursor-pointer"></b-button></td>
                    <td v-for="v in attsIndexados" v-bind:key="v.Nombre">
                      <span v-if="u.AttsIndexados">
                        {{ u.AttsIndexados[v.Nombre] }}
                      </span>
                    </td>
                    <td v-for="v in atts" v-bind:key="v.Nombre">
                      <span v-if="u.Atts">
                        {{ u.Atts[v.Nombre] }}
                      </span>
                    </td>
                    <td>{{ u.Cantidad }}</td>
                    <td>{{ u.CreatedAt | enFechaHora }}</td>
                  </tr>
                </tbody>
              </tabla>
              <p v-if="busquedaUnicidadDirty">No hubo resultados</p>
            </div>

            <!-- UNICIDADES AGREGADAS -->
            <div class="box">
              <h1>Seleccionadas</h1>
              <tabla v-if="unicidades.length">
                <thead>
                  <th></th>
                  <th v-for="v in attsIndexados" v-bind:key="v.Nombre">
                    {{ v.Nombre }}
                  </th>
                  <th v-for="v in atts" v-bind:key="v.Nombre">
                    {{ v.Nombre }}
                  </th>
                  <th>Fecha creación</th>
                </thead>
                <tbody>
                  <tr
                    v-for="(u, idx) in unicidades"
                    :key="u.ID"
                    @click="quitarUnicidad(idx)"
                    class="link"
                  >
                    <td><b-button icon-left="close-circle"></b-button></td>
                    <td v-for="v in attsIndexados" v-bind:key="v.Nombre">
                      <span v-if="u.AttsIndexados">
                        {{ u.AttsIndexados[v.Nombre] }}
                      </span>
                    </td>
                    <td v-for="v in atts" v-bind:key="v.Nombre">
                      <span v-if="u.Atts">
                        {{ u.Atts[v.Nombre] }}
                      </span>
                    </td>
                    <td>{{ u.CreatedAt | enFechaHora }}</td>
                  </tr>
                </tbody>
              </tabla>
              <p v-else>Ninguna</p>
            </div>
          </div>
        </b-step-item>

        <!-- Empieza ALTA BULK -->
        <b-step-item
          :key="3"
          step="4"
          label="Alta múltiple"
          clickable
          v-if="mostrarSolapaCreacionUnicidades"
        >
          <div class="box">
            <h1>Campos a generar</h1>
            <div v-for="v in unicidadDefAtts" :key="v.Nombre">
              <!-- <h2>{{ v.Nombre }}</h2> -->

              <!-- Si es atributo de texto -->
              <b-field v-if="v.Type == 'string'" :label="v.Nombre">
                <b-input v-model="bulkValoresFijos[v.Nombre]"></b-input>
                <!-- <b-field label="Prefijo">
                  <b-input></b-input>
                </b-field>
                <b-field label="Desde">
                  <b-input type="number" custom-class="d2"></b-input>
                </b-field>
                <b-field label="Sufijo">
                  <b-input></b-input>
                </b-field>
                <b-field label="Cantidad de dígitos">
                  <b-input type="number"></b-input>
                </b-field> -->
              </b-field>

              <!-- Si es atributo de número-->
              <b-field
                v-if="v.Type == 'int'"
                :label="v.Nombre + ' desde (campo a aumentar)'"
              >
                <b-input v-model.number="bulkDesde[v.Nombre]"></b-input>
              </b-field>
            </div>
          </div>
          <b-button @click="generarLote()">Generar</b-button>
          <div class="box" v-if="loteGenerado && loteGenerado.length">
            <h1>Detalle de unicidades</h1>
            <tabla>
              <thead>
                <th v-for="v in unicidadDefAtts" :key="v.Nombre">
                  {{ v.Nombre }}
                </th>
              </thead>
              <tbody>
                <tr v-for="(unicidad, i) in loteGenerado" :key="i">
                  <td v-for="attName in unicidadDefAtts" :key="attName.Nombre">
                    {{ attValue(i, attName.Nombre) }}
                  </td>
                </tr>
              </tbody>
            </tabla>
          </div>
        </b-step-item>
      </b-steps>
    </section>
    <footer class="modal-card-foot">
      <b-button @click="aceptar()" class="is-primary" v-if="!readOnly"
        >Aceptar</b-button
      >
      <b-button
        @click="eliminar()"
        class="is-danger"
        v-if="idx >= 0 && !readOnly"
        >Eliminar</b-button
      >
      <b-button @click="close()">Cancelar</b-button>
    </footer>
    <b-loading
      is-full-page
      :active="cargando != 0"
      :can-cancel="true"
    ></b-loading>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import axios from "axios";
import eventBus from "@/eventBus";
import { unicidadString } from "@/modules/unicidades/unicidades";
import { Producto as ProductoPrecio } from "@/modules/fact/interfaces";
import { Unicidad } from "@/modules/unicidades/unicidades";
import { UnicidadDef, Att as AttUnicidad } from "@/modules/unicidadesdef/def";
import PrecioDigitadoComp from "./PrecioDigitado.vue";
import PrecioPorListaComp from "./PrecioPorLista.vue";
import CantidadComp from "./Cantidad.vue";
import TablaImpuestosComp from "./TablaImpuestos.vue";
import { Alicuota } from "@/modules/afip/afip";
import {
  CategoriaConCantidad,
  Precio,
  Producto,
  Att,
  ProductoView,
  SKU,
} from "../productos/productos";

export default Vue.extend({
  components: {
    PrecioDigitadoComp,
    PrecioPorListaComp,
    CantidadComp,
    TablaImpuestosComp,
  },
  props: {
    bus: {
      required: true,
      type: Object,
    },
    // Si es false, toda la parte de precios se ignora.
    permiteDetalleProductos: {
      required: true,
      type: Boolean,
    },
    // Si es false, toda la parte de precios se ignora.
    conPrecio: {
      required: true,
      type: Boolean,
    },
    permitePrecioCero: {
      required: true,
      type: Boolean,
    },
    // Si es true, el usuario debe seleccionar una lista de precios.
    usaListaDePrecios: {
      required: true,
      type: Boolean,
    },
    //
    permiteModificarPrecio: {
      required: true,
      type: Boolean,
    },
    // Si la operación calcula IVA se lo agrego al neto
    calculaIva: {
      required: true,
      type: Boolean,
    },
    // Trabaja con precio final
    trabajaConPrecioFinal: {
      required: true,
      type: Boolean,
    },
    // Si el comprobante no discrimina IVA muestro solamente precio final
    discriminaIva: {
      type: Boolean,
      required: true,
    },
    // Necesito estos datos apra determinar los precios y el stock
    empresa: {
      type: String,
      required: true,
    },
    listasPermitidas: {
      type: Array as () => Array<string>,
    },
    depositos: String,
    unicidadesSeCrean: {
      type: Array as () => Array<string>,
    },
    especificarUnicidades: {
      required: true,
      type: Boolean,
    },
    config: {
      type: String,
    },
    // soloDisponiblesParaVenta: {
    //   type: Boolean,
    //   required: true
    // },

    // Si estoy modificando
    aModificar: Object as () => ProductoPrecio,
    readOnly: Boolean,

    idx: Number, // Es el número del renglón que se está modificando
  },
  data() {
    return {
      paso: 1 as number,

      // Paso 1) Búsqueda
      texto: "" as string,
      rtdos: [] as ProductoView[],

      categorias: [] as CategoriaConCantidad[],
      categoria: null as CategoriaConCantidad | null,

      producto: null as Producto | null,
      skus: [] as SKU[],
      precios: [] as Precio[],
      variantesFiltros: {} as any,
      variantesDisponibles: {} as any,

      detalleManual: "" as string,
      listaSeleccionada: null as string | null,
      precioNeto: 0 as number,
      iva: 0 as number,
      precioFinal: 0 as number,

      unicidades: [] as Unicidad[], // Las unicidades seleccionadas para este producto
      unicidadesFiltros: {} as any, // Son los datos que ingresa el usuario para buscar las unicidades
      unicidadesRtdoBusqueda: [] as Unicidad[], // Cuando doy buscar, son las que aparecen
      unicidadesLimit: 500 as number,
      unicidadesPagina: 0 as number,

      skusFiltrados: [] as SKU[],

      selected: null as ProductoPrecio | null,

      cantidad: 0 as number,
      selectedSKU: null as string | null,

      bulkValoresFijos: {} as any,
      bulkDesde: {} as any,
      loteGenerado: [] as Unicidad[],

      cargando: 0 as number,
      busquedaUnicidadDirty: false as boolean,
      localBus: new Vue(),
    };
  },
  mounted() {
    if (!this.aModificar) {
      (this.$refs as any).buscarInput.focus();
    }
    this.paso = 1;
  },
  computed: {
    categoriaFullPath(): string {
      if (!this.producto) {
        return "";
      }
      if (this.producto.Categoria) {
        let c = this.$store.getters["productos/categoriaPorID"](
          this.producto.Categoria
        );
        if (c) {
          return c.FullPath;
        }
      }
      return "";
    },
    // Devuelve la alícuota de IVA  del producto
    alicuotaIVA(): string {
      if (!this.producto) {
        return "";
      }
      let alic = this.$store.getters["iva/alicuotaPorID"](
        this.producto.AlicuotaIVA
      );
      if (alic) {
        return alic.Nombre;
      } else {
        return "N/D";
      }
    },
    cantidadNombre(): string {
      if (!this.producto) {
        return "";
      }
      if (this.producto.TipoUM == "Cantidad") {
        return this.producto.Envase;
      }
      return this.producto.UM;
    },
    productoNombre(): string {
      if (!this.producto) {
        return "NA";
      }
      let nombre = this.producto.Nombre;
      if (!this.selectedSKU) {
        return nombre;
      }
      let sku = this.skus.find((x) => x.ID == this.selectedSKU);
      if (sku) {
        return sku.Nombre;
      }
      return nombre;
    },
    productoDescripcion(): string {
      if (!this.producto) {
        return "";
      }
      return this.producto.Descripcion;
    },
    // Devuelve los atributos del producto
    attsGenerales(): Att[] {
      if (!this.producto) {
        return [];
      }
      if (!this.producto.AttsGenerales) {
        return [];
      }
      return this.producto.AttsGenerales;
    },
    mostrarAtts(): boolean {
      if (!this.producto) {
        return false;
      }
      if (!this.producto.AttsGenerales) {
        return false;
      }
      if (!this.producto.AttsGenerales.length) {
        return false;
      }
      return true;
    },
    mostrarVariantes(): boolean {
      if (!this.producto) {
        return false;
      }
      if (!this.producto.TieneVariantes) {
        return false;
      }
      if (!this.producto.Apertura.length) {
        return false;
      }
      return true;
    },
    mostrarSolapaProducto(): boolean {
      if (this.readOnly) {
        return false;
      }
      if (this.aModificar) {
        return false;
      }
      return true;
    },
    mostrarSolapaPrecio(): boolean {
      if (this.producto) {
        return true;
      }
      return false;
    },
    mostrarSolapaSeleccionUnicidades(): boolean {
      if (!this.especificarUnicidades) {
        return false;
      }
      if (this.lasUnicidadesSeSeleccionan) {
        return true;
      }
      return false;
    },
    mostrarBusquedaUnicidades(): boolean {
      if (!this.unicidadDef) {
        return false;
      }
      if (this.readOnly) {
        return false;
      }
      if (this.unicidades.length >= this.cantidad) {
        return false;
      }
      return true;
    },
    mostrarSolapaCreacionUnicidades(): boolean {
      if (!this.especificarUnicidades) {
        return false;
      }
      if (this.lasUnicidadesSeCrean) {
        return true;
      }
      return false;
    },
    lasUnicidadesSeCrean(): boolean {
      if (!this.unicidadDef) {
        return false;
      }
      if (!this.unicidadesSeCrean) {
        return false;
      }
      const id = this.unicidadDef.ID;
      if (this.unicidadesSeCrean.find((x) => x == id)) {
        return true;
      }
      return false;
    },
    lasUnicidadesSeSeleccionan(): boolean {
      if (!this.unicidadDef) {
        return false;
      }
      if (!this.unicidadesSeCrean) {
        return true;
      }
      const id = this.unicidadDef.ID;
      if (!this.unicidadesSeCrean.find((x) => x == id)) {
        return true;
      }
      return false;
    },
    sePuedeConfirmar() {
      if (this.conPrecio) {
        if (!this.montoTotal) {
          return false;
        }
      }
      if (!this.producto) {
        return false;
      }

      if (this.producto.Cuantificable) {
        if (!this.cantidad) {
          return false;
        }
      }
      return true;
    },
    montoTotal(): number | null {
      if (!this.producto) {
        return null;
      }
      const cantidad = this.cantidad;
      if (this.producto.Cuantificable) {
        return cantidad * this.precioFinal;
      }
      return this.precioFinal;
    },
    // Devuelve la definición de la unicidad en base al producto seleccionado
    unicidadDef(): UnicidadDef | null {
      if (!this.producto || !this.producto.TrabajaConUnicidades) {
        return null;
      }
      let u = this.$store.getters["unicidadesdef/porID"](
        this.producto.ClaseUnicidad
      );
      if (!u) {
        return null;
      }
      return u;
    },
    unicidadDefAtts(): AttUnicidad[] {
      let u = this.unicidadDef;
      if (!u) {
        return [];
      }
      let out: AttUnicidad[] = [];
      if (u.AttsIndexados) {
        for (let v of u.AttsIndexados) {
          out.push(v);
        }
      }
      if (u.Atts) {
        for (let v of u.Atts) {
          out.push(v);
        }
      }
      return out;
    },
    attsIndexados(): AttUnicidad[] {
      if (!this.unicidadDef) {
        return [];
      }
      if (!this.unicidadDef.AttsIndexados) {
        return [];
      }
      return this.unicidadDef.AttsIndexados;
    },
    atts(): AttUnicidad[] {
      if (!this.unicidadDef) {
        return [];
      }
      if (!this.unicidadDef.Atts) {
        return [];
      }
      return this.unicidadDef.Atts;
    },
    unicidadMensaje(): string {
      if (!this.unicidadDef) {
        return "";
      }
      if (this.cantidad == 1) {
        return `El producto ${
          this.productoNombre
        } exige que se especifique un ${this.unicidadDef.NombreSingular.toLowerCase()}.`;
      }
      return `El producto ${this.productoNombre} exige que se especifique los ${
        this.cantidad
      } ${this.unicidadDef.Nombre.toLowerCase()}.`;
    },
  },
  filters: {
    sinCategoria(nombre: string): string {
      if (nombre == "" || nombre == null) {
        return "Sin categoria";
      }
      return nombre;
    },
  },
  created() {
    // Traigo categorias disponibles
    this.fetchCategorias();
    this.hooks();

    if (this.aModificar) {
      // Pongo datos
      this.cantidad = this.aModificar.Cantidad;
      if (this.usaListaDePrecios) {
        this.listaSeleccionada = this.aModificar.ListaPrecios;
      } else {
        this.precioNeto = this.aModificar.PrecioUnitario;
      }
      this.seleccionarProducto(this.aModificar.Producto);
      this.detalleManual = this.aModificar.ProductoDetalle;
      // // Busco producto
      // axios
      //   .post("/backend/productos/many", {
      //     IDs: [this.aModificar.Producto]
      //   })
      //   .then(res => {
      //     this.rtdos = res.data;
      //   })
      //   .catch(err => {
      //     eventBus.$emit("error", err);
      //   });

      // Busco unicidades
      if (this.aModificar.Unicidades) {
        if (this.aModificar.Unicidades.length) {
          let ids: string[] = [];
          for (let v of this.aModificar.Unicidades) {
            ids.push(v.ID);
          }
          this.cargando++;
          axios
            .post("/backend/unicidades/many", {
              IDs: ids,
            })
            .then((res) => {
              this.cargando--;
              this.unicidades = res.data;
            })
            .catch((err) => {
              eventBus.$emit("error", err);
              this.cargando--;
            });
        }
      }
    }
  },
  watch: {
    categoria() {
      this.actualizar();
    },
    "$refs.cantidad"() {
      if (this.paso == 2) {
        (this.$refs as any).cantidad.focus();
      }
    },
    selectedSKU() {
      // Si es una operación sin precios
      if (!this.conPrecio) {
        return;
      }

      // Si no hay ninguno seleccionado
      if (!this.selected) {
        return;
      }
    },
  },
  methods: {
    actualizar() {
      let filtro = {
        Texto: this.texto,
        Categoria: null as string | null,
        Deposito: null,
        ListaDePrecio: null,
      };
      if (this.categoria) {
        filtro.Categoria = this.categoria.ID;
      }

      this.cargando++;
      axios
        .post("/backend/productos/many", filtro)
        .then((res) => {
          this.rtdos = res.data;
          this.cargando--;
        })
        .catch((err) => {
          eventBus.$emit("error", err);
          this.cargando--;
        });
    },

    seleccionarProducto(id: string) {
      if (!this.aModificar) {
        this.cantidad = 1;
      }

      // Si hay una sola lista de precios, la selecciono

      // Busco el producto
      this.cargando++;
      axios
        .post("/backend/precios/producto_skus_y_precios", {
          Producto: id,
          Empresa: this.empresa,
          Listas: this.listasPermitidas,
        })
        .then((res) => {
          this.producto = res.data.Producto;
          this.skus = res.data.SKUs;
          this.precios = res.data.Precios;

          // Pongo los filtros de variantes definidos en el producto
          if (this.producto && this.producto.Apertura) {
            this.producto.Apertura.map((item: string) => {
              this.variantesFiltros[item] = null;
            });
          }

          if (this.skus) {
            if (this.aModificar) {
              let found = this.skus.find((x) => x.ID == this.aModificar.SKU);
              let sku: null | SKU = null;
              if (found) {
                sku = found;
              }
              this.fijarSKU(sku);
            } else {
              if (this.skus.length == 1) {
                // Es un producto sin variantes
                this.fijarSKU(this.skus[0]);
              } else {
                this.skusFiltrados = this.skus;
                //this.lookupFiltrosVariantes();
              }
            }
          }
          this.paso = 1;
        })
        .catch((err) => {
          eventBus.$emit("error", err);
        })
        .finally(() => this.cargando--);
    },
    alert(msg: string) {
      this.$buefy.dialog.alert({
        title: "Validación",
        message: msg,
        type: "is-danger",
        hasIcon: true,
        icon: "times-circle",
        iconPack: "fa",
        ariaRole: "alertdialog",
        ariaModal: true,
      });
    },
    close() {
      (this.$parent as any).close();
    },
    // Luego de seleccionadas la listas de precio y cantidad
    aceptar() {
      // Hay producto?
      if (!this.producto) {
        this.alert("No se definió producto");
        return;
      }

      // Cantidad?
      if (this.cantidad < 0) {
        this.$buefy.dialog.alert("La cantidad debe mayor a cero");
        return;
      }
      if (this.producto.Cuantificable && !this.cantidad) {
        this.$buefy.dialog.alert("No se ingresó cantidad");
        return;
      }

      // Producto usa unicidades?
      if (this.producto.TrabajaConUnicidades && this.especificarUnicidades) {
        // Seleccionadas
        if (this.lasUnicidadesSeSeleccionan) {
          if (this.unicidades.length != this.cantidad) {
            this.$buefy.dialog.alert(
              `Cantidad: ${this.cantidad} pero se seleccionaron ${this.unicidades.length} unicidades`
            );
            return;
          }
        }

        if (this.lasUnicidadesSeCrean) {
          if (this.loteGenerado.length != this.cantidad) {
            this.$buefy.dialog.alert(
              `Cantidad de unicidades no coinciden con cantidad de productos`
            );
            return;
          }
        }
      }

      let sel = {} as ProductoPrecio;
      if (this.selectedSKU) {
        sel.SKU = this.selectedSKU;
      }
      sel.Producto = this.producto.ID as string;
      sel.ProductoNombre = this.productoNombre;
      sel.ProductoDetalle = this.detalleManual;
      sel.ProductoImpresion = this.producto.NombreImpresion;
      sel.Codigo = this.producto.CodigoAlfanumerico;
      sel.Cantidad = this.cantidad;
      sel.UM = this.producto.UM;

      // Pego precios
      if (this.conPrecio) {
        if (this.usaListaDePrecios) {
          if (!this.precioNeto && !this.permitePrecioCero) {
            this.alert("No puede ingresar producto sin precio");
            return;
          }
          sel.ListaPrecios = this.listaSeleccionada;
          sel.PrecioUnitario = this.precioNeto;
          // TODO: descuento
          sel.PrecioUnitarioFinal = this.precioNeto;
          sel.MontoTotal = sel.PrecioUnitarioFinal * sel.Cantidad;
          sel.AlicuotaIVA = this.producto.AlicuotaIVA;
        } else {
          if (!this.precioFinal && !this.permitePrecioCero) {
            this.alert("No puede ingresar producto sin precio");
            return;
          }
          sel.PrecioUnitario = this.precioNeto;
          // TODO: descuento
          sel.PrecioUnitarioFinal = this.precioNeto;
          sel.MontoTotal = sel.PrecioUnitarioFinal * sel.Cantidad;
          sel.AlicuotaIVA = this.producto.AlicuotaIVA;
        }
      }

      // Unicidades seleccionadas
      if (this.unicidades && this.unicidades.length) {
        sel.Unicidades = this.unicidades.map((item) => {
          // Armo el string del detalle con los atributos
          let def = this.$store.getters["unicidadesdef/porID"](item.Definicion);
          let detalle = unicidadString(item, def);
          return { ID: item.ID, Detalle: detalle };
        });
      }

      //  Genero un solo renglón con todas las unicidades
      if (this.loteGenerado && this.loteGenerado.length) {
        if (!this.unicidadDef) {
          return;
        }
        sel.UnicidadesNuevas = this.loteGenerado;
        let desde = unicidadString(this.loteGenerado[0], this.unicidadDef);
        let hasta = "";
        if (this.loteGenerado.length > 1) {
          hasta = unicidadString(
            this.loteGenerado[this.loteGenerado.length - 1],
            this.unicidadDef
          );
        }
        if (hasta) {
          sel.ProductoDetalle = "Desde " + desde + " hasta " + hasta;
        }
      }
      this.selected = sel;

      if (this.aModificar) {
        this.bus.$emit("productoModificado", this.selected, this.idx);
      } else {
        this.bus.$emit("productoAgregado", this.selected);
      }
      (this.$parent as any).close();
    },
    eliminar() {
      this.bus.$emit("productoEliminado", this.idx);
      (this.$parent as any).close();
    },
    // Pega los campos para filtrar con los select
    lookupFiltrosVariantes() {
      if (!this.producto) {
        return;
      }
      if (!this.producto.Apertura) {
        return;
      }
      this.variantesDisponibles = {};
      // Determino los options de cada select
      for (let key of this.producto.Apertura) {
        let s = new Set();
        for (let v of this.skus) {
          s.add(v.Atts[key]);
        }
        this.variantesDisponibles[key] = Array.from(s).sort();
      }
    },
    filtrarSkus() {
      if (!this.producto) {
        return;
      }
      if (!this.producto.TieneVariantes) {
        this.fijarSKU(this.skus[0]);
        return;
      }
      let combinacionesQueCumplen = [] as SKU[];
      this.skus.filter((sku) => {
        for (let [k, v] of Object.entries(this.variantesFiltros)) {
          let hayFiltro = v != null;
          let coincide = sku.Atts[k] == v;
          if (hayFiltro && !coincide) {
            return false;
          }
        }
        // A este sku lo pasé por todos los filtros y pasó
        combinacionesQueCumplen.push(sku);
      });
      // Con los filtros aplicados, ¿pude encontrar una sola combinación?
      if (combinacionesQueCumplen.length == 1) {
        this.fijarSKU(combinacionesQueCumplen[0]);
      } else {
        this.fijarSKU(null);
      }
      this.skusFiltrados = combinacionesQueCumplen;
    },
    buscarUnicidades() {
      if (!this.unicidadDef) {
        return;
      }
      if (this.unicidadDef.Tipo == "Referencial") {
        let keys = Object.keys(this.unicidadesFiltros);
        if (!keys.length) {
          this.alert("Debe ingresar algún filtro");
          return;
        }
        if (keys.length == 1) {
          if (!this.unicidadesFiltros[keys[0]]) {
            this.alert("Debe ingresar algún filtro");
            return;
          }
        }
        for (let [k, v] of Object.entries(this.unicidadesFiltros)) {
          if (v == "") {
            // Es un valor cero
            delete this.unicidadesFiltros[k];
          }
        }
        this.cargando++;
        axios
          .post("/backend/unicidades/many", {
            Definicion: this.unicidadDef.ID,
            Filtro: this.unicidadesFiltros,
          })
          .then((res) => {
            this.unicidadesRtdoBusqueda = res.data;
            this.busquedaUnicidadDirty = true;
          })
          .catch((err) => {
            eventBus.$emit("error", err);
          })
          .finally(() => this.cargando--);
      }
      // Si es unicidad de uso, traigo las que tienen saldo disponible
      if (this.unicidadDef.Tipo == "Uso") {
        if (!this.producto) {
          eventBus.$emit("error", Error("no había producto seleccionado"));
          return;
        }
        let params = {
          Empresa: this.empresa,
          Producto: this.producto.ID,
          SKU: this.selectedSKU,
          Config: this.config,
          Limit: this.unicidadesLimit,
          Page: this.unicidadesPagina,
          /*Definicion: this.unicidadDef.ID,*/
        } as any;

        // Hay filtros de atributos?
        let filtro: any = {};
        Object.entries(this.unicidadesFiltros).forEach(([k, v]) => {
          if (v) {
            filtro[k] = v;
          }
        });
        if (Object.keys(filtro).length > 0) {
          params.Filtros = filtro;
          params.Limit = 0;
          params.Page = 0;
        }
        this.cargando++;
        axios
          .post("/backend/unicidadescont/apertura_por_cantidad_factura", params)
          .then((res) => {
            if (!res.data) {
              res.data = [];
            }
            this.unicidadesRtdoBusqueda = res.data;
          })
          .catch((err) => {
            eventBus.$emit("error", err);
          })
          .finally(() => this.cargando--);
      }
    },
    paginarUnicidades(cantidad: number) {
      this.unicidadesPagina += cantidad;
      this.buscarUnicidades();
    },
    /**
		/ Cuando el usuario hace click en el resultado de la búsqueda
		/ de unicidades, la agrega al producto.
		*/
    seleccionarUnicidad(u: Unicidad) {
      let estaba = this.unicidades.find((x) => x.ID == u.ID);
      if (estaba) {
        this.$buefy.dialog.alert("No se puede agregar dos veces el mismo");
        return;
      }
      this.unicidades.push(u);
    },
    /**
		/ Cuando el usuario hace click en el resultado de la búsqueda
		/ de unicidades, la agrega al producto.
		*/
    quitarUnicidad(idx: number) {
      this.unicidades.splice(idx, 1);
    },
    // Pega los datos del SKU en el objeto selected
    fijarSKU(sku: SKU | null): void {
      if (!sku) {
        this.selectedSKU = null;
        this.selected = null;
        this.variantesFiltros = {};
        this.skusFiltrados = this.skus;

        return;
      }

      if (!this.producto) {
        return;
      }
      // Pongo los filtros en los select
      if (this.producto.TieneVariantes) {
        this.producto.Apertura.map((item: string) => {
          this.variantesFiltros[item] = sku.Atts[item];
        });
        this.skusFiltrados = [sku];
      }

      this.selectedSKU = sku.ID;
      if (!this.producto) {
        return;
      }
      this.selected = {
        Producto: this.producto.ID as string,
        SKU: sku.ID as string,
        Codigo: sku.Codigo,
        ProductoNombre: sku.Nombre,
        ProductoImpresion: "",
        ProductoDetalle: this.detalleManual,
        UM: this.producto.UM,
        UMNombre: this.cantidadNombre,
        AlicuotaIVA: this.producto.AlicuotaIVA,
        Unicidades: [],
        UnicidadesNuevas: [],
        Cantidad: 0,
        PrecioUnitario: 0,
        PorcentajeRecargo: 0,
        PrecioUnitarioFinal: 0,
        MontoTotal: 0,
        ListaPrecios: null,
      };
    },
    precioNetoSKU(id: string | null): number {
      if (!id) {
        return 0;
      }
      let reg = this.precios.find((item) => {
        return item.SKU == id && item.Lista == this.listaSeleccionada;
      });
      if (reg) {
        return reg.PrecioNeto;
      }
      return 0;
    },
    precioFinalSKU(id: string | string): number {
      if (!id) {
        return 0;
      }
      let reg = this.precios.find((item) => {
        return item.SKU == id && item.Lista == this.listaSeleccionada;
      });
      if (reg) {
        if (this.calculaIva) {
          return reg.PrecioFinal;
        } else {
          return reg.PrecioNeto;
        }
      }
      return 0;
    },
    generarLote() {
      if (!this.unicidadDef) {
        return;
      }
      if (!this.cantidad) {
        this.$buefy.dialog.alert({
          title: "Validación",
          message: "La cantidad no puede ser cero",
          type: "is-danger",
          hasIcon: true,
          icon: "times-circle",
          iconPack: "fa",
          ariaRole: "alertdialog",
          ariaModal: true,
        });
      }
      let campos = [];
      for (let k of Object.keys(this.bulkValoresFijos)) {
        let campo = {
          Nombre: k,
          ValorFijo: this.bulkValoresFijos[k],
        };
        campos.push(campo);
      }
      for (let k of Object.keys(this.bulkDesde)) {
        let campo = {
          Nombre: k,
          Desde: this.bulkDesde[k],
          Loopear: true,
        };
        campos.push(campo);
      }
      this.cargando++;
      axios
        .post("/backend/unicidades/generar_lote", {
          Definicion: this.unicidadDef.ID,
          Cantidad: this.cantidad,
          Campos: campos,
        })
        .then((res) => {
          this.loteGenerado = res.data;
          this.cargando--;
        })
        .catch((err) => {
          eventBus.$emit("error", err);
          this.cargando--;
        });
    },
    attValue(idx: number, attName: string): string {
      if (!this.loteGenerado) {
        return attName;
      }
      let val = this.loteGenerado[idx].Atts[attName];
      if (!val) {
        val = this.loteGenerado[idx].AttsIndexados[attName];
      }
      if (!val) {
        return attName;
      }
      return val;
    },
    boolString(valor: boolean): string {
      if (valor) {
        return "Sí";
      }
      return "No";
    },
    fetchCategorias() {
      this.cargando++;
      axios
        .post("/backend/categorias/categorias_con_cantidad")
        .then((res) => (this.categorias = res.data))
        .catch((err) => eventBus.$emit("error", err))
        .finally(() => this.cargando--);
    },
    darFocusCantidad(): void {
      (this.$refs as any).cantidad.focus();
    },
    hooks() {
      this.localBus.$on("cambióPrecio", (precio: number) => {
        this.calcularIVA(precio);
      });
      this.localBus.$on("cambióCantidad", (cantidad: number) => {
        this.cantidad = cantidad;
      });
      this.localBus.$on("cambióLista", (id: string) => {
        this.listaSeleccionada = id;
        const found = this.precios.find((x) => x.Lista == id && x.SKU == this.selectedSKU);
        if (!found) {
          this.precioNeto = 0;
          this.precioFinal = 0;
        } else {
          if (this.trabajaConPrecioFinal) {
            this.calcularIVA(found.PrecioFinal);
          } else {
            this.calcularIVA(found.PrecioNeto);
          }
          this.precioNeto = found.PrecioNeto;
          this.precioFinal = found.PrecioNeto + this.iva;
        }
      });
    },
    calcularIVA(precio: number) {
      // Porcentaje IVA?
      let porc = 0;
      if (this.calculaIva) {
        let alic: Alicuota = this.$store.getters["iva/alicuotaPorID"](
          (this.producto as Producto).AlicuotaIVA
        );
        if (!alic) {
          eventBus.$emit(
            "error",
            Error("no se encontró alícuota " + this.producto?.AlicuotaIVA)
          );
        }
        porc = alic.Porcentaje;
        console.log("Porcentaje era", porc);
      }

      if (this.trabajaConPrecioFinal) {
        this.precioFinal = precio;
        this.precioNeto = this.precioFinal / (1 + porc);
        this.iva = this.precioNeto * porc;
      } else {
        this.precioNeto = precio;
        if (this.calculaIva) {
          this.iva = this.precioNeto * porc;
        }
        this.precioFinal = this.precioNeto + this.iva;
      }
    },
  },
});
</script>
<style lang="scss" scoped>
@import "@/assets/variables";
div.left-panel {
  // background-color: lightgray;
  // max-width: 400px;

  h2 {
    font-weight: bolder;
    font-size: 1.1em;
  }
}
div.flex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  div.item {
    margin-right: 15px;
  }
}
div.rtdo {
  div.thumb {
    text-align: center;
  }
  div.descripcion {
    p.descripcion {
      font-weight: 200;
      font-size: 1.3em;
      color: gray;
    }
  }

  // border-radius: 5px;
  // margin-bottom: 1em;
  // background-color: #e4e4e4;
}

div.categoria-path {
  color: $grey-light;
}

button.no-button {
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  height: 1em;
}
div.producto {
  background-color: $white-ter;

  div.detalle-producto {
    padding: 2em;
  }
  div.nombre {
    font-size: 2em;
    font-weight: bolder;
    margin: 30px 0;
  }
  div.columna-precio {
    background-color: $grey-lighter;
    padding: 1em;
    padding-top: 2em;
    .block:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
  div.precio {
    // font-size: 3em;
    table {
      tr {
        border: none;
      }
    }
  }
  div.group-box {
    max-width: 400px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;
    margin: 15px 0;
    h1 {
      font-size: 1.5em;
      color: lightgrey;
      padding-bottom: 5px;
      margin-bottom: 10px;
      margin-left: 10px;
      margin-right: 10px;
      border-bottom: 1px solid lightgray;
      font-weight: 300;
    }

    table.kv {
      width: 100%;
      tr {
        border: none;
      }
      td.k {
        padding-left: 20px;
        width: 50%;
        margin-left: 15px;
        font-weight: 400;
      }
      td.v {
        font-weight: lighter;
        color: gray;
        span.select {
          width: 100%;
        }
      }
    }
  }
  div.aviso-sin-precio {
    background-color: #ffa6a6;
    padding: 15px;
    border: 1px solid red;
    border-radius: 8px;
    text-align: center;
  }

  div.tabla-impuestos {
    background-color: $white-ter;
    padding: 0.5em;
    display: inline-block;
  }
  table.tabla-impuestos {
    margin: 0.7em;
    td {
      vertical-align: middle;
    }
    td.precio-label {
      padding-right: 2em;
    }
    td.monto {
      font-size: 1em;
      padding-left: 1em;
      // border: 1px solid lightgrey;
    }
    td.linea-totalizadora {
      border-bottom: 1px solid $grey-light;
    }
    tr.precio-final {
      font-weight: bolder;
    }
  }
  div.total {
    td {
      padding: 1rem 0rem 0.5rem 0rem;
      color: green;
      &.monto {
        div {
          width: 100%;
        }
      }
      &.monto-final {
        div {
          font-size: 2em;
          font-weight: bolder;
        }
      }
    }
  }
}
</style>
