<template>
  <!-- CANTIDAD -->
  <b-field :label="cantidadLabel" class="block">
    <b-input
      v-model.number="cantidad"
      min="0"
      ref="cantidad"
      custom-class="d2"
      :disabled="readOnly"
    />
  </b-field>
</template>

<script lang="ts">
import Vue from "vue";
import { Producto } from "@/components/productos/productos";
export default Vue.extend({
  props: {
    bus: {
      required: true,
      type: Object as () => Vue,
    },
    readOnly: {
      required: true,
      type: Boolean,
    },
    cantidadProp: {
      required: true,
      type: Number,
    },
    producto: {
      required: true,
      type: Object as () => Producto,
    },
  },
  created() {
    if (this.cantidadProp == 0) {
      this.cantidad = 1;
    } else {
      this.cantidad = this.cantidadProp;
    }
  },
  data() {
    return {
      cantidad: 0 as number,
    };
  },
  computed: {
    cantidadLabel(): string {
      if (!this.producto) {
        return "Cantidad";
      }
      if (this.producto.TipoUM == "Cantidad") {
        let out = "Cantidad";
        if (this.producto.Envase) {
          out += `(${this.producto.Envase.toLowerCase()})`;
          return out;
        }
      }
      let um = this.$store.getters["productos/umPorID"](this.producto.UM);
      if (um) {
        if (um.NombrePlural) {
          return um.NombrePlural;
        }
      }
      return "Cantidad";
    },
    valido(): boolean {
      if (isNaN(this.cantidad)) {
        return false;
      }
      return true;
    },
  },
  watch: {
    cantidad(val) {
      if (this.valido) {
        this.bus.$emit("cambióCantidad", val);
      } else {
        this.bus.$emit("cambióCantidad", null);
      }
    },
  },
});
</script>
