<template>
	<b-field label="Lista de precio">
		<b-select v-model="listaSeleccionada">
			<option v-for="v in listas" 
				:value="v.ID"
				:key="v.ID">{{v.Nombre}}</option>
		</b-select>
	</b-field>
</template>

<script lang="ts">
import Vue from 'vue'
import { ListaDePrecio } from "@/components/productos/productos"
export default Vue.extend({
	props: {
		listasID: {
			required: true,
			type: Array as () => Array<string>
		},
		listaProp: {
			type: String,
		},
		bus: {
			required: true,
			type: Object as () => Vue,
		}
	},
	data() {
		return {
			listaSeleccionada: null as string | null,
		}
	},
	computed: {
		listas(): ListaDePrecio[] {
			return this.$store.getters["precios/listasPorID"](this.listasID);
		}
	},
	created() {
		if (this.listaProp) {
			this.listaSeleccionada = this.listaProp
		} else {
			// TODO: Si hay una sola elegirla
			if (this.listasID.length == 1) {
				this.listaSeleccionada = this.listasID[0]
			}
		}
	},
	watch: {
		listaSeleccionada(val) {
			this.bus.$emit("cambióLista", val)
		}
	}
})
</script>
