<template>
	<b-field :label="tipoPrecio">
		<b-input v-model.number="precio" custom-class="d2"></b-input>
	</b-field>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
	props: {
		bus: {
			required: true,
			type: Object as () => Vue,
		},
		precioProp: {
			required: false,
			type: Number,
		},
		/* Si es true muestra muestra la label como "Precio final", sino "Precio neto".*/
		trabajaConPrecioFinal: {
			required: true,
			type: Boolean,
		},
	},
	created() {
		if (this.precioProp) {
			this.precio = this.precioProp
		}
	},
	data() {
		return {
			precio: 0 as number,
		}
	},
	computed: {
		tipoPrecio(): string {
			if (this.trabajaConPrecioFinal) {
				return "Precio final"
			} 
			return "Precio neto"
		},
		valido(): boolean {
			if (isNaN(this.precio)) {
				return false
			}
			return true
		}
	},
	watch: {
		precio(val) {
			if (this.valido) {
				this.bus.$emit("cambióPrecio", val)
			} else {
				this.bus.$emit("cambióPrecio", 0)
			}
		}
	}
})
</script>
