<template>
	
			<b-field
				label="Impuestos"
				class="block"
			>
				<div class="tabla-impuestos">
					<table class="tabla-impuestos">
						<tbody>
							<tr>
								<td class="precio-label">Neto</td>
								<td>$</td>
								<td align="right" class="monto">
									{{ precioNeto | enPesos }}
								</td>
							</tr>
							<tr>
								<td class="precio-label">IVA {{ alicuotaIVA }}</td>
								<td>$</td>
								<td align="right" class="monto">
									{{ iva | enPesos }}
								</td>
							</tr>
								<td></td>
								<td class="linea-totalizadora"></td>
								<td class="linea-totalizadora"></td>
							</tr>
							<tr class="precio-final" v-if="precioFinal">
								<td class="precio-label">Precio final</td>
								<td>$</td>
								<td align="right" class="monto">
									{{ precioFinal | enPesos }}
								</td>
							</tr>
							<!-- CONFIRMAR
								<tr v-if="sePuedeConfirmar">
									<td></td>
									<td align="right">
										<b-button class="is-primary" @click="aceptar()">
											<span v-if="producto.TrabajaConUnicidades"
												>Continuar</span
											>
											<span v-else>Confirmar</span></b-button
										>
									</td>
								</tr> -->
						</tbody>
					</table>
				</div>
			</b-field>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
	props: {
		alicuotaIVA: {
			required: true,
			type: String,
		},
		trabajaConPrecioFinal: {
			required: true,
			type: Boolean,
		},
		precioNeto: {
			required: true,
			type: Number,
		},
		iva: {
			required: true,
			type: Number,
		},
		precioFinal: {
			required: true,
			type: Number,
		},
		/* Producto no cuantificable no se ingresa.*/
		cantidad: {
			required: false,
			type: Number
		}
	},
	computed: {
	},
})
</script>

<style lang="scss">

@import "@/assets/variables";

	div.tabla-impuestos {
		background-color: $white-ter;
		padding: 0.5em;
		display: inline-block;
	}
	table.tabla-impuestos {
		margin: 0.7em;
		td {
			vertical-align: middle;
		}
		td.precio-label {
			padding-right: 2em;
		}
		td.monto {
			font-size: 1em;
			padding-left: 1em;
			// border: 1px solid lightgrey;
		}
		td.linea-totalizadora {
			border-bottom: 1px solid $grey-light;
		}
		tr.precio-final {
			font-weight: bolder;
		}
	}
</style>
